[Desktop Entry]
Type=Application
#DocPath=kcontrol/kcmkio/kio-3.html
Icon=drkonqi
Exec=kcmshell Applications/DrKonqi

X-KDE-ModuleType=Library
X-KDE-LibraryName=drkonqi
X-KDE-ControlModuleType=User

Name=Dr. Konqi

Comment=You can configure the crash notification settings here

Keywords=Crash,Dr Konqi,Segmentation fault,Error,Handling
