[Desktop Entry]
Name=QEdje Gadgets
Name[ar]=ودجات QEdje
Name[be@latin]=Gadžety „QEdje”
Name[bg]=Джаджи QEdje
Name[bn_IN]=QEdje Gadgets
Name[ca]=QEdje Gadgets
Name[ca@valencia]=QEdje Gadgets
Name[cs]=QEdje Gadgets
Name[csb]=Gadżetë QEdje
Name[da]=QEdje Gadgets
Name[de]=QEdje-Miniprogramme
Name[el]=Συστατικά QEdje
Name[en_GB]=QEdje Gadgets
Name[eo]=QEdje Akcesoraĵoj 
Name[es]=Gadgets de QEdje
Name[et]=QEdje Gadgets
Name[eu]=QEdje gadget-ak
Name[fi]=QEdje-sovelmat
Name[fr]=Gadgets QEdje
Name[fy]=QEdje Gadgets
Name[ga]=Giuirléidí QEdje
Name[gl]=Gadgets de QEdje
Name[gu]=QEdje ગેજેટ્સ
Name[he]=וידג'טים QEdje
Name[hi]=क्यूईडीजेई गज़ेट
Name[hne]=क्यूईडीजेई गेजेट
Name[hr]=QEdje gadgeti
Name[hu]=QEdje Gadgets
Name[id]=QEdje Gadget
Name[is]=QEdje dót
Name[it]=Gadgets QEdje
Name[ja]=QEdje ガジェット
Name[kk]=QEdje аспаптары
Name[km]=ធាតុក្រាហ្វិក QEdje
Name[ko]=QEdje 가젯
Name[ku]=Nûçeyên QEdje
Name[lt]=QEdje prietaisėliai
Name[lv]=QEdje sīkrīki
Name[ml]=QEdje ഗാഡ്ജറ്റുകള്‍
Name[mr]=QEdje उपकरण
Name[nb]=QEdje Gadgets
Name[nds]=QEdje-Lüttprogrammen
Name[nl]=QEdje Gadgets
Name[nn]=QEdje-tenester
Name[or]=QEdje ମେସିନ
Name[pa]=QEdje ਗੈਜ਼ਿੱਟ
Name[pl]=Gadżety QEdje
Name[pt]=Itens do QEdje
Name[pt_BR]=Gadgets do QEdje
Name[ro]=Gadgeturi QEdje
Name[ru]=Гаджеты QEdje
Name[si]=QEdje Gadgets
Name[sk]=QEdje Gadgets
Name[sl]=Gradniki QEdje
Name[sr]=Куедје справице
Name[sr@latin]=Qedje spravice
Name[sv]=QEdje-grejer
Name[ta]=QEdje Gadgets
Name[tg]=Механизмҳои QEdje
Name[th]=เครื่องมือ QEdje
Name[tr]=QEdje Programcıkları
Name[uk]=Елементи QEdje
Name[x-test]=xxQEdje Gadgetsxx
Name[zh_CN]=QEdje 小工具
Name[zh_TW]=QEdje 小玩意
Comment=QEdje Gadget
Comment[ar]=ودجة QEdje
Comment[be@latin]=Gadžet „QEdje”
Comment[bg]=Джаджа QEdje
Comment[bn_IN]=QEdje Gadget
Comment[ca]=QEdje Gadget
Comment[ca@valencia]=QEdje Gadget
Comment[cs]=QEdje Gadget
Comment[csb]=Gadżet QEdje
Comment[da]=QEdje Gadget
Comment[de]=QEdje-Miniprogramm
Comment[el]=Συστατικά QEdje
Comment[en_GB]=QEdje Gadget
Comment[eo]=QEdje Akcesoraĵo
Comment[es]=Gadgets de QEdje
Comment[et]=QEdje Gadgets
Comment[eu]=QEdje gadget-a
Comment[fi]=QEdje-sovelma
Comment[fr]=Gadget QEdje
Comment[fy]=QEdje Gadget
Comment[ga]=Giuirléid QEdje
Comment[gl]=Gadget de QEdje
Comment[gu]=QEdje ગેજેટ
Comment[he]=וידג'ט QEdje
Comment[hi]=क्यूईडीजेई गज़ेट
Comment[hne]=क्यूईडीजेई गेजेट
Comment[hr]=QEdje gadgeti
Comment[hu]=QEdje Gadget
Comment[id]=QEdje Gadget
Comment[is]=QEdje dót
Comment[it]=Gadget QEdje
Comment[ja]=QEdje ガジェット
Comment[kk]=QEdje  аспабы
Comment[km]=ធាតុក្រាហ្វិក QEdje
Comment[ko]=QEdje 가젯
Comment[ku]=Nûçeyê QEdje
Comment[lt]=QEdje prietaisėlis
Comment[lv]=QEdje sīkrīks
Comment[ml]=QEdje ഗാഡ്ജറ്റ്
Comment[mr]=QEdje उपकरण
Comment[nb]=QEedje-greie
Comment[nds]=QEdje-Lüttprogramm
Comment[nl]=QEdje-gadget
Comment[nn]=QEdje-teneste
Comment[or]=QEdje ମେସିନ
Comment[pa]=QEdje ਗੈਜ਼ਿੱਟ
Comment[pl]=Gadżet QEdje
Comment[pt]=Item do QEdje
Comment[pt_BR]=Gadget do QEdje
Comment[ro]=Gadget QEdje
Comment[ru]=Гаджет QEdje
Comment[sk]=QEdje Gadget
Comment[sl]=Gradnik QEdje
Comment[sr]=Куедје справица
Comment[sr@latin]=Qedje spravica
Comment[sv]=QEdje-grejer
Comment[ta]=QEdje Gadget
Comment[tg]=Механизмҳои QEdje
Comment[th]=เครื่องมือ QEdje
Comment[tr]=QEdje Programcığı
Comment[uk]=Елемент QEdje
Comment[x-test]=xxQEdje Gadgetxx
Comment[zh_CN]=QEdje 小工具
Comment[zh_TW]=QEdje 小玩意
Type=Service

X-EngineName=qedjescript
X-KDE-PluginInfo-Name=qedjescript
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_qedje
X-Plasma-PackageFileFilter=*.edj
X-Plasma-API=qedjescript
