[Desktop Entry]
Name=Analog Clock
Name[ar]=ساعة عادية
Name[be]=Аналагавы гадзіннік
Name[bg]=Аналогов часовник
Name[ca]=Rellotge analògic
Name[csb]=Analogòwi zédżer
Name[de]=Analoge Uhr
Name[el]=Αναλογικό ρολόι
Name[eo]=Analoga horloĝo
Name[es]=Reloj analógico
Name[et]=Analoogkell
Name[eu]=Erloju analogikoa
Name[fa]=ساعت قیاسی
Name[fi]=Analoginen kello
Name[fr]=Horloge analogique
Name[fy]=Analoge klok
Name[ga]=Clog Analógach
Name[he]=שעון אנלוגי
Name[hi]=एनॉलॉग घड़ी
Name[hr]=Analogni sat
Name[hu]=Mutatós óra
Name[it]=Orologio a lancette
Name[ja]=アナログ時計
Name[kk]=Аналогты сағат
Name[km]=នាឡិកា​អាណាឡូក
Name[ko]=아날로그 시계
Name[lv]=Rādītāju pulkstenis
Name[nb]=Analog klokke
Name[nds]=Analoog Klock
Name[ne]=एनालग घडी
Name[nl]=Analoge klok
Name[nn]=Analog klokke
Name[pa]=ਐਨਾਲਾਗ ਘੜੀ
Name[pl]=Zegar analogowy
Name[pt]=Relógio Analógico
Name[pt_BR]=Relógio Analógico
Name[se]=Analogalaš diibmu
Name[sl]=Analogna ura
Name[sr]=Аналогни часовник
Name[sr@latin]=Analogni časovnik
Name[sv]=Analog klocka
Name[vi]=Đồng hồ tương tự
Name[wa]=Ôrlodje analodjike
Name[x-test]=xxAnalog Clockxx
Name[zh_CN]=模拟时钟
Name[zh_TW]=類比時鐘
Comment=An SVG themable clock
Comment[bg]=Часовник с SVG тема
Comment[ca]=Un rellotge que permet temes SVG
Comment[de]=Eine Uhr mit SVG-fähigem Design
Comment[el]=Ένα ρολόι με θέματα SVG
Comment[eo]=SVG-etosigebla horloĝo
Comment[es]=Un reloj con temas en formato SVG
Comment[et]=SVG teemaga kell
Comment[fa]=ساعت چهره‌پذیر SVG
Comment[fi]=SVG-teemoitettava kello
Comment[fy]=In SVG tema klok
Comment[ga]=Clog le téamaí SVG
Comment[he]=שעון SVG הניתן להתאמה על ידי ערכות נושא
Comment[hi]=एक एसवीजी घड़ी जिसका रूपाकार परिवर्तित किया जा सकता है
Comment[hu]=SVG felületű óra
Comment[it]=Un orologio con temi SVG
Comment[ja]=SVG テーマを使った時計
Comment[kk]=SVG нақышты сағат
Comment[km]=នាឡិកា​ដែល​អាច​ប្ដូរ​ស្បែក​បាន SVG
Comment[ko]=SVG 테마를 사용하는 시계
Comment[lv]=Ar SVG tēmojams pulkstenis
Comment[nb]=En SVG-klokke med drakter
Comment[nds]=En Klock mit SVG-Mustern
Comment[ne]=एउटा एसभीजी थेमेबल घडी
Comment[nl]=Een klok met SVG-themamogelijkheden
Comment[nn]=Ei SVG-basert klokke med fleire tema
Comment[pa]=ਇੱਕ SVG ਥੀਮ-ਯੋਗ ਕਲਾਕ
Comment[pl]=Zegar z motywami SVG
Comment[pt]=Um relógio com temas em SVG
Comment[pt_BR]=Um relógio com temas em SVG
Comment[se]=Diibma maid sáhttá hervet SVG-fiillaiguin
Comment[sl]=Ura, ki podpira vektorske teme SVG
Comment[sr]=Часовник са СВГ темама
Comment[sr@latin]=Časovnik sa SVG temama
Comment[sv]=En SVG-temabaserad klocka
Comment[vi]=Một đồng hồ chấp nhận sắc thái SVG
Comment[wa]=Ene ôrlodje SVG avou tinmes
Comment[x-test]=xxAn SVG themable clockxx
Comment[zh_CN]=SVG 主题的时钟
Comment[zh_TW]=SVG 可調整外觀時鐘
Icon=chronometer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-Library=plasma_applet_clock
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=clock
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Category[ca]=Data i hora
X-KDE-PluginInfo-Category[de]=Datum und Zeit
X-KDE-PluginInfo-Category[el]=Ημερομηνία και ώρα
X-KDE-PluginInfo-Category[eo]=Dato kaj Tempo
X-KDE-PluginInfo-Category[et]=Kuupäev ja kellaaeg
X-KDE-PluginInfo-Category[ga]=Dáta agus Am
X-KDE-PluginInfo-Category[hu]=Dátum és idő
X-KDE-PluginInfo-Category[ja]=日付と時間
X-KDE-PluginInfo-Category[km]=កាល​បរិច្ឆេទ និង​ពេលវេលា
X-KDE-PluginInfo-Category[lv]=Datums un laiks
X-KDE-PluginInfo-Category[nds]=Datum un Tiet
X-KDE-PluginInfo-Category[nl]=Datum en Tijd
X-KDE-PluginInfo-Category[pl]=Data i czas
X-KDE-PluginInfo-Category[pt]=Data e Hora
X-KDE-PluginInfo-Category[pt_BR]=Data e Hora
X-KDE-PluginInfo-Category[sl]=Datum in čas
X-KDE-PluginInfo-Category[sr]=Датум и време
X-KDE-PluginInfo-Category[sr@latin]=Datum i vreme
X-KDE-PluginInfo-Category[sv]=Datum och tid
X-KDE-PluginInfo-Category[x-test]=xxDate and Timexx
X-KDE-PluginInfo-Category[zh_CN]=日期和时间
X-KDE-PluginInfo-Category[zh_TW]=日期和時間
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
