[Desktop Entry]
Type=Application
Exec=kcmshell Personalization/passwords
Icon=password
Docpath=kdesu/kcmkdesu-1.html

X-KDE-ModuleType=Library
X-KDE-LibraryName=passwords
X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=Passwords
Name[ca]=Contrasenyes
Name[cs]=Hesla
Name[de]=Passwörter
Name[eo]=Pasvortoj
Name[es]=Contraseñas
Name[et]=Paroolid
Name[fi]=Salasanat
Name[fr]=Mots de passe
Name[he]=תואמסיס
Name[hr]=Lozinke
Name[hu]=Jelszavak
Name[it]=Password
Name[ja]=パスワード
Name[mk]=Лозинки
Name[nl]=Wachtwoorden
Name[no]=Passord
Name[no_NY]=Passord
Name[pt]=Senhas
Name[ro]=Parole
Name[ru]=Пароли
Name[sl]=Gesla
Name[sr]=Lozinke
Name[sv]=Lösenord
Name[ta]=கடவசெசாறகள
Name[tr]=Parolalar

Comment=Password settings
Comment[ca]=Arranjament de la contrasenya
Comment[cs]=Nastavení hesla
Comment[de]=Passworteinstellungen
Comment[eo]=Agordo de pasvortoj
Comment[es]=Configuración de cotraseñas
Comment[et]=Parooli seadistused
Comment[fi]=Salasanojen asetukset
Comment[fr]=Configuration des mots de passe
Comment[he]=תואמסיס תורדגה
Comment[hr]=Podesite lozinku
Comment[hu]=Jelszavak beállítása
Comment[it]=Impostazioni delle password
Comment[ja]=パスワードの設定
Comment[mk]=Поставки на лозинка
Comment[nl]=Wachtwoordinstellingen
Comment[no]=Passord-innstillinger
Comment[no_NY]=Passordinnstillingar
Comment[pt]=Configuração das senhas
Comment[ro]=Configurează setările de parole
Comment[ru]=Настройки паролей
Comment[sl]=Nastavitve gesel
Comment[sr]=Podešavanje lozinke
Comment[sv]=Anpassning av lösenord
Comment[ta]=கடவசெசால அைமபபகள
Comment[tr]=Parola ayarlarý

Keywords=Passwords,kdesu
Keywords[ca]=Contrasenyes,kdesu
Keywords[cs]=Hesla,kdesu
Keywords[de]=Passwörter,kdesu
Keywords[eo]=pasvorto,KDEsu
Keywords[es]=Contraseñas,kdesu
Keywords[et]=Paroolid,kdesu
Keywords[fi]=salasanat,kdesu
Keywords[fr]=mots de passe,kdesu
Keywords[he]=kdesu,תואמסיס
Keywords[hr]=Lozinke,kdesu,passwords
Keywords[hu]=jelszavak,jelszó,kdesu
Keywords[it]=Password,kdesu
Keywords[ja]=パスワード,kdesu
Keywords[mk]=Лозинки,kdesu
Keywords[nl]=Wachtwoorden,kdesu
Keywords[no]=Passord,kdesu
Keywords[no_NY]=Passord,kdesu
Keywords[pt]=senhas,kdesu
Keywords[ro]=parole,kdesu
Keywords[sl]=gesla,kdesu
Keywords[sv]=Lösenord,kdesu
Keywords[tr]=Parola,kdesu
