[Desktop Entry]
Exec=kcmshell LookNFeel/colors
Icon=colors
Type=Application
DocPath=kcontrol/kcmdisplay/kdisplay-5.html

X-KDE-ModuleType=Library
X-KDE-Library=display
X-KDE-FactoryName=colors
X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=Colors
Name[cs]=Barvy
Name[da]=Farver
Name[de]=Farben
Name[eo]=Koloroj
Name[es]=Colores
Name[et]=Värvid
Name[fi]=Värit
Name[fr]=Couleurs
Name[he]=םיעבצ
Name[hr]=Boje
Name[hu]=Színek
Name[is]=Litir
Name[it]=Colori
Name[ja]=色
Name[mk]=Бои
Name[nl]=Kleuren
Name[no]=Farger
Name[no_NY]=Fargar
Name[pl]=Kolory
Name[pt]=Cores
Name[ro]=Culori
Name[ru]=Цвета
Name[sl]=Barve
Name[sr]=Boje
Name[sv]=Färger
Name[ta]=நிறஙஂகளஂ
Name[tr]=Renkler
Name[uk]=Кольори

Comment=Color settings
Comment[ca]=Arranjament dels colors
Comment[cs]=Nastavení barev
Comment[da]=Farveindstillinger
Comment[de]=Einstellung der Bildschirmfarben
Comment[eo]=Agordo de la koloroj
Comment[es]=Configuración de colores
Comment[et]=Värvide seadistused
Comment[fi]=Värien asetukset
Comment[fr]=Configuration des couleurs
Comment[he]=םיעבצ תורדגה
Comment[hr]=Postava za boje
Comment[hu]=Színbeállítások
Comment[is]=Stillingar lita
Comment[it]=Impostazioni dei colori
Comment[ja]=色の設定
Comment[mk]=Поставки на бои
Comment[nl]=Kleureninstellingen
Comment[no]=Fargeoppsett
Comment[no_NY]=Fargeinnstillingar
Comment[pl]=Ustawienia kolorów
Comment[pt]=Configuração das cores
Comment[ro]=Configurează culorile ferestrelor
Comment[ru]=Настройки цветов
Comment[sl]=Nastavitve barv
Comment[sr]=Podešavanje boja
Comment[sv]=Anpassning av färger
Comment[ta]=நிறமஂ அைமபஂபுகளஂ
Comment[tr]=Renk ayarları
Comment[uk]=Настройки кольорів

Keywords=colors,colours,scheme,contrast
Keywords[ca]=colors,esquema,contrast
Keywords[cs]=Barvy,Schéma,Kontrast
Keywords[da]=farver,tema,kontrast
Keywords[de]=Farbe,Schema,Kontrast
Keywords[eo]=koloroj,skemo,kontrasto
Keywords[es]=colores,esquema,contraste
Keywords[et]=värvid,skeem,kontrast
Keywords[fi]=värit,teema,kontrasti
Keywords[fr]=couleurs,modèles,contraste
Keywords[he]=תודח,הכרע,םיעבצ
Keywords[hr]=colors,colours,scheme,contrast,boje,raspored,kontrast
Keywords[hu]=színek,séma,kontraszt
Keywords[is]=litir,litur,skema,skerpa
Keywords[it]=colori,schema,contrasto
Keywords[ja]=色,色,スキーム,コントラスト
Keywords[mk]=боја,бои,шема,контраст
Keywords[nl]=kleuren,kleur,schema,contrast
Keywords[no]=farger,skjema,kontrast
Keywords[no_NY]=fargar,oppsett,kontrast
Keywords[pl]=kolory,schematy kolorów,kontrast
Keywords[pt]=cores,esquema,contraste
Keywords[ro]=culoare,culori,schemă,contrast
Keywords[sl]=barve,sheme,kontrast
Keywords[sv]=färger,schema,kontrast
Keywords[ta]=நிறஙஂகளஂ,அைமபஂபு,ேவறுபாடு
Keywords[tr]=renkler,şema,kontrast
Keywords[uk]=кольори,схема,котраст
