[Desktop Entry]
Type=Application
DocPath=kcontrol/kcmkdesktop/kdesktop-1.html
# Needs another icon !
Icon=kfm
Exec=kcmshell LookNFeel/Desktop/desktop

X-KDE-ModuleType=Library
X-KDE-Library=konq
X-KDE-FactoryName=desktop

Name=Desktop
Name[ca]=Escriptori
Name[cs]=Pracovní plocha
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[eo]=Tabulo
Name[es]=Escritorio
Name[et]=Töölaud
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[he]=הדובע ןחלוש
Name[hr]=Radna površina
Name[hu]=Munkaasztal
Name[is]=Skjáborð
Name[ja]=デスクトップ
Name[mk]=Работна површина
Name[nl]=Bureaublad
Name[no]=Skrivebord
Name[pt]=Ambiente de Trabalho
Name[ro]=Ecran
Name[ru]=Рабочий стол
Name[sl]=Namizje
Name[sr]=Radna površina
Name[sv]=Skrivbordet
Name[ta]=ேமைச
Name[tr]=Masaüstü
Name[uk]=Робочій стіл

Comment=You can customize the desktop here
Comment[ca]=Aquí podeu configurar l'escriptori
Comment[cs]=Zde je možné přizpůsobit pracovní plochu
Comment[da]=Her kan man indstille skrivebordet
Comment[de]=Hier können Sie die Arbeitsfläche einrichten
Comment[eo]=Agordo de la tabulo
Comment[es]=Aquí puede personalizar el escritorio
Comment[et]=Siin saad kohandada töölauda
Comment[fi]=Muokkaa työpöydän asetuksia
Comment[fr]=Personnalisation du bureau
Comment[he]=ןאכ הדובעה ןחלוש תרוצת תא עובקל ךתורשפאב
Comment[hr]=Ovdje možete podesiti radnu površinu
Comment[hu]=A munkaasztalt itt lehet testreszabni
Comment[is]=Þú getur sniðið skjáborðið að þínum þörfum hér
Comment[it]=Qui puoi personalizzare il dekstop
Comment[ja]=ここでデスクトップのカスタマイズをします
Comment[mk]=Поставки на самата работна површина
Comment[nl]=Hier kunt u uw bureaublad aanpassen
Comment[no]=Her kan du tilpasse ikonene på skrivebordet
Comment[no_NY]=Du kan tilpassa skrivebordet her
Comment[pl]=Konfiguracja biurka (desktopu)
Comment[pt]=Configuração do ambiente de trabalho
Comment[ro]=Personalizează ecranul
Comment[ru]=Здесь вы можете настроить рабочий стол
Comment[sl]=Tu lahko prikrojite namizje
Comment[sr]=Ovde možete prilagoditi radnu površinu
Comment[sv]=Här kan du anpassa skrivbordet
Comment[ta]=நீஙஂகளஂ ேமைசைய தனிபஂபயனாகஂகலாமஂ
Comment[tr]=Masaüstünü buradan özelleştirebilirsiniz
Comment[uk]=Тут Ви можете настроїти ваш робочій стіл

Keywords=icons,desktop,colors,colors,font,font size,files,filenames,menu,popupmenu,k-menu,startmenu,windowlist,windows,desktops

