[Desktop Entry]
Exec=kcmshell LookNFeel/screensaver
Icon=screensaver
Type=Application
DocPath=kcontrol/kcmdisplay/kdisplay-4.html
Init=kcmdisplay -init

X-KDE-ModuleType=Library
X-KDE-LibraryName=display
X-KDE-FactoryName=screensaver
X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=Screensaver
Name[ca]=Salvapantalles
Name[cs]=Šetřič obrazovky
Name[de]=Bildschirmschoner
Name[eo]=Ekrankurteno
Name[es]=Salvapantalla
Name[et]=Ekraanisäästja
Name[fi]=Ruudunsäästäjä
Name[fr]=Écran de veille
Name[he]=ךסמ רמוש
Name[hr]=Zaštita zaslona (screensaver)
Name[hu]=Képernyővédő
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[mk]=Затишја
Name[nl]=Schermbeveiliging
Name[no]=Skjermsparer
Name[no_NY]=Skjermsparar
Name[pt]=Protectores de ecrã
Name[ro]=Protecţie ecran
Name[ru]=Хранитель экрана
Name[sk]=Šetrič obrazovky
Name[sl]=Ohranjevalnik zaslona
Name[sr]=Skrin-sejver
Name[sv]=Skärmsläckare
Name[ta]=திைரகாபப
Name[tr]=Ekran Koruyucu

Comment=Screensaver settings
Comment[ca]=Arranjament del salvapantalles
Comment[cs]=Nastavení šetřiče obrazovky
Comment[de]=Einrichtung des Bildschirmschoners
Comment[eo]=Agordaĵo de la Ekrankurteno
Comment[es]=Configuración del salvapantalla
Comment[et]=Ekraanisäästja seadistused
Comment[fi]=Ruudunsäästäjän asetukset
Comment[fr]=Configuration de l'écran de veille
Comment[he]=ךסמ רמוש תורדגה
Comment[hr]=Postavke zaštite zaslona (screensaver)
Comment[hu]=Képernyővédő beállítások
Comment[it]=Impostazioni del salvaschermo
Comment[ja]=スクリーンセーバーの設定
Comment[mk]=Поставки на затишја
Comment[nl]=Instellingen voor de schermbeveiliging
Comment[no]=Skjermsparer-oppsett
Comment[no_NY]=Skjermsparar-innstillingar
Comment[pt]=Configuração dos protectores de ecrã
Comment[ro]=Configurează protecţia de ecran
Comment[ru]=Настройки хранителя экрана
Comment[sk]=Nastavenie šetriča obrazovky
Comment[sl]=Nastavitve za ohranjevalnik zaslona
Comment[sr]=Podešavanja screensaver-a
Comment[sv]=Inställningar för skärmsläckare
Comment[ta]=திைரகாபப அைமபபகள
Comment[tr]=Ekran koruyucu ayarlarý


Keywords=screensavers
Keywords[ca]=Salvapantalles
Keywords[cs]=Šetřiče obrazovky
Keywords[de]=Bildschirmschoner
Keywords[eo]=ekrano,kurteno
Keywords[es]=Salvapantallas
Keywords[et]=ekraanisäästjad
Keywords[fi]=ruudunsäästäjät
Keywords[fr]=écrans de veille
Keywords[he]=ךסמ ירמוש
Keywords[hr]=Zaštita zaslona (screensaver),screensavers
Keywords[hu]=képernyővédők
Keywords[it]=salvaschermo,salvaschermi
Keywords[ja]=スクリーンセーバー
Keywords[mk]=затишја,штедење на екран
Keywords[nl]=screensavers,schermbeveiliging
Keywords[no]=skjermsparere
Keywords[no_NY]=skjermsparar
Keywords[pt]=protectores de ecrã
Keywords[sl]=ohranjevalniki zaslona
Keywords[sv]=skärmsläckare
Keywords[tr]=ekran koruyucular
