[Desktop Entry]
Exec=kcmshell style
Icon=style
Type=Application
DocPath=kcontrol/style.html

X-KDE-ModuleType=Library
X-KDE-Library=style
X-KDE-FactoryName=style
X-KDE-Init=style

Name=Style
Name[bg]=Ñòèë
Name[ca]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[fi]=Tyyli
Name[gl]=Estilo
Name[he]=ןונגס
Name[hr]=Stil
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[lt]=Stilius
Name[lv]=Stils
Name[mi]=Ähua
Name[mk]=Стил
Name[nl]=Stijl
Name[no]=Stil
Name[no_NY]=Stil
Name[pl]=Styl
Name[pt_BR]=Estilo
Name[pt]=Estilo
Name[ro]=Stil
Name[ru]=Стиль
Name[sk]=Štýl
Name[sl]=Slog
Name[sr]=Stil
Name[sv]=Stil
Name[ta]=À¡½¢
Name[tr]=Stil
Name[uk]=Стиль
Name[zh_CN.GB2312]=风格
Name[zh_TW.Big5]=風格

Comment=General style settings
Comment[bg]=Íàñòðîéêà ãåíåðàëåí ñòèë
Comment[ca]=Arranjament de l'estil general
Comment[cs]=Nastavení stylu
Comment[da]=Generel stilindstilling
Comment[de]=Einstellung des Stils
Comment[el]=Γενικές ρυθμίσεις στυλ
Comment[eo]=Agordo de la stilo
Comment[es]=Configuración general de estilo
Comment[et]=Üldise stiili seadistamine
Comment[fi]=Yleiset tyyliasetukset
Comment[fr]=Configuration générale du style
Comment[gl]=Configuración xeral do estilo
Comment[he]=תויללכ ןונגס תורדגה
Comment[hr]=Postavke općeg stila
Comment[hu]=Általános stílusbeállítások
Comment[is]=Almennar stillingar á útliti og stafagerð
Comment[it]=Impostazioni generali dello stile
Comment[ja]=一般的なスタイルの設定
Comment[lt]=Bendri stiliaus parametrai
Comment[mk]=Општи поставки за стилот
Comment[nl]=algemene stijlinstellingen
Comment[no]=Generelt stiloppsett
Comment[no_NY]=Generelle stilinnstillingar
Comment[pl]=Ustawienia stylu
Comment[pt_BR]=Preferências de estilo geral
Comment[pt]=Configuração do estilo geral
Comment[ro]=Configurează stilul de afişare a elementelor grafice
Comment[ru]=Общие настройки стиля
Comment[sk]=Nastavenie Všeobecného štýlu
Comment[sl]=Splošne nastavitve sloga
Comment[sr]=Podešavanje stila
Comment[sv]=Allmänna stilinställningar
Comment[ta]=¦À¡ÐÅ¡É À¡½¢ «¨ÁôÒ¸û
Comment[tr]=Genel stil ayarları
Comment[uk]=Загальні настройки стилю
Comment[zh_CN.GB2312]=一般风格设置
Comment[zh_TW.Big5]=一般風格設定

Keywords=style,styles,themes,look,widget,menubar,MacOS,fonts,colors,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps
Keywords[da]=stil,temaer,udseende,dims,menulinie,MacOS,skrifttyper,farver,ikke-KDE,ikoner,værktøjsslinier,tekst,markér,knapper,mus,gennemsigtig,bevægende,skærm,anv.,programmer,ikke-KDE anv.
Keywords[el]=στυλ,styles,θέματα,εμφάνιση,widget,γραμμή μενού,MacOS,γραμματοσειρές,χρώματα,colours,μη-KDE,εικονίδια,γραμμές εργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκι,διαφανές,κίνηση,οθόνη,apps,εφαρμογές,non-KDE apps,μη-KDE εφαρμογές
Keywords[eo]=stilo,etoso,aspekto,fenestraĵo,menuo,listelo,Makintosho,tiparo,koloro,ne-KDEaj,piktogramo,illistelo,teksto,emfazo,butono,muso,travidebleco,movado,ŝovado,ekrano,aplikaĵoj,ne-KDE-aplikaĵoj
Keywords[es]=estilo,estilos,temas,aspecto,objeto visual,widget,barra de menú,MacOS,fuentes,colores,no-KDE,iconos,barras de herramientas,texto,resaltado,botones,ratón,mouse,transparente,mover,pantalla,aplicaciones,aplicaciones no-KDE
Keywords[he]=םירותפכ,KDE םניאש םימושיי,םימושיי,ךסמ,הזזה,ףוקש,רבכע,השגדה,טסקט,םילכ ילגרס,םילמס,KDE-אל,םיעבצ,םינפוג,MacOS,םיטירפת תרוש,טירפ,הארמ,תוכרע,תונונגס,ןונגס
Keywords[hu]=stílus,stílusok,témák,kinézet,widget,menüsor,MacOS,betűtípusok,színek,nem KDE,ikonok,eszköztárak,szöveg,kiemelés,gombok,egér,átlátszó,mozgatás,képernyő,alkalmazások,nem KDE alkalmazások
Keywords[ja]=スタイル,スタイル,テーマ,見え方,ウィジェット,メニューバー,MacOS,フォント,色,KDE以外の,アイコン,ツールバー,テキスト,ハイライト,ボタン,マウス,透明,移動,スクリーン,アプリ,アプリケーション,非-KDE アプリ
Keywords[nl]=stijl,stijlen,thema's,look,uiterlijk,widget,menubalk,MacOS,fonts,lettertypen,kleurenniet-KDE,icons,iconen,pictogram,pictogrammen,werkbalken,tekst,highlight,accentuering,buttons,knoppen,muis,transparant,beweging,verplaatsing,screen,scherm,weergave,programma'sapplicatie,applicaties,toepassing,toepassingen,niet-KDE-applicaties
Keywords[pt_BR]=estilo,estilos,temas,visão,controle,barra de menu,MacOS,fontes,letras,cores,não-KDE,ícones,barras de ferramentas,texto,realce,botões,mouse,transparente,movendo,tela,aplicativos,aplicativos não-KDE
Keywords[ro]=stil,stiluri,teme,tematici,aspect,widget,componentă,bară de meniu,MacOS,fonturi,culori,non-KDE,iconiţe,bară de unelte,text,evidenţiere,butoane,mouse,transparent,mutare,ecran,aplicaţii,aplicaţii non-KDE
Keywords[zh_CN.GB2312]=style,styles,themes,look,widget,menubar,MacOS,fonts,colors,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps,风格,主题,外观,窗口部件,菜单栏,字体,色彩,图标,工具栏,文字,突出,按钮,鼠标,透明,移动,屏幕,程序
