[Desktop Entry]
Exec=kcmshell LookNFeel/Themes/style
Icon=style
Type=Application
DocPath=kcontrol/style.html

X-KDE-ModuleType=Library
X-KDE-Library=style
X-KDE-FactoryName=style
X-KDE-Init=style

Name=Style
Name[bg]=Ñòèë
Name[ca]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[fi]=Tyyli
Name[gl]=Estilo
Name[he]=ןונגס
Name[hr]=Stil
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[lt]=Stilius
Name[mk]=Стил
Name[nl]=Stijl
Name[no]=Stil
Name[no_NY]=Stil
Name[pl]=Styl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[ru]=Стиль
Name[sk]=Štýl
Name[sl]=Slog
Name[sv]=Stil
Name[ta]=À¡½¢
Name[tr]=Stil
Name[uk]=Стиль
Name[zh_CN.GB2312]=风格

Comment=General style settings
Comment[bg]=Íàñòðîéêà ãåíåðàëåí ñòèë
Comment[ca]=Arranjament de l'estil general
Comment[cs]=Nastavení stylu
Comment[da]=Generel stilindstilling
Comment[de]=Einstellung des Stils
Comment[el]=Γενικές ρυθμίσεις στυλ
Comment[eo]=Agordo de la stilo
Comment[es]=Configuración de estilo general
Comment[et]=Üldise stiili seadistamine
Comment[fi]=Yleiset tyyliasetukset
Comment[fr]=Configuration générale du style
Comment[gl]=Configuración xeral do estilo
Comment[he]=תויללכ ןונגס תורדגה
Comment[hr]=Postavke općeg stila
Comment[hu]=A megjelenési stílus beállítása
Comment[is]=Almennar stillingar á útliti og stafagerð
Comment[it]=Impostazioni generali dello stile
Comment[ja]=一般的なスタイルの設定
Comment[lt]=Bendri stiliaus parametrai
Comment[mk]=Општи поставки на стил
Comment[nl]=Algemene stijlinstellingen
Comment[no]=Generelt stiloppsett
Comment[no_NY]=Generelle stilinnstillingar
Comment[pl]=Ustawienia stylu
Comment[pt]=Configuração do estilo geral
Comment[pt_BR]=Preferências de estilo geral
Comment[ro]=Configurează stilul de afişare a elementelor grafice
Comment[ru]=Общие настройки
Comment[sk]=Nastavenie Všeobecného štýlu
Comment[sl]=Splošne nastavitve sloga
Comment[sv]=Allmänna stilinställningar
Comment[ta]=¦À¡ÐÅ¡É À¡½¢ «¨ÁôÒ¸û
Comment[tr]=Genel stil ayarları
Comment[uk]=Загальні настройки стилю
Comment[zh_CN.GB2312]=一般风格设置

Keywords=style,styles,theme,themes,look
Keywords[ca]=estil,estils,tema,temes,aspecte
Keywords[cs]=Styl,Styly,Motiv,Motivy,Vzhled
Keywords[da]=stil,tema,temaer,syn
Keywords[de]=Stil,Design,Themen,Aussehen,Optik,Schema,Erscheinungsbild
Keywords[el]=στυλ,styles,θέμα,θέματα,όψη
Keywords[eo]=stilo,etoso,aspekto
Keywords[es]=estilo,estilos,tema,temas,vista
Keywords[et]=stiil,stiilid,teema,teema,teemad,väljanägemine
Keywords[fi]=tyyli,tyylit,teema,teemat,ulkonäkö
Keywords[fr]=style,styles,thème,thèmes,apparence,barre de menus Mac,Mac
Keywords[gl]=estilo,estilos,tema,temas,aparencia
Keywords[he]=Themes,תוכרע,הארמ,תונונגס,ןונגס
Keywords[hr]=style,stykes,theme,themes,look,stil,tema,teme,izgled
Keywords[hu]=stílus,stílusok,téma,témák,kinézet
Keywords[is]=stíll,þemu,þema,útlit
Keywords[it]=stile,stili,tema,temi,aspetto
Keywords[ja]=スタイル,スタイル,テーマ,テーマ,外観
Keywords[mk]=стил,тема,теми,изглед
Keywords[nl]=stijl,stijlen,theme,themes,thema,uiterlijk
Keywords[no]=stil,stiler,tema,temaer,utseende
Keywords[no_NY]=stil,tema,utsjånad,bunad
Keywords[pl]=styl,style,motyw,motywy,temat,wygląd
Keywords[pt]=estilo,estilos,tema,temas,aparência
Keywords[pt_BR]=estilo,estilos,tema,temas,aparência
Keywords[ro]=stil,stiluri,temă,teme,aspect,tematică
Keywords[sk]=štýl,téma,témy,vzhľad
Keywords[sl]=stil,slog,slogi,tema,teme,videz,izgled
Keywords[sv]=stil,stuk,tema,teman,utseende
Keywords[ta]=À¡½¢,À¡½¢¸û,¯Õ¸Õ,¯Õ¸Õì¸û,§¾¡üÈõ
Keywords[tr]=stil,stiller,tema,temalar,görünüm
Keywords[uk]=стиль,дизайн,тем,теми,вигляд
Keywords[zh_CN.GB2312]=style,styles,theme,themes,look,风格,主题,外观
