[Desktop Entry]
Exec=kcmshell4 kdm
Icon=preferences-system-login
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kdm/index.html#configuring-kdm

X-KDE-Library=kcm_kdm
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Login Screen
Name[ar]=شاشة الولوج
Name[ast]=Pantalla d'accesu
Name[bg]=Екран за вход
Name[bs]=Prijavni ekran
Name[ca]=Pantalla d'inici de sessió
Name[ca@valencia]=Pantalla d'inici de sessió
Name[cs]=Přihlašovací obrazovka
Name[da]=Login-skærm
Name[de]=Anmeldebildschirm
Name[el]=Οθόνη εισόδου
Name[en_GB]=Login Screen
Name[es]=Pantalla de acceso
Name[et]=Sisselogimisdialoog
Name[eu]=Saio hasteko pantaila
Name[fi]=Kirjautumisruutu
Name[fr]=Écran de connexion
Name[ga]=Scáileán Logála Isteach
Name[gu]=લોગિન સ્ક્રીન
Name[he]=מסך הכניסה
Name[hi]=लॉगिन स्क्रीन
Name[hr]=Zaslon za prijavu
Name[hu]=Bejelentkező képernyő
Name[ia]=Schermo de accesso
Name[id]=Layar Masuk
Name[is]=Innskráning
Name[it]=Schermata d'accesso
Name[ja]=ログインスクリーン
Name[kk]=Кіру экраны
Name[km]=អេក្រង់​ចូល​
Name[kn]=ಪ್ರವೇಶ(ಲಾಗಿನ್) ತೆರೆ
Name[ko]=로그인 화면
Name[lt]=Prisijungimo langas
Name[lv]=Pieteikšanās ekrāns
Name[nb]=Loginn-skjerm
Name[nds]=Anmellschirm
Name[nl]=Aanmeldscherm
Name[nn]=Innloggings­bilete
Name[pa]=ਲਾਗਇਨ ਸਕਰੀਨ
Name[pl]=Ekran logowania
Name[pt]=Ecrã de Autenticação
Name[pt_BR]=Tela de autenticação
Name[ro]=Ecran de autentificare
Name[ru]=Вход в систему
Name[si]=පිවිසීමේ තිරය
Name[sk]=Prihlasovacia obrazovka
Name[sl]=Prijavni zaslon
Name[sr]=Пријавни екран
Name[sr@ijekavian]=Пријавни екран
Name[sr@ijekavianlatin]=Prijavni ekran
Name[sr@latin]=Prijavni ekran
Name[sv]=Inloggningsfönster
Name[th]=หน้าจอล็อกอิน
Name[tr]=Giriş Ekranı
Name[ug]=تىزىمغا كىرىش ئېكرانى
Name[uk]=Вікно входу
Name[wa]=Waitroûle d' elodjaedje
Name[x-test]=xxLogin Screenxx
Name[zh_CN]=登录屏幕
Name[zh_TW]=登入畫面

Comment=Configure the login manager (KDM)
Comment[af]=Konfigureer die aanteken bestuurder (Kdm)
Comment[ar]=اضبط مدير الولوج (KDM)
Comment[ast]=Configura'l xestor d'accesu (KDM)
Comment[be]=Настаўленні кіраўніка ўваходу (KDM)
Comment[be@latin]=Nałady kiraŭnika ŭvachodaŭ u systemu („KDM”)
Comment[bg]=Настройки на графичната система за вход (KDM)
Comment[bn]=লগ-ইন ম্যানেজার কনফিগার করুন
Comment[bn_IN]=লগ-ইন পরিচালন ব্যবস্থা (KDM) কনফিগার করুন
Comment[br]=Kefluniañ ar merour ereañ (KDM)
Comment[bs]=Podešavanje menadžera prijavljivanja (KDM)
Comment[ca]=Configura el gestor d'accés (KDM)
Comment[ca@valencia]=Configura el gestor d'accés (KDM)
Comment[cs]=Nastavení správce přihlášení (KDM)
Comment[csb]=Kònfigùracëjô menadżera logòwaniô (KDM)
Comment[cy]=Ffurfweddu y rheolydd mewngofnodi (KDM)
Comment[da]=Indstil login-håndtering (KDM)
Comment[de]=Anmeldebildschirm (KDM) einrichten
Comment[el]=Ρυθμίστε το διαχειριστή σύνδεσης (KDM)
Comment[en_GB]=Configure the login manager (KDM)
Comment[eo]=Agordi la salutadminstrilon (KDM)
Comment[es]=Configura el gestor de acceso (KDM)
Comment[et]=Sisselogimise halduri seadistamine (KDM)
Comment[eu]=Konfiguratu saio-hasieraren kudeatzailea (KDM)
Comment[fa]=پیکربندی مدیر ورود (KDM)
Comment[fi]=Sisäänkirjautumisasetukset
Comment[fr]=Configurer le gestionnaire de connexion (KDM)
Comment[fy]=Hjir kinne jo it oanmeldskerm ynstelle (KDM) 
Comment[ga]=Cumraigh an bainisteoir logála isteach (KDM)
Comment[gl]=Configurar o xestor de acceso (KDM)
Comment[gu]=પ્રવેશ વ્યવસ્થાપક (KDM) રૂપરેખાંકિત કરો
Comment[he]=הגדרות מנהל הכניסה למערכת (KDM)
Comment[hi]=लॉगइन प्रबंधक कॉन्फ़िगर करें (केडीएम)
Comment[hne]=लागिन प्रबंधक कान्फिगर करव (केडीएम)
Comment[hr]=Konfiguriranje upravljanja prijavljivanja (KDM)
Comment[hsb]=Přizjewjenski manager připrawić (KDM)
Comment[hu]=A KDE grafikus bejelentkező felületének beállításai
Comment[ia]=Configura le gerente de accesso (KDM)
Comment[id]=Atur manajer log masuk (KDM)
Comment[is]=Stilla innstimplunarstjórann (KDM)
Comment[it]=Configurazione del gestore degli accessi (KDM)
Comment[ja]=ログインマネージャ (KDM) の設定
Comment[ka]=შევლის მენეჯერის კონფიგურირება (KDM)
Comment[kk]=Жүйеге кіру менеджерін (KDM) баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​គ្រប់គ្រង​ការ​ចូល (KDM)
Comment[kn]=ಪ್ರವೇಶ (ಲಾಗಿನ್) ವ್ಯವಸ್ಥಾಪಕವನ್ನು (ಕೆಡಿಎಮ್) ಸಂರಚಿಸು
Comment[ko]=로그인 관리자 KDM 설정
Comment[ku]=Gerînendeyê têketinê (KDM) veava bike
Comment[lt]=Konfigūruoti registravimos tvarkyklę (KDM)
Comment[lv]=Konfigurē pieteikšanās pārvaldnieku KDM
Comment[mai]=लागइन प्रबंधक बिन्यस्त करू (केडीएम)
Comment[mk]=Конфигурирајте го менаџерот на најави (KDM)
Comment[ml]=ലോഗിന്‍ മാനേജര്‍ ക്രമീകരിക്കുക (കെഡിഎം)
Comment[mr]=लॉगइन प्रबंधक संयोजीत करा (केडीएम)
Comment[ms]=Konfigur pengurus login (KDM)
Comment[nb]=Tilpass innlogin­gsbehandler (KDM)
Comment[nds]=Den Anmellen-Schirm instellen (KDM)
Comment[ne]=लगइन प्रबन्धक (KDM) कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het aanmeldscherm (KDM) instellen
Comment[nn]=Set opp innloggingshandsamaren (KDM)
Comment[or]=ଲଗଇନ ପରିଚାଳକଙ୍କୁ ବିନ୍ୟାସ କରନ୍ତୁ (KDM)
Comment[pa]=ਲਾਗਇਨ ਮੈਨੇਜਰ ਸੰਰਚਨਾ (KDM)
Comment[pl]=Konfiguracja menedżera logowania (KDM)
Comment[pt]=Configuração do gestor de autenticação (KDM)
Comment[pt_BR]=Configura o gerenciador de autenticação (KDM)
Comment[ro]=Configurează Administratorul de autentificare (KDM)
Comment[ru]=Параметры входа в систему (KDM)
Comment[se]=Heivet sisačálihangieđahalli (KDM)
Comment[si]=පිවිසුම් කළමණාකරු සකසන්න (KDM)
Comment[sk]=Nastavenie správcu prihlásenia (KDM)
Comment[sl]=Nastavitve upravitelja prijav (KDM)
Comment[sr]=Подешавање менаџера пријављивања (КДМ)
Comment[sr@ijekavian]=Подешавање менаџера пријављивања (КДМ)
Comment[sr@ijekavianlatin]=Podešavanje menadžera prijavljivanja (KDM)
Comment[sr@latin]=Podešavanje menadžera prijavljivanja (KDM)
Comment[sv]=Anpassa inloggningshanteraren (KDM)
Comment[ta]=புகுபதிகை மேலாளரை அமை (KDM)
Comment[te]=లాగిన్ నిర్వాహికను ఆకృతీకరించుము (KDM)
Comment[tg]=Танзими мудири вориди система (KDM)
Comment[th]=ปรับแต่งเครื่องมือจัดการการลงบันทึกเข้าใช้งาน (ล็อกอิน) (KDM)
Comment[tr]=Giriş yöneticisini yapılandır (KDM)
Comment[ug]=كىرىش باشقۇرغۇچى(KDM)نى سەپلەيدۇ
Comment[uk]=Налаштування менеджера реєстрації (KDM)
Comment[uz]=Tizimga kirish boshqaruvchisini (KDM) moslash
Comment[uz@cyrillic]=Тизимга кириш бошқарувчисини (KDM) мослаш
Comment[vi]=Cấu hình trình quản lý đăng nhập (KDM)
Comment[wa]=Apontyî l' manaedjeu d' elodjaedje (KDM)
Comment[xh]=Qwalasela umphathi wegama elithile (KDM)
Comment[x-test]=xxConfigure the login manager (KDM)xx
Comment[zh_CN]=配置登录管理器(KDM)
Comment[zh_TW]=設定登入管理程式 (KDM)

X-KDE-Keywords=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
X-KDE-Keywords[be]=кіраўнік дысплея,кіраўнік уваходу,карыстальнікі,уваход,запрашэнне,лагатып,стылі,стыль,мова,краіна,шрыфты,фон,шпалеры,сесіі,сесія,выключэнне,перазагрузка,kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
X-KDE-Keywords[bg]=Keywords=графична, система, вход, влизане, включване, потребител, kdm, display manager, xdm, users, login, greeting, Logo, styles, language, country, fonts, background, wallpapers, sessions, shutdown, restart
X-KDE-Keywords[ca]=kdm,administrador de la pantalla,xdm,usuaris,accés,salutació,Logo,estils,llengua,país,tipus de lletra,fons,tapissos,sessions,apagar,reiniciar
X-KDE-Keywords[cs]=kdm,Správce obrazovky,xdm,Uživatelé,Přihlášení,Uvítání,Logo,Styly,Jazyk,Země,Písma,pozadí,Tapety,Relace,Sezení,Vypnutí,Restart
X-KDE-Keywords[csb]=kdm,menadżer ekranu,xdm,brëkòwnicë,logòwanié,przëwitanié,Logò,sztéle,jãzëk,kraj,fòntë,spódk,tapetë,spòdlë,sesëje,zamkniãce systemë,resztart,zôczãce robòtë
X-KDE-Keywords[cy]=kdm,rheolydd y dangosydd,xdm,defnyddwyr,mewngofnodi,cyfarchiad,Logo,arddulliau,iaith,gwlad,ffontiau,cefndir,papurau wal,sesiynau,cau,ailgychwyn
X-KDE-Keywords[da]=kdm,skærmhåndtering,xdm,brugere,login,hilsen,Logo,stil, sprog,land,skrifttyper,baggrund,tapeter,sessioner,luk ned,genstart
X-KDE-Keywords[de]=Kdm,Display Manager,Xdm,Benutzer,Login,Logo,Stile,Sprachen,Länder,Schriften,Hintergründe,Hintergrundbilder,Beenden,Neustart
X-KDE-Keywords[el]=kdm,διαχειριστής οθόνης,xdm,χρήστες,σύνδεση,χαιρετισμός,Λογότυπο,στυλ,γλώσσα,χώρα,γραμματοσειρές,φόντο,ταπετσαρίες,συνεδρίες,τερματισμός,επανεκκίνηση
X-KDE-Keywords[eo]=kdm,ekrano,,xdm,uzantoj,saluto,emblemo,stilo,lingvo,lando,tiparo,fono,tapeto,seanco,adaiaŭo,relanĉo
X-KDE-Keywords[es]=kdm,gestor de pantalla,xdm,usuarios,entrada,acceso,saludo,Logo,estilos,idioma,país,tipos de letra,fondo,tapices,sesiones,apagar,reiniciar
X-KDE-Keywords[et]=kdm,ekraanihaldur,xdm,kasutajad,sisselogimine,tervitus,logo,stiil,keel,riik,fondid,taust,taustapilt,seansid,töö lõpetamine,taaskäivitamine
X-KDE-Keywords[eu]=kdm,pantaila kudeatzailea,xdm,erabiltzaileak,Saio hasiera,agurra,Logoa,estiloak,hizkuntza, herrialdea,letra-tipoak,atzeko planoa,horma-irudiak,saioak,itzali,berrabiarazi
X-KDE-Keywords[fa]=kdm، مدیر نمایش، xdm، کاربران، ورود، تبریک، آرمِ، سبک، زبان، کشور، قلمها، زمینه، کاغذهای دیواری، نشستها، تعطیل، بازآغازی
X-KDE-Keywords[fi]=kdm,näytönhallinta ,xdm,käyttäjät,sisäänkirjautuminen,tervehdys,Logo,tyylit,kieli,maa,kirjasimet,tausta,istunnot,sammutus,uudelleenkäynnistys
X-KDE-Keywords[fr]=kdm,gestionnaire d'affichage,xdm,utilisateurs,login,connexion,bienvenue,message de bienvenue,Logo,styles,langue,pays,style,police,fond d'écran,papier peint,session,arrêt,logout,redémarrage,reboot
X-KDE-Keywords[fy]=kdm,display manager,xdm,users,login,begroeting,oanmelde,brûkers,Oanmeldbehearder,logo,stylen,taal,language,country,lân,fonts,lettertypen,eftergrûn,wallpapers,behang,sesjes,shutdown,restart,ôfslute,opnij begjinne,oanmelde
X-KDE-Keywords[ga]=kdm,bainisteoir scáileáin,xdm,úsáideoirí,logáil isteach,fáilte,Lógó,stíleanna,teanga,tír,clónna,clófhoirne,cúlra,cúlbhrait,seisiúin,múchadh,atosú
X-KDE-Keywords[gl]=kdm,xestor de entrada,xdm,usuarios,identificación,Logo,estilos,lingua,país,fontes,fondo,papeis tapiz,sesións,apagado,reinício
X-KDE-Keywords[he]=משתמשים,כניסה למערכת,כניסה,לוגו,סגנונות,שפה,מדינה,גופנים,רקע,טפטים,הפעלות,כיבוי,הפעלה,מחדש,מנהל,תצוגה,display,manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
X-KDE-Keywords[hr]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,upravljanje zaslona,korisnici,prijava,pozdrav,stilovi,jezik,država,zemlja,fontovi,pozadina,pozadina radne površine,sesije,gašenje,ponovno pokretanje
X-KDE-Keywords[hu]=kdm,képernyőkezelő,xdm,felhasználók,bejelentkezés,üdvözlés,embléma,stílusok,nyelv,ország,betűtípusok,háttér,tapéták,munkafolyamatok,leállítás,újraindítás
X-KDE-Keywords[is]=kdm,skjár,gluggastjóri,innskráning,innstimplun,snið,tungumál,land,letur,bakgrunnur,bakgrunnar,veggfóður,setur,slökkva,endurræsa
X-KDE-Keywords[it]=kdm,display manager,gestione degli utenti,xdm,utenti,login,accesso,benvenuto,logo,stile,lingua,stato,paese,tipi di carattere,sfondo,immagine di sfondo,sessioni,riavvio,spegnimento,gestione degli accessi
X-KDE-Keywords[ja]=kdm,ディスプレイマネージャ,xdm,ユーザ,ログイン,あいさつ,ロゴ,スタイル,言語,国,フォント,背景,壁紙,セッション,シャットダウン,再起動
X-KDE-Keywords[km]=kdm កម្មវិធី​គ្រប់គ្រង​ការ​បង្ហាញ xdm អ្នក​ប្រើ ចូល ស្វាគមន៍ រូបសញ្ញា រចនាប័ទ្ម ភាសា ប្រទេស​ពុម្ព​អក្សរ ផ្ទៃ​ខាង​ក្រោយ ក្រដាស​បិទ​ជញ្ជាំង សម័យ បិទ ចាប់ផ្ដើម​ឡើង​វិញ
X-KDE-Keywords[ko]=kdm,디스플레이 관리자,xdm,사용자,로그인,환영,로고,스타일,언어,국가,글꼴,배경,세션,끄기,다시 시작
X-KDE-Keywords[lt]=kdm,display manager,ekrano tvarkyklė,xdm,users,naudotojai,login,registracija,greeting,pasveikinimas,Logo, styles,stiliai,language,country,fonts,background,wallpapers,sessions, shutdown,restart
X-KDE-Keywords[lv]=kdm,displeja menedžeris,xdm,lietotāji,pieteikšanās,apsveikums,Logo,stili,valoda,valsts,fonti,fons,tapetes,sesijas,nošaut,pārstartēt
X-KDE-Keywords[mk]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,менаџер на екран,корисници,најава,поздрав,Лого,стилови,јазик,земја,фонтови,подлога,позадина,сесии,исклучување,рестартирање
X-KDE-Keywords[nb]=kdm,skjermbehandler,xdm,brukere,innlogging,velkomst,logo,stiler,språk,land,skrifttyper,bakgrunn,bakgrunnsbilde,økter,skru av,slå av,omstart
X-KDE-Keywords[nds]=kdm,Startschirm,xdm,Bruker,anmellen,greeting,Logo,Stilen,Spraak,Land,Schriftoorden,Achtergrund,Tapeten,Törns,Utmaken,Nieg starten
X-KDE-Keywords[ne]=kdm, प्रदर्शन प्रबन्धक, xdm, प्रयोगकर्ताहरू, लगइन, अभिवादन, परिचायक चिन्ह, शैलीहरू, भाषा, देश, फन्टहरू, पृष्ठभूमि,वालपेपरहरू, सत्र, बन्द गर्नुहोस्, फेरि सुरु गर्नुहोस्
X-KDE-Keywords[nl]=kdm,display manager,xdm,users,login,begroeting,inloggen,gebruikers,loginbeheerder,logo,stijlen,taal,language,country,land,fonts,lettertypen,achtergrond,wallpapers,behang,sessies,shutdown,restart,afsluiten,herstarten,aanmelden,opstarten
X-KDE-Keywords[nn]=kdm,xdm,brukarar,innlogging,helsing,logo,stil,språk,land,skrifttypar,bakgrunn,bakgrunnsbilete,økt,avslutt,slå av,omstart
X-KDE-Keywords[pa]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart, ਲੋਗੋ, ਭਾਸ਼ਾ, ਦੇਸ਼, ਫੋਂਟ, ਲਾਗਿੰਨ, ਯੂਜ਼ਰ,ਸ਼ੈਸ਼ਨ
X-KDE-Keywords[pl]=kdm,menedżer ekranu,xdm,użytkownicy,logowanie,powitanie,Logo,style,jezyk,kraj,czcionki,tło,tapety,sesje,zamknięcie systemu,restart,rozpoczęcie pracy
X-KDE-Keywords[pt]=kdm,gestor de 'logins',xdm,utilizadores,saudação,logótipo,estilos,língua,país,tipos de letra,fundo,papéis de parede,sessões,terminar,reiniciar
X-KDE-Keywords[pt_BR]=kdm,gerenciador de tela, xdm,usuários,login,saudação,Logo,estilos,linguagem,país,fontes, papéis de parede,sessões,desligar,reiniciar
X-KDE-Keywords[ro]=kdm,manager de ecran,xdm,utilizatori,logare,întîmpinare,logo,stiluri,limbaj,ţară,fonturi,fundal,imagini de fundal,sesiuni,oprire,restartare
X-KDE-Keywords[ru]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,перезагрузка,сеанс,шрифты,страна,фон,стили,обои
X-KDE-Keywords[se]=kdm,xdm,geavaheaddjit,sisačáliheapmi,dearvvuođat,logo,stiila,giella,riika, fonttat,duogáš,duogášgovva,bargovuorut,heaittihit,časkit eret,ođđasit álggahit
X-KDE-Keywords[sl]=kdm,upravitelj zaslona,upravljalnik,xdm,uporabniki,prijava,login,pozdrav,logo,slogi,jezik,država,pisave,ozadje,tapete,seje,ugasnitev,vnovičen zagon
X-KDE-Keywords[sr]=kdm,display manager,xdm,users,login,greeting,logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,КДМ,ИксДМ,менаџер,пријављивање,стил,језик,држава,земља,фонтови,позадина,сесије,гашење,корисници,поздрав,лого
X-KDE-Keywords[sr@latin]=kdm,display manager,xdm,users,login,greeting,logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,KDM,XDM,menadžer,prijavljivanje,stil,jezik,država,zemlja,fontovi,pozadina,sesije,gašenje,korisnici,pozdrav,logo
X-KDE-Keywords[sv]=kdm,display manager,xdm,användare,inloggning,välkomsttext,Logo,stilar,språk,land,teckensnitt,bakgrund,skrivbordsunderlägg,sessioner,stäng av,starta om
X-KDE-Keywords[ta]=கேடிஎம்,காட்சி மேலாளர்,xdm,பயன்படுத்துபவர்,உள்நுழை,வாழ்த்து,சின்னம்,பாணிகள்,மொழி,நாடு,எழுத்துருக்கள்,பின்னணி,வால்பேப்பர்கள்,பகுதிகள்,முடித்தல்,தொடங்குதல்
X-KDE-Keywords[th]=kdm,ตัวจัดการจอแสดงผล,xdm,ผู้ใช้,ล็อกอิน, ทักทาย,โลโก้,รูปแบบ,ภาษา,ประเทศ,แบบอักษร,พื้นหลัง, วอลล์เปเปอร์,วาระ,ปิด,เริ่มการทำงานใหม่
X-KDE-Keywords[tr]=kdm,görüntü yönetici,xdm,kullanıcılar,oturum açma,karşılama,logo,stiller,dil,ülke,yazı tipleri,artalan,duvar kağıtları,oturumlar,kapat,tekrar başlat
X-KDE-Keywords[uk]=kdm,менеджер дисплеїв,xdm,користувачі,реєстрація,привітання,логотип,стилі,мова,країна,шрифти,тло,шпалери,сеанси,вимикання,перезапуск
X-KDE-Keywords[uz]=kdm,кириш бошқарувчиси,xdm,фойдаланувчилар,кириш,саломлашиш,Белги,услублар,тил,давлат,шрифтлар,орқа фон,сеанслар,ўчириш,ўчириб-ёқиш
X-KDE-Keywords[vi]=kdm,quản lý hiển thị,xdm,người dùng,đăng nhập,chào hỏi,Biểu trưng,kiểu,ngôn ngữ,quốc gia,phông chữ,nền,ảnh nền,phiên đăng nhập,tắt máy,khởi động lại
X-KDE-Keywords[x-test]=xxkdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restartxx
X-KDE-Keywords[xh]=kdm,umphathi womboniso,xdm,abasebenzisi,igama elithile,umbuliso,ilogo,iintlobo,ulwimi,ilizwe,ubungakanani bamagama, imvelaphi,amaphepha odonga,iintlanganiso,vala,qala kwakhona
X-KDE-Keywords[zh_CN]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,显示管理器,用户,登录,欢迎辞,标志,风格,语言,国家,字体,背景,墙纸,会话,关机,重启动
X-KDE-Keywords[zh_TW]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,顯示管理程式,使用者,登入,歡迎,風格,語言,國家,字型,背景,底圖,工作階段,關機,重新啟動

Categories=Qt;KDE;X-KDE-settings-system;
