[Desktop Entry]
Name=Dictionary Data Engine
Name[bg]=Речник
Name[ca]=Motor de dades de diccionari
Name[csb]=Czérownik słowôrza
Name[de]=Wörterbuch-Treiber
Name[el]=Μηχανή δεδομένων λεξικού
Name[eo]=Vortardatuma Maŝino
Name[es]=Motor de datos del diccionario
Name[et]=Sõnaraamatu andmete mootor
Name[eu]=Hiztegiaren datu motorea
Name[fi]=Sanakirjan moottori
Name[fr]=Moteur de dictionnaire
Name[fy]=Wurdboek gegevens motor
Name[ga]=Inneall Sonraí Foclóra
Name[gl]=Motor de datos de dicionario
Name[hu]=Szótármodul
Name[is]=Orðabókar-gagnavél
Name[it]=Motore per dati dei dizionari
Name[ja]=辞書データエンジン
Name[kk]=Сөздік деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​វចនានុក្រម
Name[ko]=사전 데이터 엔진
Name[lv]=Vārdnīcas datu dzinējs
Name[nb]=Ordboksdata-motor
Name[nds]=Wöörbook-Hanteerkarn
Name[ne]=शब्दकोश डेटा इन्जिन
Name[nl]=Woordenboek (gegevensengine)
Name[nn]=Ordboksdatamotor
Name[pa]=ਡਿਕਸ਼ਨਰੀ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Słownik
Name[pt]=Motor de Dados do Dicionário
Name[pt_BR]=Mecanismo de Dados do Dicionário
Name[ru]=Поставщик данных «Словарь»
Name[se]=Sátnegirjedáhtamohtor
Name[sl]=Podatkovni pogon za slovarje
Name[sr]=мотор речника
Name[sr@latin]=motor rečnika
Name[sv]=Datagränssnitt för ordlista
Name[tg]=Системаи маълумоти луғат
Name[uk]=Рушій даних словника
Name[wa]=Éndjin d' dinêyes di diccionaires
Name[x-test]=xxDictionary Data Enginexx
Name[zh_CN]=字典数据引擎
Name[zh_TW]=字典資料引擎
Comment=Look up word meanings
Comment[bg]=Търсене на думи
Comment[ca]=Cerca els significats de paraules
Comment[de]=Nachschlagen von Wortbedeutungen
Comment[el]=Αναζήτηση σημασίας λέξεων
Comment[eo]=Serĉi difinojn de vortoj
Comment[es]=Buscar significado de las palabras
Comment[et]=Sõna tähenduse otsimine
Comment[fi]=Tarkista sanojen merkityksiä
Comment[fr]=Connaître la signification des mots
Comment[fy]=Sykje de wurdbetekenissen op
Comment[ga]=Aimsigh sainmhíniú ar fhocal
Comment[gl]=Procura o significado de palabras
Comment[hu]=Értelmező szótár
Comment[is]=Flettu upp merkingu orða
Comment[it]=Cerca il significato di una parola
Comment[ja]=単語の意味を調べる
Comment[kk]=Сөздің мәнін қарастыру
Comment[km]=រក​មើល​អត្ថន័យ​របស់​ពាក្យ
Comment[ko]=단어의 뜻 찾기
Comment[lv]=Atrod vārdu nozīmes
Comment[nb]=Slåopp betydningen av ord
Comment[nds]=Woortbedüden naslaan
Comment[ne]=शब्दको अर्थ हेर्नुहोस्
Comment[nl]=Zoek de betekenis van woorden op
Comment[nn]=Slå opp tydinga til ord
Comment[pa]=ਸ਼ਬਦ ਅਰਥ ਖੋਜ
Comment[pl]=Wyszukiwanie znaczenia słów
Comment[pt]=Procurar os significados das palavras
Comment[pt_BR]=Procurar os significados das palavras
Comment[ru]=Выяснение знаячения слов
Comment[se]=Oza maid sátni máksá
Comment[sl]=Poiščite pomene besed
Comment[sr]=Потражите значења речи
Comment[sr@latin]=Potražite značenja reči
Comment[sv]=Slå upp ords betydelse
Comment[th]=ค้นหาความหมายของคำ
Comment[uk]=Пошук значень слів
Comment[wa]=Cweri çou k' vout dire on mot
Comment[x-test]=xxLook up word meaningsxx
Comment[zh_CN]=查阅单词含义
Comment[zh_TW]=尋找單字的意義
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=accessories-dictionary
X-KDE-Library=plasma_engine_dict
X-Plasma-EngineName=dict
