[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_networkmanager09_fake
InitialPreference=101
Name=Fake NetworkManager 0.9
Name[ar]=مدير الشبكة المزيف 0.9
Name[ca]=NetworkManager 0.9 fals
Name[ca@valencia]=NetworkManager 0.9 fals
Name[cs]=Falešný NetworkManager 0.9
Name[da]=Falsk NetworkManager 0.9
Name[de]=NetworkManager-0.9-Immitat
Name[es]=Falso NetworkManager 0.9
Name[et]=Liba-NetworkManager 0.9
Name[eu]=NetworkManager 0.9 faltsua
Name[fi]=Vale NetworkManager 0.7
Name[fr]=NetworkManager factice 0.9
Name[ga]=Bréagbhainisteoir Líonra 0.9
Name[hu]=Hamis NetworkManager 0.7
Name[ia]=Contraface NetworkManager 0.9
Name[it]=NetworkManager 0.9 (finto)
Name[kk]=Жалған NetworkManager 0.9
Name[ko]=가짜 NetworkManager 0.9
Name[lt]=Netikras NetworkManager 0.9
Name[nb]=Attrapp nettverksstyring 0.9
Name[nds]=Namaakt Nettwark-Pleger 0.9
Name[nl]=Valse NetworkManager 0.9
Name[pa]=ਫਰਜ਼ੀ ਨੈੱਟਵਰਕਮੈਨੇਜਰ 0.9
Name[pl]=Fikcyjny MenadżerSieci 0.9
Name[pt]=NetworkManager 0.9 Falso
Name[pt_BR]=NetworkManager 0.9 falso
Name[ro]=NetworkManager fals 0.9
Name[sk]=Falošný NetworkManager 0.9
Name[sl]=Lažen NetworkManager 0.9
Name[sr]=Лажни Менаџер мреже 0.9
Name[sr@ijekavian]=Лажни Менаџер мреже 0.9
Name[sr@ijekavianlatin]=Lažni Menadžer mreže 0.9
Name[sr@latin]=Lažni Menadžer mreže 0.9
Name[sv]=Test av nätverkshantering 0.9
Name[tr]=Sahte NetworkManager 0.9
Name[uk]=Фіктивний NetworkManager 0.9
Name[x-test]=xxFake NetworkManager 0.9xx
Name[zh_CN]=虚拟网络管理器 0.9
Name[zh_TW]=虛擬的 NetworkManager 0.9
Comment=Fake backend to allow kdelibs to read NetworkManager daemon 0.9's status
Comment[ca]=Dorsal fals que permet a les kdelibs llegir l'estat del dimoni NetworkManager 0.9
Comment[ca@valencia]=Dorsal fals que permet a les kdelibs llegir l'estat del dimoni NetworkManager 0.9
Comment[cs]=Falešná podpůrná vrstva umožňující kdelibs číst stav démona NetworkManager 0.9
Comment[da]=Falsk backend så kdelibs kan læse status for version 0.9 af NetworkManager-dæmonen
Comment[de]=Backend-Immitat; ermöglicht KDELibs das Lesen des Status des NetworkManager-0.9-Dienstes
Comment[es]=Motor falso para permitir a kdelibs leer el estado del demonio NetworkManager 0.9
Comment[et]=Liba-taustaprogramm, mis võimaldab kdelibsil lugeda NetworkManager 0.8 deemoni olekut
Comment[eu]=kdelibs-ek NetworkManager deabrua 0.9-ren egoera irakurri ahal dezan "backend" faltsua
Comment[fi]=Valetaustaosa, jonka avulla kdelibs voi lukea NetworkManager-palvelinversion 0.9 tilan.
Comment[fr]=Module factice permettant à kdelibs de lire l'état du démon NetworkManager 0.9
Comment[hu]=Hamis modul, amely lehetővé teszi a kdelibsnek a NetworkManager démon 0.9 állapotának olvasását
Comment[ia]=Contraface retro administration pro permitter a kdelibs de leger le stato de daemon NetworkManager 0.9
Comment[it]=Finto motore per consentire a kdelibs di leggere lo stato del demone NetworkManager 0.9
Comment[kk]=kdelibs-ке NetworkManager 0.9 қызметінің күй-жайын оқуға мүмкіндік беретін жалған тетік
Comment[ko]=kdelibs에서 NetworkManager 데몬 0.9의 상태를 읽어오는 데몬
Comment[lt]=Netikras varikliukas, leidžiantis kdellibs skaityti NetworkManager demono 0.9 būseną
Comment[nb]=Attrapp-motor som lar kdelibs lese status for NetWorkManager daemon 0.9
Comment[nds]=Namaakt Hülpprogramm, mit dat kdelibs den Nettwarkpleger-Dämoon 0.9 sien Status lesen kann
Comment[nl]=Valse backend om kdelibs toe te staan om de status van NetworkManager daemon 0.9 te lezen
Comment[pl]=Fikcyjny silnik pozwalający bibliotekom kdelibs na odczyt stanu demona MendażeraSieci 0.9
Comment[pt]=Infra-estrutura de testes para permitir ao 'kdelibs' ler o estado do servidor do NetworkManager 0.9
Comment[pt_BR]=Infraestrutura falsa que permite ao kdelibs ler o estado do serviço do NetworkManager 0.9
Comment[ro]=Suport fals ce permite kdelibs să citească starea demonului NetworkManager 0.9
Comment[sk]=Falošný backend na umožnenie čítania stavu démona NetworkManagera 0.9 pre kdelibs
Comment[sr]=Лажна позадина преко које КДЕ библиотека може да чита стање демона Менаџера мреже 0.9
Comment[sr@ijekavian]=Лажна позадина преко које КДЕ библиотека може да чита стање демона Менаџера мреже 0.9
Comment[sr@ijekavianlatin]=Lažna pozadina preko koje KDE biblioteka može da čita stanje demona Menadžera mreže 0.9
Comment[sr@latin]=Lažna pozadina preko koje KDE biblioteka može da čita stanje demona Menadžera mreže 0.9
Comment[sv]=Testgränssnitt för att låta kdelibs läsa status från nätverkshanteringsdemonen version 0.9
Comment[uk]=Тестовий модуль, який надає змогу kdelibs читати стан фонової служби NetworkManager 0.9
Comment[x-test]=xxFake backend to allow kdelibs to read NetworkManager daemon 0.9's statusxx
Comment[zh_CN]=允许 kdelibs 读取网络管理器守护进程 0.9 的虚拟后端
Comment[zh_TW]=虛擬的後端介面，讓 kdelibs 可以讀取 NetworkManager 0.9 伺服程式的狀態
Icon=networkmanager
