[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_networkmanager09_fake
InitialPreference=101
Name=Fake NetworkManager 0.9
Name[da]=Falsk NetworkManager 0.9
Name[kk]=Жалған NetworkManager 0.9
Name[nl]=Valse NetworkManager 0.9
Name[pt]=NetworkManager 0.9 Falso
Name[pt_BR]=NetworkManager 0.9 falso
Name[sv]=Test av nätverkshantering 0.9
Name[uk]=Фіктивний NetworkManager 0.9
Name[x-test]=xxFake NetworkManager 0.9xx
Comment=Fake backend to allow kdelibs to read NetworkManager daemon 0.9's status
Comment[da]=Falsk backend så kdelibs kan læse status for version 0.9 af NetworkManager-dæmonen
Comment[kk]=kdelibs-ке NetworkManager 0.9 қызметінің күй-жайын оқуға мүмкіндік беретін жалған тетік
Comment[nl]=Valse backend om kdelibs toe te staan om de status van NetworkManager daemon 0.9 te lezen
Comment[pt]=Infra-estrutura de testes para permitir ao 'kdelibs' ler o estado do servidor do NetworkManager 0.9
Comment[pt_BR]=Infraestrutura falsa que permite ao kdelibs ler o estado do serviço do NetworkManager 0.9
Comment[sv]=Testgränssnitt för att låta kdelibs läsa status från nätverkshanteringsdemonen version 0.9
Comment[uk]=Тестовий модуль, який надає змогу kdelibs читати стан фонової служби NetworkManager 0.9
Comment[x-test]=xxFake backend to allow kdelibs to read NetworkManager daemon 0.9's statusxx
Icon=networkmanager
