[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell style
Icon=style
Type=Service
ServiceTypes=KCModule,KCModuleInit
DocPath=kcontrol/kcmstyle/index.html

X-KDE-Library=kcm_style
X-KDE-Init-Symbol=kcminit_style
X-KDE-ParentApp=kcontrol

Name=Style
Name[af]=Styl
Name[ar]=المظهر العام
Name[be]=Стыль
Name[br]=Giz
Name[ca]=Estil
Name[cs]=Styl
Name[cy]=Arddull
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[eu]=Estiloa
Name[fa]=سبک
Name[fi]=Tyyli
Name[fy]=Styl
Name[ga]=Stíl
Name[gl]=Estilo
Name[he]=סגנון
Name[hr]=Stil
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[ka]=სტილი
Name[kk]=Стилі
Name[km]=រចនាប័ទ្ម
Name[ko]=꼴
Name[lt]=Stilius
Name[lv]=Stils
Name[mk]=Стил
Name[ms]=Gaya
Name[nb]=Stil
Name[nds]=Stil
Name[ne]=शैली
Name[nl]=Stijl
Name[nn]=Stil
Name[pa]=ਸ਼ੈਲੀ
Name[pl]=Styl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[ru]=Стиль
Name[se]=Stiila
Name[sl]=Slog
Name[sr]=Стил
Name[sr@Latn]=Stil
Name[sv]=Stil
Name[ta]=பாணி
Name[tg]=Услуб
Name[tr]=Stil
Name[uk]=Стиль
Name[uz]=Услуб
Name[x-test]=xxStylexx
Name[xh]=Uhlobo
Name[zh_TW]=風格
Comment=Allows the manipulation of widget behavior and changing the Style for KDE
Comment[af]=Laat toe die manipulasie van gui-element gedrag en verandering die Styl vir Kde
Comment[be]=Дазваляе кіраваць паводзінамі віджэтаў і змяняць стыль KDE
Comment[ca]=Permet la manipulació del comportament dels estris i permet canviar-ne l'estil per al KDE
Comment[cs]=Umožňuje upravit chování prvků grafického prostředí a změnu stylu KDE
Comment[cy]=Yn caniatau trin ymddygiad teclyn a newid arddull KDE
Comment[da]=Tillader manipulation af kontrolopførsel og ændring af stilen for KDE
Comment[de]=Stile und das Verhalten von Bedienelementen verändern
Comment[el]=Επιτρέπει τη διαχείριση της συμπεριφοράς των γραφικών συστατικών και την αλλαγή του Στυλ για το KDE
Comment[en_GB]=Allows the manipulation of widget behaviour and changing the Style for KDE
Comment[eo]=Aspekto kaj konduto de la fenestroelementoj
Comment[es]=Permite la manipulación del comportamiento del widget y permite cambiar el estilo para KDE
Comment[et]=Võimaldab muuta kasutajaliidese elementide käitumist ning välimust
Comment[eu]=Widget-en portaera eta KDEren estiloa aldatzen uzten dizu
Comment[fa]=اجازۀ دستکاری رفتار عنصر و تغییر سبک را برای KDE می‌دهد.
Comment[fi]=Mahdollistaa kontrollien käyttäytymisen muokaamisen ja KDE:n tyylin vaihtamisen
Comment[fr]=Permet la configuration du comportement des éléments graphiques et la modification des styles de KDE
Comment[fy]=Hjirmei kinne jo it gedrach fan de widgets oanpasse en de styl fan KDE wizigje
Comment[gl]=Permite a manipulación do comportamento dun widget e o cámbio de estilo de KDE
Comment[he]=שינוי הגדרות פעולת הפריטים והסגנון של KDE
Comment[hr]=Dopušta upravljanje ponašanja widgeta i izmjenu KDE stila
Comment[hu]=Lehetővé teszi a grafikus alapelemek jellemzőinek megváltoztatását, a KDE stílusának módosítását
Comment[is]=Leyfir hagræðingu á græjuhegðun og breytingu á KDE stílnum
Comment[it]=Permette la configurazione del comportamento degli elementi grafici e il cambio dello stile di KDE
Comment[ja]=ウィジェットの挙動と KDE のスタイルを変更
Comment[ka]=KDE-ს ელემენტების სტილი და იერსახე
Comment[kk]=KDE элементтерінің қасиеттері
Comment[km]=អនុញ្ញាត​ឲ្យ​រៀបចំ​ឥរិយាបថ​វត្ថុ​មើលឃើញ និង​ប្ដូរ​រចនាប័ទ្ម​របស់ KDE
Comment[lt]=Leidžia manipuliuoti valdiklio elgsena ir leidžia pakeisti KDE stilių
Comment[lv]=Atļauj manipulācijas ar logdaļu izturēšanos un ļauj mainīt Stilu priekš KDE
Comment[mk]=Дозволува манипулација со однесувањата на графичките контроли и промена на стиловите во KDE
Comment[ms]=Membolehkan manipulasi kelakuan widget dan mengubah Gaya untuk KDE
Comment[nb]=Her kan du endre oppførsel til skjermelementer, og endre stiler i KDE
Comment[nds]=Hier kann dat Bedregen vun Bedeen-Elementen un ehr KDE-Stil ännert warrn
Comment[ne]=KDE का लागि परिवर्तन शैली र विजेट व्यवहारको परिचालन गर्न अनुमति दिन्छ
Comment[nl]=Hiermee kunt u het gedrag van de widgets aanpassen en de stijl van KDE wijzigen
Comment[nn]=Let deg endra KDE-stilen og åtferda til skjermelementa
Comment[pa]=KDE ਲਈ ਵਿਦਗਿਟ ਵਿਵਹਾਰ ਅਤੇ ਸ਼ੈਲੀ ਤਬਦੀਲ ਲਈ ਸਹਾਈ ਹੈ
Comment[pl]=Pozwala na określenie zachowania elementów interfejsu i zmianę Stylu KDE
Comment[pt]=Permite a manipulação do comportamento dos elementos gráficos e a mudança do estilo para o KDE
Comment[pt_BR]=Permite a manipulação do comportamente de widgets e a escolha do estilo usado pelo KDE
Comment[ro]=Modifică stilul grafic KDE şi comportamentul elementelor grafice
Comment[ru]=Стиль и облик элементов KDE
Comment[se]=Diktá du rievdadit KDE-stiilla ja šearbmaáđaid láhttema
Comment[sl]=Omogoča manipulacijo z gradniki in spreminjanje sloga KDE
Comment[sr]=Омогућава подешавање понашања форми и промену стила за KDE
Comment[sr@Latn]=Omogućava podešavanje ponašanja formi i promenu stila za KDE
Comment[sv]=Tillåter manipulering av beteendet hos komponenter och ändring av stil på KDE
Comment[ta]=KDEக்கான வளைவுகளின் இயக்கத்தை கையாளவும் பாணிகளை மாற்றவும் அனுமதிக்கிறது
Comment[tg]= Тавоноии таъғир ва ислоҳи навъи рафтори тарҳ ва услуби KDE-ро ба шумо медиҳад
Comment[tr]=KDE için Aletlerin davranışlarını ve stili değiştirmeyi sağlar
Comment[uk]=Керування поведінкою віджетів та зміна стилю KDE
Comment[x-test]=xxAllows the manipulation of widget behavior and changing the Style for KDExx
Comment[xh]=Ivumela uhanahaniso lokuziphatha kwe widget kwaye itshintsha Uhlobo lwe KDE
Comment[zh_TW]=讓您控制視窗元件 (widget) 的操作方式，以及更改 KDE 的風格

Keywords=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications
Keywords[af]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE programme
Keywords[be]=Стыль,Стылі,Выгляд,Вонкавы выгляд,Віджэт,Значкі,Панэлі начынняў,Тэкст,Падсвятленне,Праграмы,Праграмы KDE,style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications
Keywords[br]=giz,gizioù,widget,neuz,arlunoù,barrennoù an ostilhoù,skrid,highlight,meziantoù,meziantoù KDE
Keywords[ca]=estil,estils,temes,aspecte,objete visual,estri,icones,barres d'eines,text,ressaltat,aplicacions,aplicacions KDE
Keywords[cs]=Styl,Témata,Motivy,Vzhled,Text,Zvýraznění,Tlačítka,Aplikace KDE
Keywords[cy]=arddull,arddulliau,golwg,teclyn,celfigyn,eiconau,bar offer,testun,amlygu,rhaglenni,rhaglenni  KDE
Keywords[da]=stil,udseende,kontrol,ikoner,værktøjslinjer,tekst,fremhæv,prog,KDE-programmer
Keywords[de]=Stile,Design,Themes,Schema,Elemente,Bildschirmelemente,Icons,Bedienelemente,Schriften,Symbole,Werkzeugleisten,Text,Hervorhebungen,Knöpfe,Anwendungen,Programme,KDE-Programme
Keywords[el]=στυλ,στυλ,εμφάνιση,γραφικό συστατικό,εικονίδια,γραμμές εργαλείων,κείμενο,τονισμός,εφαρμογές,εφαρμογές KDE
Keywords[eo]=stilo,aspekto,fenestraĵo,piktogramo,illistelo,aplikaĵoj
Keywords[es]=estilo,estilos,temas,aspecto,objeto visual,widget,texto,resaltado,botones, aplicaciones, aplicaciones KDE
Keywords[et]=stiil,stiilid,teemad,välimus,elemendid,vidinad,menüüriba,ikoonid, tööriistaribad,rakendused,KDE rakendused
Keywords[eu]=estiloa,estiloak,itxura,widget-a,ikonoak,tresna-barrak,testua, nabarmenketa,aplikazioak,KDE aplikazioak
Keywords[fa]=سبک، سبکها، ظاهر، عنصر، شمایلها، میله‌ ابزارها، متن، مشخص، کاربردها، کاربردهای KDE
Keywords[fi]=tyyli,tyylit,ulkonäkö,kontrolli,kuvakkeet,työkalurivit,teksti,korostus,sovellukset,KDE sovellukset
Keywords[fr]=style,styles,thème,apparence,widget,élément graphique,barre demenus,MacOS,police,couleur,non KDE,icône,icônes,barre d'outils,barres d'outils,barres de menus,texte,surbrillance,sélection,bouton,souris,transparence,déplacement,écran,applications,programmes,programmes non KDE,applications non KDE
Keywords[fy]=styl,stylen,look,üterlik,widget,icons,ikoan,ikoanen,wurkbalke,tekst,highlight,pljochtsje,apps,KDE-tapassingen,programma's,KDE-programma's,tapassingen
Keywords[ga]=stíl,stíleanna,téama,cuma,giuirléid,deilbhíní,barraí uirlisí,téacs,aibhsiú,feidhmchláir,feidhmchláir KDE
Keywords[gl]=estilo,estilos,apariencia,widget,iconas,barras de ferramentas,texto,resaltar,aplicacións,aplicacións KDE
Keywords[he]=סגנון,מראה,פריטים,סמלים,סרגל כלים,טקסט,הדגשה,יישומים,יישומים של KDE,style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications
Keywords[hr]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,stil,izgled,ikone,alatne trake,tekst,naglašavanje,KDE aplikacije
Keywords[hu]=stílus,stílusok,kinézet,grafikus elem,ikonok,eszköztárak,szöveg,kiemelés,alkalmazások,KDE alkalmazások
Keywords[is]=stíll,stílar,þemur,þema,útlit,valmyndir,valslá,MacOS,letur,leturgerðir,leturgerð,gegnsætt,skjár,forrit, táknmyndir,takkar,mús,takki,hnappur
Keywords[it]=stile,stili,aspetto,widget,elemento grafico,icone,barre degli strumenti,testo,evidenziazione,applicazioni,applicazioni KDE
Keywords[ja]=スタイル,スタイル,外観,ウィジェット,アイコン,ツールバー,テキスト,ハイライト,アプリ,KDEアプリケーション
Keywords[km]=រចនាប័ទ្ម,រូបរាង,វត្ថុ​មើលឃើញ,រូបតំណាង,របារ​ឧបករណ៍,អត្ថបទ,បន្លិច,កម្មវិធី,កម្មវិធី KDE
Keywords[lt]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications, stilius,stiliai,išvaizda,valdiklis,ženkliukai,piktogramos,įrankių juostos,paryškinimas,KDE taikomosios programos
Keywords[mk]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,стил,стилови,изглед,икони,алатници,текст,KDE апликации
Keywords[nb]=stil,stiler,temaer,utseende,menylinje,skrifttype,farger,ikke-KDE,ikoner,verktøylinje,tekst,knapper,mus,flytting,skjerm,programmer,ikke-KDE programmer
Keywords[nds]=Stil,Stilen,look,widget,Lüttbiller,Warktüüchbalken,Text,markeren,Programmen,KDE-Programmen,Bedeenelement
Keywords[ne]=शैली, शैलीहरू, हेर्नुहोस्, विजेट, प्रतिमा, उपकरणपट्टी, पाठ, हाइलाइट,apps,KDE अनुप्रयोगहरू
Keywords[nl]=stijl,stijlen,look,uiterlijk,widget,icons,iconen,pictogrammen,werkbalken,tekst,highlight,accentuatie,apps,KDE-toepassingen,programma's,KDE-programma's,toepassingen
Keywords[nn]=stil,tema,utsjånad,bunad,element,skjermelement,verktøylinje,tekst,markering,program,KDE-program
Keywords[pa]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,ਸ਼ੈਲੀ,ਸ਼ੈਲੀਆਂ,ਦਿੱਖ,ਆਈਕਾਨ,ਸੰਦ-ਪੱਟੀ,ਪਾਠ,ਉਘਾੜੋ,ਕਾਰਜ
Keywords[pl]=styl,style,wygląd,okienko,ikony,paski narzędzi,tekst,napisy,podświetlenie,programy,programy KDE
Keywords[pt]=estilo,estilos,aparência,elemento,ícones,ferramentas,texto,realce,aplicações,aplicações do KDE
Keywords[pt_BR]=estilo,estilos,aparência,widget,ícones,barra de ferramentas,texto,realce,aplicativos,aplicativos não-KDE
Keywords[ro]=stil,aspect,componentă,widget,iconiţe,bare de unelte,text,evidenţiere,aplicaţii,KDE
Keywords[se]=stiila,fáddá,fárda,áđat,govažat,neavvoholggat,teaksta,merken,prográmmat,KDE-prográmmat
Keywords[sl]=slog,slogi,stil,stili,teme,videz,izgled,gradnik,menujska vrstica,osvetlitev,programi,programi za KDEi
Keywords[sr]=style,styles,look,widget,icons,toolbars,text,highlight,apps,стил,стилови,теме,изглед,форма,иконе,траке са алатима,текст,истицање,програми,KDE програми
Keywords[sr@Latn]=style,styles,look,widget,icons,toolbars,text,highlight,apps,stil,stilovi,teme,izgled,forma,ikone,trake sa alatima,tekst,isticanje,programi,KDE programi
Keywords[sv]=stil,stilar,utseende,komponent,ikoner,verktygrader,text,färgläggning, program,KDE-program
Keywords[ta]=பாணி,பாணிகள்,பார்,வளைவு,சின்னம்,கருவிப்பட்டி,உரை,தனிப்படுத்து,பயன்பாடு,கேடியி பயன்பாடுகள்
Keywords[tr]=simgeler,stil,stiller,dekor,dekorlar,tema,temalar,görünüm,parçacık,menü,KDE uygulamaları,araç çubukları,uygulamalar
Keywords[uk]=стиль,стилі,вигляд,віджет,піктограми,пенали, текст,виділення,програми KDE
Keywords[uz]=услуб,услублар,ташқи кўриниши,виджет,нишончалар,асбоблар панели,матн,белгилаш,дастурлар,KDE дастурлари
Keywords[x-test]=xxstyle,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applicationsxx
Keywords[xh]=uhlobo, iintlobo, jonga, widget, amaphawu emifanekiso, iibar zesixhobo, umbhalo, phawula, apps, izicelo ze KDE
Keywords[zh_TW]=style,styles,look,widget,icons,toolbars,text,highlight,apps,KDE applications,風格,主題,外觀,視窗元件,圖示,工具列,文字,突出顯示,應用程式,KDE 應用程式

Categories=Qt;KDE;X-KDE-settings-looknfeel;
