[Desktop Entry]
Name=Terminate Applications
Name[da]=Afslut programmer
Name[de]=Programme beenden
Name[en_GB]=Terminate Applications
Name[et]=Rakenduste töö lõpetamine
Name[gl]=Terminar programas
Name[he]=סיים פעולת יישומים
Name[hr]=Prekini aplikacije
Name[kk]=Қолданбалары аяқтау
Name[lv]=Pārtraukt programmas
Name[nb]=Avslutt programmer
Name[nds]=Programmen utmaken
Name[nl]=Toepassingen afbreken
Name[pt]=Terminar as Aplicações
Name[pt_BR]=Terminar aplicativos
Name[ro]=Termină aplicații
Name[sv]=Avsluta program
Name[tr]=Uygulamaları Bitir
Name[uk]=Переривання програм
Name[x-test]=xxTerminate Applicationsxx
Name[zh_TW]=終端機應用程式
Comment=Stop applications that are currently running
Comment[da]=Stop programmer der kører i øjeblikket
Comment[de]=Gerade laufende Anwendungen beenden
Comment[en_GB]=Stop applications that are currently running
Comment[et]=Töötavate rakenduste töö lõpetamine
Comment[gl]=Detén programas que están a executarse
Comment[he]=עצור יישומים פעילים כעת
Comment[hr]=Zaustavi aplikacije koje su trenutno pokrenute
Comment[kk]=Орындалып жатқан қолданбаларды тоқтату
Comment[lv]=Apturēt šobrīd darbojošās programmas
Comment[nb]=Stopp programmer som kjører nå
Comment[nds]=Opstunns lopen Programmen utmaken
Comment[nl]=Breek toepassingen af die nu draaien
Comment[pt]=Parar as aplicações actualmente em execução
Comment[pt_BR]=Parar os aplicativos atualmente em execução
Comment[ro]=Oprește aplicații ce rulează momentan
Comment[sv]=Stoppa program som för närvarande kör
Comment[uk]=Завершує роботу запущених програм
Comment[x-test]=xxStop applications that are currently runningxx
Comment[zh_TW]=停止目前執行中的應用程式
Icon=application-exit

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kill
X-KDE-PluginInfo-Author=Jan Gerrit Marker
X-KDE-PluginInfo-Email=jangerrit@weiler-marker.com
X-KDE-PluginInfo-Name=kill
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
