[Desktop Entry]
Name=Terminate Applications
Name[en_GB]=Terminate Applications
Name[gl]=Terminar programas
Name[pt]=Terminar as Aplicações
Name[pt_BR]=Terminar aplicativos
Name[sv]=Avsluta program
Name[tr]=Uygulamaları Bitir
Name[uk]=Переривання програм
Name[x-test]=xxTerminate Applicationsxx
Comment=Stop applications that are currently running
Comment[en_GB]=Stop applications that are currently running
Comment[gl]=Detén programas que están a executarse
Comment[hr]=Zaustavi aplikacije koje su trenutno pokrenute
Comment[pt]=Parar as aplicações actualmente em execução
Comment[pt_BR]=Parar os aplicativos atualmente em execução
Comment[sv]=Stoppa program som för närvarande kör
Comment[uk]=Завершує роботу запущених програм
Comment[x-test]=xxStop applications that are currently runningxx
Icon=application-exit

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kill
X-KDE-PluginInfo-Author=Jan Gerrit Marker
X-KDE-PluginInfo-Email=jangerrit@weiler-marker.com
X-KDE-PluginInfo-Name=kill
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
