[Desktop Entry]
Name=Search and Launch
Name[ia]=Cercar e Lancear
Name[pt]=Pesquisa e Lançamento
Name[pt_BR]=Pesquisar e executar
Name[sv]=Sök och starta
Name[uk]=Пошук і запуск
Name[x-test]=xxSearch and Launchxx
Comment=Full screen application launcher with search interface
Comment[ia]=Lanceator de application a schermo plen con interfacie de cerca
Comment[pt]=Um lançador de aplicações de ecrã completo, com interface de pesquisa
Comment[pt_BR]=Um lançador de aplicativos de tela cheia completo, com interface de pesquisa
Comment[sv]=Startprogram med fullskärm och sökgränssnitt
Comment[uk]=Повноекранний інструмент запуску програм з інтерфейсом пошуку
Comment[x-test]=xxFull screen application launcher with search interfacexx

Icon=edit-find
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,desktop
NoDisplay=false

X-KDE-Library=plasma_containment_sal
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=sal
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
