[Desktop Entry]
Name=Search and Launch
Name[ast]=Guetar y executar
Name[de]=Suchen und ausführen
Name[en_GB]=Search and Launch
Name[es]=Buscar y ejecutar
Name[et]=Otsimine ja käivitamine
Name[hr]=Pretraži i pokreni
Name[ia]=Cercar e Lancear
Name[ja]=検索と起動
Name[ko]=찾아서 실행하기
Name[nb]=Søk og start
Name[nds]=Söken un opropen
Name[nl]=Zoeken en starten
Name[pa]=ਖੋਜ ਅਤੇ ਚਲਾਓ
Name[pt]=Pesquisa e Lançamento
Name[pt_BR]=Pesquisar e executar
Name[sv]=Sök och starta
Name[th]=ค้นหาและเรียกใช้งาน
Name[tr]=Ara ve Çalıştır
Name[uk]=Пошук і запуск
Name[x-test]=xxSearch and Launchxx
Name[zh_TW]=搜尋並啟動
Comment=Full screen application launcher with search interface
Comment[ast]=Llanzador d'aplicaciones a pantalla completa con una interface de gueta
Comment[de]=Anwendungsstarter im Vollbildmodus mit Suchfeld
Comment[en_GB]=Full screen application launcher with search interface
Comment[es]=Lanzador de aplicaciones a pantalla completa con una interfaz de búsqueda
Comment[et]=Täisekraanis rakenduste käivitaja otsinguliidesega
Comment[hr]=Pokretač aplikacija sa sučeljem za pretraživanje preko cijelog ekrana
Comment[ia]=Lanceator de application a schermo plen con interfacie de cerca
Comment[ko]=검색 인터페이스가 있는 전체 화면 프로그램 실행기
Comment[nb]=Fullskjerms programstarter med grensesnitt for søk
Comment[nds]=Heelschirm-Programmoproper mit Söök-Koppelsteed
Comment[nl]=Programmastarter op volledig scherm met zoekinterface
Comment[pt]=Um lançador de aplicações de ecrã completo, com interface de pesquisa
Comment[pt_BR]=Um lançador de aplicativos de tela cheia completo, com interface de pesquisa
Comment[sv]=Startprogram med fullskärm och sökgränssnitt
Comment[th]=ตัวเรียกใช้งานแอพลิเคชันเต็มจอด้วยอินเทอร์เฟซการค้นหา
Comment[uk]=Повноекранний інструмент запуску програм з інтерфейсом пошуку
Comment[x-test]=xxFull screen application launcher with search interfacexx
Comment[zh_TW]=全畫面應用程式啟動器，有搜尋介面

Icon=edit-find
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,desktop
NoDisplay=false

X-KDE-Library=plasma_containment_sal
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=sal
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
