[Desktop Entry]
Name=Search and Locate Containment
Name[id]=Pembatasan Penelusuran dan Pencarian
Name[nds]=Söök- un Finngelaats
Name[pt]=Contentor de Pesquisa e Localização
Name[pt_BR]=Contentor de Pesquisa e Localização
Name[sv]=Sök- och lokaliseringsomgivning
Name[uk]=Контейнер пошуку і адрес
Name[x-test]=xxSearch and Locate Containmentxx
Comment=Special Containment with Launcher
Comment[id]=Pembatasan Khusus Dengan Peluncur
Comment[nds]=Besünner Gelaats mit Oproper
Comment[pt]=Contentor Especial com Lançamento
Comment[pt_BR]=Contentor Especial com Lançamento
Comment[sv]=Särskild omgivning med programstart
Comment[uk]=Особливий контейнер з інструментом запуску
Comment[x-test]=xxSpecial Containment with Launcherxx

Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,desktop
NoDisplay=true

X-KDE-Library=plasma_containment_sal
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=sal
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
