[Desktop Entry]
Name=script-digital-clock
Name[is]=Stafræn klukkuskrifta
Name[km]=នាឡិកា​ឌីជីថលស្គ្រីប
Name[mk]=Едноставен дигитален часовник
Name[nds]=Skript-Digitaalklock
Name[nl]=script-digitale-klok
Name[sv]=Skript med digitalklocka
Name[tr]=betik-dijital-saat
Comment=Javascript digital clock
Comment[ca]=Rellotge digital en Javascript
Comment[da]=Digitalt ur i Javascript
Comment[de]=Eine digitale Javascript-Uhr
Comment[el]=Ψηφιακό ρολόι Javascript
Comment[et]=Javascripti digikell
Comment[gl]=Reloxo dixital escrito en JavaScript
Comment[is]=JavaScript stafræn klukka
Comment[km]=នាឡិកា​ឌីជីថល Javascript
Comment[ko]=자바스크립트 디지털 시계
Comment[nds]=JavaScript-Digitaalklock
Comment[nl]=Digitale klok geschreven in Javascript
Comment[or]=Javascript ସାଂଖିକ ଘଡ଼ି
Comment[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਡਿਜਟੈੱਲ ਕਲਾਕ
Comment[pt]=Relógio digital em JavaScript
Comment[pt_BR]=Relógio digital em JavaScript
Comment[sr]=Јаваскриптни дигитални сат
Comment[sr@latin]=Јаваскриптни дигитални сат
Comment[sv]=Javascript-digitalklocka
Comment[tr]=Javascript dijital saat
Comment[uk]=Цифровий годинник на JavaScript
Comment[zh_TW]=Javascript 數位時鐘
Icon=configure
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=script-digital-clock
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
