[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Run Command
Name[af]=Hardloop Opdrag
Name[ar]=نفذ الأمر
Name[be]=Выканаць каманду
Name[bg]=Изпълнение на команда
Name[br]=Seveniñ ur Goulev
Name[ca]=Executa un comandament
Name[cs]=Spustit příkaz
Name[csb]=Zrëszenié pòlétu
Name[cy]=Rhedeg Gorchymyn
Name[da]=Kør kommando
Name[de]=Befehl ausführen
Name[el]=Εκτέλεση εντολής
Name[eo]=Lanĉu komandon
Name[es]=Ejecutar una orden
Name[et]=Käsu käivitamine
Name[eu]=Exekutatu komandoa
Name[fa]=اجرای فرمان
Name[fi]=Suorita komento
Name[fr]=Lancer une commande
Name[fy]=kommando útfiere
Name[ga]=Rith Ordú
Name[gl]=Executar Comando
Name[he]=הפעלת פקודה
Name[hr]=Pokreni naredbu
Name[hu]=Parancs végrehajtása
Name[is]=Keyra skipun
Name[it]=Esegui comando
Name[ja]=コマンドを実行
Name[ka]=ბრძანების შესრულება
Name[kk]=Команданы орындау
Name[km]=រត់​ពាក្យ​បញ្ជា
Name[lt]=Paleisti komandą
Name[lv]=Darbināt komandu
Name[mk]=Изврши команда
Name[ms]=Arahan Laksana
Name[nb]=Kjør kommando
Name[nds]=Befehl utföhren
Name[ne]=आदेश चलाउनुहोस्
Name[nl]=Commando uitvoeren
Name[nn]=Køyr kommando
Name[pa]=ਕਮਾਂਡ ਚਲਾਓ
Name[pl]=Uruchomienie polecenia
Name[pt]=Executar um Comando
Name[pt_BR]=Executar Comando
Name[ro]=Execută comanda
Name[ru]=Выполнить команду
Name[se]=Vuoje gohččuma
Name[sl]=Poženi ukaz
Name[sr]=Покретање наредбе
Name[sr@latin]=Pokretanje naredbe
Name[sv]=Kör kommando
Name[ta]=இயக்க கட்டளை
Name[th]=ใช้งานคำสั่ง
Name[tr]=Komut Çalıştır
Name[uk]=Запуск команди
Name[uz]=Буйруқни бажариш
Name[vi]=Chạy lệnh
Name[x-test]=xxRun Commandxx
Name[zh_CN]=运行命令
Name[zh_TW]=執行命令
Comment=A command line applet
Comment[ar]=بريمج خط أوامر
Comment[bg]=Аплет за команден ред
Comment[cs]=Applet příkazové řádky
Comment[de]=Eine Mini-Befehlszeile
Comment[el]=Ένα εφαρμογίδιο γραμμής εντολών
Comment[es]=Una miniaplicación con una línea de órdenes
Comment[fa]=برنامک خط فرمان
Comment[he]=יישומון שורת פקודה
Comment[ja]=コマンドラインアプレット
Comment[kk]=Команда жолы апплеті
Comment[km]=អាប់​ភ្លេត​បន្ទាត់​ពាក្យ​បញ្ជា​
Comment[nb]=Et miniprogram for kommandolinje
Comment[nds]=En Befehlsreeg-Lüttprogramm
Comment[ne]=आदेश रेखा एप्लेट
Comment[nl]=Een commandoregel-applet
Comment[pa]=ਇੱਕ ਕਮਾਂਡ ਲਾਇਨ ਐਪਲਿਟ
Comment[pt]=Uma 'applet' com uma linha de comandos
Comment[pt_BR]=Um mini-aplicativo de linha de comando
Comment[sv]=Ett miniprogram med kommandorad
Comment[th]=แอพเพล็ตสำหรับพิมพ์คำสั่ง
Comment[vi]=Tiểu dụng dòng lệnh
Comment[x-test]=xxA command line appletxx
Comment[zh_CN]=命令行小程序
Comment[zh_TW]=一個命令列的小程式
Icon=exec
X-KDE-Library=run_panelapplet
X-KDE-UniqueApplet=true
