[Desktop Entry]
Name=Contextual Menu
Name[pt]=Menu de Contexto
Name[pt_BR]=Menu de Contexto
Name[sv]=Sammanhangsberoende meny
Name[uk]=Контекстне меню
Name[x-test]=xxContextual Menuxx
Comment=The menu that normally shows on right-click
Comment[pt]=O menu que aparece normalmente com o botão direito
Comment[pt_BR]=O menu que aparece normalmente com o botão direito
Comment[sv]=Menyn som normalt visas med ett högerklick
Comment[uk]=Меню, яке буде показано у відповідь на клацання правою кнопкою миші
Comment[x-test]=xxThe menu that normally shows on right-clickxx
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_contextmenu
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=contextmenu
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

