[Desktop Entry]
Exec=kcmshell4 bell
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/bell/index.html
Categories=Qt;KDE;X-KDE-settings-sound;

X-KDE-Library=kcm_bell
X-KDE-Init-Symbol=bell
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=60

Name=System Bell
Name[af]=Stelsel Klok
Name[ar]=جرس النظام
Name[ast]=Pitíu del sistema
Name[be]=Сістэмны званок
Name[be@latin]=Systemny hukavy syhnał
Name[bg]=Системен звук
Name[bn]=সিস্টেম ঘণ্টা
Name[bn_IN]=সিস্টেমের ঘন্টা
Name[br]=Kloc'h ar reizhiad
Name[bs]=Sistemsko zvono
Name[ca]=Timbre del sistema
Name[ca@valencia]=Timbre del sistema
Name[cs]=Systémový zvonek
Name[csb]=Systemowi brzãczk
Name[cy]=Cloch Cysawd
Name[da]=Systemklokke
Name[de]=Signalton
Name[el]=Μεγαφωνάκι συστήματος
Name[en_GB]=System Bell
Name[eo]=Sistempepo
Name[es]=Timbre del sistema
Name[et]=Süsteemne signaal
Name[eu]=Sistemaren ezkila
Name[fa]=زنگ سیستم
Name[fi]=Järjestelmän varoitus
Name[fr]=Cloche du système
Name[fy]=Systeembel
Name[ga]=Cloigín an Chórais
Name[gl]=Badalada do sistema
Name[gu]=સિસ્ટમ ઘંટડી
Name[he]=פעמון המערכת
Name[hi]=तंत्र घंटी
Name[hne]=तंत्र घंटी
Name[hr]=Sistemsko zvono
Name[hsb]=Systemowy zwónčk
Name[hu]=Rendszercsengő
Name[ia]=Campana de systema
Name[id]=Bel Sistem
Name[is]=Kerfisbjalla
Name[it]=Campanella di sistema
Name[ja]=システムベル
Name[ka]=სისტემის ხმოვანი სიგნალი
Name[kk]=Жүйелік қоңырау
Name[km]=កណ្ដឹង​ប្រព័ន្ធ
Name[kn]=ವ್ಯವಸ್ಥಾ ಗಂಟೆ
Name[ko]=시스템 종소리
Name[ku]=Zingila Pergalê
Name[lt]=Sistemos skambutis
Name[lv]=Sistēmas zvans
Name[mai]=तंत्र घंटी
Name[mk]=Системско ѕвонче
Name[ml]=സിസ്റ്റം മണി
Name[mr]=प्रणाली घंटी
Name[ms]=Loceng Sistem
Name[nb]=Systemlyd
Name[nds]=Systeempingel
Name[ne]=प्रणाली बेल
Name[nl]=Systeembel
Name[nn]=Systemlyd
Name[or]=ତନ୍ତ୍ର ଘଣ୍ଟି
Name[pa]=ਸਿਸਟਮ ਘੰਟੀ
Name[pl]=Brzęczyk systemowy
Name[pt]=Campainha do Sistema
Name[pt_BR]=Campainha do sistema
Name[ro]=Sunet de difuzor
Name[ru]=Системный звуковой сигнал
Name[se]=Vuogádatjietna
Name[si]=පද්ධති සීනුව
Name[sk]=Zvonček
Name[sl]=Sistemski zvonec
Name[sr]=Системско звоно
Name[sr@ijekavian]=Системско звоно
Name[sr@ijekavianlatin]=Sistemsko zvono
Name[sr@latin]=Sistemsko zvono
Name[sv]=Systemsummer
Name[ta]=அமைப்பு மணி
Name[te]=వ్యవస్థ గంట
Name[tg]=Системаи занг
Name[th]=ออดระบบ
Name[tr]=Sistem Zili
Name[ug]=سىستېما قوڭغۇراق ئاۋازى
Name[uk]=Системний дзвінок
Name[uz]=Tizim tovush signali
Name[uz@cyrillic]=Тизим товуш сигнали
Name[vi]=Chuông hệ thống
Name[wa]=Xhuflet do sistinme
Name[xh]=Indlela yokusebenza Yentsimbi
Name[x-test]=xxSystem Bellxx
Name[zh_CN]=系统铃声
Name[zh_TW]=系統鈴聲

Comment=System Bell Configuration
Comment[af]=Stelsel Klok Opstelling
Comment[ar]=إعداد جرس النظام
Comment[ast]=Configuración del pitíu del sistema
Comment[be]=Настаўленне сістэмнага званка
Comment[be@latin]=Nałady systemnaha hukavoha syhnału
Comment[bg]=Настройване звуковия сигнал на системата
Comment[bn]=সিস্টেম ঘণ্টা কনফিগারেশন
Comment[bn_IN]=সিস্টেমের ঘন্টা সংক্রান্ত কনফিগারেশন
Comment[br]=Kefluniañ kloc'h ar reizhiad
Comment[bs]=Postava sistemskog zvona
Comment[ca]=Configuració del timbre del sistema
Comment[ca@valencia]=Configuració del timbre del sistema
Comment[cs]=Nastavení systémového zvonku
Comment[csb]=Kònfigùracëjô systemòwégò brzãczka
Comment[cy]=Gosodiadau'r Cloch Cysawd
Comment[da]=Systemklokkeindstilling
Comment[de]=Einstellungen zum Signalton
Comment[el]=Ρυθμίσεις για το μεγαφωνάκι του συστήματός σας
Comment[en_GB]=System Bell Configuration
Comment[eo]=Agordo de la sistempepo
Comment[es]=Configuración del timbre del sistema
Comment[et]=Süsteemse signaali seadistamine
Comment[eu]=Sistemaren ezkilaren konfigurazioa
Comment[fa]=پیکربندی زنگ سیستم
Comment[fi]=Järjestelmän varoitusäänen asetus
Comment[fr]=Configuration de la cloche du système
Comment[fy]=Systeemlûden ynstelle
Comment[ga]=Cumraíocht Chloigín an Chórais
Comment[gl]=Configuración da badalada do sistema
Comment[gu]=સિસ્ટમ ઘંટડી રૂપરેખાંકન
Comment[he]=הגדרות פעמון המערכת
Comment[hi]=तंत्र घंटी कॉन्फ़िगरेशन
Comment[hne]=तंत्र घंटी कान्फिगरेसन
Comment[hr]=Konfiguracija sistemskog zvona
Comment[hsb]=Připrawjenje systemoweho zwónčka
Comment[hu]=A rendszercsengő beállításai
Comment[ia]=Configuration del campana de systema
Comment[id]=Konfigurasi Bel Sistem
Comment[is]=Stillingar kerfishljóða
Comment[it]=Configurazione della campanella di sistema
Comment[ja]=システムベルの設定
Comment[ka]=სისტემის ხმოვანი სიგნალის კონფიგურაცია
Comment[kk]=Жүйелік қоңырауды баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​កណ្ដឹង​ប្រព័ន្ធ
Comment[kn]=ವ್ಯವಸ್ಥಾ ಗಂಟೆ ಸಂರಚನೆ
Comment[ko]=시스템 종소리 설정
Comment[ku]=Veavakirina Zingila Pergalê
Comment[lt]=Sistemos skambučio derinimas
Comment[lv]=Sistēmas zvana konfigurācija
Comment[mai]=तंत्र घंटी कान्फिगरेशन
Comment[mk]=Конфигурација на системското ѕвонче
Comment[ml]=സിസ്റ്റത്തിന്റെ മണിയ്ക്കുള്ള ക്രമീകരണം
Comment[mr]=प्रणाली घंटी संयोजना
Comment[ms]=Konfigurasi Loceng Sistem
Comment[nb]=Oppsett av systemlyd
Comment[nds]=Systeempingel instellen
Comment[ne]=प्रणाली बेल कन्फिगरेसन
Comment[nl]=Systeemgeluiden instellen
Comment[nn]=Systemlydoppsett
Comment[or]=ତନ୍ତ୍ର ଘଣ୍ଟି ସଂରଚନା
Comment[pa]=ਸਿਸਟਮ ਘੰਟੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja brzęczka systemowego
Comment[pt]=Configuração da Campainha do Sistema
Comment[pt_BR]=Configuração da campainha do sistema
Comment[ro]=Configurare Clopoțel de sistem
Comment[ru]=Настройка системного звукового сигнала
Comment[se]=Vuogádatjietnaheivehusat
Comment[si]=පද්ධති සීනු සැකසුම්
Comment[sk]=Nastavenie zvončeka
Comment[sl]=Nastavitve sistemskega zvonca
Comment[sr]=Постава системског звона
Comment[sr@ijekavian]=Постава системског звона
Comment[sr@ijekavianlatin]=Postava sistemskog zvona
Comment[sr@latin]=Postava sistemskog zvona
Comment[sv]=Anpassa systemets summer
Comment[ta]=அமைப்பின் மணி வடிவமைப்பு
Comment[te]=సిస్టమ్ బెల్ సాధనం
Comment[tg]=Танзимоти системаи занг
Comment[th]=ปรับแต่งออดระบบ
Comment[tr]=Sistem Zili Yapılandırması
Comment[ug]=سىستېما قوڭغۇرىقى سەپلىمىسى
Comment[uk]=Налаштування системного дзвінка
Comment[uz]=Tizim tovush signalini moslash
Comment[uz@cyrillic]=Тизим товуш сигналини мослаш
Comment[vi]=Cấu hình Chuông Hệ thống
Comment[wa]=Apontiaedje do xhuflet do sistinme
Comment[xh]=Uqwalaselo Lwendlela Yentsimbi
Comment[x-test]=xxSystem Bell Configurationxx
Comment[zh_CN]=系统铃声配置
Comment[zh_TW]=系統鈴聲組態

X-KDE-Keywords=Bell,Audio,Sound,Volume,Pitch,Duration
X-KDE-Keywords[ca]=Campana,Àudio,So,Volum,To,Durada
X-KDE-Keywords[da]=Klokke,lyd,lydstyrke,tone,varighed
X-KDE-Keywords[de]=Signalton,Systemton,Klänge,Audio,Sound,Dauer,Lautstärke,Höhen
X-KDE-Keywords[et]=Kell,audio,heli,helitugevus,toon,kestus
X-KDE-Keywords[fi]=varoitus,äänimerkki,ääni,äänenvoimakkuus,korkeus,kesto
X-KDE-Keywords[ia]=Campana,Audio,Sono,Volumine,Accordatura,Duration
X-KDE-Keywords[kk]=Bell,Audio,Sound,Volume,Pitch,Duration
X-KDE-Keywords[nb]=Bjelle, Lyd,Lydstyrke,Tone,Varighet
X-KDE-Keywords[nds]=Pingel,Klang,Kläng,Luutstärk,Toonhööchde,Duer
X-KDE-Keywords[nl]=Bel,audio,geluid,volume,toonhoogte,duur
X-KDE-Keywords[pt]=Campainha,Áudio,Som,Volume,Frequência,Duração
X-KDE-Keywords[pt_BR]=Campainha,Áudio,Som,Volume,Frequência,Duração
X-KDE-Keywords[sv]=Summer,Ljud,Volym,Tonhöjd,Längd
X-KDE-Keywords[uk]=Bell,Audio,Sound,Volume,Pitch,Duration,дзвінок,гудок,звук,гучність,тон,тривалість
X-KDE-Keywords[x-test]=xxBell,Audio,Sound,Volume,Pitch,Durationxx
X-KDE-Keywords[zh_TW]=Bell,Audio,Sound,Volume,Pitch,Duration

