[Desktop Entry]
Exec=kcmshell4 bell
Icon=preferences-desktop-notification-bell
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/bell/index.html
Categories=Qt;KDE;X-KDE-settings-sound;

X-KDE-Library=kcm_bell
X-KDE-Init-Symbol=bell
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-and-system-notifications
X-KDE-Weight=60

Name=System Bell

Comment=System Bell Configuration

X-KDE-Keywords=Bell,Audio,Sound,Volume,Pitch,Duration
X-KDE-Keywords[be]=Званок,аўдыё,гук,гучнасць,Bell,Audio,Sound,Volume,Pitch,Duration
X-KDE-Keywords[bg]=Keywords=звук, системен, говорител, сила, Bell, Audio, Sound, Volume, Pitch, Duration
X-KDE-Keywords[ca]=Timbre,Àudio,So,Volum,To,Durada
X-KDE-Keywords[cs]=Systémový zvonek,Audio,Zvuk,Hlasitost,Trvání
X-KDE-Keywords[csb]=brzãczk,audio,zwãk,głosnosc,tonacëjô,dérowanié
X-KDE-Keywords[cy]=Cloch,Awdio,S?n,Sain,Gogwydd,Hyd
X-KDE-Keywords[da]=Klokke,Audio,Lyd,Lydstyrke,Tonehøjde,Varighed
X-KDE-Keywords[de]=Signalton,Systemton,Klänge,Audio,Sound,Dauer,Lautstärke,Höhen
X-KDE-Keywords[el]=Μεγαφωνάκι,Audio,Ήχος,Ένταση,Τονισμός,Διάρκεια
X-KDE-Keywords[eo]=pepo,sonoro,sono,aŭdio,alteco,daŭro
X-KDE-Keywords[es]=Timbre,Audio,Sonido,Volumen,Tono,Duración
X-KDE-Keywords[et]=signaal,audio,heli,helitugevus,helikõrgus,kestvus
X-KDE-Keywords[eu]=Ezkila,Audioa,Soinua,Bolumena,Pitch-a,Iraupena
X-KDE-Keywords[fa]=زنگ، صوتی، صوت، حجم صدا، زیروبمی صدا، دوام
X-KDE-Keywords[fi]=Äänet,Piippaus,Ääni,Äänenvoimakkuus,Korkeus,Kesto
X-KDE-Keywords[fr]=cloche,audio,son,volume,durée,modulation,bip
X-KDE-Keywords[fy]=bel,audio,lûd,folume,singalering,lûd,duer,toan,toanen,toanhichte,systeemlûden,systeembel
X-KDE-Keywords[ga]=Clog,Fuaim,Airde,Fad
X-KDE-Keywords[gl]=Badalada,Audio,Son,Volume,Pitch,Duración
X-KDE-Keywords[he]=פעמון,שמע,צליל,עצמה,גובה,משך, Bell,Audio,Sound,Volume,Pitch,Duration
X-KDE-Keywords[hr]=Bell,Audio,Sound,Volume,Pitch,Duration,Zvono,Zvuk,Zvuci sustava,Sistemsko zvono,Glasnoća,Razdoblje
X-KDE-Keywords[hu]=csengő,audió,hang,hangerő,hangmagasság,időtartam
X-KDE-Keywords[is]=Kerfishljóð,hljóð,bjalla,styrkur,hljóðstyrkur,tónn,lengd,tónlengd
X-KDE-Keywords[it]=campanella,segnalazione acustica,audio,suono,volume,tono,durata
X-KDE-Keywords[ja]=ベル,オーディオ,サウンド,音量,ピッチ,持続時間
X-KDE-Keywords[ka]=ზარი, აუდიო, ხმა, ხმა, მიწოდება, ხანგრძლივობა
X-KDE-Keywords[km]=កណ្ដឹង,អូឌីយ៉ូ,សំឡេង,ជម្រេ,ថិរវេលា
X-KDE-Keywords[ko]=벨,오디오,종소리,소리,소리 크기
X-KDE-Keywords[lt]=Bell,skambutis,Audio,Sound,garsas,Volume,garsumas,Pitch,aukštis,Duration,trukmė
X-KDE-Keywords[lv]=Zvans,Audio,Skaņa,Līmenis,Pīķis,Ilgums
X-KDE-Keywords[mk]=Bell,Audio,Sound,Volume,Pitch,Duration,Ѕвонче,Аудио,Звук,Гласност,Амплитуда,Траење
X-KDE-Keywords[ms]=Loceng,Audio,Bunyi,Volum,Pic,Tempoh
X-KDE-Keywords[nb]=signal,audio,lyd,lydstyrke,volum,tone,lengde
X-KDE-Keywords[nds]=Pingel,Audio,Klang,Kläng,Luutstärk,Pitch,Duer
X-KDE-Keywords[ne]=बेल, अडियो, ध्वनि, भोल्युम, पिच, अन्तराल
X-KDE-Keywords[nl]=bel,audio,sound,volume,signalering,geluid,duur,toon,tonen,toonhoogte,systeemgeluiden,systeembel
X-KDE-Keywords[nn]=signal,audio,lyd,lydstyrke,volum,tone,lengd
X-KDE-Keywords[pa]=Bell,Audio,Sound,Volume,Pitch,Duration, ਘੰਟੀ, ਆਡੀਓ, ਸਾਊਡ
X-KDE-Keywords[pl]=Brzęczyk,Audio,Dźwięk,Głośność,Tonacja,Trwanie
X-KDE-Keywords[pt]=Campainha,Áudio,Som,Volume,Frequência,Duração
X-KDE-Keywords[pt_BR]=Campainha,Áudio,Som,Volume,Tom,Duração
X-KDE-Keywords[ro]=difuzor,audio,sunet,volum,frecvenţă,durată
X-KDE-Keywords[se]=signála,audio,jietna,voluma,nuohtta,guhkkodat
X-KDE-Keywords[sl]=zvonec,avdio,zvok,glasnost,višina,trajanje
X-KDE-Keywords[sr]=bell,audio,sound,volume,pitch,duration,звоно,аудио,звук,јачина,трајање
X-KDE-Keywords[sr@latin]=bell,audio,sound,volume,pitch,duration,zvono,audio,zvuk,jačina,trajanje
X-KDE-Keywords[sv]=Summer,Ljud,Volym,Tonhöjd,Varaktighet
X-KDE-Keywords[ta]=மணி,ஒலி அமைப்பு,ஒலி,ஒலி,இடம்,நேர அளவு
X-KDE-Keywords[tg]=Bell,Audio,Sound,Volume,Pitch,Duration,Занг,Аудио,Садо
X-KDE-Keywords[th]=ออด,ระบบเสียง,เสียง,ความดังเสียง,ระดับเสียง,ความยาวเสียง
X-KDE-Keywords[tr]=zil,Ses,Ses,Ses Ayarı,Adım,Süre
X-KDE-Keywords[uk]=аудіо,гучність,висота,тривалість,гудок,звук
X-KDE-Keywords[uz]=Товуш сигнали,Аудио,Товуш,Товуш баландлиги,Pitch,Давом этиши
X-KDE-Keywords[vi]=Chuông,Âm nhạc,Âm thanh,Âm lượng,Âm sắc,Thời lượng
X-KDE-Keywords[x-test]=xxBell,Audio,Sound,Volume,Pitch,Durationxx
X-KDE-Keywords[xh]=Intsimbi,Evakalayo,iSandi,Umqulu,Uniko lobude obufunekayo,Ixesha ezalithatha
X-KDE-Keywords[zh_CN]=Bell,Audio,Sound,Volume,Pitch,Duration,响铃,音频,音量,音调,持续时间
X-KDE-Keywords[zh_TW]=Bell,Audio,Sound,Volume,Pitch,Duration,響鈴,聲音,音量,音調,持續時間

