[KDE Desktop Pattern]
Comment=Fish Net
Comment[af]=Visnet
Comment[be]=Сетка Fish
Comment[br]=Roued pesk
Comment[ca]=Xarxa de pesca
Comment[cs]=Rybářská síť
Comment[cy]=Rhwyd Pysgod
Comment[da]=Fiskenet
Comment[de]=Fischnetz
Comment[el]=Δίχτυ ψαρέματος
Comment[eo]=Fiŝreto
Comment[es]=Red de pesca
Comment[et]=Kalavõrk
Comment[eu]=Arrainetarako sarea
Comment[fa]=تور ماهی
Comment[fi]=Kalaverkko
Comment[fr]=Filet
Comment[fy]=Fisknet
Comment[gl]=Rede de Pesca
Comment[he]=רשת דייגים
Comment[hr]=Ribarska mreža
Comment[hu]=Halászháló
Comment[is]=Net
Comment[it]=Rete da pesca
Comment[ja]=漁網
Comment[ka]=მეთევზის ბადე
Comment[kk]=Балықшы ауы
Comment[km]=សំណាញ់
Comment[ko]=물고기 그물
Comment[lt]=Žuvų tinklas
Comment[lv]=Zivju Tīkls
Comment[mk]=Рибарска мрежа
Comment[ms]=Jala Ikan
Comment[nb]=Fiskegarn
Comment[nds]=Fischernett
Comment[ne]=फिस नेट
Comment[nl]=Visnet
Comment[nn]=Fiskegarn
Comment[pa]=ਮੱਛੀ ਨੈੱਟ
Comment[pl]=Sieć rybacka
Comment[pt]=Rede de pesca
Comment[ro]=Plasă de pescuit
Comment[ru]=Рыбацкая сеть
Comment[se]=Sáibma
Comment[sl]=Ribiška mreža
Comment[sr]=Рибарска мрежа
Comment[sr@Latn]=Ribarska mreža
Comment[sv]=Fisknät
Comment[ta]=மீன் வலை
Comment[tg]=Таври моҳигирӣ
Comment[tr]=Balık Ağı
Comment[uk]=Тенета
Comment[uz]=Тўр
Comment[x-test]=xxFish Netxx
Comment[zh_TW]=漁網
File=fish.png
