[KDE Desktop Pattern]
Comment=Flowers
Comment[af]=Blomme
Comment[be]=Кветкі
Comment[br]=Bleunioù
Comment[ca]=Flors
Comment[cs]=Květiny
Comment[cy]=Blodau
Comment[da]=Blomster
Comment[de]=Blumen
Comment[el]=Λουλούδια
Comment[eo]=Floroj
Comment[es]=Flores
Comment[et]=Lilled
Comment[eu]=Loreak
Comment[fa]=گلها
Comment[fi]=Kukat
Comment[fr]=Fleurs
Comment[fy]=Blommen
Comment[ga]=Bláthanna
Comment[gl]=Flores
Comment[he]=פרחים
Comment[hr]=Cvijeće
Comment[hu]=Virágok
Comment[is]=Blóm
Comment[it]=Fiori
Comment[ja]=花
Comment[ka]=ყვავილები
Comment[kk]=Гүлдер
Comment[km]=ផ្កា
Comment[ko]=꽃
Comment[lt]=Gėlės
Comment[lv]=Puķes
Comment[mk]=Цвеќиња
Comment[ms]=Bunga
Comment[nb]=Blomster
Comment[nds]=Blomen
Comment[ne]=फूल
Comment[nl]=Bloemen
Comment[nn]=Blomar
Comment[pa]=ਫੁੱਲ
Comment[pl]=Kwiaty
Comment[pt]=Flores
Comment[pt_BR]=Flores
Comment[ro]=Flori
Comment[ru]=Цветы
Comment[se]=Lieđit
Comment[sl]=Rože
Comment[sr]=Цвеће
Comment[sr@Latn]=Cveće
Comment[sv]=Blommor
Comment[ta]=பூக்கள்
Comment[tg]=Гулҳо
Comment[tr]=Çiçekler
Comment[uk]=Квіти
Comment[uz]=Гуллар
Comment[x-test]=xxFlowersxx
Comment[xh]=Iintyatyambo
Comment[zh_TW]=花朵
File=flowers.png
