[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[af]=Nag Klip deur Tigert
Comment[ar]=Night Rock من Tigert
Comment[be]=Начная Гара ад Tigert
Comment[br]=Karreg da noz gant Tigert
Comment[ca]=Rock nocturn per Tigert
Comment[cs]=Night Rock vytvořil Tigert
Comment[csb]=Nocny Rock (ùs. Tigert)
Comment[cy]=Carreg Nos gan Tigert
Comment[da]=Night Rock af Tigert
Comment[de]=Night Rock
Comment[el]=Night Rock από τον Tigert
Comment[eo]=Nokta roko
Comment[es]=Roca de noche por Tigert
Comment[et]=Night Rock (Tigert)
Comment[eu]=Gaueko Haitza, Tigert-ek egina
Comment[fa]=Night Rock توسط تیگرت
Comment[fi]=Night Rock, tehnyt Tigert
Comment[fr]=Night Rock par Tigert
Comment[fy]=Rots by Nacht, door Tigert
Comment[gl]=Night Rock por Tigert
Comment[he]=סלעים
Comment[hr]=Night Rock (izr. Tigert)
Comment[hu]=Tigert éjjeli sziklája
Comment[is]=Night Rock eftir Tigert
Comment[it]=Rock notturno (di Tigert)
Comment[ja]=Tigert による Night Rock
Comment[ka]=კლდე ღამით (Tigert)
Comment[kk]=Түнгі жартас (Tigert)
Comment[km]=សិលា​រាត្រី ដោយ Tigert
Comment[ko]=Tigert가 그린 Night Rock
Comment[lv]=Nakts Roks no Tigerta
Comment[mk]=Ноќен рок од Tigert
Comment[ms]=Batuan Malan oleh Tigert
Comment[nb]=Nattrock av Tigert
Comment[nds]=Night Rock vun Tigert
Comment[ne]=टिग्रेटद्वारा रातीको रक
Comment[nl]=Rots bij Nacht, door Tigert
Comment[nn]=Nattrock av Tigert
Comment[pa]=ਰਾਤ ਪਹਾੜੀ ਟੀਰਿਰਟ
Comment[pl]=Nocny Rock (wyk. Tigert)
Comment[pt]=Rocha nocturna
Comment[pt_BR]=Night Rock por Tigert
Comment[ro]=Piatră întunecată de Tigert
Comment[ru]=Ночная скала (Tigert)
Comment[se]=Tigert:a idjarocka
Comment[sl]=Nočni rock Tigerta
Comment[sv]=Nattsten av Tigert
Comment[ta]=டைக்ரட்இன் நைட்ராக்
Comment[tg]=Сахраҳои дар шаб аз Tigert
Comment[tr]=Tigert'dan Gece Kayası
Comment[uk]=Нічний політ Тайгерта
Comment[uz]=Оқшом қояси (Тигерт томонидан)
Comment[x-test]=xxNight Rock by Tigertxx
Comment[zh_TW]=午夜搖滾 (Tigert 繪製)
File=night-rock.jpg
