[KDE Desktop Pattern]
Comment=Rattan
Comment[bn]=রাটান
Comment[br]=Lien skosat
Comment[cs]=Rákos
Comment[eo]=Plektaĵo
Comment[es]=Rota (planta)
Comment[fi]=Rottinki
Comment[fr]=Rotin
Comment[fy]=Rotan
Comment[ga]=Ratán
Comment[he]=דקלים
Comment[hi]=बेंत
Comment[hu]=Nádfonat
Comment[id]=Rotan
Comment[ja]=藤
Comment[ko]=등나무
Comment[lo]=ຫວາຍ
Comment[lv]=Rotangpalma
Comment[mk]=Трска
Comment[nl]=Rotan
Comment[pa]=ਰਾਟਾਨ
Comment[pt]=Rota
Comment[ro]=Sac de iută
Comment[sk]=Trsť
Comment[sv]=Rotting
Comment[ta]=ரட்டன்
Comment[th]=หวาย
Comment[uz]=Пальма
Comment[vi]=Cây song mây
Comment[xx]=xxRattanxx
Comment[zh_CN]=藤条
Comment[zh_TW]=藤條
File=rattan.png
