[KDE Desktop Pattern]
Comment=Triangles
Comment[af]=Driehoeke
Comment[az]=Üç Bucaqlar
Comment[be]=Трохкутнікі
Comment[bn]=ত্রিভুজ
Comment[br]=Tric'hornioù
Comment[cs]=Trojúhelníky
Comment[cy]=Trionglau
Comment[da]=Trekanter
Comment[de]=Dreiecke
Comment[el]=Τρίγωνα
Comment[eo]=Trianguloj
Comment[es]=Triángulos
Comment[eu]=Triangeluak
Comment[fa]=مثلث‌ها
Comment[fi]=Kolmiot
Comment[fy]=Trijehoeken
Comment[ga]=Triantáin
Comment[gl]=Triángulos
Comment[he]=משולשים
Comment[hi]=त्रिभुज
Comment[hr]=Trokuti
Comment[hu]=Háromszögek
Comment[id]=Segi Tiga
Comment[is]=Þríhyrningar
Comment[it]=Triangoli
Comment[ja]=三角
Comment[ko]=세모꼴
Comment[lo]=ສາມລ່ງມ
Comment[lt]=Trikampiai
Comment[lv]=Trīsstūri
Comment[mk]=Триаголници
Comment[mn]=Гурвалжин
Comment[mt]=Triangoli
Comment[nb]=Trekanter
Comment[nds]=Dreeecks
Comment[nl]=Driehoeken
Comment[nn]=Trekantar
Comment[nso]=Dikhutlotharo
Comment[pa]=ਤਿਕੋਣਾਂ
Comment[pl]=Trójkąty
Comment[pt]=Triângulos
Comment[pt_BR]=Triângulos
Comment[ro]=Triunghiuri
Comment[ru]=Треугольники
Comment[se]=Golmmehat
Comment[sk]=Trojuholníky
Comment[sl]=Trikotniki
Comment[sr]=Троуглови
Comment[sr@Latn]=Trouglovi
Comment[sv]=Trianglar
Comment[ta]=முக்கோணங்கள்
Comment[tg]=Секунҷаҳо
Comment[th]=สามเหลี่ยม
Comment[tr]=Üçgenler
Comment[uk]=Трикутники
Comment[uz]=Учбурчаклар
Comment[ven]=Thiriengele
Comment[vi]=Tam giác
Comment[wa]=Triyangues
Comment[xh]=Oonxantathu
Comment[xx]=xxTrianglesxx
Comment[zh_CN]=三角形
Comment[zh_TW]=三角形
Comment[zu]=Onxantathu
File=triangles.png
