[Desktop Entry]
Encoding=UTF-8
Icon=exit
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/kcmsmserver/index.html
Exec=kcmshell kcmsmserver


X-KDE-Library=smserver
X-KDE-FactoryName=smserver
X-KDE-ParentApp=kcontrol

Name=Session Manager
Name[af]=Sessie Bestuurder
Name[ar]=مسيير الجلسات
Name[bg]=Системни сесии
Name[br]=Merour an dalc'hioù
Name[ca]=Gestor de la sessió
Name[cs]=Správce relace
Name[csb]=Menedżer sesëji
Name[cy]=Rheolydd Sesiwn
Name[da]=Sessionshåndtering
Name[de]=Sitzungsverwaltung
Name[el]=Διαχειριστής συνεδρίας
Name[eo]=Seancokonservilo
Name[es]=Administrador de sesiones
Name[et]=Seansihaldur
Name[eu]=Saio kudeatzailea
Name[fa]=مدیر نشست
Name[fi]=Istunnonhallinta
Name[fr]=Gestionnaire de session
Name[fy]=Sesjebehear
Name[ga]=Bainisteoir Seisiúin
Name[gl]=Xestor de Sesións
Name[he]=מנהל ההפעלה
Name[hr]=Upravitelj sesijama
Name[hu]=Munkafolyamatok
Name[is]=Setustjóri
Name[it]=Gestione della sessione
Name[ja]=セッションマネージャ
Name[ka]=სეანსების მენეჯერი
Name[kk]=Сеанс менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​សម័យ
Name[ko]=세션 관리자
Name[lt]=Sesijos valdyklė
Name[lv]=Sesiju Menedžeris
Name[mk]=Менаџер на сесии
Name[ms]=Pengurus Sesi
Name[nb]=Øktbehandler
Name[nds]=Törnpleger
Name[ne]=सत्र प्रबन्धक
Name[nl]=Sessiebeheer
Name[nn]=Økthandsamar
Name[pa]=ਸ਼ੈਸ਼ਨ ਮੈਨੇਜਰ
Name[pl]=Menedżer sesji
Name[pt]=Gestor de Sessões
Name[pt_BR]=Gerenciador de Sessão
Name[ro]=Managerul de sesiune
Name[ru]=Менеджер сеансов
Name[se]=Bargovuorrogieđahalli
Name[sl]=Upravitelj sej
Name[sr]=Менаџер сесија
Name[sr@Latn]=Menadžer sesija
Name[sv]=Sessionshanterare
Name[ta]=அமர்வு மேலாளர்
Name[tg]=Мудири нишаст
Name[tr]=Oturum Yöneticisi
Name[uk]=Менеджер сеансів
Name[uz]=Сеанс бошқарувчиси
Name[x-test]=xxSession Managerxx
Name[xh]=Umphathi wesiqendu
Name[zh_TW]=工作階段管理程式

Comment=Configure the session manager and logout settings
Comment[af]=Konfigureer die sessie bestuurder en teken af instellings
Comment[ar]=إعداد مسيير الجلسات و تعيينات تسجيل الخروج
Comment[bg]=Настройка на сесиите на системата и поведението при изход
Comment[br]=Kefluniañ ar merour an dalc'hioù hag an doare mont kuit
Comment[ca]=Aquí podeu configurar el gestor de la sessió i la sortida
Comment[cs]=Nastavení správce relace a odhlašování
Comment[csb]=Kònfigùracëjô menedżera sesëji ë nastôwów wëlogòwaniô
Comment[cy]=Ffurfweddu'r rheolydd sesiwn a gosodiadau allgofnodi
Comment[da]=Indstil sessionshåndterigen og opsætning for at logge af
Comment[de]=Einstellungen für Sitzungsverwaltung und Abmeldung vornehmen
Comment[el]=Ρυθμίστε το διαχειριστή συνεδρίας και τις επιλογές αποσύνδεσης
Comment[eo]=Agordo de la seancokonservilo kaj la adiaŭa maniero
Comment[es]=Configuración del administrador de sesiones y de la terminación
Comment[et]=Seansihalduri ja väljalogimise seadistamine
Comment[eu]=Konfiguratu saio kudeatzailea eta saio amaieraren ezarpenak
Comment[fa]=پیکربندی مدیر نشست و تنظیمات خروج
Comment[fi]=Istunnonhallinnan ja uloskirjautumisen asetukset
Comment[fr]=Configuration du gestionnaire de session et réglages de la sortie
Comment[fy]=Hjir kinne jo it sesjebehear en ôfmeld-ynstellings fêststelle
Comment[gl]=Configurar o xestor de sesións e as opcións de saída
Comment[he]=שינוי הגדרות מנהל ההפעלה והיציאה מהמערכת
Comment[hr]=Konfiguriranje upravitelja sesijama i postavkama odjavljivanja
Comment[hu]=A KDE munkafolyamat és a kijelentkezési mód beállításai
Comment[is]=Stilla setustjóra og aðgerðir við útstimplun
Comment[it]=Configura il gestore della sessione e le impostazioni di fine sessione
Comment[ja]=セッションマネージャとログアウト時の設定
Comment[ka]=სეანსების მენეჯერის და სისტემიდან გამოსვლის კონფიგურაცია
Comment[kk]=Сеанс менеджерді және жүйеден шығу параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​គ្រប់គ្រង​សម័យ និង​ការ​កំណត់​ពេល​ចេញ
Comment[lt]=Čia galite konfigūruoti sesijos tvarkyklę ir išsiregistravimo nustatymus
Comment[lv]=Šeit jūs varat konfigurēt sesiju menedžeri un pieteikšanās parametrus
Comment[mk]=Конфигурирајте го менаџерот на сесии и поставувањата за одјавување
Comment[ms]=Konfigur seting pengurus sesi dan bentangan
Comment[nb]=Her kan du tilpasse øktbehandleren og utlogginga
Comment[nds]=Dat Afmellen un den Törnpleger instellen
Comment[ne]=सत्र प्रबन्धक र लगआउट सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het sessiebeheer en de afmeld-instellingen bepalen
Comment[nn]=Oppsett av økthandsamar og utlogging
Comment[pa]=ਸ਼ੈਸ਼ਨ ਮੈਨੇਜਰ ਅਤੇ ਲਾਗਆਉਟ ਸੈਟਿੰਗ ਦੀ ਸਥਾਪਨ
Comment[pl]=Konfiguracja menedżera sesji i ustawień wylogowania
Comment[pt]=Configuração do gestor de sessões e das opções de encerramento
Comment[pt_BR]=Configura o gerenciador de sessão e definições de logout
Comment[ro]=Configurează managerul de sesiune şi setările de ieşire
Comment[ru]=Настройка менеджера сеансов
Comment[se]=Heivet bargovuorrogieđahalli ja olggosčáliheami
Comment[sl]=Tu lahko nastavite upravljalnik sej in nastavitve odjav
Comment[sr]=Подешавање менаџера сесија и поставки одјављивања
Comment[sr@Latn]=Podešavanje menadžera sesija i postavki odjavljivanja
Comment[sv]=Anpassa sessionshanteraren och utloggningsinställningar
Comment[ta]=அமர்வு மேளாலர் மற்றும் வெளிச்செல் அமைப்புகளை வடிவமை
Comment[tg]= Метавонед мудири нишаст ва танзимоти хурӯҷро дар инҷо пахш кунед
Comment[tr]=Oturum yöneticisi ve çıkış ayarlarını yapılandır
Comment[uk]=Налаштування менеджеру сеансів та параметри виходу з системи
Comment[uz]=Сеанс бошқарувчисини ва чиқиш мосламаларини мослаш
Comment[x-test]=xxConfigure the session manager and logout settingsxx
Comment[xh]=Qwalasela umphathi wesiqendu nezicwangciso zokuphuma ngaphandle
Comment[zh_TW]=設定工作階段管理程式與登出設定值

Keywords=ksmserver,session,logout,confirmation,save,restore
Keywords[ar]=ksmserver,جلسة,خروج,تأكيد,حفظ,استعادة
Keywords[bg]=сесия, сесии, изход, запис, възстановяване, ksmserver, session, logout, confirmation, save, restore
Keywords[ca]=ksmserver,sessió,sortida,confirmació,desa,restaura
Keywords[cs]=Správce relace,Relace,Odhlášení,Potvrzení,Uložení,Obnovení
Keywords[csb]=ksmserver,sesëjô,wëlogòwanié,pòcwierdzenié,zachòwanié stónu,òdtwòrzenié,kùńc robòtë,kùńc pracë
Keywords[cy]=ksmserver,sesiwn,allgofnodi,cadarnhau,cadw,adfer
Keywords[da]=ksmserver,session,log af,bekræftelse,gem,genopret
Keywords[de]=Ksmserver,Sitzung,Abmelden,Logout,Bestätigung,Speichern,Wiederherstellen
Keywords[el]=ksmserver,συνεδρία,αποσύνδεση,επιβεβαίωση,αποθήκευση,αποκατάσταση
Keywords[eo]=seancokonservilo,seanco,adaiŭo,konfirmo,sekurigo,restarigo
Keywords[es]=ksmserver,sesión,salida,confirmación,guardar,restaurar
Keywords[et]=ksmserver,seanss,väljalogimine,kinnitus,salvestamine,taastamine
Keywords[eu]=ksmserver,saioa,saio amaiera,berrespena,gorde,berrezarri
Keywords[fa]=ksmserver، نشست، خروج، تأیید، ذخیره، بازنشانی
Keywords[fi]=ksmserver,istunto,lopetus,vahvistus,tallenna,palauta
Keywords[fr]=ksmserver,session,arrêt,logout,confirmation,enregistrement,enregistrer,restaurer,restauration,connexion,déconnexion
Keywords[fy]=ksmserver,sesje,logout,ôfmelde,befêstiging,herstelle,opslaan,bewarje
Keywords[ga]=ksmserver,seisiún,logáil amach,dearbhú,sábháil,athchóiriú
Keywords[gl]=ksmserver,sesión,saída,confirmación,guardar,restaurar
Keywords[he]=הפעלה,יציאה,אישור,שמירה,שיחזור,ksmserver, session,logout,confirmation,save,restore
Keywords[hr]=ksmserver,session,logout,confirmation,save,restore,sesija,odjava,potvrda,spremanje,obnavljanje
Keywords[hu]=ksmserver,munkafolyamat,kijelentkezés,megerősítés,mentés,visszatöltés
Keywords[is]=ksmserver,seta,stimpla út,innskráning,staðfesting,vista,endurheimta
Keywords[it]=ksmserver,sessione,uscita,conferma,salva,ripristina
Keywords[ja]=ksmserver,セッション,ログアウト,確認,保存,復旧
Keywords[km]=ksmserver,សម័យ,ចេញ,ការ​អះអាង,រក្សាទុក,ស្ដារ​ឡើង​វិញ
Keywords[ko]=ksmserver,session,logout,confirmation,save,restore,세션,로그 아웃,확인,저장,되돌림
Keywords[lt]=ksmserver,sesija,išsiregistravimas,patvirtinimas,išsaugoti,atstatyti
Keywords[lv]=ksmserveris,sesija,atteikšanās,apstiprinājums,saglabāt,atjaunot
Keywords[mk]=ksmserver,session,logout,confirmation,save,restore, сесија,одјави се,потврда,сними,реконструирај
Keywords[nb]=ksmserver,økt,utlogging,lagre,gjenopprette
Keywords[nds]=ksmserver,Törn,afmellen,nafragen,Nafraag,sekern,wedderherstellen
Keywords[ne]=ksmserver,सत्र, लग आउट, यकीन, बचत गर्नुहोस्, पूर्वावस्थामा फर्काउनुहोस्
Keywords[nl]=ksmserver,sessie,logout,uitloggen,afmelden,bevestiging,herstellen,opslaan
Keywords[nn]=ksmserver,økt,utlogging,stadfesting,lagra,gjenopprett
Keywords[pa]=ksmserver,session,logout,confirmation,save,restore,ਸੰਭਾਲੋ,ਲਾਗਆਉਟ,ਪੁਸ਼ਟੀ
Keywords[pl]=ksmserver,sesja,wylogowanie,potwierdzenie,zachowanie stanu,odtworzenie,kończenie pracy
Keywords[pt]=ksmserver,sessão,terminar,confirmar,gravar,restaurar
Keywords[pt_BR]=ksmserver,sessão,finalizar,sair,confirmação,salvar,restaurar
Keywords[ro]=ksmserver,sesiune,ieşire,confirmare,salvare,refacere
Keywords[se]=ksmserver,bargovuorru,olggosčáliheapmi,nannen,vurket,máhcahit
Keywords[sl]=ksmserver,seja,odjava,potrditev,shrani,obnovi
Keywords[sr]=ksmserver,session,logout,confirmation,save,restore,сесија,одјављивање, потврда,снимање,обнављање
Keywords[sr@Latn]=ksmserver,session,logout,confirmation,save,restore,sesija,odjavljivanje, potvrda,snimanje,obnavljanje
Keywords[sv]=ksmserver,session,logga ut,bekräftelse,spara,återställa
Keywords[ta]=ksmசேவகன்,அமர்வு,வெளிசெல்,உறுதி செய்,சேமி,திரும்ப பெறு
Keywords[tr]=ksmserver,oturum,çıkış,kaydet
Keywords[uk]=ksmserver,сеанс,кінець сеансу,підтвердження,збереження,відновлення
Keywords[uz]=ksmserver,сеанс,чиқиш,тасдиқлаш,сақлаш,тиклаш
Keywords[x-test]=xxksmserver,session,logout,confirmation,save,restorexx
Keywords[xh]=ksmserver,isiqendu,phuma ngaphandle,uqinisekiso,gcina,gcina kwakhona
Keywords[zh_TW]=ksmserver,session,logout,confirmation,save,restore,工作階段,登出,確認,儲存,回復

Categories=Qt;KDE;X-KDE-settings-components;
