[Desktop Entry]
Encoding=UTF-8
Name=Places Data Engine
Name[et]=Asukohtade andmete mootor
Name[ga]=Inneall Sonraí Áiteanna
Name[ja]=場所データエンジン
Name[km]=ដាក់​ម៉ាស៊ីន​ទិន្នន័យ
Name[ko]=장소 데이터 엔진
Name[nb]=Steder datamotor
Name[nds]=Steden-Hanteerkarn
Name[nl]=Locaties (gegevensengine)
Name[pt]=Motor de Dados dos Locais
Name[pt_BR]=Mecanismo de Dados de Locais
Name[sv]=Datagränssnitt för platser
Name[zh_TW]=Places 資料引擎
Comment=Places data for Plasmoids
Comment[et]=Asukohtade andmed plasmoididele
Comment[ga]=Sonraí áiteanna le haghaidh Plasmoids
Comment[ja]=Plasmoid のための場所データ
Comment[km]=ដាក់​ម៉ាស៊ីន​ទិន្នន័យ Plasmoids
Comment[ko]=Plasmoid를 위한 장소 데이터
Comment[nb]=Stedsdata for Plasmoids
Comment[nds]=Steeddaten för Plasmoiden
Comment[nl]=Locatiegegevens voor Plasmoids
Comment[pt]=Dados dos locais para os Plasmóides
Comment[pt_BR]=Dados de locais para os Plasmoids
Comment[sv]=Platsdata för Plasmoider
Comment[zh_TW]=Plasmoid 的 Places 資料
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=folder
X-KDE-Library=plasma_engine_places
X-EngineName=places
