[Desktop Entry]
Encoding=UTF-8
Name=Dictionary Data Engine
Comment=Look up word meanings
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=accessories-dictionary
X-KDE-Library=plasma_engine_dict
X-EngineName=dict
