[Desktop Entry]
Encoding=UTF-8
Name=Dictionary Data Engine
Name[el]=Μηχανή δεδομένων λεξικού
Name[ga]=Inneall Sonraí Foclóra
Name[ja]=辞書データエンジン
Name[kk]=Сөздік деректер тетігі
Name[ko]=사전 데이터 엔진
Name[nb]=Ordboksdata-motor
Name[nds]=Wöörbook-Datenhanteerkarn
Name[nl]=Woordenboek-gegevensengine
Name[nn]=Ordboksdatamotor
Name[pt]=Motor de Dados do Dicionário
Name[pt_BR]=Mecanismo de Dados do Dicionário
Name[sv]=Datagränssnitt för ordlista
Name[x-test]=xxDictionary Data Enginexx
Name[zh_CN]=字典数据引擎
Name[zh_TW]=字典資料引擎
Comment=Look up word meanings
Comment[el]=Αναζήτηση σημασίας λέξεων
Comment[ja]=単語の意味を調べる
Comment[kk]=Сөздің мәнін қарастыру
Comment[ko]=단어의 뜻 찾기
Comment[nb]=Slåopp betydningen av ord
Comment[nds]=Woortbedüden naslaan
Comment[nl]=Zoek de betekenis van woorden op
Comment[nn]=Slå opp tydinga til ord
Comment[pt]=Procurar os significados das palavras
Comment[pt_BR]=Procurar os significados das palavras
Comment[sv]=Slå upp ords betydelse
Comment[x-test]=xxLook up word meaningsxx
Comment[zh_CN]=查阅单词含义
Comment[zh_TW]=尋找單字的意義
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=accessories-dictionary
X-KDE-Library=plasma_engine_dict
X-EngineName=dict
