[Desktop Entry]
Encoding=UTF-8
Name=Networking
Name[ar]=التشبيك
Name[be@latin]=Sietka
Name[ca]=Treball en xarxa
Name[cs]=Síťové nástroje
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[es]=Red
Name[et]=Võrk
Name[gl]=Rede
Name[gu]=નેટવર્કિંગ
Name[hi]=नेटवर्किंग
Name[it]=Rete
Name[ja]=ネットワーキング
Name[kk]=Желі
Name[km]=ការ​តបណ្ដាញ
Name[kn]=ಜಾಲಬಂಧ
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[ml]=നെറ്റ്വര്‍ക്കിങ്ങ്
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[nl]=Netwerken
Name[pa]=ਨੈੱਟਵਰਕਿੰਗ
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[sv]=Nätverk
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[uk]=Робота у мережі
Name[x-test]=xxNetworkingxx
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=Network information for Plasmoids
Comment[ar]=محرك بيانات الشبكة للبلازمويدات
Comment[be@latin]=Sietkavyja źviestki dla widžetaŭ
Comment[ca]=Informació de xarxa pels Plasmoides
Comment[de]=Netzwerkinformationen für Plasma-Miniprogramme
Comment[el]=Πληροφορίες δικτύου για πλασμοειδή
Comment[es]=Datos de red para los plasmoides
Comment[et]=Võrguteave plasmoididele
Comment[gl]=Información da rede para os Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે નેટવર્ક માહિતી
Comment[he]=נתוני רשת עבור פלסמואידים
Comment[hi]=प्लॉज़्माइड्स के लिए नेटवर्क जानकारी
Comment[it]=Informazioni di rete per i plasmoidi
Comment[ja]=プラズモイドのためのネットワーク情報
Comment[kk]=Плазмоидтерге желі мәліметі
Comment[km]=ព័ត៌មាន​បណ្ដាញ​សម្រាប់ Plasmoids
Comment[kn]=ಪ್ಲಾಸ್ಮಾಯ್ಡ್ ಗಳಿಗೆ  ಜಾಲ ಮಾಹಿತಿ
Comment[lv]=Tīkla dati Plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനുള്ള നെറ്റ്വര്‍ക്ക് (ശ്രംഖല) വിവരം
Comment[nb]=Nettverksinformasjon  for Plasmoids
Comment[nds]=Nettwark-Informatschonen för Lüttprogrammen
Comment[nl]=Netwerkinformatie voor Plasmoids
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਨੈੱਟਵਰਕ ਜਾਣਕਾਰੀ
Comment[pt]=Informação sobre a rede para os Plasmóides
Comment[pt_BR]=Informação sobre a rede para os Plasmóides
Comment[ro]=Informații rețea pentru plasmoizi
Comment[sv]=Nätverksinformation för Plasmoider
Comment[th]=ข้อมูลเครือข่ายสำหรับพลาสมอยด์
Comment[tr]=Plasma programcıkları için ağ bilgileri
Comment[uk]=Інформація щодо мережі для плазмоїдів
Comment[x-test]=xxNetwork information for Plasmoidsxx
Comment[zh_CN]=Plasma 部件的网络信息
Comment[zh_TW]=網路資訊的 Plasma 元件
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network-workgroup
X-KDE-Library=plasma_engine_network

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=network
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

