[Desktop Entry]
Encoding=UTF-8
Name=System Monitor Engine
Comment=System information for Plasmoids
ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_engine_systemmonitor
X-EngineName=systemmonitor
