[KDE Desktop Pattern]
Comment=Flowers
Comment[af]=Blomme
Comment[be]=Кветкі
Comment[bg]=Цветя
Comment[bn]=ফুল
Comment[br]=Bleunioù
Comment[ca]=Flors
Comment[cs]=Květiny
Comment[cy]=Blodau
Comment[da]=Blomster
Comment[de]=Blumen
Comment[el]=Λουλούδια
Comment[eo]=Floroj
Comment[es]=Flores
Comment[et]=Lilled
Comment[fr]=Fleurs
Comment[fy]=Blommen
Comment[ga]=Bláthanna
Comment[gl]=Flores
Comment[gu]=ફૂલો
Comment[hr]=Cvijeće
Comment[hu]=Virágok
Comment[ja]=花
Comment[ka]=ყვავილები
Comment[km]=ផ្កា
Comment[ko]=꽃
Comment[ku]=Kulîlk
Comment[lt]=Gėlės
Comment[lv]=Ziedi
Comment[mk]=Цвеќиња
Comment[nds]=Blomen
Comment[nl]=Bloemen
Comment[nn]=Blomar
Comment[pa]=ਫੁੱਲ
Comment[pl]=Kwiaty
Comment[pt]=Flores
Comment[pt_BR]=Flores
Comment[ro]=Flori
Comment[ru]=Цветы
Comment[sk]=Kvety
Comment[sl]=Rože
Comment[sr]=Цветићи
Comment[sr@latin]=Cvetići
Comment[sv]=Blommor
Comment[tg]=Гулҳо
Comment[th]=ลายดอกไม้
Comment[tr]=Çiçekler
Comment[uk]=Квіти
Comment[uz]=Gullar
Comment[uz@cyrillic]=Гуллар
Comment[vi]=Bông hoa
Comment[x-test]=xxFlowersxx
Comment[xh]=Iintyatyambo
Comment[zh_CN]=花朵
Comment[zh_TW]=花兒
File=flowers.png
