[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[af]=Nag Klip deur Tigert
Comment[be]=Начная Гара ад Tigert
Comment[bn]=Tigert-এর নাইট রক
Comment[br]=Karreg da noz gant Tigert
Comment[cy]=Carreg Nos gan Tigert
Comment[et]=Night Rock (Tigert)
Comment[ga]=Night Rock le Tigert
Comment[gl]=Night Rock por Tigert
Comment[hr]=Night Rock (izr. Tigert)
Comment[ka]=კლდე ღამით (Tigert)
Comment[mk]=Ноќен рок од Tigert
Comment[ru]=Ночная скала (Tigert)
Comment[sk]=Nočný kameň od Tigerta
Comment[uz]=Оқшом қояси (Тигерт томонидан)
Comment[vi]=Rock Buổi đêm bởi Tigert
File=night-rock.jpg
