[KDE Desktop Pattern]
Comment=Rattan
Comment[bg]=Ратан
Comment[bn]=রাটান
Comment[bn_IN]=রাটান
Comment[br]=Lien skosat
Comment[ca]=Rotang
Comment[eo]=Rotango
Comment[ga]=Ratán
Comment[gu]=રેટ્ટન
Comment[hu]=Rattán
Comment[it]=Palme
Comment[ka]=რატანი
Comment[lv]=Rotangpalma
Comment[mk]=Трска
Comment[nl]=Rotan
Comment[nn]=Rotting
Comment[pt]=Rota
Comment[pt_BR]=Rota
Comment[sk]=Trsť
Comment[sl]=Trstovec
Comment[sr]=Ратан
Comment[sr@latin]=Ratan
Comment[sv]=Rotting
Comment[th]=ลาย Rattan
Comment[tr]=Duvar Yosunu
Comment[uz]=Palma
Comment[uz@cyrillic]=Пальма
Comment[vi]=Cây song mây
Comment[x-test]=xxRattanxx
Comment[zh_CN]=藤枝
Comment[zh_TW]=藤蔓
File=rattan.png
