[KDE Desktop Pattern]
Comment=Triangles
Comment[af]=Driehoeke
Comment[be]=Трохкутнікі
Comment[bg]=Триъгълници
Comment[bn]=ত্রিভুজ
Comment[bn_IN]=ত্রিকোণ
Comment[br]=Tric'hornioù
Comment[cs]=Trojúhelníky
Comment[cy]=Trionglau
Comment[da]=Trekanter
Comment[de]=Dreiecke
Comment[el]=Τρίγωνα
Comment[eo]=Trianguloj
Comment[es]=Triángulos
Comment[ga]=Triantáin
Comment[gl]=Triángulos
Comment[gu]=ત્રિકોણો
Comment[hr]=Trokuti
Comment[hu]=Háromszögek
Comment[it]=Triangoli
Comment[ka]=სამკუთხედები
Comment[km]=ត្រីកោណ
Comment[ko]=삼각형
Comment[lt]=Trikampiai
Comment[lv]=Trīsstūri
Comment[mk]=Триаголници
Comment[nds]=Dre'ecks
Comment[nl]=Triangels
Comment[nn]=Trekantar
Comment[pa]=ਤਿਕੋਣਾਂ
Comment[pl]=Trójkąty
Comment[pt]=Triângulos
Comment[pt_BR]=Triângulos
Comment[ro]=Triunghiuri
Comment[ru]=Треугольники
Comment[sk]=Trojuholníky
Comment[sl]=Trikotniki
Comment[sr]=Троуглови
Comment[sr@latin]=Trouglovi
Comment[sv]=Trianglar
Comment[tg]=Секунҷаҳо
Comment[th]=ลายสามเหลี่ยม
Comment[tr]=Üçgenler
Comment[uk]=Трикутники
Comment[uz]=Uchburchaklar
Comment[uz@cyrillic]=Учбурчаклар
Comment[vi]=Tam giác
Comment[wa]=Triyangues
Comment[x-test]=xxTrianglesxx
Comment[xh]=Oonxantathu
Comment[zh_CN]=三角
Comment[zh_TW]=三角形
File=triangles.png
