[KDE Desktop Pattern]
Comment=Triangles
Comment[af]=Driehoeke
Comment[be]=Трохкутнікі
Comment[bn]=ত্রিভুজ
Comment[br]=Tric'hornioù
Comment[cy]=Trionglau
Comment[ga]=Triantáin
Comment[hr]=Trokuti
Comment[ka]=სამკუთხედები
Comment[lt]=Trikampiai
Comment[mk]=Триаголници
Comment[ru]=Треугольники
Comment[sk]=Trojuholníky
Comment[uz]=Учбурчаклар
Comment[vi]=Tam giác
Comment[xh]=Oonxantathu
File=triangles.png
