[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Font Information
Name[af]=skrif tipe informasie
Name[be]=Інфармацыя аб
Name[bs]=Informacije o fontu
Name[cs]=Informace o písmu
Name[da]=Skrifttypeinformation
Name[de]=Schrift-Information
Name[el]=Πληροφορίες γραμματοσειράς
Name[eo]=Tiparinformo
Name[es]=Información de fuentes
Name[fi]=Kirjasintiedot
Name[he]=מידע גופנים
Name[hu]=Betűtípus-jellemzők
Name[ja]=フォント情報
Name[mt]=Informazzjoni dwar font
Name[nb]=Skrifttypeinformasjon
Name[pt_BR]=Informações
Name[sk]=Informácie o písmach
Name[sv]=Teckensnittsinformation
Name[tr]=Yazıtipi Bilgisi
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_font
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-speedo;application/x-font-bdf;application/x-font-pcf;application/x-font-snf
PreferredGroups=General
PreferredItems=Full,Family,Postscript,Foundry,Weight,Width,Spacing,Slant
