[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SearchProvider
Comment=Search Engine
Comment[ca]=Motor de cerca
Comment[cs]=Vyhledávací stroj
Comment[da]=Søgemaskine
Comment[de]=Suchmaschine
Comment[el]=Μηχανή Αναζήτησης
Comment[eo]=Serĉilo
Comment[es]=Motor de Búsqueda
Comment[et]=Otsingumootor
Comment[fi]=Hakukone
Comment[fr]=Moteur de recherche
Comment[he]=שופיח עונמ
Comment[hu]=Keresőmotor
Comment[is]=Leitarvél
Comment[it]=Motore di ricerca
Comment[ja]=検索エンジン
Comment[ko]=찾기 엔진
Comment[lv]=Meklēšanas Mašīna
Comment[nl]=zoekmachine
Comment[no]=Søkemotor
Comment[no_NY]=Søkjemotor
Comment[pt]=Procurar ficheiros
Comment[pt_BR]=Máquina de procura
Comment[ro]=Motor de căutare
Comment[ru]=Поисковая машина
Comment[sk]=Hľadací nástroj
Comment[sl]=Iskalnik
Comment[sr]=Pretraživač
Comment[sv]=Sökmotor
Comment[tr]=Arama Motoru
Comment[uk]=Механізм пошуку
Comment[zh_CN.GB2312]=搜索引擎
Comment[zh_TW.Big5]=搜尋引擎

[PropertyDef::Keys]
Type=QStringList

[PropertyDef::Query]
Type=QString

[PropertyDef::Charset]
Type=QString
