[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Application
Exec=kcmshell smartcard
DocPath=kcontrol/smartcard.html
X-KDE-ModuleType=Library
X-KDE-Library=smartcard
X-KDE-Init=smartcard
Name=Smartcards
Name[ar]=البطاقات الذكية
Name[fi]=Älykortit
Name[he]=כרטיסים חכמים
Name[hu]=Smartcard-beállítások
Name[lt]=Gudrios kortelės
Name[lv]=Smartkartes
Name[nn]=Smartkort
Name[pt_BR]=SmartCards
Name[sk]=Smartcard
Name[sl]=Pametne kartice
Name[sv]=Smartkort
Name[tr]=Smartcard
Name[xx]=xx
Name[zu]=Amakhadi anobuhlakani
Comment=Configure smartcard support
Comment[ar]=تهيئة دعم البطاقات الذكية
Comment[az]=Smartcard dəstəyini quraşdır
Comment[cs]=Nastavení podpory smartcards
Comment[da]=Indstil smartcard-støtte
Comment[de]=Smartcard Unterstützung einrichten
Comment[es]=Configura el soporte para tarjetas Smart
Comment[fi]=Aseta älykorttitukea
Comment[he]=שינוי הגדרות התמיכה בכרטיסים חכמים
Comment[hu]=A smartcard-támogatás beállítóprogramja
Comment[lt]=Derinti gudrių kortelių palaikymą
Comment[lv]=Konfigurē smartkaršu atbalstu
Comment[nl]=smartcard-ondersteuning instellen
Comment[nn]=Set opp smartkortstøtte
Comment[pt]=Configurar o suporte de 'smartcards'
Comment[pt_BR]=Configurar suporte a SmartCards
Comment[sk]=Nastavenie podpory smartcard
Comment[sl]=Nastavi podporo pametnih kartic
Comment[sv]=Anpassa stöd för smartkort
Comment[tr]=Smartcard desteğini yapılandır
Comment[xh]=Qwalasela inkxaso ye smartcard
Comment[xx]=xx
Comment[zh_TW]=設定 SmartCard 支援
Comment[zu]=Hlanganisela inxaso yamakhadi anobuhlakani
Keywords=Smartcard,PKCS,SSL,reader,smart,card
Keywords[ar]=بطلقة ذكية,PKCS,SSL,قارئ,ذكية,بطاقة
Keywords[da]=Smartcard,PKCS,SSL,læser,smart,card
Keywords[de]=Smartcard,PKCS,SSL,Reader,Smart,Card,Leser
Keywords[es]=Smartcard,PKCS,SSL,lector,smart,tarjeta
Keywords[fi]=Älykortti,PKCS,SSL,lukija
Keywords[he]=כרטיסים חכמים,PKCS,SSL,קורא,כרטיס,חכם
Keywords[hu]=smartcard,PKCS,SSL,olvasó,smart,kártya
Keywords[lt]=Smartcard,PKCS,SSL,reader,smart,card, gudri kortelė,skaitytuvas,gudri,kortelė
Keywords[nl]=smartcard,PKCS,SSL,reader,smart,card
Keywords[nn]=smartkort,PKCS,SSL,lesar,smart,kort
Keywords[pt]=Smartcard,PKCS,SSL,leitor,smart,placa
Keywords[pt_BR]=Smartcard,PKCS,SSL,leitor,smart,card
Keywords[sk]=Smartcard,PKCS,SSL,čítačka,karta,inteligentná
Keywords[sl]=Smartcard,PKCS,SSL,bralnik,pamet,kartica
Keywords[sv]=Smartkort,PKCS,SSL,läsare,smart,kort
Keywords[tr]=Smartcard,PKCS,SSL,okuyucu,smart,kart,akıllıkart
Keywords[xh]=Smartcard,PKCS,SSL,umfundi,bukeka,ikihadi
Keywords[xx]=xx
Keywords[zu]=Ikhadi Elinobuhlakani,PKCS,SSL,imfundi,ubuhlakani,ikhadi

