[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell keys
Icon=key_bindings
Type=Application
DocPath=kcontrol/keys/index.html


X-KDE-Library=keys
X-KDE-Init=keys
X-KDE-ParentApp=kcontrol

Name=Keyboard Shortcuts
Name[x-test]=xxKeyboard Shortcutsxx

Comment=Configuration of keybindings
Comment[x-test]=xxConfiguration of keybindingsxx

Keywords=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts
Keywords[x-test]=xxKeys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcutsxx

Categories=Qt;KDE;X-KDE-settings-accessibility;
