[Desktop Entry]
Encoding=UTF-8
Name=Default
Name[af]=Standaard
Name[ar]=المبدئي
Name[as]=অবিকল্পিত
Name[ast]=Predetermináu
Name[be]=Прадвызначаны
Name[be@latin]=Zmoŭčany
Name[bg]=По подразбиране
Name[bn]=ডিফল্ট
Name[bn_IN]=ডিফল্ট
Name[br]=Dre ziouer
Name[cs]=Výchozí
Name[csb]=Domëslno
Name[cy]=Rhagosodedig
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlta
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[fy]=Standert
Name[ga]=Réamhshocrú
Name[gu]=મૂળભુત
Name[he]=ברירת מחדל
Name[hi]=डिफ़ॉल्ट
Name[hne]=डिफाल्ट
Name[hsb]=Standard
Name[hu]=Alapértelmezett
Name[ia]=Predefinite
Name[id]=Standar
Name[it]=Predefinito
Name[ka]=ნაგულისხმევი
Name[kk]=Әдетті
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ
Name[ko]=기본값
Name[ku]=Standard
Name[mai]=पूर्वनिर्धारित
Name[mk]=Стандардно
Name[ml]=സഹജമായ
Name[mr]=मुलभूत
Name[ms]=Default
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ
Name[pa]=ਡਿਫਾਲਟ
Name[pl]=Domyślny
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[se]=Standárda
Name[si]=පෙරනිමිය
Name[sl]=Privzeto
Name[sv]=Standard
Name[ta]=முன்னிருப்பு
Name[te]=అప్రమెయం
Name[tg]=Стандартӣ
Name[th]=ค่าปริยาย
Name[tr]=Öntanımlı
Name[uk]=Типова
Name[uz]=Andoza
Name[uz@cyrillic]=Андоза
Name[vi]=Mặc định
Name[wa]=Prémetou
Name[xh]=Okwendalo
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Comment=Default Plasma Desktop theme
Comment[cs]=Výchozí motiv pracovní plochy Plasma
Comment[de]=Standard-Plasma-Arbeitsflächendesign
Comment[ia]=Thema predefinite de scriptorio de Plasma
Comment[nb]=Standard Plasma skrivebordstema
Comment[nl]=Standaard thema van het Plasma bureaublad
Comment[pl]=Domyślny motyw pulpitu Plazmy
Comment[pt]=Tema predefinido do ecrã do Plasma
Comment[pt_BR]=Tema padrão da área de trabalho do Plasma
Comment[sv]=Standardskrivbordstema för Plasma
Comment[uk]=Типова тема стільниці Плазми
Comment[x-test]=xxDefault Plasma Desktop themexx
Comment[zh_TW]=預設 Plasma 桌面主題
Type=Service


X-KDE-PluginInfo-Author=Lamarque V. Souza
X-KDE-PluginInfo-Email=Lamarque.Souza.ext@basyskom.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=declarativeappletscript
#X-Plasma-MainScript=main.qml
