[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidModemManager

Comment=Modem Management Backend
Comment[kk]=Модемді басқару тетігі
Comment[lt]=Modemo tvarkymo sąsaja
Comment[nds]=Hülpprogramm för de Modemkuntrull
Comment[pt]=Infra-Estrutura de Gestão do Modem
Comment[pt_BR]=Infraestrutura de gerenciamento de modem
Comment[sv]=Gränssnitt för modemhantering
Comment[uk]=Сервер керування модемами
Comment[x-test]=xxModem Management Backendxx
Comment[zh_TW]=數據機管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

