[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=SolidBluetoothManager

Comment=Bluetooth Management Backend
Comment[be]=Кіраванне Bluetooth
Comment[de]=Backend zur Bluetooth-Verwaltung
Comment[el]=Σύστημα διαχείρισης Bluetooth
Comment[fa]=پایانۀ پشتیبانی مدیریت بلوتوث
Comment[nds]=Hülprogramm för den Bluetooth-Pleger
Comment[nl]=Bluetooth-beheer backend
Comment[zh_TW]=藍芽管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

