[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidModemManager

Comment=Modem Management Backend

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

