[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidRemoteControlManager
Comment=Remote Control Management Backend
Comment[en_GB]=Remote Control Management Backend
Comment[eo]=Interna Interfaco de la teleregilo
Comment[et]=Kaugjuhtimise haldamise taustaprogramm
Comment[gl]=Infraestrutura de xestión do control remoto
Comment[hr]=Podrška za upravljanje na daljinu
Comment[id]=Kontrol Jarak Jauh Ujung Belakang Manajemen
Comment[lt]=Nuotolinio valdymo programinė sąsaja
Comment[nb]=Bakgrunnsmotor for kontroll av fjernstyring
Comment[nl]=Afstandsbedieningbeheer-backend
Comment[pt]=Infra-Estrutura de Gestão de Comandos à Distância
Comment[pt_BR]=Infraestrutura de gerenciamento do controle remoto
Comment[sv]=Gränssnitt för fjärrkontrollhantering
Comment[tr]=Uzaktan Denetim Yönetimi Arka Ucu
Comment[uk]=Сервер керування пристроями дистанційного керування
Comment[x-test]=xxRemote Control Management Backendxx
Comment[zh_TW]=遠端控制管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString
