Name=Web Browser
Name[af]=Web Blaaier
Name[ar]=متصفح الإنترنت
Name[az]=Veb Səyyahı
Name[bg]=Уеб браузър
Name[bn]=ওয়েব ব্রাউজার
Name[br]=Furcher an Internet
Name[bs]=Web preglednik
Name[ca]=Navegació Web
Name[cs]=Prohlížeč Webu
Name[cy]=Porydd Gwê
Name[da]=Browser
Name[de]=Web-Browser
Name[el]=Περιηγητής Ιστού
Name[eo]=TTT-legilo
Name[es]=Navegador Web
Name[et]=Veebibrauser
Name[eu]=Web arakatzailea
Name[fa]=مرورگر وب
Name[fi]=WWW-selain
Name[fo]=Vevlesari
Name[fr]=Navigateur web
Name[fy]=Webbrowser
Name[ga]=Brabhsálaí Lín
Name[gl]=Navegador Web
Name[he]=דפדפן
Name[hi]=वेब ब्राउज़र
Name[hr]=Web pretraživač
Name[hsb]=Web-browser
Name[hu]=Webböngésző
Name[is]=Vefskoðari
Name[it]=Navigazione Web
Name[ja]=Webブラウザ
Name[ko]=웹 탐색기
Name[lo]=ຮງກເບິ່ງຖານເບິ່ງຂໍ້ມູນ
Name[lt]=Žiniatinklio naršyklė
Name[lv]=Tīmekļa Pārlūks
Name[mk]=Интернет прелистувач
Name[mn]=Вэб-Хөтөч
Name[ms]=Pelayar Web
Name[nb]=Nettleser
Name[nds]=Nettkieker
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[nso]=Seinyakisi sa Web
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka WWW
Name[pt]=Navegação Web
Name[pt_BR]=Navegador Web
Name[ro]=Navigator de web
Name[ru]=Веб-обозреватель
Name[se]=Fierpmádatlogan
Name[sk]=Webový prehliadač
Name[sl]=Spletni brskalnik
Name[sr]=Веб прегледач
Name[sr@Latn]=Veb pregledač
Name[ss]=Ibrawuza ye-Web 
Name[sv]=Webbläsning
Name[ta]=வலை உலாவி
Name[tg]=Веб-броузер
Name[th]=โปรแกรมท่องเว็บ
Name[tr]=Web Tarayıcı
Name[uk]=Навігатор Тенет
Name[uz]=Веб-браузер
Name[ven]=Burausa ya Web
Name[vi]=Trình duyệt Web
Name[wa]=Betchteu waibe
Name[xh]=Umkhangeli zincwadi we Web
Name[xx]=xxWeb Browserxx
Name[zh_CN]=Web 浏览器
Name[zh_TW]=網頁瀏覽器
Name[zu]=Umcingi we-Web
Comment=Here you can configure your default web browser. All KDE applications in which you can select hyperlinks should honor this setting.
Comment[bg]=Избор на предпочитан браузър Всички програми от КДЕ, които се нуждаят от достъп до уеб страници, ще ползват този компонент.
Comment[bn]=এখানে আপনি আপনার ডিফল্ট ওয়েব ব্রাউজার  কনফিগার করতে পারেন। যে কোনো কে.ডি.ই. অ্যাপলিকেশনে একটি হাইপার-লিঙ্ক নির্বাচন করা হলে এই পছন্দটি ব্যবহার করা হবে।
Comment[bs]=Ovdje možete podesiti vaš podrazumijevani web preglednik. Svi KDE programi u kojima možete kliknuti na link bi trebali poštovati ovu postavku.
Comment[ca]=Aquí podeu configurar el vostre fullejador web per omissió. Totes les aplicacions KDE en que podeu seleccionar hiperenllaços haurien de respectar aquest arranjament.
Comment[cs]=Tato služba umožňuje nastavit si výchozí prohlížeč. Všechny KDE aplikace, které vyžadují přístup k hypertextovým odkazům, by měly používat toto nastavení.
Comment[cy]=Dyma lle gallwch ffurfweddu eich porydd gwe rhagosodol.  Dylai pob rhaglen KDE lle gallwch ddewis hypergysylltau ddefnyddio'r gosodiad yma.
Comment[da]=Her kan du indstille din standard-browser. Alle KDE-programmer hvor du kan vælge hyperlink skulle respektere denne indstilling.
Comment[de]=Hier können Sie Ihren Standard-Browser festlegen. Alle KDE-Programme, in denen Sie Verknüpfungen (Links) aufrufen können, benutzen diese Einstellung.
Comment[el]=Εδώ μπορείτε να ρυθμίσετε τον προκαθορισμένο περιηγητή ιστού  σας. Όλες οι εφαρμογές του KDE στις οποίες μπορείτε να επιλέξετε υπερσυνδέσεις θα πρέπει να χρησιμοποιούν αυτή τη ρύθμιση.
Comment[en_GB]=Here you can configure your default web browser. All KDE applications in which you can select hyperlinks should honour this setting.
Comment[eo]=Tiu servo ebligas, ke vi elektas vian norman vidigilon. Ĉiuj KDEa aplikaĵoj, kiuj necesas vidigilon, uzos tiun agordon.
Comment[es]=Este servicio le permite configurar su navegador de Internet predeterminado. Todas las aplicaciones KDE que precisan acceso a hiperenlaces deberían reconocer esta opción.
Comment[et]=Siin saab seadistada vaikimisi kasutatavat veebilehitsejat. Kõik KDE rakendused, kus saab valida hüperlinke, peaksid siinsete seadistustega arvestama.
Comment[eu]=Hemen zure web arakatzaile lehenetsia konfigura dezakezu. Aukera honek estekak darabiltzaten KDEren aplikazio guztiei eragin behar die.
Comment[fi]=Tämän palvelun avulla voit määritellä oletusselaimen. Kaikki KDE-sovellukset, jotka käyttävät selainta, käyttävät tätä asetusta.
Comment[fr]=Ce service vous permet de configurer votre navigateur internet par défaut. Toutes les applications KDE permettant de cliquer sur un lien hypertexte doivent accepter ce réglage.
Comment[fy]=Hjir kinst dyn standert web blêdzjer ynstelle. Alle KDE-tapassingen weryn jo in hyperskeakel oanklikke kinne meitsje gebrûk fan dizze ynstelling
Comment[gl]=Este servicio permítelle configurar os seu navegadorpredeterminado. Tódalas aplicacións de KDE nas que poida premer en ligazóns farán uso déste.
Comment[he]=שירות זה מאפשר לך להגדיר את תוכנית הדוא"ל שתשמש כברירת מחדל. כל יישומי KDE שיזדקקו לגישה אל תוכנית דוא"ל יתחשבו בהגדרה זו.
Comment[hi]=यहाँ पर आप अपने डिफ़ॉल्ट वेब ब्राउज़र को कॉन्फ़िगर कर सकते हैं. सभी केडीई अनुप्रयोगों में जिसमें हायपरलिंक चुन सकते हैं, वे इस विन्यास का इस्तेमाल करेंगे.
Comment[hu]=Itt lehet beállítani, mi legyen az alapértelmezett webböngésző. Az összes KDE-alkalmazásnak figyelembe kell vennie ezt az értéket levelezési funkció használata esetén.
Comment[is]=Þessi þjónusta leyfir þér að skilgreina sjálfgefinn vafra. Öll KDE forrit sem gera þér kleift að smella á tengla ættu að virða þessa stillingu.
Comment[it]= Definisci il tuo browser web predefinito. Tutte le applicazioni di KDE in cui è selezionabile un collegamento dovrebbero rispettare questa impostazione.
Comment[ja]=ここで標準のウェブブラウザを設定できます。 全てのKDEアプリケーションでハイパーリンクを選択した場合この設定を参照します。
Comment[lt]=Ši tarnyba leidžia jums nustatyti Jūsų numatytą žiniatinklio naršyklę. Visos KDE programos, kuriose galima spragtelėti hipersaitus, turi atsižvelgti į šį nustatymą.
Comment[lv]=Šeit Jūs varat konfigurēt noklusējuma tīmekļa pārlūkprogrammu. Visas KDE aplikācijas, kurās Jūs varat klikšķināt uz hipersaitēm, izmantos šo parametru.
Comment[mk]=Тука може да го конфигурирате вашиот стандарден вебпрелистувач. Сите KDE-апликации во кои може да изберете хиперврски ќе го почитуваат ова поставување.
Comment[mt]=Hawn tista' tikkonfigura l-browser impliċitu. Il-programmi kollha tal-KDE fejn tista' tagħżel hyperlink għandhom jużaw dan il-programm.
Comment[nb]=Her kan du sette opp nettleseren du bruker mest. Alle KDE-programmer der du kan velge hyperlenker skal bruke denne nettleseren.
Comment[nds]=Hier kannst Du Dien Standard-Nettkieker angeven. All KDE- Programmen, binnen de Du Hyperlinks bruken kannst, schullen dat ümsetten.
Comment[nl]=Hier kunt u uw standaard webbrowser instellen. Alle KDE-toepassingen waarin u een hyperkoppeling kunt aanklikken maken gebruik van deze instelling.
Comment[nn]=Med denne tenesta kan du setja opp standardnettlesaren. Alle KDE-program der du kan følgja hyperlenkjer skal bruka denne innstillinga.
Comment[pa]=ਇਥੇ ਤੁਸੀਂ ਆਪਣੇ ਮੂਲ ਵੈੱਬ ਝਲਕਾਰੇ ਦੀ ਸੰਰਚਨਾ ਕਰ ਸਕਦੇ ਹੋ।ਸਭ KDE ਕਾਰਜ, ਜਿਨਾਂ ਵਿੱਚ ਵੀ ਨੈੱਟ ਸੰਬੰਧ ਹਨ, ਇਸ ਵਿਵਸਥਾ ਦਾ ਸਨਮਾਨ ਕਰਨਗੇ।
Comment[pl]=Tu można wybrać domyślną przeglądarkę. Wszystkie programy KDE, w których korzysta się z odnośników, powinny używać tego ustawienia.
Comment[pt]=Este serviço permite-lhe configurar o seu navegador web por omissão. Todas as aplicações do KDE onde possa seleccionar hiperligações devem respeitar esta configuração.
Comment[pt_BR]=Aqui você pode configurar o seu navegador Internet padrão. Todas os aplicativos do KDE que precisarem acessar um site através de um link devem seguir esta configuração.
Comment[ro]=Aici puteţi configura navigatorul de web implicit. Toate aplicaţiile KDE în care puteţi selecta o hiperlegătură ar trebui să onoreze această setare.
Comment[ru]=Здесь можно настроить веб-браузер по умолчанию. Все приложения KDE, в которых можно вызвать гиперссылку, будут использовать этот параметр.
Comment[se]=Dáinna bálvalusain sáhtát heivehit standárda fierpmádatlogana. Buot KDE-prográmmain mas sáhttá čuovvut hyperleaŋkkaid geavaha dán heivehusa.
Comment[sk]=Tu môžete nastaviť štandardný prehliadač. Všetky aplikácie KDE, v ktorým môžete aktivovať URL, by mali používať toto nastavenie.
Comment[sl]=Tu lahko nastavite vaš privzeti spletni brskalnik. Vsi programi za KDE, ki ga uporabljajo, bi morali upoštevati te nastavitve.
Comment[sr]=Овде можете да подесите ваш подразумевани веб прегледач. Сви KDE програми у којима можете да одаберете хипервезе требало би да поштују ово подешавање.
Comment[sr@Latn]=Ovde možete da podesite vaš podrazumevani veb pregledač. Svi KDE programi u kojima možete da odaberete hiperveze trebalo bi da poštuju ovo podešavanje.
Comment[sv]=Här kan du anpassa förvald webbläsare. Alla KDE-program där du kan välja hyperlänkar bör följa inställningen.
Comment[ta]=இந்த சேவை உங்களுடைய முன்னிருந்த மின் அஞ்சல்உறுப்பினர  வடிவமைத்துக்கொள்ள அனுமதிக்கிறது. மின்அஞ்சல் உறுப்பினர் பயன்பாடுதேவைப்படுகிற எல்லா கேடிஇபயன்பாடுகளும் இந்த அமைப்பைநிறுவவேண்டும்.
Comment[tr]=Burada öntanımlı web tarayıcınızı yapılandırabilrsiniz. Tüm KDE uygulamalarında bulunan bağlantılar bu seçenek kullanılarak açılacaktır.
Comment[uk]=Тут можна налаштувати ваш типовий навігатор Тенет. Всі програми KDE, в які підтримують роботу з гіперпосиланнями повинні користуватися цими установками.
Comment[xx]=xxHere you can configure your default web browser. All KDE applications in which you can select hyperlinks should honor this setting.xx
Comment[zh_CN]=您可以在这里配置您默认的 Web 浏览器。您在所有 KDE 应用程序中单击超级链接时都应该遵从此设置。
configurationType=internal_browser
