[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell fileshare
Icon=fileshare
Type=Application
DocPath=kcontrol/fileshare.html

X-KDE-ModuleType=Library
X-KDE-Library=fileshare
X-KDE-ParentApp=kcontrol
X-KDE-RootOnly=true

Name=File Sharing
Name[af]=lêer deel
Name[bs]=Dijeljenje datoteka
Name[cs]=Sdílení souborů
Name[da]=Fildeling
Name[de]=Dateifreigabe
Name[el]=Μοίρασμα αρχείων
Name[eo]=Retdosierujo
Name[es]=Compartición de archivos
Name[fi]=Tiedostojako
Name[he]=שיתוף קבצים
Name[hr]=Dijeljenje datoteka
Name[hu]=Fájlmegosztás
Name[ja]=ファイル共有
Name[mt]=Offerti ta' fajls
Name[nb]=Fildeling
Name[nl]=Bestanden delen
Name[pt_BR]=Compartilhamento de Arquivos
Name[sk]=Zdieľanie súborov
Name[sv]=Filutdelning
Name[th]=แฟ้มใช้ร่วมกัน
Name[tr]=Dosya Paylaşımı

Comment=Enable or disable file sharing
Comment[af]=lêer deel opstelling
Comment[bs]=Postavke za dijeljenje datoteka
Comment[cs]=Nastavení sdílení souborů
Comment[da]=Opsætning af fildeling
Comment[de]=Einrichtung der Dateifreigabe
Comment[el]=Ρύθμιση του μοιράσματος αρχείων
Comment[eo]=Agordilo por retdosierujoj
Comment[es]=Configuración de compartición de archivos
Comment[fi]=Tiedostojaon asetukset
Comment[he]=שינוי הגדרות שיתוף הקבצים
Comment[hr]=Podešavanje dijeljenja datoteka
Comment[hu]=a fájlmegosztás beállításai
Comment[ja]=ファイル共有の設定
Comment[mt]=Konfigurazzjoni tal-qsim tal-fajls ma' oħrajn
Comment[nb]=Oppsett for fildeling
Comment[nl]=Het delen van bestanden instellen
Comment[pt_BR]=Configuração do Compartilhamento de arquivos
Comment[sk]=Nastavenie zdieľania súborov
Comment[sv]=Anpassa filutdelning
Comment[th]=ปรับแต่งการกำหนดใช้แฟ้มร่วมกัน
Comment[tr]=Dosya paylaşım Yapılandırması

Keywords=Share
Keywords[af]=deel
Keywords[cs]=Sdílení
Keywords[de]=Freigabe
Keywords[el]=Μοίρασμα
Keywords[eo]=reto,dosieroj,dosierujoj
Keywords[es]=Compartir
Keywords[fi]=Jako
Keywords[fo]=luta
Keywords[he]=שיתוף
Keywords[hr]=Share, dijeljenje
Keywords[hu]=Megosztás
Keywords[ja]=共有
Keywords[mt]=Share,offerti,offri
Keywords[nb]=dele
Keywords[nl]=share,netwerk,diensten,delen
Keywords[pt_BR]=Compartilhar
Keywords[sk]=Zdieľanie
Keywords[sv]=Dela ut
Keywords[th]=ใช้ร่วมกัน
Keywords[tr]=Paylaşım
