[Desktop Entry]
Type=Service
Name=ShortURIFilter
Name[ca]=Filtre d'URI curta
Name[da]=KortUrlFilter
Name[de]=Kurz-URL-Filter
Name[el]=Φίλτρο Σύντομων URI
Name[eo]=Mallonga URI-filtrilo
Name[es]=Filtro de URIs Breves
Name[et]=Lühikeste URL'ide filter
Name[fr]=Filtres d'URLs courtes
Name[he]=תורצק תובותכ ןנסמ
Name[hu]=Rövid URI-k szűrője
Name[is]=StuttURISía
Name[ja]=ショートURIフィルタ
Name[lv]=ĪssURIFiltrs
Name[no]=KortURIFilter
Name[oc]=Filtre d'URI curta
Name[pl]=Filtr Krótkich URI
Name[pt]=FiltroURICurtos
Name[pt_BR]=FiltroURI
Name[ro]=Filtru URI-uri scurte
Name[sk]=KrátkyURIFilter
Name[sl]=FilterZaKratkeURI
Name[sv]=KortWebbadressFilter
Name[ta]=º¢È¢ÂURLÅÊ¸ðÊ
Name[tr]=KısaURISüzgeci
Name[uk]=Короткий фільтр URI
Name[zh_CN.GB2312]=短 URI 过滤
Name[zh_TW.Big5]=短URI過濾器
X-KDE-Library=libkshorturifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=5
