# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=circles.xml
Name=Circles
Name[br]=Kelc'hioù
Name[da]=Cirkler
Name[eo]=cirkloj
Name[et]=Ringid
Name[hu]=Körök
Name[nl]=Cirkels
Name[pt]=Círculos
Name[pt_BR]=Círculos
Name[sv]=Cirklar
Name[ta]=வட்டங்கள்
Name[tr]=Çemberler
Name[uk]=Кола
Name[zh_CN]=圆环
Description=Theme with blue circles
Description[da]=Tema med blå cirkler
Description[eo]=Etoso kun bluaj cirkloj
Description[et]=Siniste ringidega teema
Description[fr]=Thème avec des cercles bleus
Description[hu]=Téma kék körökkel
Description[nl]=Thema met blauwe cirkels
Description[pt]=Tema com círculos azuis
Description[pt_BR]=Tema com círculos azuis
Description[sv]=Tema med blåa cirklar
Description[ta]=நீல வட்டங்களுடன் தலைப்பு
Description[tr]=Mavi çemberli tema
Description[uk]=Тема з синіми колами
Description[zh_CN]=带蓝环的主题
Author=Bond, James Bond
Copyright=(c) 2002 Bond, James Bond
Screenshot=screenshot.png
