# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=circles.xml
Name=Circles
Description=Theme with blue circles
Author=George Lebl & Oswald Buddenhagen
Copyright=(c) 2002 George Lebl, (c) 2004-2007 Oswald Buddenhagen
Screenshot=screenshot.png
