[Desktop Entry]
Encoding=UTF-8
Icon=usb
Type=Application
DocPath=kinfocenter/usb/index.html
Exec=kcmshell kcmusb

X-KDE-Library=usb
X-KDE-ParentApp=kinfocenter

Name=USB Devices

Comment=View the USB devices attached to this computer

Keywords=USB,devices,viewer,control

Categories=Qt;KDE;X-KDE-information;
