[Desktop Entry]
Comment=Configure service discovery
Comment[bg]=Конфигуриране на откриването на услуги
Comment[bn]=সার্ভিস উদ্ঘাটন কনফিগার করুন
Comment[ca]=Configura el descobriment de serveis
Comment[cs]=Nastavení hledání služeb
Comment[da]=Indstil opdagelse af tjeneste
Comment[es]=Configura el buscador de servicios
Comment[et]=Teenuste tuvastamise seadistamine
Comment[fr]=Configuration de la découverte de service
Comment[fy]=Tsjinst waarnimming ynstellen
Comment[he]=הגדרת זיהוי השירותים
Comment[hu]=A szolgáltatásdetektálás beállításai
Comment[is]=Stilla þjónustu uppgötvara
Comment[nl]=Dienstwaarneming instellen
Comment[nn]=Set opp oppdagingstenesta
Comment[pt]=Configurar a descoberta de serviços
Comment[pt_BR]=Configurar o serviço discovery
Comment[ru]=Настройка обнаружения сервисов
Comment[sv]=Anpassa tjänstupptäckt
Comment[ta]=சர்வீஸ் டிஸ்கவரியை வடிவமை
Comment[tr]=Hizmet araştırmasını yapılandır
Comment[uk]=Налаштування знаходження служб
Comment[xx]=xxConfigure service discoveryxx
Comment[zh_CN]=配置探索服务
Encoding=UTF-8
Exec=kcmshell kcm_kdnssd
GenericName=
GenericName[xx]=xxxx
Icon=blockdevice
MimeType=
Name=Service Discovery
Name[bg]=Откриване на услуги
Name[bn]=সার্ভিস উদ্ঘাটন
Name[ca]=Descobriment de serveis
Name[cs]=Hledání služeb
Name[da]=Opdagelse af tjenester
Name[es]=Buscador de servicios
Name[et]=Teenuste tuvastamine
Name[fr]=Découverte de service
Name[fy]=Tsjinst warskôging
Name[he]=זיהוי שירותים
Name[hu]=Szolgáltatásdetektálás
Name[is]=Þjónustu uppgötvun
Name[nl]=Dienstwaarneming
Name[nn]=Oppdaging av tenester
Name[pt]=Descoberta de Serviços
Name[pt_BR]=Serviço Discovery
Name[ru]=Обнаружение служб
Name[sv]=Tjänstupptäckt
Name[ta]=சர்வீஸ் டிஸ்கவரி
Name[tr]=Hizmet Araştırması
Name[uk]=Знаходження служб
Name[xx]=xxService Discoveryxx
Name[zh_CN]=服务探索
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kdnssd
X-KDE-ModuleType=Library
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-Init=kdnssd
Categories=Qt;KDE;X-KDE-settings-network;
