[Desktop Entry]
Comment=Configure service discovery
Comment[af]=Stel dienste ontdekker op
Comment[ar]=إعداد إكتشاف الخدمات
Comment[be]=Настаўленні пошуку сервісаў
Comment[bg]=Конфигуриране на откриването на услуги
Comment[ca]=Configura el descobriment de serveis
Comment[cs]=Nastavení hledání služeb
Comment[csb]=Kòfigùracëjô wëkrëwaniô ùsłëżnotów
Comment[da]=Indstil opdagelse af tjeneste
Comment[de]=Diensteerkennung einrichten
Comment[el]=Ρύθμιση εύρεσης υπηρεσιών
Comment[eo]=Agordu servo-seĉadon
Comment[es]=Configura el buscador de servicios
Comment[et]=Teenuste tuvastamise seadistamine
Comment[eu]=Konfiguratu igartze zerbitzua
Comment[fa]=پیکربندی کشف خدمت
Comment[fi]=Asetuspalvelimen löytäminen
Comment[fr]=Configuration de la découverte de service
Comment[fy]=Tsjinst waarnimming ynstellen
Comment[ga]=Cumraigh fionnachtain seirbhísí
Comment[gl]=Configurar o descubremento de servizos
Comment[he]=הגדרת זיהוי השירותים
Comment[hr]=Konfiguriranje usluge discovery
Comment[hu]=A szolgáltatásdetektálás beállításai
Comment[is]=Stilla uppgötvun þjónustna
Comment[it]=Configura scoperta servizi
Comment[ja]=サービスディスカバリの設定
Comment[ka]=სერვისის არმოჩენის კონფიგურირება
Comment[kk]=Қызыметтерді байқауды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​រកឃើញ​សេវា
Comment[lt]=Konfigūruoti tarnybų radimą
Comment[lv]=Konfigurē servisu atrašanu
Comment[mk]=Конфигурирајте го откривањето сервиси
Comment[ms]=Konfigur penemuan servis
Comment[nb]=Sett opp oppdagingstjenesten
Comment[nds]=Dat Finnen vun Deensten inrichten
Comment[ne]=पत्ता लगाउने कार्य कन्फिगर गर्नुहोस्
Comment[nl]=Dienstwaarneming instellen
Comment[nn]=Set opp oppdagingstenesta
Comment[pa]=ਸੇਵਾ ਖੋਜ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wykrywania usług
Comment[pt]=Configurar a descoberta de serviços
Comment[pt_BR]=Configurar o serviço discovery
Comment[ro]=Configurează serviciul de descoperire
Comment[ru]=Настройка обнаружения сервисов
Comment[se]=Heivet bálvalusáicama
Comment[sl]=Nastavi odkrivanje storitev
Comment[sr]=Подешавање откривања сервиса
Comment[sr@Latn]=Podešavanje otkrivanja servisa
Comment[sv]=Anpassa tjänstupptäckt
Comment[ta]=சர்வீஸ் டிஸ்கவரியை வடிவமை
Comment[tg]=Танзими хизмати ихтироъ
Comment[tr]=Hizmet araştırmasını yapılandır
Comment[uk]=Налаштування знаходження служб
Comment[uz]=Тармоқдаги хизматларни қидиришни мослаш
Comment[x-test]=xxConfigure service discoveryxx
Comment[zh_TW]=設定服務偵測
Encoding=UTF-8
Exec=kcmshell kcm_kdnssd
GenericName=
Icon=blockdevice
MimeType=
Name=Service Discovery
Name[af]=Dienste ontdekker
Name[ar]=إكتشاف الخدمات
Name[be]=Пошук сервісаў
Name[bg]=Откриване на услуги
Name[ca]=Descobriment de serveis
Name[cs]=Hledání služeb
Name[csb]=Wëkrëwanié ùsłëżnotów
Name[da]=Opdagelse af tjenester
Name[de]=Dienste-Suche
Name[el]=Εύρεση υπηρεσιών
Name[eo]=Servo-Serĉado
Name[es]=Buscador de servicios
Name[et]=Teenuste tuvastamine
Name[eu]=Igartze zerbitzua
Name[fa]=کشف خدمت
Name[fi]=Palvelut
Name[fr]=Découverte de service
Name[fy]=Tsjinst warskôging
Name[ga]=Fionnachtain Seirbhísí
Name[gl]=Descubremento de Servizos
Name[he]=זיהוי שירותים
Name[hr]=Usluga Discovery
Name[hu]=Zeroconf-beállítások
Name[is]=Uppgötvun þjónustu
Name[it]=Scoperta servizi
Name[ja]=サービスディスカバリ
Name[ka]=სერვისის აღმოჩენა
Name[kk]=Қызметтерді байқау
Name[km]=ការ​រកឃើញ​សេវា
Name[lt]=Tarnybų radimas
Name[lv]=Servisu atklāšana
Name[mk]=Откривање сервиси
Name[ms]=Penemuan Servis
Name[nb]=Oppdaging av tjenester
Name[nds]=Deensten finnen
Name[ne]=पत्ता लगाउने कार्य
Name[nl]=Dienstwaarneming
Name[nn]=Oppdaging av tenester
Name[pa]=ਸੇਵਾ ਖੋਜ
Name[pl]=Wykrywanie usług
Name[pt]=Descoberta de Serviços
Name[pt_BR]=Serviço Discovery
Name[ro]=Descoperire servicii
Name[ru]=Обнаружение служб
Name[se]=Bálvalusáican
Name[sl]=Odkrivanje storitev
Name[sr]=Откривање сервиса
Name[sr@Latn]=Otkrivanje servisa
Name[sv]=Tjänstupptäckt
Name[ta]=சர்வீஸ் டிஸ்கவரி
Name[tg]=Хизмати ихтироъ
Name[tr]=Hizmet Araştırması
Name[uk]=Знаходження служб
Name[uz]=Тармоқдаги хизматларни қидириш
Name[x-test]=xxService Discoveryxx
Name[zh_TW]=服務偵測
Path=
StartupNotify=true
Terminal=false
Type=Service
ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_kdnssd
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=true
Categories=Qt;KDE;X-KDE-settings-network;
