[Desktop Entry]
Comment=Configure service discovery
Comment[bg]=Конфигуриране на откриването на услуги
Comment[da]=Indstil opdagelse af tjeneste
Comment[fr]=Configuration de la découverte de service
Comment[hu]=A szolgáltatásdetektálás beállításai
Comment[nl]=Dienstwaarneming instellen
Comment[pt]=Configurar a descoberta de serviços
Comment[pt_BR]=Configurar o serviço discovery
Comment[sv]=Anpassa tjänstupptäckt
Comment[ta]=சர்வீஸ் டிஸ்கவரியை வடிவமை
Comment[uk]=Налаштування знаходження служб
Comment[zh_CN]=配置探索服务
Encoding=UTF-8
Exec=kcmshell kcm_kdnssd
GenericName=
Icon=blockdevice
MimeType=
Name=Service Discovery
Name[bg]=Откриване на услуги
Name[da]=Opdagelse af tjenester
Name[fr]=Découverte de service
Name[hu]=Szolgáltatásdetektálás
Name[nl]=Dienstwaarneming
Name[pt]=Descoberta de Serviços
Name[pt_BR]=Serviço Discovery
Name[sv]=Tjänstupptäckt
Name[ta]=சர்வீஸ் டிஸ்கவரி
Name[uk]=Знаходження служб
Name[zh_CN]=服务探索
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kdnssd
X-KDE-ModuleType=Library
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-Init=kdnssd
Categories=Qt;KDE;X-KDE-settings-network;
