[Desktop Entry]
Name=Application Launcher Menu
Name[af]=Programlanseerder-kieslys
Name[bg]=Стартиране на програми
Name[ca]=Menú de l'engegador d'aplicacions
Name[cs]=Nabídka spouštěče aplikací
Name[csb]=Menu zrëszôcza programów
Name[da]=Menu til programstart
Name[de]=K-Menü (traditionell)
Name[el]=Μενού εκτέλεσης εφαρμογών
Name[eo]=Aplikaĵolanĉila menuo
Name[es]=Menú del lanzador de aplicaciones
Name[et]=Rakenduste käivitaja menüü
Name[eu]=Aplikazio abiarazlearen menua
Name[fi]=Sovellusten käynnistysvalikko
Name[fr]=Menu de lancement des applications
Name[fy]=Applikaasje úteinsetter menu
Name[ga]=Roghchlár Tosaitheora Feidhmchlár
Name[gl]=Menú lanzador de programas
Name[gu]=કાર્યક્રમ ચલાવનાર મેનુ
Name[hu]=Programindító menü
Name[is]=Valmynd forritaræsingar
Name[it]=Menu per il lancio di applicazioni
Name[ja]=アプリケーション起動メニュー
Name[km]=ម៉ឺនុយ​កម្មវិធី​ចាប់ផ្ដើម​កម្មវិធី
Name[ko]=프로그램 실행기 메뉴
Name[lv]=Programmu palaidēja izvēlne
Name[nb]=Meny for programstarter
Name[nds]=Programmoproopmenü
Name[nl]=Programmastartermenu
Name[nn]=Programstartmeny
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਲਾਂਚਰ ਮੇਨੂ
Name[pl]=Menu uruchamiania programów
Name[pt]=Menu do Lançador de Aplicações
Name[pt_BR]=Menu do Lançador de Aplicativos
Name[ro]=Meniu pentru lansatorul de aplicații
Name[se]=Prográmmaálggahanfállu
Name[sl]=Meni za zaganjanje programov
Name[sr]=мени за покретање програма
Name[sr@latin]=Meni za pokretanje programa
Name[sv]=Programstartmeny
Name[th]=เมนูเรียกใช้งานโปรแกรม
Name[tr]=Uygulama Başlatma Menüsü
Name[uk]=Меню пускачів програм
Name[wa]=Dressêye d' enondeu di programe
Name[x-test]=xxApplication Launcher Menuxx
Name[zh_CN]=应用程序启动菜单
Name[zh_TW]=應用程式啟動器選單
Comment=Traditional menu based application launcher
Comment[af]=Tradisionele kieslys as programlanseerder
Comment[ca]=Engegador d'aplicacions basat en el menú tradicional
Comment[cs]=Tradiční spouštěč aplikací založený na nabídce
Comment[da]=Traditionel menubaseret programstarter
Comment[de]=Programmstarter mit traditionellen Menüs
Comment[el]=Παραδοσιακό μενού εκτέλεσης εφαρμογών
Comment[eo]=La kutima menua bazita aplikaĵolanĉilo
Comment[es]=Lanzador de aplicaciones tradicional basado en menú
Comment[et]=Rakenduste käivitajale tuginev traditsiooniline menüü
Comment[fi]=Perinteinen valikkopohjainen sovellusten käynnistin
Comment[fr]=Lanceur d'application utilisant un menu traditionnel
Comment[fy]=Tradisjoneel menu bassearre applikaasje úteinsetter
Comment[ga]=Tosaitheoir traidisiúnta feidhmchlár bunaithe ar roghchlár
Comment[gl]=Un lanzador de programas baseado no menú tradicional
Comment[gu]=પરંપરાગત મેનુ આધારિત કાર્યક્રમમ ચલાવનાર
Comment[hu]=Hagyományos programindító menü
Comment[is]=Venjuleg valmyndabyggð forritaræsing
Comment[it]=Menu tradizionale
Comment[ja]=アプリケーションランチャーに基づく従来のメニュー
Comment[km]=ម៉ឺនុយ​បន្ថែម​មាន​មូលដ្ឋាន​លើ​កម្មវិធី​ចាប់ផ្ដើម​កម្មវិធី
Comment[ko]=전통적인 메뉴 기반 프로그램 실행기
Comment[lv]=Tradicionālais uz izvēlnēm bāzētais programmu palaidējs
Comment[nb]=Tradisjonell menybasert programstarter
Comment[nds]=Begäng Programmstarter mit Menüs
Comment[nl]=Traditioneel menu voor het starten van programma's
Comment[nn]=Tradisjonell menybasert programstartar
Comment[pa]=ਆਮ ਮੇਨੂ ਅਧਾਰਿਤ ਐਪਲੀਕੇਸ਼ਨ ਲਾਂਚਰ
Comment[pl]=Tradycyjny, oparty o menu moduł do uruchamiania programów
Comment[pt]=Lançador de aplicações baseado num menu tradicional
Comment[pt_BR]=Lançador de aplicativos baseado em um menu tradicional
Comment[ro]=Lansator de aplicații bazat pe meniu tradițional
Comment[se]=Árbevirolaš fállovuođđoduvvun prográmmaálggaheaddji
Comment[sl]=Tradicionalni meni za zaganjanje programov
Comment[sr]=Традиционално покретање програма помоћу менија
Comment[sr@latin]=Tradicionalno pokretanje programa pomoću menija
Comment[sv]=Traditionell menybaserad programstart
Comment[th]=เมนูแบบเก่าสำหรับเรียกใช้งานโปรแกรม
Comment[tr]=Geleneksel menü temelli uygulama başlatıcı
Comment[uk]=Пускач програм з традиційним меню
Comment[wa]=Enondeu d' programe båzé sol tradicionele dressêye
Comment[x-test]=xxTraditional menu based application launcherxx
Comment[zh_CN]=基于应用程序启动器的传统菜单
Comment[zh_TW]=傳統選單式的應用程式啟動器
Icon=start-here-kde
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simplelauncher
X-KDE-PluginInfo-Author=Robert Knight
X-KDE-PluginInfo-Email=robertknight@gmail.com
X-KDE-PluginInfo-Name=simplelauncher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
