[Desktop Entry]
Encoding=UTF-8
Name=KasBar
Name[af]=Kasbar
Name[bg]=Алтернативен панел
Name[cs]=Kasbar
Name[csb]=Lëstew dzejaniów (Kasbar)
Name[de]=Kasbar
Name[eo]=Kasbaro
Name[fy]=Kasbar
Name[he]=שורת משימות חלופית
Name[is]=Kasbar
Name[it]=Kasbar
Name[lv]=KasJosla
Name[nb]=Kasbar
Name[ne]=कासबार
Name[nl]=Kasbar
Name[pa]=ਕਸ-ਬਾਰ
Name[pl]=Pasek zadań (Kasbar)
Name[sv]=Kasbar
Name[tg]=Навори Kas
Name[x-test]=xxKasBarxx

Comment=An alternative taskbar panel applet.
Comment[af]='n Alternatiewe taakbalk paneel miniprogram.
Comment[bg]=Алтернативен аплет за лентата със задачите
Comment[br]=Arloadig barrenn poelladoù dazeilat evit ar bannell.
Comment[ca]=Un applet per al plafó alternatiu a la barra de tasques.
Comment[cs]=Applet s alternativním pruhem úloh
Comment[csb]=Alternatiwnô lëstew dzejaniów dlô panelu.
Comment[cy]=Rhaglennig bar tasgau arall i'r panel
Comment[da]=Et alternativt opgavelinjepanelprogram.
Comment[de]=Eine alternative Fensterleiste
Comment[el]=Ένα εναλλακτικό εφαρμογίδιο γραμμής εργασιών για τον πίνακα.
Comment[eo]=Alternativa tasklistela panelaplikaĵeto
Comment[es]=Barra de tareas alternativa (applet del panel).
Comment[et]=Teistsugune paneelil töötav tegumiriba aplett
Comment[eu]=Ataza-barra alternatiboa (paneleko appleta)
Comment[fa]=یک برنامک تابلوی میله تکلیف متفاوت.
Comment[fi]=Vaihtoehtoinen ohjelmalistasovelma.
Comment[fr]=Une autre applet de barre des tâches
Comment[fy]=In alternative taakbalke panielapplet.
Comment[gl]=Unha applet de barra de tarefas alternativa para o painel
Comment[he]=יישומון שורת משימות חלופי עבור הלוח
Comment[hr]=Alternativni aplet trake zadataka
Comment[hu]=Egy feladatlista-alternatíva panel-kisalkalmazásként.
Comment[is]=Annað verkspjald en það sjálfgefna.
Comment[it]=Applet alternativa per la barra delle applicazioni
Comment[ja]=代替のタスクバーパネルアプレット
Comment[ka]=ალტერნატიული ამოცანათა პანელის აპლეტი
Comment[kk]=Қосымша тапсырмалар панель апплеті.
Comment[km]=អាប់ភ្លេត​បន្ទះ​របារ​ភារកិច្ច​ជំនួស ។
Comment[lt]=Alternatyvi užduočių pulto priemonė.
Comment[lv]=Alternatīvs uzdevumjoslas paneļa aplets.
Comment[mk]=Аплет од панелот - алтернативна лента со програми.
Comment[ms]=Aplet panel 'taskbar' alternatif.
Comment[nb]=En alternativ oppgavelinje som panelprogram.
Comment[nds]=En anner Lüttprogramm för den Paneel-Programmbalken
Comment[ne]=वैकल्पिक कार्यपट्टी प्यानल एप्लेट
Comment[nl]=Een alternatieve taakbalk paneelapplet.
Comment[nn]=Ei alternativ oppgåvelinje til panelet.
Comment[pa]=ਇੱਕ ਬਦਲਵੀਂ ਕੰਮ-ਪੱਟੀ ਐਪਲਿਟ
Comment[pl]=Alternatywny pasek zadań dla panelu.
Comment[pt]=Uma barra de tarefas alternativa.
Comment[pt_BR]=Um mini-aplicativo de painel alternativo para a barra de tarefas.
Comment[ro]=O alternativă la miniaplicaţia bară de procese.
Comment[ru]=Аплет альтернативной панели задач.
Comment[se]=Eavttolaš bargoholga panelii
Comment[sl]=Vstavek za alternativno opravilno vrstico na pultu
Comment[sr]=Алтернативни аплет траке задатака за панел.
Comment[sr@Latn]=Alternativni aplet trake zadataka za panel.
Comment[sv]=Alternativt miniprogram till aktivitetsfältet
Comment[ta]=மாற்றுவழி பணிபட்டி பலக சிறுநிரல்
Comment[tg]=Барномаи сафҳаи масъалаҳои алтернативӣ
Comment[tr]=Alternatif bir görev çubuğu programcığı.
Comment[uk]=Альтернативний аплет смужки задач.
Comment[x-test]=xxAn alternative taskbar panel applet.xx
Comment[xh]=I applet yeqela lenjongo ethile yebar yomsebenzi olandelelanayo.
Comment[zh_TW]=可供選擇的另外一個工作列面板小程式。

Icon=kasbar

X-KDE-Library=kasbar_panelextension
X-KDE-UniqueApplet=true
