[Desktop Entry]
Exec=kcmshell4 remotewidgets
Icon=plasma
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/remotewidgets/index.html

X-KDE-Library=kcm_remotewidgets
X-KDE-ParentApp=kcontrol

#FIXME should this be in system settings when we can get to it through the panel?
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Remote Widgets' Policies
Name[pt]=Políticas dos Elementos Remotos
Name[pt_BR]=Políticas dos widgets remotos
Name[sv]=Policy för grafiska fjärrkomponenter
Name[uk]=Правила доступу для віддалених віджетів
Name[x-test]=xxRemote Widgets Policiesxx

Comment=Define policies for remote plasma widgets
Comment[en_GB]=Define policies for remote plasma widgets
Comment[et]=Plasma välisvidinate reeglite määramine
Comment[gl]=Define as políticas dos widgets remotos de plasma
Comment[he]=הגדר הרשאות עבור וידג'טי פלסמה מרוחקים
Comment[hr]=Definirajte pravila za udaljene plasma widgete
Comment[id]=Tentukan kebijakan untuk widget plasma jarak jauh
Comment[lt]=Nustatykite taisykles nutolusiems plasma valdikliams
Comment[nb]=Definer praksis for plasma-elementer på nettverket
Comment[nds]=Regeln för feern Plasma-Lüttprogrammen fastleggen
Comment[nl]=Beleid voor plasma-widgets op afstand definiëren
Comment[pt]=Definir políticas para os elementos remotos do Plasma
Comment[pt_BR]=Define políticas para os widgets remotos do Plasma
Comment[sv]=Definiera policy för Plasma grafiska fjärrkomponenter
Comment[tr]=Uzak Plasma gereçleri için politikalar
Comment[uk]=Визначає правила доступу для віддалених віджетів Плазми
Comment[x-test]=xxDefine policies for remote plasma widgetsxx
Comment[zh_TW]=定義遠端 plasma 元件的政策

X-KDE-Keywords=plasma,remote,widgets,policy

Categories=Qt;KDE;X-KDE-settings-system;
