[Desktop Entry]
Name=Current Application Control
Name[en_GB]=Current Application Control
Name[et]=Aktiivne rakenduse juhtimine
Name[gl]=Control do programa actual
Name[id]=Kontrol Aplikasi Saat Ini
Name[nb]=Styring for gjeldende program
Name[nds]=Programmstüern
Name[pt]=Controlo da Aplicação Actual
Name[pt_BR]=Controle do aplicativo atual
Name[sv]=Styrning av nuvarande program
Name[tr]=Geçerli Uygulama Denetimi
Name[uk]=Керування поточною програмою
Name[x-test]=xxCurrent Application Controlxx
Name[zh_TW]=目前應用程式控制
Comment=Controls for the active window
Comment[en_GB]=Controls for the active window
Comment[et]=Aktiivse akna juhtimine
Comment[gl]=Controla a fiestra actual
Comment[id]=Kontrol untuk jendela aktif
Comment[nb]=Styring for det aktive vinduet
Comment[nds]=Kuntrull för't aktive Finster
Comment[pt]=Controlos para a janela activa
Comment[pt_BR]=Controles para a janela ativa
Comment[sv]=Styrning av det aktiva fönstret
Comment[tr]=Etkin pencereyi denetimleri
Comment[uk]=Інструменти керування активним вікном
Comment[x-test]=xxControls for the active windowxx
Comment[zh_TW]=作用中視窗控制
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_currentappcontrol
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=currentappcontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

