[Desktop Entry]
Name=Search Box
Name[id]=Kotak Pencarian
Name[nds]=Söökreeg
Name[pt]=Campo de Pesquisa
Name[pt_BR]=Campo de Pesquisa
Name[sv]=Sökruta
Name[uk]=Панель пошуку
Name[x-test]=xxSearch Boxxx
Comment=Search Box for a given RunnerManager
Comment[id]=Kotak pencarian untuk manajer pelari yang diberikan
Comment[nds]=Söökreeg för en angeven Dreegpleger
Comment[pt]=Campo de Pesquisa para um dado Gestor de Execuções
Comment[pt_BR]=Campo de Pesquisa para um dado Gestor de Execuções
Comment[sv]=Sökruta för en given hanterare av programkörning
Comment[uk]=Панель пошуку для вказаного Керування запуском
Comment[x-test]=xxSearch Box for a given RunnerManagerxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_searchbox
X-KDE-PluginInfo-Author=Artur Souza
X-KDE-PluginInfo-Email=morpheuz@gmail.com
X-KDE-PluginInfo-Name=searchbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
