[Desktop Entry]
Exec=plasma-netbook --desktop
X-DBUS-StartupType=wait
Name=Plasma Netbook
Name[id]=Plasma Komputer Mini
Name[nds]=Plasma-Nettbook
Name[pt]=Plasma para Netbooks
Name[pt_BR]=Plasma para Netbooks
Name[sv]=Plasma för bärbara nätdatorer
Name[uk]=Плазма для субноутбуків
Name[x-test]=xxPlasma Netbookxx
Comment=Workspace shell for netbook devices.
Comment[id]=Shell ruang kerja untuk divais komputer mini.
Comment[nds]=Arbeitrebeet-Konsool för Nettbook-Reedschappen
Comment[pt]=Área de trabalho para dispositivos 'netbook'.
Comment[pt_BR]=Área de trabalho para dispositivos 'netbook'.
Comment[sv]=Arbetsyta för bärbara nätdatorenheter.
Comment[uk]=Оболонка робочого простору для субноутбуків.
Comment[x-test]=xxWorkspace shell for netbook devices.xx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

