[Desktop Entry]
Encoding=UTF-8
Name=KFontView
Name[be]=Прагляд шрыфтоў
Name[cs]=Prohlížeč písem
Name[eo]=Tiparorigardilo
Name[eu]=KFontWiew
Name[he]=מציג גופנים
Name[mk]=КФонтПреглед
Name[nb]=Skriftviser
Name[ne]=K फन्ट दृश्य
Name[nn]=Skriftvisar
Name[se]=Fontačájeheaddji
Name[sv]=Kfontview
Name[tg]=Намоишгари КҲарф
Exec=kfontinst -v %U
TryExec=kfontinst
Icon=kfontview
X-KDE-StartupNotify=true
Type=Application
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;application/x-font-pcf;application/x-font-bdf;fonts/package
GenericName=Font Viewer
GenericName[af]=Skriftipe Besigter
GenericName[ar]=معاين المحرف
GenericName[be]=Праглядальнік шрыфтоў
GenericName[bg]=Преглед на шрифтове
GenericName[br]=Gweler Nodrezhoù
GenericName[ca]=Visor de fonts
GenericName[cs]=Prohlížeč písem
GenericName[cy]=Gwelydd Wynebfathau
GenericName[da]=Skrifttype-fremviser
GenericName[de]=Schriftartenbetrachter
GenericName[eo]=Tipara rigardilo
GenericName[es]=Visor de fuentes
GenericName[et]=Fontide vaataja
GenericName[eu]=Letra-tipoen ikusgailua
GenericName[fa]=مشاهده‌گر قلم
GenericName[fi]=Kirjasinten näytin
GenericName[fr]=Afficheur de polices
GenericName[fy]=Lettertypewerjefte
GenericName[ga]=Amharcán Clófhoirne
GenericName[gl]=Visor de Fontes
GenericName[he]=מציג גופנים
GenericName[hr]=Preglednik fontova
GenericName[hu]=Betűtípusböngésző
GenericName[is]=Leturskoðari
GenericName[it]=Visualizzatore di caratteri
GenericName[ja]=フォントビューア
GenericName[ka]=პროგრამა ფონტების სანახავად
GenericName[kk]=Қаріпті қарап-шығу
GenericName[km]=កម្មវិធី​មើល​ពុម្ពអក្សរ
GenericName[lt]=Šriftų žiūryklė
GenericName[lv]=Fontu Skatītājs
GenericName[mk]=Прегледувач на фонтови
GenericName[ms]=Pemapar Fon
GenericName[nb]=Skrifttypeviser
GenericName[ne]=फन्ट दर्शक
GenericName[nl]=Lettertypeweergave
GenericName[nn]=Skriftvisar
GenericName[pa]=ਫੋਂਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka czcionek
GenericName[pt]=Visualizador de Tipos de Letra
GenericName[pt_BR]=Visualizador de fontes
GenericName[ro]=Vizualizor de fonturi
GenericName[ru]=Программа просмотра шрифтов
GenericName[se]=Fontačájeheaddji
GenericName[sl]=Pregledovalnik pisav
GenericName[sr]=Приказивач фонтова
GenericName[sr@Latn]=Prikazivač fontova
GenericName[sv]=Teckensnittsvisning
GenericName[tg]=Намоишгари ҳарфҳо
GenericName[tr]=Yazıtipi Görüntüleyici
GenericName[uk]=Переглядач шрифтів
GenericName[uz]=Шрифт кўрувчи
GenericName[zh_TW]=字型檢視器
Terminal=false
InitialPreference=1
NoDisplay=true
Categories=Qt;KDE;Utility;
