[Desktop Entry]
Encoding=UTF-8
Name=Font Viewer
Name[af]=Skrif tipe Aansig
Name[bg]=Преглед на Шрифт
Name[bs]=Preglednik fontova
Name[ca]=Visor de fonts
Name[cs]=Prohlížeč písem
Name[da]=Skrifttypevisning
Name[de]=Schriftenanzeige
Name[el]=Προβολέας γραμματοσειρών
Name[eo]=Tiparorigardilo
Name[es]=Visor de fuentes
Name[et]=Fontide vaataja
Name[eu]=Letra-tipo Ikustailea
Name[fa]=نمایشگر قلم
Name[fi]=Kirjasinnäyttäjä
Name[fr]=Afficheur de polices
Name[he]=מציג גופנים
Name[hu]=A betűtípusok áttekintése
Name[it]=Vista caratteri
Name[ja]=フォントビューワ
Name[lt]=Šrifto žiūriklis
Name[mt]=Werrej tal-fonts
Name[nb]=Skrifttypeviser
Name[nl]=Lettertypeweergaveprogramma
Name[nn]=Skriftvisar
Name[nso]=Molebeledi wa Fonto
Name[pl]=Przeglądarka czcionek
Name[pt]=Visualizador do Tipo de Letra
Name[pt_BR]=Visualizador de Fontes
Name[ru]=Просмотр шрифтов
Name[sk]=Prehliadač písiem
Name[sl]=Prikazovalnik pisav
Name[sv]=Teckensnittsvisning
Name[ta]=±ØòÐÕ ¸¡ðº¢
Name[tr]=Yazıtipi İzleyici
Name[uk]=Перегляд шрифтів
Name[ven]=Muvhoni wa Fontu
Name[xh]=Imboniselo Yohlobo lwegama
Name[zh_CN]=字体查看器
Name[zh_TW]=字型檢視器
Name[zu]=Umbukisi Wohlobo lwamagama
MimeType=application/x-font-ttf;application/x-font-type1
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkfontviewpart
Type=Service
InitialPreference=1
