[Desktop Entry]
Encoding=UTF-8
Name=Install KDE Theme
Name[az]=KDE Örtüyünü Qur
Name[be]=Усталяваць тэму KDE
Name[bg]=Инсталиране на тема
Name[bn]=কে.ডি.ই. থীম ইনস্টল করো
Name[br]=Staliañ ar c'hiz KDE
Name[bs]=Instaliraj KDE temu
Name[ca]=Instal·la tema KDE
Name[cs]=Instalovat KDE motiv
Name[cy]=Gosod Thema KDE
Name[da]=Installér KDE-tema
Name[de]=KDE-Design installieren
Name[el]=Εγκατάσταση θέματος του KDE
Name[eo]=Instalu KDEan etoson
Name[es]=Instalar tema de KDE
Name[et]=KDE teema paigaldamine
Name[eu]=Instalatu KDE tema
Name[fi]=Asenna KDE-teema
Name[fr]=Installer des thèmes KDE
Name[fy]=KDE-tema ynstallearje
Name[gl]=Instalar tema de KDE
Name[he]=התקנה של ערכת נושא עבור KDE
Name[hi]=केडीई प्रसंग संस्थापित करें
Name[hu]=KDE-téma telepítése
Name[is]=Setja inn KDE þemu
Name[it]=Installa tema di KDE
Name[ja]=KDEテーマのインストール
Name[lt]=Įdiegti KDE temą
Name[lv]=Instalēt KDE tēmu
Name[mk]=Инсталирај KDE Тема
Name[mt]=Installa Tema KDE
Name[nb]=Legg inn KDE-tema
Name[nds]=KDE-Muster installeren
Name[nl]=KDE-thema installeren
Name[nn]=Installer KDE-tema
Name[pa]=KDE ਸਰੂਪ ਇੰਸਟਾਲ
Name[pl]=Instaluj motyw KDE
Name[pt]=Instalar Tema KDE
Name[pt_BR]=Instalar Tema do KDE
Name[ro]=Instalează tematică KDE
Name[ru]=Установка тем KDE
Name[se]=Sajáiduhte KDE-fáttá
Name[sk]=Inštalovať tému KDE
Name[sl]=Namesti temo KDE
Name[sr]=Инсталирај KDE тему
Name[sr@Latn]=Instaliraj KDE temu
Name[sv]=Installera KDE-tema
Name[ta]=KDE பொருளை நிறுவு
Name[tr]=KDE Teması Yükle
Name[uk]=Встановлення теми KDE
Name[uz]=KDE мавзусини ўрнатиш
Name[xx]=xxInstall KDE Themexx
Name[zh_CN]=安装 KDE 主题
MimeType=application/x-ktheme
Icon=kthememgr
Type=Application
NoDisplay=true
Exec=kdeinstallktheme %f
