[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell nic
Type=Application
Icon=network
DocPath=kinfocenter/nics/index.html
Icon=network

X-KDE-ModuleType=Library
X-KDE-Library=nic
X-KDE-FactoryName=nic
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[af]=Netwerk Koppelvlakke
Name[be]=Сеткавыя інтэрфэйсы
Name[bg]=Мрежови Интерфейс
Name[bs]=Mrežni interfejsi
Name[ca]=Interfícies de xarxa
Name[cs]=Síťová rozhraní
Name[da]=Netværksgrænseflade
Name[de]=Netzwerk-Schnittstellen
Name[el]=Διεπαφές δικτύου
Name[es]=Interfaces de red
Name[et]=Võrguliidesed
Name[eu]=Sareko Interfazeak
Name[fa]=واسط‌های شبکه
Name[fi]=Verkkoliittymät
Name[fr]=Interfaces réseau
Name[he]=ממשקי רשת
Name[hu]=Hálózati kártyák
Name[it]=Interfacce di rete
Name[ja]=ネットワークインターフェース
Name[lt]=Tinklo sąsajos
Name[mt]=Interfaċċja tan-network
Name[nb]=Nettverksgrensesnitt
Name[nl]=Netwerkinterfaces
Name[nn]=Nettverksgrensesnitt
Name[nso]=Difahlego tsa Kgokagano
Name[pl]=Interfejsy sieciowe
Name[pt]=Interfaces de Rede
Name[pt_BR]=Interfaces de Rede
Name[ru]=Сетевые интерфейсы
Name[sk]=Sieťové rozhrania
Name[sl]=Omrežni vmesniki
Name[ss]=Sichumanisi seluchungechunge
Name[sv]=Nätverksgränssnitt
Name[ta]=Å¨ÄÂ¨ÁôÒ Ó¸ôÒ¸û
Name[tr]=Ağ Arayüzleri
Name[uk]=Мережеві інтерфейси
Name[ven]=Vhukwamani ha tshifhatuwo
Name[xh]=Ujongano Lomsebenzi womnatha
Name[zh_CN]=网络接口
Name[zh_TW]=網路界面
Name[zu]=Abaxhumanisi boxhumano olusakazekile

Comment=Network interface information
Comment[af]=Netwerk koppelvlak informasie
Comment[az]=Şəbəkə ara üzü məlumatı
Comment[be]=Інфармацыя аб сеткавых інтэрфэйсах
Comment[bg]=Информация за Мрежовите интерфейси
Comment[bs]=Informacije o mrežnom interfejsu
Comment[ca]=Informació de la interfície de xarxa
Comment[cs]=Informace o síťových rozhraních
Comment[da]=Information om netværksgrænseflade
Comment[de]=Informationen über die Netzwerkanschlüsse
Comment[el]=Πληροφορίες διεπαφής δικτύου
Comment[eo]=Informo pri retinterfaco
Comment[es]=Información sobre el interfaz de red
Comment[et]=Võrguliideste info
Comment[eu]=Sare-Zerbitzariari buruzko informazioa
Comment[fa]=اطلاعات واسط شبکه
Comment[fi]=Verkkoliityntöjen tiedot
Comment[fr]=Informations sur l'interface réseau
Comment[he]=מידע על ממשקי רשת
Comment[hr]=Informacije o mrežnom sučelju
Comment[hu]=információ
Comment[it]=Informazioni sulle interfacce di rete
Comment[ja]=ネットワークインターフェースの情報
Comment[lt]=Tinklo sąsajos informacija
Comment[mt]=Informazzjoni dwar interfaċċji tan-network
Comment[nb]=Informasjon om nettverksgrensesnitt
Comment[nl]=Netwerkinterface-informatie
Comment[nn]=Informasjon om nettverksgrensesnitt
Comment[nso]=Tshedimoso ya Difahlego tsa Kgokagano
Comment[pl]=Informacje o interfejsie sieciowym
Comment[pt]=Informações sobre as interfaces de rede
Comment[pt_BR]=Informações Sobre Rede
Comment[ro]=Afişează informaţii despre interfeţele de reţea
Comment[ru]=Сведения о сетевых интерфейсах
Comment[sk]=Informácie o sieťových rozhraniach
Comment[sl]=Podatki o omrežnih vmesnikih
Comment[sv]=Information om nätverksgränssnitt
Comment[ta]=Å¨Ä Ó¸ôÒò ¾¸Åø
Comment[tr]=Ağ arayüz bilgisi
Comment[uk]=Інформація щодо інтерфейсів мережі
Comment[ven]=Mafhungo a vhukwamani
Comment[vi]=Thông tin giao diện mạng
Comment[xh]=Ulwazi lojongano lomsebenzi womnatha
Comment[zh_CN]=网络接口信息
Comment[zh_TW]=網路界面資訊
Comment[zu]=Ulwazi lomxhumanisi woxhumano olusakazekile

