[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell nic
Type=Application
DocPath=kinfocenter/nics/index.html
Icon=network


X-KDE-Library=nic
X-KDE-FactoryName=nic
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[af]=Netwerk Koppelvlakke
Name[ar]=واجهات الشبكة
Name[az]=Şəbəkə Ara Üzləri
Name[be]=Сеткавыя інтэрфэйсы
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক ইন্টারফেস
Name[br]=Etrefasoù Rouedad
Name[bs]=Mrežni interfejsi
Name[ca]=Interfícies de xarxa
Name[cs]=Síťová rozhraní
Name[cy]=Rhyngwynebau Rhwydwaith
Name[da]=Netværksgrænseflade
Name[de]=Netzwerk-Schnittstellen
Name[el]=Δικτυακές διασυνδέσεις
Name[eo]=Retinterfacoj
Name[es]=Interfaces de red
Name[et]=Võrguliidesed
Name[eu]=Sare interfazeak
Name[fa]=واسط‌های شبکه
Name[fi]=Verkkoliittymät
Name[fr]=Interfaces réseau
Name[fy]=Netwurkynterfaces
Name[ga]=Comhéadain Líonra
Name[gl]=Interfaces de Rede
Name[he]=ממשקי רשת
Name[hi]=नेटवर्क इंटरफेसेस
Name[hr]=Mrežna sučelja
Name[hu]=Hálózati kártyák
Name[is]=Netkort
Name[it]=Interfacce di rete
Name[ja]=ネットワークインターフェース
Name[lo]=ແຜງວົງຈອນເຄືອຂ່າຍ
Name[lt]=Tinklo sąsajos
Name[lv]=Tīkla iekārtas
Name[mk]=Мрежни интерфејси
Name[mn]=Сүлжээ-харьцах хэсэг
Name[mt]=Interfaċċja tan-network
Name[nb]=Nettverksgrensesnitt
Name[nds]=Nettwarkanslüss
Name[nl]=Netwerkinterfaces
Name[nn]=Nettverksgrensesnitt
Name[nso]=Difahlego tsa Kgokagano
Name[pa]=ਨੈਟਵਰਕ ਇੰਟਰਫੇਸ਼
Name[pl]=Interfejsy sieciowe
Name[pt]=Interfaces de Rede
Name[pt_BR]=Interfaces de Rede
Name[ro]=Interfeţe de reţea
Name[ru]=Сетевые интерфейсы
Name[se]=Fierbmelavttat
Name[sk]=Sieťové rozhrania
Name[sl]=Omrežni vmesniki
Name[sr]=Мрежни интерфејси
Name[sr@Latn]=Mrežni interfejsi
Name[ss]=Sichumanisi seluchungechunge
Name[sv]=Nätverksgränssnitt
Name[ta]=வலைதள இடைமுகங்கள்
Name[tg]=Воситаҳои шабака
Name[th]=แผงวงจรเครือข่าย
Name[tr]=Ağ Arayüzleri
Name[uk]=Мережеві інтерфейси
Name[uz]=Тармоқ интерфейслари
Name[ven]=Vhukwamani ha tshifhatuwo
Name[vi]=Giao diện mạng
Name[wa]=Eterfaces rantoele
Name[xh]=Ujongano Lomsebenzi womnatha
Name[xx]=xxNetwork Interfacesxx
Name[zh_CN]=网络接口
Name[zh_TW]=網路界面
Name[zu]=Abaxhumanisi boxhumano olusakazekile

Comment=Network interface information
Comment[af]=Netwerk koppelvlak informasie
Comment[ar]=معلومات حول واجهة الشبكة
Comment[az]=Şəbəkə ara üzü mə'lumatı
Comment[be]=Інфармацыя аб сеткавых інтэрфэйсах
Comment[bg]=Информация за мрежовите интерфейси
Comment[bn]=নেটওয়ার্ক ইন্টারফেস সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an etrefasoù rouedad
Comment[bs]=Informacije o mrežnom interfejsu
Comment[ca]=Informació de la interfície de xarxa
Comment[cs]=Informace o síťových rozhraních
Comment[cy]=Gwybodaeth rhyngwynebau rhwydwaith
Comment[da]=Information om netværksgrænseflade
Comment[de]=Informationen über die Netzwerkanschlüsse
Comment[el]=Πληροφορίες δικτυακής διασύνδεσης
Comment[eo]=Informo pri retinterfaco
Comment[es]=Información sobre el interfaz de red
Comment[et]=Võrguliideste info
Comment[eu]=Sare interfazeari buruzko informazioa
Comment[fa]=اطلاعات واسط شبکه
Comment[fi]=Verkkoliityntöjen tiedot
Comment[fr]=Informations sur l'interface réseau
Comment[fy]=Netwurkynterface-ynformaasje
Comment[ga]=Eolas faoin gcomhéadan gréasáin
Comment[gl]=Información da interface de rede
Comment[he]=מידע על ממשקי רשת
Comment[hi]=नेटवर्क इंटरफेस जानकारी
Comment[hr]=Informacije o mrežnom sučelju
Comment[hu]=A hálózati kártyák jellemzői
Comment[is]=Upplýsingar um Netkort
Comment[it]=Informazioni sulle interfacce di rete
Comment[ja]=ネットワークインターフェースの情報
Comment[lo]=ຂໍ້ມູນລະບົບເຄືອຂ່າຍ
Comment[lt]=Tinklo sąsajos informacija
Comment[lv]=Tīkla iekārtu informācija
Comment[mk]=Информации за мрежните интерфејси
Comment[mn]=Сүлжээний холболтын мэдээлэл
Comment[mt]=Informazzjoni dwar interfaċċji tan-network
Comment[nb]=Informasjon om nettverksgrensesnitt
Comment[nds]=Informatschoon över de Netwarkanslüss
Comment[nl]=Netwerkinterface-informatie
Comment[nn]=Informasjon om nettverksgrensesnitt
Comment[nso]=Tshedimoso ya Difahlego tsa Kgokagano
Comment[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o interfejsie sieciowym
Comment[pt]=Informações sobre as interfaces de rede
Comment[pt_BR]=Informações sobre rede
Comment[ro]=Afişează informaţii despre interfeţele de reţea
Comment[ru]=Сведения о сетевых интерфейсах
Comment[se]=Fierbmalaktadiehtu
Comment[sk]=Informácie o sieťových rozhraniach
Comment[sl]=Podatki o omrežnih vmesnikih
Comment[sr]=Информације о мрежним интерфејсима
Comment[sr@Latn]=Informacije o mrežnim interfejsima
Comment[sv]=Information om nätverksgränssnitt
Comment[ta]=வலைதள இடைமுகத் தகவல்
Comment[tg]=Иттилооти шабака
Comment[th]=ข้อมูลแผงวงจรเครือข่าย
Comment[tr]=Ağ arayüz bilgisi
Comment[uk]=Інформація щодо інтерфейсів мережі
Comment[uz]=Тармоқ интерфейслари ҳақида маълумот
Comment[ven]=Mafhungo a vhukwamani
Comment[vi]=Thông tin giao diện mạng
Comment[wa]=Informåcion so l' eterface rantoele
Comment[xh]=Ulwazi lojongano lomsebenzi womnatha
Comment[xx]=xxNetwork interface informationxx
Comment[zh_CN]=网络接口信息
Comment[zh_TW]=網路界面資訊
Comment[zu]=Ulwazi lomxhumanisi woxhumano olusakazekile

Categories=Qt;KDE;X-KDE-information;
