[KDE Desktop Program]
Comment=KDE Web Desktop
Comment[el]=Επιφάνεια εργασίας Ιστού του KDE
Comment[fr]=Bureau web de KDE
Comment[x-test]=xxKDE Web Desktopxx
Executable=kwebdesktop
Command=kwebdesktop %x %y %f http://www.kde.org/
PreviewCommand=kwebdesktop %x %y %f http://www.kde.org/
Refresh=10
