[Desktop Entry]
Exec=kcmshell Sound/arts
Icon=arts
Type=Application
DocPath=kcontrol/kcmarts/arts-1.html

X-KDE-ModuleType=Library
X-KDE-Library=arts
X-KDE-Init=arts

Name=Sound Server
Name[bg]=Çâóêîâ Ñúðâúð
Name[ca]=Servidor de so
Name[cs]=Zvukový server
Name[da]=Lydserver
Name[de]=Soundserver
Name[el]=Διακομιστής Ήχου
Name[eo]=Sonorservo
Name[es]=Servidor de Sonido
Name[et]=Heliserver
Name[fi]=Äänipalvelin
Name[fr]=Serveur de son
Name[gl]=Servidor de Son
Name[he]=לילצ תרש
Name[hr]=Zvučni poslužitelj
Name[hu]=Hangkiszolgáló
Name[is]=Hljóðmiðlari
Name[it]=Server sonoro
Name[ja]=サウンドサーバ
Name[mk]=Звук-опслужувач
Name[nl]=Geluidsserver
Name[no]=Lydtjener
Name[no_NY]=Lydtenar
Name[pl]=Serwer dźwięku
Name[pt]=Servidor de Som
Name[pt_BR]=Servidor de som
Name[ro]=Server de sunet
Name[ru]=Звуковой сервер
Name[sk]=Server Zvukov
Name[sl]=Zvočni strežnik
Name[sv]=Ljudserver
Name[ta]=´Ä¢ §º¨ÅÂ¸õ
Name[tr]=Ses Sunucusu
Name[uk]=Сервер звуку

Comment=Sound Server Configuration
Comment[bg]=Êîíôèãóðàöèÿ íà Çâóêîâ ñúðâúð
Comment[ca]=Configuració del servidor de so
Comment[cs]=Nastavení zvukového serveru
Comment[da]=Lydserverens indstilling
Comment[de]=Einrichtung des Soundservers
Comment[el]=Ρύθμιση Διακομιστή Ήχου
Comment[eo]=Agordo de la sonorservo
Comment[es]=Configuración del servidor de sonido
Comment[et]=Heliserveri konfigureerimine
Comment[fi]=Järjestelmän äänipalvelimen asetukset
Comment[fr]=Configuration du serveur de son
Comment[gl]=Configuración do Servidor de son
Comment[he]=לילצה תרש תורדגה
Comment[hr]=Postavke zvučnog poslužitelja
Comment[hu]=A hangkiszolgáló beállításai
Comment[is]=Stillingar hljóðmiðlarans
Comment[it]=Configurazione del server sonoro
Comment[ja]=サウンドサーバの設定
Comment[mk]=Конфигурација на звук-опслужувачот
Comment[nl]=Configuratie van de geluidsserver
Comment[no]=Konfigurasjon av lydtjener
Comment[no_NY]=Oppsett av lydtenar
Comment[pl]=Konfiguracja serwera dźwięku
Comment[pt]=Configuração do Servidor de Som
Comment[pt_BR]=Configuração do servidor de som
Comment[ro]=Configurează server-ul de sunet
Comment[ru]=Настройка звукового сервера
Comment[sk]=Nastavenie Servera Zvukov
Comment[sl]=Ukrojitev zvočnega strežnika
Comment[sv]=Anpassning av ljudservern
Comment[ta]=´Ä¢ §º¨ÅÂ¸ ÅÊÅ¨ÁôÒ
Comment[tr]=Ses Sunucu Yapılandırması
Comment[uk]=Настройка серверів звуку

Keywords=aRts,Sound Server,artsd,Audio,Sound
Keywords[ca]=aRts,servidor de so,artsd,Àudio,So
Keywords[cs]=aRts,Zvukový server,artsd,Audio,Zvuk
Keywords[da]=aRTs,Lydserver,artsd,Audio,Lyd
Keywords[de]=aRts,Soundserver,Artsd,Audio,Sound,Klang,Klangserver
Keywords[el]=aRts,Διακομιστής Ήχου,artsd,Audio,Ήχος
Keywords[eo]=aRts,Sonoro,artsd,Audio,Sound,Sono
Keywords[es]=aRts,Servidor de sonido, artsd, Audio, Sonido
Keywords[et]=aRts,Heliserver,artsd,Audio,Heli
Keywords[fi]=aRts,Äänipalvelin,artsd,Äänet
Keywords[fr]=aRts,serveur son,artsd,audio,son
Keywords[gl]=aRts,Servidor de Son,artsd,Audio,Son
Keywords[he]=aRts,artsd,לילצ,עמש,לילצ תרש
Keywords[hr]=aRts,Soundserver,artsd,Audio,Sound,Zvuk
Keywords[hu]=aRts,hangkiszolgáló,artsd,audió,hang
Keywords[is]=aRts,Hljóðmiðlari,artsd,hljóð
Keywords[it]=aRts,server sonoro,artsd,Audio,Suono
Keywords[ja]=aRts,サウンドサーバ,artsd,オーディオ,サウンド
Keywords[mk]=aRts,звук опслужувач,artsd,Аудио,Звук
Keywords[nl]=aRts,Geluidsserver,artsd,Audio,Sound,Geluid
Keywords[no]=aRts,lydtjener,artsd,lyd
Keywords[no_NY]=aRts,lydtenar,artsd,lyd,audio
Keywords[pl]=aRts,serwer dźwięku,artsd,Audio,Dźwięk
Keywords[pt]=aRts,servidor de som,artsd,audio,som
Keywords[pt_BR]=aRts,servidor de som,áudio,som
Keywords[ro]=aRts,server de sunet,artsd,audio,sunet
Keywords[ru]=aRts,Soundserver,artsd,Audio,Sound
Keywords[sk]=ARts,zvuky artsd,Audio
Keywords[sl]=aRts,zvočni strežnik,artsd,avdio,zvok
Keywords[sv]=aRts,Ljudserver,artsd,Ljud
Keywords[ta]=´Ä¢ §º¨ÅÂ¸õ,´Ä¢,ºò¾õ
Keywords[tr]=aRts,Ses sunucusu,artsd,Ses
Keywords[uk]=aRts,soundserver,сервер звуку,artsd,аудіо,звук,audio

