[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell componentchooser
Icon=misc
Type=Application


X-KDE-Library=componentchooser

X-KDE-ParentApp=kcontrol

Name=Component Chooser
Comment=Choose the default components for various services

Keywords=components,component chooser,resources, email client, terminal emulator

Categories=Qt;KDE;X-KDE-settings-components;
