[Desktop Entry]
Encoding=UTF-8
Comment=Fonts Folder
Comment[ar]=مجلد الخطوط
Comment[az]=Yazı növü qovluğu
Comment[be]=Тэчка шрыфтоў
Comment[bg]=Директория за шрифтове
Comment[bn]=ফন্ট ফোল্ডার
Comment[bs]=Direktorij sa fontovima
Comment[ca]=Carpeta de fonts
Comment[cs]=Složka písem
Comment[cy]=Plygell wynebfathau
Comment[da]=Skrifttypemappe
Comment[de]=Schriftenordner
Comment[el]=Φάκελος γραμματοσειρών
Comment[eo]=Tipardosierujo
Comment[es]=Carpeta de tipos de letra
Comment[et]=Fontide kataloog
Comment[eu]=Letra-tipoen karpeta
Comment[fi]=Kirjasinkansio
Comment[fr]=Dossier de polices de caractères
Comment[gl]=Cartafol das fontes
Comment[he]=תיקיית גופנים
Comment[hi]=फ़ॉन्ट्स फ़ोल्डर
Comment[hr]=Mapa pisama:
Comment[hu]=Betűtípus-mappa
Comment[is]=Leturmappan
Comment[it]=Cartella dei caratteri
Comment[mn]=Бичгийн лавлах
Comment[mt]=Direttorju tal-fonts
Comment[nb]=Mappe for skrifttyper
Comment[nds]=Teknensettordner
Comment[nl]=Lettertypemap
Comment[nn]=Skriftmappe
Comment[pl]=Katalog czcionek
Comment[pt]=Pasta de tipos de letra
Comment[pt_BR]=Pasta de Fontes
Comment[ro]=Folder de fonturi
Comment[ru]=Папка шрифтов
Comment[se]=Fontamáhppa
Comment[sk]=Priečinok písiem
Comment[sl]=Mapa za pisave
Comment[sr]=Директоријум за фонтове
Comment[sr@Latn]=Direktorijum za fontove
Comment[sv]=Teckensnittskatalog
Comment[ta]=எழுத்துருக்கள் அடைவு
Comment[tg]=Феҳристи ҳарфҳо
Comment[th]=โฟลเดอร์แฟ้มแบบอักษร
Comment[tr]=Yazıtipi dizini
Comment[uk]=Тека шрифтів
Comment[uz]=Шрифтларнинг жилди
Comment[vi]=Thư mục phông
Comment[wa]=Ridant di fontes
Comment[xx]=xxFonts folderxx
Comment[zh_CN]=字体文件夹
Comment[zh_TW]=字型資料夾
Icon=folder
Type=MimeType
MimeType=fonts/folder
Patterns=

X-KDE-AutoEmbed=true
