[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=fonts:/
Icon=fonts
Name=Fonts
Name[af]=Skriftipes
Name[ar]=الخطوط
Name[az]=Yazı növləri
Name[be]=Шрыфты
Name[bg]=Шрифтове
Name[bn]=ফন্ট
Name[br]=Fontoù
Name[bs]=Fontovi
Name[cs]=Písma
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriften
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[es]=Fuentes
Name[et]=Fondid
Name[eu]=Letra-tipoak
Name[fa]=قلم‌ها
Name[fi]=Kirjasimet
Name[fr]=Polices
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gl]=Fontes
Name[he]=גופנים
Name[hi]=फ़ॉन्ट्स
Name[hr]=Pisma
Name[hu]=Betűtípusok
Name[is]=Letur
Name[it]=Tipi di carattere
Name[ja]=フォント
Name[ko]=글꼴
Name[lo]=ຮູບແບບຕົວອັກສອນ
Name[lt]=Šriftai
Name[lv]=Fonti
Name[mk]=Фонтови
Name[mn]=Бичгүүд
Name[nb]=Skrifttype
Name[nds]=Schriftoorden
Name[nl]=Lettertypen
Name[nn]=Skrifttypar
Name[nso]=Difonto
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[sk]=Písma
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@Latn]=Fontovi
Name[ss]=Timo tetinhlamvu temagama
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[tg]=Ҳарфҳо
Name[th]=แบบอักษร
Name[tr]=Yazıtipleri
Name[uk]=Шрифти
Name[uz]=Шрифтлар
Name[ven]=Fontu
Name[vi]=Phông 
Name[wa]=Fontes
Name[xh]=Uhlobo lwamagama
Name[xx]=xxFontsxx
Name[zh_CN]=字体
Name[zh_TW]=字型
Name[zu]=Izinhlobo zamagama
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
