[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=fonts:/
Icon=fonts-folder
Name=Fonts
Name[af]=Skriftipes
Name[ar]=المحارف
Name[bg]=Шрифтове
Name[br]=Fontoù
Name[cs]=Písma
Name[csb]=Fòntë
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriftarten
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[es]=Fuentes
Name[et]=Fondid
Name[eu]=Letra-tipoak
Name[fa]=قلمها
Name[fi]=Kirjasimet
Name[fr]=Polices
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gl]=Fontes
Name[he]=גופנים
Name[hr]=Fontovi
Name[hu]=Betűtípusok
Name[is]=Letur
Name[it]=Tipi di carattere
Name[ja]=フォント
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[km]=ពុម្ពអក្សរ
Name[ko]=글꼴
Name[lt]=Šriftai
Name[lv]=Fonti
Name[mk]=Фонтови
Name[ms]=Fon
Name[nb]=Skrifttype
Name[nds]=Schriftoorden
Name[ne]=फन्ट
Name[nl]=Lettertypen
Name[nn]=Skrifttypar
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[se]=Fonttat
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@Latn]=Fontovi
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[tg]=Ҳарфҳо
Name[tr]=Yazıtipleri
Name[uk]=Шрифти
Name[uz]=Шрифтлар
Name[x-test]=xxFontsxx
Name[xh]=Uhlobo lwamagama
Name[zh_TW]=字型
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
