[Desktop Entry]
Name=Dashboard
Name[ar]=لوحة الودجات
Name[bg]=Табло
Name[bn]=ড্যাশবোর্ড
Name[ca]=Tauler
Name[csb]=Panel
Name[da]=Instrumentbræt
Name[eo]=Stirtablo
Name[es]=Tablero de mandos
Name[gu]=ડેશબોર્ડ
Name[hi]=डैशबोर्ड
Name[ja]=ダッシュボード
Name[kk]=Аспаптар панелі
Name[km]=ផ្ទាំង​គ្រប់គ្រង
Name[kn]=ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್)
Name[ko]=대시보드
Name[ml]=ഡാഷ്ബോര്‍ഡ് 
Name[mr]=डॅशबोर्ड
Name[nds]=Klockpaneel
Name[nn]=Kontrollpult
Name[or]=ଡ୍ୟାସବୋର୍ଡ
Name[pa]=ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica
Name[ro]=Tablou de bord
Name[sr]=инструмент-табла
Name[sr@latin]=instrument-tabla
Name[sv]=Instrumentpanel
Name[te]=డాష్‌బోర్‍డ్
Name[tg]=Панел
Name[th]=แดชบอร์ด
Name[tr]=Kontrol Paneli
Name[uk]=Панель приладів
Name[x-test]=xxDashboardxx
Name[zh_CN]=部件板
Name[zh_TW]=儀表板
Comment=MacOS X dashboard widget
Comment[ar]=لوحة ودجات MacOS
Comment[be@latin]=Widžet „Dashboard” systemy „MacOS X”.
Comment[bg]=Джаджа MacOS X
Comment[ca]=Estri del tauler del MacOS X
Comment[da]=MacOS X dashboard-widget
Comment[de]=MacOS-X-Dashboard-Miniprogramm
Comment[el]=Συστατικό MacOS X dashboard
Comment[eo]=MacOS X stirtabla fenestraĵo
Comment[es]=Elemento de tablero de mandos de MacOS X
Comment[et]=MacOS X dashboardi vidin
Comment[eu]=MacOS X dashboard widget-a
Comment[fr]=Plasmoïde du dashboard de MacOS X
Comment[ga]=Giuirléid dashboard MacOS X
Comment[gl]=Widget do dashboard de MacOS X
Comment[gu]=MacOS X ડેશબોર્ડ વિજેટ
Comment[hi]=मैकओएस X डैशबोर्ड विजेट
Comment[hu]=MacOS X Dashboard-elem
Comment[is]=MacOS X dashboard græja
Comment[it]=Widget della Dashboard di MacOS X
Comment[ja]=MacOS X ダッシュボードウィジェット
Comment[kk]=MacOS X аспаптар панелі
Comment[km]=ធាតុ​ក្រាហ្វិក​ផ្ទាំងគ្រប់គ្រង​របស់ MacOS
Comment[kn]=MacOS X ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್) ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=Mac OS X 대시보드 위젯
Comment[ku]=Amûrê MacOS X dashboardê
Comment[lt]=MacOS X dashboard valdiklis
Comment[lv]=MacOS X dashboard sīkrīks
Comment[ml]=MacOS എക്സ് ഡാഷ്ബോര്‍ഡ് വിഡ്ജറ്റ്
Comment[mr]=MacOS X डॅशबोर्ड विजेट
Comment[nb]=MacOS X dashboard-element
Comment[nds]=MacOs-X-Klockpaneel
Comment[nl]=MacOS X-dashboard-widget
Comment[nn]=MacOS X kontrollpult-element
Comment[or]=MacOS X ଡ୍ୟାସବୋର୍ଡ ୱିଜେଟ
Comment[pa]=MacOS X ਡੈਸ਼ਬੋਰਡ ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu przypominający tablicę z MacOS X
Comment[pt]=Elemento gráfico do painel do MacOS X
Comment[pt_BR]=Widget do painel do MacOS X
Comment[ru]=Виджет MacOS X Dashboard
Comment[sl]=Gradnik za Mac OS X Dashboard
Comment[sr]=Инструмент-табла МекОС‑а X
Comment[sr@latin]=Instrument-tabla MacOS‑a X
Comment[sv]=Grafisk komponent för MacOS X instrumentpanel
Comment[te]=MacOS X డాష్‌బోర్‍డ్ విడ్జట్
Comment[tg]=Виҷети панели MacOS X
Comment[th]=วิดเจ็ตของแดชบอร์ด MacOS X
Comment[tr]=MacOS X kontrol paneli programcığı
Comment[uk]=Віджет панелі приладів MacOS X
Comment[x-test]=xxMacOS X dashboard widgetxx
Comment[zh_CN]=MacOS X 部件板
Comment[zh_TW]=MacOS X 儀表板元件
Type=Service
ServiceTypes=Plasma/ScriptEngine
Icon=internet-web-browser

X-KDE-Library=plasma_appletscriptengine_dashboard
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zackr@kde.org
X-KDE-PluginInfo-Name=dashboard
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ComponentTypes=Applet
X-Plasma-API=dashboard
X-Plasma-PackageFormat=dashboard
