[Desktop Entry]
Name=Dashboard Widget
Name[ca]=Estri del tauler
Name[da]=Instrumentbræts-widget
Name[de]=Dashboard-Miniprogramm
Name[el]=Συστατικό Dashboard
Name[eo]=Stirtabla fenestraĵo
Name[et]=Dashboardi vidin
Name[fr]=Plasmoïde Dashboard
Name[fy]=Dashboard widget
Name[ga]=Giuirléid Dashboard
Name[gl]=Widget de Dashboard
Name[gu]=ડેશબોર્ડ વિજેટ
Name[it]=Oggetto Dashboard
Name[ja]=ダッシュボードウィジェット
Name[km]=ធាតុ​ក្រាហ្វិក​ផ្ទាំង​គ្រប់គ្រង
Name[ko]=대시보드 위젯
Name[ku]=Amûrê Kontrolkirinê
Name[lv]=Dashboard logdaļa
Name[nds]=Klockpaneel-Finster
Name[nl]=Dashboard-widget
Name[nn]=Kontrollpult-element
Name[pa]=ਡੈਸ਼ਬੋਰਡ ਵਿਦਜੈੱਟ
Name[pt]=Elemento do Dashboard
Name[pt_BR]=Widget dashboard
Name[sl]=Gradnik za Dashboard
Name[sr]=виџет инструмент-табле
Name[sr@latin]=vidžet instrument-table
Name[sv]=Grafisk komponent för instrumentbräda
Name[tr]=Kontrol Paneli Programcığı
Name[uk]=Віджет панелі приладів
Name[x-test]=xxDashboard Widgetxx
Name[zh_CN]=部件板
Name[zh_TW]=儀表板元件
Comment=MacOS dashboard widget
Comment[ca]=Estri del tauler del MacOS
Comment[da]=MacOS dashboard-widget
Comment[de]=MacOS-Dashboard-Miniprogramm
Comment[el]=Συστατικό του MacOS dashboard
Comment[eo]=MacOS stirtabla fenestraĵo
Comment[et]=MacOS-i dashboardi vidin
Comment[fr]=Plasmoïde du dashboard de MacOS
Comment[ga]=Giuirléid dashboard MacOS
Comment[gl]=Widget do dashboard de MacOS
Comment[gu]=MacOS ડેશબોર્ડ વિજેટ
Comment[it]=Oggetto della Dashboard di MacOs
Comment[ja]=MacOS ダッシュボードウィジェット
Comment[km]=ធាតុ​ក្រាហ្វិក​ផ្ទាំង​គ្រប់គ្រង​របស់ MacOS
Comment[ko]=Mac OS 대시보드 위젯
Comment[ku]=Amûrê MacOS dashboardê
Comment[lv]=MacOS Dashboard logdaļa
Comment[nds]=MacOs-Klockpaneel
Comment[nl]=MacOS-dashboard-widget
Comment[nn]=MacOS kontrollpult-element
Comment[pa]=MacOS ਡੈਸ਼ਬੋਰਡ ਵਿਦਜੈੱਟ
Comment[pt]=Elemento do Painel do MacOS
Comment[pt_BR]=Widget do painel do MacOS
Comment[sl]=Gradnik za Mac OS Dashboard
Comment[sr]=Инструмент-табла као у МекОС‑у
Comment[sr@latin]=Instrument-tabla kao u MacOS‑u
Comment[sv]=Grafisk komponent för MacOS instrumentbräda
Comment[tr]=MacOS kontrol paneli programcığı
Comment[uk]=Віджет панелі приладів MacOS
Comment[x-test]=xxMacOS dashboard widgetxx
Comment[zh_CN]=MacOS 部件板
Comment[zh_TW]=MacOS 儀表板元件
Type=Service
ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_dashboard
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zackr@kde.org
X-KDE-PluginInfo-Name=dashboard
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*
X-Plasma-PackageFileMimetypes=application/zip
