[Desktop Entry]
Name=Dashboard
Name[ca]=Tauler
Name[csb]=Panel
Name[da]=Instrumentbræt
Name[eo]=Stirtablo
Name[es]=Tablero
Name[gu]=ડેશબોર્ડ
Name[it]=Bacheca
Name[ja]=ダッシュボード
Name[km]=ផ្ទាំង​គ្រប់គ្រង
Name[ko]=대시보드
Name[ml]=ഡാഷ്ബോര്‍ഡ് 
Name[mr]=डॅशबोर्ड
Name[nds]=Klockpaneel
Name[nn]=Kontrollpult
Name[pa]=ਡੈਸ਼ਬੋਰਡ
Name[sr]=инструмент-табла
Name[sr@latin]=instrument-tabla
Name[sv]=Instrumentbräda
Name[tg]=Панел
Name[tr]=Kontrol Paneli
Name[uk]=Панель приладів
Name[x-test]=xxDashboardxx
Name[zh_CN]=部件板
Name[zh_TW]=儀表板
Comment=MacOS X dashboard widget
Comment[ca]=Estri del tauler del MacOS X
Comment[da]=MacOS X dashboard-widget
Comment[de]=MacOS-X-Dashboard-Miniprogramm
Comment[el]=Συστατικό MacOS X dashboard
Comment[eo]=MacOS X stirtabla fenestraĵo
Comment[es]=Elemento de tablero MacOS X
Comment[et]=MacOS X dashboardi vidin
Comment[fr]=Plasmoïde du dashboard de MacOS X
Comment[ga]=Giuirléid dashboard MacOS X
Comment[gl]=Widget do dashboard de MacOS X
Comment[gu]=MacOS X ડેશબોર્ડ વિજેટ
Comment[hu]=MacOS X Dashboard-elem
Comment[it]=Oggetto della Dashboard di MacOs X
Comment[ja]=MacOS X ダッシュボードウィジェット
Comment[km]=ធាតុ​ក្រាហ្វិក​ផ្ទាំងគ្រប់គ្រង​របស់ MacOS
Comment[ko]=Mac OS X 대시보드 위젯
Comment[ku]=Amûrê MacOS X dashboardê
Comment[lv]=MacOS X Dashboard logdaļa
Comment[ml]=MacOS എക്സ് ഡാഷ്ബോര്‍ഡ് വിഡ്ജറ്റ്
Comment[mr]=MacOS X डॅशबोर्ड विजेट
Comment[nds]=MacOs-X-Klockpaneel
Comment[nl]=MacOS X-dashboard-widget
Comment[nn]=MacOS X kontrollpult-element
Comment[pa]=MacOS X ਡੈਸ਼ਬੋਰਡ ਵਿਦਜੈੱਟ
Comment[pt]=Elemento gráfico do painel do MacOS X
Comment[pt_BR]=Widget do painel do MacOS X
Comment[sl]=Gradnik za Mac OS X Dashboard
Comment[sr]=Инструмент-табла МекОС‑а X
Comment[sr@latin]=Instrument-tabla MacOS‑a X
Comment[sv]=Grafisk komponent för MacOS X instrumentbräda
Comment[tr]=MacOS X kontrol paneli programcığı
Comment[uk]=Віджет панелі приладів MacOS X
Comment[x-test]=xxMacOS X dashboard widgetxx
Comment[zh_CN]=MacOS X 部件板
Comment[zh_TW]=MacOS X 儀表板元件
Type=Service
ServiceTypes=Plasma/ScriptEngine
Icon=internet-web-browser

X-KDE-Library=plasma_appletscriptengine_dashboard
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zackr@kde.org
X-KDE-PluginInfo-Name=dashboard
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ComponentTypes=Applet
X-Plasma-API=dashboard
X-Plasma-PackageFormat=dashboard
