[Desktop Entry]
Name=Date and Time
Name[ar]=التاريخ و الوقت
Name[as]=তাৰিখ আৰু সময়
Name[be@latin]=Data j čas
Name[bg]=Дата и час
Name[bn]=তারিখ এবং সময়
Name[bn_IN]=তারিখ ও সময়
Name[ca]=Data i hora
Name[cs]=Datum a čas
Name[csb]=Datum ë czas
Name[da]=Dato og tid
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία και ώρα
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fi]=Päivämäärä ja aika
Name[fr]=Date et Heure
Name[gl]=Data e hora
Name[gu]=તારીખ અને સમય
Name[he]=תאריך ושעה
Name[hi]=तारीख़ और समय
Name[is]=Dagur og tími
Name[it]=Data e ora
Name[ja]=日付と時間
Name[kk]=Күні мен уақыты
Name[km]=កាល​បរិច្ឆេទ និង​ពេលវេលា
Name[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Name[ko]=날짜와 시간
Name[ku]=Dîrok û Dem
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mk]=Датум и време
Name[ml]=തീയതിയും സമയവും 
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nds]=Datum un Tiet
Name[nl]=Datum en tijd
Name[or]=ତାରିଖ ଏବଂ ସମୟ
Name[pa]=ਮਿਤੀ ਅਤੇ ਟਾਈਮ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sv]=Datum och tid
Name[tg]=Сана ва вақт
Name[th]=วันและเวลา
Name[tr]=Tarih ve Saat
Name[uk]=Дата і час
Name[x-test]=xxDate and Timexx
Name[zh_CN]=日期和时间
Name[zh_TW]=日期與時間
Comment=Time data for Plasmoids
Comment[ar]=محرك بيانات الوقت للبلازمويدات
Comment[be@latin]=Źviestki pra čas dla widžetaŭ „Plasma”
Comment[bg]=Време (Plasmoids)
Comment[bn_IN]=Plasmoids-র জন্য সময় সংক্রান্ত তথ্য
Comment[ca]=Dades d'hora pels Plasmoides
Comment[csb]=Czérownik czasu ë datuma dlô plazmoidów
Comment[da]=Tiddata til plasmoids
Comment[de]=Zeitdaten für Plasmoide
Comment[el]=Δεδομένα χρόνου για πλασμοειδή
Comment[eo]=Tempaj datumoj por Plasmoidoj
Comment[es]=Datos horarios para los plasmoides
Comment[et]=Ajaandmed plasmoididele
Comment[eu]=Plasmoiden denboraren datuak
Comment[fa]=داده زمان برای Plasmoids
Comment[fi]=Aikatietoa Plasmoideille
Comment[fr]=Données temporelles pour les plasmoïdes
Comment[fy]=Tiid gegevens foar Plasmoids
Comment[ga]=Sonraí ama le haghaidh Plasmoids
Comment[gl]=Datos de tempo para os Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે સમય માહિતી
Comment[he]=נתוני זמן עבור פלסמואידים
Comment[hi]=प्लाज्माइड्स के लिए समय डाटा
Comment[hu]=Időadatok plasmoidokhoz
Comment[is]=Tímaupplýsingar fyrir Plasmadót
Comment[it]=Dati temporali per i plasmoidi
Comment[ja]=プラズモイドのための時間データ
Comment[kk]=Плазмоидтерге уақыт деректері
Comment[km]=ទិន្នន័យ​ពេល​វេលា​សម្រាប់ Plasmoids
Comment[kn]=ಪ್ಲಾಸ್ಮಾಯ್ಡ್ ಗಳಿಗೆ  ಸಮಯ ದತ್ತ
Comment[ko]=Plasmoid를 위한 시간 데이터
Comment[lv]=Laika dati Plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനുള്ള സമയത്തിന്റെ ഡാറ്റ
Comment[mr]=Plasmoids करीता वेळ माहिती
Comment[nb]=Tidsdata for plasmoider
Comment[nds]=Tietdaten för Lüttprogrammen
Comment[ne]=प्लासमोइड्सका लागि समय डेटा
Comment[nl]=Tijdgegevens voor Plasmoids
Comment[nn]=Tidsdata for plasmoidar
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਟਾਈਮ ਡਾਟਾ
Comment[pl]=Dane o czasie dla plazmoidów
Comment[pt]=Dados de data/hora para os Plasmóides
Comment[pt_BR]=Dados de tempo para os plasmóides
Comment[ro]=Date despre oră pentru plasmoizi
Comment[ru]=Временные данные для плазмоидов
Comment[se]=Áigedáhtat plasmoidaide
Comment[sk]=Časové údaje pre plazmoidy
Comment[sl]=Podatki o času za Plazmoide
Comment[sr]=Датум и време за плазмоиде
Comment[sr@latin]=Datum i vreme za plazmoide
Comment[sv]=Tiddata för Plasmoider
Comment[te]=Plasmoids కొరకు టైమ్ డాటా
Comment[th]=ข้อมูลเวลาสำหรับพลาสมอยด์
Comment[tr]=Plasma programcıkları için saat verisi
Comment[uk]=Дані часу для Плазмоїдів
Comment[vi]=Dữ liệu thời gian cho Plasmoids
Comment[wa]=Dinêyes d' eures po Plasmoids
Comment[x-test]=xxTime data for Plasmoidsxx
Comment[zh_CN]=Plasmoids 的时间数据
Comment[zh_TW]=電漿時鐘的時間資料
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_time

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=time
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
