[Desktop Entry]
Icon=preferences-desktop-display-multiple
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 xinerama
X-DocPath=kcontrol/multiplemonitors.html
# This is still awfully broken, first of all Hidden= here doesn't work
# for some reason and second this is statically done at kbuildsycoca time.
# X-KDE-Test-Module (KCModuleLoader::testModule() in KDE3) needs to be brought back.
#Hidden[$e]=$(if test_kcm_xinerama; then echo "false"; else echo "true"; fi)

X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_xinerama

X-KDE-System-Settings-Parent-Category=display

Name=Multiple Monitors
Comment=Configure KDE for multiple monitors
X-KDE-Keywords=Xinerama,dual head,multihead,monitor
X-KDE-Keywords[be]=Два маніторы,Манітор,Некалькі манітораў,Дысплей,Xinerama,dual head,multihead,monitor
X-KDE-Keywords[bg]=Keywords=много, монитори, монитор, екран, дисплей, Xinerama, dual head, multihead, monitor
X-KDE-Keywords[ca]=Xinerama,dual head,doble dispositiu,multihead,multiples dispositius,monitor
X-KDE-Keywords[csb]=Xinerama,dwa mònitorë,wiele mònitorów,mònitor
X-KDE-Keywords[cy]=Xinerama,pen deuol,amlben,dangosydd
X-KDE-Keywords[da]=Xinerama,dualt hovede,multihovede,skærm
X-KDE-Keywords[de]=inerama,dual head,multihead,monitor
X-KDE-Keywords[el]=Xinerama,dual head,multihead,οθόνη
X-KDE-Keywords[eo]=duobla,duoblaj,oblaj,ekrano,ekranoj
X-KDE-Keywords[et]=Xinerama,kaks monitori,mitu monitori,monitor
X-KDE-Keywords[eu]=Xinerama,dual head,multihead,monitorea
X-KDE-Keywords[fa]=Xinerama، سرآیند دوگان، سرآیند چندگانه، نمایشگر
X-KDE-Keywords[fi]=Xinerama,näyttö,kaksi näyttöä,useita näyttöjä
X-KDE-Keywords[fr]=Xinerama,dual head,multihead,moniteur,multitête,double écran, multiécran
X-KDE-Keywords[fy]=Xinerama,dual head,multihead,monitor,byldskerm
X-KDE-Keywords[gl]=Xinerama,cabeza dual,cabeza múltiple,monitor
X-KDE-Keywords[he]=Xinerama,דו ראשי,רב ראשי,מסך, dual head,multihead,monitor
X-KDE-Keywords[hr]=Xinerama,dual head,multihead,monitor,višestruki monitori
X-KDE-Keywords[hu]=Xinerama,két fejes,két fej,monitor
X-KDE-Keywords[it]=Xinerama,dual head,multihead,monitor,monitor multipli
X-KDE-Keywords[ja]=Xinerama,デュアルヘッド,マルチヘッド,モニタ
X-KDE-Keywords[km]=Xinerama ​ក្បាល​ពីរ ​ក្បាល​ច្រើន ​ម៉ូនីទ័រ
X-KDE-Keywords[ko]=Xinerama,듀얼 헤드,모니터,다중 모니터
X-KDE-Keywords[lt]=Xinerama,dual head,multihead,monitor,dviejų monitorių,monitorius
X-KDE-Keywords[lv]=Xinerama,dual head,multihead,monitori
X-KDE-Keywords[mk]=Xinerama,dual head,multihead,monitor,монитор
X-KDE-Keywords[nb]=Xinerama,to skjermer,flere skjermer,skjerm,monitor
X-KDE-Keywords[nds]=Xinerama,dual head,multihead,monitor,Mehrschirmbedrief,Dubbelschirm
X-KDE-Keywords[ne]=जिनेरामा, द्व शीर्षक, बहुँ शीर्षक, मनिटर
X-KDE-Keywords[nl]=Xinerama,dual head,multihead,monitor,beeldscherm
X-KDE-Keywords[nn]=Xinerama,to skjermar,fleire skjermar,skjerm,monitor
X-KDE-Keywords[pa]=Xinerama,dual head,multihead,monitor, ਦੋ ਮਾਨੀਟਰ, ਮਾਨੀਟਰ
X-KDE-Keywords[pl]=Xinerama,dwa monitory,wiele monitorów,monitor
X-KDE-Keywords[pt]=xinerama,vários monitores,multihead,monitor
X-KDE-Keywords[pt_BR]=Xinerama,monitores,multihead,monitor
X-KDE-Keywords[sl]=Xinerama,dual head,multihead,monitor,zaslon,dva
X-KDE-Keywords[sr]=Xinerama,dual head,multihead,monitor,монитор,више монитора,вишеглави,двоглави,Ксинерама
X-KDE-Keywords[sr@latin]=Xinerama,dual head,multihead,monitor,monitor,više monitora,višeglavi,dvoglavi,Xinerama
X-KDE-Keywords[sv]=Xinerama,dubbla skärmar,flera skärmar,bildskärm
X-KDE-Keywords[ta]= Xinerama,இரட்டை தலைப்பு,பலதலைப்பு,திரை
X-KDE-Keywords[th]=Xinerama,หัวต่อคู่,หลายหัวต่อ,จอภาพ
X-KDE-Keywords[tr]=Xinerama,çift ekran,çoklu ekran,monitör
X-KDE-Keywords[uk]=Xinerama,dual head,multihead,монітор,комбінація моніторів
X-KDE-Keywords[uz]=Xinerama,dual head,multihead,монитор
X-KDE-Keywords[vi]=Xinerama,đầu kép,đa đầu,màn hình
X-KDE-Keywords[wa]=Xinerama,deus waitroûles,multi-waitroûles,waitroûle,dual head,multihead
X-KDE-Keywords[x-test]=xxXinerama,dual head,multihead,monitorxx
X-KDE-Keywords[zh_CN]=Xinerama,dual head,multihead,monitor,双头,多头,监视器,显示器
