# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=horos.xml
Name=Horos
Name[ca]=Horos
Name[da]=Horos
Name[de]=Horos
Name[en_GB]=Horos
Name[es]=Horos
Name[et]=Horos
Name[fr]=Horos
Name[hi]=होरोस
Name[ia]=Horos
Name[it]=Horos
Name[kk]=Хорос
Name[km]=Horos
Name[kn]=ಹೊರೋಸ್
Name[lt]=Horos
Name[nb]=Horos
Name[nds]=Horos
Name[nl]=Horos
Name[pt]=Horos
Name[pt_BR]=Horos
Name[sl]=Horos
Name[sr]=Хорос
Name[sr@ijekavian]=Хорос
Name[sr@ijekavianlatin]=Horos
Name[sr@latin]=Horos
Name[sv]=Horos
Name[th]=ชุดตกแต่ง Horos
Name[uk]=Хорос
Name[x-test]=xxHorosxx
Name[zh_TW]=Horos

Author=Roman Shtylman
Copyright=GPL 2010 Roman Shtylman | shtylman@gmail.com
Screenshot=screenshot.png
