[Desktop Entry]
Encoding=UTF-8
Comment=joystick - a kcontrol module to test joysticks
Comment[af]=joystick - 'n beheer module om joysticks mee te toets
Comment[be]=Модуль настаўлення джойстыка
Comment[bg]=Настройки на джойстика
Comment[ca]=Joystick - un mòdul de kcontrol per a provar palanques de control
Comment[cs]=Ovládací modul pro testování joysticků
Comment[csb]=joystick - mòduł Centróm kòntrolë dlô testowaniô joysticków
Comment[cy]=joystick - modiwl kcontrol i brofi ffyn rheoli
Comment[da]=joystick - et kcontrol modul til at test joystick
Comment[de]=Joystick-Testmodul
Comment[el]=χειριστήριο - ένα άρθρωμα ελέγχου χειριστηρίων
Comment[eo]=stirstango - kontrola modulo por testi stirstangojn
Comment[es]=joystick - un módulo de kcontrol para probar joysticks
Comment[et]=juhtpult - KDE juhtimiskeskuse moodul juhtpultide testimiseks
Comment[eu]=joystick - joystickak aztertzeko kontrol modulua
Comment[fa]=اهرم کنترل - پیمانۀ kcontrol برای آزمایش اهرمهای کنترل
Comment[fi]=peliohjain - KDE:n ohjauskeskuksen moduuli peliohjainta varten
Comment[fr]=Manettes de jeu - un module pour tester les manettes de jeu
Comment[fy]=joystick - in Konfiguraasjemodule foar it teste fan joysticks
Comment[gl]=joystick - un módulo de kcontrol para probar joysticks
Comment[he]=ג'ויסטיק - מודול לבדיקת ג'ויסטיקים
Comment[hr]=joystick - kcontrol modul za ispitivanje igraće palice
Comment[hu]=Botkormányok tesztelése, kalibrálása
Comment[is]=joystick - kcontrol stjórneining til að prófa stýripinna
Comment[it]=joystick - un modulo di kcontrolper provare i joystick
Comment[ja]=ジョイスティックをテストする kcontrol モジュール
Comment[ka]=joystick -  kcontrol მოდული ჯოისტიკის ტესტირებისთვის 
Comment[kk]=joystick - джойстикты сынау kcontrol модулі
Comment[km]=យ៉យស្ទីក - ម៉ូឌុល kcontrol ដើម្បី​សាកល្បង​យ៉យស្ទីក
Comment[lt]=valdymo svirtis - kcontrol modulis valdymo svirčių išbandymui
Comment[lv]=kursorsvira - kkontroles modulis kursorsviru testēšanai
Comment[mk]=joystick - модул на kcontrol за тестирање џојстици
Comment[nb]=Styrepinne - en kcontrolmodul for å prøve ut styrepinner
Comment[nds]=joystick - Moduul för't Utproberen vun Joysticks
Comment[ne]=जोयस्टिक - जोयस्टिक परिक्षण गर्ने के नियन्त्रण मोड्युल
Comment[nl]=joystick - een configuratiemodule voor het testen van joysticks
Comment[nn]=Styrepinne – ein kontrollmodul for å prøva ut styrepinnar
Comment[pa]=joystick - ਜਾਏਸਟਿੱਕ ਜਾਂਚ ਲਈ ਕੇਕੰਟਰੋਲ ਮੈਡੀਊਲ
Comment[pl]=joystick - moduł Centrum sterowania do testowania joysticków
Comment[pt]=joystick - um módulo do kcontrol para testar joysticks
Comment[pt_BR]=joystick - um módulo de controle para testes de joysticks
Comment[ro]=Un modul pentru testarea joystick-urilor
Comment[ru]=joystick - модуль kcontrol для проверки джойстика
Comment[se]=Stivrensággi – stivrenmoduvla mainna geahččala stivrensákkiid
Comment[sl]=joystick - modul Nadzornega središča za preizkus igralnih palic
Comment[sr]=џојстик - модул контролног центра за тестирање џојстика
Comment[sr@Latn]=džojstik - modul kontrolnog centra za testiranje džojstika
Comment[sv]=Styrspak: en inställningsmodul för att testa styrspakar
Comment[ta]=இயக்கும் கருவி - கேகண்ட்ரோல் கூறு இயக்கும் கருவியை பரிசோதிக்கிறது
Comment[tg]=ҷостик - модули kидора барои санҷиши ҷостикҳо
Comment[tr]=oyun kumandası - oyun kumandalarını denemek için bir kcontrol modülü
Comment[uk]=Джойстик - модуль центру керування для тестування джойстиків
Comment[uz]=Жойстик учун бошқарув модули
Comment[x-test]=xxjoystick - a kcontrol module to test joysticksxx
Comment[zh_TW]=搖桿 - 用來測試搖桿的 kcontrol 模組
Exec=kcmshell joystick
Keywords=joystick,gamepad
Keywords[be]=Джойстык,joystick,gamepad
Keywords[bg]=джойстик, игра, игри, управление, joystick, gamepad
Keywords[csb]=joystick,gamepad,dżojstik
Keywords[cy]=ffôn reoli,pad gêm
Keywords[da]=joystick,spilleplade
Keywords[de]=Joystick,Gamepad,Spiele
Keywords[el]=χειριστήριο,χειριστήριο κονσόλας παιχνιδιών
Keywords[eo]=stirstango,stirstangoj,ludotabuleto
Keywords[et]=juhtpult,mängupult
Keywords[fa]=اهرم کنترل، صفحه بازی
Keywords[fi]=joystick,peliohjain
Keywords[fr]=joystick,gamepad,manette de jeu
Keywords[ga]=luamhán stiúrtha,ceap cluiche
Keywords[he]=joystick,gamepad,ג'ויסטיק,גויסטיק
Keywords[hr]=joystick,gamepad,igraća palica,igraća konzola
Keywords[hu]=botkormány,joystick,gamepad
Keywords[is]=joystick,gamepad,stýripinni
Keywords[ja]=joystick,gamepad,ジョイスティック,ゲームパッド
Keywords[km]=យ៉យស្ទីក,បន្ទះ​ល្បែង
Keywords[lt]=valdymo svirtis, joystick,gamepad
Keywords[lv]=kursorsvira,spēļu pults
Keywords[nb]=styrepinne,spillkontroll
Keywords[ne]=जोयस्टिक, गेमप्याड
Keywords[nn]=styrepinne,spelkontroll
Keywords[pa]=joystick,gamepad,ਜਾਏਸਟਿੱਕ
Keywords[pl]=joystick,gamepad,dżojstik
Keywords[pt_BR]=joystick,gamepad, jogos
Keywords[se]=stivrensággi,speallanstivrran
Keywords[sl]=joystick,gamepad,igralna palica,igralni plošček
Keywords[sr]=joystick,gamepad,џојстик
Keywords[sr@Latn]=joystick,gamepad,džojstik
Keywords[sv]=styrspak,spelkonsol
Keywords[ta]=இயக்கும் கருவி, விளையாட்டு பலகை
Keywords[tr]=oyun çubuğu
Keywords[uk]=джойстик,gamepad
Keywords[uz]=жойстик,геймпад
Keywords[x-test]=xxjoystick,gamepadxx
Keywords[zh_TW]=joystick,gamepad,搖桿,遊戲台
Name=Joystick
Name[be]=Джойстык
Name[bg]=Джойстик
Name[br]=Lanker-c'hoari
Name[ca]=Palanca de control
Name[cy]=Ffôn reoli
Name[el]=Χειριστήριο
Name[eo]=Stirstango
Name[et]=Juhtpult
Name[fa]=اهرم کنترل
Name[fi]=Peliohjain
Name[fr]=Manette de jeu
Name[ga]=Luamhán Stiúrtha
Name[he]=ג'ויסטיק
Name[hr]=Igraća palica
Name[hu]=Botkormány
Name[is]=Stýripinnar
Name[ja]=ジョイスティック
Name[ka]=ჯოისტიკი
Name[kk]=Джойстик
Name[km]=យ៉យស្ទីក
Name[lt]=Valdymo svirtis
Name[lv]=Kursorsvira
Name[ms]=Kayu Bidik
Name[nb]=Styrepinne
Name[ne]=जोयस्टिक
Name[nn]=Styrepinne
Name[pa]=ਜਾਏਸਟਿੱਕ
Name[ru]=Джойстик
Name[se]=Stivrensággi
Name[sl]=Igralna palica
Name[sr]=Џојстик
Name[sr@Latn]=Džojstik
Name[sv]=Styrspak
Name[ta]=இயக்கு கருவி
Name[tr]=Oyun Çubuğu
Name[uk]=Джойстик
Name[uz]=Жойстик
Name[x-test]=xxJoystickxx
Name[xh]=Uvuyo
Name[zh_TW]=玩具
Terminal=false
Type=Service
ServiceTypes=KCModule
X-KDE-FactoryName=kcm_joystick
X-KDE-Library=joystick
X-KDE-Test-Module=true
Icon=joystick
Categories=Qt;KDE;X-KDE-settings-hardware;
