[Desktop Entry]
Name=Calendar
Name[be@latin]=Kalandar
Name[ca]=Calendari
Name[cs]=Kalendář
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[et]=Kalender
Name[gl]=Calendario
Name[gu]=કેલેન્ડર
Name[hsb]=Protyka
Name[it]=Calendario
Name[ja]=カレンダー
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[ml]=കാലെണ്ടര്‍
Name[nb]=Kalender
Name[nds]=Kalenner
Name[nl]=Kalender
Name[pa]=ਕੈਲੰਡਰ
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[sv]=Kalender
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[uk]=Календар
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Comment=View and pick dates from the calendar
Comment[be@latin]=Prahladaj i vybiraj daty z kalendara
Comment[ca]=Vegeu i seleccioneu dates del calendari
Comment[de]=Zeigt einen Kalender an
Comment[el]=Προβολή και επιλογή ημερομηνιών από το ημερολόγιο
Comment[et]=Kuupäevade vaatamine kalendris ja nende valimine
Comment[gl]=Ve e escolle datas do calendario
Comment[gu]=કેલેન્ડરમાં તારીખો જુઓ અને પસંદ કરો
Comment[hsb]=Wobhladajće a wubjerće datumy z protyki
Comment[it]=Mostra e seleziona date dal calendario
Comment[kk]=Күнтізбеден күнді теріп алу
Comment[km]=មើល និង​យក​កាលបរិច្ឆេទ​ពី​ប្រតិទិន
Comment[lv]=Apskatiet un izvēlieties datumus no kalendāra
Comment[ml]=കാലെണ്ടറില്‍ നിന്നും തിയതികള്‍ കണ്ടു തിരഞ്ഞെടുക്കുക
Comment[nb]=Vis kalenderen og plukk datoer fra den
Comment[nds]=Daten binnen den Kalenner ankieken un utsöken
Comment[nl]=Bekijk en kies datums van de kalender
Comment[pa]=ਕੈਲੰਡਰ ਤੋਂ ਮਿਤੀ ਵੇਖੋ ਅਤੇ ਚੁਣੋ
Comment[pt]=Ver e escolher datas do calendário
Comment[pt_BR]=Ver e escolher datas do calendário
Comment[ro]=Vedeți și alegeți date din calendar
Comment[sv]=Visa och välj datum i kalendern
Comment[th]=แสดงและเลือกวันที่จากปฏิทิน
Comment[tr]=Takvimden günleri seçin ve görüntüleyin
Comment[uk]=Перегляньте і оберіть дати з календаря
Comment[x-test]=xxView and pick dates from the calendarxx
Comment[zh_CN]=查看日历，选取日期
Comment[zh_TW]=檢視並從行事曆中挑選日期
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

