[Desktop Entry]
Encoding=UTF-8
Name=Recent Documents
Name[af]=Onlangse Dokumente
Name[ar]=مستندات حديثة
Name[be]=Ранейшыя дакументы
Name[bg]=Документи
Name[br]=Teulioù nevez
Name[ca]=Documents recents
Name[cs]=Nedávné dokumenty
Name[cy]=Dogfenni Diweddar
Name[da]=Nylige dokumenter
Name[de]=Zuletzt geöffnete Dokumente
Name[el]=Πρόσφατα έγγραφα
Name[eo]=Lastaj dokumentoj
Name[es]=Documentos recientes
Name[et]=Viimati kasutatud dokumendid
Name[eu]=Azken dokumentuak
Name[fa]=سندهای اخیر
Name[fi]=Viimeaikaiset asiakirjat
Name[fr]=Documents récents
Name[fy]=Nijste dokuminten
Name[ga]=Cáipéisí is déanaí
Name[gl]=Documentos Recentes
Name[he]=מסמכים אחרונים
Name[hr]=Nedavno pristupljeni dokumenti
Name[hu]=A legutóbbi dokumentumok
Name[is]=Nýleg skjöl
Name[it]=Documenti recenti
Name[ja]=最近開いたドキュメント
Name[ka]=ბოლო დოკუმენტები
Name[kk]=Жуырдағы құжаттар
Name[km]=ឯកសារ​ថ្មីៗ​នេះ
Name[lt]=Neseni dokumentai
Name[lv]=Nesenie dokumenti
Name[mk]=Скорешни документи
Name[ms]=Dokumen Terkini
Name[nb]=Nylig brukte dokumenter
Name[nds]=Tolest bruukte Dokmenten
Name[ne]=हालको कागजात
Name[nl]=Recente documenten
Name[nn]=Nyleg brukte dokument
Name[pa]=ਤਾਜ਼ਾ ਦਸਤਾਵੇਜ਼
Name[pl]=Ostatnio otwarte dokumenty
Name[pt]=Documentos Recentes
Name[pt_BR]=Documentos Recentes
Name[ro]=Documente recente
Name[ru]=Последние документы
Name[se]=Áiddo geavahuvvon dokumeanttat
Name[sl]=Nedavni dokumenti
Name[sr]=Пређашњи документи
Name[sr@Latn]=Pređašnji dokumenti
Name[sv]=Senaste dokument
Name[ta]=தற்போதைய ஆவணங்கள்
Name[tg]=Ҳуҷҷатҳои охирин
Name[tr]=Son Kullanılan Belgeler
Name[uk]=Недавні документи
Name[uz]=Яқинда очилган ҳужжатлар
Name[x-test]=xxRecent Documentsxx
Name[xh]=Uxwebhu Olusandukusebenziswa
Name[zh_TW]=最近的文件
Comment=Recent documents you have used
Comment[x-test]=xxRecent documents you have usedxx
Icon=document

X-KDE-Library=kickermenu_recentdocs
