[Desktop Entry]
Encoding=UTF-8
Name=Recent Documents
Name[fr]=Documents récents
Name[x-test]=xxRecent Documentsxx
Comment=Recent documents you have used
Icon=document

X-KDE-Library=kickermenu_recentdocs
