[Desktop Entry]
Encoding=UTF-8
Name=Network Folders
Name[af]=Netwerk Gidse
Name[ar]=مجلّدات الشبكة
Name[be]=Сеткавыя тэчкі
Name[bg]=Мрежови директории
Name[br]=Renkelloù rouedad
Name[ca]=Carpetes de xarxa
Name[cs]=Síťové složky
Name[da]=Netværksmapper
Name[de]=Netzwerkordner
Name[el]=Δικτυακοί φάκελοι
Name[eo]=Retaj Dosierujoj
Name[es]=Carpetas de red
Name[et]=Võrgukataloogid
Name[eu]=Sareko karpetak
Name[fa]=پوشه‌های شبکه
Name[fi]=Verkkokansiot
Name[fr]=Dossiers réseau
Name[fy]=Netwurkmappen
Name[ga]=Fillteáin Líonra
Name[gl]=Cartafoles en Rede
Name[he]=תיקיות רשת
Name[hr]=Mrežne mape
Name[hu]=Hálózati mappák
Name[is]=Netmöppur
Name[it]=Cartelle di rete
Name[ja]=ネットワークフォルダ
Name[ka]=ქსელური საქაღალდეები
Name[kk]=Желідегі қапшықтар
Name[km]=ថត​បណ្ដាញ
Name[lt]=Tinklo aplankai
Name[lv]=Tīkla mape
Name[mk]=Мрежни папки
Name[ms]=Folder Rangkaian
Name[nb]=Nettverksmapper
Name[nds]=Nettwarkorner
Name[ne]=सञ्जाल फोल्डर
Name[nl]=Netwerkmappen
Name[nn]=Nettverksmapper
Name[pa]=ਨੈੱਟਵਰਕ ਫੋਲਡਰ
Name[pl]=Foldery sieciowe
Name[pt]=Pastas de Rede
Name[pt_BR]=Pastas de Rede
Name[ro]=Foldere de reţea
Name[ru]=Сетевые папки
Name[se]=Fierpmádatmáhpat
Name[sl]=Omrežne mape
Name[sr]=Мрежне фасцикле
Name[sr@Latn]=Mrežne fascikle
Name[sv]=Nätverkskataloger
Name[ta]=வலைப்பின்னல் அடைவுகள்
Name[tr]=Ağ Dizinleri
Name[uk]=Мережні теки
Name[uz]=Тармоқ жилдлари
Name[x-test]=xxNetwork Foldersxx
Name[zh_TW]=網路資料夾
Comment=Easy access to network folders
Comment[el]=Εύκολη πρόσβαση σε δικτυακούς φακέλους
Comment[nds]=Eenfach Togriep op Nettwarkornern
Comment[x-test]=xxEasy access to network foldersxx
Icon=network

X-KDE-Library=kickermenu_remotemenu
