[Desktop Entry]
Exec=kcmshell4 desktoptheme
Icon=preferences-desktop
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktoptheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/desktoptheme/index.html

Name=Desktop Theme
Name[x-test]=xxDesktop Themexx
Comment=Customize the desktop theme
Comment[x-test]=xxCustomize the desktop themexx
X-KDE-Keywords=Desktop Theme
