[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell spellchecking
Icon=spellcheck
Type=Application
DocPath=kcontrol/spellchecking/index.html

X-KDE-ModuleType=Library
X-KDE-Library=spellchecking
X-KDE-ParentApp=kcontrol

Name=Spell Checker
Name[af]=Spel Toetser
Name[be]=Праверка правапісу
Name[bg]=Проверка на Правопис
Name[bs]=Provjera pravopisa
Name[ca]=Comprovació de l'ortografia
Name[cs]=Kontrola pravopisu
Name[da]=Stavekontrol
Name[de]=Rechtschreibprüfung
Name[el]=Ορθογραφικός έλεγχος
Name[es]=Corrector ortográfico
Name[et]=Õigekirja kontroll
Name[eu]=Ortografia Zuzentzailea
Name[fa]=غلطگیر املا
Name[fi]=Oikoluku
Name[fr]=Vérificateur orthographique
Name[he]=בודק האיות
Name[hu]=Helyesírás-ellenőrző
Name[it]=Controllo ortografico
Name[ja]=スペルチェッカ
Name[lt]=Rašybos tikrinimo įrankis
Name[nb]=Stavekontroll
Name[nl]=Spellingscontrole
Name[nn]=Stavekontroll
Name[nso]=Molebeledi wa Mongwalo
Name[pl]=Sprawdzanie pisowni
Name[pt]=Verificador Ortográfico
Name[pt_BR]=Ferramenta de verificação ortográfica
Name[ru]=Проверка орфографии
Name[sk]=Kontrola pravopisu
Name[sl]=Preverjanje črkovanja
Name[sv]=Stavningskontroll
Name[ta]=±ØòÐôÀ¢¨Æ ¾¢ÕòÐí¸ÕÅ¢
Name[tr]=İmla Denetim Programı
Name[uk]=Перевірка правопису
Name[ven]=Tshisedzi tsha tshipelini
Name[xh]=Umkhangeki Wopelo
Name[zh_CN]=拼写检查工具
Name[zh_TW]=拼字檢查工具
Name[zu]=Umbheki wokubizelwa kwamagama

Comment=Configure the spell checker
Comment[af]=Konfigureer die spel toetser
Comment[be]=Настроіць праверку правапісу
Comment[bg]=Конфигуриране на проверка на правопис
Comment[bs]=Podesite provjeru pravopisa
Comment[ca]=Aquí podeu configurar el corrector ortogràfic
Comment[cs]=Nastavení kontroly pravopisu
Comment[da]=Indstil stavekontrollen
Comment[de]=Rechtschreibprüfung einrichten
Comment[el]=Ρυθμίστε τον ελεγκτή ορθογραφίας
Comment[es]=Configuración del corrector ortográfico
Comment[et]=Õigekirja kontrolli seadistamine
Comment[eu]=Ortografia zuzentzailea konfiguratu
Comment[fa]=تنظیم غلط‌گیر املا
Comment[fi]=Aseta oikolukijaa
Comment[fr]=Configurez la vérification d'orthographe
Comment[he]=שינוי הגדרות בודק האיות
Comment[hu]=A helyesírás-ellenőrző beállításai
Comment[it]=Configura il correttore ortografico
Comment[ja]=スペルチェッカの設定
Comment[lt]=Konfigūruoti rašybos tikrinimą
Comment[nb]=Sett opp stavekontrollen
Comment[nl]=Configureer de spellingscontrole
Comment[nn]=Oppsett av stavekontroll
Comment[nso]=Beakanya molebeledi wa mongwalo
Comment[pl]=Konfiguracja sprawdzania poprawności pisowni
Comment[pt]=Configuração do verificador ortográfico
Comment[pt_BR]=Configura o verificador ortográfico
Comment[ru]=Настройка проверки орфографии
Comment[sk]=Nastavenie kontroly pravopisu
Comment[sl]=Tu lahko nastavite črkovalnik
Comment[sv]=Anpassa stavningskontroll
Comment[ta]=±ØòÐôÀ¢¨Æ ¾¢ÕòÐí¸ÕÅ¢¨Â ÅÊÅ¨Á
Comment[tr]=İmla denetimini yapılandır
Comment[uk]=Налаштувати перевірку правопису
Comment[ven]=Dzudzanyani tshisedzi tsha tshipelini
Comment[xh]=Qwalasela umkhangelo wopelo
Comment[zh_CN]=配置拼写检查工具
Comment[zh_TW]=設定拼字檢查程式
Comment[zu]=Hlanganisela umbheki wokubizelwa kwamagama

Keywords=Spell
Keywords[af]=Spel
Keywords[az]=İmla
Keywords[be]=Правапіс,Spell
Keywords[ca]=Ortografia
Keywords[cs]=Pravopis
Keywords[da]=Stav
Keywords[de]=Rechtschreibung
Keywords[el]=Ορθογραφία
Keywords[eo]=Literumo
Keywords[es]=Ortografía
Keywords[et]=õigekiri
Keywords[fa]=املا
Keywords[fi]=Oikoluku
Keywords[fr]=orthographe,vérification
Keywords[he]=איות
Keywords[hr]=Spell,provjera pisanja
Keywords[hu]=Helyesírás-ellenőrző
Keywords[is]=Stafsetning
Keywords[it]=ortografia,controllo ortografico
Keywords[ja]=スペル
Keywords[ko]=Spell, 맞춤법
Keywords[lt]=Spell, rašyba
Keywords[lv]=Pareizrakstība
Keywords[mt]=Spell,Spelli
Keywords[nb]=stavekontroll,staving,stave
Keywords[nn]=Stavekontroll
Keywords[nso]=Mongwalo
Keywords[pl]=Literówki,Poprawność pisowni
Keywords[pt]=Ortografia
Keywords[pt_BR]=Verificação ortográfica
Keywords[ro]=ortografie,scriere,verificare
Keywords[sk]=Pravopis
Keywords[sl]=Črkuj
Keywords[ss]=Phimisa
Keywords[sv]=Stava
Keywords[th]=สะกด
Keywords[tr]=İmla
Keywords[uk]=правопис
Keywords[ven]=Tshipelini
Keywords[vi]=Chính tả 
Keywords[xh]=Pela
Keywords[zh_CN]=拼写
Keywords[zh_TW]=拼字
Keywords[zu]=Bizela
