[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell spellchecking
Icon=spellcheck
Type=Application
DocPath=kcontrol/spellchecking/index.html

X-KDE-ModuleType=Library
X-KDE-Library=spellchecking

Name=Spell Checker
Name[af/messages/kdebase/desktop_kdebase.po]=spel toetsing
Name[ar/messages/kdebase/desktop_kdebase.po]=التدقيق الإملائي
Name[az/messages/kdebase/desktop_kdebase.po]=İmla Yoxlama
Name[be/messages/kdebase/desktop_kdebase.po]=Праверка правапісу
Name[bg/messages/kdebase/desktop_kdebase.po]=Проверка на правопис
Name[bs/messages/kdebase/desktop_kdebase.po]=Provjera pravopisa
Name[cs/messages/kdebase/desktop_kdebase.po]=Kontrola pravopisu
Name[da/messages/kdebase/desktop_kdebase.po]=Stavekontrol
Name[de/messages/kdebase/desktop_kdebase.po]=Rechtschreibprüfung
Name[el/messages/kdebase/desktop_kdebase.po]=Ορθογραφικός Έλεγχος
Name[eo/messages/kdebase/desktop_kdebase.po]=Literumilo
Name[es/messages/kdebase/desktop_kdebase.po]=Corrector ortográfico
Name[et/messages/kdebase/desktop_kdebase.po]=Õigekirja kontroll
Name[eu/messages/kdebase/desktop_kdebase.po]=Spell Egiaztapena
Name[fi/messages/kdebase/desktop_kdebase.po]=Oikoluku
Name[fr/messages/kdebase/desktop_kdebase.po]=Vérification orthographique
Name[he/messages/kdebase/desktop_kdebase.po]=בדיקת איות
Name[hr/messages/kdebase/desktop_kdebase.po]=Alat za provjeru pisanja
Name[hu/messages/kdebase/desktop_kdebase.po]=Helyesírás-ellenőrző
Name[is/messages/kdebase/desktop_kdebase.po]=Stafsetningarleiðrétting
Name[it/messages/kdebase/desktop_kdebase.po]=Controllo ortografico
Name[ja/messages/kdebase/desktop_kdebase.po]=スペルチェック
Name[ko/messages/kdebase/desktop_kdebase.po]=맞춤법 검사
Name[lt/messages/kdebase/desktop_kdebase.po]=Rašybos tikrinimo įrankis
Name[lv/messages/kdebase/desktop_kdebase.po]=Pareizrakstības Pārbaude
Name[nb/messages/kdebase/desktop_kdebase.po]=Stavekontroll
Name[nl/messages/kdebase/desktop_kdebase.po]=Spellingscontrole
Name[nn/messages/kdebase/desktop_kdebase.po]=Stavekontroll
Name[pl/messages/kdebase/desktop_kdebase.po]=Sprawdzanie pisowni
Name[pt/messages/kdebase/desktop_kdebase.po]=Verificação Ortográfica
Name[ro/messages/kdebase/desktop_kdebase.po]=Verificare ortografie
Name[ru/messages/kdebase/desktop_kdebase.po]=Проверка орфографии
Name[sk/messages/kdebase/desktop_kdebase.po]=Kontrola pravopisu
Name[sl/messages/kdebase/desktop_kdebase.po]=Preverjanje črkovanja
Name[sr/messages/kdebase/desktop_kdebase.po]=Provera pravopisa
Name[sv/messages/kdebase/desktop_kdebase.po]=Rättstavning
Name[ta/messages/kdebase/desktop_kdebase.po]=±ØòÐôÀ¢¨Æ ¾¢Õò¾¢
Name[th/messages/kdebase/desktop_kdebase.po]=การตรวจสอบคำสะกด
Name[tr/messages/kdebase/desktop_kdebase.po]=İmla Denetimi
Name[uk/messages/kdebase/desktop_kdebase.po]=Перевірка правопису
Name[ven/messages/kdebase/desktop_kdebase.po]=U sedzulusa zwipelini
Name[vi/messages/kdebase/desktop_kdebase.po]=Kiểm tra chính tả 
Name[xh/messages/kdebase/desktop_kdebase.po]=Ukhangelo lopelo
Name[xx/messages/kdebase/desktop_kdebase.po]=xx
Name[zu/messages/kdebase/desktop_kdebase.po]=Ukhangelo Lubhalo lwamagama

Comment=Spell Checking Configuration
Comment[af/messages/kdebase/desktop_kdebase.po]=spel toetsing opstelling
Comment[ar/messages/kdebase/desktop_kdebase.po]=اعدادات التدقيق الإملائي
Comment[az/messages/kdebase/desktop_kdebase.po]=İmla Qurğuları
Comment[be/messages/kdebase/desktop_kdebase.po]=Канфігурацыя праверкі правапісу
Comment[bg/messages/kdebase/desktop_kdebase.po]=Настройки на проверката за правопис
Comment[bs/messages/kdebase/desktop_kdebase.po]=Podešavanje provjere pravopisa
Comment[cs/messages/kdebase/desktop_kdebase.po]=Nastavení kontroly pravopisu
Comment[da/messages/kdebase/desktop_kdebase.po]=Opsætning af stavekontrol
Comment[de/messages/kdebase/desktop_kdebase.po]=Einstellungen der Rechtschreibprüfung
Comment[el/messages/kdebase/desktop_kdebase.po]=Ρυθμίσεις Ορθογραφικού Ελέγχου
Comment[eo/messages/kdebase/desktop_kdebase.po]=Agordo de la literumilo
Comment[es/messages/kdebase/desktop_kdebase.po]=Configuración del corrector ortográfico
Comment[et/messages/kdebase/desktop_kdebase.po]=Õigekirja kontrolli seadistamine
Comment[eu/messages/kdebase/desktop_kdebase.po]=Spell Egiaztapenaren Konfigurazioa
Comment[fi/messages/kdebase/desktop_kdebase.po]=Oikoluvun asetukset
Comment[fr/messages/kdebase/desktop_kdebase.po]=Configuration de la vérification orthographique
Comment[he/messages/kdebase/desktop_kdebase.po]=שינוי הגדרות בדיקת האיות
Comment[hr/messages/kdebase/desktop_kdebase.po]=Podešavanje provjere pisanja
Comment[hu/messages/kdebase/desktop_kdebase.po]=a helyesírás-ellenőrző beállításai
Comment[is/messages/kdebase/desktop_kdebase.po]=Stilling á stafsetningarleiðréttingu
Comment[ja/messages/kdebase/desktop_kdebase.po]=スペルチェックの設定
Comment[ko/messages/kdebase/desktop_kdebase.po]=맞춤법 검사 설정
Comment[lt/messages/kdebase/desktop_kdebase.po]=Rašybos tikrinimo įrankio derinimas
Comment[mt/messages/kdebase/desktop_kdebase.po]=Konfigurazzjoni Spell Checking
Comment[nb/messages/kdebase/desktop_kdebase.po]=Sett opp stavekontroll
Comment[nl/messages/kdebase/desktop_kdebase.po]=Spellingscontrole instellen
Comment[pl/messages/kdebase/desktop_kdebase.po]=Konfiguracja sprawdzania pisowni
Comment[pt/messages/kdebase/desktop_kdebase.po]=Configuração da Verificação Ortográfica
Comment[ro/messages/kdebase/desktop_kdebase.po]=Configurează modulul de verificare ortografică
Comment[ru/messages/kdebase/desktop_kdebase.po]=Настройка проверки орфографии
Comment[sk/messages/kdebase/desktop_kdebase.po]=Nastavenie kontroly pravopisu
Comment[sl/messages/kdebase/desktop_kdebase.po]=Nastavitve preverjanja črkovanja
Comment[sr/messages/kdebase/desktop_kdebase.po]=Podešavanje provere pravopisa
Comment[sv/messages/kdebase/desktop_kdebase.po]=Anpassa rättstavning
Comment[ta/messages/kdebase/desktop_kdebase.po]=±ØòÐôÀ¢¨Æ ¾¢Õò¾¢ ÅÊÅ¨ÁôÒ
Comment[tr/messages/kdebase/desktop_kdebase.po]=İmla Denetimi Yapılandırması
Comment[uk/messages/kdebase/desktop_kdebase.po]=Конфігурація перевірки правопису
Comment[vi/messages/kdebase/desktop_kdebase.po]=Câu hình kiểm tra chính tả 
Comment[xx/messages/kdebase/desktop_kdebase.po]=xx

Keywords=Spell
Keywords[af/messages/kdebase/desktop_kdebase.po]=spel
Keywords[ar/messages/kdebase/desktop_kdebase.po]=الإملاء
Keywords[az/messages/kdebase/desktop_kdebase.po]=İmla
Keywords[be/messages/kdebase/desktop_kdebase.po]=Правапіс,Spell
Keywords[cs/messages/kdebase/desktop_kdebase.po]=Pravopis
Keywords[da/messages/kdebase/desktop_kdebase.po]=Stav
Keywords[de/messages/kdebase/desktop_kdebase.po]=Rechtschreibung
Keywords[el/messages/kdebase/desktop_kdebase.po]=Ορθογραφία
Keywords[eo/messages/kdebase/desktop_kdebase.po]=Literumo
Keywords[es/messages/kdebase/desktop_kdebase.po]=Ortografía
Keywords[et/messages/kdebase/desktop_kdebase.po]=õigekiri
Keywords[fi/messages/kdebase/desktop_kdebase.po]=Oikoluku
Keywords[fr/messages/kdebase/desktop_kdebase.po]=orthographe,vérification
Keywords[he/messages/kdebase/desktop_kdebase.po]=איות
Keywords[hr/messages/kdebase/desktop_kdebase.po]=Spell,provjera pisanja
Keywords[hu/messages/kdebase/desktop_kdebase.po]=Helyesírás-ellenőrző
Keywords[is/messages/kdebase/desktop_kdebase.po]=Stafsetning
Keywords[it/messages/kdebase/desktop_kdebase.po]=ortografia,controllo ortografico
Keywords[ja/messages/kdebase/desktop_kdebase.po]=スペル
Keywords[ko/messages/kdebase/desktop_kdebase.po]=Spell, 맞춤법
Keywords[lt/messages/kdebase/desktop_kdebase.po]=Spell, rašyba
Keywords[lv/messages/kdebase/desktop_kdebase.po]=Pareizrakstība
Keywords[mt/messages/kdebase/desktop_kdebase.po]=Spell,Spelli
Keywords[nb/messages/kdebase/desktop_kdebase.po]=stavekontroll,staving,stave
Keywords[nn/messages/kdebase/desktop_kdebase.po]=Stavekontroll
Keywords[pl/messages/kdebase/desktop_kdebase.po]=Literówki,Poprawność pisowni
Keywords[pt/messages/kdebase/desktop_kdebase.po]=Ortografia
Keywords[ro/messages/kdebase/desktop_kdebase.po]=ortografie,scriere,verificare
Keywords[sk/messages/kdebase/desktop_kdebase.po]=Pravopis
Keywords[sl/messages/kdebase/desktop_kdebase.po]=Črkuj
Keywords[sv/messages/kdebase/desktop_kdebase.po]=Stava
Keywords[th/messages/kdebase/desktop_kdebase.po]=สะกด
Keywords[tr/messages/kdebase/desktop_kdebase.po]=İmla
Keywords[uk/messages/kdebase/desktop_kdebase.po]=правопис
Keywords[ven/messages/kdebase/desktop_kdebase.po]=Tshipelini
Keywords[vi/messages/kdebase/desktop_kdebase.po]=Chính tả 
Keywords[xh/messages/kdebase/desktop_kdebase.po]=Pela
Keywords[xx/messages/kdebase/desktop_kdebase.po]=xx
Keywords[zu/messages/kdebase/desktop_kdebase.po]=Pela
