[Desktop Entry]
Encoding=UTF-8
Name=Terminal Sessions
Name[af]=Terminaal Sessies
Name[ar]=جلسات مطراف سطر الأوامر
Name[be]=Тэрмінальныя сесіі
Name[bg]=Терминални сесии
Name[br]=Dalc'hoù an termenell
Name[ca]=Sessions de terminal
Name[cs]=Terminálové relace
Name[csb]=Sesëje terminala
Name[cy]=Sesiynnau Terfynell
Name[da]=Terminalsessioner
Name[de]=Terminalsitzungen
Name[el]=Συνεδρίες τερματικού
Name[eo]=Terminalaplikaĵoj
Name[es]=Sesiones de terminal
Name[et]=Terminali seansid
Name[eu]=Terminal saioak
Name[fa]=نشستهای پایانه
Name[fi]=Komentoikkunaistunnot
Name[fr]=Sessions de terminal
Name[fy]=Terminal-sesjes
Name[ga]=Seisiúin Teirminéil
Name[gl]=Sesións de Terminal
Name[he]=משימות מסוף
Name[hr]=Terminalske sesije
Name[hu]=Terminálablakok
Name[is]=Skjáhermisforrit
Name[it]=Sessioni terminale
Name[ja]=ターミナルセッション
Name[ka]=სერმინალის სეანსები
Name[kk]=Терминал сеанстары
Name[km]=សម័យ​ស្ថានីយ
Name[lt]=Terminalo sesijos
Name[lv]=Termināla sesijas
Name[mk]=Терминалски сесии
Name[ms]=Sesi Terminal
Name[nb]=Terminaløkter
Name[nds]=Terminal-Törns
Name[ne]=टर्मिनल सत्र
Name[nl]=Terminal-sessies
Name[nn]=Terminaløkter
Name[pa]=ਟਰਮੀਨਲ ਸ਼ੈਸ਼ਨ
Name[pl]=Sesje terminala
Name[pt]=Sessões de Terminal
Name[pt_BR]=Sessões de Terminal
Name[ro]=Sesiuni de terminal
Name[ru]=Терминальные сеансы
Name[se]=Terminálbargovuorut
Name[sl]=Terminalske seje
Name[sr]=Сесије терминала
Name[sr@Latn]=Sesije terminala
Name[sv]=Terminalsessioner
Name[ta]=கடைசி அமர்வுகள்
Name[tg]=Ҷаласаҳои терминал
Name[tr]=Uçbirim Oturumları
Name[uk]=Сеанси терміналів
Name[uz]=Терминал сеанслари
Name[x-test]=xxTerminal Sessionsxx
Name[xh]=Intlanganiso Yesiphelo sendlela
Name[zh_TW]=終端機工作階段
Comment=Directly start terminal emulator with a session or bookmark
Comment[csb]=Menu zrëszëniô òkna terminala ze spamiãtóną sesëją abò załóżka
Comment[el]=Απευθείας εκκίνηση ενός εξομοιωτή τερματικού με μια συνεδρία ή σελιδοδείκτη
Comment[ja]=指定したセッションやブックマーク先でターミナルエミュレータを起動します
Comment[nds]=Den Terminal-Emulator mit en Leesteken oder Törn starten
Comment[x-test]=xxDirectly start terminal emulator with a session or bookmarkxx
Comment[zh_TW]=用來啟動作業階段和書籤的終端機模擬程式的選單
Icon=konsole

X-KDE-Library=kickermenu_konsole
X-KDE-AuthorizeAction=shell_access
