[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Quick Launcher
Name[af]=Vinnige Lanseerder
Name[ar]=الإنطلاق السريع
Name[be]=Хуткі запускальнік
Name[bg]=Бързо стартиране
Name[br]=Loc'her prim
Name[ca]=Engegador ràpid
Name[cs]=Rychlé spouštění aplikací
Name[csb]=Chùtczé zrëszenié
Name[cy]=Cychwynydd Cyflym
Name[da]=Hurtigstarter
Name[de]=Schnellstarter
Name[el]=Γρήγορο φόρτωμα
Name[eo]=Rapidlanĉilo
Name[es]=Lanzador rápido
Name[et]=Kiirkäivitaja
Name[eu]=Abiarazle bizkorra
Name[fa]=راه‌انداز سریع
Name[fi]=Sovellusten pikakäynnistin
Name[fr]=Lanceur d'applications
Name[fy]=Snel útfierder
Name[ga]=Tosaitheoir Tapa
Name[gl]=Lanzador Rápido
Name[he]=הפעלה מהירה
Name[hr]=Brzo pokretanje
Name[hu]=Gyorsindító
Name[is]=Flýtiræsir
Name[it]=Esecuzione rapida
Name[ja]=クイックランチャー
Name[ka]=სწრაფი დაწყება
Name[kk]=Жедел жегуші
Name[km]=អ្នក​ចាប់ផ្ដើម​រហ័ស
Name[ko]=빠른 실행기
Name[lt]=Greitasis paleidimas
Name[lv]=Ātrais Palaidējs
Name[mk]=Брз стартувач
Name[ms]=Pelancar Pantas
Name[nb]=Hurtigstarter
Name[nds]=Fixstarter
Name[ne]=द्रुत सुरुआत
Name[nl]=Snelstarter
Name[nn]=Snøggstartar
Name[pa]=ਚੁਸਤ ਸ਼ੁਰੂਆਤੀ
Name[pl]=Szybkie uruchamianie
Name[pt]=Execução de Aplicações
Name[pt_BR]=Lançador rápido
Name[ro]=Executor rapid
Name[ru]=Быстрый запуск
Name[se]=Jođánisálggaheaddji
Name[sl]=Hitri zaganjalnik
Name[sr]=Брзи покретач
Name[sr@Latn]=Brzi pokretač
Name[sv]=Snabbstartare
Name[ta]=உடனடியாக திரையில் தெரிதல்
Name[tg]=Сар додани тез
Name[tr]=Hızlı Başlatıcı
Name[uk]=Швидкий запуск
Name[uz]=Тез ишга туширгич
Name[x-test]=xxQuick Launcherxx
Name[zh_TW]=快速起動
Comment=The quick launcher applet
Comment[de]=Schnellstarter für die Kontrollleiste
Comment[el]=Το εφαρμογίδια γρήγορης εκτέλεσης
Comment[ja]=クイックランチャーアプレット
Comment[nds]=Dat Fixstart-Lüttprogramm
Comment[x-test]=xxThe quick launcher appletxx
Icon=launch
X-KDE-Library=launcher_panelapplet
