[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=ScreenSaver
Comment=ScreenSaver
Comment[el]=Προφύλαξη οθόνης
Comment[nds]=Pausschirm
Comment[x-test]=xxScreenSaverxx
[PropertyDef::X-KDE-Type]
Type=QString
[PropertyDef::X-KDE-Category]
Type=QString

