[Desktop Entry]
Name=CIA.vc Data Engine
Name[de]=CIA.vc Daten-Treiber
Name[el]=Μηχανή δεδομένων CIA.vc
Name[fa]=موتور دادۀ CIA.vc 
Name[nds]=Datendriever CIA.vc
Name[nl]=CIA.vc Data-engine
Name[zh_TW]=CIA.vc 資料引擎
Comment=F/OSS Project Commits Data Engine
Comment[de]=Commit-Daten-Treiber für F/OSS-Projekte
Comment[el]=Μηχανή δεδομένων υποβολής έργου F/OSS
Comment[nds]=Projekt-Inspeeldatendriever F/OSS
Comment[nl]=F/OSS Project Commits Data-engine
Comment[zh_TW]=自由軟體/開放源碼軟體專案提交資料引擎
Comment=Time data for Plasmoids
Comment[de]=Zeitdaten für Plasmoide
Comment[el]=Δεδομένα χρόνου για πλασμοειδή
Comment[es]=Datos horarios para los plasmoides
Comment[nds]=Tietdaten för Plasmoiden
Comment[nl]=Tijdgegevens voor Plasmoids
Comment[zh_TW]=電漿時鐘的時間資料
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=rss
X-KDE-Library=plasma_engine_ciavc
X-EngineName=ciavc
