[Desktop Entry]
Name=File and Directory Browser Engine
Name[ca]=Motor fullejador de fitxers i directoris
Name[de]=Datei- und Ordnerbrowser
Name[el]=Μηχανή περιήγησης αρχείων και φακέλων
Name[eo]=Dosiera/dosieruja foliumila motoro
Name[es]=Motor de ficheros y explorador de carpetas
Name[et]=Faili- ja kataloogisirvija mootor
Name[fi]=Tiedostojen ja kansioiden selausmoottori
Name[fy]=Triem en triemtafel blêder motor
Name[hu]=Fájlböngésző modul
Name[ja]=ファイルとディレクトリのブラウザエンジン
Name[km]=ម៉ាស៊ីន​រុករក​ថត និង​ឯកសារ
Name[ko]=파일 및 디렉터리 탐색 엔진
Name[lv]=Failu un mapju pārlūkošanas dzinējs
Name[nb]=Motor for blaing i filer og mapper
Name[nds]=Kiekerkarn för Dateien un Ornern
Name[ne]=फाइल र डाइरेकटरी ब्राउजर इन्जिन
Name[nl]=Engine voor het bladeren door mappen en bestanden
Name[nn]=Motor for fil- og mappelesing
Name[pa]=ਫਾਇਲ ਅਤੇ ਡਾਇਰੈਕਟਰੀ ਬਰਾਊਜ਼ਰ ਇੰਜਣ
Name[pl]=Przeglądarka plików i katalogów
Name[pt]=Motor de Navegação em Ficheiros e Pastas
Name[pt_BR]=Mecanismo de Navegação em Arquivos e Pastas
Name[se]=Fiila- ja máhppalohkanmohtor
Name[sr]=Мотор за прегледање фајлова и фасцикли
Name[sr@latin]=Motor za pregledanje fajlova i fascikli
Name[sv]=Gränssnitt för fil- och katalogbläddring
Name[x-test]=xxFile and Directory Browser Enginexx
Name[zh_CN]=文件和目录浏览器引擎
Name[zh_TW]=檔案與目錄瀏覽器引擎
Comment=Info about files and directories for Plasmoids
Comment[ca]=Informació quant a fitxers i directoris pels plasmoides
Comment[de]=Informationen über Dateien und Ordner für Plasmoide
Comment[el]=Πληροφορίες για αρχεία και καταλόγους για πλασμοειδή
Comment[eo]=Informoj pri dosieroj kaj dosierujoj por 'Plasmoidoj' (Plasma-aplikaĵetoj)
Comment[es]=Información sobre los ficheros y directorios de Plasmoides
Comment[et]=Failide ja kataloogide info plasmoididele
Comment[fy]=Ynfo oer triemmen en triemtafels foar Plasmoids
Comment[hu]=Fájl- és könyvtárjellemzők plasmoidokhoz
Comment[ja]=プラズモイドのためのファイルとディレクトリに関する情報
Comment[km]=ព័ត៌មាន​អំពី​ឯកសារ និង​ថត​សម្រាប់ Plasmoids
Comment[ko]=Plasmoid를 위한 파일과 디렉터리 정보
Comment[lv]=Informācija par failiem un mapēm priekš Plazmoīdiem
Comment[nb]=Informasjon om filer og mapper for Plasmoids
Comment[nds]=Infos över Dateien un Ornern för Plasmoiden
Comment[ne]=प्लाज्मोइडका लागि फाइलहरू र डाइरेक्टरीहरूको बारेमा जानकारी
Comment[nl]=Informatie over bestanden en mappen voor Plasmoids
Comment[nn]=Informasjon om filer og mapper for Plasmoidar
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਫਾਇਲਾਂ ਅਤੇ ਡਾਇਰੈਕਟਰੀਆਂ ਵਾਸਤੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o plikach i katalogach dla plazmoidów
Comment[pt]=Informação sobre os ficheiros e pastas nos Plasmóides
Comment[pt_BR]=Informações sobre arquivos e diretórios, para os Plasmoids
Comment[se]=Dieđut fiillain ja máhpain plasmoidaide
Comment[sr]=Подаци о фајловима и фасциклама за плазмоиде
Comment[sr@latin]=Podaci o fajlovima i fasciklama za plazmoide
Comment[sv]=Information om filer och kataloger för Plasmoider
Comment[th]=ข้อมูลเกี่ยวกับแฟ้มและไดเร็คทอรีสำหรับ Plasmoid
Comment[x-test]=xxInfo about files and directories for Plasmoidsxx
Comment[zh_CN]=Plasmoids 下关于文件和目录的信息
Comment[zh_TW]=Plasmoids 關於檔案與目錄的資訊
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_filebrowser
X-Plasma-EngineName=filebrowser
