[Desktop Entry]
Name=Application Job Information
Name[gu]=કાર્યક્રમ કાર્ય માહિતી
Name[uk]=Відомості про завдання програми
Name[zh_TW]=應用程式工作資訊
Comment=Kuiserver data for Plasmoids
Comment[gu]=પ્લાઝમોઇડ માટે Kuiserver માહિતી
Comment[uk]=Дані Kuiserver для плазмоїдів
Comment[zh_TW]=Plasmoid 的 Kuiserver 資料
Type=Service
X-KDE-ServiceTypes=Plasma/DataEngine
Icon=tool-animator
X-KDE-Library=plasma_engine_applicationjobs

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=applicationjobs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
