[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kephal
X-KDE-DBus-ModuleName=kded_kephal
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=KDED-module for screen-management
Name[be@latin]=Modul „KDED” dla kiravańnia ekranam
Name[ca]=Mòdul del KDED per a la gestió de la pantalla
Name[de]=KDED-Modul zur Bildschirmverwaltung
Name[el]=Άρθρωμα KDED για τη διαχείριση οθόνης
Name[et]=KDED ekraanihalduse moodul
Name[gu]=સ્ક્રિન વ્યવસ્થા માટે KDED-મોડ્યુલ
Name[it]=Modulo KDED per la gestione dello schermo
Name[kk]=Экранды басқаратын KDED-модулі
Name[km]=ម៉ូឌុល KDED សម្រាប់​ការ​គ្រប់គ្រង​អេក្រង់
Name[lv]=KDED-modulis ekrāna pārvaldībai
Name[ml]=തിരശ്ശീല നടത്തിപ്പിനുള്ള കെഡിഇഡി ഭാഗം
Name[nb]=KDED-modul for skjermbehandling
Name[nds]=KDED-Moduul för de Schirmpleeg
Name[nl]=KDED-module voor beeldschermbeheer
Name[pt]=Módulo do KDED para a gestão de ecrãs
Name[pt_BR]=Módulo do KDED para a gestão de ecrãs
Name[sv]=KDED-modul för skärmhantering
Name[th]=มอดูลของ KDED สำหรับการจัดการหน้าจอ
Name[tr]=Ekran yönetimi için KDED modülü
Name[uk]=Модуль KDED для керування екраном
Name[x-test]=xxKDED-module for screen-managementxx
Name[zh_CN]=用于管理屏幕的 KDED 模块
Name[zh_TW]=螢幕管理的 KDED 模組
