[Desktop Entry]
Encoding=UTF-8
Name=Konqueror Profiles
Name[af]=Konqueror Profiele
Name[ar]=مواصفات في Konqueror
Name[be]=Профілі Konqueror
Name[bg]=Профили на браузъра
Name[br]=Profiloù Konqueror
Name[ca]=Perfils de Konqueror
Name[cs]=Profily Konqueroru
Name[csb]=Profile Konquerora
Name[cy]=Proffilau Konqueror 
Name[da]=Konqueror-profiler
Name[de]=Konqueror-Profile
Name[el]=Προφίλ του Konqueror
Name[eo]=Konkeranta agordaro
Name[es]=Perfiles de Konqueror
Name[et]=Konquerori profiilid
Name[eu]=Konquerorren profilak
Name[fa]=Profileهای Konqueror
Name[fi]=Konquerorin profiilit
Name[fr]=Profils de Konqueror
Name[fy]=Konqueror-profielen
Name[ga]=Próifílí Konqueror
Name[gl]=Perfis de Konqueror
Name[he]=פרופילים של Konqueror
Name[hr]=Konqueror profili
Name[hu]=Konqueror-profilok
Name[is]=Konqueror sniðmát
Name[it]=Profili di Konqueror
Name[ja]=Konqueror プロファイル
Name[ka]=Konqueror-ის პროფილები
Name[kk]=Konqueror профильдер
Name[km]=ទម្រង់ Konqueror
Name[lt]=Konqueror profiliai
Name[lv]=Iekarotāja profili
Name[mk]=Профили за Konqueror
Name[ms]=Profil Konqueror
Name[nb]=Profiler for Konqueror
Name[nds]=Konqueror-Profilen
Name[ne]=कन्क्वेरर प्रोफाइल
Name[nl]=Konqueror-profielen
Name[nn]=Profilar for Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਪਰੋਫਾਇਲ
Name[pl]=Profile Konquerora
Name[pt]=Perfis do Konqueror
Name[pt_BR]=Perfis do Konqueror
Name[ro]=Profile Konqueror
Name[ru]=Профили Konqueror
Name[se]=Konqueror-profiillat
Name[sl]=Profili Konquerorja
Name[sr]=Konqueror-ови профили
Name[sr@Latn]=Konqueror-ovi profili
Name[sv]=Konqueror-profiler
Name[ta]=Konqueror விவரக்குறிப்புகள்
Name[tr]=Konqueror Profilleri
Name[uk]=Профілі Konqueror
Name[uz]=Konqueror профиллари
Name[x-test]=xxKonqueror Profilesxx
Name[zh_TW]=Konqueror 設定組合
Comment=Easy access to the Konqueror profiles
Comment[csb]=Menu przistãpù do profilów Konquerora
Comment[el]=Εύκολη πρόσβαση στα προφίλ του Konqueror
Comment[nds]=Eenfach Togriep op Konqueror sien Profilen
Comment[x-test]=xxEasy access to the Konqueror profilesxx
Icon=konqueror

X-KDE-Library=kickermenu_konqueror
