[Desktop Entry]
Exec=kcmshell LookNFeel/knotify
Icon=knotify
Type=Application
DocPath=kcontrol/knotify/knotify-1.html

X-KDE-ModuleType=Library
X-KDE-Library=knotify

Name=System Notifications
Name[ca]=Notificacions del sistema
Name[cs]=Systémová hlášení
Name[da]=System bekendtgørelser
Name[de]=Systemnachrichten
Name[eo]=Sistematentigoj
Name[es]=Notificaciones del sistema
Name[et]=Süsteemi teadistused
Name[fi]=Järjestelmän huomautukset
Name[fr]=Notifications du système
Name[he]=תכרעמ תועדוה
Name[hr]=Obavijesti sustava
Name[hu]=Rendszerfigyelmeztető
Name[is]=Tilkynningar frá kerfinu
Name[it]=Avvisi di sistema
Name[ja]=システム通知
Name[mk]=Системски известувања
Name[nl]=Systeemnotificaties
Name[no]=Systemvarsler
Name[no_NY]=Systempåminningar
Name[pl]=Powiadomienia systemowe
Name[pt]=Mensagens do Sistema
Name[ro]=Notificări sistem
Name[sl]=Sistemska obvestila
Name[sr]=Sistemska obaveĹĄtenja
Name[sv]=Systemunderrättelser
Name[ta]=கணிபஂெபாறி அறிவிபஂபுகளஂ
Name[tr]=Sistem Bildirimleri
Name[uk]=Системні повідомлення

Comment=System Notification Configuration
Comment[ca]=Configuració de les notificacions del sistema
Comment[cs]=Nastavení systémových hlášení
Comment[da]=System bekendtgørelsesindstilling
Comment[de]=Einstellung der Systemnachrichten
Comment[eo]=Agordo de sistematentigoj
Comment[es]=Configuración de notificaciones del sistema
Comment[et]=Süsteemsete teadistuste konfigureerimine
Comment[fi]=Järjestelmän huomautusten asetukset
Comment[fr]=Configuration du système de notifications
Comment[he]=תכרעמ תועדוה תורדגה
Comment[hr]=Podesite obavijesti sustava
Comment[hu]=A rendszerfigyelmeztető beállítása
Comment[is]=Stillingar tilkynninga frá kerfinu
Comment[it]=Configurazione degli avvisi di sistema
Comment[ja]=システム通知の設定
Comment[mk]=Конфигурација на системските известувања
Comment[nl]=Instellingen van de systeemnotificatie
Comment[no]=Systemvarslingsinnstillinger
Comment[no_NY]=Oppsett av systempåminningar
Comment[pl]=Konfiguracja powiadamiania systemowego
Comment[pt]=Configuração das mensagens do sistema
Comment[ro]=Configurează notificarea sistemului
Comment[ru]=Настройка системных сообщений
Comment[sl]=Ukrojitev sistemskih obvestil
Comment[sr]=PodeĹĄavanje sistemskih obaveĹĄtenja
Comment[sv]=Anpassning av systemunderrättelser
Comment[ta]=கணிபஂெபாறி அறிவிபஂபுகளஂ வடிவைமபஂபு
Comment[tr]=Sistem Bildirimi Yapılandırması
Comment[uk]=Конфігурація системних повідомлень

Keywords=System sounds,Audio,Sound,Notify,Alerts,Notification
Keywords[ca]=Sons del sistema,Àudio,So,Notifica,Alertes,Notificació
Keywords[cs]=Systémové zvuky,Audio,Oznámit,Varování,Oznámení
Keywords[da]=Systemlyde,ausio,Lyd,Bekendtgør,Advar,Bekendtgørelse
Keywords[de]=Klänge,Systemklänge,Audio,Sound,Benachrichtigung,Nachricht,Alarm,Signalton,Beep
Keywords[eo]=sistemo,sonoroj,aŭdio,sono,atentigo,alarmo,operaciumo
Keywords[et]=Süsteemsed helid,audio,heli,tedistus,alarm
Keywords[fi]=Järestelmän äänet,Äänet,Varoitukset,Huomautukset
Keywords[fr]=sons du système,son,audio,notification,alertes
Keywords[he]=תוקעזא,עודיי,לילצ,עמש,תכרעמ ילילצ
Keywords[hr]=System sounds,Audio,Sound,Notify,Alerts,Notification,zvuk
Keywords[hu]=rendszerhangok,audió,hang,figyelmeztető,vészjelző
Keywords[is]=Kerfishljóð,Hljóð,Tilkynningar,Villur,Bjalla
Keywords[it]=Suoni di sistema,Audio,Suono,Notifica,Avvisi,Messaggi
Keywords[ja]=システムサウンド,オーディオ,サウンド,通知,アラ=E3=83=BCト,通知
Keywords[mk]=Системски звуци,Аудио,Звук,Известувања,Предупредувања,Дојави
Keywords[nl]=Systeemgeluiden,Audio,geluid,waarschuwingen,geluidssignaal,Notificatie
Keywords[no]=Systemlyd,Lyd,Varsle,Advarsel,Varsling
Keywords[no_NY]=Systemlydar,lyd,påminning,varsel,alarm
Keywords[pt]=sons de sistema,audio,som,notificar,alertas,notificação
Keywords[ro]=sunete de sistem,audio,sunet,notifică,alertă,notificare
Keywords[sl]=sistemski zvoki,avdio,zvok,obvestila,alarmi
Keywords[ta]=கணினி ஒலிகளஂ,ஒலியுனரஂ,ஒலி,ெதரியபடு஡ஂது,ெதரியபடு஡ஂதுதலஂ
Keywords[tr]=Sistem sesleri,Ses,Bildir,Alarmlar,Bildirme
Keywords[uk]=системні звуки,аудіо,audio,звук,sound,повідомлення,попе=D1 едження


