[Desktop Entry]
Name=Weather Data Engine
Name[ca]=Motor de dades meteorològiques
Name[csb]=Czérownik ùsłëżnotów wiodra
Name[de]=Wetterdienst-Treiber
Name[el]=Μηχανή δεδομένων καιρού
Name[eo]=Datuma motoro pri vetero
Name[es]=Motor de datos meteorológicos
Name[et]=Ilmaandmete mootor
Name[eu]=Eguraldiaren datu motorea
Name[fr]=Moteur de données météorologiques
Name[fy]=Waar gegevens motor
Name[ga]=Inneall Sonraí Aimsire
Name[hu]=Időjárásjelző modul
Name[ja]=気象データエンジン
Name[kk]=Ауа райы қызметі
Name[km]=ម៉ាស៊ីន​ស្វែងរក​ទិន្នន័យ​អាកាសធាតុ
Name[ko]=날씨 데이터 엔진
Name[lv]=Laikapstākļu datu dzinējs
Name[nb]=Værdata-motor
Name[nds]=Weder-Hanteerkarn
Name[ne]=मौसम डेटा इन्जिन
Name[nl]=Weer (gegevensengine)
Name[nn]=Vêrdatamotor
Name[pa]=ਮੌਸਮ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych o pogodzie
Name[pt]=Motor de Dados Meteorológicos
Name[pt_BR]=Mecanismo de Dados Meteorológicos
Name[se]=Dálkedáhtamohtor
Name[sl]=Pogon s podatki o vremenu
Name[sr]=Мотор за метеоролошке услове
Name[sr@latin]=Motor za meteorološke uslove
Name[sv]=Datagränssnitt för väder
Name[wa]=Éndjin di dnêyes do tins ki fwait
Name[x-test]=xxWeather Data Enginexx
Name[zh_CN]=天气数据引擎
Name[zh_TW]=天氣資料引擎
Comment=Weather data for Plasmoids
Comment[ca]=Dades meteorològiques pels plasmoides
Comment[csb]=Czérownik ùsłëżnotów wiodra dlô plazmoidów
Comment[de]=Wetterdienst-Daten für Plasmoide
Comment[el]=Δεδομένα καιρού για πλασμοειδή
Comment[eo]=Veteraj datumoj por Plasmoidoj
Comment[es]=Datos meteorológicos para los plasmoides
Comment[et]=Ilmaandmed plasmoididele
Comment[eu]=Plasmoiden eguraldiaren datuak
Comment[fy]=Waar gegevens foar Plasmoids
Comment[ga]=Sonraí aimsire le haghaidh Plasmoids
Comment[hu]=Időjárási adatok plasmoidok számára
Comment[ja]=プラズモイドのための気象データ
Comment[kk]=Плазмоидтер үшін ауа райы деректері
Comment[km]=ទិន្នន័យ​អាកាសធាតុ​សម្រាប់ Plasmoids
Comment[ko]=Plasmoid를 위한 날씨 정보
Comment[lv]=Laikapstākļu dati priekš Plazmoīdiem
Comment[nb]=Værdata for Plasmoids
Comment[nds]=Wederdaten för Plasmoiden
Comment[ne]=प्लासमोइड्सका लागि मौसम डेटा
Comment[nl]=Weergegevens voor Plasmoids
Comment[nn]=Vêrdata for plasmoidar
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਮੌਸਮ ਡਾਟਾ
Comment[pl]=Dane o pogodzie dla plazmoidów
Comment[pt]=Dados meteorológicos para os Plasmóides
Comment[pt_BR]=Dados meteorológicos para os Plasmóides
Comment[se]=Dálkedáhtaid plasmoidaide
Comment[sl]=Vremenski podatki za Plazmoide
Comment[sr]=Метеоролошки подаци за плазмоиде
Comment[sr@latin]=Meteorološki podaci za plazmoide
Comment[sv]=Väderdata för Plasmoider
Comment[wa]=Dinêyes do tins ki fwait po Plasmoids
Comment[x-test]=xxWeather data for Plasmoidsxx
Comment[zh_CN]=Plasmoids 的天气数据
Comment[zh_TW]=Plasmoid 的天氣資料
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=
X-KDE-Library=plasma_engine_weather
X-Plasma-EngineName=weather
