[Desktop Entry]
Name=Default Plasma Animator
Name[nds]=Standard-Animeerkarn Plasma
Name[nl]=Standaard Plasma-animator
Name[zh_TW]=預設 Plasma 動畫
ServiceTypes=Plasma/Animator
Type=Service
Icon=plasma
X-KDE-Library=plasma_animator_default
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL

