[Desktop Entry]
Encoding=UTF-8
Name=Digital Clock
Name[et]=Digikell
Name[ga]=Clog Digiteach
Name[ja]=デジタル時計
Name[km]=នាឡិកា​ឌីជីថល
Name[nb]=Digital klokke
Name[nds]=Digitaal Klock
Name[nl]=Digitale klok
Name[pt]=Relógio Digital
Name[pt_BR]=Relógio Digital
Name[sv]=Digitalklocka
Name[zh_TW]=數位時鐘

Comment=An SVG themable digital clock
Comment[et]=SVG teemaga digikell
Comment[ga]=Clog digiteach le téamaí SVG
Comment[ja]=SVG テーマを使ったデジタル時計
Comment[km]=នាឡិកាឌីជីថល​​ដែល​អាច​ប្ដូរ​ស្បែក​បាន SVG
Comment[nb]=En SVG-klokke med drakter
Comment[nds]=En Digitaalklock mit SVG-Mustern
Comment[nl]=Een klok met SVG-themamogelijkheden
Comment[pt]=Um relógio digital com temas em SVG
Comment[pt_BR]=Um relógio digital com temas em SVG
Comment[sv]=En SVG-temabaserad digitalklocka
Comment[zh_TW]=SVG 可調整外觀數位時鐘

Icon=chronometer
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_dig_clock
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=digital-clock
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://www.ruphy.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
