[Desktop Entry]
Name=Digital Clock
Name[be]=Лічбавы гадзіннік
Name[ca]=Rellotge digital
Name[csb]=Cëfrowi zédżer
Name[de]=Digitale Uhr
Name[el]=Ψηφιακό ρολόι
Name[eo]=Cifereca horloĝo
Name[es]=Reloj digital
Name[et]=Digikell
Name[eu]=Erloju digitala
Name[fi]=Digitaalinen kello
Name[fr]=Horloge digitale
Name[ga]=Clog Digiteach
Name[hr]=Digitalni sat
Name[hu]=Digitális óra
Name[ja]=デジタル時計
Name[km]=នាឡិកា​ឌីជីថល
Name[ko]=디지털 시계
Name[lv]=Ciparu pulkstenis
Name[nb]=Digital klokke
Name[nds]=Digitaal Klock
Name[ne]=डिजिटल घडी
Name[nl]=Digitale klok
Name[nn]=Digital klokke
Name[pa]=ਡਿਜਿਟਲ ਘੜੀ
Name[pl]=Zegar cyfrowy
Name[pt]=Relógio Digital
Name[pt_BR]=Relógio Digital
Name[ru]=Часы с циферблатом
Name[se]=Digitálalaš diibmu
Name[sl]=Digitalna ura
Name[sr]=Дигитални часовник
Name[sr@latin]=Digitalni časovnik
Name[sv]=Digitalklocka
Name[wa]=Ôrlodje didjitåle
Name[x-test]=xxDigital Clockxx
Name[zh_CN]=数字钟
Name[zh_TW]=數位時鐘

Comment=An simple digital clock

Icon=chronometer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_dig_clock
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=digital-clock
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.ruphy.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Category[ca]=Data i hora
X-KDE-PluginInfo-Category[de]=Datum und Zeit
X-KDE-PluginInfo-Category[el]=Ημερομηνία και ώρα
X-KDE-PluginInfo-Category[ga]=Dáta agus Am
X-KDE-PluginInfo-Category[ja]=日付と時間
X-KDE-PluginInfo-Category[lv]=Datums un laiks
X-KDE-PluginInfo-Category[nds]=Datum un Tiet
X-KDE-PluginInfo-Category[pt]=Data e Hora
X-KDE-PluginInfo-Category[pt_BR]=Data e Hora
X-KDE-PluginInfo-Category[sv]=Datum och tid
X-KDE-PluginInfo-Category[zh_CN]=日期和时间
X-KDE-PluginInfo-Category[zh_TW]=日期和時間
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
