[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kdm
Icon=kdmconfig
Type=Service
ServiceTypes=KCModule
DocPath=kdm/index.html#configuring-kdm

X-KDE-SubstituteUID=true

X-KDE-Library=kdm
X-KDE-RootOnly=true

X-KDE-ParentApp=kcontrol

Name=Login Manager
Name[af]=Aanteken Bestuurder
Name[ar]=مسيير تسجيل الدخول
Name[be]=Кіраўнік уваходу
Name[br]=Merour ereañ
Name[ca]=Gestor d'accés
Name[cs]=Správce přihlášení
Name[cy]=Rheolydd Mewngofnodi
Name[da]=Login-håndtering
Name[de]=Anmeldungsmanager
Name[el]=Διαχειριστής σύνδεσης
Name[eo]=Salutilo
Name[es]=Administrador de acceso
Name[et]=Sisselogimise haldur
Name[eu]=Saio-hasieraren kudeatzailea
Name[fa]=مدیر ورود
Name[fi]=Sisäänkirjautumisasetukset
Name[fr]=Gestionnaire de connexion
Name[fy]=Oanmeldskerm
Name[ga]=Bainisteoir Logála Isteach
Name[gl]=Xestor de Login
Name[he]=מנהל הכניסה למערכת
Name[hr]=Upravljanje prijavljivanjem
Name[hu]=Bejelentkező felület (KDM)
Name[is]=Innstimplunarstjóri
Name[it]=Gestione degli accessi
Name[ja]=ログインマネージャ
Name[ka]=შესვლის მენეჯერი
Name[kk]=Жүйеге кіруді басқару
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ចូល
Name[ko]=로긴 관리자
Name[lt]=Registravimosi tvarkyklė
Name[lv]=Pieteikšanās Menedžeris
Name[mk]=Менаџер на најави
Name[ms]=Pengurus Login
Name[nb]=Innloggingsbehandler
Name[nds]=Anmellen-Schirm
Name[ne]=लगइन प्रबन्धक
Name[nl]=Aanmeldscherm
Name[nn]=Innloggingshandsamar
Name[pa]=ਲਾਗ ਪਰਬੰਧਕ
Name[pl]=Menedżer logowania
Name[pt]=Gestor de Autenticação
Name[pt_BR]=Gerenciador de Login
Name[ro]=Managerul de logare
Name[ru]=Менеджер входа в систему
Name[se]=Sisačálihangieđahalli
Name[sl]=Upravitelj prijav
Name[sr]=Менаџер пријављивања
Name[sr@Latn]=Menadžer prijavljivanja
Name[sv]=Inloggningshanterare
Name[ta]=நுழைவு மேலாளர்
Name[tg]=Мудири вуруд
Name[tr]=Giriş Yöneticisi
Name[uk]=Менеджер реєстрації
Name[uz]=Кириш бошқарувчиси
Name[x-test]=xxLogin Managerxx
Name[xh]=Umphathi Wegama elithile
Name[zh_TW]=登錄管理程式

Comment=Configure the login manager (KDM)
Comment[af]=Konfigureer die aanteken bestuurder (Kdm)
Comment[ar]=إعداد مسيير الدخول (KDM)
Comment[be]=Настаўленні кіраўніка ўваходу (KDM)
Comment[br]=Kefluniañ ar merour ereañ (KDM)
Comment[ca]=Configura el gestor d'accés (KDM)
Comment[cs]=Nastavení správce přihlášení (KDM)
Comment[cy]=Ffurfweddu y rheolydd mewngofnodi (KDM)
Comment[da]=Indstil indlogningshåndtering (KDM)
Comment[de]=Anmeldungsmanager KDM einrichten
Comment[el]=Ρυθμίστε το διαχειριστή σύνδεσης (KDM)
Comment[eo]=Agordu la salutadminstrilon (KDM)
Comment[es]=Configura el administrador de acceso (KDM)
Comment[et]=Sisselogimise halduri seadistamine (KDM)
Comment[eu]=Konfiguratu saio-hasieraren kudeatzailea (KDM)
Comment[fa]=پیکربندی مدیر ورود (KDM)
Comment[fi]=Sisäänkirjautumisasetukset
Comment[fr]=Configuration du gestionnaire de connexion (KDM)
Comment[fy]=Hjir kinne jo it oanmeldskerm ynstelle (KDM) 
Comment[ga]=Cumraigh an bainisteoir logála isteach (KDM)
Comment[gl]=Configurar o xestor de início (KDM)
Comment[he]=שינוי הגדרות מנהל הכניסה למערכת (KDM)
Comment[hr]=Konfiguriranje upravljanja prijavljivanja (KDM)
Comment[hu]=A KDE grafikus bejelentkező felületének beállításai
Comment[is]=Stilla innstimplunarstjórann (KDM)
Comment[it]=Configurazione della gestione degli accessi (KDM)
Comment[ja]=ログインマネージャ (KDM) の設定
Comment[ka]=შევლის მენეჯერის კონფიგურირება (KDM)
Comment[kk]=Жүйеге кіруді басқаруын (KDM) баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​គ្រប់គ្រង​ការ​ចូល (KDM)
Comment[lt]=Konfigūruoti registravimos tvarkyklę (KDM)
Comment[lv]=Konfigure pieteiksanās menedžeri KDM
Comment[mk]=Конфигурирајте го менаџерот на најави (KDM)
Comment[ms]=Konfigur pengurus login (KDM)
Comment[nb]=Tilpass innlogin­gsbehandler (KDM)
Comment[nds]=Den Anmellen-Schirm instellen (KDM)
Comment[ne]=लगइन प्रबन्धक (KDM) कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het aanmeldscherm (KDM) instellen
Comment[nn]=Set opp innloggingshandsamaren (KDM)
Comment[pa]=ਲਾਗਆਨ ਪਰਬੰਧਕ ਸੰਰਚਨਾ(KDM)
Comment[pl]=Konfiguracja menedżera logowania (KDM)
Comment[pt]=Configuração do gestor de autenticação (KDM)
Comment[pt_BR]=Configura o gerenciador de login (KDM)
Comment[ro]=Configurează managerul de logare grafică (KDM)
Comment[ru]=Настройка менеджера входа в систему (KDM)
Comment[se]=Heivet sisačálihangieđahalli (KDM)
Comment[sl]=Nastavitve upravitelja prijav (KDM)
Comment[sr]=Подешавање менаџера за пријављивање (KDM)
Comment[sr@Latn]=Podešavanje menadžera za prijavljivanje (KDM)
Comment[sv]=Anpassa inloggningshanteraren (KDM)
Comment[ta]=புகுபதிகை மேலாளரை அமை (KDM)
Comment[tg]=Танзими мудири вуруд (KDM)
Comment[tr]=Giriş yöneticisini yapılandır (KDM)
Comment[uk]=Налаштування менеджера реєстрації (KDM)
Comment[uz]=Тизимга кириш бошқарувчисини (KDM) мослаш
Comment[x-test]=xxConfigure the login manager (KDM)xx
Comment[xh]=Qwalasela umphathi wegama elithile (KDM)
Comment[zh_TW]=設定登入管理程式 (KDM)

Keywords=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
Keywords[ar]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,مدير العرض,المستخدمون مستخدمون,المستخدمين,مستخدمين,دخول,الدخول,تحية,التحية,اللغة,المظهر, البلد,الخطوط,الخط,خطوط,خط,خلفية,ورق حائط,جلسات,اغلاق,اعادة تشغيل
Keywords[be]=кіраўнік дысплея,кіраўнік уваходу,карыстальнікі,уваход,запрашэнне,лагатып,стылі,стыль,мова,краіна,шрыфты,фон,шпалеры,сесіі,сесія,выключэнне,перазагрузка,kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
Keywords[ca]=kdm,administrador de la pantalla,xdm,usuaris,accés,salutació,Logo,estils,llengua,país,fonts,fons,tapissos,sessions,apagar,reiniciar
Keywords[cs]=kdm,Správce obrazovky,xdm,Uživatelé,Přihlášení,Uvítání,Logo,Styly,Jazyk,Země,Písma,pozadí,Tapety,Relace,Sezení,Vypnutí,Restart
Keywords[cy]=kdm,rheolydd y dangosydd,xdm,defnyddwyr,mewngofnodi,cyfarchiad,Logo,arddulliau,iaith,gwlad,ffontiau,cefndir,papurau wal,sesiynau,cau,ailgychwyn
Keywords[da]=kdm,skærmhåndtering,xdm,brugere,login,hilsen,Logo,stil, sprog,land,skrifttyper,baggrund,tapeter,sessioner,luk ned,genstart
Keywords[de]=Kdm,Display Manager,Xdm,Benutzer,Login,Logo,Stile,Sprachen,Länder,Schriften,Hintergründe,Hintergrundbilder,Beenden,Neustart
Keywords[el]=kdm,διαχειριστής οθόνης,xdm,χρήστες,σύνδεση,χαιρετισμός,Λογότυπο,στυλ,γλώσσα,χώρα,γραμματοσειρές,φόντο,ταπετσαρίες,συνεδρίες,τερματισμός,επανεκκίνηση
Keywords[eo]=kdm,ekrano,,xdm,uzantoj,saluto,emblemo,stilo,lingvo,lando,tiparo,fono,tapeto,seanco,adaiaŭo,relanĉo
Keywords[es]=kdm,administrador de pantalla,xdm,usuarios,entrada,acceso,saludo,Logo,estilos,idioma,país,fuentes,fondo,tapices,sesiones,apagar,reiniciar
Keywords[et]=kdm,ekraanihaldur,xdm,kasutajad,sisselogimine,tervitus,logo,stiil,keel,riik,fondid,taust,taustapilt,seansid,töö lõpetamine,taaskäivitamine
Keywords[eu]=kdm,pantaila kudeatzailea,xdm,erabiltzaileak,Saio hasiera,agurra,Logoa,estiloak,hizkuntza, herrialdea,letra-tipoak,atzeko planoa,horma-irudiak,saioak,itzali,berrabiarazi
Keywords[fa]=kdm، مدیر نمایش، xdm، کاربران، ورود، تبریک، آرمِ، سبک، زبان، کشور، قلمها، زمینه، کاغذهای دیواری، نشستها، تعطیل، بازآغازی
Keywords[fi]=kdm,näytönhallinta ,xdm,käyttäjät,sisäänkirjautuminen,tervehdys,Logo,tyylit,kieli,maa,kirjasimet,tausta,istunnot,sammutus,uudelleenkäynnistys
Keywords[fr]=kdm,gestionnaire d'affichage,xdm,utilisateurs,login,connexion,bienvenue,message de bienvenue,Logo,styles,langue,pays,style,police,fond d'écran,papier peint,session,arrêt,logout,redémarrage,reboot
Keywords[fy]=kdm,display manager,xdm,users,login,begroeting,oanmelde,brûkers,Oanmeldbehearder,logo,stylen,taal,language,country,lân,fonts,lettertypen,eftergrûn,wallpapers,behang,sesjes,shutdown,restart,ôfslute,opnij begjinne,oanmelde
Keywords[ga]=kdm,bainisteoir scáileáin,xdm,úsáideoirí,logáil isteach,fáilte,Lógó,stíleanna,teanga,tír,clónna,clófhoirne,cúlra,cúlbhrait,seisiúin,múchadh,atosú
Keywords[gl]=kdm,xestor de entrada,xdm,usuarios,identificación,Logo,estilos,lingua,país,fontes,fondo,papeis tapiz,sesións,apagado,reinício
Keywords[he]=משתמשים,כניסה למערכת,כניסה,לוגו,סגנונות,שפה,מדינה,גופנים,רקע,טפטים,הפעלות,כיבוי,הפעלה,מחדש,מנהל,תצוגה,display,manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart
Keywords[hr]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,upravljanje zaslona,korisnici,prijava,pozdrav,stilovi,jezik,država,zemlja,fontovi,pozadina,pozadina radne površine,sesije,gašenje,ponovno pokretanje
Keywords[hu]=kdm,képernyőkezelő,xdm,felhasználók,bejelentkezés,üdvözlés,embléma,stílusok,nyelv,ország,betűtípusok,háttér,tapéták,munkafolyamatok,leállítás,újraindítás
Keywords[is]=kdm,skjár,gluggastjóri,innskráning,innstimplun,snið,tungumál,land,letur,bakgrunnur,bakgrunnar,veggfóður,setur,slökkva,endurræsa
Keywords[it]=kdm,display manager,gestione degli utenti,xdm,utenti,login,accesso,benvenuto,logo,stile,lingua,stato,paese,tipi di carattere,sfondo,immagine di sfondo,sessioni,riavvio,spegnimento,gestione degli accessi
Keywords[ja]=kdm,ディスプレイマネージャ,xdm,ユーザ,ログイン,あいさつ,ロゴ,スタイル,言語,国,フォント,背景,壁紙,セッション,シャットダウン,再起動
Keywords[km]=kdm,កម្មវិធី​គ្រប់គ្រង​ការ​បង្ហាញ,xdm,អ្នក​ប្រើ,ចូល,ស្វាគមន៍,រូបសញ្ញា,រចនាប័ទ្ម,ភាសា,ប្រទេស,ពុម្ពអក្សរ,ផ្ទៃ​ខាង​ក្រោយ,ក្រដាស​បិទ​ជញ្ជាំង,សម័យ,បិទ,ចាប់ផ្ដើម​ឡើង​វិញ
Keywords[ko]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,관리자,사용자,로그인,로긴,들어가기,환영,로고,꼴,언어,말글,나라,글꼴,바탕 그림,바탕,세션
Keywords[lt]=kdm,display manager,ekrano tvarkyklė,xdm,users,naudotojai,login,registracija,greeting,pasveikinimas,Logo, styles,stiliai,language,country,fonts,background,wallpapers,sessions, shutdown,restart
Keywords[lv]=kdm,displeja menedžeris,xdm,lietotāji,pieteikšanās,apsveikums,Logo,stili,valoda,valsts,fonti,fons,tapetes,sesijas,nošaut,pārstartēt
Keywords[mk]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,менаџер на екран,корисници,најава,поздрав,Лого,стилови,јазик,земја,фонтови,подлога,позадина,сесии,исклучување,рестартирање
Keywords[nb]=kdm,skjermbehandler,xdm,brukere,innlogging,velkomst,logo,stiler,språk,land,skrifttyper,bakgrunn,bakgrunnsbilde,sesjoner,skru av,slå av,omstart
Keywords[nds]=kdm,Startschirm,xdm,Bruker,anmellen,greeting,Logo,Stilen,Spraak,Land,Schriftoorden,Achtergrund,Tapeten,Törns,Utmaken,Nieg starten
Keywords[ne]=kdm, प्रदर्शन प्रबन्धक, xdm, प्रयोगकर्ताहरू, लगइन, अभिवादन, परिचायक चिन्ह, शैलीहरू, भाषा, देश, फन्टहरू, पृष्ठभूमि,वालपेपरहरू, सत्र, बन्द गर्नुहोस्, फेरि सुरु गर्नुहोस्
Keywords[nl]=kdm,display manager,xdm,users,login,begroeting,inloggen,gebruikers,loginbeheerder,logo,stijlen,taal,language,country,land,fonts,lettertypen,achtergrond,wallpapers,behang,sessies,shutdown,restart,afsluiten,herstarten,aanmelden,opstarten
Keywords[nn]=kdm,xdm,brukarar,innlogging,helsing,logo,stil,språk,land,skrifttypar,bakgrunn,bakgrunnsbilete,økt,avslutt,slå av,omstart
Keywords[pa]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart, ਲੋਗੋ, ਭਾਸ਼ਾ, ਦੇਸ਼, ਫੋਂਟ, ਲਾਗਿੰਨ, ਉਪਭੋਗੀ,ਸ਼ੈਸ਼ਨ
Keywords[pl]=kdm,menedżer ekranu,xdm,użytkownicy,logowanie,powitanie,Logo,style,jezyk,kraj,czcionki,tło,tapety,sesje,zamknięcie systemu,restart,rozpoczęcie pracy
Keywords[pt]=kdm,gestor de 'logins',xdm,utilizadores,saudação,logótipo,estilos,língua,país,tipos de letra,fundo,papéis de parede,sessões,terminar,reiniciar
Keywords[pt_BR]=kdm,gerenciador de tela, xdm,usuários,login,saudação,Logo,estilos,linguagem,país,fontes, papéis de parede,sessões,desligar,reiniciar
Keywords[ro]=kdm,manager de ecran,xdm,utilizatori,logare,întîmpinare,logo,stiluri,limbaj,ţară,fonturi,fundal,imagini de fundal,sesiuni,oprire,restartare
Keywords[ru]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,перезагрузка,сеанс,шрифты,страна,фон,стили,обои
Keywords[se]=kdm,xdm,geavaheaddjit,sisačáliheapmi,dearvvuođat,logo,stiila,giella,riika, fonttat,duogáš,duogášgovva,bargovuorut,heaittihit,časkit eret,ođđasit álggahit
Keywords[sl]=kdm,upravitelj zaslona,upravljalnik,xdm,uporabniki,prijava,login,pozdrav,logo,slogi,jezik,država,pisave,ozadje,tapete,seje,ugasnitev,vnovičen zagon
Keywords[sr]=kdm,display manager,xdm,users,login,greeting,Лого,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,менаџер,пријављивање,стил,језик,земља,фонтови,позадина,сесије,гашење
Keywords[sr@Latn]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,menadžer,prijavljivanje,stil,jezik,zemlja,fontovi,pozadina,sesije,gašenje
Keywords[sv]=kdm,display manager,xdm,användare,inloggning,välkomsttext,Logo,stilar,språk,land,teckensnitt,bakgrund,skrivbordsunderlägg,sessioner,stäng av,starta om
Keywords[ta]=கேடிஎம்,காட்சி மேலாளர்,xdm,பயன்படுத்துபவர்,உள்நுழை,வாழ்த்து,சின்னம்,பாணிகள்,மொழி,நாடு,எழுத்துருக்கள்,பின்னணி,வால்பேப்பர்கள்,பகுதிகள்,முடித்தல்,தொடங்குதல்
Keywords[tr]=kdm,görüntü yönetici,xdm,kullanıcılar,oturum açma,karşılama,logo,stiller,dil,ülke,yazı tipleri,artalan,duvar kağıtları,oturumlar,kapat,tekrar başlat
Keywords[uk]=kdm,менеджер дисплеїв,xdm,користувачі,реєстрація,привітання,логотип,стилі,мова,країна,шрифти,тло,шпалери,сеанси,вимикання,перезапуск
Keywords[uz]=kdm,кириш бошқарувчиси,xdm,фойдаланувчилар,кириш,саломлашиш,Белги,услублар,тил,давлат,шрифтлар,орқа фон,сеанслар,ўчириш,ўчириб-ёқиш
Keywords[x-test]=xxkdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restartxx
Keywords[xh]=kdm,umphathi womboniso,xdm,abasebenzisi,igama elithile,umbuliso,ilogo,iintlobo,ulwimi,ilizwe,ubungakanani bamagama, imvelaphi,amaphepha odonga,iintlanganiso,vala,qala kwakhona
Keywords[zh_TW]=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart,顯示管理程式,使用者,登入,歡迎,風格,語言,國家,字型,背景,底圖,工作階段,關機,重新啟動

Categories=Qt;KDE;X-KDE-settings-system;
