[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kdm
Icon=kdmconfig
Type=Application
DocPath=kdm/index.html#configuring-kdm

X-KDE-SubstituteUID=true

X-KDE-Library=kdm
X-KDE-RootOnly=true

X-KDE-ParentApp=kcontrol

Name=Login Manager

Comment=Configure the login manager (KDM)

Keywords=kdm,display manager,xdm,users,login,greeting,Logo,styles,language,country,fonts,background,wallpapers,sessions,shutdown,restart

Categories=Qt;KDE;X-KDE-settings-system;
