[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell energy
Icon=energy_star
DocPath=kcontrol/energy/index.html
Type=Application
X-KDE-Library=energy
X-KDE-Init=energy
X-KDE-ParentApp=kcontrol

Name=Power Control
Name[x-test]=xxPower Controlxx

Comment=Settings for display power management
Comment[x-test]=xxSettings for display power managementxx

Keywords=energy,saver,apm,acpi,dpms,timeout,blanking,stand by,suspend,power
Keywords[x-test]=xxenergy,saver,apm,acpi,dpms,timeout,blanking,stand by,suspend,powerxx

