[Desktop Entry]
Exec=kcmshell LookNFeel/Windows/advanced
Icon=winprops
Type=Application
DocPath=kcontrol/kcmkwm/kwm-3.html

Name=Advanced
Name[ca]=Avançat
Name[cs]=Doplňkové
Name[da]=Avanceret
Name[de]=Erweitert
Name[eo]=Pli
Name[es]=Avanzado
Name[et]=Täpsemalt
Name[fi]=Edistyneet
Name[fr]=Avancé
Name[he]=םדקתמ
Name[hr]=Napredno
Name[hu]=Fejlett
Name[is]=Nánar
Name[it]=Avanzate
Name[ja]=詳細
Name[mk]=Понапредно
Name[nl]=Geavanceerd
Name[no]=Avansert
Name[no_NY]=Avansert
Name[pl]=Zaawansowane
Name[pt]=Avançado
Name[ro]=Avansat
Name[ru]=Расширенные
Name[sl]=Napredno
Name[sr]=Napredno
Name[sv]=Avancerat
Name[ta]=உயரஂநஂத
Name[tr]=Gelişmiş
Name[uk]=Розширене

Comment=Advanced window properties
Comment[ca]=Propietats avançades de les finestres
Comment[cs]=Další nastavení vlastností oken
Comment[da]=Avancerede vinduesegenskaber
Comment[de]=Erweiterte Fenstereigenschaften
Comment[eo]=Pliaj ecoj de fenestroj
Comment[es]=Propiedades avanzadas de las ventanas
Comment[et]=Akende lisaomadused
Comment[fi]=Ikkunoiden lisäasetukset
Comment[fr]=Propriétés avancées des fenêtres
Comment[he]=תונולח לש תומדקתמ תורדגה
Comment[hr]=Napredne postavke prozora
Comment[hu]=Hozzáértést igénylő ablakbeállítások
Comment[is]=Sérhæfðir eiginleikar glugga
Comment[it]=Proprietà avanzate delle finestre
Comment[ja]=詳細なウィンドウの設定
Comment[mk]=Напредни параметри на прозорците
Comment[nl]=Geavanceerde venstereigenschappen
Comment[no]=Avanserte vinduegenskaper
Comment[no_NY]=Avanserte vindaugseigenskapar
Comment[pl]=Zaawansowane właściwości okna
Comment[pt]=Configuração de propriedades avançadas
Comment[ro]=Configurează proprietăţi avansate ale ferestrelor
Comment[ru]=Расширенные параметры окон
Comment[sl]=Napredne lastnosti oken
Comment[sr]=Napredna podeĹĄavanja prozora
Comment[sv]=Avancerade fönsterinställningar
Comment[ta]=உயரநஂத சாளர ெசா஡ஂதுகஂகளஂ
Comment[tr]=Gelişmiş pencere özellikleri
Comment[uk]=Розширені властивості вікон
