[Desktop Entry]
Icon=trashcan_empty
Encoding=UTF-8
Comment=Privacy - a kcontrol module to clean unwanted traces the user leaves on the system
Exec=kcmshell privacy
Keywords=Privacy,privacy
Name=Privacy
Terminal=false
Type=Application
X-KDE-FactoryName=privacy
X-KDE-Library=privacy
Categories=Qt;KDE;X-KDE-settings-security;
