[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=SolidPowerManager

Comment=Power Management Backend
Comment[ar]=أداة إدارة الطباعة
Comment[be]=Кіраванне сілкаваннем
Comment[bg]=Заден слой за управление на захранване
Comment[de]=Backend zur Energieverwaltung
Comment[el]=Σύστημα διαχείρισης ενέργειας
Comment[es]=Motor de la gestión de energía
Comment[fa]=پایانۀ پشتیبانی مدیریت توان
Comment[he]=ממשק ניהול צריכת חשמל
Comment[ja]=電源管理のバックエンド
Comment[km]=កា​រគ្រប់គ្រង​ថាមពល​កម្មវិធីខាង​ក្រោយ
Comment[nds]=Hülpprogramm för de Stroomkuntrull
Comment[nl]=Energiebeheer backend
Comment[pa]=ਊਰਜਾ ਪਰਬੰਧ ਬੈਕਐਂਡ
Comment[pt]=Infra-Estrutura de Gestão da Energia
Comment[pt_BR]=Infra-Estrutura de Gestão da Energia
Comment[sv]=Gränssnitt för strömsparhantering
Comment[vi]=Hậu phương quản lý nguồn điện
Comment[zh_CN]=电源管理后端
Comment[zh_TW]=電源管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

