[Desktop Entry]
Name=Hotplug Events
Name[ar]=أحداث التوصيل
Name[be@latin]=Źjaŭleńnie novych pryładaŭ
Name[bn]=হট-প্লাগ ঘটনাবলী
Name[bn_IN]=হট-প্লাগ ঘটনাবলী
Name[ca]=Esdeveniments de connexió en calent
Name[csb]=Hotplug Event
Name[da]=Hotplug-begivenheder
Name[de]=Hotplug-Ereignisse
Name[el]=Γεγονότα Hotplug
Name[es]=Eventos en caliente
Name[et]=Hotplug-sündmused
Name[fi]=Hotplug-tapahtumat
Name[fr]=Événements de branchement à chaud
Name[gl]=Eventos de Hotplug
Name[gu]=હોટપ્લગ ઇવેન્ટ્સ
Name[hi]=हाटप्लग घटनाएँ
Name[is]=Hraðtengingaatburðir
Name[it]=Eventi di collegamento a caldo
Name[ja]=Hotplug イベント
Name[kk]=Істеп турғанда қосу оқиғалар
Name[km]=ព្រឹត្តិការណ៍​ដោត​ដើរ
Name[kn]=Hotplug ಘಟನೆಗಳು (ಈವೆಂಟ್)
Name[lv]=Hotplug notikumi
Name[ml]=ഹോട്ട്പ്ലഗ് സംഭവങ്ങള്‍
Name[nb]=Hendelsesdata
Name[nds]=Tokoppel-Begeefnissen
Name[nl]=Hotplug-gebeurtenissen
Name[nn]=Hotplug-hendingar
Name[pa]=ਹਾਟਪਲੱਗ ਈਵੈਂਟ
Name[pt]=Eventos do Hotplug
Name[pt_BR]=Eventos do hotplug
Name[ro]=Evenimente de atașare
Name[ru]=Подключаемые устройства
Name[sl]=Priključitve
Name[sv]=Inkopplingshändelser
Name[tg]=Дастгоҳҳои пайвастшаванда
Name[th]=เหตุการณ์อุปกรณ์ Hot Plug
Name[tr]=Hotplug Olayları
Name[uk]=Події гарячого підключення
Name[x-test]=xxHotplug Eventsxx
Name[zh_CN]=热插拔事件
Name[zh_TW]=熱插拔事件
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=notifier
X-KDE-Library=plasma_engine_hotplug

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=hotplug
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=

