[Desktop Entry]
Name=Hotplug Event Data Engine
Name[ca]=Motor de dades d'esdeveniments de connexió en calent
Name[csb]=Czérownik dlô Hotplug Event Data
Name[de]=Treiber für Hotplug-Ereignisse
Name[el]=Μηχανή δεδομένων γεγονότων άμεσης σύνδεσης
Name[eo]=Datuma motoro por dumkure permuteblaj eventoj
Name[es]=Motor de eventos de conexión sobre la marcha
Name[et]=Hotplug-sündmuste andmete mootor
Name[fi]=Hotplug-tapahtumien datamoottori
Name[fr]=Moteur de données d'événements de branchement à chaud
Name[fy]=Hotplug Event gegevens motor
Name[ga]=Inneall Sonraí Hotplug Event
Name[gl]=Motor de datos de eventos de Hotplug
Name[hu]=Eszközcsatolást kezelő modul
Name[is]=Gagnarvél hraðtengingaatburða
Name[it]=Motore per dati degli eventi di collegamento a caldo
Name[ja]=Hotplug イベントデータエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ព្រឹត្តិការណ៍​ដោតដើរ​
Name[ko]=핫플러그 이벤트 데이터 엔진
Name[lv]=Hotplug notikumu datu dzinējs
Name[nb]=Motor for hendelsesdata
Name[nds]=Tokoppel-Hanteerkarn
Name[ne]=हटप्लग घटना डेटा इन्जिन
Name[nl]=Hotplug-gebeurtenis (gegevensengine)
Name[nn]=Datamotor for Hotplug-hendingar
Name[pa]=ਹਾਟਪਲੱਗ ਈਵੈਂਟ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Program do obsługi zdarzeń typu hotplug
Name[pt]=Motor de Dados de Eventos do Hotplug
Name[pt_BR]=Mecanismo de Dados de Eventos do Hotplug
Name[ru]=Поставщик данных «Подключаемые устройства»
Name[se]=Hotplug-dáhpáhusaid dáhtamohtor
Name[sl]=Pogon s podatki o priklapljanju
Name[sr]=мотор врућег укључивања
Name[sr@latin]=motor vrućeg uključivanja
Name[sv]=Datagränssnitt för inkopplingshändelse
Name[tr]=Hotplug Olay Verisi Motoru
Name[wa]=Éndjin d' dinêyes d' evenmints Hotplug
Name[x-test]=xxHotplug Event Data Enginexx
Name[zh_CN]=热插拔事件数据引擎
Name[zh_TW]=熱插拔事件資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=notifier
X-KDE-Library=plasma_engine_hotplug
X-Plasma-EngineName=hotplug
