[Desktop Action bus]
Name=Bus
Name[uk]=Шина
Name[zh_TW]=匯流排

[Desktop Action driveType]
Name=Drive Type
Name[es]=Tipo de unidad
Name[et]=Seadme tüüp
Name[fr]=Type de lecteur
Name[ja]=ドライブのタイプ
Name[nds]=Loopwark-Typ
Name[pt]=Tipo de Unidade
Name[pt_BR]=Tipo de unidade
Name[sv]=Enhetstyp
Name[uk]=Тип пристрою
Name[zh_TW]=磁碟型態

[Desktop Action hotpluggable]
Name=Hotpluggable
Name[fr]=Hotplug possible
Name[uk]=«Гаряче» з’єднання
Name[zh_TW]=可熱插拔

[Desktop Action objectName]
Name=Object Name
Name[fr]=Nom de l'objet
Name[uk]=Назва об'єкта
Name[zh_TW]=物件名稱

[Desktop Action readSpeed]
Name=Read Speed
Name[fr]=Vitesse de lecture
Name[uk]=Швидкість читання
Name[zh_TW]=讀取速度

[Desktop Action removable]
Name=Removable
Name[fr]=Débranchable
Name[uk]=Змінний
Name[zh_TW]=可移除

[Desktop Action supportedMedia]
Name=Supported Media
Name[fr]=Média pris en charge
Name[ga]=Meáin a dTacaítear Leo
Name[uk]=Підтримувані носії
Name[zh_TW]=支援的媒體

[Desktop Action writeSpeed]
Name=Write Speed
Name[fr]=Vitesse d'écriture
Name[uk]=Швидкість запису
Name[zh_TW]=寫入速度

[Desktop Action writeSpeeds]
Name=Write Speeds
Name[fr]=Vitesses d'écriture
Name[uk]=Швидкості запису
Name[zh_TW]=寫入速度

[Desktop Entry]
Name=Optical Drive
Name[es]=Unidad óptica
Name[et]=Optiline seade
Name[fr]=Périphérique optique
Name[ja]=光学ドライブ
Name[nds]=Optsch Loopwark
Name[pt]=Disco Óptico
Name[pt_BR]=Unidade óptica
Name[sv]=Optisk enhet
Name[uk]=Пристрій читання оптичних дисків
Name[zh_TW]=光碟機
X-KDE-Solid-Actions-Type=OpticalDrive
