[Desktop Entry]
Actions=appendable;availableContent;blank;capacity;discType;fsType;ignored;label;objectName;rewritable;size;usage;uuid;
Name=Optical Disc
Name[el]=Οπτικός δίσκος
Name[et]=Optiline plaat
Name[ga]=Diosca Optúil
Name[ja]=光学ディスク
Name[ko]=광 디스크
Name[nb]=Optisk plate
Name[nds]=Optsch Schiev
Name[nl]=Optische schijf
Name[pt]=Disco Óptico
Name[pt_BR]=Disco ótico
Name[ro]=Disc optic
Name[sv]=Optisk skiva
Name[tr]=Optik Disk
Name[uk]=Оптичний диск
Name[x-test]=xxOptical Discxx
Name[zh_TW]=光碟
Type=Service
X-KDE-Solid-Actions-Type=OpticalDisc

[Desktop Action appendable]
Name=Appendable
Name[el]=Προσαρτήσιμο
Name[et]=Lisatav
Name[ga]=In-iarcheangailte
Name[ja]=追記可能
Name[ko]=추가 가능
Name[nb]=Har plass igjen
Name[nds]=Nich afslaten
Name[nl]=Uitbreidbaar
Name[pt]=Adicionável
Name[pt_BR]=Anexável
Name[ro]=Completabil
Name[sv]=Tilläggbar
Name[tr]=Eklenebilir
Name[uk]=Додавання
Name[x-test]=xxAppendablexx
Name[zh_TW]=可附加

[Desktop Action availableContent]
Name=Available Content
Name[el]=Διαθέσιμο περιεχόμενο
Name[et]=Sisuga
Name[ga]=Ábhar Le Fáil
Name[gu]=પ્રાપ્ત વિગત
Name[ja]=利用可能なコンテンツ
Name[ko]=사용 가능한 내용
Name[nb]=Tilgjengelig innhold
Name[nds]=Verföögbor Inholt
Name[nl]=Beschikbare inhoud
Name[pt]=Conteúdo Disponível
Name[pt_BR]=Conteúdo disponível
Name[ro]=Conținut disponibil
Name[sv]=Tillgängligt innehåll
Name[tr]=Kullanılabilir İçerik
Name[uk]=Доступний вміст
Name[x-test]=xxAvailable Contentxx
Name[zh_TW]=可用的內容

[Desktop Action blank]
Name=Blank
Name[el]=Κενό
Name[et]=Tühi
Name[ga]=Folamh
Name[gu]=ખાલી
Name[ja]=空
Name[ko]=비어 있음
Name[nb]=Tom
Name[nds]=Leddig
Name[nl]=Leeg
Name[pt]=Vazio
Name[pt_BR]=Vazio
Name[ro]=Gol
Name[si]=හිස්
Name[sv]=Tom
Name[tr]=Boş
Name[uk]=Порожньо
Name[x-test]=xxBlankxx
Name[zh_TW]=空白

[Desktop Action capacity]
Name=Capacity
Name[el]=Χωρητικότητα
Name[et]=Mahtuvus
Name[ga]=Toilleadh
Name[gu]=ક્ષમતા
Name[ja]=容量
Name[ko]=용량
Name[nb]=Kapasitet
Name[nds]=Grött
Name[nl]=Capaciteit
Name[pt]=Capacidade
Name[pt_BR]=Capacidade
Name[ro]=Capacitate
Name[si]=පරිමාව
Name[sv]=Kapacitet
Name[tr]=Kapasite
Name[uk]=Місткість
Name[x-test]=xxCapacityxx
Name[zh_TW]=空間

[Desktop Action discType]
Name=Disc Type
Name[el]=Τύπος δίσκου
Name[et]=Plaadi tüüp
Name[ga]=Cineál an Diosca
Name[gu]=ડિસ્ક પ્રકાર
Name[ja]=ディスクのタイプ
Name[ko]=디스크 종류
Name[nb]=Platetype
Name[nds]=Schiev-Typ
Name[nl]=Schijftype
Name[pt]=Tipo de Disco
Name[pt_BR]=Tipo de disco
Name[ro]=Tipul discului
Name[sv]=Skivtyp
Name[tr]=Disk Tipi
Name[uk]=Тип диска
Name[x-test]=xxDisc Typexx
Name[zh_TW]=磁碟型態

[Desktop Action fsType]
Name=Fs Type
Name[el]=Τύπος συστήματος αρχείων
Name[et]=Failisüsteemi tüüp
Name[ga]=Cineál an Chórais Comhad
Name[ko]=파일 시스템 종류
Name[nb]=Filsystemtype
Name[nds]=Dateisysteem-Typ
Name[nl]=FS-type
Name[pt]=Tipo de SF
Name[pt_BR]=Tipo de sistema de arquivos
Name[ro]=Tipul SF
Name[sv]=Filsystemtyp
Name[tr]=Dosya Sistemi Tipi
Name[uk]=Тип ФС
Name[x-test]=xxFs Typexx
Name[zh_TW]=檔案系統型態

[Desktop Action ignored]
Name=Ignored
Name[el]=Παράβλεψη
Name[et]=Eiratav
Name[ga]=Neamhaird Déanta De
Name[gu]=અવગણેલ
Name[ko]=무시됨
Name[nb]=Ignorert
Name[nds]=Övergahn
Name[nl]=Genegeerd
Name[pt]=Ignorado
Name[pt_BR]=Ignorado
Name[ro]=Ignorat
Name[sv]=Ignorerad
Name[tr]=Yoksayılmış
Name[uk]=Ігнорується
Name[x-test]=xxIgnoredxx
Name[zh_TW]=忽略

[Desktop Action label]
Name=Label
Name[el]=Ετικέτα
Name[et]=Pealdis
Name[ga]=Lipéad
Name[gu]=લેબલ
Name[ja]=ラベル
Name[ko]=레이블
Name[nb]=Etikett
Name[nds]=Beteker
Name[pt]=Legenda
Name[pt_BR]=Rótulo
Name[ro]=Etichetă
Name[si]=ලේබලය
Name[sv]=Etikett
Name[tr]=Etiket
Name[uk]=Мітка
Name[x-test]=xxLabelxx
Name[zh_TW]=標籤

[Desktop Action objectName]
Name=Object Name
Name[el]=Όνομα αντικειμένου
Name[et]=Objekti nimi
Name[ga]=Ainm Réada
Name[gu]=વસ્તુ નામ
Name[ja]=オブジェクト名
Name[ko]=개체 이름
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[x-test]=xxObject Namexx
Name[zh_TW]=物件名稱

[Desktop Action rewritable]
Name=Rewritable
Name[el]=Επανεγγράψιμο
Name[et]=Korduvkirjutatav
Name[ga]=In-Athscríofa
Name[ja]=リライタブル
Name[ko]=다시 쓸 수 있음
Name[nb]=Overskrivbar
Name[nds]=Wedderschriefbor
Name[nl]=Herschrijfbaar
Name[pt]=Regravável
Name[pt_BR]=Regravável
Name[ro]=Reinscriptibil
Name[sv]=Skrivbar
Name[tr]=Yeniden yazılabilir
Name[uk]=Перезапис
Name[x-test]=xxRewritablexx
Name[zh_TW]=可覆寫

[Desktop Action size]
Name=Size
Name[el]=Μέγεθος
Name[et]=Suurus
Name[ga]=Méid
Name[gu]=માપ
Name[ja]=サイズ
Name[ko]=크기
Name[nb]=Størrelse
Name[nds]=Grött
Name[nl]=Grootte
Name[pt]=Tamanho
Name[pt_BR]=Tamanho
Name[ro]=Dimensiune
Name[si]=ප්‍රමාණය
Name[sv]=Storlek
Name[tr]=Boyut
Name[uk]=Розмір
Name[x-test]=xxSizexx
Name[zh_TW]=大小

[Desktop Action usage]
Name=Usage
Name[el]=Χρήση
Name[et]=Kasutus
Name[ga]=Úsáid
Name[gu]=વપરાશ
Name[ja]=使用率
Name[ko]=사용량
Name[nb]=Bruk
Name[nds]=Bruuk
Name[nl]=Gebruik
Name[pt]=Utilização
Name[pt_BR]=Uso
Name[ro]=Utilizare
Name[si]=භාවිතය
Name[sv]=Användning
Name[tr]=Kullanım
Name[uk]=Використання
Name[x-test]=xxUsagexx
Name[zh_TW]=使用量

[Desktop Action uuid]
Name=Uuid
Name[ja]=UUID
Name[ko]=UUID
Name[nds]=UUID
Name[nl]=UUID
Name[pt]=UUID
Name[pt_BR]=UUID
Name[x-test]=xxUuidxx
Name[zh_TW]=UUID
