[Desktop Entry]
Actions=canChangeFrequency;instructionSets;maxSpeed;number;objectName;
Name=Processor
Name[af]=Verwerker
Name[ar]=المعالج
Name[as]=সংসাধক
Name[be]=Працэсар
Name[be@latin]=Pracesar
Name[bg]=Процесор
Name[bn]=প্রসেসর
Name[bn_IN]=প্রসেসর
Name[br]=Kewerier
Name[ca]=Processador
Name[ca@valencia]=Processador
Name[cs]=Procesor
Name[csb]=Procesora
Name[cy]=Prosesydd
Name[de]=Prozessor
Name[el]=Επεξεργαστής
Name[eo]=Procesoro
Name[es]=Procesador
Name[et]=Protsessor
Name[eu]=Prozesagailua
Name[fa]=پردازنده
Name[fi]=Prosessori
Name[fr]=Processeur
Name[fy]=Ferwurkingsienheid
Name[ga]=Próiseálaí
Name[gl]=Procesador
Name[gu]=પ્રોસેસર
Name[he]=מעבד
Name[hi]=प्रोसेसर
Name[hne]=प्रोसेसर
Name[hr]=Procesor
Name[hsb]=procesor
Name[hu]=Processzor
Name[is]=Örgjörvi
Name[it]=Processore
Name[ja]=プロセッサ
Name[ka]=პროცესორი
Name[kk]=Процессор
Name[km]=ប្រព័ន្ធ​​ដំណើរការ
Name[kn]=ಸಂಸ್ಕಾರಕ
Name[ko]=프로세서
Name[ku]=Kiryarkar
Name[lt]=Procesorius
Name[lv]=Procesors
Name[mai]=प्रोसेसर
Name[mk]=Процесор
Name[ml]=പ്രൊസസ്സര്‍
Name[mr]=प्रोसेसर
Name[ms]=Pemproses
Name[nb]=Prosessor
Name[nds]=Perzesser
Name[ne]=प्रोसेसर
Name[nn]=Prosessor
Name[or]=ସଞ୍ଚାଳକ
Name[pa]=ਪਰੋਸੈਸਰ
Name[pl]=Procesor
Name[pt]=Processador
Name[pt_BR]=Processador
Name[ro]=Procesor
Name[ru]=Процессор
Name[se]=Doaimmár
Name[si]=සකසනය
Name[sk]=Procesor
Name[sl]=Procesor
Name[sr]=Процесор
Name[sr@latin]=Procesor
Name[ta]=ஆக்கி
Name[te]=ప్రాసెసర్
Name[tg]=Амалкард
Name[th]=ตัวประมวลผล
Name[tr]=İşlemci
Name[uk]=Процесор
Name[uz]=Protsessor
Name[uz@cyrillic]=Процессор
Name[vi]=Bộ xử lý
Name[wa]=Processeu
Name[x-test]=xxProcessorxx
Name[xh]=Umqhubekekisi phambili
Name[zh_CN]=处理器
Name[zh_TW]=處理器
Type=Service
X-KDE-Solid-Actions-Type=Processor

[Desktop Action canChangeFrequency]
Name=Can Change Frequency
Name[el]=Δυνατότητα αλλαγής συχνότητας
Name[et]=Muudetava sagedusega
Name[ga]=Is Féidir Minicíocht a Athrú
Name[gu]=આવૃત્તિ બદલી શકે છે
Name[ja]=周波数の変更が可能
Name[km]=អាច​ផ្លាស់ប្ដូរ​ប្រេកង់​
Name[ko]=주파수 변경 가능
Name[nb]=Kan endre frekvens
Name[nds]=Kann Frequenz wesseln
Name[nl]=Kan de frequentie wijzigen
Name[pt]=Pode Variar a Frequência
Name[pt_BR]=Pode alterar a frequência
Name[ro]=Poate schimba frecvența
Name[sv]=Kan ändra frekvens
Name[tr]=Frekansı Değiştirilebilir
Name[uk]=Може змінювати частоту
Name[x-test]=xxCan Change Frequencyxx
Name[zh_TW]=可變更頻率

[Desktop Action instructionSets]
Name=Instruction Sets
Name[el]=Σύνολα εντολών
Name[et]=Käsustikud
Name[ga]=Tacair Treoracha
Name[gu]=સૂચના સમૂહો
Name[km]=សំណុំ​សេចក្ដី​ណែនាំ
Name[ko]=명령어 집합
Name[nb]=Instruksjonssett
Name[nds]=Anwiesen-Setten
Name[nl]=Instructieset
Name[pt]=Conjuntos de Instruções
Name[pt_BR]=Conjuntos de instruções
Name[ro]=Seturi de instrucțiuni
Name[sv]=Instruktionsuppsättningar
Name[tr]=Yönerge Ayarları
Name[uk]=Набори команд
Name[x-test]=xxInstruction Setsxx
Name[zh_TW]=指令集

[Desktop Action maxSpeed]
Name=Max Speed
Name[de]=Maximalgeschwindigkeit
Name[el]=Μέγιστη ταχύτητα
Name[et]=Maks. kiirus
Name[ga]=Uasluas
Name[gu]=મહત્તમ ઝડપ
Name[ja]=最大速度
Name[km]=ល្បឿន​អតិបរមា
Name[ko]=최대 속도
Name[nb]=Maks. hastighet
Name[nds]=Hööchst Gauigkeit
Name[nl]=Maximale snelheid
Name[pt]=Velocidade Máxima
Name[pt_BR]=Velocidade máxima
Name[ro]=Viteză maximă
Name[sv]=Maximal hastighet
Name[tr]=En Yüksek Hız
Name[uk]=Макс. швидкість
Name[x-test]=xxMax Speedxx
Name[zh_TW]=最大速率

[Desktop Action number]
Name=Number
Name[de]=Nummer
Name[el]=Αριθμός
Name[et]=Arv
Name[ga]=Uimhir
Name[gu]=ક્રમ
Name[ja]=番号
Name[km]=លេខ
Name[ko]=숫자
Name[nb]=Tall
Name[nds]=Nummer
Name[nl]=Nummer
Name[pt]=Número
Name[pt_BR]=Número
Name[ro]=Număr
Name[sv]=Antal
Name[tr]=Numara
Name[uk]=Номер
Name[x-test]=xxNumberxx
Name[zh_TW]=數字

[Desktop Action objectName]
Name=Object Name
Name[de]=Objektname
Name[el]=Όνομα αντικειμένου
Name[et]=Objekti nimi
Name[ga]=Ainm Réada
Name[gu]=વસ્તુ નામ
Name[ja]=オブジェクト名
Name[km]=ឈ្មោះវត្ថុ
Name[ko]=개체 이름
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[x-test]=xxObject Namexx
Name[zh_TW]=物件名稱
