[Desktop Action driverHandle]
Name=Driver Handle

[Desktop Action port]
Name=Port

[Desktop Action serialType]
Name=Serial Type

[Desktop Entry]
Actions=driverHandle;port;serialType;
Name=Solid Device
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=SerialInterface
