[Desktop Entry]
Actions=hwAddress;ifaceName;macAddress;objectName;wireless;
Name=Network Interface
Name[csb]=Sécowi interfejs
Name[da]=Netværkskort
Name[de]=Netzwerkschnittstelle
Name[el]=Διασύνδεση δικτύου
Name[et]=Võrguliides
Name[fi]=Verkkoliityntä
Name[ga]=Comhéadan Líonra
Name[gu]=નેટવર્ક ઇન્ટરફેસ
Name[ja]=ネットワークインターフェース
Name[km]=ចំណុច​ប្រទាក់​បណ្ដាញ
Name[ko]=네트워크 인터페이스
Name[lv]=Tīkla ierīce
Name[nb]=Nettverksgrensesnitt
Name[nds]=Nettwark-Koppelsteed
Name[pt]=Interface de Rede
Name[pt_BR]=Interface de rede
Name[ro]=Interfață de rețea
Name[sv]=Nätverksgränssnitt
Name[tr]=Ağ Arayüzü
Name[uk]=Мережний інтерфейс
Name[x-test]=xxNetwork Interfacexx
Name[zh_CN]=网络接口
Name[zh_TW]=網路介面
Type=Service
X-KDE-Solid-Actions-Type=NetworkInterface

[Desktop Action hwAddress]
Name=Hw Address
Name[csb]=Adresa Hw
Name[da]=HW-adresse
Name[de]=HW-Adresse
Name[el]=Διεύθυνση Hw
Name[et]=Riistvara-aadress
Name[fi]=Rautaosoite
Name[ga]=Seoladh Crua-Earraí
Name[gu]=હાર્ડવેર સરનામું
Name[ja]=HW アドレス
Name[km]=អាសយដ្ឋាន Hw
Name[ko]=하드웨어 주소
Name[lv]=Hw adrese
Name[nb]=Hw-adresse
Name[nds]=Hardware-Adress
Name[pt]=Endereço de H/W
Name[pt_BR]=Endereço de hardware
Name[ro]=Adresă fizică
Name[sv]=Hårdvaruadress
Name[tr]=Donanım Adresi
Name[uk]=Апар. адреса
Name[x-test]=xxHw Addressxx
Name[zh_CN]=硬件地址
Name[zh_TW]=硬體位址

[Desktop Action ifaceName]
Name=Iface Name
Name[csb]=Miono Iface
Name[da]=Navn på grænseflade
Name[de]=Schnittstellen-Name
Name[el]=Όνομα Iface
Name[et]=Liidese nimi
Name[fi]=Verkkoliitynnän nimi
Name[ga]=Ainm an Chomhéadain
Name[gu]=ઇન્ટરફેસ નામ
Name[ja]=インターフェース名
Name[km]=ឈ្មោះ Iface
Name[ko]=인터페이스 이름
Name[lv]=Sask. nosaukums
Name[nb]=G.snitt-navn
Name[nds]=Koppelsteed-Naam
Name[pt]=Nome da Interface
Name[pt_BR]=Nome da Interface
Name[ro]=Denumire interfață
Name[sv]=Gränssnittsnamn
Name[tr]=Iface Adı
Name[uk]=Назва Iface
Name[x-test]=xxIface Namexx
Name[zh_CN]=接口名称
Name[zh_TW]=介面名稱

[Desktop Action macAddress]
Name=Mac Address
Name[csb]=Adresa Mac
Name[da]=MAC-adresse
Name[de]=MAC-Adresse
Name[el]=Διεύθυνση MAC
Name[et]=MAC-aadress
Name[fi]=Mac-osoite
Name[ga]=Seoladh MAC
Name[gu]=મેક સરનામું
Name[ja]=Mac アドレス
Name[km]=អាសយដ្ឋាន Mac
Name[ko]=MAC 주소
Name[lv]=Mac adrese
Name[nb]=MAC-adresse
Name[nds]=Mac-Adress
Name[pt]=Endereço MAC
Name[pt_BR]=Endereço MAC
Name[ro]=Adresă MAC
Name[sv]=MAC-adress
Name[tr]=Mac Adresi
Name[uk]=Mac-адреса
Name[x-test]=xxMac Addressxx
Name[zh_CN]=Mac 地址
Name[zh_TW]=Mac 位址

[Desktop Action objectName]
Name=Object Name
Name[da]=Objektnavn
Name[de]=Objektname
Name[el]=Όνομα αντικειμένου
Name[et]=Objekti nimi
Name[fi]=Objektinimi
Name[ga]=Ainm Réada
Name[gu]=વસ્તુ નામ
Name[ja]=オブジェクト名
Name[km]=ឈ្មោះវត្ថុ
Name[ko]=개체 이름
Name[lv]=Objekta nosaukums
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[x-test]=xxObject Namexx
Name[zh_CN]=对象名称
Name[zh_TW]=物件名稱

[Desktop Action wireless]
Name=Wireless
Name[cs]=Bezdrátové
Name[csb]=Bezkablowé
Name[da]=Trådløst
Name[de]=Drahtlos
Name[el]=Ασύρματο
Name[et]=Juhtmeta
Name[fi]=Langaton
Name[ga]=Gan Sreang
Name[gu]=વાયરલેસ
Name[ja]=ワイヤレス
Name[km]=ឥតខ្សែ
Name[ko]=무선
Name[lv]=Bezvadu
Name[nb]=Trådløs
Name[nds]=Funk
Name[pt]=Sem-Fios
Name[pt_BR]=Sem fio
Name[ro]=Fără fir
Name[si]=රැහැන් රහිත
Name[sv]=Trådlöst
Name[tr]=Kablosuz
Name[uk]=Бездротове
Name[x-test]=xxWirelessxx
Name[zh_CN]=无线
Name[zh_TW]=無線
