[Desktop Action hasState]
Name=Has State

[Desktop Action objectName]
Name=Object Name

[Desktop Action stateValue]
Name=State Value

[Desktop Action type]
Name=Type

[Desktop Entry]
Actions=hasState;objectName;stateValue;type
Type=Solid-Device-Type
X-KDE-Solid-Actions-Type=Button
