[Desktop Action objectName]
Name=Object Name
Name[et]=Objekti nimi
Name[ga]=Ainm Réada
Name[ja]=オブジェクト名
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[uk]=Назва об'єкта
Name[zh_TW]=物件名稱

[Desktop Action supportedDrivers]
Name=Supported Drivers
Name[et]=Toetatud draiverid
Name[ga]=Tiománaithe a dTacaítear Leo
Name[ja]=サポートされているドライバ
Name[nds]=Ünnerstütt Drievers
Name[nl]=Ondersteunde stuurprogramma's
Name[pt]=Controladores Suportados
Name[pt_BR]=Drivers suportados
Name[ro]=Drivere susținute
Name[sv]=Drivrutiner som stöds
Name[uk]=Підтримувані драйвери
Name[zh_TW]=支援的驅動程式

[Desktop Entry]
Actions=objectName;supportedDrivers
Name=Video
Name[ga]=Fís
Name[ja]=映像
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[uk]=Відео
Name[zh_TW]=影像
Type=Solid-Device-Type
X-KDE-Solid-Actions-Type=Video
