[Desktop Action bus]
Name=Bus

[Desktop Action driveType]
Name=Drive Type
Name[es]=Tipo de unidad
Name[et]=Seadme tüüp
Name[fr]=Type de lecteur
Name[ja]=ドライブのタイプ
Name[nds]=Loopwark-Typ
Name[pt]=Tipo de Unidade
Name[pt_BR]=Tipo de unidade
Name[sv]=Enhetstyp
Name[uk]=Тип пристрою
Name[zh_TW]=磁碟型態

[Desktop Action hotpluggable]
Name=Hotpluggable

[Desktop Action objectName]
Name=Object Name

[Desktop Action readSpeed]
Name=Read Speed

[Desktop Action removable]
Name=Removable

[Desktop Action supportedMedia]
Name=Supported Media

[Desktop Action writeSpeed]
Name=Write Speed

[Desktop Action writeSpeeds]
Name=Write Speeds

[Desktop Entry]
Name=Optical Drive
Name[es]=Unidad óptica
Name[et]=Optiline seade
Name[fr]=Périphérique optique
Name[ja]=光学ドライブ
Name[nds]=Optsch Loopwark
Name[pt]=Disco Óptico
Name[pt_BR]=Unidade óptica
Name[sv]=Optisk enhet
Name[uk]=Пристрій читання оптичних дисків
Name[zh_TW]=光碟機
X-KDE-Solid-Actions-Type=OpticalDrive
