[Desktop Entry]
Actions=bus;driveType;hotpluggable;objectName;removable;
Name=Storage Drive
Name[et]=Salvestusseade
Name[ga]=Tiomántán Stórais
Name[ja]=ストレージドライブ
Name[ko]=저장 드라이브
Name[nb]=Lagerdrev
Name[nds]=Spiekerloopwark
Name[nl]=Opslagapparaat
Name[pt]=Unidade de Armazenamento
Name[pt_BR]=Unidade de armazenamento
Name[ro]=Unitate de stocare
Name[sv]=Lagringsenhet
Name[tr]=Depolama Sürücüsü
Name[uk]=Пристрій зберігання даних
Name[x-test]=xxStorage Drivexx
Name[zh_TW]=儲存裝置
Type=Service
X-KDE-Solid-Actions-Type=StorageDrive

[Desktop Action bus]
Name=Bus
Name[et]=Siin
Name[ja]=バス
Name[ko]=버스
Name[nb]=Buss
Name[pt]=Barramento
Name[pt_BR]=Barramento
Name[ro]=Magistrală
Name[sv]=Buss
Name[tr]=Yol
Name[uk]=Шина
Name[x-test]=xxBusxx
Name[zh_TW]=匯流排

[Desktop Action driveType]
Name=Drive Type
Name[et]=Seadme tüüp
Name[ga]=Cineál an Tiomántáin
Name[ja]=ドライブのタイプ
Name[ko]=드라이브 종류
Name[nb]=Drev-type
Name[nds]=Loopwark-Typ
Name[nl]=Apparaattype
Name[pt]=Tipo de Unidade
Name[pt_BR]=Tipo de unidade
Name[ro]=Tip unitate
Name[sv]=Enhetstyp
Name[tr]=Sürücü Tipi
Name[uk]=Тип пристрою
Name[x-test]=xxDrive Typexx
Name[zh_TW]=磁碟型態

[Desktop Action hotpluggable]
Name=Hotpluggable
Name[et]=Töö ajal ühendatav
Name[ga]=Inphlugáilte
Name[ja]=Hotplug 可能
Name[ko]=핫플러그 가능
Name[nb]=Kan kobles til påslått
Name[nds]=Jümmers tokoppelbor
Name[nl]=Hotplugbaar
Name[pt]=Conectável em Funcionamento
Name[pt_BR]=Conectável em Funcionamento
Name[sv]=Inkopplingsbar
Name[tr]=Çıkarılıp takılabilir
Name[uk]=«Гаряче» з’єднання
Name[x-test]=xxHotpluggablexx
Name[zh_TW]=可熱插拔

[Desktop Action objectName]
Name=Object Name
Name[et]=Objekti nimi
Name[ga]=Ainm Réada
Name[ja]=オブジェクト名
Name[ko]=개체 이름
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[x-test]=xxObject Namexx
Name[zh_TW]=物件名稱

[Desktop Action removable]
Name=Removable
Name[et]=Eemaldatav
Name[ga]=Inbhainte
Name[ja]=リムーバブル
Name[ko]=제거 가능
Name[nb]=Flyttbar
Name[nds]=Tuuschbor
Name[nl]=Verwijderbaar
Name[pt]=Removível
Name[pt_BR]=Removível
Name[ro]=Amovibil
Name[sv]=Flyttbar
Name[tr]=Çıkarılabilir
Name[uk]=Змінний пристрій
Name[x-test]=xxRemovablexx
Name[zh_TW]=可移除
