[Desktop Entry]
Actions=fsType;ignored;label;objectName;size;usage;uuid;
Name=Storage Volume
Name[el]=Τόμος αποθήκευσης
Name[et]=Salvesti
Name[ga]=Imleabhar Stórais
Name[gu]=સંગ્રહ કદ
Name[ja]=ストレージボリューム
Name[ko]=저장소 볼륨
Name[nb]=Lagervolum
Name[nds]=Spiekermedium
Name[nl]=Opslagvolume
Name[pt]=Volume de Armazenamento
Name[pt_BR]=Volume de armazenamento
Name[ro]=Volum de stocare
Name[sv]=Lagringsvolym
Name[tr]=Depolama Bölümü
Name[uk]=Том зберігання даних
Name[x-test]=xxStorage Volumexx
Name[zh_TW]=儲存容量
Type=Service
X-KDE-Solid-Actions-Type=StorageVolume

[Desktop Action fsType]
Name=Fs Type
Name[el]=Τύπος συστήματος αρχείων
Name[et]=Failisüsteemi tüüp
Name[ga]=Cineál an Chórais Comhad
Name[gu]=Fs પ્રકાર
Name[ko]=파일 시스템 종류
Name[nb]=Filsystemtype
Name[nds]=Dateisysteem-Typ
Name[nl]=FS-type
Name[pt]=Tipo de SF
Name[pt_BR]=Tipo de sistema de arquivos
Name[ro]=Tipul SF
Name[sv]=Filsystemtyp
Name[tr]=Dosya Sistemi Tipi
Name[uk]=Тип ФС
Name[x-test]=xxFs Typexx
Name[zh_TW]=檔案系統型態

[Desktop Action ignored]
Name=Ignored
Name[el]=Παράβλεψη
Name[et]=Eiratav
Name[ga]=Neamhaird Déanta De
Name[gu]=અવગણેલ
Name[ko]=무시됨
Name[nb]=Ignorert
Name[nds]=Övergahn
Name[nl]=Genegeerd
Name[pt]=Ignorado
Name[pt_BR]=Ignorado
Name[ro]=Ignorat
Name[sv]=Ignorerad
Name[tr]=Yoksayılmış
Name[uk]=Ігнорується
Name[x-test]=xxIgnoredxx
Name[zh_TW]=忽略

[Desktop Action label]
Name=Label
Name[el]=Ετικέτα
Name[et]=Pealdis
Name[ga]=Lipéad
Name[gu]=લેબલ
Name[ja]=ラベル
Name[ko]=레이블
Name[nb]=Etikett
Name[nds]=Beteker
Name[pt]=Legenda
Name[pt_BR]=Rótulo
Name[ro]=Etichetă
Name[si]=ලේබලය
Name[sv]=Etikett
Name[tr]=Etiket
Name[uk]=Мітка
Name[x-test]=xxLabelxx
Name[zh_TW]=標籤

[Desktop Action objectName]
Name=Object Name
Name[el]=Όνομα αντικειμένου
Name[et]=Objekti nimi
Name[ga]=Ainm Réada
Name[gu]=વસ્તુ નામ
Name[ja]=オブジェクト名
Name[ko]=개체 이름
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[sv]=Objektnamn
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[x-test]=xxObject Namexx
Name[zh_TW]=物件名稱

[Desktop Action size]
Name=Size
Name[el]=Μέγεθος
Name[et]=Suurus
Name[ga]=Méid
Name[gu]=માપ
Name[ja]=サイズ
Name[ko]=크기
Name[nb]=Størrelse
Name[nds]=Grött
Name[nl]=Grootte
Name[pt]=Tamanho
Name[pt_BR]=Tamanho
Name[ro]=Dimensiune
Name[si]=ප්‍රමාණය
Name[sv]=Storlek
Name[tr]=Boyut
Name[uk]=Розмір
Name[x-test]=xxSizexx
Name[zh_TW]=大小

[Desktop Action usage]
Name=Usage
Name[el]=Χρήση
Name[et]=Kasutus
Name[ga]=Úsáid
Name[gu]=વપરાશ
Name[ja]=使用率
Name[ko]=사용량
Name[nb]=Bruk
Name[nds]=Bruuk
Name[nl]=Gebruik
Name[pt]=Utilização
Name[pt_BR]=Uso
Name[ro]=Utilizare
Name[si]=භාවිතය
Name[sv]=Användning
Name[tr]=Kullanım
Name[uk]=Використання
Name[x-test]=xxUsagexx
Name[zh_TW]=使用量

[Desktop Action uuid]
Name=Uuid
Name[ja]=UUID
Name[ko]=UUID
Name[nds]=UUID
Name[nl]=UUID
Name[pt]=UUID
Name[pt_BR]=UUID
Name[x-test]=xxUuidxx
Name[zh_TW]=UUID
