[Desktop Action objectName]
Name=Object Name
Name[bg]=Име на обект
Name[ca]=Nom de l'objecte
Name[da]=Objektnavn
Name[de]=Objektname
Name[el]=Όνομα αντικειμένου
Name[en_GB]=Object Name
Name[es]=Nombre del objeto
Name[et]=Objekti nimi
Name[fi]=Objektinimi
Name[fr]=Nom de l'objet
Name[fy]=Objektnamme
Name[ga]=Ainm Réada
Name[gl]=Nome do obxecto
Name[gu]=વસ્તુ નામ
Name[hr]=Ime objekta
Name[hu]=Objektumnév
Name[id]=Nama Objek
Name[is]=Heiti hlutar
Name[ja]=オブジェクト名
Name[km]=ឈ្មោះវត្ថុ
Name[ko]=개체 이름
Name[lv]=Objekta nosaukums
Name[mk]=Име на објект
Name[ml]=ലക്ഷ്യത്തിന്റെ നാമം
Name[nb]=Objektnavn
Name[nds]=Objektnaam
Name[nl]=Objectnaam
Name[nn]=Objektnamn
Name[pl]=Nazwa obiektu
Name[pt]=Nome do Objecto
Name[pt_BR]=Nome do objeto
Name[ro]=Denumire obiect
Name[ru]=Имя объекта
Name[sl]=Ime objekta
Name[sr]=име објекта
Name[sr@latin]=ime objekta
Name[sv]=Objektnamn
Name[tg]=Номи объект
Name[tr]=Nesne Adı
Name[uk]=Назва об'єкта
Name[wa]=No do cayet
Name[x-test]=xxObject Namexx
Name[zh_CN]=对象名称
Name[zh_TW]=物件名稱

[Desktop Action supportedDrivers]
Name=Supported Drivers
Name[bg]=Поддържани драйвери
Name[ca]=Controladors acceptats
Name[csb]=Wspiéróné czérowniczi
Name[da]=Understøttede drivere
Name[de]=Unterstützte Treiber
Name[el]=Υποστηριζόμενοι οδηγοί
Name[en_GB]=Supported Drivers
Name[es]=Dispositivos soportados
Name[et]=Toetatud draiverid
Name[fi]=Tuetut ajurit
Name[fr]=Pilotes pris en charge
Name[fy]=Stipe stjoerprogramma's
Name[ga]=Tiománaithe a dTacaítear Leo
Name[gl]=Dispositivos soportados
Name[gu]=આધારિત ડ્રાઇવરો
Name[hr]=Podržani pisači
Name[hu]=Támogatott meghajtók
Name[id]=Penggerak Didukung
Name[is]=Studdir reklar
Name[ja]=サポートされているドライバ
Name[km]=កម្មវិធី​បញ្ជា​ដែលបានគាំទ្រ
Name[ko]=지원하는 드라이버
Name[lv]=Atbalstītie draiveri
Name[mk]=Поддржани управувачи
Name[ml]=പിന്തുണയുള്ള സാരഥികള്‍
Name[nb]=Støttede drivere
Name[nds]=Ünnerstütt Drievers
Name[nl]=Ondersteunde stuurprogramma's
Name[nn]=Støtta drivarar
Name[pl]=Obsługiwane sterowniki
Name[pt]=Controladores Suportados
Name[pt_BR]=Drivers suportados
Name[ro]=Drivere susținute
Name[ru]=Поддерживаемые драйверы
Name[sl]=Podprti gonilniki
Name[sr]=подржани драјвери
Name[sr@latin]=podržani drajveri
Name[sv]=Drivrutiner som stöds
Name[tg]=Дастгоҳҳои мувофиқ
Name[tr]=Desteklenen Sürücüler
Name[uk]=Підтримувані драйвери
Name[wa]=Mineus sopoirtés
Name[x-test]=xxSupported Driversxx
Name[zh_CN]=支持的驱动
Name[zh_TW]=支援的驅動程式

[Desktop Action supportedProtocols]
Name=Supported Protocols
Name[bg]=Поддържани протоколи
Name[ca]=Protocols acceptats
Name[csb]=Wspiéróné protokòłë
Name[da]=Understøttede protokoller
Name[de]=Unterstützte Protokolle
Name[el]=Υποστηριζόμενα πρωτόκολλα
Name[en_GB]=Supported Protocols
Name[es]=Protocolos soportados
Name[et]=Toetatud protokollid
Name[fi]=Tuetut yhteyskäytännöt
Name[fr]=Protocoles pris en charge
Name[fy]=Stipe protokollen
Name[ga]=Prótacail a dTacaítear Leo
Name[gl]=Protocolos soportados
Name[gu]=આધારિત પ્રોટોકોલ્સ
Name[hr]=Podržani Protokoli
Name[hu]=Támogatott protokollok
Name[id]=Protokol Didukung
Name[is]=Studdar samskiptareglur
Name[ja]=サポートされているプロトコル
Name[km]=ពិពីការ​ដែលបានគាំទ្រ
Name[ko]=지원하는 프로토콜
Name[lv]=Atbalstītie protokoli
Name[mk]=Поддржани протоколи
Name[ml]=പിന്തുണയ്ക്കുന്ന സമ്പ്രദായങ്ങള്‍
Name[nb]=Støttede protokoller
Name[nds]=Ünnerstütt Protokollen
Name[nl]=Ondersteunde protocollen
Name[nn]=Støtta protokollar
Name[pt]=Protocolos Suportados
Name[pt_BR]=Protocolos suportados
Name[ro]=Protocoale susținute
Name[ru]=Поддерживаемые протоколы
Name[sl]=Podprti protokoli
Name[sr]=подржани протоколи
Name[sr@latin]=podržani protokoli
Name[sv]=Protokoll som stöds
Name[tg]=Протоколҳо
Name[tr]=Desteklenen Protokoller
Name[uk]=Підтримувані протоколи
Name[wa]=Protocoles sopoirtés
Name[x-test]=xxSupported Protocolsxx
Name[zh_CN]=支持的协议
Name[zh_TW]=支援的協定

[Desktop Entry]
Actions=objectName;supportedDrivers;supportedProtocols;
Name=Solid Device
Name[en_GB]=Solid Device
Name[et]=Solidi seade
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[id]=Divais Solid
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[sv]=Solid-enhet
Name[tr]=Solid Aygıtı
Name[uk]=Пристрій Solid
Name[x-test]=xxSolid Devicexx
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=PortableMediaPlayer
