[Desktop Action objectName]
Name=Object Name

[Desktop Action plugged]
Name=Plugged

[Desktop Entry]
Actions=objectName;plugged
Type=Solid-Device-Type
X-KDE-Solid-Actions-Type=AcAdapter
