[Desktop Entry]
Name=Windowed widgets
Name[ia]=Widgets (Elemento Graphic) in le Fenestra
Name[pt]=Elementos em janelas
Name[sv]=Fönsterbaserade grafiska komponenter
Name[uk]=Віджети-вікна
Name[x-test]=xxWindowed widgetsxx


Comment=Find Plasma widgets that can be run as standalone windows
Comment[ia]=Trovar widgets (elementos graphic) de plasma que on pote executar como fenestras sole
Comment[pt]=Procurar elementos do Plasma que possam ser executados como janelas autónomas
Comment[sv]=Hitta grafiska Plasma-komponenter som kan köras som fristående fönster
Comment[uk]=Пошук віджетів Плазми, які можна запускати у окремих вікнах
Comment[x-test]=xxFind Plasma widgets that can be run as standalone windowsxx


X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_windowedwidgets
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=windowedwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
