[Desktop Entry]
Name=Windowed widgets
Name[ca]=Estris en finestres
Name[ca@valencia]=Estris en finestres
Name[da]=Widgets som vinduer
Name[en_GB]=Windowed widgets
Name[es]=Componentes en ventana
Name[et]=Akendesse paigutatavad vidinad
Name[fr]=Éléments visuels fenêtrés
Name[hr]=Widgeti u prozorima
Name[ia]=Widgets (Elemento Graphic) in le Fenestra
Name[id]=Widget jendela
Name[is]=Græjur í gluggum
Name[it]=Oggetti fenestrabili
Name[ja]=ウィンドウ化されたウィジェット
Name[kk]=Терезелерлі виджеттер
Name[km]=ធាតុក្រាហ្វិក​​វីនដូ
Name[kn]=ವಿಂಡೋವ್ಡ್ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟಗಳು (ವಿಡ್ಗೆಟ್)
Name[lt]=Langų valdikliai
Name[nb]=Skjermelementer i vinduer
Name[nds]=Lüttprogrammen as Enkelfinstern
Name[nl]=Widgets weergegeven in vensters
Name[pa]=ਵਿੰਡੋ ਵਿਦਜੈੱਟ
Name[pt]=Elementos em janelas
Name[pt_BR]=Widgets em janelas
Name[ru]=Мобильные виджеты
Name[sv]=Fönsterbaserade grafiska komponenter
Name[uk]=Віджети-вікна
Name[x-test]=xxWindowed widgetsxx
Name[zh_CN]=窗口化部件
Name[zh_TW]=視窗元件


Comment=Find Plasma widgets that can be run as standalone windows
Comment[ca]=Cerca estris del Plasma que es poden executar en finestres autònomes
Comment[ca@valencia]=Cerca estris del Plasma que es poden executar en finestres autònomes
Comment[cs]=Najít Plasma widgety, které mohou být spuštěny ve vlastních oknech
Comment[da]=Find Plasma-widgets der kan køres som selvstændige vinduer
Comment[en_GB]=Find Plasma widgets that can be run as standalone windows
Comment[es]=Busca componentes Plasma que se pueden ejecutar como ventanas independientes
Comment[et]=Plasma vidinate otsimine, mida saab panna tööle autonoomsetes akendes
Comment[fr]=Trouve des éléments visuels Plasma qui peuvent êtres démarrés comme des fenêtres individuelles
Comment[ia]=Trovar widgets (elementos graphic) de plasma que on pote executar como fenestras sole
Comment[id]=Cari widget Plasma yang dapat dijalankan sebagai jendela mandiri
Comment[is]=Finnur Plasmagræjur sem hægt er að keyra sem sjálfstæð forrit
Comment[it]=Trova i plasmoidi che possono essere eseguiti come finestre a sé
Comment[ja]=スタンドアローンのウィンドウとして起動できる Plasma ウィジェットを検索します
Comment[kk]=Бөлек терезелі Plasma виджеттерін табу
Comment[km]=រក​ធាតុក្រាហ្វិក​ប្លាស្មា​ ដែល​អាច​ត្រូវ​បាន​​រត់​ជា​វីនដូ​តែ​ឯង
Comment[lt]=Rasti plasmos elementus, kurie gali veikti kaip atskiri langai
Comment[nb]=Finn Plasmaelementer som kan kjøres som frittstående programmer
Comment[nds]=Plasma-Lüttprogrammen söken, de ok as alleenstahn Finstern löppt.
Comment[nl]=Zoek Plasma widgets die als zelfstandige vensters kunnen draaien
Comment[pa]=ਪਲਾਜ਼ਾਮ ਵਿਦਜੈੱਟ ਲੱਭੋ, ਜੋ ਕਿ ਇੱਕਲੇ ਵਿੰਡੋਜ਼ ਵਜੋਂ ਚੱਲ ਸਕਦੇ ਹਨ
Comment[pt]=Procurar elementos do Plasma que possam ser executados como janelas autónomas
Comment[pt_BR]=Localiza widgets do Plasma que possam ser executados como janelas autônomas
Comment[ru]=Поиск виджетов способных работать как самостоятельные приложения
Comment[sv]=Hitta grafiska Plasma-komponenter som kan köras som fristående fönster
Comment[uk]=Пошук віджетів Плазми, які можна запускати у окремих вікнах
Comment[x-test]=xxFind Plasma widgets that can be run as standalone windowsxx
Comment[zh_CN]=查找可以独立窗口形式运行的 Plasma 部件
Comment[zh_TW]=尋找可以以獨立視窗執行的 Plasma 元件


X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_windowedwidgets
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.windowedwidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
