[Desktop Entry]
Name=Nepomuk Desktop Search Runner
Name[ca]=Execució de cerques d'escriptori del Nepomuk
Name[el]=Εκτελεστής αναζήτησης επιφάνειας εργασίας Nepomuk
Name[gu]=નેપોમુક ડેસ્કટોપ શોધ ચલાવનાર
Name[kk]=Nepomuk іздеу жегкіші
Name[nb]=Nepomuk starter for skrivebordssøk
Name[nds]=Nepomuk-Schriefdischsöök-Dreger
Name[nl]=Nepomuk-zoekopdrachtrunner
Name[pt]=Execução de Pesquisas no Ambiente de Trabalho do Nepomuk
Name[pt_BR]=Execução de Pesquisas no Ambiente de Trabalho do Nepomuk
Name[sv]=Nepomuks körning av skrivbordssökning
Name[tr]=Nepomuk Masaüstü Araması
Name[uk]=Інструмент запуску стільничного пошуку Nepomuk
Name[x-test]=xxNepomuk Desktop Search Runnerxx
Name[zh_TW]=Nepomuk 桌面搜尋執行器
Comment=KRunner which performs desktop searches via Nepomuk
Comment[ca]=El KRunner executa cerques d'escriptori via el Nepomuk
Comment[el]=KRunner που εκτελεί αναζητήσεις επιφάνειας εργασίας μέσω του Nepomuk
Comment[gu]=KRunner જે નેપોમુક વડે ડેસ્કટોપ શોધ કરે છે
Comment[kk]=Nepomuk арқылы іздеуді орындайтын KRunner бағдарламасы
Comment[nb]=KRunner som utfører skrivebordssøk via Nepomuk
Comment[nds]=KRunner-Moduul, mit dat sik Schriefdischsöken över Nepomuk utföhren laat
Comment[nl]=KRunner die zoekopdrachten via Nepomuk uitvoert
Comment[pt]=Um KRunner que efectua pesquisas no ambiente de trabalho com o Nepomuk
Comment[pt_BR]=Um KRunner que efectua pesquisas no ambiente de trabalho com o Nepomuk
Comment[sv]=Programkörning som utför skrivbordssökningar via Nepomuk
Comment[tr]=Nepomuk üzerinden masaüstü araması yapan KRunner
Comment[uk]=KRunner, який виконуватиме стільничний пошук за допомогою Nepomuk
Comment[x-test]=xxKRunner which performs desktop searches via Nepomukxx
Comment[zh_TW]=透過 Nepomuk 執行桌面搜尋的 KRunner 程式。
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_nepomuksearchrunner
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
