[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Desktop Preview & Pager
Name[el]=Προεπισκόπηση και αλλαγή επιφάνειας εργασίας
Name[fr]=Gestionnaire et aperçu des bureaux
Name[x-test]=xxDesktop Preview & Pagerxx

Comment=A virtual desktop switching panel applet
Comment[x-test]=xxA virtual desktop switching panel appletxx

Icon=kpager

X-KDE-Library=minipager_panelapplet
X-KDE-UniqueApplet=false
