[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Desktop Preview & Pager
Name[af]=Werkskerm Voorskou & Boodskapper
Name[bg]=Изглед на екрана и пейджър
Name[ca]=Vista prèvia d'escriptori i paginador
Name[cs]=Přepínač a náhled ploch
Name[csb]=Przestôwnik ë przezérnik pùltów
Name[da]=Desktop-forhåndsviser & -pager
Name[de]=Umschalten zwischen Arbeitsflächen
Name[el]=Προεπισκόπηση και αλλαγή επιφάνειας εργασίας
Name[eo]=Tabula antaŭrigardilo kaj paĝilo
Name[es]=Paginador y previsualizador del escritorio
Name[et]=Töölaudade eelvaatlus ja vahetaja
Name[eu]=Mahaigain aurrebista eta orrialdekatzailea
Name[fa]=پیش‌نمایش و پی‌جوی رومیزی
Name[fi]=Työpöydän esikatselu ja sivutus
Name[fr]=Gestionnaire et aperçu des bureaux
Name[fy]=Buroblêdfoarbyld en Pager
Name[gl]=Antevisor e Paxinador do Escritório
Name[hr]=Pager i preglednik radne površine
Name[hu]=Asztali előnézet és lapozó
Name[is]=Skjáborðs forskoðari & flettir
Name[it]=Anteprime e gestione dei desktop
Name[ja]=デスクトッププレビューとページャ
Name[ka]=სამუშაო დაფისა და გვერდების ჩვენება
Name[kk]=Үстелдер ақтарғышы
Name[km]=ការ​មើលផ្ទៃតុ​ជាមុន និង ភេកយ័រ
Name[lt]=Darbastalių peržiūrėjimo ir puslapiavimo priemonė
Name[mk]=Преглед и пејџер на раб. површина
Name[nb]=Forhåndsvising og bytte av skrivebord
Name[nds]=Schriefdisch-Ümschalter & Vöransicht
Name[ne]=डेस्कटप पूर्वावलोकन र पेजर
Name[nl]=Bureaubladvoorbeeld en pager
Name[nn]=Førehandsvising og byte av skrivebord
Name[pa]=ਵੇਹੜਾ ਝਲਕ ਅਤੇ ਪੇਜ਼ਰ
Name[pl]=Przełącznik i przeglądarka pulpitów
Name[pt]=Antevisão e Paginador do Ecrã
Name[pt_BR]=Pager & Pré-visualizador de Área de Trabalho
Name[ro]=Paginator şi previzualizor pentru desktop
Name[ru]=Переключатель рабочих столов
Name[se]=Čállinbevddiid ovdačájeheaddji ja molssodeaddji
Name[sl]=Ogledovalnik in pozivnik namizja
Name[sr]=Прегледач и пејџер радних површина
Name[sr@Latn]=Pregledač i pejdžer radnih površina
Name[sv]=Förhandsgranskning och hantering av skrivbord
Name[te]=రంగస్థల ముందు వీక్షణం & పెజర్
Name[tr]=Masaüstü Önizleyici ve Sayfalayıcı
Name[uk]=Перегляд стільниці і пейджер
Name[uz]=Иш столининг пейжери
Name[x-test]=xxDesktop Preview & Pagerxx
Name[zh_TW]=桌面預覽與縮圖

Comment=A virtual desktop switching panel applet
Comment[de]=Wechseln der virtuellen Arbeitsfläche
Comment[el]=Ένα εφαρμογίδιο εναλλαγής εικονικών επιφανειών εργασίας
Comment[ja]=仮想デスクトップを切り替えるためのパネルアプレット
Comment[nds]=En Lüttprogramm för't Wesseln vun den virtuellen Schriefdisch
Comment[x-test]=xxA virtual desktop switching panel appletxx
Comment[zh_TW]=虛擬桌面切換面板小程式

Icon=kpager

X-KDE-Library=minipager_panelapplet
X-KDE-UniqueApplet=false
