[Desktop Entry]
Encoding=UTF-8
Icon=go
Type=Application
DocPath=kcontrol/kcmtaskbar/index.html
Exec=kcmshell kcmtaskbar


X-KDE-Library=taskbar
X-KDE-FactoryName=taskbar
X-KDE-ParentApp=kcontrol

Name=Taskbar

Comment=Configure the panel taskbar

Keywords=kicker,panel,kpanel,taskbar,startbar,launchbar,windows

Categories=Qt;KDE;X-KDE-settings-desktop;
