[Desktop Entry]
Name=wetter.com
Name[da]=wetter.com
Name[en_GB]=wetter.com
Name[eo]=wetter.com
Name[es]=wetter.com
Name[et]=wetter.com
Name[lv]=wetter.com
Name[nb]=wetter.com
Name[nds]=wetter.com
Name[pt]=wetter.com
Name[sv]=wetter.com
Name[uk]=wetter.com
Name[x-test]=xxwetter.comxx
Name[zh_TW]=wetter.com
Comment=Weather forecast by wetter.com
Comment[da]=Vejrudsigt fra wetter.com
Comment[en_GB]=Weather forecast by wetter.com
Comment[es]=Previsión meteorológica de wetter.com
Comment[et]=Wetter.com-i ilmateade
Comment[lv]=wetter.com laikapstākļu prognoze
Comment[nb]=Værmelding fra wetter.com
Comment[nds]=Wederutsichten vun "wetter.com"
Comment[nn]=Vêrmelding
Comment[pt]=Previsão meteorológica da wetter.com
Comment[sv]=Väderprognos av wetter.com
Comment[uk]=Прогноз погоди з wetter.com
Comment[x-test]=xxWeather forecast by wetter.comxx
Comment[zh_TW]=氣象預報，由 wetter.com 提供
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_wettercom
X-KDE-PluginInfo-Name=wettercom
