[Desktop Entry]
Name=Python Runner
Name[da]=Python Runner
Name[en_GB]=Python Runner
Name[id]=Pelari Python
Name[pa]=ਪਾਈਥਨ ਰਨਰ
Name[pt]=Módulo de Execução em Python
Name[sr]=питонски извођач
Name[sr@ijekavian]=питонски извођач
Name[sr@ijekavianlatin]=Python izvođač
Name[sr@latin]=Python izvođač
Name[sv]=Python körningsprogram
Name[uk]=Запуск для Python
Comment=Plasma Runner support for Python
Comment[da]=Understøttelse af Plasma Runner til Python
Comment[en_GB]=Plasma Runner support for Python
Comment[id]=Dukungan Pelari Plasma terhadap Python
Comment[pt]=Suporte para os motores de execução do Plasma em Python
Comment[sr]=Подршка плазма извођача за питон
Comment[sr@ijekavian]=Подршка плазма извођача за питон
Comment[sr@ijekavianlatin]=Podrška plasma izvođača za Python
Comment[sr@latin]=Podrška plasma izvođača za Python
Comment[sv]=Plasma körningsstöd för Python
Comment[uk]=Підтримка Python у інструментах запуску

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pyrunner.py
X-EngineName=pythonrunner
X-Plasma-API=python
X-Plasma-ComponentTypes=Runner
