[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidNetworkManager
X-KDE-Library=solid_networkmanager07
InitialPreference=100
Name=NetworkManager 0.7
Name[ar]=مدير الشبكة 0,7
Name[ast]=NetworkManager 0.7
Name[be@latin]=NetworkManager 0.7
Name[bg]=NetworkManager 0.7
Name[bn]=নেটওয়ার্ক-ম্যানেজার 0.7
Name[bn_IN]=NetworkManager 0.7
Name[bs]=Menadžer mreže 0.7
Name[ca]=NetworkManager 0.7
Name[ca@valencia]=NetworkManager 0.7
Name[cs]=NetworkManager 0.7
Name[csb]=Menadżera sécë 0.7
Name[da]=NetworkManager 0.7
Name[de]=NetworkManager 0.7
Name[el]=Διαχειριστής δικτύου 0.7
Name[en_GB]=NetworkManager 0.7
Name[eo]=Reta administrilo 0.7
Name[es]=NetworkManager 0.7
Name[et]=Võrguhaldur 0.7
Name[eu]=NetworkManager 0.7
Name[fi]=NetworkManager 0.7
Name[fr]=NetworkManager 0.7
Name[fy]=Netwurkbehearder 0.7
Name[ga]=NetworkManager 0.7
Name[gl]=NetworkManager 0.7
Name[gu]=નેટવર્કવ્યવસ્થાપક ૦.૭
Name[he]=NetworkManager 0.7
Name[hi]=नेटवर्कप्रबंधक 0.7
Name[hne]=नेटवर्कप्रबंधक ०.७
Name[hr]=NetworkManager 0.7
Name[hu]=NetworkManager 0.7
Name[ia]=NetworkManager 0.7
Name[id]=NetworkManager 0.7
Name[is]=Netstjóri 0.7
Name[it]=NetworkManager 0.7
Name[ja]=NetworkManager 0.7
Name[ka]=NetworkManager 0.7
Name[kk]=NetworkManager 0.7
Name[km]=NetworkManager 0.7
Name[kn]=ನೆಟ್ವರ್ಕ್ ಮಾನೇಜರ್ ೦.೭
Name[ko]=NetworkManager 0.7
Name[ku]=RêveberiyaTorê 0.7
Name[lt]=NetworkManager 0.7
Name[lv]=NetworkManager 0.7
Name[mk]=Менаџер на мрежи 0.7
Name[ml]=ശൃംഖലാനടത്തിപ്പുകാരന്‍ 0.7
Name[mr]=संजाळव्यवस्थपाक 0.7
Name[nb]=Nettverksstyring 0.7
Name[nds]=Nettwark-Pleger 0.7
Name[nl]=NetworkManager 0.7
Name[nn]=Nettverkshandsaming 0.7
Name[or]=ନେଟୱର୍କ ପରିଚାଳକ 0.7
Name[pa]=ਨੈੱਟਵਰਕਮੈਨੇਜਰ 0.7
Name[pl]=MenadżerSieci 0.7
Name[pt]=NetworkManager 0.7
Name[pt_BR]=NetworkManager 0.7
Name[ro]=Gestionar de rețea 0.7
Name[ru]=NetworkManager 0.7
Name[si]=NetworkManager 0.7
Name[sk]=NetworkManager 0.7
Name[sl]=NetworkManager 0.7
Name[sr]=Менаџер мреже 0.7
Name[sr@ijekavian]=Менаџер мреже 0.7
Name[sr@ijekavianlatin]=Menadžer mreže 0.7
Name[sr@latin]=Menadžer mreže 0.7
Name[sv]=Nätverkshantering 0.7
Name[ta]=NetworkManager 0.7
Name[te]=నెట్వర్‍క్  నిర్వాహకి 0.7
Name[tg]=NetworkManager 0.7
Name[th]=ดีมอน NetworkManager 0.7
Name[tr]=NetworkManager 0.7
Name[ug]=تور باشقۇرغۇچ 0.7
Name[uk]=NetworkManager 0.7
Name[uz]=NetworkManager 0.7
Name[uz@cyrillic]=NetworkManager 0.7
Name[wa]=ManaedjeuRantoele 0.7
Name[x-test]=xxNetworkManager 0.7xx
Name[zh_CN]=网络管理器 0.7
Name[zh_TW]=網路管理員 0.7
Comment=Network management using the NetworkManager daemon, version 0.7
Comment[ar]=إدارة الشبكة باستعمال مدير الشبكة 0,7
Comment[ast]=Xestión de rede usando'l serviciu NetworkManager versión 0.7
Comment[be@latin]=Kiravańnie sietkaj praz słužbu „NetworkManager 0.7”.
Comment[bg]=Управление на мрежата с демона NetworkManager, версия 0.7
Comment[bn]=নেটওয়ার্ক-ম্যানেজার ডিমন, সংস্করণ 0.7 ব্যবহার করে নেটওয়ার্ক ব্যবস্থাপনা
Comment[bs]=Upravljanje mrežom demonom Menadžera mreže, verzija 0.7
Comment[ca]=Gestor de xarxes que usa el dimoni NetworkManager, versió 0.7
Comment[ca@valencia]=Gestor de xarxes que usa el dimoni NetworkManager, versió 0.7
Comment[cs]=Správa sítě pomocí Networkmanager démona, verze 0.7
Comment[csb]=Sprôwianié sécą przë brëkùnkù ùsłëżnotë menadżera sécë
Comment[da]=Netværkshåndtering med brug af version 0.7 af NetworkManager-dæmonen
Comment[de]=Netzwerkverwaltung mit dem NetworkManager Version 0.7
Comment[el]=Διαχείριση δικτύου με χρήση του δαίμονα NetworkManager, έκδοση 0.7
Comment[en_GB]=Network management using the NetworkManager dæmon, version 0.7
Comment[eo]=Reta administrado kiu uzas la NetworkManager-demonon, versio 0.7
Comment[es]=Gestión de red usando el demonio NetworkManager versión 0.7
Comment[et]=Võrgu haldamine NetworkManageri deemoni versiooni 0.7 abil
Comment[eu]=Sare kudeaketa NetworkManager deabrua erabiliz, 0.7 bertsioa
Comment[fi]=Verkkojen hallinta käyttäen NetworkManager-taustaprosessin 0.7-versiota
Comment[fr]=Gestion de réseau utilisant le démon NetworkManager, version 0.7
Comment[fy]=Netwurk behear brûkend de NetworkManager daemon, ferzje 0.7
Comment[ga]=Bainisteoireacht líonra leis an deamhan NetworkManager, leagan 0.7
Comment[gl]=Xestión da rede usando o daemon NetworkManager, versión 0.7
Comment[gu]=નેટવર્કવ્યવસ્થાપક ડેમન, આવૃત્તિ ૦.૭ નો ઉપયોગ કરીને નેટવર્ક વ્યવસ્થા
Comment[he]=ניהול רשת באמצעות תהליך הרקע NetworkManager, גרסה 0.7
Comment[hne]=नेटवर्कमेनेजर डेमन संस्करन ०.७ के उपयोग से नेटवर्क मेनेजमेंट
Comment[hr]=Upravljanje mrežom koristeći NetworkManager daemon, verzija 0.7.
Comment[hu]=Hálózatkezelés a NetworkManager 0.7 szolgáltatás segítségével
Comment[ia]=Gestion de rete usante le demone NetworkManager, version 0,7
Comment[id]=Manajemen jaringan menggunakan jurik NetworkManager, versi 0.7
Comment[is]=Stjórnun nettenginga með Netstjóranum, útgáfu 0.7
Comment[it]=Gestione della rete con il demone NetworkManager, versione 0.7
Comment[ja]=NetworkManager デーモン 0.7 を用いたネットワーク管理
Comment[kk]=NetworkManager (нұсқасы 0.7) қызметі көмегімен желіні басқару
Comment[km]=ការ​គ្រប់គ្រង​បណ្ដាញ​ ដោយ​ប្រើ​ដេមិន NetworkManager កំណែ ០.៧
Comment[kn]=ಜಾಲಬಂಧ ವ್ಯವಸ್ಥಾಪಕ ನೇಪಥಿಕ (ಡೀಮನ್), ಆವೃತ್ತಿ ೦.೭  ಬಳಸಿ ಜಾಲ ವ್ಯವಸ್ಥಾಪನೆ
Comment[ko]=NetworkManager 데몬을 사용하는 네트워크 관리자, 버전 0.7
Comment[ku]=Gerînendetiya Torê ya ku xeyaleta GerînendeyêTorê guherto 0.7 bi kar tîne
Comment[lt]=Tinklo tvarkymas naudojant NetworkManager (versija 0.7) tarnybą
Comment[lv]=Tīkla pārvaldība, lietojot NetworkManager dēmonu, 0.7 versiju
Comment[mk]=Менаџмент на мрежа со користење на даемонот NetworkManager, верзија 0.7
Comment[ml]=ശൃംഖലാനടത്തിപ്പുകാരന്‍ ഡെമണ്‍ 0.7 പതിപ്പു് ഉപയോഗിച്ചുള്ള ശൃംഖലാ നടത്തിപ്പു്
Comment[mr]=संजाळव्यवस्थापक डीमन, आवृत्ती 0.7 चा वापर करणारे संजाळ व्यवस्थापन
Comment[nb]=Nettverksstyring med nissen NetworkManager versjon 0.7
Comment[nds]=Nettwarkpleeg mit den NetworkManager-Dämoon, Verschoon 0.7
Comment[nl]=Netwerkbeheer via de NetworkManager-daemon, versie 0.7
Comment[nn]=Nettverkshandtering med NetworkManager-tenesta, versjon 0.7
Comment[or]=ନେଟୱର୍କ ପରିଚାଳକ ଡ଼େମନ ବ୍ୟବହାର କରି ନେଟୱର୍କ ପରିଚାଳନା, ସଂସ୍କରଣ 0.7
Comment[pa]=ਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ ਡੈਮਨ, ਵਰਜਨ 0.7, ਨਾਲ ਨੈੱਟਵਰਕ ਮੈਨਿਜਮੈਂਟ
Comment[pl]=Zarządzanie siecią przy użyciu demona MenadżeraSieci w wersji 0.7
Comment[pt]=Gestão da rede com o servidor NetworkManager, na versão 0.7
Comment[pt_BR]=Gerenciamento de rede usando a versão 0.7 do serviço NetworkManager
Comment[ro]=Gestiune rețea cu demonul NetworkManager, versiunea 0.7
Comment[ru]=Управление сетью при помощи службы NetworkManager версии 0.7
Comment[si]=NetworkManager ඩීමනය භාවිතයෙන් ජාල පරිපාලනය. 0.7 සංස්කරණය
Comment[sk]=Správa sietí používajúca démon NetworkManager verzie 0.7
Comment[sl]=Upravljanje z omrežji z uporabo pritajenega programa NetworkManager 0.7
Comment[sr]=Управљање мрежом демоном Менаџера мреже, верзија 0.7
Comment[sr@ijekavian]=Управљање мрежом демоном Менаџера мреже, верзија 0.7
Comment[sr@ijekavianlatin]=Upravljanje mrežom demonom Menadžera mreže, verzija 0.7
Comment[sr@latin]=Upravljanje mrežom demonom Menadžera mreže, verzija 0.7
Comment[sv]=Nätverkshantering med nätverkshanteringsdemonen, version 0.7
Comment[ta]=Network management using the NetworkManager daemon, version 0.7
Comment[te]=నెట్వర్‍క్  నిర్వహకి డెమోన్ ఉపయోగించి నెట్వర్‍క్  నిర్వహణ, వర్షన్ 0.7
Comment[tg]=Управление сетью при помощи службы NetworkManager, версии 0.7
Comment[th]=การจัดการเครือข่ายโดยใช้ดีมอน NetworkManager รุ่น 0.7
Comment[tr]=NetworkManager servisi kullanan Ağ yönetimi, sürüm 0.7
Comment[ug]=تور باشقۇرغۇچ نازارەتچىسى، نەشرى 0.7 نى ئىشلەتكەن تور باشقۇرغۇچ
Comment[uk]=Керування мережею за допомогою фонової служби NetworkManager, вер. 0.7
Comment[wa]=Manaedjmint d' rantoele eployant l' démon NetworkManager, modêye 0.7
Comment[x-test]=xxNetwork management using the NetworkManager daemon, version 0.7xx
Comment[zh_CN]=使用 NetworkManager 守护进程的网络管理工具，版本 0.7
Comment[zh_TW]=用網路管理員伺服程式 v0.,7 做網路管理
Icon=networkmanager
