[Desktop Entry]
Encoding=UTF-8
Name=KTip
Name[af]=K Leidraad
Name[ar]=تلميحات
Name[cy]=KCynghoryn
Name[mk]=КСовет
Name[ne]=केटिप
Name[pa]=ਕੇਟਿੱਪ
Name[sl]=KNamig
Name[sv]=Ktip
Name[x-test]=xxKTipxx
GenericName=Useful Tips
GenericName[af]=Bruikbare Leidrade
GenericName[bg]=Полезни съвети
GenericName[br]=Lagadennoù talvoudus
GenericName[ca]=Consells útils
GenericName[cs]=Užitečné tipy
GenericName[csb]=Przëdatné radë
GenericName[cy]=Cynghorion Defnyddiol
GenericName[da]=Nyttige vink
GenericName[de]=Nützliche Tipps
GenericName[el]=Χρήσιμα βοηθήματα
GenericName[eo]=Utilaj Konsiloj
GenericName[es]=Consejos útiles
GenericName[et]=Kasulikud nõuanded
GenericName[eu]=Aholku erabilgarriak
GenericName[fa]=نکات مفید
GenericName[fi]=Hyödylliset vihjeet
GenericName[fr]=Conseils utiles
GenericName[fy]=Brûkbare tips
GenericName[ga]=Leideanna Úsáideacha
GenericName[gl]=Consellos úteis
GenericName[he]=טיפים שימושיים
GenericName[hr]=Korisni savjeti
GenericName[hu]=Hasznos tippek
GenericName[is]=Gagnlegar ábendingar
GenericName[it]=Suggerimenti utili
GenericName[ja]=役に立つ一言
GenericName[ka]=სასარგებლო რჩევები
GenericName[kk]=Пайдалы кеңестер
GenericName[km]=ព័ត៌មាន​ជំនួយ​មាន​ប្រយោជន៍
GenericName[lt]=Naudingi patarimai
GenericName[mk]=Корисни совети
GenericName[ms]=Tip Berguna
GenericName[nb]=Nyttige tips
GenericName[nds]=Gode Tipps
GenericName[ne]=उपयोगि टिप
GenericName[nl]=Bruikbare tips
GenericName[nn]=Nyttige tips
GenericName[pa]=ਸਹਾਇਕ ਇਸ਼ਾਰੇ
GenericName[pl]=Użyteczne porady
GenericName[pt]=Dicas Úteis
GenericName[pt_BR]=Dicas Úteis
GenericName[ro]=Sfaturi utile
GenericName[ru]=Полезные советы
GenericName[se]=Ávkkálaš rávvágat
GenericName[sl]=Uporabni namigi
GenericName[sr]=Корисни савети
GenericName[sr@Latn]=Korisni saveti
GenericName[sv]=Nyttiga tips
GenericName[ta]=பயனுள்ள குறிப்புகள்
GenericName[tg]=Маслиҳатҳои хуб
GenericName[tr]=Kullanışlı İpuçları
GenericName[uk]=Корисні поради
GenericName[uz]=Фойдали маслахатлар
GenericName[x-test]=xxUseful Tipsxx
GenericName[zh_TW]=有用的祕訣
Exec=ktip
Icon=ktip
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-autostart-phase=2
X-KDE-autostart-condition=ktiprc:TipOfDay:RunOnStart:true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
OnlyShowIn=KDE;
