[Desktop Entry]
Encoding=UTF-8
Name=Time Data Engine
Name[ar]=محرك بيانات الوقت
Name[be]=Рухавік дадзеных Time
Name[de]=Zeitdaten-Treiber
Name[el]=Μηχανή δεδομένων χρόνου
Name[es]=Motor de datos horarios
Name[fa]=موتور دادۀ زمان
Name[he]=מנוע נתוני זמן
Name[ja]=時間データエンジン
Name[kk]=Уақыт дерек тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ពេលវេលា​
Name[nds]=Tiet-Datendriever
Name[ne]=समय डेटा इन्जिन
Name[nl]=Tijdgegevens-engine
Name[pa]=ਸਮਾਂ ਡਾਟਾ ਇੰਜਣ
Name[pt]=Motor de Dados Horários
Name[pt_BR]=Mecanismo de Dados de Tempo
Name[sv]=Datagränssnitt för tid
Name[vi]=Cơ chế dữ liệu thời gian
Name[zh_CN]=时间数据引擎
Name[zh_TW]=時間資料引擎
Comment=Time data for Plasmoids
Comment[bg]=Време за Plasmoids
Comment[de]=Zeitdaten für Plasmoide
Comment[el]=Δεδομένα χρόνου για πλασμοειδή
Comment[es]=Datos horarios para los plasmoides
Comment[fa]=داده زمان برای Plasmoids
Comment[he]=נתוני זמן עבור פלסמואידים
Comment[ja]=Plasmoids のための時間データ
Comment[kk]=Плазмоидтер үшін уақыт деректері
Comment[km]=ទិន្នន័យ​ពេលវេលា​សម្រាប់ Plasmoids
Comment[nds]=Tietdaten för Plasmoiden
Comment[ne]=प्लासमोइड्सका लागि समय डेटा
Comment[nl]=Tijdgegevens voor Plasmoids
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਟਾਈਮ ਡਾਟਾ
Comment[pt]=Dados de data/hora para os Plasmóides
Comment[pt_BR]=Dados de tempo para os Plasmoids
Comment[sv]=Tiddata för Plasmoider
Comment[vi]=Dữ liệu thời gian cho Plasmoids
Comment[zh_CN]=Plasmoids 的时间数据
Comment[zh_TW]=電漿時鐘的時間資料
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=alarmclock
X-KDE-Library=plasma_engine_time
X-EngineName=time
