[Desktop Entry]
Encoding=UTF-8
Name=Time Data Engine
Name[be]=Рухавік дадзеных Time
Name[de]=Zeitdaten-Treiber
Name[el]=Μηχανή δεδομένων χρόνου
Name[es]=Motor de datos horarios
Name[fa]=موتور دادۀ زمان
Name[ja]=時間データエンジン
Name[nds]=Tiet-Datendriever
Name[nl]=Tijdgegevens-engine
Name[pt]=Motor de Dados Horários
Name[pt_BR]=Motor de Dados Horários
Name[sv]=Datagränssnitt för tid
Name[zh_TW]=時間資料引擎
Comment=Time data for Plasmoids
Comment[de]=Zeitdaten für Plasmoide
Comment[el]=Δεδομένα χρόνου για πλασμοειδή
Comment[es]=Datos horarios para los plasmoides
Comment[fa]=داده زمان برای Plasmoids
Comment[ja]=Plasmoids のための時間データ
Comment[nds]=Tietdaten för Plasmoiden
Comment[nl]=Tijdgegevens voor Plasmoids
Comment[pt]=Dados de data/hora para os Plasmóides
Comment[pt_BR]=Dados de data/hora para os Plasmóides
Comment[sv]=Tiddata för Plasmoider
Comment[zh_TW]=電漿時鐘的時間資料
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=alarmclock
X-KDE-Library=plasma_engine_time
X-EngineName=time
