[Desktop Entry]
Name=Time Data Engine
Name[zh_TW]=時間資料引擎
Comment=Time data for Plasmoids
Comment[zh_TW]=Plasmoids 的時間資料
ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_time_engine
X-EngineName=time
