[Desktop Entry]
Encoding=UTF-8
Name=Button
Name[ar]=زر
Name[be]=Кнопка
Name[bg]=Бутон
Name[de]=Knopf
Name[el]=Κουμπί
Name[es]=Botón
Name[fa]=بوتان
Name[ga]=Cnaipe
Name[he]=כפתור
Name[it]=Pulsante
Name[ja]=ボタン
Name[kk]=Батырма
Name[km]=ប៊ូតុង
Name[nb]=Knapp
Name[nds]=Knoop
Name[ne]=बटन
Name[nl]=Knop
Name[pa]=ਬਟਨ
Name[pt]=Botão
Name[pt_BR]=Botão
Name[sl]=Gumb
Name[sv]=Knapp
Name[uk]=Кнопка
Name[vi]=Nút
Name[zh_CN]=按钮
Name[zh_TW]=按鍵
Comment=A launcher button
Comment[be]=Кнопка-запускальнік
Comment[bg]=Бутон "Старт"
Comment[de]=Ein Start-Knopf
Comment[el]=Ένα κουμπί εκκίνησης
Comment[es]=Un botón lanzador
Comment[fa]=دکمۀ راه‌اندازی
Comment[ga]=Cnaipe tosaitheora
Comment[he]=כפתור הפעלה
Comment[ja]=起動ボタン
Comment[kk]=Жегу батырмасы
Comment[km]=ប៊ូតុង​បើក​ដំណើរការ​កម្មវិធី​
Comment[nb]=En oppstartsknapp
Comment[nds]=En Startknoop
Comment[ne]=सुरुआत बटन
Comment[nl]=Een opstartknop
Comment[pa]=ਇੱਕ ਲਾਂਚਰ ਬਟਨ
Comment[pt]=Um botão de lançamento
Comment[pt_BR]=Um botão de lançamento
Comment[sl]=Zagonski gumb
Comment[sv]=En startknapp
Comment[uk]=Кнопка запуску
Comment[vi]=Một cái nút khởi chạy
Comment[zh_CN]=启动器按钮
Comment[zh_TW]=啟動按鍵
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_url
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=url
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

