[Desktop Entry]
Type=Application
DocPath=kcontrol/kcmebrowsing/kcmebrowsing-1.html
Icon=konqueror
Exec=kcmshell Browsing/Web/ebrowsing

X-KDE-ModuleType=Library
X-KDE-Library=kurifilt
X-KDE-FactoryName=kurifilt

Name=Enhanced Browsing
Name[ca]=Navegació millorada
Name[cs]=Rozšířené prohledávání
Name[da]=Udvidet netsøgning
Name[de]=Erweiterte Ansicht
Name[eo]=progresinta TTTumado
Name[es]=Navegación mejorada
Name[et]=Täiustatud brausimine
Name[fi]=Edistynyt selailu
Name[fr]=Navigation avancée
Name[he]=תרפושמ השילג
Name[hr]=Napredno pregledavanje
Name[hu]=Fejlett böngészés
Name[it]=Navigazione avanzata
Name[ja]=拡張ブラウズ
Name[mk]=Напредно разгледување
Name[no]=Utvidet losing
Name[no_NY]=Utvida surfing
Name[pl]=Rozszerzone przeglądanie
Name[pt]=Navegação Melhorada
Name[ro]=Navigare avansată
Name[ru]=Расширенные настройки
Name[sl]=Izboljšano brkljanje
Name[sr]=Napredno pretraživanje
Name[sv]=Utökad bläddring
Name[ta]=ேமமஂபடஂட ேமேலாடு
Name[tr]=Gelişkin Tarama
Name[uk]=Перегляд з розширеними можливостями

Comment=You can configure Enhanced Browsing here
Comment[ca]=Aquí podeu configurar la navegació millorada
Comment[cs]=Zde je možné nastavit rozšířené prohledávání
Comment[da]=Man kan indstille udvidet netsøgning her
Comment[de]=Hier können Sie die weitere Ansichtsmöglichkeiten einstellen
Comment[eo]=Agordo de TTTumado por progresintoj
Comment[es]=Aquí puede configurar navegación mejorada
Comment[et]=Täiustatud brausimise konfigureerimine
Comment[fi]=Voit muokata edistyneitä selainasetuksia täältä
Comment[fr]=Configuration de la "navigation avancée"
Comment[he]=ןאכ תרפושמה השילגה תא רידגהל ךתורשפאב
Comment[hr]=Ovdje možete namjestiti napredno pregledavanje
Comment[hu]=Itt lehet beállítani a fejlett böngészés tulajdonságait
Comment[it]=Qui puoi configurare la navigazione avanzata
Comment[ja]=ここで拡張ブラウズを設定します
Comment[mk]=Конфигурирање на напредното разгледување
Comment[nl]=U kunt hier het geavanceerd Internetbrowsen instellen
Comment[no]=Her kan du konfigurere Utvidet losing
Comment[no_NY]=Du kan setja opp utvida surfing her
Comment[pl]=Można tu skonfigurować rozszerzone przeglądanie
Comment[pt]=Configuração da navegação avançada
Comment[ro]=Configurează navigarea de web avansată
Comment[ru]=Здесь вы можете настроить расширения
Comment[sl]=Tu lahko nastavite izboljšano brkljanje
Comment[sr]=Ovde možete podesiti napredno pretraživanje
Comment[sv]=Här kan du anpassa utökad bläddring
Comment[ta]=ேமமஂபாடஂடு ேமேலாடிைய இஙஂேக வடிவைமகஂகலாமஂ
Comment[tr]=Gelişkin Taramayı buradan yapılandırabilirsiniz
Comment[uk]=Тут ви можете настроїти перегляд з розширеними можливостями

Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network

