[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell interrupts
Icon=kcmmemory
Type=Service
ServiceTypes=KCModule
DocPath=kinfocenter/interrupts/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=irq
X-KDE-ParentApp=kinfocenter

Name=Interrupts
Name[el]=Διακοπές
Name[fr]=Interruptions
Name[x-test]=xxInterruptsxx

Comment=Interrupt information
Comment[el]=Πληροφορίες για τις διακοπές
Comment[fr]=Informations sur les interruptions
Comment[x-test]=xxInterrupt informationxx

Keywords=Interrupts,IRQ,System Information
Keywords[el]=Διακοπές,IRQ,Πληροφορίες συστήματος
Keywords[fr]=interruptions,IRQ,informations système,irq
Keywords[x-test]=xxInterrupts,IRQ,System Informationxx

