[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell ioports
Icon=kcmmemory
Type=Application
DocPath=kinfocenter/ioports/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=ioports
X-KDE-ParentApp=kinfocenter

Name=IO-Ports
Name[fr]=Ports d'entrée/sortie
Name[x-test]=xxIO-Portsxx

Comment=IO-port information
Comment[fr]=Informations sur les ports d'entrée/sortie
Comment[x-test]=xxIO-port informationxx

Keywords=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information
Keywords[fr]=io,i/o,entrées-sorties,ports,ports d'entrée-sortie,informations système,plage d'entrées-sorties
Keywords[x-test]=xxIO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Informationxx

