[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell pci
Icon=kcmpci
Type=Service
ServiceTypes=KCModule
DocPath=kinfocenter/pci/index.html


X-KDE-Library=info
X-KDE-FactoryName=pci
X-KDE-ParentApp=kinfocenter

Name=PCI
Name[cs]=PCI sběrnice
Name[he]=התקני PCI
Name[is]=PCI-braut
Name[ro]=Magistrala PCI
Name[ru]=Шина PCI
Name[uk]=Шина PCI
Name[x-test]=xxPCIxx

Comment=PCI information
Comment[af]=PCI informasie
Comment[ar]=معلومات PCI
Comment[be]=Інфармацыя аб PCI
Comment[bg]=Информация за шината PCI
Comment[br]=Titouroù diwar-benn ar PCI
Comment[ca]=Informació de PCI
Comment[cs]=Informace o PCI
Comment[cy]=Gwybodaeth PCI
Comment[da]=PCI-information
Comment[de]=Informationen zu PCI
Comment[el]=Πληροφορίες PCI
Comment[eo]=Informo pri PCI
Comment[es]=Información sobre los dispositivos PCI
Comment[et]=PCI info
Comment[eu]=PCIri buruzko informazioa
Comment[fa]=اطلاعات PCI
Comment[fi]=PCI-tietoja
Comment[fr]=Informations PCI
Comment[fy]=PCI-Ynformaasje
Comment[ga]=Eolas PCI
Comment[gl]=Información de PCI
Comment[he]=מידע על התקני PCI
Comment[hr]=Podaci o PCI sabirnici
Comment[hu]=PCI-információk
Comment[is]=Upplýsingar um PCI-braut
Comment[it]=Informazioni sul bus PCI
Comment[ja]=PCI の情報
Comment[ka]=ცნობები PCI მოწყობილობების შესახებ
Comment[kk]=PCI құрылғылар мәліметі
Comment[km]=ព័ត៌មាន PCI
Comment[ko]=PCI 정보
Comment[lt]=PCI informacija
Comment[lv]=PCI informācija
Comment[mk]=Информации за PCI
Comment[ms]=Maklumat PCI
Comment[nb]=PCI-informasjon
Comment[nds]=Informatschoon över PCI
Comment[ne]=PCI सूचना
Comment[nl]=PCI-informatie
Comment[nn]=PCI-informasjon
Comment[pa]=PCI ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o PCI
Comment[pt]=Informação sobre o PCI
Comment[pt_BR]=Informações PCI
Comment[ro]=Informaţii despre magistrala PCI
Comment[ru]=Сведения о устройствах PCI
Comment[se]=PCI-diehtu
Comment[sl]=Podatki o vodilu PCI
Comment[sr]=PCI информације
Comment[sr@Latn]=PCI informacije
Comment[sv]=PCI-information
Comment[ta]=PCI தகவல்
Comment[tg]=Иттилооти PCI
Comment[tr]=PCI hakkında bilgi
Comment[uk]=Інформація щодо шини PCI
Comment[uz]=PCI ускуналар ҳақида маълумот
Comment[x-test]=xxPCI informationxx
Comment[xh]=Inkcukacha ye PCI
Comment[zh_TW]=PCI 資訊

Keywords=PCI,PCI-Devices,PCI-Bus,System Information
Keywords[af]=PCI,PCI-Devices,PCI-Bus,System Informasie
Keywords[ar]=PCI,أجهزة PCI,PCI-Bus,معلومات النظام
Keywords[be]=Прылады PCI,Сістэмная інфармацыя,PCI,PCI-Devices,PCI-Bus,System Information
Keywords[bg]=информация, система, системна, шина, PCI, PCI-Devices, PCI-Bus, System Information
Keywords[br]=PCI,trobarzhelloù PCI,bus PCI,titouroù reizhiad
Keywords[ca]=PCI,Dispositius PCI,Bus PCI,Informació del sistema
Keywords[cs]=PCI,PCI-zařízení,PCI-sběrnice,Informace o systému
Keywords[cy]=PCI,Dyfeisiau-PCI,Bws-PCI,Gwybodaeth Cysawd
Keywords[da]=PCI,PCI-enheder,PCI-bus,Systeminformation
Keywords[de]=PCI,PCI-Geräte,PCI-Bus,Systeminformation
Keywords[el]=PCI,Συσκευές PCI,Δίαυλος PCI,Πληροφορίες συστήματος
Keywords[eo]=PCI,aparato,buso,sistemo,operaciumo,informo
Keywords[es]=PCI,Dispositivos PCI,Bus PCI,Información del sistema
Keywords[et]=PCI,PCi seadmed,PCI siin,Süsteemi info
Keywords[eu]=PCI,PCI-gailuak,PCI busa,Sistemaren informazioa
Keywords[fa]=PCI ،دستگاههای PCI ،گذرگاه PCI ،اطلاعات سیستم
Keywords[fi]=PCI,PCI-Laitteet,PCI-Väylä,Järjestelmätiedot
Keywords[fr]=PCI,périphériques PCI,bus PCI,informations système,pci
Keywords[fy]=PCI,PCI-devices,PCI-bus,systeemynformaasje,PCI-apparaten
Keywords[gl]=PCI,Dispositivos PCI,Bus PCI,Información do Sistema
Keywords[he]=מידע מערכת,אפיק PCI,התקני PCI,PCI,System Information
Keywords[hr]=PCI,PCI-Devices,PCI-Bus,System Information,PCI uređaji,PCI sabirnica,Podaci o sustavu
Keywords[hu]=PCI,PCI-eszközök,PCI-busz,rendszerinformáció
Keywords[is]=PCI-tæki,PCI-braut,kerfi,upplýsingar
Keywords[it]=PCI,dispositivi PCI,bus PCI,informazioni sul sistema
Keywords[ja]=PCI,PCI-デバイス,PCI-バス,システムの情報
Keywords[km]=PCI,ឧបករណ៍ PCI,ខ្សែ​បញ្ជូន PCI,ព័ត៌មាន​ប្រព័ន្ធ
Keywords[ko]=PCI,PCI-Devices,PCI-Bus,System Information,시스템 정보,PCI-버스,PCI-장치
Keywords[lt]=PCI,PCI-įrenginiai,PCI-Bus,Sistemos Informacija
Keywords[lv]=PCI,PCI-Iekārtas,PCI-Šina,Sistēmas Informācija
Keywords[mk]=PCI,PCI-Devices,PCI-Bus,System Information,PCI уреди,PCI магистрала,PCI собирница,Информации за системот
Keywords[nb]=PCI,PCI-enheter,PCI-buss,Systeminformasjon
Keywords[nds]=PCI,PCI-Reedschappen,PCI Bus,Systeeminformatschoon
Keywords[ne]=PCI, PCI-यन्त्र, PCI-Bus, प्रणाली सूचना
Keywords[nl]=PCI,PCI-devices,PCI-bus,systeeminformatie,PCI-apparaten
Keywords[nn]=PCI,PCI-einingar,PCI-buss,systeminformasjon
Keywords[pa]=PCI,PCI-ਜੰਤਰ,PCI-Bus,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Keywords[pl]=PCI,urządzenia PCI,magistrala PCI,informacja o systemie
Keywords[pt]=PCI,dispositivos PCI,bus PCI,informações do sistema
Keywords[pt_BR]=PCI,dispositivos PCI,Barramento PCI,Barramento PCI,Informações de sistema
Keywords[ro]=PCI,dispozitive PCI,bus PCI,informaţii despre sistem
Keywords[se]=PCI,PCI-ovttadagat,PCI-bussa,vuogádatdiehtu
Keywords[sl]=PCI,naprave PCI,vodilo PCI,informacije o sistemu
Keywords[sr]=PCI,PCI-Devices,PCI-Bus,System Information,PCI уређаји,PCI магистрала,системске информације
Keywords[sr@Latn]=PCI,PCI-Devices,PCI-Bus,System Information,PCI uređaji,PCI magistrala,sistemske informacije
Keywords[sv]=PCI,PCI-enheter,PCI-buss,Systeminformation
Keywords[ta]=PCI,PCI-சாதனங்கள்,PCI-பஸ்,சாதன தகவல்
Keywords[tr]=PCI,PCI-Aygıtları,PCI-Bus,Sistem Hakkında Bilgi
Keywords[uk]=PCI,пристрої PCI,шина PCI,системна інформація
Keywords[uz]=PCI,PCI ускуналари,PCI-Bus,Тизим ҳақида маълумот
Keywords[x-test]=xxPCI,PCI-Devices,PCI-Bus,System Informationxx
Keywords[xh]=PCI,PCI-Amacebo,PCI-Ibhasi,Ulwazi lwendlela
Keywords[zh_TW]=PCI,PCI-Devices,PCI-Bus,System Information,PCI 設備,PCI 匯流排,系統資訊
Categories=Qt;KDE;X-KDE-information;
