[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell scsi
Icon=kcmscsi
Type=Application
DocPath=kinfocenter/scsi/index.html


X-KDE-Library=info
X-KDE-FactoryName=scsi
X-KDE-ParentApp=kinfocenter

Name=SCSI
Name[x-test]=xxSCSIxx

Comment=SCSI information
Comment[x-test]=xxSCSI informationxx

Keywords=SCSI,SCSI-Bus,System Information
Keywords[x-test]=xxSCSI,SCSI-Bus,System Informationxx
Categories=Qt;KDE;X-KDE-information;
