[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell devices
Icon=kcmdevices
Type=Application
DocPath=kinfocenter/devices/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=devices
X-KDE-ParentApp=kinfocenter

Name=Devices

Comment=Attached devices information

Keywords=dev,Devices,System Information,Information

