[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell devices
Icon=kcmdevices
Type=Application
DocPath=kinfocenter/devices/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=devices
X-KDE-ParentApp=kinfocenter

Name=Devices
Name[af]=Toestelle
Name[ar]=الأجهزة
Name[az]=Avadanlıqlar
Name[be]=Прылады
Name[bg]=Устройства
Name[bn]=ডিভাইস
Name[br]=Trobarzhelloù
Name[bs]=Uređaji
Name[ca]=Dispositius
Name[cs]=Zařízení
Name[cy]=Dyfeisiau
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Gailuak
Name[fa]=دستگاه‌ها
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[fy]=Apparaten
Name[ga]=Gléasanna
Name[gl]=Dispositivos
Name[he]=התקנים
Name[hi]=औज़ार
Name[hr]=Uređaji
Name[hu]=Eszközök
Name[id]=Divais
Name[is]=Tæki
Name[it]=Periferiche
Name[ja]=デバイス
Name[ko]=장치
Name[lo]=ອຸປະກອນ
Name[lt]=Įrenginiai
Name[lv]=Iekārtas
Name[mk]=Уреди
Name[mn]=Төхөөрөмж
Name[nb]=Enheter
Name[nds]=Reedschappen
Name[nl]=Apparaten
Name[nn]=Einingar
Name[nso]=Maano
Name[oc]=Dispositius
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[se]=Ovttadagat
Name[sk]=Zariadenia
Name[sl]=Enote
Name[sr]=Уређаји
Name[sr@Latn]=Uređaji
Name[ss]=Tisetjentiswa
Name[sv]=Enheter
Name[ta]=சாதனங்கள்
Name[tg]=Дастгоҳҳо
Name[th]=อุปกรณ์
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[uz]=Ускуналар
Name[ven]=Maano
Name[vi]=Thiết bị
Name[wa]=Éndjins
Name[xh]=Amacebo
Name[xx]=xxDevicesxx
Name[zh_CN]=设备
Name[zh_TW]=設備
Name[zu]=Amathuluzi anenjongo

Comment=Attached devices information
Comment[af]=Gekoppelde toestelle informasie
Comment[ar]=معلومات الأجهزة المرتبطة
Comment[az]=Bağlanmış avadanlıqlar haqqında mə'lumat
Comment[bg]=Информация за системните устройства
Comment[bn]=সংলগ্ন ডিভাইস সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an trobarzhelloù luget
Comment[bs]=Informacije o priključenim uređajima
Comment[ca]=Informació dels dispositius connectats
Comment[cs]=Informace o připojených zařízeních
Comment[cy]=Gwybodaeth am ddyfeisiau wedi'i gysylltu
Comment[da]=Information om tilkoblede enheder
Comment[de]=Informationen zu angeschlossenen Geräten
Comment[el]=Πληροφορίες για τις συνδεδεμένες συσκευές
Comment[eo]=Informo pri alligitaj aparatoj
Comment[es]=Información sobre los dispositivos conectados
Comment[et]=Info ühendatud seadmete kohta
Comment[eu]=Uztartuta dauden gailuei buruzko informazioa
Comment[fa]=اطلاعات دستگاه‌های متصل
Comment[fi]=Tietoja liitetyistä laitteista
Comment[fr]=Informations sur les périphériques montés
Comment[fy]=Ynformaasje oer oansletten apparaten
Comment[gl]=Información dos dispositivos conectados
Comment[he]=מידע על ההתקנים המחוברים
Comment[hi]=औज़ार जानकारी संलग्न
Comment[hr]=Informacije o priključenim uređajima
Comment[hu]=A csatlakoztatott eszközök jellemzői
Comment[id]=Informasi divais terkait
Comment[is]=Upptalning á tækjum tölvu
Comment[it]=Informazioni sulle periferiche connesse
Comment[ja]=接続されているデバイスの情報
Comment[ko]=장착된 장치 정보
Comment[lo]=ຂໍ້ມູນອຸປະກອນທີ່ຕໍ່ຢູ່
Comment[lt]=Prijungtų įrenginių informacija
Comment[lv]=Pievienoto iekārtu informācija
Comment[mk]=Информации за прикачени уреди
Comment[mn]=Залгаатай төхөөрөмжийн мэдээллүүд
Comment[mt]=Informazzjoni dwar devices imwaħħlin
Comment[nb]=Informasjon om tilkoblede enheter
Comment[nds]=Informatschoon över de Reedschappen de anslaten sünd
Comment[nl]=Informatie over aangesloten apparaten
Comment[nn]=Informasjon om tilkopla einingar
Comment[nso]=Tshedimoso ya maano yeo e kgwathisitswego
Comment[oc]=Informacion dèus dispositius connectats
Comment[pa]=ਜੁੜੇ ਜੰਤਰਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o włączonych urządzeniach
Comment[pt]=Informações sobre os Dispositivos
Comment[pt_BR]=Informações sobre dispositivos conectados
Comment[ro]=Informaţii despre dispozitivele instalate
Comment[ru]=Сведения о подключенных устройствах
Comment[se]=Dieđuid laktašuvvon ovttadagaid birra
Comment[sk]=Informácie o pripojených zariadeniach
Comment[sl]=Informacije o priklopljenih enotah
Comment[sr]=Информације о прикаченим уређајима
Comment[sr@Latn]=Informacije o prikačenim uređajima
Comment[sv]=Information om anslutna enheter
Comment[ta]=சேர்க்கப்பட்ட சாதனங்கள் தகவல்
Comment[tg]=Иттилооти дастгоҳҳои мутассал
Comment[th]=ข้อมูลอุปกรณ์ที่เชื่อมต่ออยู่
Comment[tr]=Bağlanmış aygıtlar hakkında bilgi
Comment[uk]=Інформація щодо приєднаних пристроїв
Comment[uz]=Уланган ускуналар ҳақида маълумот
Comment[ven]=Maitele a mafhungo o kwamanywaho 
Comment[vi]=Thông tin về thiết bị kèm
Comment[xh]=Ulwazi lwamacebo afakelweyo
Comment[xx]=xxAttached devices informationxx
Comment[zh_CN]=附加的设备信息
Comment[zh_TW]=附加的設備資訊
Comment[zu]=Ulwazi lwamathuluzi anenjongo ananyathiseliwe

Keywords=dev,Devices,System Information,Information
Keywords[ar]=dev,Devices,System Information,Information,أجهزة,معلومات النظام,معلومات
Keywords[az]=dev,Avadanlıqlar,Sistem Haqqında Mə'lumat, Mə'lumat
Keywords[be]=Прылады,Сыстэмная інфармацыя,Інфармацыяdev,Devices,System Information,Information
Keywords[bg]=информация, система, системна, устройства, устройство, dev, Devices, System Information, Information
Keywords[br]=trobarzhell,titouroù reizhiad,titouroù
Keywords[bs]=dev,Devices,System Information,Information,uređaji,uređaj,sustav,informacije o sustavu
Keywords[ca]=dev,dispositius,Informació del sistema,Informació
Keywords[cs]=dev,Zařízení,Systémové informace,Informace
Keywords[cy]=dyf,Dyfeisiau,Gwybodaeth Cysawd,Gwybodaeth
Keywords[da]=dev,Enheder,Systeminformation,Information
Keywords[de]=Geräte,Devices,Systeminformation,Information
Keywords[el]=dev,Συσκευές,Πληροφορίες συστήματος,Πληροφορίες
Keywords[eo]=aparato,dev,sistemo,operaciumo,informo
Keywords[es]=Dispositivos,Información del sistema
Keywords[et]=dev,Seadmed,Süsteemi informatsioon,Informatsioon
Keywords[eu]=dev,Dispositiboak,Sistemaren informazioa,informazioa
Keywords[fa]=dev,Devices,System Information,Information, اطلاعات,دستگاه,دستگاه‌ها
Keywords[fi]=dev,Laitteet,Järjestelmätiedot,Tiedot
Keywords[fr]=dev,périphériques,information,informations système
Keywords[fy]=dev,devices,systeemynformaasje,ynformaasje,apparaten,apparaatbehear
Keywords[ga]=dev,Gléasanna,Eolas faoin Chóras,Eolas
Keywords[gl]=dev,Dispositivo,Información do Sistema,Información
Keywords[he]=התקנים,מידע מערכת,מידע
Keywords[hi]=डेव,औज़ार,तंत्र जानकारी,जानकारी
Keywords[hr]=dev,Devices,System Information,Information,uređaji,uređaj,sustav,informacije o sustavu
Keywords[hu]=dev,eszközök,rendszerinformáci,információ
Keywords[id]=dev,Devices,Informasi Sistem,Informasi
Keywords[is]=dev,tæki,jaðartæki,upplýsingar,kerfi
Keywords[it]=dev,dispositivi,periferiche,informazioni sul sistema,informazioni
Keywords[ja]=dev,デバイスシステム,システムの情報,情報
Keywords[ko]=dev,Devices,System Information,Information,장치,디바이스,시스템 정보,정보
Keywords[lt]=dev,Įrenginiai,Sistemos Informacija,Informacija
Keywords[lv]=iek,Iekārtas,Sistēmas Informācija,Informācija
Keywords[mk]=dev,Devices,System Information,Information,Уреди,Информации за системот,Информација
Keywords[mn]=dev,Төхөөрөмж,Системийн мэдээлэл,Мэдээлэл
Keywords[nb]=dev,enheter,Systeminformasjon,Informasjon
Keywords[nds]=dev,Reedschappen,Systeeminformatschoon,Informatschoon
Keywords[nl]=dev,devices,systeeminformatie,informatie,apparaten,apparaatbeheer
Keywords[nn]=dev,eining,einingar,systeminformasjon,informasjon
Keywords[nso]=dev,Maano,Tshedimoso ya System,Tshedimoso
Keywords[oc]=dev,dispositius,Informacion dèu sistemo,Informacion
Keywords[pa]=dev,ਜੰਤਰ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ,Information
Keywords[pl]=dev,Urządzenia systemowe,informacja o systemie,Informacja
Keywords[pt]=dev,dispositivos,informações de sistema,informação
Keywords[pt_BR]=dev,Dispositivos,Informações de sistema,Informações,Informação
Keywords[ro]=dev,dispozitive,informaţii sistem,informaţii
Keywords[se]=dev,ovttadat,ovttadagat,vuogádatdiehtu,diehtu
Keywords[sk]=dev,Zariadenia,Systém Informácie
Keywords[sl]=dev,naprave,informacije o sistemu,informacije
Keywords[sr]=dev,Devices,System Information,Information,уређаји,системске информације,информације
Keywords[sr@Latn]=dev,Devices,System Information,Information,uređaji,sistemske informacije,informacije
Keywords[sv]=enhet,Enheter,Systeminformation,Information
Keywords[ta]=dev,சாதனங்கள், கணினித் தகவல், தகவல்
Keywords[th]=dev,อุปกรณ์,ข้อมูลระบบ,ข้อมูล
Keywords[tr]=dev,Aygıtlar,Sistem Hakkında Bilgi, Bilgi
Keywords[uk]=пристрої,інформація,dev,devices,system-information,information
Keywords[uz]=dev,Ускуналар,Маълумот,Тизим ҳақида маълумот
Keywords[ven]=dev,Maano,Mafhungo a sisitemu,Mafhungo
Keywords[vi]=dev,Thiết bị,Thông tin hệ thống, Thông tin
Keywords[xh]=dev,Amacebo,Ulwazi lwendlela,Ulwazi
Keywords[xx]=xxdev,Devices,System Information,Informationxx
Keywords[zh_CN]=dev,Devices,System Information,Information,设备,系统信息,信息
Keywords[zh_TW]=dev,Devices,System Information,Information,設備,系統資訊,資訊
Keywords[zu]=dev,Amathuluzi anenjongo,Ulwazi lwesistimu,Ulwazi

