[Desktop Entry]
Exec=kcmshell Information/devices
Icon=kcmdevices
Type=Application
DocPath=kcontrol/kcminfo/info-8.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=devices

Name=Devices
Name[ca]=Dispositius
Name[cs]=Zařízení
Name[da]=Enheder
Name[de]=Geräte
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[he]=םינקתה
Name[hr]=Uređaji
Name[hu]=Eszközök
Name[is]=Tæki
Name[it]=Periferiche
Name[ja]=デバイス
Name[mk]=Уреди
Name[nl]=Apparaten
Name[no]=Enheter
Name[no_NY]=Einingar
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[sl]=Enote
Name[sr]=Uređaji
Name[sv]=Enheter
Name[ta]=சாதனஙஂகளஂ
Name[tr]=Aygıtlar
Name[uk]=Пристрої

Comment=Attached devices information
Comment[ca]=Informació dels dispositius connectats
Comment[cs]=Informace o připojených zařízeních
Comment[da]=Information om tilkoblede enheder
Comment[de]=Informationen zu angeschlossenen Geräten
Comment[eo]=Informo pir alligitaj aparatoj
Comment[es]=Información de los dispositivos conectados
Comment[et]=Info ühendatud seadmete kohta
Comment[fi]=Tietoja liitetyistä laitteista
Comment[fr]=Informations sur les périphériques attachés
Comment[he]=םירבוחמ םינקתה לע עדימ
Comment[hr]=Informacije o priključenim uređajima
Comment[hu]=Információk a rendszerhez csatlakoztatott eszközökről
Comment[is]=Upptalning á tækjum tölvu
Comment[it]=Informazioni sulle periferiche connesse
Comment[ja]=接続されているデバイスの情報
Comment[mk]=Информации за приклучени уреди
Comment[nl]=Informatie over aangesloten apparaten
Comment[no]=Informasjon om tilkoblede enheter
Comment[no_NY]=Informasjon om tilkopla einingar
Comment[pl]=Informacje o włączonych urządzeniach
Comment[pt]=Informação sobre dispositivos
Comment[ro]=Informaţii despre dispozitivele instalate
Comment[ru]=Информация о подключенных устройствах
Comment[sl]=Informacije o priklopljenih enotah
Comment[sr]=Informacije o dostupnim uređajima
Comment[sv]=Information om anslutna enheter
Comment[ta]=இைணகஂகபஂபடஂட சாதனஙஂகளினஂ தகவலஂ
Comment[tr]=Bağlanmış aygıtlar hakkında bilgi
Comment[uk]=Інформація щодо приєднаних пристроїв

Keywords=dev,Devices,System Information,Information
Keywords[ca]=dev,dispositius,Informació del sistema,Informació
Keywords[cs]=dev,Zařízení,Systémové informace,Informace
Keywords[da]=dev,Enheder,System information,Information
Keywords[de]=Geräte,Devices,Systeminformation,Information
Keywords[eo]=aparato,dev,sistemo,operaciumo,informo
Keywords[es]=dev,Dispositivos,Información del sistema,Información
Keywords[et]=dev,Seadmed,Süsteemi informatsioon,Informatsioon
Keywords[fi]=dev,Laitteet,Järjestelmätiedot,Tiedot
Keywords[fr]=dev,périphériques,information,informations système
Keywords[he]=עדימ,תכרעמ עדימ,םינקתה
Keywords[hr]=dev,Devices,System Information,Information,uređaji,uređaj,sustav,informacije o sustavu
Keywords[hu]=dev,eszközök,rendszerinformáció,információ
Keywords[is]=tæki,jaðartæki,upplýsingar,kerfi
Keywords[it]=dev,Dispositivi,Informazioni sul sistema
Keywords[ja]=dev,デバイスシステム,システムの情報,情報
Keywords[mk]=dev,Уреди,Информации за системот,Информации
Keywords[nl]=dev,devices,systeeminformatie,informatie,apparaten,apparaatbeheer
Keywords[no]=dev,enheter,Systeminformasjon,Informasjon
Keywords[no_NY]=dev,eining,einingar,systeminformasjon,informasjon
Keywords[pt]=dev,dispositivos,informações de sistema,informação
Keywords[ro]=dev,Dispozitive,Informaţii sistem,Informaţii
Keywords[sl]=dev,naprave,informacije o sistemu,informacije
Keywords[ta]=சாத,சாதகஙஂகளஂ, கணினி தகவலஂ,தகவலஂ
Keywords[tr]=dev,Aygıtlar,Sistem Hakkında Bilgi, Bilgi
Keywords[uk]=пристрої,інформація,dev,devices,system-information,information
