[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell dma
Icon=kcmmemory
Type=Application
DocPath=kinfocenter/dma/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=dma
X-KDE-ParentApp=kinfocenter

Name=DMA-Channels
Name[af]=Dma-kanale
Name[ar]=قنوات DMA
Name[az]=DMA Kanalları
Name[be]=Каналы DMA
Name[bg]=Канали DMA
Name[bn]=ডি.এম.এ-চ্যানেল
Name[br]=Kanolioù DMA
Name[bs]=DMA-Kanali
Name[ca]=Canals DMA
Name[cs]=DMA kanály
Name[cy]=Sianeli DMA
Name[da]=DMA-kanaler
Name[de]=DMA-Kanäle
Name[el]=Κανάλια DMA
Name[eo]=DMA-kanaloj
Name[es]=Canales DMA
Name[et]=DMA kanalid
Name[eu]=DMA-Kanalak
Name[fa]=DMA-کانال‌های
Name[fi]=DMA-kanavat
Name[fr]=Canaux DMA
Name[fy]=DMA-kanalen
Name[gl]=Canles de DMA
Name[he]=גישה ישירה לזיכרון
Name[hi]=डीएमए-चैनल्स
Name[hr]=DMA-Kanali
Name[hu]=DMA-csatornák
Name[id]=Channels-DMA
Name[is]=DMA-brautir
Name[it]=Canali DMA
Name[ja]=DMAチャンネル
Name[ko]=DMA-채널
Name[lo]=ຊາແນລDMA
Name[lt]=DMA-Kanalai
Name[lv]=DMA-Kanāli
Name[mk]=DMA-канали
Name[mn]=DMA-Сувгууд
Name[nb]=DMA-kanaler
Name[nds]=DMA-Kanaals
Name[nl]=DMA-kanalen
Name[nn]=DMA-kanalar
Name[nso]=Dikanale tsa DMA
Name[oc]=Canals DMA
Name[pa]=DMA-ਚੈਨਲ
Name[pl]=Kanały DMA
Name[pt]=Canais de DMA
Name[pt_BR]=Canais DMA
Name[ro]=Canale DMA
Name[ru]=Каналы DMA
Name[sk]=DMA kanály
Name[sl]=Kanali DMA
Name[sr]=DMA канали
Name[sr@Latn]=DMA kanali
Name[ss]=Migudvu ye DMa
Name[sv]=DMA-kanaler
Name[ta]=DMA-வழிமுறைகள்
Name[tg]=Каналҳои-DMA
Name[th]=ช่อง DMA
Name[tr]=DMA Kanalları
Name[uk]=Канали ПДП
Name[uz]=DMA каналлари
Name[ven]=Tshanele ya DMA
Name[vi]=Kênh DMA
Name[wa]=Canås DMA
Name[xh]=DMA-Imijelo
Name[xx]=xxDMA-Channelsxx
Name[zh_CN]=DMA 通道
Name[zh_TW]=DMA 通道
Name[zu]=Imigudu-DMA

Comment=DMA information
Comment[af]=Dma informasie
Comment[ar]=معلومات DMA
Comment[az]=DMA haqqında mə'lumat
Comment[be]=Інфармацыя аб DMA
Comment[bg]=Информация за каналите DMA
Comment[bn]=ডি.এম.এ. সংক্রান্ত তথ্য
Comment[br]=Titouroù war an DMA
Comment[bs]=DMA informacije
Comment[ca]=Informació de la DMA
Comment[cs]=Informace o DMA
Comment[cy]=Gwybodaeth DMA
Comment[da]=DMA-information
Comment[de]=Informationen zu DMA
Comment[el]=Πληροφορίες για τα DMA
Comment[eo]=DMA-informo
Comment[es]=Información sobre DMA
Comment[et]=DMA kanalite info
Comment[eu]=DMAri buruzko informazioa
Comment[fa]=اطلاعات DMA
Comment[fi]=DMA-tietoja
Comment[fr]=Informations DMA
Comment[fy]=DMA-ynformatie
Comment[ga]=Eolas faoi DMA
Comment[gl]=Información de DMA
Comment[he]=מידע על ערוצי הגישה הישירה לזיכרון
Comment[hi]=डीएमए जानकारी
Comment[hr]=DMA informacije
Comment[hu]=DMA-információk
Comment[id]=Informasi DMA
Comment[is]=Upplýsingar um DMA-brautir
Comment[it]=Informazioni sul DMA
Comment[ja]=DMAの情報
Comment[ko]=DMA 정보
Comment[lt]=DMA informacija
Comment[mk]=Информации за DMA
Comment[mn]=DMA-н мэдээлэл
Comment[mt]=Informazzjoni dwar DMA
Comment[nb]=DMA-informasjon
Comment[nds]=Informatschoon över DMA
Comment[nl]=DMA-informatie
Comment[nn]=DMA-informasjon
Comment[nso]=Tshedimoso ya DMA
Comment[oc]=Informacion de DMA
Comment[pa]=DMA ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o DMA
Comment[pt]=Informação do DMA
Comment[pt_BR]=Informações de DMA
Comment[ro]=Informaţii despre canalele DMA
Comment[ru]=Сведения о DMA
Comment[sk]=Informácie o DMA
Comment[sl]=Informacija o neposrednem dostopu do pomnilnika (DMA)
Comment[sr]=DMA информације
Comment[sr@Latn]=DMA informacije
Comment[ss]=Imininingwaneye DMA 
Comment[sv]=DMA-information
Comment[ta]=DMA தகவல்
Comment[tg]=Иттилооти DMA
Comment[th]=ข้อมูล DMA
Comment[tr]=DMA hakkında bilgi
Comment[uk]=Інформація щодо ПДП
Comment[uz]=DMA ҳақида маълумот
Comment[ven]=Mafhungo a DMA
Comment[vi]=Thông tin DMA
Comment[wa]=Informåcion so les canås DMA
Comment[xh]=DMA ulwazi
Comment[xx]=xxDMA informationxx
Comment[zh_CN]=DMA 信息
Comment[zh_TW]=DMA 資訊
Comment[zu]=Ulwazi lwe-DMA
                                                  
Keywords=dma,DMA-Channels,System Information
Keywords[af]=dma,DMA-Channels,System Informasie
Keywords[ar]=dma,DMA-Channels,System Information,قنوات DMA
Keywords[az]=dma,DMA-Kanalları,Sistem Haqqında Mə'lumat
Keywords[be]=Каналы DMA,Сыстэмная інфармацыя,DMA,DMA-Channels,System Information
Keywords[bg]=информация, система, системна, канали, канал, dma, DMA-Channels, System Information
Keywords[br]=dma,kanolioù DMA,titoutoù reizhoad
Keywords[bs]=dma,DMA-Channels,System Information,DMA-kanali,informacije o sustavu
Keywords[ca]=dma,Canals DMA,informació del sistema
Keywords[cs]=dma,DMA kanály,Informace o systému
Keywords[cy]=dma,Sianeli DMA,Gwybodaeth Cysawd
Keywords[da]=dma,DMA-kanaler,Systeminformation
Keywords[de]=DMA,DMA-Kanäle,Systeminformation,Information
Keywords[el]=dma,Κανάλια DMA,Πληροφορίες συστήματος
Keywords[eo]=DMA,kanaloj,sistemo,operaciumo,informo
Keywords[es]=DMA,Canales DMA,Información del sistema
Keywords[et]=dma,DMA kanalid,süsteemi informatsioon
Keywords[eu]=dma,DMA-Kanalak,Sistemaren informazioa
Keywords[fa]=dma,DMA-Channels,System Information,اطلاعات سیستم
Keywords[fi]=dma,DMA-kanavat,Järjestelmätiedot
Keywords[fr]=dma,canaux DMA,informations système
Keywords[fy]=dma,DMA-channels,systeemynformaasje,DMA-kanalen
Keywords[gl]=dma,Canles de DMA,Canales DMA,Información do Sistema
Keywords[he]=ערוצי גישה ישירה לזיכרון,מידע מערכת,DMA
Keywords[hi]=डीएमए,डीएमए-चैनल्स,तंत्र जानकारी
Keywords[hu]=DMA,DMA-csatornák,DMA-csatorna,rendszerinformáció
Keywords[id]=dma,DMA-Channels,Informasi Sistem
Keywords[is]=DMA-brautir,DMA-rásir
Keywords[it]=DMA,canali DMA,informazioni sul sistema
Keywords[ja]=dma,DMA-チャンネル,システムの情報
Keywords[ko]=dma,DMA-Channels,System Information,DMA-채널,채널,시스템 정보
Keywords[lo]=dma,DMA-Channels,System InformationKeywords=dma,DMA-Channels,System Information
Keywords[lt]=dma,DMA-Kanalai,Sistemos Informacija
Keywords[lv]=dma,DMA-Kanāli,Sistēmas Informācija
Keywords[mk]=dma,DMA-Channels,System Information,DMA канали,канали,Информации за системот
Keywords[mn]=DMA,DMA-сувгууд,Системийн мэдээлэл,Мэдээлэл
Keywords[nb]=dma,DMA-kanaler,Systeminformasjon
Keywords[nds]=dms,DMA-Kanaals, Systeeminformatschoon
Keywords[nl]=dma,DMA-channels,systeeminformatie,DMA-kanalen
Keywords[nn]=dma,DMA-kanalar,systeminformasjon
Keywords[nso]=dma,Dikanale tsa DMA,Tshedimoso ya System
Keywords[oc]=dma,Canals DMA,informacion dèu sistemo
Keywords[pa]=dma,DMA-Channels,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Keywords[pl]=dma,kanały DMA,informacja o systemie
Keywords[pt]=dma,canais dma,informações de sistema
Keywords[pt_BR]=DMA,canais DMA,canal DMA,informações de sistema
Keywords[ro]=dma,canale DMA,informaţii despre sistem
Keywords[sk]=dma,DMA-kanály,Systémové Informácie
Keywords[sl]=dma,kanali DMA,informacije o sistemu
Keywords[sr]=dma,DMA-Channels,System Information,канали,системске информације
Keywords[sr@Latn]=dma,DMA-Channels,System Information,kanali,sistemske informacije
Keywords[sv]=dma,DMA-kanaler,Systeminformation
Keywords[ta]=dma,DMA-வழிமுறைகள்,அமைப்பு தகவல்
Keywords[th]=dma,ช่อง DMA,ข้อมูลระบบ
Keywords[tr]=dma,DMA-Kanalları,Sistem Hakkında Bilgi
Keywords[uk]=dma,канал ПДП, інформація,system-information,information
Keywords[uz]=dma,DMA каналлари,Тизим ҳақида маълумот
Keywords[ven]=dma,Dzitshanele dza DMA,Mafhungo a sisitemu
Keywords[vi]=dma,kênh DMA,thông tin hệ thống
Keywords[xh]=dma,DMA-Imijelo,Ulwazi Lwendlela yokusebenza
Keywords[xx]=xxdma,DMA-Channels,System Informationxx
Keywords[zh_CN]=dma,DMA-Channels,System Information,DMA 通道,系统信息
Keywords[zh_TW]=dma,DMA-Channels,System Information,DMA通道,系統資訊
Keywords[zu]=dma,Imigudu-DMA,Ulwazi lwesistimu

