[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell interrupts
Icon=kcmmemory
Type=Application
DocPath=kinfocenter/interrupts/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=irq
X-KDE-ParentApp=kinfocenter

Name=Interrupts
Name[ar]=المقاطعات
Name[az]=Kəsmələr
Name[bg]=Прекъсвания
Name[br]=Spanoù
Name[bs]=Interapti
Name[ca]=Interrupcions
Name[cs]=Přerušení
Name[cy]=Ymyriadau
Name[el]=Διακοπές
Name[eo]=Interrompoj
Name[es]=Interrupciones
Name[et]=Katkestused
Name[eu]=Etenaldiak
Name[fa]=وقفه‌ها
Name[fi]=Keskeytykset
Name[fr]=Interruptions
Name[fy]=Underbrekkings
Name[ga]=Idirbhristeacha
Name[gl]=Interrupcións
Name[he]=פסיקה
Name[hi]=इंटरप्ट
Name[hr]=Interupti
Name[hu]=Megszakítások
Name[is]=Ígrip
Name[it]=Interrupt
Name[ja]=割り込み
Name[ko]=인터럽트
Name[lo]=ອິນເຕີຣັບ
Name[lt]=Pertrauktys
Name[lv]=Pārtraukumi
Name[mk]=Прекини
Name[mn]=Тасалдлууд
Name[nb]=Avbruddslinjer
Name[nn]=Avbrot
Name[nso]=Ditshitiso
Name[oc]=Interrupcions
Name[pa]=ਰੁਕਾਵਟ
Name[pl]=Przerwania
Name[pt]=Interrupções
Name[pt_BR]=Interrupções
Name[ro]=Întreruperi
Name[ru]=Прерывания
Name[se]=Gaskkaldumit
Name[sk]=Prerušenia
Name[sl]=Prekinitve
Name[sr]=Прекиди
Name[sr@Latn]=Prekidi
Name[sv]=Avbrott
Name[ta]=குறுக்கீடுகள்
Name[tg]=Қатъ шудан
Name[th]=อินเตอร์รัพต์
Name[tr]=Kesmeler
Name[uk]=Перепини
Name[uz]=Тўхталишлар
Name[ven]=Dzithithiso
Name[vi]=Ngắt 
Name[xh]=Iziphazamiso
Name[xx]=xxInterruptsxx
Name[zh_CN]=中断
Name[zh_TW]=中斷
Name[zu]=Iziphazamiso

Comment=Interrupt information
Comment[af]=Interrupt informasie
Comment[ar]=معلومات المقاطعات
Comment[az]=Kəsmələr haqqında mə'lumat
Comment[bg]=Информация за прекъсванията в системата
Comment[bn]=ইনটরাপ্ট তথ্য
Comment[br]=Titouroù diwar-benn ar spanoù
Comment[bs]=Informacije o interaptima
Comment[ca]=Informació de les interrupcions
Comment[cs]=Informace o přerušeních
Comment[cy]=Gwybodaeth Ymyriadau
Comment[da]=Interrupt-information
Comment[de]=Informationen zu Interrupts
Comment[el]=Πληροφορίες για τις διακοπές
Comment[eo]=Informo pri interrompoj
Comment[es]=Información sobre las interrupciones
Comment[et]=Katkestuste info
Comment[eu]=Etenaldiei buruzko informazioa
Comment[fa]=اطلاعات وقفه‌ها
Comment[fi]=Keskeytystietoja
Comment[fr]=Informations sur les interruptions
Comment[fy]=Underbrekking ynformaasje
Comment[gl]=Información das interrupcións
Comment[he]=מידע על בקשת הפסיקה
Comment[hi]=इंटरप्ट जानकारी
Comment[hr]=Informacije o interuptima
Comment[hu]=A megszakítások jellemzői
Comment[id]=Informasi interrupt
Comment[is]=Upplýsingar um ígrip (IRQ)
Comment[it]=Informazioni sugli interrupt
Comment[ja]=割り込みの情報
Comment[ko]=인터럽트 정보
Comment[lo]=ຂໍ້ມູນອິນເຕີຣັບ
Comment[lt]=Pertraukčių informacija
Comment[lv]=Pārtraukumu informācija
Comment[mk]=Информации за прекините
Comment[mn]=Тасалдлын мэдээллүүд
Comment[mt]=Informazzjoni dwar l-interrupts
Comment[nb]=Avbruddslinjeinformasjon
Comment[nds]=Interruptinformatschoon
Comment[nl]=Interrupt-informatie
Comment[nn]=Avbrotsinformasjon
Comment[nso]=Tshedimoso ya Tshitiso
Comment[oc]=Informacion de les interrupcions
Comment[pa]=ਰੁਕਾਵਟ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o przerwaniach
Comment[pt]=Informação das interrupções
Comment[pt_BR]=Informações sobre as interrupções
Comment[ro]=Informaţii despre întreruperile alocate
Comment[ru]=Сведения о прерываниях
Comment[se]=Dieđut gaskkaldumiid birra
Comment[sk]=Informácie o prerušeniach
Comment[sl]=Podatki o prekinitvah
Comment[sr]=Информације о прекидима
Comment[sr@Latn]=Informacije o prekidima
Comment[sv]=Avbrottsinformation
Comment[ta]=குறுக்கீட்டுத தகவல்
Comment[tg]=Ахборот дар бораи қатъ шавӣ
Comment[th]=ข้อมูลอินเตอร์รัพต์
Comment[tr]=Kesmeler hakkında bilgi
Comment[uk]=Інформація щодо перепини
Comment[uz]=Тўхталиш ҳақида маълумот
Comment[ven]=U thithisa mafhungo
Comment[vi]=Thông tin về ngắt
Comment[xh]=Phazamisa ulwazi
Comment[xx]=xxInterrupt informationxx
Comment[zh_CN]=中断信息
Comment[zh_TW]=中斷資訊
Comment[zu]=Ulwazi lweziphazamiso

Keywords=Interrupts,IRQ,System Information
Keywords[af]=Interrupts,IRQ,System Informasie
Keywords[ar]=Interrupts,IRQ,System Information,المقاطعات,معلومات النظام
Keywords[az]=Kəsmələr,IRQ,Sistem haqqında mə'lumat
Keywords[bg]=информация, система, системна, прекъсване, прекъсвания, програмни, Interrupts, IRQ, System Information
Keywords[br]=spanoù,IRQ,titouroù reizhiad
Keywords[bs]=Interrupts,IRQ,System Information,informacije o sustavu,interupti
Keywords[ca]=Interrupcions, IRQ, informació del sistema
Keywords[cs]=Přerušení,IRQ,Informace o systému
Keywords[cy]=Ymyriadau,IRQ,Gwybodaeth Cysawd
Keywords[da]=Interrupts,IRQ,Systeminformation
Keywords[de]=Interrupts,IRQ,Systeminformation
Keywords[el]=Διακοπές,IRQ,Πληροφορίες συστήματος
Keywords[eo]=Interrompoj,IRQ,sistemo,informo,operaciumo
Keywords[es]=Interrupciones,IRQ,Información del sistema
Keywords[et]=Katkestused,IRQ,Süsteemi informatsioon
Keywords[eu]=Etenaldiak,IRQ,Sistemaren informazioa
Keywords[fa]=Interrupts,IRQ,System Information,وقفه
Keywords[fi]=Keskeytykset,IRQ,Järjestelmätiedot
Keywords[fr]=interruptions,IRQ,informations système,irq
Keywords[fy]=Underbrekkings,IRQ,systeemynformaasje
Keywords[gl]=Interrupcións,IRQ,Información do Sistema
Keywords[he]=בקשת פסיקה,מידע מערכת,IRQ,פסיקה
Keywords[hi]=इंटरप्ट्स,आईआरक्यू,तंत्र जानकारी
Keywords[hu]=megszakítások,IRQ,rendszerinformáció
Keywords[id]=Interrupts,IRQ,Informasi Sistem
Keywords[is]=rofbeiðni,ígrip,IRQ,Interrupt,kerfi,upplýsingar
Keywords[it]=interrupt,IRQ,informazioni sul sistema
Keywords[ja]=割り込み,IRQ,システムの情報
Keywords[ko]=Interrupts,IRQ,System Information,인터럽트,가로채기,시스템 정보
Keywords[lo]=ອິນເຕີຣັບ,IRQ,ຂໍ້ມູນຂອງລະບົບ
Keywords[lt]=Pertrauktys,IRQ,Sistemos Informacija
Keywords[lv]=Pārtraukumi,IRQ,Sistēmas Informācija
Keywords[mk]=Interrupts,IRQ,System Information,Прекини,IRQ,Информации за системот
Keywords[mn]=Тасалдлууд,IRQ,Системийн мэдээлэл
Keywords[nb]=Avbrudd,IRQ,Systeminformasjon
Keywords[nds]=Interrupts,IRQ,Systeeminformatschoon
Keywords[nl]=interrupts,IRQ,systeeminformatie
Keywords[nn]=avbrot,IRQ,systeminformasjon
Keywords[nso]=Ditshitiso,IRQ,Tshedimoso ya System
Keywords[oc]=Interrupcions, IRQ, informacion dèu sistemo
Keywords[pa]=Interrupts,IRQ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ, ਰੁਕਾਵਟ
Keywords[pl]=Przerwania,IRQ,informacja o systemie
Keywords[pt]=interrupções,IRQ,informações sobre o sistema
Keywords[pt_BR]=Interrupções,IRQ,Informações do sistema
Keywords[ro]=întreruperi,IRQ,informaţii despre sistem
Keywords[se]=Gaskkaldumit,IRQ,vuogádatdieđut
Keywords[sk]=Prerušenia,IRQ,Systémové informácie
Keywords[sl]=prekinitve,IRQ,sistemski podatki
Keywords[sr]=Interrupts,IRQ,System Information,прекиди,системске информације
Keywords[sr@Latn]=Interrupts,IRQ,System Information,prekidi,sistemske informacije
Keywords[sv]=Avbrott,IRQ,Systeminformation
Keywords[ta]=குறுக்கீடுகள்,IRQ, கணினித் தகவல்
Keywords[th]=อินเตอร์รัพต์,IRQ,ข้อมูลระบบ
Keywords[tr]=Kesmeler,IRQ,Sistem hakkında bilgi
Keywords[uk]=перепини,interrupts,irq,system-information
Keywords[uz]=Тўхталишлар,IRQ,Тизим ҳақида маълумот
Keywords[ven]=U thithisa,IRQ,Mafhungo a Sisitemu
Keywords[vi]=Ngắt,IRQ,thông tin hệ hống 
Keywords[xh]=Iziphazamiso,IRQ,Ulwazi lwendlela
Keywords[xx]=xxInterrupts,IRQ,System Informationxx
Keywords[zh_CN]=Interrupts,中断,IRQ,System Information,系统信息
Keywords[zh_TW]=Interrupts,IRQ,System Information,中斷,系統資訊
Keywords[zu]=Iziphazamiso,IRQ,Ulwazi lwesistimu

