[Desktop Entry]
Exec=kcmshell Information/interrupts
Icon=kcmmemory
Type=Application
DocPath=kcontrol/kcminfo/info-3.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=irq
X-KDE-ControlModuleType=Info
X-KDE-HideFromPanel=true

Name=Interrupts
Name[ca]=Interrupcions
Name[cs]=Přerušení
Name[da]=IRQ
Name[eo]=Iterrompoj
Name[es]=Interrupciones
Name[et]=Katkestused
Name[fi]=Keskeytykset
Name[fr]=Interruptions
Name[he]=הקיספ
Name[hr]=Interupti
Name[hu]=Megszakítások
Name[is]=Ígrip
Name[it]=Interrupt
Name[ja]=割り込み
Name[mk]=Прекини
Name[no]=Avbruddslinjer
Name[no_NY]=Avbrot
Name[pl]=Przerwania
Name[pt]=Interrupções
Name[ro]=Întreruperi
Name[ru]=Прерывания
Name[sl]=Prekinitve
Name[sr]=Interapti
Name[sv]=Avbrott
Name[ta]=இைடமறிகளஂ
Name[tr]=Kesmeler
Name[uk]=Переривання

Comment=Interrupt information
Comment[ca]=Informació de les interrupcions
Comment[cs]=Informace o přerušeních
Comment[da]=IRQ information
Comment[de]=Informationen zu Interrupts
Comment[eo]=Informo pri interrompoj
Comment[es]=Información de las interrupciones
Comment[et]=Katkestustega seotud info
Comment[fi]=Keskeytystietoja
Comment[fr]=Informations sur les interruptions
Comment[he]=הקיספ תרקב לע עדימ
Comment[hr]=Informacije o interuptima
Comment[hu]=Információk a megszakításokról
Comment[is]=Upplýsingar um ígrip (IRQ)
Comment[it]=Informazioni sugli interrupt
Comment[ja]=割り込みの情報
Comment[mk]=Информации за прекините
Comment[nl]=Interrupt-informatie
Comment[no]=Avbruddslinjeinformasjon
Comment[no_NY]=Avbrotsinformasjon
Comment[pl]=Informacje o przerwaniach
Comment[pt]=Informação sobre interrupções
Comment[ro]=Informaţii despre întreruperile alocate
Comment[ru]=Информация о прерываниях
Comment[sl]=Informacija o prekinitvah
Comment[sr]=Informacije o interaptima
Comment[sv]=Information om avbrott
Comment[ta]=இைடமறி தகவலஂ
Comment[tr]=Kesmeler hakkında bilgi
Comment[uk]=Інформація щодо перериваннь

Keywords=Interrupts,IRQ,System Information
Keywords[ca]=Interrupcions, IRQ, informació del sistema
Keywords[cs]=Přerušení,IRQ,Informace o systému
Keywords[da]=Scsi,Scsi-bus,System information
Keywords[de]=Interrupts,IRQ,Systeminformation
Keywords[eo]=Interrompoj,IRQ,sistemo,informo,operaciumo
Keywords[es]=Interrupts,IRQ,Información del sistema
Keywords[et]=Katkestused,IRQ,Süsteemi informatsioon
Keywords[fi]=Keskeytykset,IRQ,Järjestelmätiedot
Keywords[fr]=Interruptions,IRQ,Informations système
Keywords[he]=תכרעמ עדימ,הקיספ תשקב,IRQ,הקיספ
Keywords[hr]=Interrupts,IRQ,System Information,informacije o sustavu,interupti
Keywords[hu]=Megszakítások,IRQ,rendszerinformáció
Keywords[is]=Ígrip,IRQ,Interrupts
Keywords[it]=Interrupt,IRQ,Informazioni sul sistema
Keywords[ja]=割り込み,IRQ,システムの情報
Keywords[mk]=Прекини,IRQ,Информации за системот
Keywords[nl]=Interrupts,IRQ,Systeeminformatie
Keywords[no]=Avbrudd,IRQ,Systeminformasjon
Keywords[no_NY]=Avbrot,IRQ,systeminformasjon
Keywords[pl]=Przerwania,IRQ,informacja o systemie
Keywords[pt]=Interrupções,IRQ,Informações sobre o sistema
Keywords[ro]=Întreruperi,IRQ,Informaţii sistem
Keywords[sl]=prekinitve,IRQ,sistemski podatki
Keywords[ta]=இைடமறிகளஂ,IRQ,கணினி தகவலஂ
Keywords[tr]=Kesmeler,IRQ,Sistem hakkında bilgi
Keywords[uk]=переривання,interrupts,irq,system-information
