[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell ioports
Icon=kcmmemory
Type=Application
DocPath=kinfocenter/ioports/index.html
Categories=Qt;KDE;X-KDE-information;


X-KDE-Library=info
X-KDE-FactoryName=ioports
X-KDE-ParentApp=kinfocenter

Name=IO-Ports

Comment=IO-port information

Keywords=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information

