[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell opengl
Icon=kcmopengl
Type=Application
DocPath=kinfocenter/opengl/index.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=opengl
X-KDE-ParentApp=kinfocenter

Name=OpenGL
Name[ta]=ஓபன் ஜிஎல்
Name[xx]=xxOpenGLxx

Comment=OpenGL information
Comment[da]=OpenGL-information
Comment[mt]=Informazzjoni dwar OpenGL
Comment[pa]=OpenGL ਜਾਣਕਾਰੀ
Comment[pt_BR]=Informações sobre OpenGL
Comment[sv]=Information om OpenGL
Comment[ta]=ஓபன் ஜிஎல் தகவல்
Comment[tr]=OpenGL Bilgisi
Comment[xx]=xxOpenGL informationxx
Comment[zh_CN]=OpenGL 信息

Keywords=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
Keywords[da]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Grafik,X,X11,Xserver,X-Server,XFree86,Skærm
Keywords[pa]=OpenGL,DRI,GLX,3D,ਵੀਡਿਓਕਾਰਡ, ਹਾਰਡਵੇਅਰ ਪ੍ਰਵੇਸ਼ਕ,ਗਰਾਫਿਕਸ,X,X11,Xserver,X-Server,XFree86,ਦਰਿਸ਼
Keywords[pt_BR]=OpenGL,DRI,GLX,3D,Placa de Vídeo,Aceleração de Hardware,Gráficos,X,X11,Servidor X,X Server,XFree86,Display
Keywords[sv]=OpenGL,DRI,GLX,3D,videokort,hårdvaruacceleration,grafik,X,X11,Xserver,X-server,Xfree86,skärm
Keywords[ta]=ஓபன் ஜிஎல்,டிஆரை,ஜிஎல்X,முப்பரிமாணம்,வீடியோஅட்டை,வன்பொருள் முடுக்கம்,சித்திரங்கள்,X,X11,Xசேவகன்,X-சேவகன்,XFree86,காட்டு
Keywords[tr]=OpenGL,DRI,GLX,3D,VideoCard,Video kartı,Donanım Hızlandırma,Grafik,X,X11,Xserver,X-Server,X-Sunucu,Xsunucu,XFree86,Görüntü
Keywords[xx]=xxOpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Displayxx
Keywords[zh_CN]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,显卡,硬件加速,图形,X 服务器,显示

Categories=Qt;KDE;X-KDE-information;
