[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell pci
Icon=kcmpci
Type=Application
DocPath=kinfocenter/pci/index.html


X-KDE-Library=info
X-KDE-FactoryName=pci
X-KDE-ParentApp=kinfocenter

Name=PCI

Comment=PCI information

Keywords=PCI,PCI-Devices,PCI-Bus,System Information
Categories=Qt;KDE;X-KDE-information;
