[Desktop Entry]
Exec=kcmshell Information/pci
Icon=kcmpci
Type=Application
DocPath=kcontrol/kcminfo/info-5.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=pci
X-KDE-ControlModuleType=Info
X-KDE-HideFromPanel=true

Name=PCI
Name[cs]=PCI sběrnice
Name[es]=Bús PCI
Name[is]=PCI-braut
Name[ro]=Magistrala PCI
Name[ru]=Шина PCI
Name[uk]=Шина PCI

Comment=PCI information
Comment[ca]=Informació de PCI
Comment[cs]=Informace o PCI
Comment[da]=PCI-information
Comment[de]=Informationen zu PCI
Comment[eo]=Informo pri PCI
Comment[es]=Información del PCI
Comment[et]=PCI informatsioon
Comment[fi]=PCI-tietoja
Comment[fr]=Informations PCI
Comment[he]=PCI ינקתה לע עדימ
Comment[hr]=Informacije o PCI
Comment[hu]=PCI-információk
Comment[is]=Upplýsingar um PCI-braut
Comment[it]=Informazioni sul bus PCI
Comment[ja]=PCIの情報
Comment[mk]=Информации за PCI
Comment[nl]=PCI-informatie
Comment[no]=PCI-informasjon
Comment[no_NY]=PCI-informasjon
Comment[pl]=Informacje o PCI
Comment[pt]=Informações sobre dispositivos PCI
Comment[ro]=Informaţii despre magistrala PCI
Comment[ru]=Информация о шине PCI
Comment[sl]=Informacija o vodilu PCI
Comment[sr]=PCI informacije
Comment[sv]=Information om PCI
Comment[ta]=PCI தகவலஂ
Comment[tr]=PCI hakkında bilgi
Comment[uk]=Інформація щодо шини PCI

Keywords=PCI,PCI-Devices,PCI-Bus,System Information
Keywords[ca]=PCI,Dispositius PCI,Bus PCI,Informació del sistema
Keywords[cs]=PCI,PCI-zařízení,PCI-sběrnice,Informace o systému
Keywords[da]=Pci,Pci-enheder,Pci-bus,System information
Keywords[de]=PCI,PCI-Geräte,PCI-Bus,Systeminformation
Keywords[eo]=PCI,aparato,buso,sistemo,operaciumo,informo
Keywords[es]=PCI,Dispositivos PCI,Bús PCI,Información del sistema
Keywords[et]=PCI,PCi seadmed,PCI siin,Süsteemi informatsioon
Keywords[fi]=PCI,PCI-Laitteet,PCI-Väylä,Järjestelmätiedot
Keywords[fr]=PCI,périphériques PCI,bus PCI,informations système
Keywords[he]=PCI קיפא,תכרעמ עדימ,PCI ינקתה,PCI
Keywords[hr]=PCI,PCI-Devices,PCI-Bus,System Information,PCI uređaji,PCI-uređaji,PCI-sabirnica,informacije o sustavu
Keywords[hu]=PCI,PCI-eszközök,PCI-busz,rendszerinformáció
Keywords[is]=PCI-tæki,PCI-braut,kerfi,upplýsingar
Keywords[it]=PCI,Dispositivi PCI,Bus PCI,Informazioni sul sistema
Keywords[ja]=PCI,PCI-デバイス,PCI-バス,システムの情報
Keywords[mk]=PCI,PCI-уреди,PCI-магистрала,Информации за системот
Keywords[nl]=PCI,PCI-devices,PCI-bus,systeeminformatie,PCI-apparaten
Keywords[no]=PCI,PCI-enheter,PCI-buss,Systeminformasjon
Keywords[no_NY]=PCI,PCI-einingar,PCI-buss,systeminformasjon
Keywords[pl]=PCI,urządzenia PCI,magistrala PCI,informacja o systemie
Keywords[pt]=PCI,dispositivos PCI,bus PCI,informações do sistema
Keywords[ro]=PCI,Dispozitive PCI,Bus PCI,Informaţii sistem
Keywords[sl]=PCI,naprave PCI,vodilo PCI,informacije o sistemu
Keywords[ta]=PCI,PCI-சாதனஙஂகளஂ,PCI-பாடஂைட,கணினி தகவலஂ
Keywords[tr]=PCI,PCI-Aygıtları,PCI-Bus,Sistem Hakkında Bilgi
Keywords[uk]=PCI,пристрої PCI,шина PCI,системна інформація
