[Desktop Entry]
Exec=kcmshell Information/processor
Icon=kcmprocessor
Type=Application
DocPath=kcontrol/kcminfo/info-2.html

X-KDE-ModuleType=Library
X-KDE-LibraryName=info
X-KDE-FactoryName=cpu
X-KDE-ControlModuleType=Info
X-KDE-HideFromPanel=true

Name=Processor
Name[ca]=Processador
Name[cs]=Procesor
Name[de]=Prozessor
Name[eo]=Procezilo
Name[fi]=Prosessori
Name[fr]=Processeur
Name[hu]=Processzor
Name[it]=Processore
Name[ja]=プロセッサー
Name[no]=Prosessor
Name[no_NY]=Prosessor
Name[pt]=Processador
Name[ro]=Procesor
Name[sl]=Procesor
Name[ta]=¦ºÂÄ¸õ

Comment=Processor information
Comment[ca]=Informació del processador
Comment[cs]=Informace o procesoru
Comment[de]=Informationen zum Prozessor
Comment[eo]=Informo pri procezilo
Comment[fi]=Tietoja prosessorista
Comment[fr]=Informations sur le processeur
Comment[hu]=Információ a processzorról
Comment[it]=Informazioni sul processore
Comment[ja]=プロセッサーの情報
Comment[no]=Informasjon om prosessoren
Comment[no_NY]=Prosessorinformasjon
Comment[pt]=Informações sobre o processador
Comment[ro]=Informaţii despre procesor
Comment[sl]=Informacija o procesorju
Comment[sv]=Information om processorn
Comment[ta]=¦ºÂÄ¸ ¾¸Åø

Keywords=Processor,CPU,FPU,MHz,System Information
Keywords[hu]=processzor,CPU,FPU,MHz,rendszerinformáció
Keywords[no]=Prosessor,CPU,FPU,Sentralenhet,MHz,Systeminformasjon
Keywords[no_NY]=prosessor,CPU,FPU,MHz,systeminformasjon
Keywords[pt]=processador,CPU,FPU,MHz,informações do sistema
Keywords[ro]=Procesor,microprocesor,CPU,FPU,MHz,Informaţii sistem
