[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell processor
Icon=kcmprocessor
Type=Application
DocPath=kinfocenter/processor/index.html


X-KDE-Library=info
X-KDE-FactoryName=cpu
X-KDE-ParentApp=kinfocenter

Name=Processor

Comment=Processor information

Keywords=Processor,CPU,FPU,MHz,System Information
Categories=Qt;KDE;X-KDE-information;
