[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell scsi
Icon=kcmscsi
Type=Application
DocPath=kinfocenter/scsi/index.html


X-KDE-Library=info
X-KDE-FactoryName=scsi
X-KDE-ParentApp=kinfocenter

Name=SCSI

Comment=SCSI information

Keywords=SCSI,SCSI-Bus,System Information
Categories=Qt;KDE;X-KDE-information;
