[Desktop Entry]
Exec=kcmshell Information/scsi
Icon=kcmscsi
Type=Application
DocPath=kcontrol/scsi.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=scsi

Name=SCSI
Name[is]=SCSI-tæki
Name[ro]=Magistrala SCSI

Comment=SCSI information
Comment[bg]=SCSI èíôîðìàöèÿ
Comment[ca]=Informació de SCSI
Comment[cs]=Informace o SCSI
Comment[da]=SCSI-information
Comment[de]=Informationen zu SCSI-Geräten
Comment[el]=Πληροφορίες SCSI
Comment[eo]=Informo pri SCSI
Comment[es]=Información del SCSI
Comment[et]=SCSI info
Comment[fi]=SCSI-tietoja
Comment[fr]=Informations SCSI
Comment[gl]=Información de SCSI
Comment[he]=SCSI לע עדימ
Comment[hr]=Informacije o SCSI
Comment[hu]=SCSI-információk
Comment[is]=Upplýsingar um SCSI-tæki
Comment[it]=Informazioni sul bus SCSI
Comment[ja]=SCSIの情報
Comment[lt]=SCSI informacija
Comment[mk]=Информации за SCSI
Comment[nl]=SCSI-informatie
Comment[no]=SCSI-informasjon
Comment[no_NY]=SCSI-informasjon
Comment[pl]=Informacje o SCSI
Comment[pt]=Informações sobre dispositivos SCSI
Comment[pt_BR]=Informações SCSI
Comment[ro]=Informaţii despre magistrala SCSI
Comment[ru]=Информация о SCSI
Comment[sk]=Informácie o SCSI
Comment[sl]=Informacija o vodilu SCSI
Comment[sv]=Information om SCSI
Comment[ta]=SCSI ¾¸Åø
Comment[tr]=SCSI hakkında bilgi
Comment[uk]=Інформація щодо SCSI
Comment[zh_CN.GB2312]=SCSI 信息

Keywords=SCSI,SCSI-Bus,System Information
Keywords[ca]=SCSI,Bus SCSI,Informació del sistema
Keywords[cs]=SCSI,SCSI-sběrnice,Informace o systému
Keywords[da]=Scsi,Scsi-bus,System information
Keywords[de]=SCSI,SCSI-Bus,Systeminformation
Keywords[el]=SCSI,Δίαυλος SCSI,Πληροφορίες Συστήματος
Keywords[eo]=SCSI,buso,sistemo,operaciumo,informo
Keywords[es]=SCSI,Bus SCSI,Información del sistema
Keywords[et]=SCSI,SCSI siin,Süsteemi informatsioon
Keywords[fi]=SCSI,SCSI-Väylä,Järjestelmätiedot
Keywords[fr]=SCSI,bus SCSI,informations système,scsi
Keywords[gl]=SCSI,Bus SCSI,Información do Sistema
Keywords[he]=SCSI קיפא,תכרעמ עדימ,SCSI
Keywords[hr]=SCSI,SCSI-Bus,System Information,SCSI-sabirnica,informacije o sustavu
Keywords[hu]=SCSI,SCSI-busz,rendszerinformáció
Keywords[is]=SCSI-braut,kerfi,upplýsingar
Keywords[it]=SCSI,Bus SCSI,Informazioni sul sistema
Keywords[ja]=SCSI,SCSI-バス,システムの情報
Keywords[lt]=SCSI,SCSI-Bus,Sistemos Informacija
Keywords[mk]=SCSI,Информации за системот
Keywords[nl]=SCSI,SCSI-bus,systeeminformatie
Keywords[no]=SCSI,SCSI-buss,Systeminformasjon
Keywords[no_NY]=SCSI,SCSI-buss,systeminformasjon
Keywords[pl]=SCSI,magistrala SCSI,informacja o systemie
Keywords[pt]=SCSI,bus SCSI,informações do sistema
Keywords[pt_BR]=SCSI,Barramento SCSI,Bus SCSI,Informações de sistema
Keywords[ro]=SCSI,magistrala SCSI,bus SCSI,informaţii sistem
Keywords[sk]=SCSI,SCSI-zbernica,Systémové Informácie
Keywords[sl]=SCSI,vodilo SCSI,informacije o sistemu
Keywords[sv]=SCSI,SCSI-buss,Systeminformation
Keywords[ta]=SCSI,SCSI-À¡ð¨¼,¸½¢É¢ ¾¸Åø
Keywords[tr]=SCSI,SCSI-Bus,Sistem Hakkında Bilgi
Keywords[uk]=SCSI,шина SCSI,системна інформація
Keywords[zh_CN.GB2312]=SCSI,SCSI-Bus,System Information,系统信息
