[Desktop Entry]
Exec=kcmshell Information/sound
Icon=kcmsound
Type=Application
DocPath=kcontrol/kcminfo/info-6.html

X-KDE-ModuleType=Library
X-KDE-Library=info
X-KDE-FactoryName=sound
X-KDE-ControlModuleType=Info
X-KDE-HideFromPanel=true

Name=Sound
Name[ca]=So
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klänge
Name[eo]=Sonoro
Name[es]=Sonido
Name[et]=Heli
Name[fi]=Ääni
Name[fr]=Son
Name[he]=לילצ
Name[hr]=Zvuk
Name[hu]=Hang
Name[is]=Hljóð
Name[it]=Suono
Name[ja]=サウンド
Name[mk]=Звук
Name[nl]=Geluid
Name[no]=Lyd
Name[no_NY]=Lyd
Name[pl]=Dźwięk
Name[pt]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sl]=Zvok
Name[sr]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலி
Name[tr]=Ses
Name[uk]=Звукова карта

Comment=Sound information
Comment[ca]=Informació del so
Comment[cs]=Informace o zvuku
Comment[da]=Information om lyd
Comment[de]=Informationen zur Soundkarte
Comment[eo]=Informo pri Sonoro
Comment[es]=Información del Sonido
Comment[et]=Heliseadmetega seotud info
Comment[fi]=Äänitiedot
Comment[fr]=Informations sur le son
Comment[he]=לילצ לע עדימ
Comment[hr]=Informacije o zvuku
Comment[hu]=Hanginformációk
Comment[is]=Upplýsingar um hljóð
Comment[it]=Informazioni sul suono
Comment[ja]=サウンドの情報
Comment[mk]=Информации за звукот
Comment[nl]=Geluidssysteem-informatie
Comment[no]=Lydinformasjon
Comment[no_NY]=Lydinformasjon
Comment[pl]=Informacje o ustawieniach dźwięku
Comment[pt]=Informações sobre o som
Comment[ro]=Informaţii despre sunet
Comment[ru]=Информация о звуке
Comment[sl]=Informacija o zvoku
Comment[sr]=Informacije o zvuku
Comment[sv]=Information om ljud
Comment[ta]=ஒலி தகவலஂ
Comment[tr]=Ses hakkında bilgi
Comment[uk]=Інформація щодо звукової карти

Keywords=Sound,Audio,Soundcard,Midi,OSS,System Information
Keywords[ca]=So,Àudio,tarja de so,Midi,OSS,Informació del sistema
Keywords[cs]=Zvuk,Audio,Zvuková karta,Midi,OSS,Informace o systému
Keywords[da]=Lyd,Aufio,Lydkort,Midi,Oss,System Information
Keywords[de]=Klänge,Sound,Audio,Soundkarte,Systemklänge,Midi,OSS,Systeminformation
Keywords[eo]=Sonoro,Sono,Aŭdio,Sonorkarto,MIDI,OSS,sistemo,informo,operaciumo
Keywords[es]=Sonido,Audio,Tarjeta de sonido,Midi,OSS,Información del sistema
Keywords[et]=Heli,Audio,helikaart,Midi,OSS,Süsteemi informatsioon
Keywords[fi]=Ääni,Äänikortti,Midi,OSS,Järjestelmätiedot
Keywords[fr]=son,audio,carte son,midi,OSS,informations système
Keywords[he]=תכרעמ עדימ,OSS,Midi,לוק סיטרכ,עמש,לילצ
Keywords[hr]=Sound,Audio,Soundcard,Midi,OSS,System Information,Zvuk,Informacije o sustavu
Keywords[hu]=hang,audió,hangkártya,midi,OSS,rendszerinformáció
Keywords[is]=Hljóð,Hljóðkort,kerfi,upplýsingar
Keywords[it]=Suono,Audio,Scheda sonora,MIDI,OSS,Informazioni sul sistema
Keywords[ja]=サウンド,オーディオ,サウンドカード,Midi,OSS,シス=E3=83=86ムの情報
Keywords[mk]=Звук,Аудио,Звучна картичка,Midi,OSS,Информации за системот
Keywords[nl]=geluid,audio,soundcard,midi,OSS,systeeminformatie,ALSA,geluidskaart
Keywords[no]=Lyd,Lydkort,Midi,OSS,Systeminformasjon
Keywords[no_NY]=lyd,lydkort,midi,OSS,systeminformasjon
Keywords[pl]=Dźwięk,Audio,karta dźwiękowa,Midi,OSS,informacja o systemie
Keywords[pt]=som,audio,placa de som,midi,OSS,informações de sistema
Keywords[ro]=sunet,Audio,placă de sunet,card de sunet,Midi,OSS,Informaţii sistem
Keywords[sl]=zvok,glasba,zvočna kartica,avdio,midi,OSS,informacije o sistemu
Keywords[ta]=ஒலி,ஒலியுனரஂ,ஒலிஅடஂைட,மிடி,OSS,கணினி தகவலஂ
Keywords[tr]=Ses,Seskartı,Midi,OSS,Sistem Hakkında Bilgi
Keywords[uk]=звук,аудіо,sound,audio,звукова карта,midi,oss,системна інформація
