[Desktop Entry]
Encoding=UTF-8
Name=File and Directory Browser Engine
Comment=Info about files and directories for Plasmoids
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_filebrowser
X-EngineName=filebrowser
