[Desktop Entry]
Name=Python Widget
Comment=Plasma widget support written in Python
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-EngineName=pythonapplet
X-Plasma-API=python
X-Plasma-ComponentTypes=Applet
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pyappletscript.py
X-Plasma-PackageFormat=Pythoid
