[Desktop Entry]
Name=Python data engine
Name[ar]=محرك بيانات بايثون
Name[be@latin]=Systema źviestak u movie „Python”
Name[ca]=Motor de dades en Python
Name[de]=Python-Datentreiber
Name[el]=Μηχανή δεδομένων Python
Name[es]=Motor de datos de Python
Name[et]=Pythoni andmete mootor
Name[gl]=Motor de datos de Python
Name[gu]=પાયથોન માહિતી એન્જિન
Name[he]=מנוע המידע של פייתון
Name[hi]=पायथन डाटा इंजिन
Name[it]=Motore per dati Python
Name[ja]=Python データエンジン
Name[kk]=Python деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Python
Name[lv]=Python datu dzinējs
Name[ml]=പൈത്തണ്‍  ഡേറ്റാ എഞ്ചിന്‍
Name[nb]=Python datamotor
Name[nds]=Python-Datenkarn
Name[nl]=Python (gegevensengine)
Name[pa]=ਪਾਈਥਨ ਡਾਟਾ ਇੰਜਣ
Name[pt]=Motor de dados Python
Name[pt_BR]=Motor de dados Python
Name[ro]=Motor de date Python
Name[sv]=Python datagränssnitt
Name[tg]=Системаи санаи Python
Name[th]=กลไกข้อมูลภาษาไพธอน
Name[tr]=Python veri motoru
Name[uk]=Рушій даних Python
Name[x-test]=xxPython data enginexx
Name[zh_CN]=Python 数据引擎
Name[zh_TW]=Python 資料引擎
Comment=Plasma data engine support for Python
Comment[ar]=دعم محرك بيانات بلازما للبايثون
Comment[be@latin]=Absłuhoŭvańnie systemy źviestak „Plasma” u movie „Python”
Comment[ca]=Implementació de motor de dades del Plasma per al Python
Comment[de]=Unterstützung für Plasma-Datentreiber in Python
Comment[el]=Υποστήριξη μηχανής δεδομένων Plasma για την Python
Comment[es]=Soporte del motor de datos de plasma para Python
Comment[et]=Plasma andmemootori toetus Pythonile
Comment[gl]=Motor de datos de Plasma para dar soporte a Python
Comment[gu]=પાયથોન માટે પ્લાઝમા માહિતી એન્જિન આધાર
Comment[hi]=पायथन के लिए प्लाज्मा डाटा इंजिन समर्थन
Comment[it]=Support al motore dati di Plasma per Python
Comment[ja]=Python のための Plasma データエンジンのサポート
Comment[kk]=Python деректер тетігінің Plasma қолдауы
Comment[km]=កា​រគាំទ្រ​ម៉ាស៊ីន​ទិន្នន័យ​ប្លាស្មា​សម្រាប់ Python
Comment[lv]=Plasma datu dzinēju atbalsts Python
Comment[ml]=പൈത്തിണിനുള്ള പ്ലാസ്മ വിവര എഞ്ചിന്‍ (യന്ത്രം) തുണ
Comment[nb]=Plasma datamotor-støtte for Python
Comment[nds]=Plasma-Datenkarnünnerstütten för Python
Comment[nl]=Plasma-gegevensengine-ondersteuning voor Python
Comment[pt]=Suporte para os motores de dados do Plasma em Python
Comment[pt_BR]=Suporte para os motores de dados do Plasma em Python
Comment[sv]=Plasma datagränssnittstöd för Python
Comment[th]=กลไกข้อมูลของพลาสมาที่เป็นภาษาไพธอน
Comment[tr]=Python için Plasma veri motoru desteği
Comment[uk]=Підтримка у рушіях даних для Python
Comment[x-test]=xxPlasma data engine support for Pythonxx
Comment[zh_CN]=Python 的 Plasma 数据引擎支持
Comment[zh_TW]=支援 Python 的 Plasma 資料引擎

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pydataengine.py
X-EngineName=pythondataengine
X-Plasma-API=python
X-Plasma-PackageFormat=Pythoid
X-Plasma-ComponentTypes=DataEngine
