[Wallpaper]
File=stripes.png
Name=Stripes
Name[ca]=Bandes
Name[ca@valencia]=Bandes
Name[da]=Striber
Name[de]=Streifen
Name[en_GB]=Stripes
Name[fr]=Bandes
Name[ia]=Listas
Name[id]=Belang
Name[it]=Strisce
Name[kk]=Жолақтар
Name[km]=ឆ្នូត​
Name[lt]=Juostelės
Name[nds]=Striepen
Name[nl]=Strepen
Name[pa]=ਸਟਰਿੰਪਸ
Name[pt]=Barras
Name[pt_BR]=Riscas
Name[sv]=Ränder
Name[uk]=Смуги
Name[x-test]=xxStripesxx
Name[zh_CN]=Stripes
Name[zh_TW]=條紋

ImageType=pixmap
Author=Ivan Čukić
