[Wallpaper]
File=stripes.png
Name=Stripes
Name[ca]=Bandes
Name[da]=Striber
Name[pt]=Barras
Name[uk]=Смуги
Name[x-test]=xxStripesxx

ImageType=pixmap
Author=Ivan Čukić
