[Desktop Entry]
Name=DBpedia queries
Name[be@latin]=Zapyty ŭ „DBpedia”
Name[ca]=Consultes a la DBpedia
Name[de]=DBpedia-Abfragen
Name[el]=Ερωτήματα DBpedia
Name[es]=Consultas DBpedia
Name[et]=DBpedia päringud
Name[gl]=Pesquisas na DBpedia
Name[gu]=DBpedia પ્રશ્નો
Name[it]=Query DBpedia
Name[ja]=DBpedia クエリ
Name[kk]=DBpedia сұраныстары
Name[km]=សំណួរ DBpedia
Name[lv]=DBpedia vaicājumi
Name[ml]=ഡിബിപീഡിയ അന്വേഷണങ്ങള്‍
Name[nds]=DBpedia-Affragen
Name[pt]=Pesquisas no DBpedia
Name[pt_BR]=Pesquisas no DBpedia
Name[sv]=Förfrågningar till DBpedia
Name[tr]=DBpedia sorguları
Name[uk]=Запити DBpedia
Name[x-test]=xxDBpedia queriesxx
Name[zh_CN]=DBpedia 查询
Name[zh_TW]=DBpedia 查詢
Comment=DBpedia data for Plasmoids
Comment[be@latin]=Źviestki „DBpedia” dla widžetaŭ „Plasma”
Comment[ca]=Dades de la DBpedia per als Plasmoides
Comment[de]=DBpedia-Daten für Plasmoide
Comment[el]=Δεδομένα DBpedia για πλασμοειδή
Comment[es]=Datos DBpedia para los plasmoides
Comment[et]=DBpedia andmed plasmoididele
Comment[gl]=Datos de DBPedia para os Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે DBpedia માહિતી
Comment[it]=Dati di DBpedia per i plasmoidi
Comment[ja]=プラズモイドのための DBpedia データ
Comment[kk]=Плазмоидтерге DBpedia деректері
Comment[km]=ទិន្នន័យ DBpedia សម្រាប់ Plasmoids
Comment[lv]=DBpedia dati priekš Plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനുള്ള ഡിബിപീഡിയ ഡാറ്റ
Comment[nds]=DBpedia-Daten för Lüttprogrammen
Comment[pt]=Dados do DBpedia para os Plasmóides
Comment[pt_BR]=Dados do DBpedia para os Plasmóides
Comment[sv]=Data från DBpedia för Plasmoider
Comment[tr]=Plasma programcıkları için DBpedia verileri
Comment[uk]=Дані DBPedia для Плазмоїдів
Comment[x-test]=xxDBpedia data for Plasmoidsxx
Comment[zh_CN]=Plasma 部件的 DBpedia 数据
Comment[zh_TW]=Plasmoids 的 DBpedia 資料
Type=Service
ServiceTypes=Plasma/DataEngine
X-Plasma-API=ruby-script

X-KDE-PluginInfo-Author=Richard Dale
X-KDE-PluginInfo-Email=richard.j.dale@gmail.com
X-KDE-PluginInfo-Name=dbpedia-albums
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Semantic Web
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
