[Desktop Entry]
Name=DBpedia queries
Name[ar]=استعلامات DBpedia
Name[be@latin]=Zapyty ŭ „DBpedia”
Name[bg]=Търсене в DBpedia
Name[ca]=Consultes a la DBpedia
Name[da]=DBpedia-forespørgsler
Name[de]=DBpedia-Abfragen
Name[el]=Ερωτήματα DBpedia
Name[es]=Consultas DBpedia
Name[et]=DBpedia päringud
Name[eu]=DBpedia kontsultak
Name[fr]=Requêtes DBpedia
Name[ga]=Iarratais DBpedia
Name[gl]=Procuras na DBpedia
Name[gu]=DBpedia પ્રશ્નો
Name[hi]=डीबीपीडिया क्वैरी
Name[is]=DBpedia fyrirspurnir
Name[it]=Query DBpedia
Name[ja]=DBpedia クエリ
Name[kk]=DBpedia сұраныстары
Name[km]=សំណួរ DBpedia
Name[ko]=DBpedia 쿼리
Name[lv]=DBpedia vaicājumi
Name[ml]=ഡിബിപീഡിയ അന്വേഷണങ്ങള്‍
Name[mr]=DBpedia प्रश्न
Name[nb]=DBpedia-forespørsler
Name[nds]=DBpedia-Affragen
Name[nl]=DBpedia-queries
Name[or]=DBpedia ପ୍ରଶ୍ନଗୁଡ଼ିକ
Name[pa]=DBpedia ਕਿਊਰੀਆਂ
Name[pl]=Zapytania DBpedii
Name[pt]=Pesquisas no DBpedia
Name[pt_BR]=Pesquisas no DBpedia
Name[ro]=Interogări DBpedia
Name[sk]=DBpedia dopyty
Name[sl]=Poizvedbe DBpedia
Name[sr]=упити ДБ‑педије
Name[sr@latin]=upiti DBpedije
Name[sv]=Förfrågningar till DBpedia
Name[te]=DBpedia క్వరీలు
Name[tg]=Дархостҳои DBpedia
Name[th]=ค้นข้อมูล DBpedia
Name[tr]=DBpedia sorguları
Name[uk]=Запити DBpedia
Name[x-test]=xxDBpedia queriesxx
Name[zh_CN]=DBpedia 查询
Name[zh_TW]=DBpedia 查詢
Comment=DBpedia data for Plasmoids
Comment[ar]=بيانات DBpedia للبلازمويدات
Comment[be@latin]=Źviestki „DBpedia” dla widžetaŭ „Plasma”
Comment[bg]=Информация от DBpedia (Plasmoids)
Comment[bn_IN]=Plasmoids-র জন্য DBpedia-র তথ্য
Comment[ca]=Dades de la DBpedia per als Plasmoides
Comment[csb]=Pòdôwczi DBpedia dlô plazmoidów
Comment[da]=DBpedia-data til plasmoids
Comment[de]=DBpedia-Daten für Plasmoide
Comment[el]=Δεδομένα DBpedia για πλασμοειδή
Comment[es]=Datos DBpedia para los plasmoides
Comment[et]=DBpedia andmed plasmoididele
Comment[eu]=DBpedia datuak Plasmoidentzako
Comment[fr]=Données de DBpedia pour les plasmoïdes
Comment[fy]=DBpedia gegevens foar Plasmoids
Comment[ga]=Sonraí DBpedia le haghaidh Plasmoids
Comment[gl]=Datos de DBPedia para os Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે DBpedia માહિતી
Comment[hi]=प्लाज्माइड्स के लिए डीबीपीडिया डाटा
Comment[is]=DBpedia gögn fyrir Plasmadót
Comment[it]=Dati di DBpedia per i plasmoidi
Comment[ja]=プラズモイドのための DBpedia データ
Comment[kk]=Плазмоидтерге DBpedia деректері
Comment[km]=ទិន្នន័យ DBpedia សម្រាប់ Plasmoids
Comment[ko]=Plasmoid를 위한 DBpedia 데이터
Comment[ku]=Dane yên DBpedia ji bo Plasmoidan
Comment[lv]=DBpedia dati priekš Plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനുള്ള ഡിബിപീഡിയ ഡാറ്റ
Comment[mr]=Plasmoids करीता DBpedia माहिती
Comment[nb]=DBpediadata for plasmoider
Comment[nds]=DBpedia-Daten för Lüttprogrammen
Comment[nl]=DBpediagegevens voor Plasmoids
Comment[or]=Plasmoids ପାଇଁ DBpedia ତଥ୍ୟ
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ DBpedia ਡਾਟਾ
Comment[pl]=Dane DBpedii dla plazmoidów
Comment[pt]=Dados do DBpedia para os Plasmóides
Comment[pt_BR]=Dados do DBpedia para os Plasmoids
Comment[ro]=Date DBpedia pentru plasmoizi
Comment[sk]=DBpedia údaje pre plazmoidy
Comment[sl]=Podatki DBpedia za gradnike
Comment[sr]=Подаци из ДБ‑педије за плазмоиде
Comment[sr@latin]=Podaci iz DBpedije za plazmoide
Comment[sv]=Data från DBpedia för Plasmoider
Comment[tg]=Маълумоти DBpedia барои плазмоидҳо
Comment[th]=ข้อมูล DBpedia สำหรับ Plasmoids
Comment[tr]=Plasma programcıkları için DBpedia verileri
Comment[uk]=Дані DBPedia для Плазмоїдів
Comment[x-test]=xxDBpedia data for Plasmoidsxx
Comment[zh_CN]=Plasma 部件的 DBpedia 数据
Comment[zh_TW]=Plasmoids 的 DBpedia 資料
Type=Service
ServiceTypes=Plasma/DataEngine
X-Plasma-API=ruby-script
X-Plasma-MainScript=code/main.rb

X-KDE-PluginInfo-Author=Richard Dale
X-KDE-PluginInfo-Email=richard.j.dale@gmail.com
X-KDE-PluginInfo-Name=dbpedia-albums
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Semantic Web
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
