[KDE Desktop Program]
Command=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
Comment=XPlanet by Hari Nair
Comment[af]=XPlaneet deur Hari Nair
Comment[ar]=الكوكب المجهول اعداد Hari Nair
Comment[ast]=XPlanet por Hari Nair
Comment[be]=Планета (Hari Nair)
Comment[be@latin]=XPlanet (aŭtar Hari Nair)
Comment[bg]=XPlanet
Comment[bn]=হরি নায়ার-এর এক্স-প্ল্যানেট
Comment[bn_IN]=হরি নায়ের দ্বারা নির্মিত XPlanet
Comment[br]=XPlanet gant Hari Nair
Comment[bs]=Iks‑planeta Harija Naira
Comment[ca]=XPlanet per Hari Nair
Comment[ca@valencia]=XPlanet per Hari Nair
Comment[cs]=XPlanet (Hari Nair)
Comment[csb]=XPlanet by Hari Nair
Comment[cy]=XPlanet gan Hari Nair
Comment[da]=XPlanet af Hari Nair
Comment[de]=XPlanet von Hari Nair
Comment[el]=XPlanet από Hari Nair
Comment[en_GB]=XPlanet by Hari Nair
Comment[eo]=XPlanedo de Hari Nair
Comment[es]=XPlanet por Hari Nair
Comment[et]=XPlanet (Hari Nair)
Comment[eu]=XPlanet, Hari Nair-ek egina
Comment[fi]=XPlanet, tekijä Hari Nair
Comment[fr]=XPlanet, par Hari Nair
Comment[fy]=XPlanet troch Hari Nair
Comment[ga]=XPlanet le Hari Nair
Comment[gl]=XPlanet por Hari Nair
Comment[gu]=XPlanet હરી નાયર વડે
Comment[he]=XPlanet על־ידי Hari Nair‎
Comment[hi]=हरी नायर द्वारा एक्स-प्लेनेट
Comment[hne]=हरी नायर के एक्सप्लेनेट
Comment[hr]=XPlanet (izr. Hari Nair)
Comment[hsb]=XPlanet by Hari Nair
Comment[hu]=XPlanet (készítette: Hari Nair)
Comment[ia]=XPlanet per Hari Nair
Comment[id]=XPlanet oleh Hari Nair
Comment[is]=XPlanet eftir Hari Nair
Comment[it]=XPlanet di Hari Nair
Comment[ja]=Hari Nair による XPlanet
Comment[ka]=Xპლანეტა (Hari Nair)
Comment[kk]=XPlanet (Хари Найрдың)
Comment[km]=XPlanet ដោយ Hari Nair
Comment[kn]=ಹರಿ ನಾಯರಿ ನಿಂದ ಕ್ಸಪ್ಲಾನೆಟ್
Comment[ko]=Hari Nair의 XPlanet
Comment[ku]=XPlanet ji Hari Nair
Comment[lt]=Hari Nair'o XPlanet
Comment[lv]=XPlanet, Hari Nair
Comment[mai]=XPlanet द्वारा हरि नायर
Comment[mk]=XПланета од Hari Nair
Comment[ml]=ഹരി നായരുടെ എക്സ് ഗൃഹം
Comment[nb]=XPlanet av Hari Nair
Comment[nds]=XPlaneet vun Hari Nair
Comment[nl]=XPlanet, door Hari Nair
Comment[nn]=XPlanet av Hari Nair
Comment[or]=Hari Nair ଦ୍ୱାରା XPlanet
Comment[pa]=ਹਰੀ ਨਾਇਰ ਵਲੋਂ XPlanet
Comment[pl]=XPlanet przez Hari Nair
Comment[pt]=XPlanet de Hari Nair
Comment[pt_BR]=XPlanet por Hari Nair
Comment[ro]=XPlanet de Hari Nair
Comment[ru]=XPlanet (Hari Nair)
Comment[si]=Hari Nair විසින් XPlanet
Comment[sk]=XPlanet (Hari Nair)
Comment[sl]=XPlanet avtorja Harija Nairja
Comment[sr]=Икс‑планета Харија Наира
Comment[sr@ijekavian]=Икс‑планета Харија Наира
Comment[sr@ijekavianlatin]=X‑planeta Harija Naira
Comment[sr@latin]=X‑planeta Harija Naira
Comment[sv]=Xplanet av Hari Nair
Comment[ta]=XPlanet by Hari Nair
Comment[te]=XPlanet by Hari Nair
Comment[tg]=Мавзӯъи XPlanet (Hari Nair)
Comment[th]=XPlanet โดย Hari Nair
Comment[tr]=Hari Nair tarafından oluşturulan XPlanet
Comment[ug]=X پىلانىت يازغۇچى Hari Nair
Comment[uk]=XPlanet від Hari Nair
Comment[uz]=XPlanet (Xari Neyr tomonidan)
Comment[uz@cyrillic]=XPlanet (Хари Нейр томонидан)
Comment[vi]=Hành tinh X bởi Hari Nair
Comment[wa]=XPlanete pal Hari Nair
Comment[xh]=XPlanet ngu Hari Nair
Comment[x-test]=xxXPlanet by Hari Nairxx
Comment[zh_CN]=X 行星，作者 Hari Nair
Comment[zh_TW]=行星（by Hari Nair）
Executable=xplanet
PreviewCommand=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
Refresh=10
