[Desktop Entry]
Name=Write Daemon
Comment=Watch for messages from local users sent with write(1) or wall(1)
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kwrited
X-KDE-DBus-ModuleName=kwrited
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
