[Desktop Entry]
Encoding=UTF-8
Name=Find
Name[af]=Soek
Name[be]=Знайсці
Name[bg]=Търсене
Name[br]=Klask
Name[ca]=Cerca
Name[cs]=Najít
Name[csb]=Szëkba
Name[cy]=Canfod
Name[de]=Suchen
Name[el]=Αναζήτηση
Name[eo]=Trovu
Name[es]=Buscar
Name[et]=Otsing
Name[eu]=Bilatu
Name[fa]=یافتن
Name[fi]=Etsi
Name[fr]=Recherche
Name[fy]=Sykje
Name[ga]=Aimsigh
Name[gl]=Procurar
Name[he]=מצא
Name[hr]=Traži
Name[hu]=Keresés
Name[is]=Leita
Name[it]=Trova
Name[ja]=検索
Name[ka]=ძიება
Name[kk]=Іздеп табу
Name[km]=រក
Name[lt]=Rasti
Name[lv]=Meklēt
Name[mk]=Најди
Name[ms]=Cari
Name[nb]=Finn
Name[nds]=Söken
Name[ne]=फेला पार्नुहोस्
Name[nl]=Zoeken
Name[nn]=Finn
Name[pa]=ਖੋਜ
Name[pl]=Wyszukiwanie
Name[pt]=Procurar
Name[pt_BR]=Procurar
Name[ro]=Caută
Name[ru]=Поиск
Name[se]=Oza
Name[sl]=Najdi
Name[sr]=Нађи
Name[sr@latin]=Nađi
Name[sv]=Sök
Name[ta]=தேடு
Name[te]=వెతుకు
Name[tg]=Кофтан
Name[tr]=Bul
Name[uk]=Пошук
Name[uz]=Қидириш
Name[wa]=Trover
Name[x-test]=xxFindxx
Name[zh_TW]=尋找
Comment=Quickly start a file or web search
Comment[be]=Меню для запуску пошуку файлаў ці ў Сеціве
Comment[bg]=Меню за стартиране на файл или търсене в Интернет
Comment[csb]=Menu naczãca szëkbë w sécë abò lopków
Comment[de]=Menü zur Datei- oder Websuche
Comment[el]=Γρήγορη εκκίνηση ενός αρχείου ή αναζήτηση στον ιστό
Comment[fa]=آغاز سریع یک پرونده یا جستجوی وب
Comment[ja]=ファイルの検索やウェブ検索を素早く開始
Comment[km]=ចាប់​ផ្តើម​ឯកសារ​យ៉ាង​រហ័ស ឬ​ស្វែងរកតាម​​បណ្តាញ
Comment[nds]=Gau na Dateien oder in't Nett söken
Comment[nl]=Menu voor het zoeken naar bestanden of op internet
Comment[pa]=ਇੱਕ ਫਾਇਲ ਜਾਂ ਵੈੱਬ ਖੋਜ ਤੁਰੰਤ ਸ਼ੁਰੂ ਕਰੋ
Comment[pt]=Um menu para iniciar uma pesquisa de ficheiros ou na Web
Comment[pt_BR]=Um menu para iniciar uma pesquisa de ficheiros ou na Web
Comment[sv]=Starta snabbt en fil- eller webbsökning
Comment[x-test]=xxQuickly start a file or web searchxx
Comment[zh_TW]=快速啟動檔案或網頁搜尋
Icon=kfind

X-KDE-Library=kickermenu_find
