[Desktop Entry]
Encoding=UTF-8
Exec=kfind %f
Icon=kfind
DocPath=kfind/index.html
Path=
Type=Application
Terminal=false
Name=Find Files
Name[af]=Soek Lêers
Name[ar]=ابحث عن ملفات
Name[be]=Шукаць файлы
Name[bg]=Търсене на файлове
Name[br]=Klask restroù
Name[ca]=Cerca fitxers
Name[cs]=Najít soubory
Name[csb]=Nalezë lopczi
Name[cy]=Canfod Ffeiliau
Name[da]=Find filer
Name[de]=Dateien suchen
Name[el]=Αναζήτηση αρχείων
Name[eo]=Trovu dosierojn
Name[es]=KFind
Name[et]=Failide otsimine
Name[eu]=Bilatu fitxategiak
Name[fa]=یافتن پرونده‌ها
Name[fi]=Etsi tiedostoja
Name[fr]=Recherche de fichiers
Name[fy]=Triemmen sykje
Name[ga]=Aimsigh Comhaid
Name[gl]=Buscar Ficheiros
Name[he]=חפש קבצים
Name[hr]=Traži datoteke
Name[hu]=Fájlkereső
Name[is]=Finna skrár
Name[it]=Trova file
Name[ja]=ファイルを検索
Name[ka]=ფაილთა ძიება
Name[kk]=Файлдарды табу
Name[km]=រក​ឯកសារ
Name[ko]=파일 찾기
Name[lt]=Rasti bylas
Name[lv]=Meklēt Failus
Name[mk]=Пронајди датотеки
Name[ms]=Cari Fail
Name[nb]=Finn filer
Name[nds]=Dateien söken
Name[ne]=फाइल फेला पार्नुहोस्
Name[nl]=Bestanden zoeken
Name[nn]=Finn filer
Name[pa]=ਫਾਇਲ ਖੋਜ
Name[pl]=Znajdź pliki
Name[pt]=Procurar Ficheiros
Name[pt_BR]=Procurar arquivos
Name[ro]=Caută fişiere
Name[ru]=Поиск файлов
Name[se]=Oza fiillaid
Name[sl]=Najdi datoteke
Name[sr]=Претрага фајлова
Name[sr@Latn]=Pretraga fajlova
Name[sv]=Hitta filer
Name[ta]=கோப்புகளைக் கண்டுபிடி
Name[tg]=Ёфтани файлҳо
Name[tr]=Dosyalarda Bul
Name[uk]=Пошук файлів
Name[uz]=Файлларни қидириш
Name[x-test]=xxFind Filesxx
Name[xh]=Fumana Iifayile
Name[zh_TW]=尋找檔案
X-KDE-StartupNotify=true
Categories=Qt;KDE;Find;
