[Desktop Entry]
Name=paste.opensuse.org
Name[ast]=paste.opensuse.org
Name[ca]=paste.opensuse.org
Name[de]=paste.opensuse.org
Name[en_GB]=paste.opensuse.org
Name[es]=paste.opensuse.org
Name[et]=paste.opensuse.org
Name[hr]=paste.opensuse.org
Name[ia]=paste.opensuse.org
Name[ja]=paste.opensuse.org
Name[ko]=paste.opensuse.org
Name[lt]=paste.opensuse.org
Name[nb]=paste.opensuse.org
Name[nds]=paste.opensuse.org
Name[nl]=paste.opensuse.org
Name[pa]=paste.opensuse.org
Name[pt]=paste.opensuse.org
Name[pt_BR]=paste.opensuse.org
Name[ru]=paste.opensuse.org
Name[sv]=paste.opensuse.org
Name[tg]=paste.opensuse.org
Name[tr]=paste.opensuse.org
Name[uk]=paste.opensuse.org
Name[x-test]=xxpaste.opensuse.orgxx
Name[zh_TW]=paste.opensuse.org
Comment=Paste text with openSUSE
Comment[ast]=Apegar testu con openSUSE
Comment[ca]=Enganxa text amb openSUSE
Comment[de]=Text auf paste.opensuse.org veröffentlichen
Comment[en_GB]=Paste text with openSUSE
Comment[es]=Pegar texto con openSUSE
Comment[et]=Teksti asetamine openSUSE abil
Comment[hr]=Zalijepi tekst pomoću openSUSE-a
Comment[ia]=Collar texto con openSUSE
Comment[ja]=openSUSE でテキストを貼りつける
Comment[ko]=openSUSE 텍스트 공유 서비스
Comment[nb]=Lim inn tekst med openSUSE
Comment[nds]=Text op openSUSE praatstellen
Comment[nl]=Plak tekst met openSUSE
Comment[pt]=Colar texto com o openSUSE
Comment[pt_BR]=Colar texto com o openSUSE
Comment[ru]=Позволяет публиковать текст на сервере openSUSE
Comment[sv]=Klistra in text med openSUSE
Comment[tg]=Часпондани матн бо openSUSE
Comment[uk]=Вставити фрагмент тексту з openSUSE
Comment[x-test]=xxPaste text with openSUSExx
Comment[zh_TW]=用 openSUSE 貼上文字
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pasteopensuseorg
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@suse.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

