[Desktop Entry]
Encoding=UTF-8
Name=@gadget_readable_name@
Comment=@gadget_comment@
X-KDE-PluginInfo-Name=@gadget_name@
X-KDE-PluginInfo-Author=Google
Icon=google-gadgets
Type=Service
X-KDE-Plasmagik-ApplicationName=
X-KDE-Plasmagik-RequiredVersion=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=googlegadgets
