[Desktop Entry]
Name=Google Gadgets
Name[ar]=ودجات جوجل
Name[ast]=Gadgets de Google
Name[be@latin]=Gadžety „Google”
Name[bg]=Джаджи от Google
Name[bn]=গুগল্ গ্যাজেট্‌স
Name[bn_IN]=Google Gadgets
Name[bs]=Guglove spravice
Name[ca]=Google Gadgets
Name[ca@valencia]=Google Gadgets
Name[cs]=Google Gadgets
Name[csb]=Gadżetë z Google
Name[da]=Google Gadgets
Name[de]=Google Gadgets (Miniprogramme)
Name[el]=Συστατικά Google
Name[en_GB]=Google Gadgets
Name[eo]=Akcesoraĵo de Google 
Name[es]=Gadgets de Google
Name[et]=Google Gadgets
Name[eu]=Google Gadgets
Name[fi]=Google-sovelmat
Name[fr]=Gadgets Google
Name[fy]=Google Gadgets
Name[ga]=Giuirléidí Google
Name[gl]=Gadgets de Google
Name[gu]=ગુગલ ગેજેટ્સ
Name[he]=ג׳אדג׳טים של גוגל
Name[hi]=गूगल गॅजेट्स
Name[hne]=गूगल गजेट
Name[hr]=Google gadgeti
Name[hu]=Google Gadgets
Name[ia]=Gadgets de Google
Name[id]=Google Gadgets
Name[is]=Google dót
Name[it]=Gadget di Google
Name[ja]=Google ガジェット
Name[kk]=Google аспаптары
Name[km]=ឧបករណ៍​​តាម​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ಯಂತ್ರೋಪಕರಣಗಳು
Name[ko]=Google 가젯
Name[ku]=Nûçeyên Google
Name[lt]=Google valdikliai
Name[lv]=Google sīkrīki
Name[mk]=Google Gadgets
Name[ml]=ഗൂഗിള്‍ ഗാഡ്ജറ്റുകള്‍
Name[mr]=Google उपकरण
Name[nb]=Google-greier
Name[nds]=Google-Lüttprogrammen
Name[nl]=Google-gadgets
Name[nn]=Google-tenester
Name[or]=Google ମେସିନ
Name[pa]=Google ਗੈਜਿੱਟ
Name[pl]=Gadżety Google
Name[pt]=Google Gadgets
Name[pt_BR]=Gadgets do Google
Name[ro]=Google Gadgets
Name[ru]=Гаджеты Google
Name[si]=ගූගල් ගැජට්ටු
Name[sk]=Google Gadgets
Name[sl]=Google Gadgets
Name[sr]=Гуглове справице
Name[sr@ijekavian]=Гуглове справице
Name[sr@ijekavianlatin]=Googleove spravice
Name[sr@latin]=Googleove spravice
Name[sv]=Googlegrejer
Name[ta]=Google Gadgets
Name[te]=గూగుల్ గేడ్జెట్స్
Name[tg]=Механизмҳои Google
Name[th]=แกดเจ็ตของกูเกิ้ล
Name[tr]=Google Araçları
Name[ug]=Google Gadgets
Name[uk]=Гаджети Google
Name[wa]=Tchitchetes Google
Name[x-test]=xxGoogle Gadgetsxx
Name[zh_CN]=Google 小工具
Name[zh_TW]=Google小工具
Comment=Google Desktop Gadget
Comment[ar]=ودجات سطح المكتب من جوجل
Comment[ast]=Gadget d'escritoriu de Google
Comment[be@latin]=Gadžet rabočaha stała „Google”
Comment[bg]=Настолни джаджи от Google
Comment[bn]=গুগল ডেস্কটপ গ্যাজেট
Comment[bs]=Guglove spravice za površ
Comment[ca]=Google Gadget d'escriptori
Comment[ca@valencia]=Google Gadget d'escriptori
Comment[cs]=Google Desktop Gadget
Comment[csb]=Gadżetë pùltu Google
Comment[da]=Gadgets til skrivebordet fra Google
Comment[de]=Google-Arbeitsflächen-Miniprogramm
Comment[el]=Συστατικό Google επιφάνειας εργασίας
Comment[en_GB]=Google Desktop Gadget
Comment[eo]=Akcesoraĵo de Google por Labortablo
Comment[es]=Gadget de escritorio de Google
Comment[et]=Google'i töölauavidin
Comment[eu]=Google-ren mahaigaineko gadget-a
Comment[fi]=Google-työpöytäsovelmat
Comment[fr]=Gadget de bureau Google
Comment[fy]=Google Buroblêd Gadget
Comment[ga]=Giuirléid Deisce Google
Comment[gl]=Gadget de Google para o escritorio
Comment[gu]=ગુગલ ડેસ્કટોપ ગેજેટ
Comment[he]=ג׳אדג׳ט של Google Desktop
Comment[hi]=गूगल डेस्कटॉप गज़ेट
Comment[hne]=गूगल डेस्कटाप गजेट
Comment[hr]=Google gadget radne površine
Comment[hu]=Google asztali elemek
Comment[ia]=Gadget de scriptorio de Google
Comment[id]=Google Desktop Gadget
Comment[is]=Google skjáborðsdót
Comment[it]=Gadget di Google Desktop
Comment[ja]=Google デスクトップガジェット
Comment[kk]=Google Үстел аспабы
Comment[km]=ឧបករណ៍​ផ្ទៃតុ​ហ្គូហ្គល​
Comment[kn]=ಗೂಗಲ್ ಗಣಕತೆರೆ ಯಂತ್ರೋಪಕರಣ
Comment[ko]=Google 데스크톱 가젯
Comment[lt]=Google darbastalio valdiklis
Comment[lv]=Google darbvirsmas sīkrīks
Comment[ml]=ഗൂഗിള്‍ പണിയിട ഗാഡ്ജറ്റ്
Comment[mr]=Google डेस्कटॉप उपकरण
Comment[nb]=Google skrivebordsdings
Comment[nds]=Schriefdischlüttprogramm vun Google
Comment[nl]=Google-bureaubladgadget
Comment[nn]=Google-skrivebordsteneste
Comment[or]=Google ଡ଼େସ୍କଟପ ମେସିନ
Comment[pa]=ਗੂਗਲ ਡੈਸਕਟਾਪ ਗੈਜਿੱਟ
Comment[pl]=Gadżet Google na pulpicie
Comment[pt]='Gadget' do Google Desktop
Comment[pt_BR]=Gadget do Google Desktop
Comment[ro]=Gadget de birou Google
Comment[ru]=Гаджет Google для рабочего стола
Comment[si]=ගූගල් වැඩතල ගැජට්ටු
Comment[sk]=Google Desktop Gadget
Comment[sl]=Gradnik Google Gadget
Comment[sr]=Гуглове справице за површ
Comment[sr@ijekavian]=Гуглове справице за површ
Comment[sr@ijekavianlatin]=Googleove spravice za površ
Comment[sr@latin]=Googleove spravice za površ
Comment[sv]=Google skrivbordsgrejer
Comment[ta]=Google Desktop Gadget
Comment[te]=గూగుల్ డెస్‍క్ టాప్ గేడ్జెట్
Comment[tg]=Механизмҳои мизи кории Google
Comment[th]=แกดเจ็ตพื้นที่ทำงานของกูเกิ้ล
Comment[tr]=Google Masaüstü Aracı
Comment[ug]=گۇگىل ئۈستەلئۈستى Gadget
Comment[uk]=Гаджет стільниці Google
Comment[wa]=Tchitchete Google pol sicribanne
Comment[x-test]=xxGoogle Desktop Gadgetxx
Comment[zh_CN]=Google 桌面小工具
Comment[zh_TW]=Google桌面小工具
Type=Service
Icon=google-gadgets
X-KDE-PluginInfo-Name=googlegadgets
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_ggl
X-Plasma-PackageFileFilter=*.gg
X-Plasma-ProvidesWidgetBrowser=true
