[Desktop Entry]
Encoding=UTF-8
Name=KRandRTray
Name[x-test]=xxKRandRTrayxx
GenericName=Screen Resize & Rotate
GenericName[fr]=Redimensionnement et rotation de l'écran
GenericName[x-test]=xxScreen Resize & Rotatexx
Comment=A panel applet for resizing and reorientating X screens.
Exec=krandrtray
Icon=randr
Type=Application
OnlyShowIn=KDE;
Categories=Qt;KDE;System;
