[Desktop Entry]
Encoding=UTF-8
Name=Screen Resize & Rotate
Name[es]=Redimensionar y rotar
Name[fr]=Redimensionner et faire pivoter
Name[ja]=サイズ変更と回転
Name[pt]=Mudar Tamanho e Rodar
Name[pt_BR]=Redimensionar e Rotacionar
Name[ru]=Изменить размер и вращать
Name[sv]=Ändra storlek och rotera
Name[xh]=Yenz aubungakanani kwakhona Ujikelezise
Name[zh_CN]=改变大小并旋转
Name[zh_TW]=改變大小並翻轉
Name[zu]=Shintsha usayizi ebese Ujikelezisa
Comment=A panel applet for resizing and reorienting X screens.
Comment[es]=Un applet del panel para redimensionar y reorientar las pantallas de X
Comment[fr]=Un applet du tableau de bord pour redimensionner et réorienter les écrans X.
Comment[ja]=X スクリーンをサイズ変更、方向変換するパネルアプレット
Comment[pt]=Um 'applet' de painel para mudar o tamanho e a orientação de ecrãs X.
Comment[pt_BR]=Um miniaplicativo do painel para redimensionar e reorientar telas do X.
Comment[ru]=Аплет панели, позволяющий изменять размеры и переопределять положение экранов сервера X.
Comment[sv]=Ett miniprogram för att ändra storlek och orientering på X-skärmar.
Comment[xh]=Iqela lenjongo ethile lokwenza ubungakanani kwakhona nohlengahlengiso kwakhona kwekhusi lika X.
Comment[zh_CN]=改变 X 屏幕大小和方向的面板程序。
Comment[zh_TW]=改變大小並適應 X screens 的面板程式。
Comment[zu]=Iwindi lemininingwane le-applet yokushintsha usayizi kabusha kanye kokwazisa kabusha izikrini ze- 
Exec=krandrtray
Icon=kscreensaver
Type=Application
