[Desktop Entry]
Icon=randr
Type=Application
Exec=kcmshell randr
X-KDE-ModuleType=Library
X-KDE-Library=randr
X-KDE-Init=randr

Name=Size & Orientation
Name[be]=Памеры і арыентацыя
Name[bg]=Размер и ориентация
Name[ca]=Mida i orientació
Name[cs]=Velikost a orientace
Name[cy]=Maint & Cyfeiriad
Name[da]=Størrelse & Orientering
Name[de]=Größe & Orientierung
Name[el]=Μέγεθος & Προσανατολισμός
Name[es]=Tamaño y orientación
Name[et]=Suurus ja orientatsioon
Name[eu]=Tamaina & orientazioa
Name[fi]=Koko ja suunta
Name[fr]=Taille et orientation
Name[gl]=Tamaño e Orientación
Name[he]=גודל וכיוון
Name[hi]=आकार & दिशा निर्धारण
Name[hu]=Képernyőfelbontás
Name[it]=Dimensione e orientazione
Name[nb]=Størrelse og orientering
Name[nl]=Grootte en oriëntatie
Name[pl]=Rozmiar i orientacja
Name[pt]=Tamanho e Orientação
Name[pt_BR]=Tamanho & Orientação
Name[ro]=Mărime şi orientare
Name[sk]=Veľkosť a orientácia
Name[sl]=Velikost in orientacija
Name[sr]=Величина и оријентација
Name[sv]=Storlek och orientering
Name[tr]=Konum & Boyut
Name[uk]=Розмір та орієнтація
Name[uz]=Катталиги ва жойлашиши
Name[vi]=Cỡ & Hướng
Name[wa]=Grandeu eyet oryintåcion
Name[xx]=xxSize & Orientationxx
Name[zh_TW]=尺寸及定位

Comment=Resize and Rotate your display
Comment[bg]=Настройки на размера и завъртането на екрана
Comment[ca]=Amida i rota la vostra vista
Comment[cs]=Změna velikosti a rotace obrazovky
Comment[cy]=Newid Maint a Cylchdroi eich dangosydd
Comment[da]=Ændrer størrelse og roterer din visning
Comment[de]=Die Größe und Ausrichtung der Anzeige ändern
Comment[el]=Αλλαγή μεγέθους και Περιστροφή της οθόνης σας
Comment[es]=Ajustar el tamaño y rotar la pantalla
Comment[et]=Oma vaate suuruse muutmine ja pööramine
Comment[eu]=Aldatu tamaina eta biratu zure pantaila
Comment[fi]=Resoluution muuttaminen ja ruudun kääntäminen
Comment[fr]=Redimensionner et Tourner votre affichage
Comment[gl]=Redimensionar e rotar a súa pantalla
Comment[he]=שנה את גודלה של התצוגה שלך וסובב אותה
Comment[hi]=अपने प्रकटन(डिस्प्ले) का आकार बदलें तथा घुमाएँ 
Comment[hu]=A képernyő átméretezése, elforgatása
Comment[it]=Ridimensiona e ruota il tuo display
Comment[nb]=Gi skjermen ny størrelse og roter den
Comment[nl]=Wijzig de schermgrootte en roteer deze
Comment[pl]=Zmiana rozmiaru i obrócenie ekranu
Comment[pt]=Redimensione e rode o seu ecrã
Comment[pt_BR]=Redimensiona e Rotaciona a sua tela
Comment[ro]=Redimensionează şi roteşte ecranul dumneavoastră
Comment[sk]=Zmení veľkosť a otočí váš displej
Comment[sl]=Spremenite velikost in obrnite zaslon
Comment[sr]=Промените величину и оријентацију вашег екрана
Comment[sv]=Storleksändring och rotation av skärmen
Comment[tr]=Ekranı boyutlandır ve çevir
Comment[uk]=Зміна розміру та обертання дисплею
Comment[uz]=Экранинг катталигини ўзгартириш ва айлантириш
Comment[vi]=Đổi cỡ và Quay màn hình của bạn
Comment[wa]=Candjî l' grandeu eyet tourner li håynaedje
Comment[xx]=xxResize and Rotate your displayxx
Comment[zh_TW]=調整大小及旋轉你的螢幕

Keywords=resize,rotate,display,color,depth,size,horizontal,vertical
Keywords[bg]=ротация,завъртане,екран,размер,промяна,resize,rotate,display,color,depth,size,horizontal,vertical
Keywords[ca]=amida,rota,pantalla,color,profunditat,mida,horitzontal,vertical
Keywords[cs]=velikost,rotace,obrazovka,barva,hloubka,horizontální,vertikální
Keywords[cy]=newid maint,cylchdroi,dangos,lliw,dyfnder,maint,llorweddol,fertigol
Keywords[da]=ændr,rotér,visning,farve,dybde,størrelse,vandret,lodret
Keywords[de]=Größe ändern,rotieren,anzeigen,Farbe,Tiefe,Größe,horizontal,vertikal,waagrecht,senkrecht
Keywords[el]=αλλαγή μεγέθους,περιστροφή,οθόνη,χρώμα,βάθος,μέγεθος,οριζόντια,κάθετα
Keywords[en_GB]=resize,rotate,display,colour,depth,size,horizontal,vertical
Keywords[es]=redimensionar,rotar,mostrar,color,colores,tamaño,horizontal,vertical
Keywords[et]=suuruse muutmine,pööramine,vaade,värv,sügavus,suurus,horisontaalne,vertikaalne
Keywords[fi]=vaihda kokoa,käännä,näyttö,väri,syvyys,koko,vaakasuora,pystysuora
Keywords[fr]=redimensionner,rotation,affichage,couleur,profondeur,taille, horizontal,vertical
Keywords[gl]=redimensionar,rotar,pantalla,cor,resolución,tamaño,horizontal,vertical
Keywords[he]=שנה גודל,סובב,תצוגה,צבע,עומק,גודל,אופקי,אנכי
Keywords[hi]=नया-आकार,घुमाएँ,प्रकटन,रंग,गहराई,आकार,क्षैतिज,ऊर्ध्वाधर
Keywords[hu]=átméretezés,elforgatás,képernyő,szín,színmélység,vízszintes,függőleges
Keywords[it]=ridimensiona,ruota,schermo,colori,profondità di colore,dimensione,orizzontale,verticale
Keywords[nb]=størrelse,rotere,skjerm,farge,dybde,vannrett,loddrett
Keywords[nl]=grootte wijzigen,roteren,draaien,display,beeldscherm,scherm,monitor,diepte,grootte,horizontaal,verticaal
Keywords[pl]=zmiana rozmiaru,obrót,orientacja,rozmiar,ekran,kolor,kolory,głębokość kolorów,liczba kolorów,pionowo,poziomo
Keywords[pt]=redimensionar,rodar,ecrã,cor,profundidade,tamanho,horizontal,vertical
Keywords[pt_BR]=redimensionar,rotacionar,display,cor,produndidade,tamanho,horizontal,vertical
Keywords[ro]=redimensionare,rotire,ecran,monitor,culoare,adîncime,mărime,orizontal,vertical
Keywords[sk]=zmena veľkosti,rotácia,displej,farba,hĺbka,veľkosť,horizontálne,vertikálne
Keywords[sl]=spremeni,velikost,zavrti,zaslon,barva,globina,navpičn,vodoravn
Keywords[sr]=resize,rotate,display,color,depth,size,horizontal,vertical,промена,величина,ротација,екран,боја,дубина,водоравно,усправно
Keywords[sv]=ändra storlek,rotera,skärm,färg,djup,storlek,horisontell,vertikal
Keywords[tr]=boyutlandır,çevir,görünüm,renk,derinlik,boyut,dikey,yatay
Keywords[uk]=зміна розміру,розмір,обертання,дисплей,колір,глибина,горизонтальний,вертикальний
Keywords[uz]=катталигини ўзгартириш,айлантириш,экран,ранг,чуқурлик,катталик,горизантал,вертикал
Keywords[vi]=đổi cỡ,quay,mành hình,màu,độ sâu,cỡ,ngang,dọc
Keywords[wa]=candjî l' grandeu,tourner,håynaedje,coleur,parfondeu,grandeu,di coûtchî,d' astampé
Keywords[xx]=xxresize,rotate,display,color,depth,size,horizontal,verticalxx
Keywords[zh_TW]=resize,rotate,display,color,depth,size,horizontal,vertical,調整大小,旋轉,螢幕,顏色,深度,尺寸,垂直,水平

Categories=Qt;KDE;
