[Desktop Entry]
Icon=randr
Type=Application
Exec=kcmshell randr
X-KDE-ModuleType=Library
X-KDE-Library=randr
X-KDE-Init=randr

Name=Size & Orientation
Name[be]=Памеры і арыентацыя
Name[bg]=Размер и ориентация
Name[ca]=Mida i orientació
Name[cs]=Velikost a orientace
Name[da]=Størrelse & Orientering
Name[de]=Größe & Orientierung
Name[el]=Μέγεθος & Προσανατολισμός
Name[es]=Tamaño y orientación
Name[et]=Suurus ja orientatsioon
Name[fi]=Koko ja suunta
Name[fr]=Taille et orientation
Name[hu]=Méret és tájolás
Name[it]=Dimensione e orientazione
Name[nb]=Størrelse og orientering
Name[nl]=Grootte en oriëntatie
Name[pt]=Tamanho e Orientação
Name[pt_BR]=Tamanho & Orientação
Name[sr]=Величина и оријентација
Name[sv]=Storlek och orientering
Name[tr]=Konum & Boyut
Name[uz]=Катталиги ва жойлашиши
Name[wa]=Grandeu eyet oryintåcion
Name[xx]=xxSize & Orientationxx

Comment=Resize and Rotate your display
Comment[bg]=Настройки на размера и завъртането на екрана
Comment[ca]=Amida i rota la vostra vista
Comment[da]=Ændrer størrelse og roterer din visning
Comment[de]=Die Größe und Ausrichtung der Anzeige ändern
Comment[el]=Αλλαγή μεγέθους και Περιστροφή της οθόνης σας
Comment[es]=Ajustar el tamaño y rotar la pantalla
Comment[et]=Oma vaate suuruse muutmine ja pööramine
Comment[fi]=Resoluution muuttaminen ja ruudun kääntäminen
Comment[hu]=A képernyő átméretezése, elforgatása
Comment[it]=Ridimensiona e ruota il tuo display
Comment[nb]=Gi skjermen ny størrelse og roter den
Comment[nl]=Wijzig de schermgrootte en roteer deze
Comment[pt]=Redimensione e rode o seu ecrã
Comment[pt_BR]=Redimensiona e Rotaciona a sua tela
Comment[sr]=Промените величину и оријентацију вашег екрана
Comment[sv]=Storleksändring och rotation av skärmen
Comment[tr]=Ekranı boyutlandır ve çevir
Comment[uz]=Экранинг катталигини ўзгартириш ва айлантириш
Comment[wa]=Candjî l' grandeu eyet tourner li håynaedje
Comment[xx]=xxResize and Rotate your displayxx

Keywords=resize,rotate,display,color,depth,size,horizontal,vertical
Keywords[bg]=ротация,завъртане,екран,размер,промяна,resize,rotate,display,color,depth,size,horizontal,vertical
Keywords[ca]=amida,rota,pantalla,color,profunditat,mida,horitzontal,vertical
Keywords[da]=ændr,rotér,visning,farve,dybde,størrelse,vandret,lodret
Keywords[de]=Größe ändern,rotieren,anzeigen,Farbe,Tiefe,Größe,horizontal,vertikal,waagrecht,senkrecht
Keywords[el]=αλλαγή μεγέθους,περιστροφή,οθόνη,χρώμα,βάθος,μέγεθος,οριζόντια,κάθετα
Keywords[en_GB]=resize,rotate,display,colour,depth,size,horizontal,vertical
Keywords[es]=redimensionar,rotar,mostrar,color,colores,tamaño,horizontal,vertical
Keywords[et]=suuruse muutmine,pööramine,vaade,värv,sügavus,suurus,horisontaalne,vertikaalne
Keywords[fi]=vaihda kokoa,käännä,näyttö,väri,syvyys,koko,vaakasuora,pystysuora
Keywords[hu]=átméretezés,elforgatás,képernyő,szín,színmélység,vízszintes,függőleges
Keywords[it]=ridimensiona,ruota,schermo,colori,profondità di colore,dimensione,orizzontale,verticale
Keywords[nb]=størrelse,rotere,skjerm,farge,dybde,vannrett,loddrett
Keywords[nl]=grootte wijzigen,roteren,draaien,display,beeldscherm,scherm,monitor,diepte,grootte,horizontaal,verticaal
Keywords[pt]=redimensionar,rodar,ecrã,cor,profundidade,tamanho,horizontal,vertical
Keywords[pt_BR]=redimensionar,rotacionar,display,cor,produndidade,tamanho,horizontal,vertical
Keywords[sr]=resize,rotate,display,color,depth,size,horizontal,vertical,промена,величина,ротација,екран,боја,дубина,водоравно,усправно
Keywords[sv]=ändra storlek,rotera,skärm,färg,djup,storlek,horisontell,vertikal
Keywords[tr]=boyutlandır,çevir,görünüm,renk,derinlik,boyut,dikey,yatay
Keywords[uz]=катталигини ўзгартириш,айлантириш,экран,ранг,чуқурлик,катталик,горизантал,вертикал
Keywords[wa]=candjî l' grandeu,tourner,håynaedje,coleur,parfondeu,grandeu,di coûtchî,d' astampé
Keywords[xx]=xxresize,rotate,display,color,depth,size,horizontal,verticalxx

Categories=Qt;KDE;X-KDE-settings-desktop
