[Desktop Entry]
Name=Simplest Image Hosting
Name[pt]=Simplest Image Hosting
Name[pt_BR]=Simplest Image Hosting
Name[uk]=Simplest Image Hosting
Name[x-test]=xxSimplest Image Hostingxx
Comment=Enables the share of images using the Simplest Image Hosting service
Comment[pt]=Activa a partilha de imagens com o serviço do Simplest Image Hosting
Comment[pt_BR]=Habilita o compartilhamento de imagens com o uso do serviço Simplest Image Hosting
Comment[uk]=Уможливлює оприлюднення зображень за допомогою служби Simplest Image Hosting
Comment[x-test]=xxEnables the share of images using the Simplest Image Hosting servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=image/*

X-KDE-PluginInfo-Name=simplestimagehosting
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

