[Desktop Entry]
Name=Device Notifier
Name[el]=Ειδοποίηση νέας συσκευής
Name[et]=Seadmete teadustaja
Name[gl]=Notificador de dispositivos
Name[gu]=ઉપકરણ નોંધ કરનાર
Name[km]=កម្មវិធី​ជូនដំណឹង​ឧបករណ៍​
Name[nds]=Bescheden över Reedschappen
Name[pt]=Notificação de Dispositivos
Name[pt_BR]=Notificação de Dispositivos
Name[sl]=Obvestila o napravah
Name[sv]=Underrättelse om enheter
Name[tr]=Aygıt Bildirici
Name[uk]=Сповіщення про пристрої
Name[zh_TW]=裝置通知
Comment=Notifications and access for new devices
Comment[el]=Ειδοποιήσεις και πρόσβαση νέων συσκευών
Comment[et]=Uutest seadmetest teatamine ja nende kasutamine
Comment[gl]=Notificacións e aceso a novos dispositivos
Comment[km]=កា​រជូន​ដំណឹង និង​ចូល​ដំណើរការ​សម្រាប់​ឧបករណ៍​ថ្មី
Comment[nds]=Bescheden un Togriep för nieg Reedschappen
Comment[pt]=Notificações e acesso aos dispositivos novos
Comment[pt_BR]=Notificações e acesso aos dispositivos novos
Comment[sl]=Obvestila o novih napravah in dostop do njih
Comment[sv]=Underrättelser och åtkomst av nya enheter
Comment[tr]=Yeni donanım bildirimleri ve yeni donanımlara erişim
Comment[uk]=Сповіщення і доступ до нових пристроїв
Comment[zh_TW]=通知與存取新裝置
Icon=drive-removable-media-usb-pendrive
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_devicenotifier
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=notifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

