[Desktop Entry]
Encoding=UTF-8
Name=New Device Notifier
Name[el]=Ειδοποίηση νέας συσκευής
Name[et]=Uue seadme teadustaja
Name[ja]=新しいデバイスの通知
Name[ko]=새 장치 알림이
Name[nb]=Varsling om ny enhet
Name[nds]=Bescheden över niege Reedschappen
Name[ne]=नयाँ यन्त्र सूचक
Name[nl]=Nieuwe apparaatmelding
Name[pt]=Notificação de Dispositivos Novos
Name[pt_BR]=Notificador de Novo Dispositivo
Name[sv]=Underrättelse om ny enhet
Name[x-test]=xxNew Device Notifierxx
Name[zh_CN]=新设备通知
Name[zh_TW]=新增裝置通知器
Comment=New device notifier plasmoid
Comment[el]=Πλασμοειδές ειδοποίησης νέας συσκευής
Comment[et]=Uue seadme teadustamise plasmoid
Comment[ja]=新しいデバイスを通知する Plasmoid
Comment[ko]=Plasmoid를 위한 새 장치 알림이
Comment[nb]=Plasmoid som varsler om ny enhet
Comment[nds]=Plasmoid för Bescheden över niege Reedschappen
Comment[ne]=नयाँ यन्त्र सूचक प्लाज्मोइड
Comment[nl]=Nieuwe apparaten melden (plasmoid)
Comment[pt]=Plasmóide de notificação de dispositivos novos
Comment[pt_BR]=Plasmoid notificador de novo dispositivo
Comment[sv]=Plasmoid för underrättelse om ny enhet
Comment[x-test]=xxNew device notifier plasmoidxx
Comment[zh_CN]=Plasmoids 的设备通知程序
Comment[zh_TW]=新增裝置通知器
Icon=drive-removable-media-usb-pendrive
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_devicenotifier
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=notifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

