[Desktop Entry]
Name=New Device Notifier
Name[bg]=Уведомяване за нови устройства
Name[ca]=Notificador de dispositiu nou
Name[csb]=Mònitór nowich ùrządzeniów
Name[de]=Geräteüberwachung
Name[el]=Ειδοποίηση νέας συσκευής
Name[eo]=Atentigilo pri nova aparato
Name[es]=Notificador de nuevo dispositivo
Name[et]=Uue seadme teadustaja
Name[eu]=Gailu berria jakinarazlea
Name[fi]=Uusi laitehuomautin
Name[fr]=Notification de nouveau périphérique
Name[fy]=Nij apparaat meidieler
Name[ga]=Fógróir Gléis Nua
Name[gl]=Notificador de novos dispositivos
Name[hu]=Eszközfelismerő
Name[ja]=新しいデバイスの通知
Name[km]=កម្មវិធី​ជូនដំណឹង​ឧបករណ៍​ថ្មី
Name[ko]=새 장치 알림이
Name[lv]=Jaunu ierīču paziņotājs
Name[nb]=Varsling om ny enhet
Name[nds]=Bescheden över niege Reedschappen
Name[ne]=नयाँ यन्त्र सूचक
Name[nl]=Nieuwe apparaatmelding
Name[nn]=Varsling om nye einingar
Name[pa]=ਨਵਾਂ ਜੰਤਰ ਨੋਟੀਫਾਇਰ
Name[pl]=Informacja o nowych urządzeniach
Name[pt]=Notificação de Dispositivos Novos
Name[pt_BR]=Notificador de Novo Dispositivo
Name[se]=Dieđit ođđa ovttadagain
Name[sl]=Nove naprave
Name[sr]=обавештавање о новим уређајима
Name[sr@latin]=obaveštavanje o novim uređajima
Name[sv]=Underrättelse om ny enhet
Name[uk]=Сповіщення про нові пристрої
Name[wa]=Notifiaedje di novea éndjin
Name[x-test]=xxNew Device Notifierxx
Name[zh_CN]=新设备通知
Name[zh_TW]=新增裝置通知器
Comment=New device notifier plasmoid
Comment[ca]=Plasmoide notificador de dispositiu nou
Comment[csb]=Plasmoid do kòntrolë nowich ùrządzeniów
Comment[de]=Plasmoid zur Überwachung neuer Geräte
Comment[el]=Πλασμοειδές ειδοποίησης νέας συσκευής
Comment[eo]=Nova aparatatengila plasmoido
Comment[es]=Nuevo dispositivo plasmoide notificador
Comment[et]=Uue seadme teadustamise plasmoid
Comment[eu]=Gailu berria jakinarazlea
Comment[fi]=Uuden laitteen huomautusplasmoidi
Comment[fr]=Plasmoïde de notification de nouveau périphérique
Comment[fy]=Nij apparaat meidieler plasmoid
Comment[ga]=Plasmoid atá ina fhógróir gléis nua
Comment[gl]=Plasmoide de notificación de novos dispositivos
Comment[hu]=Plasmoid új eszköz felismerésének jelzéséhez
Comment[ja]=新しいデバイスを通知するプラズモイド
Comment[km]=កម្មវិធី​ជូនដំណឹង​ឧបករណ៍ថ្មី plasmoid
Comment[ko]=Plasmoid를 위한 새 장치 알림이
Comment[lv]=Jaunu ierīču paziņošanas plazmoīds
Comment[nb]=Plasmoid som varsler om ny enhet
Comment[nds]=Plasmoid för Bescheden över niege Reedschappen
Comment[ne]=नयाँ यन्त्र सूचक प्लाज्मोइड
Comment[nl]=Nieuwe apparaten melden (plasmoid)
Comment[nn]=Plasmoide som varslar om nye einingar
Comment[pa]=ਨਵਾਂ ਜੰਤਰ ਨੋਟੀਫਾਇਰ ਪਲਾਜ਼ਮੋਡ
Comment[pl]=Plazmoid informujący o nowych urządzeniach
Comment[pt]=Plasmóide de notificação de dispositivos novos
Comment[pt_BR]=Plasmoid notificador de novo dispositivo
Comment[se]=Plasmoida mii dieđiha ođđa ovttadagain
Comment[sl]=Obveščanje o novih napravah
Comment[sr]=Плазмоид за обавештавање о новим уређајима
Comment[sr@latin]=Plazmoid za obaveštavanje o novim uređajima
Comment[sv]=Plasmoid för underrättelse om ny enhet
Comment[uk]=Плазмоїд сповіщення про нові пристрої
Comment[wa]=Plasmoid notifieu d' novea éndjin
Comment[x-test]=xxNew device notifier plasmoidxx
Comment[zh_CN]=Plasmoids 的设备通知程序
Comment[zh_TW]=新增裝置通知器
Icon=drive-removable-media-usb-pendrive
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_devicenotifier
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=notifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Category[bg]=Информация за системата
X-KDE-PluginInfo-Category[ca]=Informació del sistema
X-KDE-PluginInfo-Category[de]=Systeminformationen
X-KDE-PluginInfo-Category[el]=Πληροφορίες συστήματος
X-KDE-PluginInfo-Category[eo]=Sisteminformoj
X-KDE-PluginInfo-Category[es]=Información del sistema
X-KDE-PluginInfo-Category[et]=Süsteemi info
X-KDE-PluginInfo-Category[fr]=Information sur le système
X-KDE-PluginInfo-Category[ga]=Eolas faoin Chóras
X-KDE-PluginInfo-Category[hu]=Rendszerinformáció
X-KDE-PluginInfo-Category[ja]=システム情報
X-KDE-PluginInfo-Category[km]=ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-PluginInfo-Category[ko]=시스템 정보
X-KDE-PluginInfo-Category[lv]=Sistēmas informācija
X-KDE-PluginInfo-Category[nb]=Informasjon om systemet
X-KDE-PluginInfo-Category[nds]=Systeem-Informatschonen
X-KDE-PluginInfo-Category[nl]=Systeeminformatie
X-KDE-PluginInfo-Category[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-PluginInfo-Category[pl]=Informacje o systemie
X-KDE-PluginInfo-Category[pt]=Informação do Sistema
X-KDE-PluginInfo-Category[pt_BR]=Informação do Sistema
X-KDE-PluginInfo-Category[se]=Dieđut vuogádagas
X-KDE-PluginInfo-Category[sl]=Podatki o sistemu
X-KDE-PluginInfo-Category[sr]=Подаци о систему
X-KDE-PluginInfo-Category[sr@latin]=Podaci o sistemu
X-KDE-PluginInfo-Category[sv]=Systeminformation
X-KDE-PluginInfo-Category[tg]=Иттилооти система
X-KDE-PluginInfo-Category[uk]=Системна інформація
X-KDE-PluginInfo-Category[wa]=Infôrmåcion sistinme
X-KDE-PluginInfo-Category[x-test]=xxSystem Informationxx
X-KDE-PluginInfo-Category[zh_CN]=系统信息
X-KDE-PluginInfo-Category[zh_TW]=系統資訊
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

