[Desktop Entry]
Encoding=UTF-8
X-KDE-Solid-Predicate=[[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ] OR [ IS StorageAccess AND StorageDrive.driveType == 'Floppy' ]]
Type=Service
Actions=open;


[Desktop Action open]
Name=open
Name[el]=άνοιγμα
Name[ga]=oscail
Name[ko]=열기
Name[nds]=Opmaken
Name[nl]=openen
Name[pt]=abrir
Name[pt_BR]=abrir
Name[zh_CN]=打开
Name[zh_TW]=開啟
Exec=dbus-launch dolphin

