[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmkded
Icon=services
Type=Application


X-KDE-Library=kded
X-KDE-Factoryname=kded
X-KDE-ParentApp=kcontrol

Name=Service Manager
Name[af]=Diens Bestuurder
Name[ar]=مدير الخدمات
Name[az]=Xidmət İdarəçisi
Name[be]=Кіраваньне сэрвісамі
Name[bg]=Системни услуги
Name[bn]=সার্ভিস ম্যানেজার
Name[br]=Merour ar servijoù
Name[bs]=Upravljač servisa
Name[ca]=Gestor del servei
Name[cs]=Správce služeb
Name[cy]=Rheolydd Gwasanaethau
Name[da]=Service-håndtering
Name[de]=Diensteverwaltung
Name[el]=Διαχειριστής υπηρεσιών
Name[eo]=Servo-Administrilo
Name[es]=Administrador de servicios
Name[et]=Teenuste haldur
Name[eu]=Zerbitzu kudeatzailea
Name[fa]=مدیر سرویس
Name[fi]=Palvelunhallinta
Name[fr]=Gestionnaire de services
Name[fy]=KDE-systeemtsjinsten
Name[ga]=Bainisteoir Seirbhíse
Name[gl]=Xestor de Servicios
Name[he]=מנהל השירותים
Name[hi]=सेवा प्रबंधक
Name[hr]=Rukovoditelj servisa
Name[hu]=Szolgáltatások
Name[is]=Þjónustustjóri
Name[it]=Gestione servizi
Name[ja]=サービスマネージャ
Name[lo]=ຕົວຈັດການ Dhcp
Name[lt]=Tarnybų tvarkyklė
Name[lv]=Servisu Menedžeris
Name[mk]=Менаџер на сервиси
Name[mn]=Үйлчилгээ удирдагч
Name[mt]=Manager tas-servizzi
Name[nb]=Tjenestebehandler
Name[nds]=Deenstpleger
Name[nl]=KDE-systeemdiensten
Name[nn]=Tenestehandsamar
Name[nso]=Molaodi wa Tirelo
Name[pa]=ਸੇਵਾਵਾਂ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer usług
Name[pt]=Gestor de Serviços
Name[pt_BR]=Gerenciador de Serviços
Name[ro]=Managerul de servicii
Name[ru]=Управление службами
Name[se]=Bálvalusgieđahalli
Name[sk]=Správca služieb
Name[sl]=Upravitelj storitev
Name[sr]=Менаџер сервиса
Name[sr@Latn]=Menadžer servisa
Name[sv]=Tjänsthanterare
Name[ta]=சேவை மேலாளர்
Name[tg]=Мудири хидмат
Name[th]=บริหารบริการ
Name[tr]=Servis Yöneticisi
Name[uk]=Менеджер служб
Name[uz]=Хизмат бошқарувчиси
Name[ven]=Mulanguli wa tshumelo
Name[vi]=Trình quản lý dịch vụ
Name[wa]=Manaedjeu di siervices
Name[xh]=Umphathi Wenkonzo
Name[xx]=xxService Managerxx
Name[zh_CN]=服务管理器
Name[zh_TW]=服務管理程式
Name[zu]=Imenenja Yomsebenzi
Comment=System Services Configuration
Comment[af]=Stelsel Dienste Opstelling
Comment[ar]=تهيئة خدمات النظام
Comment[az]=Sistem Xidmətləri Qurğuları
Comment[be]=Канфігурацыя сыстэмных сэрвісаў
Comment[bg]=Настройки на системните услуги
Comment[bn]=সিস্টেম সার্ভিস কনফিগারেশন
Comment[br]=Kefluniadur servijerien ar reiziad
Comment[bs]=Postavke sistemskih servisa
Comment[ca]=Configura els serveis del sistema
Comment[cs]=Nastavení systémových služeb
Comment[cy]=Ffurfweddu Gwasanaethau Cysawd
Comment[da]=Opsætning af systemtjenester
Comment[de]=Einrichtung von Systemdiensten
Comment[el]=Ρύθμιση των υπηρεσιών συστήματος
Comment[eo]=Agordo de la sistemservoj
Comment[es]=Configuración de los servicios del sistema
Comment[et]=Süsteemsete teenuste seadistamine
Comment[eu]=Sistemaren zerbitzuen konfigurazioa
Comment[fa]=تنظیم سرویس‌های سیستم
Comment[fi]=Järjestelmän palveluiden asetus
Comment[fr]=Configuration des services du système
Comment[fy]=KDE-systeemtsjinsten ynstelle
Comment[ga]=Cumraíocht seirbhísí an chórais
Comment[gl]=Configuración dos Servicios do Sistema
Comment[he]=שינוי הגדרות שירותי המערכת
Comment[hi]=तंत्र सेवा कॉन्फ़िगरेशन
Comment[hr]=Podešavanje sustavskih servisa
Comment[hu]=A rendszerszolgáltatások beállításai
Comment[is]=Stillingar kerfisþjónusta
Comment[it]=Configurazione dei servizi di sistema
Comment[ja]=システムサービス設定
Comment[lo]=ປັບແຕ່ງອອດລະບົບ
Comment[lt]=Sistemos tarnybų konfigūravimas
Comment[lv]=Sistēmas Servisu Konfigurācija
Comment[mk]=Конфигурација на системските сервиси
Comment[mn]=Системийн үйлчилгээний тохируулга
Comment[mt]=Konfigurazzjoni tas-servizzi tas-sistema
Comment[nb]=Systemtjenesteinstillinger
Comment[nds]=Systeemdeensten instellen
Comment[nl]=KDE-systeemdiensten instellen
Comment[nn]=Oppsett av systemtenester
Comment[nso]=Peakanyo ya Ditirelo tsa System
Comment[pa]=ਸਿਸਟਮ ਸੇਵਾਵਾਂ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja usług systemowych
Comment[pt]=Configuração dos Serviços do Sistema
Comment[pt_BR]=Configuração de Serviços do Sistema
Comment[ro]=Configurează serviciile de sistem
Comment[ru]=Настройка системных служб
Comment[se]=Vuogádatbálvalusaid heiveheapmi
Comment[sk]=Nastavenie systémových služieb
Comment[sl]=Nastavitve sistemskih storitev
Comment[sr]=Подешавање системских сервиса
Comment[sr@Latn]=Podešavanje sistemskih servisa
Comment[sv]=Anpassa systemets tjänster
Comment[ta]=சாதன சேவை அமைப்பு
Comment[tg]=Танзими хидматҳои система 
Comment[th]=ปรับแต่งบริการของระบบ
Comment[tr]=Sistem Servisleri Yapılandırması
Comment[uk]=Конфігурація служб систем
Comment[uz]=Тизимнинг хизматларини мослаш
Comment[ven]=Bzudzanyo ya tshumelo ya sisitemu
Comment[vi]=Cấu hình dịch vụ hệ thống
Comment[wa]=Apontiaedje des siervices do sistinme
Comment[xh]=Uqwalaselo Lweenkonzo Zendlela zokuseneza
Comment[xx]=xxSystem Services Configurationxx
Comment[zh_CN]=系统服务配置
Comment[zh_TW]=系統服務組態
Comment[zu]=Inhlanganisela Yemisebenzi Yesistimu
Keywords=KDED,Daemon,Services
Keywords[ar]=KDED,Daemon,Services,مراقب,خدمات
Keywords[az]=KDED,Demon,Xidmətlər
Keywords[bg]=услуга, обслужване, сървър, демон, KDED, Daemon, Services
Keywords[br]=KDED,Diaoul,Servijoù
Keywords[ca]=KDED,Dimoni,Serveis
Keywords[cs]=KDED,démon,služby
Keywords[cy]=KDED,Daemon,Gwasanaethau
Keywords[da]=KDED,Dæmon,Tjenester
Keywords[de]=KDED,Dämon,Services,Dienste
Keywords[el]=KDED,Δαίμονας,Υπηρεσίες
Keywords[eo]=KDED,demono,servoj
Keywords[es]=KDED,Demonio,servicios
Keywords[et]=KDED,deemon,teenused
Keywords[eu]=KDED,Daemon-a,Zerbitzuak
Keywords[fa]=KDED,Daemon,Services,سرویس‌ها
Keywords[fi]=KDED,Palvelin,Palvelut
Keywords[fr]=KDED,Daemon,Démon,Services
Keywords[fy]=KDED,Daemon,services,tsjinsten,systeemtsjinsten,systeem
Keywords[ga]=KDED,Deamhan,Seirbhísí
Keywords[gl]=KDED,Demo,Servicios
Keywords[he]=KDED,תהליך רקע,שירותים
Keywords[hi]=केडीईडी,डेमन,सेवाएँ
Keywords[hu]=KDED,démon,szolgáltatás
Keywords[is]=KDED,þjónn,Þjónustur,púki,þræll
Keywords[it]=KDED,demone,servizi
Keywords[ja]=KDED,デーモン,サービス
Keywords[lt]=KDED,Daemon,Services, demonas,tarnybos
Keywords[lv]=KDED,Dēmoni,Servisi
Keywords[mn]=КДЭХ,Хэвтүүл,Services,Үйлчилгээ
Keywords[mt]=KDED,Daemon,Services,servizzi
Keywords[nb]=KDED,nisse,tjenester,daemon
Keywords[nds]=KDED,Daemon,Services,Dämoon,Deenst,Deensten
Keywords[nl]=KDED,Daemon,services,diensten,systeemdiensten,systeem
Keywords[nn]=KDED,daemon,nisse,tenester
Keywords[nso]=KDED,Daemon,Ditirelo
Keywords[pl]=KDED,demon,usługi
Keywords[pt]=KDED,Servidor,Serviços
Keywords[pt_BR]=KDED,Servidor,Serviços
Keywords[ro]=KDED,demon,servicii
Keywords[se]=KDED,daemon,bálvalusat
Keywords[sk]=KDED,Daemon,služby
Keywords[sl]=KDED,demon,storitve
Keywords[sr]=KDED, Демон, Сервиси
Keywords[sr@Latn]=KDED, Demon, Servisi
Keywords[sv]=KDED,Demon,Tjänster
Keywords[ta]=KDED,டேமான்,சேவைகள்
Keywords[th]=KDED,เดมอน,บริการ
Keywords[tr]=KDED,program,servisler
Keywords[uk]=KDED,демон,служби
Keywords[uz]=KDED,хизмат,хизматлар
Keywords[ven]=KDED,Daemon,Dzitshumelo
Keywords[vi]=KDED,Daemon,Dịch vụ
Keywords[xh]=KDED,Daemon,Iinkonzo
Keywords[xx]=xxKDED,Daemon,Servicesxx
Keywords[zh_CN]=KDED,Daemon,Services,守护程序,服务
Keywords[zh_TW]=KDED,Daemon,Services,伺服程式,服務
Keywords[zu]=KDED,Daemon,Imisebenzi

Categories=Qt;KDE;X-KDE-settings-components;
