[Desktop Entry]
# TODO - Rename to "Desktop Search" in KDE 4.2
Name=Xesam Search
Name[ca]=Cerca Xesam
Name[cs]=Vyhledávání Xesam
Name[da]=Xesam-søgning
Name[de]=Xesam-Suche
Name[el]=Αναζήτηση Xesam
Name[eo]=Xesam-serĉo
Name[et]=Xesami otsing
Name[fr]=Recherche Xesam
Name[fy]=Xesam sykmasine
Name[ga]=Cuardach Xesam
Name[gl]=Procura con Xesam
Name[gu]=Xesam શોધ
Name[ja]=Xesam 検索
Name[km]=ស្វែងរក Xesam
Name[ko]=Xesam 검색
Name[lv]=Xesam meklēšana
Name[ml]=സെസാം തെരച്ചില്‍
Name[nds]=Xesam-Söök
Name[nl]=Xesam-zoekmachine
Name[pa]=Xesam ਖੋਜ
Name[pt]=Pesquisa no Xesam
Name[pt_BR]=Pesquisa no Xesam
Name[ro]=Căutare Xesam
Name[ru]=Поиск Xesam
Name[sl]=Namizno iskanje
Name[sr]=Ксезамова претрага
Name[sr@latin]=Xesamova pretraga
Name[sv]=Sökning med Xesam
Name[tg]=Ҷустуҷӯи Xesam
Name[tr]=Xesam Araması
Name[uk]=Пошук Xesam
Name[x-test]=xxXesam Searchxx
Name[zh_CN]=Xesam 搜索
Name[zh_TW]=Xesam 搜尋
# TODO - Change to "Search for documents and other files" or similar in KDE 4.2
Comment=Allows user to use a Xesam compatible indexer for desktop search
Comment[ca]=Permet que l'usuari utilitzi un indexador compatible amb Xesam per a la cerca d'escriptori
Comment[da]=Lader brugeren anvende en Xesam-kompatibel indeksering til desktop-søgning
Comment[de]=Ermöglicht die Verwendung eines Xesam-kompatiblen Indizierers für die Desktop-Suche
Comment[el]=Επιτρέπει τη χρήση ενός συμβατού με το Xesam ευρετηρίου για αναζητήσεις
Comment[eo]=Permesas la uzon de Xesam-kongrua indeksilo por lokaj serĉoj
Comment[et]=Võimaldab kasutajal kasutada Xesamiga ühilduvat indekseerijat töölauaotsinguks
Comment[fr]=Permet d'utiliser un indexeur compatible Xesam pour la recherche
Comment[gl]=Permítelle ao usuario empregar un indexador compatíbel con Xesam para facer procuras de escritorio
Comment[gu]=વપરાશકર્તાને Xesam અનુરૂપ અનુક્રમ ડેસ્કટોપ શોધ માટે ઉપયોગ કરવા દે છે
Comment[ja]=デスクトップ検索に Xesam 互換のインデクサが使えるようになります
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នកប្រើ ប្រើកម្មវិធី​បង្កើត​លិបិក្រម​ដែល​ឆបគ្នា Xesam សម្រាប់​ការ​ស្វែងរក​ផ្ទៃតុ
Comment[ko]=데스크톱 검색에 Xesam 호환 인덱서 사용하기
Comment[lv]=Ļauj izmantot ar Xesam savietojamu indeksētāju darbvirsmas meklēšanai
Comment[nds]=De Bruker kann een to Xesam kompatibel Indizeerprogramm för't Söken op den Schriefdisch bruken
Comment[nl]=Maakt het mogelijk om een Xesam-ondersteunende indexer voor desktop-search te gebruiken
Comment[pt]=Permite ao utilizador usar uma indexação compatível com o Xesam para a pesquisa no ambiente de trabalho
Comment[pt_BR]=Permite que o usuário utilize um indexador compatível como o Xesam para procuras no desktop
Comment[ro]=Permite utilizatorului să folosească un indexator compatibil cu Xesam pentru căutări de birou
Comment[sl]=Omogoča iskanje po namizju z uporabo kazala po standardu Xesam
Comment[sr]=Користите Ксезаму сагласни индексар за претрагу радне површи
Comment[sr@latin]=Koristite Xesamu saglasni indeksar za pretragu radne površi
Comment[sv]=Låter användare utnyttja indexering kompatibel med Xesam för skrivbordssökning
Comment[tr]=Kullanıcıların masaüstü araması için Xesam uyumlu bir indeksleyici kullanmasını sağlar
Comment[uk]=Надає користувачеві змогу скористатися індексатором сумісним з Xesam для пошуку зі стільниці
Comment[x-test]=xxAllows user to use a Xesam compatible indexer for desktop searchxx
Comment[zh_CN]=允许用户使用 Xesam 兼容的索引程序进行桌面搜索
Comment[zh_TW]=允許使用者使用與 Xesam 相容的桌面搜尋
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_xesam
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=xesam
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
