[Desktop Entry]
Name=Xesam Search
Comment=Allows user to use a Xesam compatible indexer for desktop search
Comment[el]=Επιτρέπει τη χρήση ενός συμβατού με το Xesam ευρετηρίου για αναζητήσεις
Comment[et]=Võimaldab kasutajal kasutada Xesamiga ühilduvat indekseerijat töölauaotsinguks
Comment[gu]=વપરાશકર્તાને Xesam અનુરૂપ અનુક્રમ ડેસ્કટોપ શોધ માટે ઉપયોગ કરવા દે છે
Comment[ja]=デスクトップ検索に Xesam 互換のインデクサが使えるようになります
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នកប្រើ ប្រើកម្មវិធី​បង្កើត​លិបិក្រម​ដែល​ឆបគ្នា Xesam សម្រាប់​ការ​ស្វែងរក​ផ្ទៃតុ
Comment[nds]=De Bruker kann een to Xesam kompatibel Indizeerprogramm för't Söken op den Schriefdisch bruken
Comment[pt]=Permite ao utilizador usar uma indexação compatível com o Xesam para a pesquisa no ambiente de trabalho
Comment[pt_BR]=Permite que o usuário utilize um indexador compatível como o Xesam para procuras no desktop
Comment[ro]=Permite utilizatorului să folosească un indexator compatibil cu Xesam pentru căutări de birou
Comment[sv]=Låter användaren använda indexering som fungerar med Xesam för skrivbordssökning
Comment[tr]=Kullanıcıların masaüstü araması için Xesam uyumlu bir indeksleyici kullanmasını sağlar
Comment[uk]=Надає користувачеві змогу скористатися індексатором сумісним з Xesam для пошуку зі стільниці
Comment[x-test]=xxAllows user to use a Xesam compatible indexer for desktop searchxx
Comment[zh_CN]=允许用户使用 Xesam 兼容的索引程序进行桌面搜索
Comment[zh_TW]=允許使用者使用 Xesam 相容的搜尋引擎來做桌面搜尋
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_xesam
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=xesam
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
