[Desktop Entry]
Name=Search Runner
Name[be]=Запуск пошуку
Name[bg]=Търсене
Name[ca]=Execució de cerques
Name[csb]=Zrëszë szëkbã
Name[de]=Suche durchführen
Name[el]=Εκτελεστής αναζήτησης
Name[eo]=Serĉil-elektilo
Name[es]=Motor de búsqueda
Name[et]=Otsingu jäivitaja
Name[eu]=Bilatu Runner
Name[fa]=اجراکتتدۀ جستجو
Name[fy]=Sykrinner
Name[ga]=Feidhmitheoir Cuardaigh
Name[he]=חיפוש
Name[hi]=चलाने वाला खोजें
Name[hu]=Keresőmodul
Name[ja]=検索 Runner
Name[kk]=Іздеуді жегуші
Name[km]=ស្វែងរក​​កម្មវិធី​រត់
Name[ko]=검색 실행기
Name[lv]=Meklēšanas darbinātājs
Name[nb]=Søk i Runner
Name[nds]=Söökdreger
Name[ne]=रनर खोजी गर्नुहोस्
Name[nl]=Zoekmachine
Name[nn]=Søk i Runner
Name[pa]=ਖੋਜ ਰਨਰ
Name[pl]=Wyszukiwarka
Name[pt]=Execução da Pesquisa
Name[pt_BR]=Executor de Busca
Name[se]=Ohcanálggaheaddji
Name[sl]=Zaganjalnik iskanj
Name[sr]=Извођач претраге
Name[sr@latin]=Izvođač pretrage
Name[sv]=Söktjänst
Name[th]=ตัวเรียกการค้นหาทำงาน
Name[vi]=Chạy Tìm kiếm
Name[wa]=Ricwerrece
Name[x-test]=xxSearch Runnerxx
Name[zh_CN]=搜索运行器
Name[zh_TW]=搜索執行者
Comment=Search files
Comment[ar]=ملفات البحث
Comment[be]=Пошук файлаў
Comment[bg]=Търсене на файлове
Comment[ca]=Cerca fitxers
Comment[csb]=Szëkba lopków
Comment[de]=Dateien suchen
Comment[el]=Αναζήτηση αρχείων
Comment[eo]=Serĉi dosierojn
Comment[es]=Buscar ficheros
Comment[et]=Failide otsimine
Comment[eu]=Bilatu fitxategiak
Comment[fa]=پرونده‌های جستجو
Comment[fi]=Etsi tiedostoja
Comment[fy]=Sykje om triemmen
Comment[ga]=Cuardaigh comhaid
Comment[he]=חיפוש קבצים
Comment[hi]=फ़ाइलें खोजें
Comment[hu]=Fájlkereső
Comment[ja]=ファイルを検索
Comment[kk]=Файлдарды табу
Comment[km]=ស្វែងរក​ឯកសារ​
Comment[ko]=파일 찾기
Comment[ku]=Li pelan bigere
Comment[lv]=Failu meklēšana
Comment[nb]=Søk i filer
Comment[nds]=Dateien söken
Comment[ne]=फाइल खोजी गर्नुहोस्
Comment[nl]=Bestanden zoeken
Comment[nn]=Søk i filer
Comment[pa]=ਫਾਇਲਾਂ ਖੋਜ
Comment[pl]=Wyszukiwarka plików
Comment[pt]=Procurar ficheiros
Comment[pt_BR]=Procurar arquivos
Comment[se]=Oza fiillain
Comment[sl]=Išči datoteke
Comment[sr]=Претражујте фајлове
Comment[sr@latin]=Pretražujte fajlove
Comment[sv]=Sök filer
Comment[th]=ค้นหาแฟ้ม
Comment[uk]=Пошук файлів
Comment[vi]=Tìm kiếm trong tập tin
Comment[wa]=Cweri des fitchîs
Comment[x-test]=xxSearch filesxx
Comment[zh_CN]=搜索文件
Comment[zh_TW]=搜索檔案
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_searchrunner
X-Krunner-ID=Search Runner
X-Plasma-RunnerPhase=last
