[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_krunner_shell
X-KDE-ParentComponents=shell
X-KDE-PluginKeyword=kcm_krunner_shell

Name=Shell Runner Config
Name[ar]=صبط مشغل الشل
Name[be@latin]=Nałady zahadnaha radka
Name[ca]=Configuració de l'intèrpret de l'executador
Name[de]=Einrichtung des Terminal-Starters
Name[el]=Ρύθμιση εκτελεστή κελύφους
Name[es]=Configuración de ejecución de línea de comandos
Name[et]=Shelli käivitaja seadistused
Name[fr]=Configuration du lanceur de console
Name[gl]=Configuración do executor de shell
Name[gu]=શૅલ ચલાવનારનું રૂપરેખાંકન
Name[hi]=शैल रनर कॉन्फ़िग
Name[it]=Configurazione Shell Runner
Name[ja]=シェル Runner の設定
Name[kk]=Қоршау-орта жегу баптауы
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​រត់​សែល
Name[kn]=ಆದೇಶಗ್ರಾಹಿ (ಶೆಲ್) ಚಾಲಕ ಸಂರಚನೆ
Name[lv]=Čaulas darbinātāja konfigurācija
Name[ml]=ഷെല്‍ റണ്ണര്‍ (പ്രവര്‍ത്തിപ്പിക്കാനുള്ള) ക്രമീകരണം
Name[nb]=Oppsett for skallkjører
Name[nds]=Konsooldreger instellen
Name[nl]=Shellrunner instellen
Name[pa]=ਸ਼ੈੱਲ ਰਨਰ ਸੰਰਚਨਾ
Name[pt]=Configuração da Linha de Comandos
Name[pt_BR]=Configuração da Linha de Comandos
Name[sl]=Nastavitev lupinskega zaganjalnika
Name[sv]=Inställning av skalkommandon
Name[th]=ปรับแต่งตัวเรียกใช้คำสั่งเชลล์
Name[tr]=Kabuk Çalıştırıcı Ayarları
Name[uk]=Налаштування засобу запуску оболонки
Name[x-test]=xxShell Runner Configxx
Name[zh_CN]=Shell 启动器配置
Name[zh_TW]=Shell 執行者設定
