[Desktop Entry]
Name=Command line runner
Name[ga]=Feidhmitheoir líne na n-orduithe
Name[gu]=આદેશ વાક્ય ચલાવનાર
Name[km]=កម្មវិធីរត់​បន្ទាត់​ពាក្យ​បញ្ជា
Name[pt]=Execução da Linha de Comandos
Name[pt_BR]=Execução da Linha de Comandos
Comment=Executes shell commands
Comment[ga]=Rith orduithe blaoisce
Comment[gu]=શૅલ આદેશ ચલાવો
Comment[km]=ប្រតិបត្តិ​ពាក្យ​បញ្ជា​សែល
Comment[pt]=Executa comandos da consola
Comment[pt_BR]=Executa comandos da consola
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_shell
X-Plasma-RunnerName=Shell
X-Plasma-RunnerPhase=first
