[Desktop Entry]
Name=Command-line runner
Name[ca]=Engegador de la línia d'ordres
Name[el]=Εκτελεστής γραμμής εντολών
Name[fi]=Komentorivi-liitännäinen
Name[ga]=Feidhmitheoir líne na n-orduithe
Name[gu]=આદેશ - ચલાવનાર
Name[ja]=コマンドライン Runner
Name[km]=កម្មវិធីរត់​បន្ទាត់​ពាក្យ​បញ្ជា
Name[nds]=Befehlreegdreger
Name[pt]=Execução da linha de comandos
Name[pt_BR]=Execução de linha de comando
Name[ro]=Executor Linie de comandă
Name[sl]=Zaganjalnik ukazov
Name[sv]=Kör kommando
Name[th]=ตัวเรียกคำสั่งบนบรรทัดคำสั่งให้ทำงาน
Name[tr]=Komut satırı çalıştırıcı
Name[uk]=Запуск команд з командного рядка
Name[zh_CN]=命令行运行器
Name[zh_TW]=命令列執行者
Comment=Executes shell commands
Comment[ca]=Executa ordres de l'intèrpret d'ordres
Comment[de]=Führt Shell-Kommandos aus
Comment[el]=Εκτελεί εντολές του κελύφους
Comment[eo]=Plenumas ŝel-komandojn
Comment[es]=Ejecuta comandos de la consola
Comment[fi]=Suorittaa komentorivikomentoja
Comment[ga]=Rith orduithe blaoisce
Comment[gu]=શૅલ આદેશ ચલાવો
Comment[ja]=シェルコマンドを実行します
Comment[km]=ប្រតិបត្តិ​ពាក្យ​បញ្ជា​សែល
Comment[ko]=셸 명령 실행
Comment[nds]=Föhrt Konsoolbefehlen ut
Comment[pt]=Executa comandos da consola
Comment[pt_BR]=Executa comandos do shell
Comment[ro]=Execută comenzi de consolă
Comment[sl]=Izvede lupinski ukaz
Comment[sr]=Извршавање наредби шкољке
Comment[sr@latin]=Izvršavanje naredbi školjke
Comment[sv]=Kör skalkommandon
Comment[th]=ประมวลผลคำสั่งของเชลล์
Comment[tr]=Kabuk komutlarını çalıştırır
Comment[uk]=Виконує команди оболонки
Comment[x-test]=xxExecutes shell commandsxx
Comment[zh_CN]=执行 shell 命令
Comment[zh_TW]=執行 shell 指令
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_shell
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=shell
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
