[Desktop Entry]
Encoding=UTF-8
Exec=plasma
X-DBUS-StartupType=wait
Name=Plasma
Name[ar]=بنما
Name[be]=Плазма
Name[bg]=Панама
Name[csb]=Plazma
Name[fa]=پلاسما
Name[pa]=ਪਲਾਜ਼ਮਾ
Name[uk]=Плазма
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

