[Desktop Entry]
Type=Service
Name=KDE accessibility tool
Name[ca]=Eina d'accessibilitat KDE
Name[cs]=Nástroj pro zpřístupnění prostředí KDE
Name[da]=KDE adgangsredskab
Name[de]=KDE-Zugangserleichterung
Name[el]=Εργαλείο προσιτότητας KDE
Name[eo]=KDE-ilo por Alirebleco
Name[es]=Herramienta de accesibilidad de KDE
Name[et]=Puuetega inimestele
Name[fi]=Käytettävyystyökalu
Name[fr]=Outil d'accessibilité de KDE
Name[gl]=Ferramenta de accesibilidade de KDE
Name[he]=KDE לש תושיגנה ילכ
Name[hu]=KDE segédeszközök fogyatékosoknak
Name[is]=KDE Aðgengi
Name[it]=Strumento per l'accessibilità di KDE
Name[ja]=KDEアクセス補助ツール
Name[nl]=KDE Toegankelijkheid
Name[no]=KDE Tilgjenglighetsverktøy
Name[no_NY]=Tilgjengeverktøy for KDE
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade do KDE
Name[pt_BR]=Ferramenta de Acessibilidade KDE
Name[ro]=Utilitar accesibilitate pentru KDE
Name[ru]=Удобство в KDE
Name[sk]=KDE Prístupnosť
Name[sl]=KDE dostopnost
Name[sv]=KDE Handikappverktyg
Name[ta]=KDE «Ï¸ø ¸ÕÅ¢
Name[tr]=KDE erişilebilirlik aracı
Name[uk]=Утіліта керування зручності KDE
Exec=kaccess
X-DCOP-ServiceType=None
ServiceTypes=Daemon
