[Desktop Entry]
Icon=access
Type=Application
Exec=kcmshell Personalization/access
DocPath=kcontrol/access.html

X-KDE-ModuleType=Library
X-KDE-Library=access
X-KDE-Init=access

Name=Accessibility
Name[ca]=Accessibilitat
Name[cs]=Zpřístupnění
Name[da]=Tilgængelighed
Name[de]=Zugänglichkeit
Name[el]=Προσιτότητα
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[et]=Puuetega inimestele
Name[fi]=Käytettävyys
Name[fr]=Accessibilité
Name[gl]=Accesibilidade
Name[he]=תושיגנ
Name[hr]=Pristupačnost
Name[hu]=Segédeszközök fogyatékosoknak
Name[is]=Aðgengi
Name[it]=Accessibilità
Name[ja]=アクセス補助
Name[mk]=Пристапливост
Name[nl]=Toegankelijkheid
Name[no]=Tilgjenglighet
Name[no_NY]=Tilgjenge
Name[pl]=Dostępność
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Удобство в KDE
Name[sk]=Prístupnosť
Name[sl]=Dostopnost
Name[sr]=Pristupačnost
Name[sv]=Handikappstöd
Name[ta]=«Ï¸ø
Name[tr]=Erişilebilirlik
Name[uk]=Зручність
Name[zh_CN.GB2312]=可使用性
Name[zh_TW.Big5]=存取能力

Comment=Improved accessibility for disabled persons
Comment[bg]=Ïîìîùíà ïðîãðàìà çà èíâàëèäè
Comment[ca]=Accessibilitat millorada per a persones discapacitades
Comment[cs]=Zlepšení přístupnosti pro osoby s postižením
Comment[da]=Forbedret tilgængelighed for handicappede personer
Comment[de]=Verbesserte Benutzbarkeit für behinderte Menschen
Comment[el]=Βελτιωμένη προσιτότητα για άτομα με ειδικές ανάγκες
Comment[eo]=Plibonigita alirebleco por handikapitoj
Comment[es]=Mejorar accesibilidad para personas discapacitadas
Comment[et]=Valikud puuetega inimestele
Comment[fi]=Parannettu käytettävyys vammautuneille henkilöille
Comment[fr]=Accessibilité améliorée pour les peronnes handicapées
Comment[gl]=Accesibilidade mellorada para persoas con discapacidades
Comment[he]=םילבגומ םישנא רובע תרפושמ תושיגנ
Comment[hr]=Bolja pristupačnost za osobe sa manama
Comment[hu]=A kezelést elősegítő eszközök fogyatékosoknak
Comment[is]=Endurbætt aðgengi fyrir þá sem þurfa
Comment[it]=Accessibilità migliorata per le persone disabili
Comment[ja]=障害者の為のアクセス改善
Comment[mk]=Подобрена пристапливост за луѓе со хендикеп
Comment[nl]=Verbeterde toegankelijkheid voor gehandicapte personen
Comment[no]=Øker tilgjengligheten for funksjonshemmede personer
Comment[no_NY]=Forbetra tilgjenge for hørsels-, syns og rørslehemma personar
Comment[pl]=Poprawiona dostępność dla osób niepełnosprawnych
Comment[pt]=Acessibilidade melhorada para pessoas com deficiências
Comment[pt_BR]=Acessibilidade melhorada para pessoas com deficiência.
Comment[ro]=Accesibilitate crescută pentru persoane cu handicap
Comment[ru]=Увеличенное удобство, для людей с физическими недостатками
Comment[sk]=Zlepšenie prístupnosti pre zakázaných užívateľov
Comment[sl]=Izboljšana dostopnost za prizadete osebe
Comment[sr]=Poboljšana dostupnost hendikepiranim osobama
Comment[sv]=Förbättrad tillgänglighet för handikappade personer
Comment[tr]=Görme sorunu olanlar için erişilebilirlik seçenekleri
Comment[uk]=Покращена зручність для інвалідів
Comment[zh_CN.GB2312]=方便残疾人使用
Comment[zh_TW.Big5]=對失效的人改善存取能力

Keywords=access,accessibility,deaf,impaired,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad
Keywords[cs]=přístup,zpřístupnění,neslyšící,postižený
Keywords[gl]=acceso,accesibilidade,xordo,diminuído
Keywords[ro]=acces,accesibilitate,bolnav,handicap
Keywords[zh_TW.Big5]=access,acessibility,deaf,impaired
