# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=oxygen.xml
Name=Oxygen
Name[af]=Oxygen
Name[ar]=أكسجين
Name[as]=Oxygen
Name[ast]=Oxíxenu
Name[be]=Oxygen
Name[be@latin]=Oxygen
Name[bg]=Oxygen
Name[bn]=অক্সিজেন
Name[bn_IN]=Oxygen
Name[bs]=Kiseonik
Name[ca]=Oxygen
Name[ca@valencia]=Oxygen
Name[cs]=Oxygen
Name[csb]=Krziseń
Name[da]=Oxygen
Name[de]=Oxygen
Name[el]=Oxygen
Name[en_GB]=Oxygen
Name[eo]=Oxygen
Name[es]=Oxígeno
Name[et]=Oxygen
Name[eu]=Oxygen
Name[fa]=اکسیژن
Name[fi]=Oxygen
Name[fr]=Oxygen
Name[fy]=Oxygen
Name[ga]=Oxygen
Name[gl]=Oxygen
Name[gu]=ઓક્સિજન
Name[he]=Oxygen
Name[hi]=आक्सीजन
Name[hne]=आक्सीजन
Name[hr]=Oxygen
Name[hsb]=Oxygen
Name[hu]=Oxygen
Name[ia]=Oxygen
Name[id]=Oksigen
Name[is]=Oxygen
Name[it]=Oxygen
Name[ja]=Oxygen
Name[kk]=Oxygen
Name[km]=អុកស៊ីហ្សែន
Name[kn]=ಆಕ್ಸಿಜನ್
Name[ko]=Oxygen
Name[ku]=Oxygen
Name[lt]=Oxygen
Name[lv]=Oxygen
Name[mai]=आक्सीजन
Name[mk]=Оксиген
Name[ml]=ഓക്സിജന്‍
Name[mr]=आक्सीजन
Name[nb]=Oxygen
Name[nds]=Oxygen
Name[ne]=अक्सिजन
Name[nl]=Oxygen
Name[nn]=Oksygen
Name[or]=ଅକ୍ସିଜେନ
Name[pa]=ਆਕਸੀਜਨ
Name[pl]=Oxygen
Name[pt]=Oxygen
Name[pt_BR]=Oxygen
Name[ro]=Oxygen
Name[ru]=Oxygen
Name[se]=Oksygena
Name[si]=ඔක්සිජන්
Name[sk]=Oxygen
Name[sl]=Kisik
Name[sr]=Кисеоник
Name[sr@ijekavian]=Кисеоник
Name[sr@ijekavianlatin]=Kiseonik
Name[sr@latin]=Kiseonik
Name[sv]=Oxygen
Name[ta]=ஆக்ஸிஜன்
Name[te]=Oxygen
Name[tg]=Oxygen
Name[th]=รูปแบบ Oxygen
Name[tr]=Oxygen
Name[ug]=ئوكسېگىن
Name[uk]=Oxygen
Name[uz]=Oxygen
Name[uz@cyrillic]=Oxygen
Name[vi]=Oxygen
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Name[zh_CN]=Oxygen
Name[zh_TW]=Oxygen
Description=Oxygen Theme
Description[ar]=سمة أكسجين
Description[ast]=Tema Oxíxenu
Description[be@latin]=Matyŭ „Oxygen”
Description[bg]=Тема Oxygen
Description[bn]=অক্সিজেন থীম
Description[bn_IN]=Oxygen থিম
Description[bs]=Kiseonikova tema
Description[ca]=Tema Oxygen
Description[ca@valencia]=Tema Oxygen
Description[cs]=Motiv Oxygen
Description[csb]=Wëzdrzatk Lëft
Description[da]=Oxygen-tema
Description[de]=Oxygen-Design
Description[el]=Θέμα του Oxygen
Description[en_GB]=Oxygen Theme
Description[eo]=Oksigen-Etoso
Description[es]=Tema Oxígeno
Description[et]=Oxygeni teema
Description[eu]=Oxygen gaia
Description[fi]=Oxygen-teema
Description[fr]=Thème Oxygen
Description[fy]=Oxygen-tema
Description[ga]=Téama Oxygen
Description[gl]=Tema Oxygen
Description[gu]=ઓક્સિજન થીમ
Description[he]=ערכת־הנושא Oxygen
Description[hi]=ऑक्सीजन प्रसंग
Description[hne]=आक्सीजन थीम
Description[hr]=Oxygen tema
Description[hsb]=Oxygen Theme
Description[hu]=Oxygen téma
Description[ia]=Thema de Oxygen
Description[id]=Tema Oksigen
Description[is]=Oxygen þema
Description[it]=Tema Oxygen
Description[ja]=Oxygen テーマ
Description[kk]=Oxygen нақышы
Description[km]=ស្បែក​អុកស៊ីហ្សែន
Description[kn]=ಆಕ್ಸಿಜನ್ ಪರಿಸರವಿನ್ಯಾಸ (ಥೀಮ್)
Description[ko]=Oxygen 테마
Description[ku]=Dirbê Oxygen
Description[lt]=Oxygen tema
Description[lv]=Oxygen tēma
Description[mai]=आक्सीजन थीम
Description[mk]=Темата Оксиген
Description[ml]=ഓക്സിജനെന്ന പ്രമേയം
Description[mr]=ऑक्सीजन सुत्रयोजना
Description[nb]=Oxygen-tema
Description[nds]=Oxygen-Muster
Description[nl]=Oxygen-team
Description[nn]=Oksygen-tema
Description[pa]=ਆਕਸੀਜਨ ਥੀਮ
Description[pl]=Motyw Oxygen
Description[pt]=Tema do Oxygen
Description[pt_BR]=Tema do Oxygen
Description[ro]=Tematica Oxygen
Description[ru]=Тема Oxygen
Description[si]=Oxygen තේමාව
Description[sk]=Téma Oxygen
Description[sl]=Tema Kisik
Description[sr]=Кисеоникова тема
Description[sr@ijekavian]=Кисеоникова тема
Description[sr@ijekavianlatin]=Kiseonikova tema
Description[sr@latin]=Kiseonikova tema
Description[sv]=Oxygen-tema
Description[ta]=Oxygen Theme
Description[te]=Oxygen థీమ్
Description[tg]=Мавзӯъи Oxygen
Description[th]=ชุดตกแต่ง Oxygen
Description[tr]=Oxygen Teması
Description[ug]=ئوكسېگىن ئۆرنىكى
Description[uk]=Тема Oxygen
Description[wa]=Tinme Ocsidjinne
Description[x-test]=xxOxygen Themexx
Description[zh_CN]=绿氧主题
Description[zh_TW]=Oxygen 主題
Author=Nuno Fernades Pinheiro, Urs Wolfer & Oswald Buddenhagen
Copyright=(c) 2008 Nuno Fernades Pinheiro, Urs Wolfer & Oswald Buddenhagen
Screenshot=screenshot.png
