[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell midi
Icon=kcmmidi
Type=Application
DocPath=kcontrol/midi.html

X-KDE-ModuleType=Library
X-KDE-Library=midi

Name=MIDI
Name[af]=midi
Name[ar]=MIDI
Name[be]=MIDI
Name[cs]=MIDI
Name[eo]=MIDI
Name[es]=MIDI
Name[fr]=MIDI
Name[he]=מידי
Name[hu]=MIDI
Name[it]=MIDI
Name[ko]=미디
Name[pt]=MIDI
Name[pt_BR]=MIDI
Name[th]=มิดี้
Name[xx]=xx
Comment=MIDI Configuration
Comment[af]=midi opstelling
Comment[ar]=اعدادت MIDI
Comment[az]=Midi Quraşdırması
Comment[bg]=Настройка на Midi
Comment[br]=Kefluniadur Midi
Comment[ca]=Configuració Midi
Comment[de]=Midi-Einrichtung
Comment[el]=Ρυθμίσεις Midi
Comment[eo]=MIDI-agordo
Comment[et]=Midi seadistused
Comment[eu]=Midi Konfigurazioa
Comment[fi]=Midin asetukset
Comment[gl]=Configuración do Midi
Comment[he]=שינוי ההגדרות של מידי
Comment[hr]=Podešavanje Midi-ja
Comment[id]=Konfigurasi Midi
Comment[is]=Breyta Midistillingum
Comment[ja]=Midiの設定
Comment[ko]=미디 설정
Comment[lt]=Midi Derinimas
Comment[mk]=Конфигурирање на Midi
Comment[mt]=Konfigurazzjoni Midi
Comment[nb]=Midi-konfigurasjon
Comment[oc]=Configuracion Midi
Comment[pl]=Program do konfiguracji midi
Comment[pt_BR]=Configuração do MIDI
Comment[ro]=Configurare MIDI
Comment[ru]=настройки Midi
Comment[sk]=Konfigurácia Midi
Comment[sl]=Nastavitve Midi
Comment[sr]=Konfiguracija midija
Comment[ta]=Midi ÅÊÅ¨ÁôÒ
Comment[tr]=Midi Yapılandırması
Comment[uk]=Конфігурації midi
Comment[vi]=Cấu hình Midi 
Comment[xx]=xx
Comment[zh_CN]=Midi 配置
Comment[zh_TW]=Midi 設定
Keywords=MIDI,synthesizer,music
Keywords[ar]=MIDI,مخلق الأصوات,موسيقى
Keywords[az]=MIDI,sintezator,musiqi
Keywords[br]=MIDI,kenaozer,sonerezh
Keywords[bs]=MIDI,synthesizer,music,sintisizer,muzika
Keywords[ca]=MIDI,sintetitzador,música
Keywords[cs]=MIDI,Syntezátor,Hudba
Keywords[da]=MIDI,synthesizer,musik
Keywords[de]=MIDI,Synthesizer,Musik
Keywords[el]=MIDI,συνθεσάιζερ,μουσική
Keywords[en_GB]=MIDI,synthesiser,music
Keywords[eo]=MIDI,sintesilo,muziko
Keywords[es]=MIDI,sintetizador,música
Keywords[et]=MIDI,süntesaator,muusika
Keywords[eu]=MIDI,sintetizadorea,musika
Keywords[fi]=MIDI,syntetisaattori,musiikki
Keywords[fr]=MIDI,synthétiseur,musique
Keywords[gl]=MIDI,sintetizador,música
Keywords[he]=מידי,סינתסייזר,מוזיקה,MIDI
Keywords[hr]=MIDI,synthesizer,music,sintisizer,muzika
Keywords[hu]=MIDI,szintetizátor,zene
Keywords[id]=MIDI,synthesizer,musik
Keywords[is]=MIDI,tónlist,hljóðgervill
Keywords[it]=MIDI,sintetizzatore,musica
Keywords[ja]=MIDI,シンセサイザ,音楽
Keywords[ko]=MIDI,synthesizer,music,미디,신씨싸이저,신디사이저,노래,음악
Keywords[lt]=MIDI,sintezatoriai,muzika
Keywords[lv]=MIDI,sintezators,mūzika
Keywords[mk]=MIDI,синтисајзер,музика
Keywords[nb]=MIDI,synthesizer,musikk
Keywords[nl]=MIDI,synthesizer,muziek
Keywords[nn]=MIDI,synthesizer,musikk
Keywords[oc]=MIDI,sintetitzador,musica
Keywords[pl]=MIDI,syntezator,muzyka
Keywords[pt]=MIDI,sintetizador,música
Keywords[pt_BR]=MIDI,sintetizador,música
Keywords[ro]=MIDI,sintetizator,muzică
Keywords[sk]=MIDI,syntéza,hudba
Keywords[sl]=MIDI,sintetizator,glasba
Keywords[sv]=MIDI,synthesizer,musik
Keywords[ta]=MIDI,¦¾¡ÌôÀ¢,­¨º
Keywords[th]=มิดี้,ตัวสังเคราะห์เสียง,ดนตรี
Keywords[tr]=MIDI,sentezleyici,müzik
Keywords[uk]=MIDI,синтезатор,музика
Keywords[ven]=MIDI,mubveledzi,muzika
Keywords[vi]=MIDI,synthesizer,music,bềEhoà âm
Keywords[xh]=MIDI,umdibanisi ndawonye wamaqela,umculo
Keywords[xx]=xx
Keywords[zh_CN]=MIDI,synthesizer,music,合成器,音乐
Keywords[zh_TW]=MIDI,合成器,音樂
Keywords[zu]=MIDI,inhlanganisi ndawonye yamaqwembu,umculo
