[Desktop Entry]
Name=Task Management Data Engine
Name[ca]=Motor de dades de gestió de tasques
Name[de]=Aufgabenverwaltungs-Datentreiber
Name[el]=Μηχανή δεδομένων διαχείρισης εργασιών
Name[eo]=Datuma motoro pri taskadministrado
Name[es]=Motor del gestor de tareas
Name[et]=Tegumihalduse andmete mootor
Name[eu]=Ataza kudeatzeko datu motorea
Name[fy]=Taakbehear gegevens motor
Name[hu]=Feladatkezelő modul
Name[ja]=タスク管理データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ការ​គ្រប់គ្រង​ថាមពល
Name[ko]=작업 관리 데이터 엔진
Name[lv]=Procesu pārvaldības datu dzinējs
Name[nb]=Motor for oppgavedata
Name[nds]=Opgavenpleeg-Hanteerkarn
Name[ne]=कार्य व्यवस्थापन डेटा इन्जिन
Name[nl]=Taakbeheer (gegevensengine)
Name[nn]=Datamotor for oppgåvestyring
Name[pa]=ਟਾਸਕ ਮੈਨੇਜ਼ਮੈਂਟ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Dane o zadaniach
Name[pt]=Motor de Dados de Gestão de Tarefas
Name[pt_BR]=Mecanismo de Dados de Gerenciamento Tarefas
Name[se]=Bargogieđahallama dáhtamohtor
Name[sr]=Мотор за управљање задацима
Name[sr@latin]=Motor za upravljanje zadacima
Name[sv]=Datagränssnitt för aktivitetshantering
Name[x-test]=xxTask Management Data Enginexx
Name[zh_CN]=任务管理数据引擎
Name[zh_TW]=工作管理資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=alarmclock
X-KDE-Library=plasma_engine_tasks
X-Plasma-EngineName=tasks
