[Desktop Entry]
Comment=Default toolbox for the netbook shell
Comment[en_GB]=Default toolbox for the netbook shell
Comment[sv]=Standardverktyg för nätdatorskalet
Comment[uk]=Типовий набір інструментів для оболонки субноутбуків
Comment[x-test]=xxDefault toolbox for the netbook shellxx
Icon=plasma
Name=Net toolbox
Name[en_GB]=Net toolbox
Name[sv]=Nätverksverktyg
Name[uk]=Набір інструментів для субноутбуків
Name[x-test]=xxNet toolboxxx
Type=Service

X-KDE-ServiceTypes=Plasma/ToolBox
X-KDE-Library=plasma_toolbox_nettoolbox
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.nettoolbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

