[Desktop Entry]
Name=Trashcan
Name[eo]=Rubujo
Name[ga]=Bruscar
Name[gu]=કચરાપેટી
Name[ja]=ごみ箱
Name[km]=ធុង​សំរាម
Name[ko]=휴지통
Name[pt]=Lixo
Name[pt_BR]=Lixo
Name[sr]=корпа за смеће
Name[sr@latin]=korpa za smeće
Name[tr]=Çöp Kutusu
Name[uk]=Смітник
Name[x-test]=xxTrashcanxx
Name[zh_TW]=資源回收筒
Comment=A trashcan button
Comment[eo]=Rubuja butono
Comment[ga]=Cnaipe bruscair
Comment[gu]=કચરાપેટી બટન
Comment[ja]=ごみ箱ボタン
Comment[km]=ប៊ូតុង​ធុង​សំរាម
Comment[ko]=휴지통 단추
Comment[pt]=Um botão de caixote do lixo
Comment[pt_BR]=Um botão de caixote do lixo
Comment[sr]=Дугме корпе за смеће
Comment[sr@latin]=Dugme korpe za smeće
Comment[tr]=Bir çöp kutusu düğmesi
Comment[uk]=Кнопка смітника
Comment[x-test]=xxA trashcan buttonxx
Comment[zh_TW]=資源回收筒按鍵
Type=Service
Icon=user-trash
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_trash
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=trash
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

