[Desktop Entry]
Name=QEdje Gadgets
Name[ar]=ودجات QEdje
Name[be@latin]=Gadžety „QEdje”
Name[bg]=Джаджи QEdje
Name[csb]=Gadżetë QEdje
Name[de]=QEdje-Miniprogramme
Name[el]=Συστατικά QEdje
Name[es]=Gadgets de QEdje
Name[eu]=QEdje gadget-ak
Name[fi]=QEdje-sovelmat
Name[fr]=Gadgets QEdje
Name[gl]=Gadgets de QEdje
Name[gu]=QEdje ગેજેટ્સ
Name[hi]=क्यूईडीजेई गज़ेट
Name[is]=QEdje dót
Name[it]=Gadgets QEdje
Name[ja]=QEdje ガジェット
Name[kk]=QEdje аспаптары
Name[km]=ធាតុក្រាហ្វិក QEdje
Name[ko]=QEdje 가젯
Name[lv]=QEdje sīkrīki
Name[ml]=QEdje ഗാഡ്ജറ്റുകള്‍
Name[mr]=QEdje उपकरण
Name[nds]=QEdje-Lüttprogrammen
Name[or]=QEdje ମେସିନ
Name[pa]=QEdje ਗੈਜ਼ਿੱਟ
Name[pt]=Itens do QEdje
Name[pt_BR]=Gadgets do QEdje
Name[sl]=Gradniki QEdje
Name[sv]=QEdje-grejer
Name[tg]=Механизмҳо QEdje
Name[th]=เครื่องมือ QEdje
Name[tr]=QEdje Programcıkları
Name[uk]=Елементи QEdje
Name[x-test]=xxQEdje Gadgetsxx
Name[zh_CN]=QEdje 小工具
Name[zh_TW]=QEdje 小玩意
Comment=QEdje Gadget
Comment[ar]=ودجة QEdje
Comment[be@latin]=Gadžet „QEdje”
Comment[bg]=Джаджа QEdje
Comment[csb]=Gadżet QEdje
Comment[de]=QEdje-Miniprogramm
Comment[el]=Συστατικά QEdje
Comment[es]=Gadgets de QEdje
Comment[et]=QEdje Gadgets
Comment[eu]=QEdje gadget-a
Comment[fi]=QEdje-sovelma
Comment[fr]=Gadget QEdje
Comment[gl]=Gadget de QEdje
Comment[gu]=QEdje ગેજેટ
Comment[hi]=क्यूईडीजेई गज़ेट
Comment[is]=QEdje dót
Comment[it]=Gadget QEdje
Comment[ja]=QEdje ガジェット
Comment[kk]=QEdje  аспабы
Comment[km]=ធាតុក្រាហ្វិក QEdje
Comment[ko]=QEdje 가젯
Comment[lv]=QEdje sīkrīks
Comment[ml]=QEdje ഗാഡ്ജറ്റ്
Comment[mr]=QEdje उपकरण
Comment[nb]=QEedje-greie
Comment[nds]=QEdje-Lüttprogramm
Comment[nl]=QEdje-gadget
Comment[or]=QEdje ମେସିନ
Comment[pa]=QEdje ਗੈਜ਼ਿੱਟ
Comment[pt]=Item do QEdje
Comment[pt_BR]=Gadget do QEdje
Comment[sl]=Gradnik QEdje
Comment[sv]=QEdje-grejer
Comment[tg]=Механизмҳои QEdje
Comment[th]=เครื่องมือ QEdje
Comment[tr]=QEdje Programcığı 
Comment[uk]=Елемент QEdje
Comment[x-test]=xxQEdje Gadgetxx
Comment[zh_CN]=QEdje 小工具
Comment[zh_TW]=QEdje 小玩意
Type=Service

X-EngineName=qedjescript
X-KDE-PluginInfo-Name=qedjescript
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_qedje
X-Plasma-PackageFileFilter=*.edj
X-Plasma-API=qedjescript
