[Desktop Entry]
Name=QEdje Gadgets
Name[ar]=ودجات QEdje
Name[be@latin]=Gadžety „QEdje”
Name[de]=QEdje-Miniprogramme
Name[el]=Συστατικά QEdje
Name[es]=Gadgets de QEdje
Name[gl]=Gadgets de QEdje
Name[gu]=QEdje ગેજેટ્સ
Name[hi]=क्यूईडीजेई गज़ेट
Name[it]=Gadgets QEdje
Name[ja]=QEdje ガジェット
Name[kk]=QEdje аспаптары
Name[km]=ធាតុក្រាហ្វិក QEdje
Name[lv]=QEdje sīkrīki
Name[ml]=QEdje ഗാഡ്ജറ്റുകള്‍
Name[nds]=QEdje-Lüttprogrammen
Name[pt]=Itens do QEdje
Name[pt_BR]=Itens do QEdje
Name[sv]=QEdje-grejer
Name[tr]=QEdje Programcıkları
Name[uk]=Елементи QEdje
Name[x-test]=xxQEdje Gadgetsxx
Name[zh_CN]=QEdje 小工具
Name[zh_TW]=QEdje 小玩意
Comment=QEdje Gadget
Comment[ar]=ودجة QEdje
Comment[be@latin]=Gadžet „QEdje”
Comment[de]=QEdje-Miniprogramm
Comment[el]=Συστατικά QEdje
Comment[es]=Gadgets de QEdje
Comment[et]=QEdje Gadgets
Comment[gl]=Gadget de QEdje
Comment[gu]=QEdje ગેજેટ
Comment[hi]=क्यूईडीजेई गज़ेट
Comment[it]=Gadget QEdje
Comment[ja]=QEdje ガジェット
Comment[kk]=QEdje  аспабы
Comment[km]=ធាតុក្រាហ្វិក QEdje
Comment[lv]=QEdje sīkrīks
Comment[ml]=QEdje ഗാഡ്ജറ്റ്
Comment[nb]=QEedje-greie
Comment[nds]=QEdje-Lüttprogramm
Comment[nl]=QEdje-gadget
Comment[pt]=Item do QEdje
Comment[pt_BR]=Item do QEdje
Comment[sv]=QEdje-grejer
Comment[tr]=QEdje Programcığı 
Comment[uk]=Елемент QEdje
Comment[x-test]=xxQEdje Gadgetxx
Comment[zh_CN]=QEdje 小工具
Comment[zh_TW]=QEdje 小玩意
Type=Service

X-EngineName=qedjescript
X-KDE-PluginInfo-Name=qedjescript
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_qedje
X-Plasma-PackageFileFilter=*.edj
X-Plasma-API=qedjescript
