[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmfontinst
Icon=kcmfontinst
Type=Application
DocPath=kcontrol/font-installer.html

X-KDE-ModuleType=Library
X-KDE-Library=fontinst
X-KDE-FactoryName=fontinst
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true

Name=Font Installer
Name[af]=skrif tipe installeerder
Name[ar]=مثبت الخطوط
Name[az]=Yazı Növü Qurucusu
Name[bg]=Инсталатор на шрифт
Name[bs]=Dodavanje fontova
Name[cs]=Instalátor písem
Name[da]=Skrifttype-installering
Name[de]=Schriften-Installation
Name[el]=Εγκατάσταση Γραμματοσειρών
Name[eo]=Tiparinstalilo
Name[es]=Instalador de fuentes
Name[et]=Fontide paigaldaja
Name[eu]=Letra tipoak Instalatzeko tresna
Name[fi]=Kirjasinasentaja
Name[fr]=Installeur de polices
Name[he]=מתקין הגופנים
Name[hu]=Betűtípus-telepítő
Name[is]=KDE letursækir
Name[it]=Installatore dei tipi di carattere
Name[ja]=フォントインストーラ
Name[ko]=글꼴 설치기
Name[lt]=Šriftų įdiegėjas
Name[lv]=Fontu Instalators
Name[nb]=Skrifttype-installerer
Name[nl]=Lettertype Installeerder
Name[nn]=Skriftinstallering
Name[pt]=Instalador de Tipos de Letra
Name[pt_BR]=Instalador KDE
Name[ro]=Instalator fonturi
Name[ru]=Установка шрифтов
Name[sk]=Inštalátor písiem
Name[sl]=Namestilnik pisav
Name[sr]=Instalacija fontova
Name[sv]=Teckensnittsinstallerare
Name[ta]=±ØòÐÕ ¿¢ÚÅ¢
Name[th]=ติดตั้งรูปแบบตัวอักษร
Name[tr]=Yazıtipi Kurucusu
Name[uk]=Встановлювач шрифтів
Name[ven]=Mudzhenisi wa Fontu
Name[xh]=Umfaki wobungakanani begama
Name[xx]=xx
Name[zh_CN]=字体安装程序
Name[zh_TW]=字型安裝程式
Name[zu]=Font Umfaki

GenericName=Install & preview fonts
GenericName[af]=installeer & voorskou skriftipes
GenericName[ar]=تثبيت و رؤية الخطوط
GenericName[az]=Yazı növü qur & nümayiş et
GenericName[bg]=Инсталира и преглежда шрифтове
GenericName[bs]=Dodavanje i pregledanje fontova
GenericName[cs]=Instalace a náhled písem
GenericName[da]=Installér og forhåndsvis skrifttyper
GenericName[de]=Schriften installieren und betrachten
GenericName[el]=Εγκατάσταση & Προεπισκόπηση Γραμματοσειρών
GenericName[eo]=Instalas kaj prezentas tiparojn
GenericName[es]=Instalar y previsualizar fuentes
GenericName[et]=Fontide paigaldamine ja eelvaatlus
GenericName[eu]=Instalatu & ikusi letra tipoak
GenericName[fi]=Asenna ja esikatsele kirjasimia
GenericName[fr]=Pour installer et afficher des polices de caractères
GenericName[he]=התקנה ותצוגה מקדימה של גופנים
GenericName[hu]=Betűtípusok telepítése előnézettel
GenericName[is]=Setja inn & forskoða letur
GenericName[it]=Installa e visualizza i tipi di carattere
GenericName[ja]=フォントのインストール、プレビューをします
GenericName[ko]=글꼴을 미리보거나 깔아줍니다
GenericName[lt]=Instaliuoja ir peržiūri šriftus
GenericName[lv]=Instalē un apskata fontus
GenericName[nb]=Innstaller og forhåndsvis skrifttyper
GenericName[nl]=Lettertypen installeren en bekijken
GenericName[nn]=Installer og vis skrifttypar
GenericName[pt]=Instala e antevê tipos de letra
GenericName[pt_BR]=Instalar & Visualizar Fontes
GenericName[ro]=Instalează şi previzualizează fonturi
GenericName[ru]=установка и просмотр шрифтов
GenericName[sk]=Inštaluje a zobrazuje písma
GenericName[sl]=Namesti in prikaže pisave
GenericName[sr]=Instalacija i pregled fontova
GenericName[sv]=Installera & förhandsgranska teckensnitt
GenericName[ta]=±ØòÐÕ «¨ÁôÒ, Óý§É¡ð¼õ
GenericName[th]=ติดตั้งและแสดงตัวอย่างรูปแบบตัวอักษร
GenericName[tr]=Yazıtiplerini kur & önizle
GenericName[uk]=Дозволяє встановлювати та переглядати шрифти
GenericName[ven]=Dzhenisa & Fontu ya mbonelaphanda
GenericName[vi]=Install & xem font
GenericName[xh]=Faka & yenza imboniso yobungakanani bamagama
GenericName[xx]=xx
GenericName[zh_CN]=安装和预览字体
GenericName[zh_TW]=安裝並且預覽字型
GenericName[zu]=Faka & yenza imboniso yama fonts
