[Desktop Entry]
Type=Service
Name=Status Notifier Manager
Name[bn]=স্ট্যাটাস বিজ্ঞপ্তি ম্যানেজার
Name[ca]=Gestor del notificador d'estat
Name[ca@valencia]=Gestor del notificador d'estat
Name[cs]=Správce oznamování stavu
Name[da]=Håndtering af statusbekendtgørelser
Name[de]=Statusbenachrichtigungs-Verwaltung
Name[el]=Επόπτης κατάστασης ειδοποιήσεων
Name[en_GB]=Status Notifier Manager
Name[es]=Gestor del notificador del estado
Name[et]=Oleku märguannete haldur
Name[fr]=Gestionnaire du notificateur d'état
Name[ia]=Gerente de Notificator de Stato
Name[id]=Manajer Notifikasi Status
Name[is]=Stöðutilkynningaþjónn
Name[it]=Gestore del notificatore di stato
Name[ja]=ステータス通知マネージャ
Name[kk]=Күй-жайы туралы құлақтандырғыш менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​ធាតុជូន​ដំណឹង​អំពី​ស្ថានភាព
Name[kn]= ಸ್ಥಿತಿ ಸೂಚನಾ ವ್ಯವಸ್ಥಾಪಕ
Name[lt]=Būsenos pranešimų valdymas
Name[nb]=Håndtering av statusvarsler
Name[nds]=Statusbescheed-Beluern
Name[nl]=Statusmeldingenbeheerder
Name[pa]=ਹਾਲਤ ਨੋਟੀਫਾਇਰ ਮੈਨੇਜਰ
Name[pt]=Gestor das Notificações de Estado
Name[pt_BR]=Gerenciador de notificações de status
Name[sv]=Hantering av statusunderrättelser
Name[tg]=Мудири ҳолатҳои система
Name[th]=ตัวจัดการการแจ้งสถานะให้ทราบ
Name[uk]=Керування сповіщенням про стан
Name[x-test]=xxStatus Notifier Managerxx
Name[zh_CN]=状态通知管理器
Name[zh_TW]=狀態通知管理員
Comment=Manages services that provide status notifier user interfaces
Comment[ca]=Gestiona serveis que proporcionen notificacions d'estat a les interfícies d'usuari
Comment[ca@valencia]=Gestiona serveis que proporcionen notificacions d'estat a les interfícies d'usuari
Comment[da]=Håndterer tjenester der giver brugerflader til statusbekendtgørelser
Comment[el]=Διαχείριση υπηρεσιών που παρέχουν ειδοποιήσεις καταστάσεων περιβάλλοντος χρήστη
Comment[en_GB]=Manages services that provide status notifier user interfaces
Comment[es]=Gestiona servicios que proporcionan interfaces de usuario para el notificador de estado
Comment[et]=Teenuste haldamine, mis pakuvad olekumärguannete kasutajaliidest
Comment[fr]=Gère les services qui fournissent des interfaces utilisateurs pour la notification d'état
Comment[he]=ניהול שירותים המספקים ממשקי משתמש להודעות מצב
Comment[hr]=Upravlja uslugama koje pružaju korisničko sučelje za obavještavanje o stanju
Comment[ia]=Il gere servicios que forni interfaces de usator pro notificator de stato
Comment[id]=Atur layanan yang menyediakan notifikasi status antarmuka pengguna
Comment[it]=Gestisce i servizi che forniscono interfacce utente al notificatore di stato
Comment[ja]=ステータス通知ユーザインターフェースを提供するサービスを管理
Comment[kk]=Күй-жайы туралы құлақтандыру интерфейсін қамтамасыз ететін қызметін басқару
Comment[km]=គ្រប់គ្រង​សារ​ដែល​ផ្ដល់​កម្មវិធី​​ជូនដំណឹង​អំពី​ស្ថានភាព​ចំណុច​ប្រទាក់​អ្នកប្រើ
Comment[lt]=Valdo tarnybas, teikiančias būsenos pranešimų vartotojo sąsajas
Comment[nb]=Håndterer tjenester som tilbyr brukerflater for statusvarsler
Comment[nds]=Deensten plegen, de Statusbescheed-Brukerkoppelsteden praatstellt
Comment[nl]=Beheert services die statusmeldingen leveren aan gebruikersinterfaces
Comment[pt]=Faz a gestão dos serviços que fornecem interface de notificação do estado
Comment[pt_BR]=Gerencia os serviços que fornecem interfaces de notificação do status
Comment[sv]=Hanterar tjänster som tillhandahåller användargränssnitt för statusunderrättelser
Comment[th]=จัดการบริการต่าง ๆ ที่แจ้งสถานะมาให้ผู้ใช้รับทราบ
Comment[uk]=Керує службами інтерфейсів користувач для сповіщення про стан
Comment[x-test]=xxManages services that provide status notifier user interfacesxx
Comment[zh_CN]=状态通知协议的管理服务
Comment[zh_TW]=管理提供狀態通知使用者介面的服務

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=statusnotifierwatcher
X-KDE-DBus-ModuleName=statusnotifierwatcher
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

