[Desktop Entry]
Name=Python Date and Time
Name[el]=Ημερομηνία και ώρα Python
Name[gl]=Data e hora en Python
Name[km]=ពេលវេលា និង​កាលបរិច្ឆេទ​ Python
Name[pt]=Data e Hora em Python
Name[pt_BR]=Data e Hora em Python
Name[sv]=Python datum och tid
Name[tr]=Python Tarih ve Saat
Name[uk]=Дата і час Python
Name[zh_TW]=Python 日期與時間
Comment=Python Time data for Plasmoids
Comment[el]=Δεδομένα χρόνου για πλασμοειδή Python
Comment[gl]=Datos de tempo para os Plasmoides en Python
Comment[km]=ទិន្នន័យ​ពេលវេលា Python សម្រាប់ Plasmoids
Comment[pt]=Dados de data/hora para os Plasmóides em Python
Comment[pt_BR]=Dados de data/hora para os Plasmóides em Python
Comment[sv]=Python tiddata för Plasmoider
Comment[tr]=Plasma programcıkları için Python zaman verileri
Comment[uk]=Дані часу для Плазмоїдів Python
Comment[zh_TW]=Plasmoids 的 Python 時間資料
Type=Service
Icon=preferences-system-time
ServiceTypes=Plasma/DataEngine
X-Plasma-API=python

X-KDE-PluginInfo-Author=Simon Edwards
X-KDE-PluginInfo-Email=simon@simonzone.com
X-KDE-PluginInfo-Name=pytime
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Python Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
