[Desktop Entry]
Exec=kcmshell khotkeys
Icon=khotkeys
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=khotkeys

Name=KHotKeys
Name[cs]=Horké klávesy KDE
Name[es]=Teclas rápidas de KDE
Name[et]=KDE kiirklahvid
Name[fi]=Pikanäppäimet
Name[pt_BR]=Teclas de atalho
Name[sv]=Khotkeys
Name[xx]=xxKHotKeysxx

Keywords=Keys,Global key bindings,Key scheme,Key bindings
Keywords[ca]=Tecles,lligams de tecla globals,Esquema de tecla,Lligams de tecles
Keywords[cs]=Klávesy,Globální klávesové zkratky,Schéma kláves,Klávesové zkratky,Zkratky
Keywords[da]=Taster,Globale tastebindinger,Tasteskema,Tastebindinger
Keywords[el]=Πλήκτρα,Καθολικοί συνδυασμοί πλήκτρων,Θέμα πλήκτρων,Συνδυασμοί πλήκτρων
Keywords[es]=Teclas,Asociaciones de teclas globales,Esquema de teclas,Asociaciones de teclas
Keywords[et]=klahvid,globaalsed kiirklahvid,klahviskeem,klahvide seosed
Keywords[fi]=Näppäimet,Yleiset näppäinsidokset,Näppäinteema,Näppäinsidokset
Keywords[hu]=billentyűk,globális billentyűhozzárendelés,billentyűkiosztás,billentyűparancsok
Keywords[nl]=keys,toetsen,toetsenindeling,toetsenbindingen,key bindings,sneltoetsen,globale toetsenbindingen
Keywords[pt]=teclas,teclas globais,esquema de teclas,atribuições de teclas,atalhos,atalhos da aplicação
Keywords[pt_BR]=Teclas,Teclas de atalho globais,esquema de teclado,teclas de atalho
Keywords[sr]=Keys,Global key bindings,Key scheme,Key bindings,shortcuts,application shortcuts,тастери,глобални тасте,пречица,шема тастера,пречице,програмске пречице
Keywords[sv]=Tangenter,Globala kortkommandon,bindningar,Tangentbindningar
Keywords[tr]=Tuşlar,Genel tuş bağıntıları,Tuş şeması,Tuş bağıntıları
Keywords[xx]=xxKeys,Global key bindings,Key sheme,Key bindingsxx
Categories=Qt;KDE;X-KDE-settings-system
