[Desktop Entry]
Name=Activities Engine
Name[es]=Motor de actividades
Name[et]=Tegevuste mootor
Name[ia]=Motor de Activitate
Name[ja]=アクティビティエンジン
Name[kk]=Белсенділік тетігі
Name[km]=ម៉ាស៊ីន​សកម្មភាព
Name[ko]=활동 엔진
Name[lt]=Veiklų modulis
Name[nb]=Aktivitetsmotor
Name[nds]=Aktivitetenpleger
Name[nl]=Activiteiten-engine
Name[pa]=ਸਰਗਰਮੀ ਇੰਜਣ
Name[pt]=Motor de Actividades
Name[pt_BR]=Mecanismo de atividades
Name[sv]=Aktivitetsgränssnitt
Name[uk]=Рушій просторів дій
Name[x-test]=xxActivities Enginexx
Name[zh_CN]=活动引擎
Name[zh_TW]=活動引擎
Comment=Information on Plasma Activities
Comment[es]=Información sobre las actividades de Plasma
Comment[et]=Teave Plasma tegevuste kohta.
Comment[ia]=Information re Activitates de Plasma
Comment[ja]=Plasma アクティビティの情報
Comment[kk]=Plasma белсенділігі туралы мәлімет
Comment[km]=ព័ត៌មាន​អំពី​សកម្មភាព​ប្លាស្មា
Comment[ko]=Plasma 활동 정보
Comment[lt]=Informacija apie Plasma veiklas
Comment[nb]=Informasjon om Plasma-aktiviteter
Comment[nds]=Informatschonen över Plasma-Aktiviteten
Comment[nl]=Informatie over Plasma activiteiten
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸਰਗਰਮੀਆਂ ਲਈ ਜਾਣਕਾਰੀ
Comment[pt]=Informação sobre as Actividades do Plasma
Comment[pt_BR]=Informações sobre as atividades do Plasma
Comment[sv]=Information om aktiviteter i Plasma
Comment[uk]=Інформація про простори дій Плазми
Comment[x-test]=xxInformation on Plasma Activitiesxx
Comment[zh_TW]=Plasma 活動的資訊
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_activities
X-Plasma-EngineName=activities
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.activities
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
