[Desktop Entry]
Name=Ruby Package Structure
Name[ca]=Estructura de paquets en Ruby
Name[el]=Δομή πακέτου Ruby
Name[gu]=રૂબી પેકેજ માળખું
Name[kk]=Ruby дестесінің құрылымы
Name[nb]=Ruby pakkestruktur
Name[nds]=Ruby-Paketstruktuur
Name[nl]=Ruby-pakketstructuur
Name[pt]=Estrutura de Pacotes em Ruby
Name[pt_BR]=Estrutura de Pacotes em Ruby
Name[sv]=Ruby paketstruktur
Name[tr]=Ruby Paket Yapısı
Name[uk]=Структура пакунка Ruby
Name[zh_TW]=Ruby 套件結構
Comment=Format of a Ruby Script Engine Package
Comment[ca]=Format d'un paquet de motor d'script en Python
Comment[el]=Μορφή ενός πακέτου σεναρίου μηχανής Ruby
Comment[gu]=રૂબી સ્ક્રિપ્ટ એન્જિન પેકેજનું બંધારણ
Comment[kk]=Ruby скрипт тетігі дестесінің пішімі
Comment[nb]=Format for en Ruby skriptmotor-pakke
Comment[nds]=Formaat vun en Ruby-Skriptkarnpaket
Comment[nl]=Opmaak van een Ruby-script-engine-pakket
Comment[pt]=Formato de um Pacote de Motor em Ruby
Comment[pt_BR]=Formato de um Pacote de Motor em Ruby
Comment[sv]=Format för ett paket med Ruby-skriptgränssnitt
Comment[tr]=Bir Ruby Betik Motoru Paketinin Yapısı
Comment[uk]=Формат пакунка рушія скриптів на Ruby
Comment[zh_TW]=Ruby 文稿引擎套件的格式
X-KDE-ServiceTypes=Plasma/PackageStructure
Type=Service
Icon=text-x-script
X-KDE-Library=krubypluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_ruby/package_ruboid.rb
X-KDE-PluginInfo-Name=Ruboid
