[Desktop Entry]
Name=Ruby Widget
Name[ca]=Estri Ruby
Name[el]=Συστατικό Ruby
Name[gu]=રૂબી વિજેટ
Name[ja]=Ruby ウィジェット
Name[kk]=Ruby бөлшегі
Name[nb]=Ruby-element
Name[nds]=Ruby-Lüttprogramm
Name[nl]=Ruby-widget
Name[pt]=Elemento Ruby
Name[pt_BR]=Elemento Ruby
Name[sv]=Grafisk Ruby-komponent
Name[tr]=Ruby Parçacığı
Name[uk]=Віджет Ruby
Name[x-test]=xxRuby Widgetxx
Name[zh_TW]=Ruby 元件
Comment=Native Plasma widget written in Ruby
Comment[ca]=Estri nadiu del Plasma escrit en Ruby
Comment[el]=Εγγενές συστατικό Plasma γραμμένο σε Ruby
Comment[gu]=રૂબીમાં લખાયેલ મૂળભૂત પ્લાઝમા વિજેટ
Comment[kk]=Ruby-дег жазылған Plasma интерфейс бөлшегі
Comment[nb]=Plasmaelement for dette systemet, skrevet i Ruby
Comment[nds]=En orginaal Plasmaelement, schreven in Ruby
Comment[nl]=Plasma-widget geschreven in Ruby
Comment[pt]=Elemento nativo do Plasma feito em Ruby
Comment[pt_BR]=Elemento nativo do Plasma feito em Ruby
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i Ruby
Comment[tr]=Ruby ile yazılmış gerçek Plasma Programcığı
Comment[uk]=Віджет Плазми, написаний на Ruby
Comment[x-test]=xxNative Plasma widget written in Rubyxx
Comment[zh_TW]=用 Ruby 寫的原始 Plasma 元件
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=krubypluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_ruby/applet.rb
X-EngineName=ruby-applet-script
X-Plasma-API=ruby-script
X-Plasma-PackageFormat=Ruboid
X-Plasma-ComponentTypes=Applet
