[Desktop Entry]
Name=Weather Data Engine
Name[el]=Μηχανή δεδομένων καιρού
Name[ga]=Inneall Sonraí Aimsire
Name[ja]=気象データエンジン
Name[kk]=Ауа райы қызметі
Name[nb]=Værdata-motor
Name[nds]=Weder-Datenhanteerkarn
Name[nl]=Weer-gegevensengine
Name[pt]=Motor de Dados Meteorológicos
Name[pt_BR]=Mecanismo de Dados Meteorológicos
Name[sv]=Datagränssnitt för väder
Name[zh_TW]=天氣資料引擎
Comment=Weather data for Plasmoids
Comment[el]=Δεδομένα καιρού για πλασμοειδή
Comment[ga]=Sonraí aimsire le haghaidh Plasmoids
Comment[ja]=Plasmoids のための気象データ
Comment[kk]=Плазмоидтер үшін ауа райы деректері
Comment[nb]=Værdata for Plasmoids
Comment[nds]=Wederdaten för Plasmoiden
Comment[nl]=Weergegevens voor Plasmoids
Comment[pt]=Dados meteorológicos para os Plasmóides
Comment[pt_BR]=Dados meteorológicos para os Plasmóides
Comment[sv]=Väderdata för Plasmoider
Comment[zh_TW]=Plasmoid 的天氣資料
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=
X-KDE-Library=plasma_engine_weather
X-EngineName=weather
