[Desktop Entry]
Name=Google Gadgets
Name[ar]=ودجات جوجل
Name[be@latin]=Gadžety „Google”
Name[bn]=গুগল্ গ্যাজেট্‌স
Name[csb]=Gadżetë z Google
Name[de]=Google Gadgets (Miniprogramme)
Name[el]=Συστατικά Google
Name[es]=Gadgets de Google
Name[fi]=Google-sovelmat
Name[fr]=Gadgets Google
Name[ga]=Giuirléidí Google
Name[gl]=Gadgets de Google
Name[gu]=ગુગલ ગેજેટ્સ
Name[hi]=गूगल गॅजेट्स
Name[is]=Google dót
Name[ja]=Google ガジェット
Name[kk]=Google аспаптары
Name[km]=ឧបករណ៍​​តាម​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ಯಂತ್ರೋಪಕರಣಗಳು
Name[ko]=Google 가젯
Name[ku]=Nûçeyên Google
Name[lt]=Google valdikliai
Name[lv]=Google sīkrīki
Name[ml]=ഗൂഗിള്‍ ഗാഡ്ജറ്റുകള്‍
Name[mr]=Google उपकरण
Name[nb]=Google-greier
Name[nds]=Google-Lüttprogrammen
Name[nl]=Google-gadgets
Name[nn]=Google-tenester
Name[or]=Google ମେସିନ
Name[pa]=Google ਗੈਜਿੱਟ
Name[pl]=Gadżety Google
Name[pt_BR]=Gadgets do Google
Name[sr]=Гуглове справице
Name[sr@latin]=Googleove spravice
Name[sv]=Googlegrejer
Name[te]=గూగుల్ గేడ్జెట్స్
Name[tg]=Механизмҳои Google
Name[th]=แกดเจ็ตของกูเกิ้ล
Name[tr]=Google Araçları
Name[uk]=Гаджети Google
Name[x-test]=xxGoogle Gadgetsxx
Name[zh_CN]=Google 小工具
Name[zh_TW]=Google小工具
Comment=Google Desktop Gadget
Comment[ar]=ودجات سطح المكتب من جوجل
Comment[be@latin]=Gadžet rabočaha stała „Google”
Comment[bn]=গুগল ডেস্কটপ গ্যাজেট
Comment[bn_IN]=গুগল ডেস্কটপ গ্যাজেট
Comment[ca]=Google Gadget d'escriptori
Comment[ca@valencia]=Google Gadget d'escriptori
Comment[de]=Google-Arbeitsflächen-Miniprogramm
Comment[el]=Συστατικό Google επιφάνειας εργασίας
Comment[es]=Gadget de escritorio de Google
Comment[et]=Google'i töölauavidin
Comment[eu]=Google-ren mahaigaineko gadget-a
Comment[fi]=Google-työpöytäsovelmat
Comment[fr]=Gadget de bureau Google
Comment[fy]=Google Buroblêd Gadget
Comment[gl]=Gadget de Google para o escritorio
Comment[gu]=ગુગલ ડેસ્કટોપ ગેજેટ
Comment[hi]=गूगल डेस्कटॉप गज़ेट
Comment[is]=Google skjáborðsdót
Comment[it]=Gadget di Google Desktop
Comment[ja]=Google デスクトップガジェット
Comment[kk]=Google Үстел аспабы
Comment[km]=ឧបករណ៍​ផ្ទៃតុ​ហ្គូហ្គល​
Comment[kn]=ಗೂಗಲ್ ಗಣಕತೆರೆ ಯಂತ್ರೋಪಕರಣ
Comment[ko]=Google 데스크톱 가젯
Comment[lt]=Google darbastalio valdiklis
Comment[lv]=Google darbvirsmas sīkrīks
Comment[ml]=ഗൂഗിള്‍ പണിയിടം ഗാഡ്ജറ്റ്
Comment[mr]=Google डेस्कटॉप उपकरण
Comment[nb]=Google skrivebordsdings
Comment[nds]=Schriefdischlüttprogramm vun Google
Comment[nl]=Google-bureaubladgadget
Comment[nn]=Google-skrivebordsteneste
Comment[or]=Google ଡ଼େସ୍କଟପ ମେସିନ
Comment[pa]=ਗੂਗਲ ਡੈਸਕਟਾਪ ਗੈਜਿੱਟ
Comment[pl]=Gadżetu Google na pulpicie
Comment[pt]='Gadget' do Google Desktop
Comment[pt_BR]=Gadget do Google Desktop
Comment[ru]=Google Gadget
Comment[sl]=Gradnik Google Gadget
Comment[sr]=Гуглове справице за површ
Comment[sr@latin]=Googleove spravice za površ
Comment[sv]=Google skrivbordsgrejer
Comment[te]=గూగుల్ డెస్‍క్ టాప్ గేడ్జెట్
Comment[tg]=Механизмҳои мизи кории Google
Comment[th]=แกดเจ็ตพื้นที่ทำงานของกูเกิ้ล
Comment[tr]=Google Masaüstü Aracı
Comment[uk]=Гаджет стільниці Google
Comment[x-test]=xxGoogle Desktop Gadgetxx
Comment[zh_CN]=Google 桌面小工具
Comment[zh_TW]=Google桌面小工具
Type=Service
Icon=google-gadgets
X-KDE-PluginInfo-Name=googlegadgets
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_ggl
X-Plasma-PackageFileFilter=*.gg
X-Plasma-ProvidesWidgetBrowser=true
