[Desktop Entry]
Name=GoogleGadgets
Name[zh_TW]=Google 小玩意
Comment=Google Desktop Gadgets
Comment[et]=Google'i töölauavidinad
Comment[uk]=Гаджети стільниці Google
Comment[zh_TW]=Google 桌面小玩意
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=google-gadgets
X-KDE-Library=plasma_scriptengine_ggl
X-EngineName=googlegadgets
X-Plasma-API=googlegadgets
X-Plasma-ComponentTypes=Applet
X-Plasma-PackageFormat=googlegadgets
X-KDE-PluginInfo-Name=googlegadgets
