[Desktop Entry]
Name=Google Gadgets
Name[be@latin]=Gadžety „Google”
Name[de]=Google Gadgets (Miniprogramme)
Name[el]=Συστατικά Google
Name[es]=Gadgets de Google
Name[ga]=Giuirléidí Google
Name[gl]=Gadgets de Google
Name[gu]=ગુગલ ગેજેટ્સ
Name[ja]=Google ガジェット
Name[kk]=Google аспаптары
Name[km]=ឧបករណ៍​​តាម​ហ្គូហ្គល
Name[kn]=ಗೂಗಲ್ ಯಂತ್ರೋಪಕರಣಗಳು
Name[lv]=Google sīkrīki
Name[ml]=ഗൂഗിള്‍ ഗാഡ്ജറ്റുകള്‍
Name[nb]=Google-greier
Name[nds]=Google-Lüttprogrammen
Name[nl]=Google-gadgets
Name[nn]=Google-tenester
Name[pa]=Google ਗੈਜਿੱਟ
Name[pt_BR]=Gadgets do Google
Name[sv]=Googlegrejer
Name[te]=గూగుల్ గేడ్జెట్స్
Name[th]=แกดเจ็ตของกูเกิ้ล
Name[tr]=Google Araçları
Name[uk]=Гаджети Google
Name[x-test]=xxGoogle Gadgetsxx
Name[zh_CN]=Google 小工具
Name[zh_TW]=Google小工具
Comment=Google Desktop Gadget
Comment[be@latin]=Gadžet rabočaha stała „Google”
Comment[ca]=Google Gadget d'escriptori
Comment[de]=Google-Arbeitsflächen-Miniprogramm
Comment[el]=Συστατικό Google επιφάνειας εργασίας
Comment[es]=Gadget de escritorio de Google
Comment[et]=Google'i töölauavidin
Comment[gl]=Gadget de Google para o escritorio
Comment[gu]=ગુગલ ડેસ્કટોપ ગેજેટ
Comment[it]=Gadget di Google Desktop
Comment[ja]=Google デスクトップガジェット
Comment[kk]=Google Үстел аспабы
Comment[km]=ឧបករណ៍​ផ្ទៃតុ​ហ្គូហ្គល​
Comment[kn]=ಗೂಗಲ್ ಗಣಕತೆರೆ ಯಂತ್ರೋಪಕರಣ
Comment[lv]=Google darbvirsmas sīkrīks
Comment[ml]=ഗൂഗിള്‍ പണിയിടം ഗാഡ്ജറ്റ്
Comment[nb]=Google skrivebordsdings
Comment[nds]=Schriefdischlüttprogramm vun Google
Comment[nl]=Google-bureaubladgadget
Comment[nn]=Google-skrivebordsteneste
Comment[pa]=ਗੂਗਲ ਡੈਸਕਟਾਪ ਗੈਜਿੱਟ
Comment[pt]='Gadget' do Google Desktop
Comment[pt_BR]=Gadget do Google Desktop
Comment[sl]=Gradnik Google Gadget
Comment[sv]=Google skrivbordsgrejer
Comment[te]=గూగుల్ డెస్‍క్ టాప్ గేడ్జెట్
Comment[th]=แกดเจ็ตพื้นที่ทำงานของกูเกิ้ล
Comment[tr]=Google Masaüstü Aracı
Comment[uk]=Гаджет стільниці Google
Comment[x-test]=xxGoogle Desktop Gadgetxx
Comment[zh_CN]=Google 桌面小工具
Comment[zh_TW]=Google桌面小工具
Type=Service
Icon=google-gadgets
X-EngineName=googlegadgets
X-KDE-PluginInfo-Name=googlegadgets
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_ggl
X-Plasma-PackageFileFilter=*.gg
X-Plasma-ProvidesWidgetBrowser=true
