[Desktop Entry]
Name=Google Gadgets
Comment=Google Desktop Gadget
Type=Service
Icon=google-gadgets
X-EngineName=googlegadgets
X-KDE-PluginInfo-Name=googlegadgets
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_ggl
X-Plasma-PackageFileFilter=*.gg
