[Desktop Entry]
Name=Meta Data
Name[bg]=Мета данни
Name[ca]=Metadades
Name[ca@valencia]=Metadades
Name[csb]=Pòdôwczi meta
Name[da]=Metadata
Name[de]=Metadaten
Name[et]=Metaandmed
Name[fi]=Metatieto
Name[fr]=Méta données
Name[fy]=Meta gegevens
Name[gl]=Metadatos
Name[gu]=મેટા માહિતી
Name[hu]=Metaadatok
Name[is]=Metagögn
Name[km]=ទិន្នន័យ​មេតា
Name[ko]=메타 데이터
Name[lv]=Metadati
Name[mk]=Мета-податоци
Name[ml]=മെറ്റാ ഡാറ്റാ
Name[nb]=Metadata
Name[nds]=Metadaten
Name[nl]=Metadata
Name[nn]=Metadata
Name[pl]=Metadane
Name[pt]=Meta-Dados
Name[pt_BR]=Metadados
Name[ro]=Metadate
Name[sl]=Metapodatki
Name[sv]=Metadata
Name[uk]=Метадані
Name[x-test]=xxMeta Dataxx
Name[zh_CN]=元数据
Name[zh_TW]=中繼資料
Type=Service
Icon=nepomuk
X-KDE-ServiceTypes=Plasma/DataEngine

X-Plasma-EngineName=metadata
X-KDE-Library=plasma_engine_metadata
X-KDE-PluginInfo-Author=Anne-Marie Mahfouf
X-KDE-PluginInfo-Email=annma@kde.org
X-KDE-PluginInfo-Name=metadata
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
