[KCM Locale]
Name=US English
Name[af]=Engels Us
Name[ar]=الإنجليزية (الولايات المتحدة)
Name[az]=ABŞ İngiliscəsi
Name[be]=Ангельская (ЗША)
Name[bg]=Американски английски
Name[br]=Saozneg SUA
Name[bs]=Engleski US
Name[ca]=Anglès US
Name[cs]=Anglický US
Name[cy]=Saesneg UD
Name[da]=Engelsk US
Name[de]=Englisch (US)
Name[el]=Αγγλική ΗΠΑ
Name[eo]=Angla usona
Name[es]=Inglés de EEUU
Name[et]=Inglise (US)
Name[eu]=Ingelera EEBB
Name[fa]=انگلیسی آمریکایی
Name[fi]=Englanti US
Name[fr]=Anglais US
Name[gl]=Inglés (Estados Unidos)
Name[he]=אנגלית ארה"ב
Name[hi]= अंग्रेजी यूएस
Name[hr]=Engleski US
Name[hu]=amerikai angol
Name[id]=Inggris US
Name[is]=Enska (BNA)
Name[it]=Inglese US
Name[ja]=英語 アメリカ
Name[ko]=미국식 영어
Name[lo]=ອັງກິດ-ອາເມຣິກາ
Name[lt]=Anglų JAV
Name[lv]=ASV Angļu
Name[mn]=Англи (US)
Name[mt]=Ingliż Amerikan
Name[nb]=Engelsk (USA)
Name[nds]=Ingelsch US
Name[nl]=Engels VS
Name[nn]=Engelsk (USA)
Name[nso]=Sekgowa sa US
Name[oc]=Anglès US
Name[pl]=Angielski z USA
Name[pt]=Inglês (Estados Unidos)
Name[pt_BR]=Inglês dos EUA
Name[ro]=Engleză US
Name[ru]=Английский (США)
Name[se]=Eŋgelasgiella (USA)
Name[sk]=Anglický US
Name[sl]=Angleško ZDA
Name[sr]=Амерички енглески
Name[ss]=Singisi US
Name[sv]=Amerikansk engelska
Name[tg]=Англисии Амрикоӣ
Name[th]=อังกฤษ-อเมริกัน
Name[tr]=Amerikan İngilizcesi
Name[uk]=Англійська (США)
Name[uz]=Инглизча AҚШ
Name[ven]=Luisimane lwa US
Name[vi]=Tiếng Anh-Mĩ 
Name[wa]=Inglès (USA)
Name[xh]=Isingesi US
Name[xx]=xxEnglish USxx
Name[zh_CN]=美国英语
Name[zh_TW]=英語 - US
Name[zu]=isiNgisi sase-US
