[Desktop Entry]
Name=Contacts
Comment=List all your contacts
Icon=view-pim-contacts

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-contacts

X-Plasma-Sal-Url=krunner://kabccontacts/contacts
X-Plasma-Sal-Relevance=8
