[Desktop Entry]
Name=System
Comment=System preferences and setup programs
Icon=preferences-system

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-system

X-Plasma-Sal-Url=kservicegroup://root/System/
X-Plasma-Sal-Relevance=0.1
