[Desktop Entry]
Encoding=UTF-8
Name=Window List Menu
Name[af]=Venster Lys Kieslys
Name[ar]=قائمة عرض النوافذ
Name[be]=Меню спіса вокнаў
Name[br]=Meuziad listenn ar prenester
Name[ca]=Menú de la llista de finestres
Name[cs]=Nabídka seznamu oken
Name[cy]=Dewislen Rhestr Ffenestri
Name[da]=Vindueslistemenu
Name[de]=Fensterliste
Name[el]=Μενού λίστας παραθύρων
Name[eo]=Fenestrlista Menuo
Name[es]=Administrador de ventanas
Name[et]=Akende nimekirja menüü
Name[eu]=Leiho zerrendaren menua
Name[fa]=گزینگان فهرست پنجره
Name[fi]=Ikkunaluettelovalikko
Name[fr]=Liste des fenêtres
Name[fy]=Finsterlistmenu
Name[gl]=Lista de Fiestras
Name[he]=תפריט רשימת חלונות
Name[hr]=Izbornik popisa prozora
Name[hu]=Ablaklista menü
Name[is]=Gluggalista valmynd
Name[it]=Menu elenco delle finestre
Name[ja]=ウィンドウリストメニュー
Name[ka]=ფანჯრების სიის მენიუ
Name[kk]=Терезелер тізімінің мәзірі
Name[km]=ម៉ឺនុយ​បញ្ជី​បង្អួច
Name[lt]=Langų sąrašo meniu
Name[mk]=Мени со листа на прозорци
Name[nb]=Vinduslistemeny
Name[nds]=Finsterlist
Name[ne]=सञ्झ्याल सूची मेनु
Name[nl]=Vensterlijstmenu
Name[nn]=Vindaugslistemeny
Name[pa]=ਝਰੋਖਾ ਸੂਚੀ ਮੇਨੂ
Name[pl]=Menu z listą okien
Name[pt]=Menu da Lista de Janelas
Name[pt_BR]=Menu de Lista de Janelas
Name[ro]=Meniu listă de ferestre
Name[ru]=Список окон
Name[se]=Láselistofállu
Name[sl]=Meni s seznamom oken
Name[sr]=Мени листе прозора
Name[sr@Latn]=Meni liste prozora
Name[sv]=Fönsterlistmeny
Name[tr]=Pencere Listeleme Menüsü
Name[uk]=Меню списку вікон
Name[uz]=Ойналар рўйхати
Name[x-test]=xxWindow List Menuxx
Name[zh_TW]=視窗列表選單
Comment=A menu that lists all open windows
Comment[af]='n Kieslys wat al die oop vensters vertoon
Comment[ar]=قائمة لعرض كل النوافذ المفتوحة
Comment[be]=Меню, якое паказвае усе адкрытыя вокны
Comment[ca]=Un menú que llista totes les finestres obertes
Comment[cs]=Nabídka se seznamem otevřených oken
Comment[da]=En menu der lister alle åbne vinduer
Comment[de]=Dieses Menü zeigt alle geöffneten Fenster an
Comment[el]=Ένα μενού που εμφανίζει όλα τα ανοικτά παράθυρα
Comment[eo]=Menuo kiu listigas ĉiujn malfermitajn fenestrojn
Comment[es]=Un administrador de ventanas
Comment[et]=Menüü, mis näitab kõiki avatud aknaid
Comment[eu]=Leiho irekien zerrenda bistaratzen duen menua
Comment[fa]=گزینگانی که همۀ پنجره‌های باز را فهرست می‌کند
Comment[fi]=Valikko, jossa on luettelo kaikista avoimista ikkunoista
Comment[fr]=Un menu affichant l'ensemble des fenêtres ouvertes
Comment[fy]=In menu mei in list fan alle iepensteande finsters
Comment[ga]=Roghchlár le gach fuinneog atá oscailte
Comment[gl]=Un menu que lista todas as fiestras abertas
Comment[he]=תפריט המציג את רשימת כל החלונות הפתוחים
Comment[hr]=Izbornik s popisom svih otvorenih prozora
Comment[hu]=Menü a nyitott ablakok kilistázásához
Comment[is]=Valmynd sem sýnir alla opna glugga
Comment[it]=Un menu che mostra tutte le finestre aperte
Comment[ja]=開いているすべてのウィンドウのリストを表示するメニュー
Comment[ka]=ყველა გახსნილი ფანჯრის სიის მენიუ
Comment[kk]=Барлық ашық терезелердің мәзір тізімі
Comment[km]=ម៉ឺនុយ​ដែល​រាយ​បង្អួច​បើក​ទាំងអស់
Comment[lt]=Visų atvertų langų sąrašą pateikiantis meniu
Comment[mk]=Мени што ги листа сите отворени прозорци
Comment[nb]=En meny som viser alle åpne vinduer
Comment[nds]=En Menü, dat all apen Finstern oplist
Comment[ne]=सबै खुला सञ्झ्यालहरू सूचीकृत गर्ने मेनु
Comment[nl]=Een menu met een lijst van alle geopende vensters
Comment[nn]=Ein meny som viser alle opne vindauge
Comment[pa]=ਸਭ ਖੁੱਲੇ ਝਰੋਖਿਆਂ ਦੀ ਸੂਚੀ ਲਈ ਇੱਕ ਮੇਨੂ ਹੈ
Comment[pl]=Menu pokazujące wszystkie otwarte okna
Comment[pt]=Um menu que mostra todas as janelas abertas
Comment[pt_BR]=Um menu que lista todas as janelas abertas
Comment[ro]=Un meniu ce listează toate ferestrele deschise
Comment[ru]=Список всех открытых окон
Comment[se]=Fállu mas oidnot buot rabas láset
Comment[sl]=Meni, ki prikazuje seznam vseh odprtih oken
Comment[sr]=Мени који листа све отворене прозоре
Comment[sr@Latn]=Meni koji lista sve otvorene prozore
Comment[sv]=En meny som listar alla öppna fönster
Comment[tr]=Bütün Pencereleri listeleyen bir menü
Comment[uk]=Меню, яке дає перелік всіх відкритих вікон
Comment[uz]=Ҳамма очиқ ойналар рўйхати
Comment[x-test]=xxA menu that lists all open windowsxx
Comment[zh_TW]=一個列出所有開啟視窗的選單
Icon=window_list
X-KDE-Library=WindowListButton
