[Desktop Entry]
Name=StatusNotifierItem Informations
Name[ca]=statusnotifieritem_engine
Name[cs]=statusnotifieritem_engine
Name[da]=statusnotifieritem_engine
Name[de]=statusnotifieritem_engine
Name[el]=statusnotifieritem_engine
Name[en_GB]=statusnotifieritem_engine
Name[es]=statusnotifieritem_engine
Name[et]=statusnotifieritem_engine
Name[fr]=statusnotifieritem_engine
Name[ga]=statusnotifieritem_engine
Name[gl]=statusnotifieritem_engine
Name[hu]=statusnotifieritem_engine
Name[it]=statusnotifieritem_engine
Name[ja]=statusnotifieritem_engine
Name[km]=statusnotifieritem_engine
Name[ko]=statusnotifieritem_engine
Name[lv]=statusnotifieritem_engine
Name[nds]=statusnotifieritem_engine
Name[nl]=statusnotifieritem_engine
Name[nn]=statusnotifieritem_engine
Name[pa]=statusnotifieritem_engine
Name[pl]=statusnotifieritem_engine
Name[pt]=statusnotifieritem_engine
Name[pt_BR]=statusnotifieritem_engine
Name[ro]=statusnotifieritem_engine
Name[ru]=statusnotifieritem_engine
Name[sr]=statusnotifieritem_engine
Name[sr@latin]=statusnotifieritem_engine
Name[sv]=statusnotifieritem_engine
Name[tr]=statusnotifieritem_engine
Name[uk]=statusnotifieritem_engine
Name[x-test]=xxstatusnotifieritem_enginexx
Name[zh_CN]=statusnotifieritem_engine
Name[zh_TW]=statusnotifieritem_engine
Comment=Engine for Applications status information based on the StatusNotifier protocol.
Comment[ca]=Llançador de statusnotifieritem_engine
Comment[cs]=statusnotifieritem_engine runner
Comment[da]=statusnotifieritem_engine-runner
Comment[de]=statusnotifieritem_engine
Comment[el]=εκτελεστής statusnotifieritem_engine
Comment[en_GB]=statusnotifieritem_engine runner
Comment[es]=Lanzador para statusnotifieritem_engine
Comment[et]=statusnotifieritem_engine käivitaja
Comment[fr]=Lanceur statusnotifieritem_engine
Comment[ga]=Feidhmitheoir statusnotifieritem_engine
Comment[gl]=Executor statusnotifieritem_engine
Comment[hu]=statusnotifieritem_engine-futtató
Comment[it]=Esecutore di statusnotifieritem_engine
Comment[ja]=statusnotifieritem_engine runner
Comment[km]=កម្មវិធី​រត់ statusnotifieritem_engine​
Comment[ko]=statusnotifieritem_engine 실행기
Comment[lv]=statusnotifieritem_engine darbinātājs
Comment[nds]=statusnotifieritem_engine-Dreger
Comment[nl]=statusnotifieritem_engine-starter
Comment[nn]=statusnotifieritem_engine-køyrar
Comment[pa]=statusnotifieritem_engine ਰਨਰ
Comment[pl]=Uruchamianie statusnotifieritem_engine
Comment[pt]=Execução do statusnotifieritem_engine
Comment[pt_BR]=Execução do statusnotifieritem_engine
Comment[ro]=Lansator statusnotifieritem_engine
Comment[sr]=statusnotifieritem_engine извођач
Comment[sr@latin]=statusnotifieritem_engine izvođač
Comment[sv]=Körning av statusnotifieritem_engine
Comment[tr]=statusnotifieritem_engine çalıştırıcı
Comment[uk]=Засіб запуску statusnotifieritem_engine
Comment[x-test]=xxstatusnotifieritem_engine runnerxx
Comment[zh_CN]=statusnotifieritem_engine 启动器
Comment[zh_TW]=statusnotifieritem_engine 執行器
Icon=

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_engine_statusnotifieritem
X-KDE-PluginInfo-Author=Matthieu Gallien
X-KDE-PluginInfo-Email=matthieu_gallien@yahoo.fr
X-KDE-PluginInfo-Name=statusnotifieritem
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
