[Desktop Entry]
Type=Application
Exec=oxygen-settings -caption "%c" %i
Icon=oxygen
GenericName=Advanced Widget and Window Decoration Settings
GenericName[et]=Muud vidinate ja akende dekoratsiooni seadistused
GenericName[ia]=Preferentias avantiate de widget e decoration de fenestra
GenericName[nl]=Geavanceerde instellingen voor widget- en vensterdecoraties
GenericName[pt]=Configuração Avançada dos Elementos e Decorações da Janela
GenericName[pt_BR]=Configurações avançadas dos widgets e decorações da janela
GenericName[ro]=Configurări avansate pentru controale și decorare ferestre
GenericName[sv]=Avancerade inställningar av komponent- och fönsterdekorationer
GenericName[uk]=Додаткові параметри обрамлення віджетів і вікон
GenericName[x-test]=xxAdvanced Widget and Window Decoration Settingsxx
GenericName[zh_TW]=進階元件與視窗裝飾設定
Terminal=false
Name=Oxygen Advanced Configuration
Name[et]=Oxygeni muud seadistused
Name[ia]=Configuration avantiate de Oxygen
Name[nl]=Geavanceerde instellingen van Oxygen
Name[pt]=Configuração Avançada do Oxygen
Name[pt_BR]=Configuração avançada do Oxygen
Name[ro]=Configurare avansată Oxygen
Name[sv]=Oxygen avancerade inställningar
Name[uk]=Додаткові налаштування Oxygen
Name[x-test]=xxOxygen Advanced Configurationxx
Name[zh_TW]=Oxygen 進階設定
Categories=Qt;KDE;Settings;
