[Desktop Entry]
Encoding=UTF-8
Name=System Monitor - Temperature
Name[ar]=مراقب النظام - الحرارة
Name[be@latin]=Systemny nazirańnik - temperatura
Name[bg]=Мониторинг на системата - температура
Name[bn]=সিস্টেম মনিটর - তাপমান
Name[bn_IN]=সিস্টেম নিরীক্ষণ ব্যবস্থা - তাপমাত্রা
Name[ca]=Controlador del sistema - Temperatura
Name[cs]=Monitor systému - Teplota
Name[csb]=Mònitór systemë - temperatura
Name[da]=Systemovervågning - temperatur
Name[de]=Systemmonitor - Temperatur
Name[el]=Επόπτης συστήματος - θερμοκρασία
Name[es]=Monitor del sistema - Temperatura
Name[et]=Süsteemi jälgija - temperatuur
Name[eu]=Sistemaren monitorea - Tenperatura
Name[fi]=Järjestelmän valvonta - Lämpötila
Name[fr]=Surveillance du système - Température
Name[fy]=Systeemmonitor - Tempratuer
Name[ga]=Monatóir an Chórais - Teocht
Name[gl]=Vixiante do sistema - Temperatura
Name[gu]=સિસ્ટમ મોનિટર - તાપમાન
Name[he]=צג מערכת - טמפרטורה
Name[hi]=तंत्र मॉनीटर - तापक्रम
Name[hsb]=Systemowy monitor - temperatura
Name[is]=Kerfiseftirlit - hitastig
Name[it]=Monitor di sistema - Temperatura
Name[ja]=システムモニタ - 温度
Name[kk]=Жүйе мониторы - Температура
Name[km]=កម្មវិធី​ត្រួត​​ពិនិត្យ​ប្រព័ន្ធ - សីតុណ្ហភាព
Name[ko]=시스템 모니터 - 온도
Name[ku]=Temaşekerê Pergalê - Germahî
Name[lt]=Sistemos stebėtojas – Temperatūra
Name[lv]=Sistēmas monitors - Temperatūra
Name[mk]=Системски монитор - Температура
Name[ml]=സിസ്റ്റം നിരീക്ഷകന്‍ - താപനില
Name[mr]=प्रणाली नियंत्रक - तापमान
Name[nb]=Systemovervåker ‒ temperatur
Name[nds]=Systeemkieker - Temperatuur
Name[nl]=Systeemmonitor - temperatuur
Name[nn]=Systemovervaking – temperatur
Name[or]=ତନ୍ତ୍ର ନିରିକ୍ଷକ - ଉତ୍ତାପ
Name[pa]=ਸਿਸਟਮ ਮਾਨੀਟਰ - ਤਾਪਮਾਨ
Name[pl]=Monitor systemu - temperatura
Name[pt]=Monitor do Sistema - Temperatura
Name[pt_BR]=Monitor do sistema - temperatura
Name[ro]=Monitor de sistem - Temperatură
Name[sk]=Monitor systému - Teplota
Name[sl]=Sistemski nadzornik - temperatura
Name[sr]=системски монитор (температура)
Name[sr@latin]=sistemski monitor (temperatura)
Name[sv]=Systemövervakare - Temperatur
Name[ta]=கணினி நோட்டம் - தட்பவெட்பம்
Name[tg]=Монитори система - Ҳарорат
Name[th]=ติดตามการทำงานของระบบ - อุณหภูมิ
Name[tr]=Sistem İzleyici - Sıcaklık
Name[uk]=Монітор системи — Температура
Name[x-test]=xxSystem Monitor - Temperaturexx
Name[zh_CN]=系统监视器-温度
Name[zh_TW]=系統監視器─溫度
Comment=A system temperature monitor
Comment[ar]=يراقب حرارة النظام
Comment[be@latin]=Nazirańnik za temperaturaju systemy
Comment[bg]=Наблюдение на температурата в компютъра
Comment[ca]=Un controlador de la temperatura del sistema
Comment[cs]=Monitor teploty systému
Comment[da]=Overvågning af systemtemperatur
Comment[de]=Ein Überwachungsmonitor für Temperatursensoren
Comment[el]=Ένας επόπτης θερμοκρασίας του συστήματος
Comment[es]=Monitor de la temperatura del sistema
Comment[et]=Süsteemi temperatuuri jälgija
Comment[eu]=Sistemaren tenperaturaren monitorea
Comment[fi]=Järjestelmän lämpötilojen näyttäjä
Comment[fr]=Un moniteur de surveillance de la température du système
Comment[fy]=In systeemtempratuer monitor
Comment[ga]=Monatóir theocht an chórais
Comment[gl]=Un vixiante da temperatura do sistema
Comment[gu]=સિસ્ટમ તાપમાન દેખરેખ
Comment[he]=צג מצב הטמפרטורה של המחשב
Comment[hi]=तंत्र तापक्रम मॉनीटर
Comment[hsb]=Monitor za systemowu temparaturu
Comment[is]=Eftirlit með hitastigi í kerfinu
Comment[it]=Un monitor della temperatura del sistema
Comment[ja]=システムの温度を監視します
Comment[kk]=Жүйелік температурасын бақылау
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ​សីតុណ្ហភាព​របស់​ប្រព័ន្ធ
Comment[ko]=시스템 온도 모니터
Comment[lt]=Sistemos temperatūros stebėtojas
Comment[lv]=Sistēmas temperatūras novērotājs
Comment[mk]=Монитор на температурата на системот
Comment[ml]=സിസ്റ്റം താപനില നിരീക്ഷകന്‍
Comment[mr]=प्रणाली तापमान नियंत्रक
Comment[nb]=En overvåker for systemtemperaturen
Comment[nds]=En Kieker för de Systeemtemperatuur
Comment[nl]=Volgt de systeemtemperatuur
Comment[nn]=Overvaking av systemtemperaturen
Comment[or]=ତନ୍ତ୍ର ଉତ୍ତାପ ନିରିକ୍ଷକ
Comment[pa]=ਇੱਕ ਸਿਸਟਮ ਤਾਪਮਾਨ ਮਾਨੀਟਰ
Comment[pl]=Monitor temperatury komputera
Comment[pt]=Um monitor da temperatura do sistema
Comment[pt_BR]=Um monitor de temperatura do sistema
Comment[ro]=Un monitor temperatura sistemului
Comment[sk]=Monitor teploty systému
Comment[sl]=Nadzornik temperature v sistemu
Comment[sr]=Надгледање температуре система
Comment[sr@latin]=Nadgledanje temperature sistema
Comment[sv]=Övervakning av systemtemperatur
Comment[th]=ตัวติดตามสถานะของอุณหภูมิ
Comment[tr]=Bir sistem sıcaklığı izleyici
Comment[uk]=Монітор системної температури
Comment[x-test]=xxA system temperature monitorxx
Comment[zh_CN]=系统温度监视器
Comment[zh_TW]=系統溫度監視器
Type=Service
Icon=media-flash
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_temperature
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_temperature
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

