[Desktop Entry]
Encoding=UTF-8
Name=System Monitor - Hard Disk
Name[pt]=Monitor do Sistema - Disco Rígido
Name[pt_BR]=Monitor do Sistema - Disco Rígido
Name[sv]=Systemövervakare - Hårddisk
Name[uk]=Монітор системи — Жорсткий диск
Comment=A hard disk usage monitor
Comment[pt]=Um monitor da utilização do disco rígido
Comment[pt_BR]=Um monitor da utilização do disco rígido
Comment[sv]=Övervakning av hårddiskanvändning
Comment[uk]=Монітор використання жорсткого диска
Type=Service
Icon=drive-harddisk
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_hdd
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_hdd
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

