[Desktop Entry]
Encoding=UTF-8
Name=System Monitor - Network
Name[be@latin]=Systemny nazirańnik - sietka
Name[ca]=Controlador del sistema - Xarxa
Name[de]=Systemmonitor - Netzwerk
Name[el]=Επόπτης συστήματος - δίκτυο
Name[gl]=Vixiante do sistema - Rede
Name[gu]=સિસ્ટમ દેખરેખ - નેટવર્ક
Name[hsb]=Systemowy monitor - syć
Name[it]=Monitor di sistema - Rete
Name[ja]=システムモニタ - ネットワーク
Name[kk]=Жүйе мониторы - Желі
Name[km]=កម្មវិធី​ត្រួត​​ពិនិត្យ​ប្រព័ន្ធ - បណ្ដាញ
Name[lt]=Sistemos stebėtojas – Tinklas
Name[ml]=സിസ്റ്റം നിരീക്ഷകന്‍ - ശ്രംഖല
Name[nb]=Systemovervåker ‒ nettverk
Name[nds]=Systeemkieker - Nettwark
Name[nl]=Systeemmonitor - netwerk
Name[pt]=Monitor do Sistema - Rede
Name[pt_BR]=Monitor do Sistema - Rede
Name[ro]=Monitor de sistem - Rețea
Name[sv]=Systemövervakare - Nätverk
Name[tr]=Sistem İzleyici - Ağ
Name[uk]=Монітор системи — Мережа
Name[x-test]=xxSystem Monitor - Networkxx
Name[zh_TW]=系統監視器─網路
Comment=A network usage monitor
Comment[be@latin]=Nazirańnik zaniataści sietki
Comment[ca]=Un controlador d'ús de la xarxa
Comment[de]=Ein Überwachungsmonitor für Netzwerke
Comment[el]=Ένας επόπτης χρήσης του δικτύου
Comment[gl]=Un vixiante do estado da rede
Comment[gu]=નેટવર્ક સ્થિતિ દેખરેખ
Comment[hsb]=Monitor, kiž pokazuje wućeženosć syće
Comment[it]=Un monitor dell'utilizzo della rete
Comment[ja]=ネットワークの活動を監視します
Comment[kk]=Желі пайдалануын бақылау
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ​ការ​ប្រើ​បណ្ដាញ
Comment[lt]=Tinklo naudojimo stebėtojas
Comment[ml]= ശ്രംഖല ഉപയോഗം നിരീക്ഷകന്‍
Comment[nb]=En overvåker for nettverksbruk
Comment[nds]=En Kieker för den Nettwark-Bruuk
Comment[nl]=Toont het netwerkgebruik
Comment[pt]=Um monitor da utilização da rede
Comment[pt_BR]=Um monitor da utilização da rede
Comment[ro]=Un monitor pentru utilizareaa rețelei
Comment[sv]=Övervakning av nätverksanvändning
Comment[tr]=Bir ağ kullanımı izleyici
Comment[uk]=Монітор використання мережі
Comment[x-test]=xxA network usage monitorxx
Comment[zh_TW]=網路使用量監視器
Type=Service
Icon=network-workgroup
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_sm_net
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=sm_net
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

