[Desktop Entry]
Encoding=UTF-8
Icon=stylesheet
Type=Application
Exec=kcmshell kcmcss
DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=css
X-KDE-FactoryName=kcmcss
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Comment=Configure the stylesheets used to render web pages

Keywords=CSS,HTML,style,stylesheet,accessibility

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
