[Desktop Entry]
Exec=kblob.kss
Icon=kscreensaver
Type=Application
Actions=Setup;InWindow;Root
Name=Blob
Name[ca]=Taca
Name[cs]=Kaňka
Name[da]=Boble
Name[eo]=Gutoj
Name[et]=Piisk
Name[fi]=Kuplat
Name[fr]=Tache
Name[he]=תועוב
Name[is]=Klessa
Name[ja]=斑点
Name[lt]=Rutuliukas
Name[mk]=Двопериодично
Name[no_NY]=Klattar
Name[pl]=Bąbel
Name[ro]=Picătura
Name[ru]=Блоб
Name[sl]=Kepica
Name[sv]=Färgfläck
Name[ta]=Ì¨Æ
Name[tr]=Damlacık
Name[uk]=Клякса
Name[zh_CN.GB2312]=斑点

[Desktop Action Setup]
Exec=kblob.kss -setup
Name=Setup...
Name[ca]=Configuració...
Name[cs]=Nastavení...
Name[da]=Opsætning...
Name[de]=Einrichtung...
Name[el]=Ρύθμιση...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Keadistus...
Name[fi]=Asetukset...
Name[fr]=Configuration...
Name[gl]=Configuración...
Name[he]=...תורדגה
Name[hr]=Postavke...
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=セットアップ...
Name[lt]=Nustatymas...
Name[mk]=Опции...
Name[nl]=Instellingen...
Name[no]=Oppsett...
Name[no_NY]=Oppsett ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configuração...
Name[ro]=Opţiuni...
Name[ru]=Настройки...
Name[sk]=Nastavenie...
Name[sl]=Usposobitev...
Name[sv]=Inställningar...
Name[ta]=«¨ÁôÒ...
Name[tr]=Kurulum...
Name[uk]=Настроїти...
Name[zh_CN.GB2312]=设置...
Icon=kscreensaver
 
[Desktop Action InWindow]
Exec=kblob.kss -window-id %w
Name=Display in specified window
Name[ca]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[da]=Visning i angivet vindue
Name[de]=In vorgegebenem Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[eo]=Montru en indikita fenestro
Name[es]=Mostrar en ventana especificada
Name[et]=Määratud aknas näitamine
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[gl]=Mostrar na fiestra especificada
Name[he]=ןייוצמ ןולחב גצה
Name[hr]=Prikaži u navedenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=特定のウィンドウで表示
Name[lt]=Rodyti specialiame lange
Name[mk]=Приказ во избран прозорец
Name[nl]=In een gedefiniëerd venster weergeven
Name[no]=Vis i det oppgitte vinduet
Name[no_NY]=Vis i oppgitt vindauge
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na janela específicada
Name[pt_BR]=Mostrar em janela especificada
Name[ro]=Afişează în fereastra specificată
Name[ru]=Отображать в указанном окне
Name[sk]=Zobraziť v stanovenom okne
Name[sl]=Prikaz v določenemu oknu
Name[sv]=Visa i angivet fönster
Name[ta]=ÌÈ¢ôÀ¢ð¼ º¡ÇÃò¾¢ø ¾¢¨ÃÂ¢Î
Name[tr]=Belirtilen pencerede göster
Name[uk]=Відобразити у вказаному вікні
Name[zh_CN.GB2312]=在指定的窗口中显示
NoDisplay=true
 
[Desktop Action Root]
Exec=kblob.kss -root
Name=Display in root window
Name[ca]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[da]=Visning i root vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[eo]=Montru en radika fenestro
Name[es]=Mostrar en ventana raíz
Name[et]=Root aknas näitamine
Name[fi]=Näytä root-ikkunassa
Name[fr]=Affichage dans la fenêtre principale (root)
Name[gl]=Mostrar na fiestra de fondo
Name[he]=שרושה ןולחב גצה
Name[hr]=Prikaži u korijenskom prozoru
Name[hu]=Megjelenítés a root ablakban
Name[is]=Birta í bakgrunni skjáborðs
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[lt]=Rodyti root lange
Name[mk]=Приказ на работната површина
Name[nl]=In hoofdvenster weergeven
Name[no]=Vis i bunnvinduet
Name[no_NY]=Vis i rotvindauget
Name[pl]=Wyświetlw oknie pierwotnym
Name[pt]=Mostrar na janela de fundo
Name[pt_BR]=Mostrar na janela-raiz
Name[ro]=Afişează în fereastra root
Name[ru]=Отображать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Prikaz v korenskem oknu
Name[sv]=Visa i rotfönstret
Name[ta]=§Å÷ º¡ÇÃò¾¢ø ¾¢¨ÃÂ¢Î
Name[tr]=Kök pencerede göster
Name[uk]=Відобразити на тлі екрану
Name[zh_CN.GB2312]=在根窗口中显示
NoDisplay=true
