[Desktop Entry]
Exec=kcmshell4 cursortheme
Icon=edit-select
Type=Service

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Library=kcm_cursortheme
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-appearance
X-DocPath=kcontrol/cursortheme/index.html

Name=Cursor Theme
Name[ast]=Tema de cursores
Name[bg]=Тема за курсора
Name[bn]=কার্সর থীম
Name[bs]=Tema pokazivača
Name[ca]=Tema de cursor
Name[ca@valencia]=Tema de cursor
Name[cs]=Motiv kurzorů
Name[da]=Markørtema
Name[de]=Zeigerdesigns
Name[el]=Θέμα δρομέα
Name[en_GB]=Cursor Theme
Name[es]=Tema de cursores
Name[et]=Kursoriteema
Name[eu]=Kurtsore gaia
Name[fi]=Osoitinteema
Name[fr]=Thème de curseurs
Name[he]=ערכת־נושא למצביע העכבר
Name[hi]=संकेतक प्रसंग
Name[hr]=Tema pokazivača
Name[hu]=Kurzortéma
Name[ia]=Thema de cursor
Name[is]=Bendilþema
Name[it]=Tema dei cursori
Name[ja]=カーソルテーマ
Name[kk]=Меңзер нақышы
Name[km]=ស្បែក​ទស្សន៍ទ្រនិច
Name[kn]=ಸ್ಥಳಸೂಚಕ (ಕರ್ಸರ್) ಪರಿಸರವಿನ್ಯಾಸ
Name[ko]=커서 테마
Name[lt]=Žymeklių tema
Name[lv]=Kursora tēma
Name[nb]=Pekertema
Name[nds]=Wieserutsehn
Name[nl]=Cursorthema
Name[pa]=ਕਰਸਰ ਥੀਮ
Name[pl]=Motyw kursorów
Name[pt]=Tema de Cursores
Name[pt_BR]=Tema de cursores
Name[ro]=Tematica de cursor
Name[ru]=Тема курсоров
Name[sk]=Téma kurzora
Name[sl]=Tema kazalcev
Name[sr]=Тема показивача
Name[sr@ijekavian]=Тема показивача
Name[sr@ijekavianlatin]=Tema pokazivača
Name[sr@latin]=Tema pokazivača
Name[sv]=Muspekartema
Name[th]=ชุดเคอร์เซอร์
Name[tr]=İmleç Teması
Name[ug]=نۇربەلگە ئۆرنىكى
Name[uk]=Тема вказівника
Name[wa]=Tinme do cursoe
Name[x-test]=xxCursor Themexx
Name[zh_CN]=光标主题
Name[zh_TW]=游標主題

Comment=Customize the mouse cursor appearance
Comment[ast]=Personalizar l'apariencia del cursor del mur
Comment[bg]=Настройки на изгледа на курсора на мишката
Comment[bn]=মাউস কার্সর-এর চেহারা পছন্দমত বদলান
Comment[bs]=Prilagodite izgled pokazivača miša
Comment[ca]=Personalitza l'aparença del cursor del ratolí
Comment[ca@valencia]=Personalitza l'aparença del cursor del ratolí
Comment[cs]=Upravit vzhled kurzoru myši
Comment[da]=Tilpas musemarkørens udseende
Comment[de]=Das Erscheinungsbild des Mauszeigers anpassen
Comment[el]=Προσαρμογή εμφάνισης του δείκτη ποντικιού
Comment[en_GB]=Customise the mouse cursor appearance
Comment[es]=Personalizar la apariencia del cursor del ratón
Comment[et]=Hiirekursori välimuse kohandamine
Comment[eu]=Pertsonalizatu sagu kurtsorearen itxura
Comment[fi]=Mukauta hiiren osoittimen ulkoasua
Comment[fr]=Personnalise l'apparence du curseur de la souris
Comment[he]=התאמה אישית של מראה מצביע העכבר
Comment[hr]=Podesi izgled pokazivača miša
Comment[hu]=Az egérmutató megjelenésének testreszabása
Comment[ia]=Personalisa le apparentia de cursor de mus
Comment[is]=Sérsníða útlit músarbendilsins
Comment[it]=Personalizza l'aspetto del cursore del mouse
Comment[ja]=マウスカーソル表示のカスタマイズ
Comment[kk]=Меңзер нақышын өзінше баптап алу
Comment[km]=ប្ដូរ​រូបរាង​ទស្សន៍ទ្រនិច​កណ្ដុរ​តាម​បំណង
Comment[ko]=마우스 커서 모양 사용자 정의
Comment[lt]=Derinti pelės žymeklio išvaizdą
Comment[lv]=Pielāgot peles kursora izskatu
Comment[nb]=Sett opp utseende for musepekeren
Comment[nds]=Dat Muuswieser-Utsehn topassen
Comment[nl]=Het uiterlijk van de muiscursor aanpassen
Comment[pa]=ਮਾਊਸ ਕਰਸਰ ਦਿੱਖ ਆਪਣੀ ਪਸੰਦ ਦੀ ਬਣਾਉ
Comment[pl]=Indywidualizacja wyglądu kursora myszy
Comment[pt]=Personalizar a aparência do cursor do rato
Comment[pt_BR]=Personaliza a aparência do cursor do mouse
Comment[ro]=Particularizează tematica de cursor
Comment[ru]=Настройка внешнего вида курсора мыши
Comment[sk]=Prispôsobenie vzhľadu kurzora myši
Comment[sl]=Prilagodite videz kazalca miške
Comment[sr]=Прилагодите изглед показивача миша
Comment[sr@ijekavian]=Прилагодите изглед показивача миша
Comment[sr@ijekavianlatin]=Prilagodite izgled pokazivača miša
Comment[sr@latin]=Prilagodite izgled pokazivača miša
Comment[sv]=Anpassa muspekarens utseende
Comment[th]=ปรับแต่งชุดเคอร์เซอร์ของเมาส์เอง
Comment[tr]=Fare işaretçisi görünümünü özelleştir
Comment[ug]=چاشقىنەك نۇر بەلگە قىياپىتىنى ئۆزلەشتۈر
Comment[uk]=Налаштування вигляду вказівника миші на екрані
Comment[wa]=Mete a vosse môde li rivnance do cursoe del sori
Comment[x-test]=xxCustomize the mouse cursor appearancexx
Comment[zh_CN]=定制鼠标指针外观
Comment[zh_TW]=自訂滑鼠游標外觀

X-KDE-Keywords=Mouse,Cursor,Theme
X-KDE-Keywords[ca]=Ratolí,Cursor,Tema
X-KDE-Keywords[cs]=Myš,Kurzor,Motiv
X-KDE-Keywords[fi]=Hiiri,Osoitin,Teema
X-KDE-Keywords[ia]=Mus, Cursor, Thema
X-KDE-Keywords[kk]=Mouse,Cursor,Theme,Тышқан,Меңзер,Нақыш
X-KDE-Keywords[nb]=Mus,Peker,Tema
X-KDE-Keywords[nds]=Muus,Blinker,Wieser,Utsehn,Muster
X-KDE-Keywords[nl]=Muis,cursor,thema
X-KDE-Keywords[pa]=ਮਾਊਸ,ਕਰਸਰ,ਥੀਮ
X-KDE-Keywords[pt]=Rato,Cursor,Tema
X-KDE-Keywords[pt_BR]=mouse,cursor,tema
X-KDE-Keywords[ro]=tematica,maus,cursor
X-KDE-Keywords[sv]=Mus,Pekare,Tema
X-KDE-Keywords[uk]=миша,вказівник,тема
X-KDE-Keywords[x-test]=xxMouse,Cursor,Themexx
X-KDE-Keywords[zh_TW]=Mouse,Cursor,Theme
