[Desktop Entry]
Exec=kcmshell4 mouse
Icon=preferences-desktop-mouse
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/mouse/index.html

X-KDE-Library=kcm_input
X-KDE-Init-Symbol=mouse
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=60

Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[ast]=Mur
Name[be]=Мыш
Name[be@latin]=Myš
Name[bg]=Мишка
Name[bn]=মাউস
Name[bn_IN]=মাউস
Name[br]=Logodenn
Name[bs]=Miš
Name[ca]=Ratolí
Name[ca@valencia]=Ratolí
Name[cs]=Myš
Name[csb]=Mësz
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_GB]=Mouse
Name[eo]=Muso
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=موشی
Name[fi]=Hiiri
Name[fr]=Souris
Name[fy]=Mûs
Name[ga]=Luch
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hne]=मुसुवा
Name[hr]=Miš
Name[hsb]=Myš
Name[hu]=Egér
Name[ia]=Mus
Name[id]=Tetikus
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[ka]=თაგვი
Name[kk]=Тышқан
Name[km]=កណ្ដុរ
Name[kn]=ಮೂಷಕ (ಮೌಸ್)
Name[ko]=마우스
Name[ku]=Mişk
Name[lt]=Pelė
Name[lv]=Pele
Name[mai]=माउस
Name[mk]=Глушец
Name[ml]=മൌസ്
Name[mr]=माउस
Name[ms]=Tetikus
Name[nb]=Mus
Name[nds]=Muus
Name[ne]=माउस
Name[nl]=Muis
Name[nn]=Mus
Name[oc]=Mirga
Name[or]=ମାଉସ
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Maus
Name[ru]=Мышь
Name[se]=Sáhpán
Name[si]=මවුසය
Name[sk]=Myš
Name[sl]=Miška
Name[sr]=Миш
Name[sr@ijekavian]=Миш
Name[sr@ijekavianlatin]=Miš
Name[sr@latin]=Miš
Name[sv]=Mus
Name[ta]=சுட்டி
Name[te]=మౌస్
Name[tg]=Муш
Name[th]=เมาส์
Name[tr]=Fare
Name[ug]=چاشقىنەك
Name[uk]=Мишка
Name[uz]=Sichqoncha
Name[uz@cyrillic]=Сичқонча
Name[vi]=Chuột
Name[wa]=Sori
Name[xh]=Mouse
Name[x-test]=xxMousexx
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠

Comment=Mouse settings
Comment[af]=Muis instellings
Comment[ar]=إعدادات الفأرة
Comment[ast]=Preferencies sobre'l mur
Comment[be]=Настаўленні мышы
Comment[be@latin]=Nałady myšy
Comment[bg]=Настройки на мишка
Comment[bn]=মাউস সেটিংস
Comment[bn_IN]=মাউস সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniañ al logodenn
Comment[bs]=Postavke miša
Comment[ca]=Arranjament del ratolí
Comment[ca@valencia]=Arranjament del ratolí
Comment[cs]=Nastavení myši
Comment[csb]=Nastôw mëszë
Comment[cy]=Gosodiadau Llygoden
Comment[da]=Indstilling af mus
Comment[de]=Einstellung der Maus
Comment[el]=Ρυθμίσεις Ποντικιού
Comment[en_GB]=Mouse settings
Comment[eo]=Agordo de la muso
Comment[es]=Preferencias sobre el ratón
Comment[et]=Hiire seadistused
Comment[eu]=Saguaren konfigurazioa
Comment[fa]=تنظیمات موشی
Comment[fi]=Hiiriasetukset
Comment[fr]=Configuration de la souris
Comment[fy]=Mûsynstellings
Comment[ga]=Socruithe luiche
Comment[gl]=Configuración do rato
Comment[gu]=માઉસ ગોઠવણીઓ
Comment[he]=הגדרות העכבר
Comment[hi]=माउस विन्यास
Comment[hne]=मुसुवा सेटिंग
Comment[hr]=Postavke miša
Comment[hsb]=Nastajenja za myš
Comment[hu]=Az egér beállításai
Comment[ia]=Preferentias de mus
Comment[id]=Pengaturan tetikus
Comment[is]=Stillingar músar
Comment[it]=Impostazione del mouse
Comment[ja]=マウスの設定
Comment[ka]=თაგვის კონფიგურაცია
Comment[kk]=Тышқан параметрлері
Comment[km]=ការ​កំណត់​កណ្ដុរ
Comment[kn]=ಮೂಷಕದ (ಮೌಸ್) ಸಂಯೋಜನೆಗಳು
Comment[ko]=마우스 설정
Comment[ku]=Mîhengên Mişkî
Comment[lt]=Pelės parametrai
Comment[lv]=Peles parametri
Comment[mai]=माउस बिन्यास
Comment[mk]=Поставувања на глушецот
Comment[ml]=മൌസിന്റെ സജ്ജീകരണങ്ങള്‍
Comment[mr]=माउस संयोजना
Comment[ms]=Seting tetikus
Comment[nb]=Musinnstillinger
Comment[nds]=Muus instellen
Comment[ne]=माउस सेटिङ
Comment[nl]=Muisinstellingen
Comment[nn]=Musinnstillingar
Comment[or]=ମାଉସ ବିନ୍ୟାସ
Comment[pa]=ਮਾਊਸ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia myszy
Comment[pt]=Configuração do rato
Comment[pt_BR]=Configurações do mouse
Comment[ro]=Configurări maus
Comment[ru]=Настройка мыши
Comment[se]=Sáhpánheivehusat
Comment[si]=මවුසයේ සැකසුම්
Comment[sk]=Nastavenie myši
Comment[sl]=Nastavitve miške
Comment[sr]=Поставке миша
Comment[sr@ijekavian]=Поставке миша
Comment[sr@ijekavianlatin]=Postavke miša
Comment[sr@latin]=Postavke miša
Comment[sv]=Anpassa mus
Comment[ta]=சுட்டி அமைப்புகள்
Comment[te]=మౌస్ అమరికలు
Comment[tg]=Танзимоти муш
Comment[th]=ตั้งค่าต่างๆ ของเมาส์
Comment[tr]=Fare ayarları
Comment[ug]=چاشقىنەك تەڭشەك
Comment[uk]=Налаштування миші
Comment[uz]=Sichqonchaning moslamalari
Comment[uz@cyrillic]=Сичқончанинг мосламалари
Comment[vi]=Thiết lập con chuột
Comment[wa]=Apontiaedjes del sori
Comment[xh]=Izicwangciso ze mouse
Comment[x-test]=xxMouse settingsxx
Comment[zh_CN]=鼠标设置
Comment[zh_TW]=滑鼠設定

X-KDE-Keywords=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
X-KDE-Keywords[af]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handig,left handig
X-KDE-Keywords[be]=Мыш,Паскарэнне мышы,Кнопкі мышы,Вылучэнне,Форма курсора,Прылады ўводу,Прызначэнне кнопак,Дзеянне кнопак,Націск,значкі,Указальнік,Курсор,Перацягваць,Двайны націск,для левай рукі,для правай рукі,Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
X-KDE-Keywords[bg]=Keywords=настройки, мишка, посочващо, устройство, Mouse, Mouse acceleration, Mouse threshold, Mouse buttons, Selection, Cursor Shape, Input Devices, Button Mapping, Click, icons, feedback, Pointers, Drag, DoubleClick, mapping, right handed, left handed
X-KDE-Keywords[ca]=Ratolí,acceleració del ratolí,llindar del ratolí,botons del ratolí,selecció,forma del cursor,dispositius d'entrada,mapejat de botons,clic,icones,realimentació,apuntadors,arrossegar,clic doble,mapejat,dretà,esquerrà
X-KDE-Keywords[cs]=Myš,Akcelerace myši,Práh myši,Tlačítka myši,Výběr,Tvar kurzoru,Vstupní zařízení,Mapování tlačítek,Kurzor,Kliknutí,Odezva,Dvojité kliknutí,Pravák,Levák
X-KDE-Keywords[csb]=Mësz,przërëchlënié mëszë,Próg mëszë,Knąpë mëszë,Zaznaczenié,Sztôłt kùrsora,Ùrządzenia wéńdzeniô,mapòwanié knąpów,klëkniãce,ikònë,widzałé efektë,wskôzywôczë,przecyganié,podwójné klëkniãce,mapòwanié,prawòrãczny,lewòrãczny
X-KDE-Keywords[cy]=Llygoden,Cyflymu Llygoden,Trothwy Llygoden,Botymau Llygoden,Dewis,Si?p Cyrchydd,Dyfeisiau Mewnbwn,Mapio Botymau, Clic,eiconau,adborth,Pwyntyddion,Llusgo,Clic Dwbl,mapio,llaw dde,llaw chwith
X-KDE-Keywords[da]=Mus,Museacceleration,Musegrænse,Museknapper,Markering,Markørform,Inddataenheder,Knap-mapping,Klik,ikoner,feedback,Pegere, Træk,Dobbeltklik,mapping,højrehåndet,venstrehåndet
X-KDE-Keywords[de]=Maus,Mausbeschleunigung,Mausschwellenwert,Maustasten,Auswahl,Cursor,Cursorform,Eingabegeräte,Knöpfe,Buttons,Zuordnungen,Klicks,Zeigegeräte,Doppelklick,Rechtshänder,Linkshänder
X-KDE-Keywords[el]=Ποντίκι,Επιτάχυνση δρομέα,Κατώφλι ποντικιού,Πλήκτρα ποντικιού,Επιλογή,Σχήμα Δρομέα,Συσκευές Εισόδου,Χαρτογράφηση πλήκτρων,Κλικ,εικονίδια,ανάδραση,Δείκτες,Σύρσιμο,Διπλό κλικ,αντιστοίχηση,δεξιόχειρας,αριστερόχειρας
X-KDE-Keywords[eo]=muso,akcelado,butonoj,elekto,montrilo,kursoro,enigo,aparatoj,butonsignifo,klako,piktogramoj,reago,montriloj,ŝovado,trenado,duklako,dekstrmanulo,maldekstramanulo
X-KDE-Keywords[es]=Ratón,Aceleración del ratón,Umbral del ratón,Botones del ratón,Selección,Forma del cursor,Dispositivos de entrada,Asignaciones de botones,Pulsación,iconos,notificación,Punteros,Arrastrar,Doble pulsación,asignaciones,diestro,zurdo
X-KDE-Keywords[et]=hiir,hiire kiirendus,hiire lävi,hiire nupud,valimine,kursori kuju,sisendseadmed,nuppude asetus,klikk,klõps,ikoonid,tagasiside,kursorid,lohistamine,topeltklikk,topeltklõps,asetus,paremakäeline,vasakukäeline
X-KDE-Keywords[eu]=Sagua,Saguaren azelerazioa,Saguaren atalasea,Saguarenbotoiak,Hautespena,Kurtsorearen itxura,Sarrera dispositiboak,Botoien esleipena,Klika,ikonoak,atzeraelikadura,Geziak,Arrastatu,Klik bikoitza,esleipenak, eskuinak,ezkertiak
X-KDE-Keywords[fa]=موشی، شتاب‌دهی موشی، آستانۀ موشی، دکمه‌های موشی، گزینش، شکل مکان‌نما، دستگاههای ورودی، نگاشت دکمه، فشار دادن، شمایلها، بازخورد، اشاره‌گرها، کشیدن، دو بار فشار دادن، نگاشت، راست‌دست، چپ‌دست
X-KDE-Keywords[fi]=Hiiri,Hiiren kiihdytys,Hiiren raja-arvo,Hiiren painikkeet,Valinta,Osoittimen muoto,Syöttölaitteet,Painikkeiden järjestys,Napsautus,kuvakkeet,palaute,Osoittimet,Vedä,Tuplanapsautus,järjestys,oikeakätinen,vasenkätinen
X-KDE-Keywords[fr]=souris,accélération de la souris,seuil de la souris,boutons de la souris,sélection,forme du curseur,périphériques d'entrée,curseur,clic,icônes,gaucher,droitier,double clic,simple clic,clic gauche,clic droit
X-KDE-Keywords[fy]=Mûs,Mûs fluggens,Mûsknoppen,seleksje,rinnerke-úterlik,ynfier devices,ynfierapparaten,knopyndieling,klikken,Ikoanen,icons,Oanwizers,pointers,drag,slepe,dûbelklikken,loftshandich,rjochtshandich.râneapparaten
X-KDE-Keywords[gl]=Rato,Aceleración do rato,Umbral do rato,botóns do rato,Selección,Forma do Cursores,Dispositivos de Entrada,Mapa do botón,Clic,iconas,indicador,Ponteiros,Arrastar,DobreClic,mapear,dereiteiro,esquerdeiro
X-KDE-Keywords[he]=עכבר,תאוצת עכבר,סף עכבר,לחצני עכבר,בחירה,צורת מצביע,התקני קלט,לחיצה,סמלים,תגובה,מצביעים,גרירה,לחיצה כפולה,תצורה,ימני,שמאלי,תצורת לחצנים, Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
X-KDE-Keywords[hr]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,Miš,Ubrzavanje miša,Prag miša,Tipke miša,Odabir,Oblik pokazivača,Ulazni uređaji,Mapiranje tipki,Klikanje,ikone,povratni podaci,Pokazivači,Prevlačenje,Dvostruki klik,mapiranje,desnoruk,ljevoruk
X-KDE-Keywords[hu]=egér,egérgyorsítás,egérérzékenység,egérgombok,kiválasztás,kurzoralak,beviteli eszközök,gombhozzárendelés,kattintás,ikonok,visszajelzés,mutatók,húzás,dupla kattintás,hozzárendelés,jobbkezes,balkezes
X-KDE-Keywords[is]=Næmni músar,bendill,inntakstæki,hröðun,örvhentur,rétthentur,smella,tákn,bendill,tvísmella
X-KDE-Keywords[it]=mouse,accelerazione del mouse,soglia del mouse,tasti del mouse,selezione,forma del cursore,dispositivi di input,mappatura dei tasti,clic,icone,puntatori,trascinamento,doppio clic,mouse per mancini,mancini
X-KDE-Keywords[ja]=マウス,マウスの加速,マウスのしきい,マウスボタン,選択,カーソルの形,入力デバイス,入力デバイス,ボタンの割り当て,クリック,アイコン,フィードバック,ポインタ,ドラッグ,ダブルクリック,割り当て,右利き,左利き
X-KDE-Keywords[km]=កណ្ដុរ ការ​បង្កើន​ល្បឿន កម្រិត​ពន្លឺ​កណ្ដុរ ប៊ូតុង​កណ្ដុរ ការជ្រើស រូបរាង​ទស្សន៍​ទ្រនិច ឧបករណ៍​បញ្ចូល ការ​ផ្គូផ្គង​ប៊ូតុង ចុច រូបតំណាង មតិ​អ្នក​ប្រើ ទ្រនិច អូស ចុច​ទ្វេដង ការ​ផ្គូផ្គង ខាង​ស្ដាំ ខាង​ឆ្វេង
X-KDE-Keywords[ko]=마우스,마우스 가속,마우스 단추,선택,커서,입력 장치,단추 할당,아이콘,피드백,포인터,드래그,더블클릭
X-KDE-Keywords[lt]=Mouse,pelė,Mouse acceleration,pelės pagreitinimas,Mouse threshold,Mouse buttons,pelės mygtukai,Selection,pažymėjimas,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,right handed,left handed,kairiarankė
X-KDE-Keywords[lv]=Pele,Peles paātrinājums,Peles slieksnis,Peles taustiņi,Izvēle,Kursora Forma,Ievades Iekārtas,Pogu Sasaiste,Klikšķis,ikonas,atpakaļsaite,Rādītāji,Vilkt,Dubultklikšķis,sasaiste,labās rokas,kreisās rokas
X-KDE-Keywords[mk]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,Глушец,Забрзување на глушец,Граница на глушец,Копчиња на глушец,Селекција,Избор,Форма на курсор,Влезни уреди,Мапирање на копче,Клик,икони,Покажувачи,Влечи,Двоен клик,мапирање,деснорак,леворак
X-KDE-Keywords[nb]=Mus,musehastighet,museknapper,valg,merking,kursoregenskaper,pekeregenskaper,innenheter,inn-enheter,knappetilordning,trykk,klikk,pekere,dra,dobbelttrykk, høyrehendt,venstrehendt
X-KDE-Keywords[nds]=Muus,Muus-Gauheit,Muus-Grenzweert,Muusknööp,Utwahl,Knooptoornen, Wieserform,Ingaavreedschappen,Klicken,Lüttbiller,Torüchmellen,Wieser,Dregen,Dubbelklick,Toornen,Rechtpoot,Linkpoot
X-KDE-Keywords[ne]=माउस, माउस गतिवर्धन, माउस थ्रेसहोल्ड, माउस बटनहरू, चयन, कर्सर आकार, आगत यन्त्र, बटन मिलाउने, क्लिक, प्रतिमा, पृष्ठपोषण, सूचक, तान्नुहोस्, डबल क्लिक गर्नुहोस्, मिलाउनुहोस्, दायाँ, बायाँ
X-KDE-Keywords[nl]=muis,muissnelheid,muisknoppen,selectie,cursor-uiterlijk,input devices,invoerapparaten,knopindeling,klikken,iconen,pictogrammen,icons,aanwijzers,pointers,drag,verslepen,dubbelklikken,linkshandig,rechtshandig.randapparaten
X-KDE-Keywords[nn]=mus,musakselerasjon,musterskel,musknappar,val,peikar,peikarform,inneiningar,knappar,klikk,ikon,tilbakemelding,dra,dobbelklikk,høgrehendt,venstrehendt
X-KDE-Keywords[pa]=ਮਾਊਸ,ਮਾਊਸ ਪ੍ਰਵੇਸ਼,ਮਾਊਸ threshold,ਮਾਊਸ buttons,Selection,CursorShape,Input ਜੰਤਰ,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,righthanded,left handed,ਕਲਿੱਕ,ਆਈਕਾਨ
X-KDE-Keywords[pl]=Mysz,Akceleracja myszy,Próg myszy,Przyciski myszy,Zaznaczenie,Kształt kursora,Urządzenia wejściowe,mapowanie przycisków,kliknięcie,ikony,widoczne efekty,wskaźniki,przeciąganie,podwójne kliknięcie,mapowanie,praworęczny,leworęczny
X-KDE-Keywords[pt]=rato,aceleração do rato,limite do rato,botões do rato,selecção,forma do cursor,dispositivos de entrada,atribuição de botões,click,ícones,feedback,cursores,arrastar,duplo 'click',atribuição,destro,esquerdino
X-KDE-Keywords[pt_BR]=Mouse,aceleração do mouse,limiar do mouse, botões do mouse,Seleção,Formato do Cursor,Dispositivos de entrada,mapeamento de botões,clique,ícones,retorno,ponteiros,arrastar,clique duplo,mapeamento,destro,canhoto
X-KDE-Keywords[ro]=mouse,acceleraţie mouse,prag mouse,butoane mouse,selecţie,formă cursor,dispozitive de intrare,mapare butoane,clicuri,iconiţe,răspuns,pointeri,indicatori,tragere,dublu clic,dreptaci,stîngaci,drag-and-drop
X-KDE-Keywords[se]=sáhpán,sáhpánaksellerašuvdna,sáhpánšielbma,sáhpánboalut, merken, njoallahápmi,sisaovttadagat,boalut,coahkkalit,govažat,feedback,geassit, duppalcoahkkaleapmi,olgešgiehtat,gurutgiehtat
X-KDE-Keywords[sl]=miška,pospešitev miške,gumbi miške,izbira,oblika kazalca,vhodne enote,preslikava gumbov,klik,ikone,povratna informacija,kazalci,potegni,dvojni klik,preslikava,levičarji,desničarji
X-KDE-Keywords[sr]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,миш,убрзање миша,означавање,избор,облик показивача,показивач,мапирање дугмади,клик,иконе,показивачи,превуци,двоклик,мапирање,леворуки,десноруки
X-KDE-Keywords[sr@latin]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,miš,ubrzanje miša,označavanje,izbor,oblik pokazivača,pokazivač,mapiranje dugmadi,klik,ikone,pokazivači,prevuci,dvoklik,mapiranje,levoruki,desnoruki
X-KDE-Keywords[sv]=Mus,Musacceleration,Muströskel,Musknappar,Val,Markörutseende,Inmatningsenheter,Knapptolkning,klickning,ikoner,respons,Pekare,Drag,Dubbelklick,Tolkning,högerhänt,vänsterhänt
X-KDE-Keywords[ta]=சுட்டி, முடுக்கப்பட்ட சுட்டி ,  சுட்டி பட்டன், தேர்வுகள், காட்டியின் வடிவம், உள்ளிடும் சாதனம்,  பட்டன் பொருத்தல், க்ளிக், சின்னம், கருத்து , காட்டிகள், இழு, இரண்டுமுறை க்ளிக், பொருத்து,வலதுகை பழக்கம், இடது கை பழக்கம்.
X-KDE-Keywords[th]=เม้าส์,การเร่งความเร็วของเม้าส์,ระยะตัวชี้ของเม้าส์,ปุ่มเม้าส์,การเลือก,รูปร่างเคอร์เซอร์,อุปกรณ์นำเข้าข้อมูล,การจับคู่ปุ่ม,คลิก,ไอคอน,การตอบสนอง,ตัวชี้,ลาก,ดับเบิลคลิก, การแมพปุ่ม,ใช้มือซ้าย,ใช้มือขวา
X-KDE-Keywords[tr]=fare,Fare Hızlandırma,Fare eşiği,Fare Tuşları,Seçim,imleç şekli,girdi aygıtları,Tuş Haritası,Tıklama,simgeler,geri besleme,İşaretçiler,Taşı,Çift Tıkla,haritalama,sağ elli,sol elli
X-KDE-Keywords[uk]=Миша,Mouse,прискорення миші,поріг миші,кнопки миші,вибір,форма курсора,вхідні пристрої,відповідність клавіш,клацання,піктограми,зворотній зв'язок,вказівники,перетягнути,подвійне клацання,відображення,лівша,правша
X-KDE-Keywords[uz]=Сичқонча,Сичқончани тезлаштириш,Mouse threshold,Сичқончанинг тугмалари,Танлаш,Курсорнинг шакиллари,Киритиш ускунаси,Тугмани аниқлаш,Босиш,нишончалар,feedback,Кўрсатгичлар,Drag,Икки марта босиш,mapping,чап қўл,ўнг қўл
X-KDE-Keywords[vi]=Chuột,Con chuột,Gia tốc chuột,Ngưỡng chuột,Nút chuột,Chọn,Hình con trỏ,Thiết bị Nhập,Ánh xạ Nút,Nhấn,biểu tượng,phản hồi,Con trỏ,Kéo,Nhấn đúp,ánh xạ,thuận tay phải,thuận tay trái
X-KDE-Keywords[x-test]=xxMouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handedxx
X-KDE-Keywords[xh]=Mouse,Unyuso lwesantya seMouse,Ungeno lwe Mouse,Amaqhosha eMouse,Ukhetho,Ukumila kwesalathisi,Amacebo egalelo,Ukucetywa kwamaqhosha,Nqakraza,ii-icon, isiphumo,Izalathi,Tsala,Nqakraza kabini,iyaceba,isandla sokunene,isandla sasekhohlo
X-KDE-Keywords[zh_CN]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,鼠标,鼠标加速,鼠标加速阈值,鼠标按钮,选择,光标形状,输入设备,按钮映射,单击,图标,反馈,拖放,双击,映射,右手习惯,左手习惯
X-KDE-Keywords[zh_TW]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,滑鼠,滑鼠游標加速,滑鼠游標加速間距,滑鼠按鈕,選擇,指標外觀,輸入設備,按鍵對應,單擊,圖示,反饋,指標,拖放,雙擊,映射,習慣右手,習慣左手
Categories=Qt;KDE;X-KDE-settings-hardware;
