[Desktop Entry]
Exec=kcmshell4 mouse
Icon=preferences-desktop-mouse
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/mouse/index.html

X-KDE-Library=kcm_input
X-KDE-Init-Symbol=mouse
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=60

Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[ast]=Mur
Name[be]=Мыш
Name[be@latin]=Myš
Name[bg]=Мишка
Name[bn]=মাউস
Name[bn_IN]=মাউস
Name[br]=Logodenn
Name[bs]=Miš
Name[ca]=Ratolí
Name[ca@valencia]=Ratolí
Name[cs]=Myš
Name[csb]=Mësz
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_GB]=Mouse
Name[eo]=Muso
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=موشی
Name[fi]=Hiiri
Name[fr]=Souris
Name[fy]=Mûs
Name[ga]=Luch
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hne]=मुसुवा
Name[hr]=Miš
Name[hsb]=Myš
Name[hu]=Egér
Name[ia]=Mus
Name[id]=Tetikus
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[ka]=თაგვი
Name[kk]=Тышқан
Name[km]=កណ្ដុរ
Name[kn]=ಮೂಷಕ (ಮೌಸ್)
Name[ko]=마우스
Name[ku]=Mişk
Name[lt]=Pelė
Name[lv]=Pele
Name[mai]=माउस
Name[mk]=Глушец
Name[ml]=മൌസ്
Name[mr]=माउस
Name[ms]=Tetikus
Name[nb]=Mus
Name[nds]=Muus
Name[ne]=माउस
Name[nl]=Muis
Name[nn]=Mus
Name[oc]=Mirga
Name[or]=ମାଉସ
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Maus
Name[ru]=Мышь
Name[se]=Sáhpán
Name[si]=මවුසය
Name[sk]=Myš
Name[sl]=Miška
Name[sr]=Миш
Name[sr@ijekavian]=Миш
Name[sr@ijekavianlatin]=Miš
Name[sr@latin]=Miš
Name[sv]=Mus
Name[ta]=சுட்டி
Name[te]=మౌస్
Name[tg]=Муш
Name[th]=เมาส์
Name[tr]=Fare
Name[ug]=چاشقىنەك
Name[uk]=Мишка
Name[uz]=Sichqoncha
Name[uz@cyrillic]=Сичқонча
Name[vi]=Chuột
Name[wa]=Sori
Name[xh]=Mouse
Name[x-test]=xxMousexx
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠

Comment=Mouse settings
Comment[af]=Muis instellings
Comment[ar]=إعدادات الفأرة
Comment[ast]=Preferencies sobre'l mur
Comment[be]=Настаўленні мышы
Comment[be@latin]=Nałady myšy
Comment[bg]=Настройки на мишка
Comment[bn]=মাউস সেটিংস
Comment[bn_IN]=মাউস সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniañ al logodenn
Comment[bs]=Postavke miša
Comment[ca]=Arranjament del ratolí
Comment[ca@valencia]=Arranjament del ratolí
Comment[cs]=Nastavení myši
Comment[csb]=Nastôw mëszë
Comment[cy]=Gosodiadau Llygoden
Comment[da]=Indstilling af mus
Comment[de]=Einstellung der Maus
Comment[el]=Ρυθμίσεις Ποντικιού
Comment[en_GB]=Mouse settings
Comment[eo]=Agordo de la muso
Comment[es]=Preferencias sobre el ratón
Comment[et]=Hiire seadistused
Comment[eu]=Saguaren konfigurazioa
Comment[fa]=تنظیمات موشی
Comment[fi]=Hiiriasetukset
Comment[fr]=Configuration de la souris
Comment[fy]=Mûsynstellings
Comment[ga]=Socruithe luiche
Comment[gl]=Configuración do rato
Comment[gu]=માઉસ ગોઠવણીઓ
Comment[he]=הגדרות העכבר
Comment[hi]=माउस विन्यास
Comment[hne]=मुसुवा सेटिंग
Comment[hr]=Postavke miša
Comment[hsb]=Nastajenja za myš
Comment[hu]=Az egér beállításai
Comment[ia]=Preferentias de mus
Comment[id]=Pengaturan tetikus
Comment[is]=Stillingar músar
Comment[it]=Impostazione del mouse
Comment[ja]=マウスの設定
Comment[ka]=თაგვის კონფიგურაცია
Comment[kk]=Тышқан параметрлері
Comment[km]=ការ​កំណត់​កណ្ដុរ
Comment[kn]=ಮೂಷಕದ (ಮೌಸ್) ಸಂಯೋಜನೆಗಳು
Comment[ko]=마우스 설정
Comment[ku]=Mîhengên Mişkî
Comment[lt]=Pelės parametrai
Comment[lv]=Peles parametri
Comment[mai]=माउस बिन्यास
Comment[mk]=Поставувања на глушецот
Comment[ml]=മൌസിന്റെ സജ്ജീകരണങ്ങള്‍
Comment[mr]=माउस संयोजना
Comment[ms]=Seting tetikus
Comment[nb]=Musinnstillinger
Comment[nds]=Muus instellen
Comment[ne]=माउस सेटिङ
Comment[nl]=Muisinstellingen
Comment[nn]=Musinnstillingar
Comment[or]=ମାଉସ ବିନ୍ୟାସ
Comment[pa]=ਮਾਊਸ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia myszy
Comment[pt]=Configuração do rato
Comment[pt_BR]=Configurações do mouse
Comment[ro]=Configurări maus
Comment[ru]=Настройка мыши
Comment[se]=Sáhpánheivehusat
Comment[si]=මවුසයේ සැකසුම්
Comment[sk]=Nastavenie myši
Comment[sl]=Nastavitve miške
Comment[sr]=Поставке миша
Comment[sr@ijekavian]=Поставке миша
Comment[sr@ijekavianlatin]=Postavke miša
Comment[sr@latin]=Postavke miša
Comment[sv]=Anpassa mus
Comment[ta]=சுட்டி அமைப்புகள்
Comment[te]=మౌస్ అమరికలు
Comment[tg]=Танзимоти муш
Comment[th]=ตั้งค่าต่างๆ ของเมาส์
Comment[tr]=Fare ayarları
Comment[ug]=چاشقىنەك تەڭشەك
Comment[uk]=Налаштування миші
Comment[uz]=Sichqonchaning moslamalari
Comment[uz@cyrillic]=Сичқончанинг мосламалари
Comment[vi]=Thiết lập con chuột
Comment[wa]=Apontiaedjes del sori
Comment[xh]=Izicwangciso ze mouse
Comment[x-test]=xxMouse settingsxx
Comment[zh_CN]=鼠标设置
Comment[zh_TW]=滑鼠設定

X-KDE-Keywords=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
X-KDE-Keywords[kk]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed
X-KDE-Keywords[uk]=Mouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handed,миша,прискорення,поріг,порогове значення,кнопка,вибір,вказівник,форма,введення,кнопки,клацання,піктограми,значки,іконки,супровід,вказівники,перетягування,подвійне клацання,відповідність,праворукий,шульга,лівша
X-KDE-Keywords[x-test]=xxMouse,Mouse acceleration,Mouse threshold,Mouse buttons,Selection,Cursor Shape,Input Devices,Button Mapping,Click,icons,feedback,Pointers,Drag,DoubleClick,mapping,right handed,left handedxx
Categories=Qt;KDE;X-KDE-settings-hardware;
