[Desktop Entry]
Name=pastebin.com
Name[ast]=pastebin.com
Name[bg]=pastebin.com
Name[ca]=pastebin.com
Name[ca@valencia]=pastebin.com
Name[cs]=pastebin.com
Name[da]=pastebin.com
Name[de]=pastebin.com
Name[en_GB]=pastebin.com
Name[es]=pastebin.com
Name[et]=pastebin.com
Name[fr]=pastebin.com
Name[gu]=pastebin.com
Name[hi]=pastebin.com
Name[hr]=pastebin.com
Name[hu]=pastebin.com
Name[ia]=pastebin.com
Name[it]=pastebin.com
Name[ja]=pastebin.com
Name[kk]=pastebin.com
Name[km]=pastebin.com
Name[ko]=pastebin.com
Name[lt]=pastebin.com
Name[nb]=pastebin.com
Name[nds]=pastebin.com
Name[nl]=pastebin.com
Name[pa]=pastebin.com
Name[pt]=pastebin.com
Name[pt_BR]=pastebin.com
Name[ru]=pastebin.com
Name[sl]=pastebin.com
Name[sr]=pastebin.com
Name[sr@ijekavian]=pastebin.com
Name[sr@ijekavianlatin]=pastebin.com
Name[sr@latin]=pastebin.com
Name[sv]=pastebin.com
Name[tg]=pastebin.com
Name[th]=pastebin.com
Name[tr]=pastebin.com
Name[uk]=pastebin.com
Name[x-test]=xxpastebin.comxx
Name[zh_CN]=pastebin.com
Name[zh_TW]=pastebin.com
Comment=Enables the share of text using pastebin.com service
Comment[ast]=Permite compartir testu a traviés del serviciu de pastebin.com
Comment[ca]=Habilita la compartició de text utilitzant el servei pastebin.com
Comment[ca@valencia]=Habilita la compartició de text utilitzant el servei pastebin.com
Comment[da]=Muliggør deling af tekst med tjenesten pastebin.com
Comment[de]=Ermöglicht die Veröffentlichung von Text auf pastebin.com
Comment[en_GB]=Enables the share of text using pastebin.com service
Comment[es]=Permite compartir texto a través del servicio de pastebin.com
Comment[et]=Teksti jagamine pastebin.com teenuse kaudu
Comment[fr]=Active le partage de texte à l'aide du service pastebin.com.
Comment[hr]=Omogućuje dijeljenje teksta koristeći servis pastebin.com
Comment[ia]=Il habilita le uso commun de texto per usar le servicio pastebin.com
Comment[it]=Abilita la condivisione di testo con il servizio pastebin.com
Comment[ja]=pastebin.com のサービスを用いたテキストの共有を有効にする
Comment[kk]=pastebin.com қызметі көмегімен мәтінді ортақ қылуды рұқсат ету
Comment[km]=បើក​ការ​ចែករំលែក​អត្ថបទ ដោយ​ប្រើ​សេវា pastebin.com
Comment[ko]=pastebin.com으로 텍스트를 공유합니다
Comment[lt]=Įjungia dalinimąsį tekstu naudojant pastebin.com tarnybą
Comment[nb]=Gjør det mulig å dele tekst via tjenesten pastebin.com
Comment[nds]=Text op pastebin.com praatstellen
Comment[nl]=Schakelt het delen van tekst in met gebruik van de service pastebin.com
Comment[pt]=Activa a partilha de texto com o serviço do 'pastebin.com'
Comment[pt_BR]=Habilita o compartilhamento de texto com o uso do serviço pastebin.com
Comment[ru]=Позволяет публиковать текст на сервере pastebin.com
Comment[sl]=Omogoča deljenje besedila prek storitve pastebin.com
Comment[sr]=Дељење текста преко сервиса pastebin.com
Comment[sr@ijekavian]=Дељење текста преко сервиса pastebin.com
Comment[sr@ijekavianlatin]=Deljenje teksta preko servisa pastebin.com
Comment[sr@latin]=Deljenje teksta preko servisa pastebin.com
Comment[sv]=Aktiverar att dela text med tjänsten pastebin.com
Comment[th]=เปิดใช้งานการใช้ข้อความร่วมกันผ่านบริการของ pastebin.com
Comment[uk]=Уможливлює оприлюднення фрагментів тексту за допомогою служби pastebin.com
Comment[x-test]=xxEnables the share of text using pastebin.com servicexx
Comment[zh_TW]=用 pastebin.com 服務開啟文字分享
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=text/*

X-KDE-PluginInfo-Name=pastebincom
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

