[Desktop Entry]
Type=Application
Exec=kdesu kcmshell System/clock
Icon=clock

X-KDE-ModuleType=Library
X-KDE-Library=clock
X-KDE-RootOnly=true
X-KDE-ControlModuleType=System
X-KDE-HideFromPanel=true

Name=Date & Time
Name[ca]=Dia i hora
Name[cs]=Datum a čas
Name[da]=Dato og tid
Name[de]=Datum & Zeit
Name[eo]=Dato kaj Tempo
Name[es]=Fecha & hora
Name[et]=Kuupäev ja kellaaeg
Name[fi]=Päivä & Aika
Name[fr]=Date et Heure
Name[he]=העשו ךיראת
Name[hr]=Datum i vrijeme
Name[hu]=Dátum és idő
Name[is]=Dagssetning og klukka
Name[it]=Data e Ora
Name[ja]=時間
Name[mk]=Датум и време
Name[nl]=Datum & Tijd
Name[no]=Dato og klokke
Name[no_NY]=Dato & Tid
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[ro]=Data şi ora
Name[ru]=Дата и время
Name[sl]=Datum & ura
Name[sr]=Datum i Vreme
Name[sv]=Datum & tid
Name[ta]=ேததி & ேநரமஂ
Name[tr]=Tarih ve Saat
Name[uk]=Дата і час

Comment=Date and time settings
Comment[ca]=Arranjament del dia i l'hora
Comment[cs]=Nastavení datumu a času
Comment[da]=Dato- og tidsindstillinger
Comment[de]=Einstellungen für Datum und Zeit
Comment[eo]=Agordo de dato kaj tempo
Comment[es]=Opciones de fecha y hora
Comment[et]=Kuupäeva ja kellaaja seadistused
Comment[fi]=Päiväyksen ja ajan asetukset
Comment[fr]=Configuration de la date et l'heure
Comment[he]=העשו ךיראת תורדגה
Comment[hr]=Podesite datum i vrijeme
Comment[hu]=A dátum és az idő beállításai
Comment[is]=Stillingar dagssetningar og klukku
Comment[it]=Impostazione della data e dell'ora
Comment[ja]=時間の設定
Comment[mk]=Поставки на датумот и времето
Comment[nl]=Instellen van datum en tijd
Comment[no]=Dato- og klokkeinnstillinger
Comment[no_NY]=Innstilling av dato og tid
Comment[pl]=Ustawienia daty i czasu
Comment[pt]=Configuração da data e hora
Comment[ro]=Configurează data şi ora sistemului
Comment[ru]=Настройки даты и времени
Comment[sl]=Nastavitve datuma in ure
Comment[sr]=Podešavanja datuma i vremena
Comment[sv]=Inställningar för datum och tid
Comment[ta]=ேததி மறஂறுமஂ ேநரமஂ அைமபஂபுகளஂ
Comment[tr]=Tarih ve saat ayarları
Comment[uk]=Настройки дати і часу

Keywords=date,time
Keywords[ca]=dia,hora
Keywords[cs]=Datum,Čas
Keywords[da]=dato,tid
Keywords[de]=Datum,Zeit
Keywords[eo]=dato,tempo
Keywords[es]=fecha,hora
Keywords[et]=kuupäev,kellaaeg
Keywords[fi]=Aika,Päivä
Keywords[fr]=date,heure
Keywords[he]=העש,ךיראת
Keywords[hr]=datum,vrijeme,date,time
Keywords[hu]=dátum,idő
Keywords[is]=dagssetning,klukka,tími
Keywords[it]=data,ora
Keywords[ja]=日時,時間
Keywords[mk]=датум,време
Keywords[nl]=datum,tijd
Keywords[no]=dato,tid,klokke
Keywords[no_NY]=dato,tid
Keywords[pl]=data,czas
Keywords[pt]=data,hora
Keywords[ro]=dată,timp, ora
Keywords[sl]=datum,ura,čas
Keywords[sv]=datum,tid
Keywords[ta]=ேததி,ேநரமஂ
Keywords[tr]=tarih,saat
Keywords[uk]=дата,час
