[Desktop Entry]
Encoding=UTF-8
Name=Dock Application Bar
Name[af]=Vasmeer Program Balk
Name[be]=Аплет убудоўвання праграмаў
Name[bg]=Допълнителен панел
Name[ca]=Barra per ancorar aplicacions
Name[cs]=Lišta pro dokování aplikací
Name[cy]=Docio'r Bar Cymhwysiad
Name[da]=Dok programlinje
Name[de]=Programm-Andockleiste
Name[el]=Γραμμή προσαρτημένων εφαρμογών
Name[eo]=Aplikaĵolistelo
Name[es]=Barra para anclar aplicaciones
Name[et]=Dokitavate rakenduste riba
Name[eu]=Aplikazioak ainguratzeko barra
Name[fa]=میله کاربرد پیوند
Name[fi]=Upotettava ohjelmapalkki
Name[fr]=Barre de stockage des applications
Name[fy]=Ekstra systeemfak
Name[gl]=Acoplar Barra de Aplicación
Name[he]=מעגן יישומים
Name[hr]=Usidravanje trake aplikacija
Name[hu]=Alkalmazásdokkoló
Name[is]=Kví fyrir forrit
Name[it]=Barra per le applicazioni Dock
Name[ja]=ドックアプリケーションバー
Name[kk]=Қолданбаларды тіркеу панелі
Name[km]=របារ​កម្មវិធី​ចូលផែ
Name[ko]=도크 응용 프로그램 막대
Name[lt]=Pritvirtintų programų juosta
Name[lv]=Dokot Aplikāciju Joslu
Name[mk]=Лента за вкотвување на апликации
Name[ms]=Bar Aplikasi Dok
Name[nb]=Festet programlinje
Name[nds]=Andockbalken
Name[ne]=डक अनुप्रयोगपट्टी
Name[nl]=Extra systeemvak
Name[nn]=Dokka programlinje
Name[pa]=ਡੋਕ ਕਾਰਜ ਪੱਟੀ
Name[pl]=Pasek dokowania programów
Name[pt]=Barra de Aplicações Acopláveis
Name[pt_BR]=Barra de aplicativos integrados
Name[ro]=Bară de docare aplicaţii
Name[ru]=Панель для встраивания приложений
Name[se]=Vuojuhuvvon prográmmaid holga
Name[sl]=Vrstica za zasidranje programov
Name[sr]=Трака за пристајање програма
Name[sr@Latn]=Traka za pristajanje programa
Name[sv]=Programdocka
Name[ta]=டாக் பயன்பாட்டு பட்டி
Name[tg]=Навори барномаи обзор
Name[tr]=Uygulama çubuğunu gizle
Name[uk]=Док-панель для програм
Name[x-test]=xxDock Application Barxx
Name[xh]=Ibar Yesicelo ye Dock
Name[zh_TW]=嵌入程式工具列
Comment=Dock application bar extension.
Comment[af]=Vasmeer program balk uitbreidings
Comment[be]=Пашырэнне для ўбудавання праграмаў у панэль.
Comment[bg]=Разширение на системния панел
Comment[ca]=Una extensió de la barra per ancorar aplicacions.
Comment[cs]=Rozšíření lišty pro dokování aplikací.
Comment[cy]=Docio estyniad y bar cymhwysiad
Comment[da]=Udvidelse - dok programlinje.
Comment[de]=Eine Andockleiste für Programme
Comment[el]=Επέκταση γραμμής προσαρτημένων εφαρμογών.
Comment[eo]=Apliakĵolistela aldono
Comment[es]=Extensión Barra para anclar aplicaciones.
Comment[et]=Paneeli laiendus dokitavate rakenduste hoidmiseks
Comment[eu]=Aplikazioak ainguratzeko barraren hedapena
Comment[fa]=پسوند میله کاربرد پیوند.
Comment[fi]=Upota ohjelmapalkkilaajennus
Comment[fr]=Stockage des applications dans une barre.
Comment[fy]=In balke wêryn tapassingen hun byldkaike kinne pleatse
Comment[gl]=Extensión de acoplamento de barras de aplicación
Comment[he]=הרחבת מעגן יישומים
Comment[hr]=Proširenje za usidravanje aplikacija
Comment[hu]=Alkalmazásdokkoló kiterjesztés.
Comment[is]=Útvíkkun kvíar fyrir ísett forrit
Comment[it]=Estensione per la barra delle applicazioni Dock.
Comment[ja]=アプリケーション用のドックパネル
Comment[kk]=Қолданбаларды тіркеу үшін панель.
Comment[km]=ផ្នែក​បន្ថែម​របារ​កម្មវិធី​ចូលផែ ។
Comment[ko]=도크되는 응용 프로그램을 위한 확장입니다.
Comment[lt]=Pritvirtintų programų juostos plėtinys.
Comment[lv]=Doko aplikāciju joslas paplašinājumu.
Comment[mk]=Екстензија за вкотвување на апликации.
Comment[ms]=Lanjutan bar aplikasi dok.
Comment[nb]=Festepanel for programmer
Comment[nds]=Andockbalken för Programmen
Comment[ne]=डक अनुप्रयोगपट्टी विस्तार
Comment[nl]=Een balk waarin toepassingen hun pictogram kunnen plaatsen
Comment[nn]=Dokkingspanel for program
Comment[pa]=ਡੋਕ ਕਾਰਜ ਪੱਟੀ ਵਧਾਰਾ ਹੈ।
Comment[pl]=Rozszerzenie do dokowania programów.
Comment[pt]=Uma extensão de barra de aplicações acopláveis.
Comment[pt_BR]=Extensão da barra de aplicativos embutidos.
Comment[ro]=Extensie bară de docare aplicaţii.
Comment[ru]=Расширение панели для встраивания приложений.
Comment[se]=Prográmmaid vuojuhanpanela
Comment[sl]=Razširitev za sidrišče programov.
Comment[sr]=Проширење траке за пристајање програма.
Comment[sr@Latn]=Proširenje trake za pristajanje programa.
Comment[sv]=Bygger ut med en programdocka
Comment[ta]=டாக் பயன்பாடு பட்டி விரிவாக்கம்
Comment[tg]=Кушодкунии панел барои бино кунӣ.
Comment[tr]=Uygulama çubuğu uzantısını gizle.
Comment[uk]=Розширення док-панелі для програм.
Comment[x-test]=xxDock application bar extension.xx
Comment[xh]=Ulwandiso lwe bar yesicelo se Dock.
Comment[zh_TW]=嵌入延伸程式工具列

Icon=dockbar
X-KDE-Library=dockbar_panelextension
X-KDE-UniqueApplet=true
