[Desktop Entry]
Encoding=UTF-8
Icon=ksplash
Exec=kcmshell ksplashthememgr
DocPath=ksplashml/themes.html

Type=Service
ServiceTypes=KCModule

X-KDE-Library=ksplashthemes
X-KDE-FactoryName=ksplashthemes
X-KDE-ParentApp=kcontrol

Name=Splash Screen
Name[af]=Spat Skerm
Name[ar]=شاشة بادئة
Name[be]=Застаўка загрузкі
Name[bg]=Начален екран
Name[br]=Skramm-degemer
Name[ca]=Pantalla d'inici
Name[cs]=Úvodní obrazovka
Name[cy]=Sgrîn Croeso
Name[da]=Splashskærm
Name[de]=Startbildschirm
Name[el]=Αρχική οθόνη
Name[eo]=Salutŝildo
Name[es]=Pantalla anunciadora
Name[et]=Käivitusekraan
Name[eu]=Splash pantaila
Name[fa]=رنگ‌پاشی پرده
Name[fi]=Aloitusruutu
Name[fr]=Écran de démarrage
Name[fy]=Begjinskerm
Name[ga]=Splancscáileán
Name[gl]=Pantalla de Benvida
Name[he]=מצג פתיחה
Name[hr]=Pozdravni zaslon
Name[hu]=Nyitókép-témák
Name[is]=Upphafsskjár
Name[it]=Schermata d'avvio
Name[ja]=スプラッシュスクリーン
Name[kk]=Бастау экраны
Name[km]=អេក្រង់​ស្វាគមន៍
Name[lt]=Pasveikinimo ekranas
Name[lv]=Šļaksta Ekrāns
Name[mk]=Поздравен екран
Name[ms]=Splash Screen 
Name[nb]=Velkomstbilde
Name[nds]=Startschirm
Name[ne]=स्प्लयास पर्दा
Name[nl]=Opstartscherm
Name[nn]=Velkomstbilete
Name[pa]=ਸਵਾਗਤੀ ਪਰਦਾ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã Inicial
Name[pt_BR]=Tela de Apresentação
Name[ro]=Imagine de pornire
Name[ru]=Заставка при запуске KDE
Name[se]=Álgošearbma
Name[sl]=Uvodni zaslon
Name[sr]=Сплеш екран
Name[sr@Latn]=Spleš ekran
Name[sv]=Startskärm
Name[ta]=தோன்றும் திரை
Name[tg]=Пардаи оғоз
Name[tr]=Açılış ekranı
Name[uk]=Екран заставки
Name[uz]=Сплэш ойнаси
Name[x-test]=xxSplash Screenxx
Name[zh_TW]=啟動畫面
Comment=Manager for Splash Screen Themes
Comment[af]=Bestuurder vir Spat Skerm Temas
Comment[ar]=مدير سمات الشاشات الافتتاحية
Comment[be]=Кіраўнік заставак загрузкі
Comment[bg]=Настройки на началния екран
Comment[br]=Merour evit gwiskadoù ar skramm degemer
Comment[ca]=Gestor per als temes de la pantalla d'inici
Comment[cs]=Správce motivů úvodních obrazovek
Comment[cy]=Rheolydd Themau Sgriniau Croeso
Comment[da]=Håndtering for opstartskærme-temaer
Comment[de]=Verwaltung für Startbildschirmdesigns
Comment[el]=Διαχειριστής για θέματα αρχικής οθόνης
Comment[eo]=Administrilo por la salutŝildo
Comment[es]=Administrador para los temas de la pantalla anunciadora
Comment[et]=Käivitusekraani teemade haldur
Comment[eu]=Splash pantailako gaien kudeatzailea
Comment[fa]=مدیر چهره‌های رنگ‌پاشی پرده
Comment[fi]=Hallintaohjelma aloitusruuduille
Comment[fr]=Gestionnaire de thèmes d'écran de démarrage
Comment[fy]=Temabehear foar begjinskerm
Comment[gl]=Xestor dos Temas para a Pantalla de Benvida
Comment[he]=מנהל ערכות נושא למצג הפתיחה
Comment[hr]=Upravitelj tema pozdravnih zaslona
Comment[hu]=A nyitókép témájának beállítása
Comment[is]=Stjórna þemum upphafsskjáa
Comment[it]=Gestore dei temi della schermata di avvio
Comment[ja]=スプラッシュスクリーンのテーマを管理
Comment[kk]=Бастау экран тақырыптарының менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ស្បែក​អេក្រង់​ស្វាគមន៍
Comment[lt]=Pasveikinimo ekrano temų tvarkyklė
Comment[lv]=Šļakstekrānu tēmu menedžeris
Comment[mk]=Менаџер на теми за поздравни екрани
Comment[ms]=Pengurus untuk Tema Splash Screen
Comment[nb]=Behandler for velkomstbilder
Comment[nds]=Startschirmmuster instellen
Comment[ne]=स्प्लयास पर्दा विषयवस्तुका लागि प्रबन्धक
Comment[nl]=Themabeheer voor opstartschermen
Comment[nn]=Handsamar for velkomstbilete
Comment[pa]=ਸਵਾਗਤੀ ਪਰਦਾ ਸਰੂਪ ਲਈ ਪਰਬੰਧਕ
Comment[pl]=Menedżer motywów ekranu powitalnego
Comment[pt]=Gestor de Temas do Ecrã Inicial
Comment[pt_BR]=Gerenciador de Temas para a Tela de Apresentação
Comment[ro]=Manager pentru tematicile imaginii de pornire a KDE
Comment[ru]=Менеджер тем экрана-заставки
Comment[se]=Álgošearbmafáttáid gieđahalli
Comment[sl]=Upravitelj tem uvodnih zaslonov
Comment[sr]=Менаџер тема сплеш екрана
Comment[sr@Latn]=Menadžer tema spleš ekrana
Comment[sv]=Hanterare för startskärmsteman
Comment[ta]=தோன்றும் திரை தலைப்புகளுக்கு மேலாளர்
Comment[tg]=Мудири услубҳои пардаи оғоз
Comment[tr]=Açılış Ekran Teması Yöneticisi
Comment[uk]=Менеджер тем екранів заставки
Comment[uz]=Сплэш ойнаси учун мавзуларни мослаш
Comment[x-test]=xxManager for Splash Screen Themesxx
Comment[zh_TW]=啟動畫面佈景管理程式
Keywords=splash screen,splash theme,startup
Keywords[ar]=الشاشة الافتتاحية، سمات الشاشة الافتتاحية، بدء التشغيل
Keywords[be]=Застаўка,Загрузка,Запуск,Тэма загрузкі,splash screen,splash theme,startup
Keywords[bg]=стартиране, начален, екран, splash screen, splash theme, startup
Keywords[ca]=pantalla d'inici,tema d'inici,iniciació
Keywords[cs]=úvodní obrazovka,splash
Keywords[cy]=sgrîn croeso,thema croeso,ymgychwyn
Keywords[da]=opstartsskærm,opstartstema,opstart
Keywords[de]=startbildschirm
Keywords[el]=αρχική οθόνη,θέμα αρχικής οθόνης,ξεκίνημα
Keywords[eo]=Kcm_salutŝildo,Salutŝildo,Saluto
Keywords[es]=pantalla de inicio,tema de inicio,inicio
Keywords[et]=käivitusekraan,käivutusteema,käivitamine
Keywords[eu]=splash pantaila,splash gaia,abioa
Keywords[fa]=رنگ‌پاشی پرده، چهرۀ رنگ‌پاشی، راه‌اندازی
Keywords[fi]=aloitusruutu,aloitusruututeema,käynnistys
Keywords[fr]=écran de démarrage,thème de démarrage,démarrage,splash screen
Keywords[fy]=opstartscherm,begjinskerm,splash screen
Keywords[ga]=splancscáileán,splancthéama,tosú,tosach
Keywords[gl]=pantalla de benvida,tema de benvida,comezo
Keywords[he]=מצג פתיחה,ערכת נושא למצג פתיחה,הפעלה,splash screen,splash theme,startup
Keywords[hr]=splash screen,splash theme,startup,zaslon,pozdravna tema,pokretanje,početni zaslon
Keywords[hu]=nyitókép,indítási téma,indulás
Keywords[it]=schermata di avvio,splash screen,tema schermata di avvio,avvio
Keywords[ja]=スプラッシュスクリーン,スプラッシュテーマ,起動
Keywords[km]=អេក្រង់​ស្វាគមន៍,ស្បែក​ពេល​ចាប់ផ្ដើម,ចាប់ផ្ដើម
Keywords[lt]=splash screen,splash theme,startup,pasveikinimo ekranas,pasveikinimo tema
Keywords[lv]=šļakstekrāns,šļakstekrāna tēma,palaišanās
Keywords[mk]=splash screen,splash theme,startup,поздравен екран,поздравна тема
Keywords[nb]=oppstart,oppstartsbilde,oppstartstema,velkomstbilde,velkomsttema
Keywords[nds]=splash,starten,Startschirm,Muster,theme
Keywords[ne]=स्प्लयास पर्दा, स्प्लयास विषयवस्तु, सुरुआत
Keywords[nl]=opstartscherm,splash screen
Keywords[nn]=oppstart,velkomstbilete,velkomsttema,oppstartstema
Keywords[pa]=ਸ਼ੁਰੂਆਤੀ ਸਕਰੀਨ, ਸ਼ੁਰੂਆਤੀ ਸੂਰਪ,ਸ਼ੁਰੂਆਤ
Keywords[pl]=ekran powitalny,motyw ekranu powitalnego,rozpoczęcie,start
Keywords[pt]=ecrã inicial,tema do ecrã inicial,arranque
Keywords[pt_BR]=tela de apresentação, tema da tela de apresentação,inicialização
Keywords[ro]=imagine,tematică,întîmpinare,pornire
Keywords[sl]=uvodni zaslon,uvodna tema,zagon
Keywords[sr]=splash screen,splash theme,startup,сплеш екран, сплеш тема,покретање,стартни екран
Keywords[sr@Latn]=splash screen,splash theme,startup,spleš ekran, spleš tema,pokretanje,startni ekran
Keywords[sv]=startskärm,starttema,start
Keywords[ta]=தோன்றும் திரை,தோன்றும் தலைப்பு,துவக்கம்
Keywords[tr]=açılış ekranı, açılış teması, başlangıç
Keywords[uk]=екран заставки,тема заставки,запуск,старт
Keywords[uz]=сплэш ойнаси,сплэш мавзуси,ишга тушиш
Keywords[x-test]=xxsplash screen,splash theme,startupxx
Keywords[zh_TW]=splash screen,splash theme,startup,啟動
Categories=Qt;KDE;X-KDE-settings-looknfeel;
