[Desktop Entry]
Icon=preferences-system-splash
Exec=kcmshell4 ksplashthememgr
X-DocPath=kcontrol/splashscreen/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ksplashthemes
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-appearance
X-KDE-Weight=100

Name=Splash Screen
Comment=Manager for Splash Screen Themes
X-KDE-Keywords=splash screen,splash theme,startup
X-KDE-Keywords[ar]=شاشة البداية، سمِات شاشة البداية، بدء التشغيل
X-KDE-Keywords[be]=Застаўка,Загрузка,Запуск,Тэма загрузкі,splash screen,splash theme,startup
X-KDE-Keywords[bg]=Keywords=стартиране, начален, екран, splash screen, splash theme, startup
X-KDE-Keywords[ca]=pantalla d'inici,tema d'inici,iniciació
X-KDE-Keywords[cs]=úvodní obrazovka,splash
X-KDE-Keywords[csb]=ekran na przëwitanié,téma ekranu,rozpòczãce,sztart
X-KDE-Keywords[cy]=sgrîn croeso,thema croeso,ymgychwyn
X-KDE-Keywords[da]=opstartsskærm,opstartstema,opstart
X-KDE-Keywords[de]=startbildschirm
X-KDE-Keywords[el]=αρχική οθόνη,θέμα αρχικής οθόνης,ξεκίνημα
X-KDE-Keywords[eo]=Kcm_salutŝildo,Salutŝildo,Saluto
X-KDE-Keywords[es]=pantalla de inicio,tema de inicio,inicio
X-KDE-Keywords[et]=käivitusekraan,käivitusteema,käivitamine
X-KDE-Keywords[eu]=splash pantaila,splash gaia,abioa
X-KDE-Keywords[fa]=رنگ‌پاشی پرده، چهرۀ رنگ‌پاشی، راه‌اندازی
X-KDE-Keywords[fi]=aloitusruutu,aloitusruututeema,käynnistys
X-KDE-Keywords[fr]=écran de démarrage,thème de démarrage,démarrage,splash screen
X-KDE-Keywords[fy]=opstartscherm,begjinskerm,splash screen
X-KDE-Keywords[ga]=splancscáileán,splancthéama,tosú,tosach
X-KDE-Keywords[gl]=pantalla de benvida,tema de benvida,comezo
X-KDE-Keywords[he]=מצג פתיחה,ערכת נושא למצג פתיחה,הפעלה,splash screen,splash theme,startup
X-KDE-Keywords[hr]=splash screen,splash theme,startup,zaslon,pozdravna tema,pokretanje,početni zaslon
X-KDE-Keywords[hu]=nyitókép,indítási téma,indulás
X-KDE-Keywords[it]=schermata di avvio,splash screen,splash theme,tema schermata di avvio,avvio,startup
X-KDE-Keywords[ja]=スプラッシュスクリーン,スプラッシュテーマ,起動
X-KDE-Keywords[km]=អេក្រង់​ស្វាគមន៍ ស្បែក​ពេល​ស្វាគមន៍ ដំឡើង​
X-KDE-Keywords[ko]=시작 화면,시작,테마
X-KDE-Keywords[lt]=splash screen,splash theme,startup,pasveikinimo ekranas,pasveikinimo tema
X-KDE-Keywords[lv]=šļakstekrāns,šļakstekrāna tēma,palaišanās
X-KDE-Keywords[mk]=splash screen,splash theme,startup,поздравен екран,поздравна тема
X-KDE-Keywords[nb]=oppstart,oppstartsbilde,oppstartstema,velkomstbilde,velkomsttema
X-KDE-Keywords[nds]=splash,starten,Startschirm,Muster,theme
X-KDE-Keywords[ne]=स्प्लयास पर्दा, स्प्लयास विषयवस्तु, सुरुआत
X-KDE-Keywords[nl]=opstartscherm,splash screen
X-KDE-Keywords[nn]=oppstart,velkomstbilete,velkomsttema,oppstartstema
X-KDE-Keywords[pa]=ਸ਼ੁਰੂਆਤੀ ਸਕਰੀਨ,ਸ਼ੁਰੂਆਤੀ ਥੀਮ,ਸ਼ੁਰੂਆਤ
X-KDE-Keywords[pl]=ekran powitalny,motyw ekranu powitalnego,rozpoczęcie,start
X-KDE-Keywords[pt]=ecrã inicial,tema do ecrã inicial,arranque
X-KDE-Keywords[pt_BR]=tela de apresentação, tema da tela de apresentação,inicialização
X-KDE-Keywords[ro]=imagine,tematică,întîmpinare,pornire
X-KDE-Keywords[sl]=uvodni zaslon,uvodna tema,zagon
X-KDE-Keywords[sr]=splash screen,splash theme,startup,уводни,уводни екран,покретање
X-KDE-Keywords[sr@latin]=splash screen,splash theme,startup,uvodni,uvodni ekran,pokretanje
X-KDE-Keywords[sv]=startskärm,starttema,start
X-KDE-Keywords[ta]=தோன்றும் திரை,தோன்றும் தலைப்பு,துவக்கம்
X-KDE-Keywords[th]=หน้าจอเริ่มการทำงาน,ชุดตกแต่ง splash,เริ่มทำงาน
X-KDE-Keywords[tr]=açılış ekranı, açılış teması, başlangıç
X-KDE-Keywords[uk]=екран заставки,тема заставки,запуск,старт
X-KDE-Keywords[uz]=сплэш ойнаси,сплэш мавзуси,ишга тушиш
X-KDE-Keywords[vi]=màn hình chào mừng,sắc thái chào mừng,khởi động
X-KDE-Keywords[x-test]=xxsplash screen,splash theme,startupxx
X-KDE-Keywords[zh_CN]=splash screen,splash theme,startup,飞溅屏幕,飞溅主题,启动
X-KDE-Keywords[zh_TW]=splash screen,splash theme,startup,啟動
Categories=Qt;KDE;X-KDE-settings-looknfeel;
