[Action_0]
Description=Jpeg-Image
Description[az]=Jpeg-Rəsmi
Description[cs]=Obrázek JPEG
Description[de]=JPEG-Image
Description[es]=Imagen Jpeg
Description[fr]=Image JPEG
Description[he]=תמונת JPEG
Description[lv]=Jpeg Attēls
Description[nl]=Jpeg-afbeelding
Description[pt]=Imagem-JPEG
Description[pt_BR]=Imagem-JPEG
Description[sk]=Obrázok Jpeg
Description[sv]=Jpeg-bild
Description[tr]=Jpeg Resmi
Description[xh]=Jpeg-Umfanekiso
Description[xx]=xx
Number of commands=1
Regexp=^\\/.+\\.jpg$

[Action_0/Command_0]
Commandline=kview "%s"
Description=Launch K&View
Description[az]=K&View-u Başlat
Description[da]=Start K&View
Description[de]=K&View starten
Description[es]=Iniciar K&View
Description[fr]=Démarrer k&View
Description[he]=הפעל את &KView
Description[lv]=Palaist K&Skatīt
Description[nl]=K&View opstarten
Description[pt]=Lançar o K&View
Description[pt_BR]=Lançar o K&View
Description[sk]=Spustiť K&View
Description[sv]=Starta K&view
Description[tr]=K&View Çalıştır
Description[xh]=Yazisa i K&View
Description[xx]=xx
Description[zu]=Launch K&Buka
Enabled=true

[Action_1]
Description=Web-URL
Description[az]=Veb-URL
Description[da]=Net-URL
Description[es]=URL Web
Description[fr]=URL web
Description[he]=כתובת אינטרנט
Description[nl]=Web-URL-adres
Description[pt]=URL da Web
Description[pt_BR]=URL da Web
Description[sv]=Webbadress
Description[xx]=xx
Number of commands=5
Regexp=^https?://

[Action_1/Command_0]
Commandline=dcop konqueror default 'createNewWindow(QString)' '%s' || kfmclient exec '%s'
Description=Open with &Konqueror
Description[az]=&Konqueror ilə Aç
Description[da]=Åbn med &Konqueror
Description[de]=Mit &Konqueror öffnen
Description[es]=Abrir con &Konqueror
Description[fr]=Ouvrir dans &Konqueror
Description[he]=פתח באמצעות &Konqueror
Description[lv]=Atvērt ar Ie&karotāju
Description[nl]=Openen met &Konqueror
Description[pt]=Abrir com o &Konqueror
Description[pt_BR]=Abrir com o &Konqueror
Description[sk]=Otvoriť pomocou &Konqueror
Description[sv]=Öppna med &Konqueror
Description[tr]=&Konqueror ile Aç
Description[xh]=Vula nge &Konqueror
Description[xx]=xx
Description[zu]=Vula nge&Konqueror
Enabled=true

[Action_1/Command_1]
Commandline=netscape -no-about-splash -remote "openURL(%s, new-window)"
Description=Open with &Netscape
Description[az]=&Netscape ilə Aç
Description[da]=Åbn med &Netscape
Description[de]=Mit &Netscape öffnen
Description[es]=Abrir con &Netscape
Description[fr]=Ouvrir dans &Netscape
Description[he]=פתח באמצעות &Netscape
Description[lv]=Atvērt ar &Netscape
Description[nl]=Openen met &Netscape
Description[pt]=Abrir com o &Netscape
Description[pt_BR]=Abrir com o &Netscape
Description[sk]=Otvoriť pomocou &Netscape
Description[sv]=Öppna med &Netscape
Description[tr]=&Netscape ile Aç
Description[xh]=Vula nge &Netscape
Description[xx]=xx
Description[zu]=Vula nge &Netscape
Enabled=true

[Action_1/Command_2]
Commandline=mozilla -remote "openURL(%s, new-window)"
Description=Open with &Mozilla
Description[az]=&Mozilla ilə Aç
Description[da]=Åbn med &Mozilla
Description[de]=Mit &Mozilla öffnen
Description[es]=Abrir con &Mozilla
Description[fr]=Ouvrir dans &Mozilla
Description[he]=פתח באמצעות &Mozilla
Description[lv]=Atvērt ar &Mozilla
Description[nl]=Openen met &Mozilla
Description[pt]=Abrir com o &Mozilla
Description[pt_BR]=Abrir com o &Mozilla
Description[sk]=Otvoriť pomocou &Mozilla
Description[sv]=Öppna med &Mozilla
Description[tr]=&Mozilla ile Aç
Description[xh]=Vula nge &Mozilla
Description[xx]=xx
Description[zu]=Vula nge &Mozilla
Enabled=true

[Action_1/Command_3]
Commandline=kmail --body  '%s'
Description=Send &URL
Description[az]=&URL Göndər
Description[de]=&URL senden
Description[es]=Enviar &URL
Description[fr]=Envoyer l'&URL
Description[he]=שלח &כתובת
Description[lv]=Sūtīt &URL
Description[nl]=&URL-adres verzenden
Description[pt]=Enviar o &URL
Description[pt_BR]=Enviar o &URL
Description[sk]=Poslať &URL
Description[sv]=Skicka &webbadress
Description[tr]=&URL Gönder
Description[xh]=Thumela i &URL
Description[xx]=xx
Description[zu]=Thumela &URL
Enabled=true

[Action_1/Command_4]
Commandline=kmail  --attach '%s'
Description=Send &Page
Description[az]=&Səhifə Göndər
Description[da]=Send &side
Description[de]=&Seite senden
Description[es]=Enviar &página
Description[fr]=Envoyer la &page
Description[he]=שלח &עמוד
Description[lv]=Sūtīt La&pu
Description[nl]=&Pagina verzenden
Description[pt]=Enviar a &Página
Description[pt_BR]=Enviar a &Página
Description[sk]=Poslať &stránku
Description[sv]=Ski&cka sida
Description[tr]=&Sayfayı Gönder
Description[xh]=Thumela &Iphepha
Description[xx]=xx
Description[zu]=Thumela &Page
Enabled=true

[Action_2]
Description=Mail-URL
Description[az]=Məktub-URL
Description[da]=E-mail-URL
Description[de]=Mail-Adresse (URL)
Description[es]=URL de correo
Description[fr]=URL de courrier électronique
Description[he]=שלח כתובת בדואר
Description[lv]=Mailot URL
Description[nl]=URL-adres e-mailen
Description[pt]=URL de Email
Description[pt_BR]=URL de Email
Description[sv]=Webbadress för e-post
Description[xh]=Iposi-URL
Description[xx]=xx
Number of commands=2
Regexp=^mailto:

[Action_2/Command_0]
Commandline=kmail --composer %s
Description=Launch &Kmail
Description[az]=&Kmail-i Başlat
Description[da]=Start &Kmail
Description[de]=&Kmail starten
Description[en_GB]=Launch &KMail
Description[es]=Iniciar &Kmail
Description[fr]=Démarrer k&Mail
Description[he]=הפעל את &KMail
Description[lv]=Palaiž &Kpastu
Description[nl]=&Kmail opstarten
Description[pt]=Lançar o &Kmail
Description[pt_BR]=Lançar o &Kmail
Description[sk]=Spustiť &Kmail
Description[sv]=Starta &Kmail
Description[tr]=KMail Ç&alıştır
Description[xh]=Yazisa i &Kmail
Description[xx]=xx
Enabled=true

[Action_2/Command_1]
Commandline=konsole -e mutt `echo "%s" | sed 's/mailto://g'`
Description=Launch &mutt
Description[az]=&mutt-u Başlat
Description[da]=Start &mutt
Description[de]=&Mutt starten
Description[en_GB]=Launch &Mutt
Description[es]=Iniciar &mutt
Description[fr]=Démarrer &Mutt
Description[he]=הפעל את &mutt
Description[lv]=Palaiž &mutt
Description[nl]=&Mutt opstarten
Description[pt]=Lançar o &mutt
Description[pt_BR]=Lançar o &mutt
Description[sk]=Spustiť &mutt
Description[sv]=Starta &mutt
Description[tr]=&Mutt Çalıştır
Description[xh]=Yazisa i &mutt
Description[xx]=xx
Enabled=true

[Action_3]
Description=Text File
Description[az]=Mətn Faylı
Description[cs]=Textový soubor
Description[da]=Tekstfil
Description[de]=Textdatei
Description[es]=Archivo de texto
Description[fr]=Fichier texte
Description[he]=קובץ טקסט
Description[lv]=Teksta Fails
Description[nl]=Tekstbestand
Description[pt]=Ficheiro de Texto
Description[pt_BR]=Ficheiro de Texto
Description[sk]=Textový súbor
Description[sv]=Textfil
Description[xh]=Ifayile Yokubhaliweyo
Description[xx]=xx
Description[zu]=Ifayela Yokubhaliweyo
Number of commands=2
Regexp=^\\/.+\\.txt$

[Action_3/Command_0]
Commandline=kedit "%s"
Description=Launch K&Edit
Description[az]=K&Edit-i Başlat
Description[da]=Start K&Edit
Description[de]=K&Edit starten
Description[es]=Iniciar K&Edit
Description[fr]=Lancer k&Edit
Description[he]=הפעל את K&Edit
Description[lv]=Palaiž K&Edit
Description[nl]=K&Edit opstarten
Description[pt]=Lançar o K&Edit
Description[pt_BR]=Lançar o K&Edit
Description[sk]=Spustiť K&Edit
Description[sv]=Starta K&edit
Description[tr]=K&edit Çalıştır
Description[xh]=Yazisa i K&Edit
Description[xx]=xx
Description[zu]=Launch K&Hlela
Enabled=true

[Action_3/Command_1]
Commandline=kwrite "%s"
Description=Launch K&Write
Description[az]=K&Write-ı Başlat
Description[da]=Start K&Write
Description[de]=K&Write starten
Description[es]=Inicar K&Write
Description[fr]=Démarrer k&Write
Description[he]=הפעל את K&Write
Description[lv]=Palaiž K&Write
Description[nl]=K&Write opstarten
Description[pt]=Lançar o K&Write
Description[pt_BR]=Lançar o K&Write
Description[sk]=Spustiť K&Write
Description[sv]=Starta K&write
Description[tr]=K&Write Çalıştır
Description[xh]=Yazisa i K&Write
Description[xx]=xx
Description[zu]=Launch K&Bhala
Enabled=true

[Action_4]
Description=Local file URL
Description[az]=Yerli fayl URL-si
Description[da]=Lokalfil-URL
Description[de]=Adresse einer lokalen Datei (URL)
Description[es]=URL de archivo local
Description[fr]=URL locale
Description[he]=כתובת של קובץ מקומי
Description[lv]=Lokāla faila URL
Description[nl]=Lokaal bestands-URL-adres
Description[pt]=URL de ficheiro local
Description[pt_BR]=URL de ficheiro local
Description[sk]=URL lokálneho súboru
Description[sv]=Webbadress för lokal fil
Description[xh]=Ifayile yobulali URL
Description[xx]=xx
Number of commands=2
Regexp=^file:.

[Action_4/Command_0]
Commandline=kmail --body  '%s'
Description=Send &URL
Description[az]=&URL Göndər
Description[de]=&URL senden
Description[es]=Enviar &URL
Description[fr]=Envoyer l'&URL
Description[he]=שלח &כתובת
Description[lv]=Sūtīt &URL
Description[nl]=&URL-adres verzenden
Description[pt]=Enviar o &URL
Description[pt_BR]=Enviar o &URL
Description[sk]=Poslať &URL
Description[sv]=Skicka &webbadress
Description[tr]=&URL Gönder
Description[xh]=Thumela i &URL
Description[xx]=xx
Description[zu]=Thumela &URL
Enabled=true

[Action_4/Command_1]
Commandline=kmail  --attach '%s'
Description=Send &File
Description[az]=&Fayl Göndər
Description[da]=Send &fil
Description[de]=&Datei senden
Description[es]=Enviar &archivo
Description[fr]=Envoyer le &fichier
Description[he]=שלח &קובץ
Description[lv]=Sūtīt &Failu
Description[nl]=&Bestand verzenden
Description[pt]=Enviar o &Ficheiro
Description[pt_BR]=Enviar o &Ficheiro
Description[sk]=Poslať &súbor
Description[sv]=Skicka &fil
Description[tr]=Dosya &Gönder
Description[xh]=Thumela &ifayile
Description[xx]=xx
Description[zu]=Thumela &Ifayela
Enabled=true

[Action_5]
Description=Gopher URL
Description[az]=Qofher URL
Description[de]=Gopher-Adresse (URL)
Description[es]=URL de Gopher
Description[fr]=URL Gopher
Description[he]=כתובת Gopher
Description[nl]=Gopher URL-adres
Description[pt]=URL do Gopher
Description[pt_BR]=URL do Gopher
Description[sk]=URL pre Gopher
Description[sv]=Gopher-webbadress
Description[xx]=xx
Number of commands=2
Regexp=^gopher:.

[Action_5/Command_0]
Commandline=kmail --body  '%s'
Description=Send &URL
Description[az]=&URL Göndər
Description[de]=&URL senden
Description[es]=Enviar &URL
Description[fr]=Envoyer l'&URL
Description[he]=שלח &כתובת
Description[lv]=Sūtīt &URL
Description[nl]=&URL-adres verzenden
Description[pt]=Enviar o &URL
Description[pt_BR]=Enviar o &URL
Description[sk]=Poslať &URL
Description[sv]=Skicka &webbadress
Description[tr]=&URL Gönder
Description[xh]=Thumela i &URL
Description[xx]=xx
Description[zu]=Thumela &URL
Enabled=true

[Action_5/Command_1]
Commandline=kmail  --attach '%s'
Description=Send &File
Description[az]=&Fayl Göndər
Description[da]=Send &fil
Description[de]=&Datei senden
Description[es]=Enviar &archivo
Description[fr]=Envoyer le &fichier
Description[he]=שלח &קובץ
Description[lv]=Sūtīt &Failu
Description[nl]=&Bestand verzenden
Description[pt]=Enviar o &Ficheiro
Description[pt_BR]=Enviar o &Ficheiro
Description[sk]=Poslať &súbor
Description[sv]=Skicka &fil
Description[tr]=Dosya &Gönder
Description[xh]=Thumela &ifayile
Description[xx]=xx
Description[zu]=Thumela &Ifayela
Enabled=true

[Action_6]
Description=ftp URL
Description[da]=ftp-URL
Description[de]=FTP-Adresse (URL)
Description[en_GB]=FTP URL
Description[es]=URL de ftp
Description[fr]=URL FTP
Description[he]=כתובת FTP
Description[nl]=ftp URL-adres
Description[pt]=URL de FTP
Description[pt_BR]=URL de FTP
Description[sk]=URL pre FTP
Description[sv]=FTP-webbadress
Description[xx]=xx
Number of commands=5
Regexp=^ftp://

[Action_6/Command_0]
Commandline=dcop konqueror default 'createNewWindow(QString)' '%s' || kfmclient exec '%s'
Description=Open with &Konqueror
Description[az]=&Konqueror ilə Aç
Description[da]=Åbn med &Konqueror
Description[de]=Mit &Konqueror öffnen
Description[es]=Abrir con &Konqueror
Description[fr]=Ouvrir dans &Konqueror
Description[he]=פתח באמצעות &Konqueror
Description[lv]=Atvērt ar Ie&karotāju
Description[nl]=Openen met &Konqueror
Description[pt]=Abrir com o &Konqueror
Description[pt_BR]=Abrir com o &Konqueror
Description[sk]=Otvoriť pomocou &Konqueror
Description[sv]=Öppna med &Konqueror
Description[tr]=&Konqueror ile Aç
Description[xh]=Vula nge &Konqueror
Description[xx]=xx
Description[zu]=Vula nge&Konqueror
Enabled=true

[Action_6/Command_1]
Commandline=netscape -no-about-splash -remote "openURL(%s, new-window)"
Description=Open with &Netscape
Description[az]=&Netscape ilə Aç
Description[da]=Åbn med &Netscape
Description[de]=Mit &Netscape öffnen
Description[es]=Abrir con &Netscape
Description[fr]=Ouvrir dans &Netscape
Description[he]=פתח באמצעות &Netscape
Description[lv]=Atvērt ar &Netscape
Description[nl]=Openen met &Netscape
Description[pt]=Abrir com o &Netscape
Description[pt_BR]=Abrir com o &Netscape
Description[sk]=Otvoriť pomocou &Netscape
Description[sv]=Öppna med &Netscape
Description[tr]=&Netscape ile Aç
Description[xh]=Vula nge &Netscape
Description[xx]=xx
Description[zu]=Vula nge &Netscape
Enabled=true

[Action_6/Command_2]
Commandline=mozilla -remote "openURL(%s, new-window)"
Description=Open with &Mozilla
Description[az]=&Mozilla ilə Aç
Description[da]=Åbn med &Mozilla
Description[de]=Mit &Mozilla öffnen
Description[es]=Abrir con &Mozilla
Description[fr]=Ouvrir dans &Mozilla
Description[he]=פתח באמצעות &Mozilla
Description[lv]=Atvērt ar &Mozilla
Description[nl]=Openen met &Mozilla
Description[pt]=Abrir com o &Mozilla
Description[pt_BR]=Abrir com o &Mozilla
Description[sk]=Otvoriť pomocou &Mozilla
Description[sv]=Öppna med &Mozilla
Description[tr]=&Mozilla ile Aç
Description[xh]=Vula nge &Mozilla
Description[xx]=xx
Description[zu]=Vula nge &Mozilla
Enabled=true

[Action_6/Command_3]
Commandline=kmail --body  '%s'
Description=Send &URL
Description[az]=&URL Göndər
Description[de]=&URL senden
Description[es]=Enviar &URL
Description[fr]=Envoyer l'&URL
Description[he]=שלח &כתובת
Description[lv]=Sūtīt &URL
Description[nl]=&URL-adres verzenden
Description[pt]=Enviar o &URL
Description[pt_BR]=Enviar o &URL
Description[sk]=Poslať &URL
Description[sv]=Skicka &webbadress
Description[tr]=&URL Gönder
Description[xh]=Thumela i &URL
Description[xx]=xx
Description[zu]=Thumela &URL
Enabled=true

[Action_6/Command_4]
Commandline=kmail  --attach '%s'
Description=Send &File
Description[az]=&Fayl Göndər
Description[da]=Send &fil
Description[de]=&Datei senden
Description[es]=Enviar &archivo
Description[fr]=Envoyer le &fichier
Description[he]=שלח &קובץ
Description[lv]=Sūtīt &Failu
Description[nl]=&Bestand verzenden
Description[pt]=Enviar o &Ficheiro
Description[pt_BR]=Enviar o &Ficheiro
Description[sk]=Poslať &súbor
Description[sv]=Skicka &fil
Description[tr]=Dosya &Gönder
Description[xh]=Thumela &ifayile
Description[xx]=xx
Description[zu]=Thumela &Ifayela
Enabled=true

[General]
KeepClipboardContents=true
No Actions for WM_CLASS=Navigator,konqueror,keditbookmarks,mozilla-bin,Opera main window,opera,gnumeric,Gnumeric,Galeon
Number of Actions=7
PopupAtMousePosition=false
URLGrabberEnabled=true
