[Desktop Entry]
Name=Cut & Paste History
Name[ca]=Historial de tallar i enganxar
Name[cs]=Historie kopírování a vkládání (klipper)
Name[da]=Klippe- og klistrehistorie (klipper)
Name[de]=Zwischenablage (Klipper)
Name[el]=Ιστορικό Αποκοπής & Επικόλλησης (klipper)
Name[eo]=Poŝilo
Name[es]=Historial de Cortar y Pegar (Klipper)
Name[et]=Lõika ja Aset ajalugu (klipper)
Name[fi]=Leikepöydän historia
Name[fr]=Historique du presse-papiers
Name[gl]=Historia de Cortar e Pegar (klipper)
Name[he]=(klipper) הקבדהו הריזג תיירוטסיה
Name[hr]=Povijest rezanja i ljepljenja (klipper)
Name[hu]=Vágólapkezelő
Name[is]=Saga klippiborðs
Name[it]=Cronologia del taglia/incolla (klipper)
Name[ja]=カット&ペースト履歴 (klipper)
Name[lt]=Iškirpti ir įterpti istoriją
Name[mk]=Листа на инсерти (klipper)
Name[nl]=Klembordoverzicht (klipper)
Name[no]=Klippe- og limehistorie (klipper)
Name[no_NY]=Klipp-og-lim-historie (klipper)
Name[oc]=Istoria de talhar e agapir
Name[pl]=Historia schowka (klipper)
Name[pt]=Historial da Área de Transferência
Name[pt_BR]=Histórico de Corte e Colagem
Name[ro]=Clipboard
Name[ru]=История буфера обмена (klipper)
Name[sk]=História clipboardu (klipper)
Name[sl]=Zgodovina rezanja in lepljenja (klipper)
Name[sr]=Iseci i prenesi istorija (klipper)
Name[sv]=Urklippshistorik (klipper)
Name[ta]=¦ÅðÎ & ´ðÎ ÅÃÄ¡Ú (klipper)
Name[tr]=Kopyala & Yapıştır Geçmişi (klipper)
Name[uk]=Істрорія буферу обміну (klipper)
Name[zh_CN.GB2312]=剪贴历史(Klipper)
Name[zh_TW.Big5]=剪貼歷史記錄 (klipper)
Exec=klipper %i %m
Icon=klipper
Type=Application
DocPath=klipper/klipper.html
Terminal=0
