[KDE Desktop Program]
Command=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
Comment=XPlanet by Hari Nair
Comment[af]=Xplaneet deur Hari Nair
Comment[ar]=XPlanet من هاري ناير
Comment[az]=Hari Nair'dan XPlanet
Comment[be]=X Плянэта (Hari Nair)
Comment[bn]=হরি নায়ার-এর এক্স-প্ল্যানেট
Comment[ca]=XPlanet per en Hari Nair
Comment[cs]=XPlanet od Hariho Naira
Comment[cy]=XPlanet gan Hari Nair
Comment[da]=XPlanet af Hari Nair
Comment[de]=XPlanet
Comment[el]=XPlanet του Hari Nair
Comment[eo]=XPlanedo de Hari Nair
Comment[es]=XPlanet por Hari Nair
Comment[et]=XPlanet (Hari Nair)
Comment[eu]=XPlanet  Hari Nair-ek egina
Comment[fa]=XPlanet از Hari Nair
Comment[fi]=XPlanet, tehnyt Hari Nair
Comment[fr]=XPlanet par Hari Nair
Comment[fy]=XPlanet, troch Hari Nair
Comment[ga]=XPlanet le Hari Nair
Comment[gl]=XPlanet por Hari Nair
Comment[he]=XPlanet מאת הארי נייר
Comment[hi]=हरी नायर द्वारा एक्स-प्लेनेट
Comment[hr]=XPlanet - Autor: Hari Nair
Comment[hu]=Hari Nair XPlanetje
Comment[id]=,XPlanet by Hari Nair
Comment[is]=XPlánetur eftir Hari Nair
Comment[it]=XPlanet (di Hari Nair)
Comment[ja]=Hari NairによるXPlanet
Comment[ko]=Hari Nair가 그린 XPlanet
Comment[lo]=ອາວະກາດ ໂດຍ Hari Nair
Comment[lt]=Hari Nair'o XPlanet
Comment[lv]=XPlanet no Hari Nair
Comment[mk]=XПланета од Hari Nair
Comment[mn]=XPlanet
Comment[mt]=XPlanet minn Hari Nair
Comment[nb]=XPlanet av Hari Nair
Comment[nds]=XPlanet vun Hari Nair
Comment[nl]=XPlanet, door Hari Nair
Comment[nn]=XPlanet av Hari Nair
Comment[nso]=XPlanet ka Hari Nair
Comment[pa]=ਹੇਰੀ ਨਾਇਰ ਵਲੋਂ XPlanet
Comment[pl]=XPlanet autorstwa Hari Neir
Comment[pt]=XPlanet de Hari Nair
Comment[pt_BR]=XPlanet por Hari Nair
Comment[ro]=XPlanet de Hari Nair
Comment[ru]=XPlanet (Hari Nair)
Comment[se]=Hari Naira XPlanet
Comment[sk]=XPlanet od Hari Nair
Comment[sl]=XPlanet Harija Naira
Comment[ss]=XPlanet ngu Hari Nair
Comment[sv]=Xplanet av Hari Nair
Comment[ta]=ஹரி நாயரின் Xப்ளானட்
Comment[tg]=XPlanet аз Hari Nair
Comment[th]=อวกาศ โดย Hari Nair
Comment[tr]=Hari Nair'dan XPlanet
Comment[uk]=XPlanet від Hari Nair
Comment[uz]=XPlanet (Хари Нейр томонидан)
Comment[ven]=Pulanete ya X nga Hari Nair
Comment[vi]=XPlanet của  Hari Nair
Comment[xh]=XPlanet ngu Hari Nair
Comment[xx]=xxXPlanet by Hari Nairxx
Comment[zh_CN]=Hari Nair 的 XPlanet
Comment[zh_TW]=XPlanet (Hari Nair 繪製)
Comment[zu]=XPlanet ngu-Hari Nair
Executable=xplanet
PreviewCommand=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
Refresh=10
