[Desktop Entry]
Name=Ruby Web Browser
Name[ar]=متصفح ويب بلغة روبي
Name[be@latin]=Hartač sieciva ŭ movie „Ruby”
Name[bg]=Уеб браузър Ruby
Name[bn]=রুবি ওয়েব ব্রাউজার
Name[bn_IN]=Ruby ওয়েব ব্রাউজার
Name[ca]=Navegador web en Ruby
Name[csb]=Przezérnik WWW Ruby
Name[da]=Ruby webbrowser
Name[de]=Ruby - Web-Browser
Name[el]=Περιηγητής ιστού Ruby
Name[es]=Navegador Web Ruby
Name[et]=Ruby veebibrauser
Name[eu]=Ruby web arakatzailea
Name[fr]=Navigateur Web Ruby
Name[gl]=Navegador web escrito en Ruby
Name[gu]=રૂબી વેબ બ્રાઉઝર
Name[he]=דפדפן רשת הכתוב ב־Ruby
Name[hi]=रूबी वेब ब्राउज़र
Name[is]=Ruby vafri
Name[it]=Browser web Ruby
Name[ja]=Ruby ウェブブラウザ
Name[kk]=Ruby-дегі Веб шолғышы
Name[km]=កម្មវិធី​រុករក​បណ្ដាញ
Name[ko]=루비 웹 브라우저
Name[ku]=Ruby Geroka Torê
Name[lv]=Ruby tīmekļa pārlūks
Name[ml]=റൂബി വെബ് ബ്രൌസര്‍
Name[mr]=Ruby वेब ब्राउजर
Name[nb]=Ruby nettleser
Name[nds]=Nettkieker för Ruby
Name[nl]=Ruby Webbrowser
Name[or]=ରୁବି ୱେବ ବ୍ରାଉଜର
Name[pa]=ਰੂਬੀ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka WWW w języku Ruby
Name[pt]=Navegador Web em Ruby
Name[pt_BR]=Navegador da Internet em Ruby
Name[ro]=Navigator de web Ruby
Name[sk]=Ruby webový prehliadač
Name[sl]=Ruby spletni brskalnik
Name[sr]=рубијевски веб прегледач
Name[sr@latin]=ruby veb pregledač
Name[sv]=Ruby webbläsare
Name[tg]=Веб-браузери Ruby
Name[th]=เว็บเบราว์เซอร์ภาษารูบี้
Name[tr]=Ruby Web Tarayıcı
Name[uk]=Навігатор Тенет на Ruby
Name[x-test]=xxRuby Web Browserxx
Name[zh_CN]=Ruby 网络浏览器
Name[zh_TW]=Ruby 網頁瀏覽器

Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Richard Dale
X-KDE-PluginInfo-Email=richard.j.dale@gmail.com
X-KDE-PluginInfo-Name=ruby-webapplet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=ruby-script
X-Plasma-MainScript=code/main.rb
