[Desktop Entry]
Exec=plasma-mid
X-DBUS-StartupType=wait
Name=Plasma MID
Comment=Workspace shell for mobile internet devices
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

