[Desktop Entry]
Exec=kcmshell4 desktopthemedetails
Icon=preferences-desktop
Type=Service
X-DocPath=

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktopthemedetails
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Desktop Theme Details
Name[el]=Λεπτομέρειες θέματος επιφάνειας εργασίας
Name[gl]=Detalles do tema do escritorio
Name[gu]=ડેસ્કટોપ થીમ વિગતો
Name[kk]=Үстел нышанның егжей-тегжейі
Name[pt]=Detalhes do Tema do Ambiente de Trabalho
Name[pt_BR]=Detalhes do Tema do Ambiente de Trabalho
Name[ro]=Detalii tematică de birou
Name[sv]=Anpassa skrivbordstemat
Name[tr]=Masaüstü Teması Ayrıntıları
Name[uk]=Відомості щодо тем стільниці
Name[zh_TW]=桌面佈景主題詳細資料
Comment=Customize individual desktop theme items
Comment[el]=Προσαρμογή ανεξέρτητων αντικειμένων ενός θέματος της επιφάνειας εργασίας
Comment[gl]=Personaliza os itens individuais do tema do escritorio
Comment[gu]=અલગ ડેસ્કટોપ થીમ વસ્તુઓને બદલો
Comment[kk]=Үстел нышанның өзінше баптап алуы
Comment[pt]=Personalizar os itens individuais do tema do ambiente de trabalho
Comment[pt_BR]=Personalizar os itens individuais do tema do ambiente de trabalho
Comment[ro]=Particularizează elemente individuale ale tematicii
Comment[sv]=Individuell anpassning av skrivbordstemats objekt
Comment[tr]=Masaüstü tema ögelerini özelleştir
Comment[uk]=Налаштуйте окремі пункти тем стільниці
Comment[zh_TW]=自訂個別的桌面主題項目
X-KDE-Keywords=Desktop Theme details
