[Desktop Entry]
Exec=kcmshell4 desktopthemedetails
Icon=preferences-desktop
Type=Service
X-DocPath=

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_desktopthemedetails
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Desktop Theme Details
Name[el]=Λεπτομέρειες θέματος επιφάνειας εργασίας
Name[gl]=Detalles do tema do escritorio
Name[pt]=Detalhes do Tema do Ambiente de Trabalho
Name[pt_BR]=Detalhes do Tema do Ambiente de Trabalho
Name[sv]=Anpassa skrivbordstemat
Name[uk]=Відомості щодо тем стільниці
Comment=Customize individual desktop theme items
Comment[el]=Προσαρμογή ανεξέρτητων αντικειμένων ενός θέματος της επιφάνειας εργασίας
Comment[gl]=Personaliza os itens individuais do tema do escritorio
Comment[pt]=Personalizar os itens individuais do tema do ambiente de trabalho
Comment[pt_BR]=Personalizar os itens individuais do tema do ambiente de trabalho
Comment[sv]=Individuell anpassning av skrivbordstemats objekt
Comment[uk]=Налаштуйте окремі пункти тем стільниці
X-KDE-Keywords=Desktop Theme details
