[Desktop Entry]
Name=Device Information
Name[ar]=معلومات الأجهزة
Name[be@latin]=Źviestki z pryłady
Name[bg]=Информация за устройства
Name[bn]=ডিভাইস তথ্য
Name[bn_IN]=ডিভাইস সংক্রান্ত তথ্য
Name[ca]=Informació dels dispositius
Name[cs]=Informace o zařízení
Name[csb]=Wëdowiédzô ò ùrządzeniach
Name[da]=Enhedsinformation
Name[de]=Geräteinformationen
Name[el]=Πληροφορίες συσκευής
Name[es]=Información del dispositivo
Name[et]=Seadmete teave
Name[eu]=Gailuaren informazioa
Name[fi]=Laitetiedot
Name[fr]=Informations sur les périphériques
Name[gl]=Información de dispositivos
Name[gu]=ઉપકરણ માહિતી
Name[he]=מידע על התקנים
Name[hi]=उपकरण जानकारी
Name[is]=Upplýsingar tækis
Name[it]=Informazioni dispositivo
Name[ja]=デバイス情報
Name[kk]=Құрылғы мәліметі
Name[km]=ព័ត៌មាន​ឧបករណ៍
Name[kn]=ಸಾಧನದ ಮಾಹಿತಿ
Name[ko]=장치 정보
Name[lt]=Įrenginio informacija
Name[lv]=Ierīču informācija
Name[ml]=ഉപകരണ വിവരം
Name[mr]=साधन माहिती
Name[nb]=Enhetsinformasjon
Name[nds]=Reedschap-Informatschonen
Name[nl]=Apparaatinformatie
Name[pa]=ਜੰਤਰ ਜਾਣਕਾਰੀ
Name[pt]=Informação dos Dispositivos
Name[pt_BR]=Informações do dispositivo
Name[ro]=Informații dispozitiv
Name[ru]=Сведения об устройстве
Name[sl]=Podatki o napravah
Name[sv]=Enhetsinformation
Name[tg]=Иттилооти дастгоҳ
Name[th]=รายละเอียดอุปกรณ์
Name[tr]=Aygıt Bilgileri
Name[uk]=Інформація про пристрої
Name[x-test]=xxDevice Informationxx
Name[zh_CN]=设备信息
Name[zh_TW]=裝置資訊
Comment=SolidDevice data for Plasmoids
Comment[ar]=محرك بيانات الاجهزة للبلازمويدات
Comment[be@latin]=Źviestki „SolidDevice” dla widžetaŭ „Plasma”
Comment[bg]=Данни за SolidDevice (Plasmoids)
Comment[ca]=Dades del SolidDevice pels Plasmoides
Comment[csb]=Czérownik ùrządzeniów Solid dlô plazmoidów
Comment[da]=SolidDevice-data til plasmoids
Comment[de]=Solid-Gerätedaten für Plasmoide
Comment[el]=Δεδομένα συσκευών Solid για πλασμοειδή
Comment[eo]=Datumoj de SolidDevice por Plasmoidoj
Comment[es]=Datos de SolidDevice para los plasmoides
Comment[et]=SolidDevice'i andmed plasmoididele
Comment[eu]=Plasmoiden SolidDevice datuak
Comment[fi]=SolidDevice-tietoa Plasmoideille
Comment[fr]=Données de périphériques Solid pour les Plasmoïdes
Comment[fy]= SolidDevice gegevens foar Plasmoids
Comment[ga]=Sonraí SolidDevice le haghaidh Plasmoids
Comment[gl]=Datos de SolidDevice para os Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે સોલિડઉપકરણ માહિતી
Comment[hi]=प्लाज्माइड्स के लिए सॉलिड-डिवाइस
Comment[hu]=Solid-eszközadatok plasmoidokhoz
Comment[is]=Solid vélbúnaðarupplýsingar fyrir Plasmadót
Comment[it]=Dati per i dispositivi di Solid per i plasmoidi
Comment[ja]=プラズモイドのための Solid デバイスデータ
Comment[kk]=Плазмоидтерге SolidDevice деректері
Comment[km]=ទិន្នន័យ​ឧបករណ៍តាន់សម្រាប់ Plasmoids
Comment[kn]=ಪ್ಲಾಸ್ಮಾಯ್ಡ್ ಗಳಿಗೆ  ಸಾಲಿಡ್ ಸಾಧನ ದತ್ತ
Comment[ko]=Plasmoid를 위한 SolidDevice 데이터
Comment[lv]=Solid ierīču dati Plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനുള്ള സോളിഡ് നല്‍കുന്ന ഉപകരണങ്ങളെക്കുറിച്ചുള്ള ഡാറ്റ
Comment[nb]=SolidDevice data for Plasmoider
Comment[nds]=SolidDevice-Daten för Lüttprogrammen
Comment[ne]=प्लासमोइड्सका लागि ठोस यन्त्र डेटा
Comment[nl]=SolidDevice-gegevens voor Plasmoids
Comment[nn]=SolidDevice-data for plasmoidar
Comment[pa]=ਪਲਾਜਮੋਡੀਸ ਲਈ ਸੋਲਡ-ਡੀਵਾਇਸ ਡਾਟਾ
Comment[pl]=Urządzenie Solid dla plazmoidów
Comment[pt]=Dados do SolidDevice para os Plasmóides
Comment[pt_BR]=Dados de SolidDevice para os plasmóides
Comment[ro]=Date SolidDevice pentru plasmoizi
Comment[ru]=Данные SolidDevice для плазмоидов
Comment[se]=SolidDevice-dáhtat plasmoidaide
Comment[sl]=Podatki od SolidDevice za Plazmoide
Comment[sr]=Подаци из Солида за плазмоиде
Comment[sr@latin]=Podaci iz Solida za plazmoide
Comment[sv]=Data från Solid-enhet för Plasmoider
Comment[te]=Plasmoids కొరకు సాలిడ్‌డివైజ్ డాటా
Comment[th]=ข้อมูลอุปกรณ์ Solid สำหรับพลาสมอยด์
Comment[tr]=Plasma programcıkları için Solid Aygıt verisi
Comment[uk]=Дані SolidDevice для плазмоїдів
Comment[wa]=Dinêyes SolidDevice po Plasmoids
Comment[x-test]=xxSolidDevice data for Plasmoidsxx
Comment[zh_CN]=Plasmoids 的 SolidDevice 数据
Comment[zh_TW]=Plasmoids 的 SolidDevice 資料
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=alarmclock
X-KDE-Library=plasma_engine_soliddevice

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=soliddevice
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

