[Desktop Entry]
Name=Plasma Desktop Shell
Name[ca]=Intèrpret d'ordres de l'escriptori Plasma
Name[ca@valencia]=Intèrpret d'ordes de l'escriptori Plasma
Name[da]=Plasma Desktop Shell
Name[de]=Plasma-Umgebung
Name[en_GB]=Plasma Desktop Shell
Name[eo]=Plasma Labortabla ŝelo
Name[es]=Shell de escritorio Plasma
Name[et]=Plasma töölauakest
Name[eu]=Plasma mahaigain maskorra
Name[fi]=Plasma-työpöytäkomentoikkuna
Name[fr]=Shell du bureau Plasma
Name[fy]=Plasma buroblêdflues
Name[gl]=Shell de escritorio Plasma
Name[gu]=પ્લાઝમા ડેસ્કટોપ શેલ
Name[he]=מעטפת שולחן העבודה Plasma
Name[hr]=Plasma ljuska radne površine
Name[id]=Shell Desktop Plasma
Name[it]=Shell del desktop di Plasma
Name[kk]=Plasma үстел ортасы
Name[km]=សែល​ផ្ទៃតុ​ប្លាស្មា
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ  ಶೆಲ್
Name[ko]=Plasma 데스크톱 셸
Name[lt]=Plasma darbastalio erdvė
Name[lv]=Plasma darbvirsmas čaula
Name[ml]=പ്ലാസ്മ പണിയിട ആവരണം
Name[nb]=Plasma skrivebordsskall
Name[nds]=Plasma-Schriefdischkieker
Name[nl]=Plasma Bureaublad-shell
Name[nn]=Skrivebordsskal for Plasma
Name[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਸ਼ੈੱਲ
Name[pl]=Powłoka pulpitu Plazmy
Name[pt]=Consola de Ecrã do Plasma
Name[pt_BR]=Shell da área de trabalho do Plasma
Name[ro]=Învelișul de birou Plasma
Name[si]=ප්ලාස්මා වැඩතල ශෙලය
Name[sk]=Shell plochy Plasma
Name[sl]=Delovno okolje Plasma Desktop
Name[sr]=Плазма шкољка површи
Name[sr@ijekavian]=Плазма шкољка површи
Name[sr@ijekavianlatin]=Plasma školjka površi
Name[sr@latin]=Plasma školjka površi
Name[sv]=Plasma skrivbordskal
Name[tg]=Пустаи мизи кории Plasma
Name[tr]=Plasma Masaüstü Kabuğu
Name[uk]=Оболонка стільниці Плазми
Name[x-test]=xxPlasma Desktop Shellxx
Name[zh_CN]=Plasma 桌面外壳
Name[zh_TW]=Plasma 桌面 shell
Comment=Interact with the Plasma desktop shell
Comment[ca]=Interactua amb l'intèrpret d'ordres de l'escriptori Plasma
Comment[ca@valencia]=Interactua amb l'intèrpret d'ordes de l'escriptori Plasma
Comment[da]=Interaktion med Plasma-skrivebordsskal
Comment[de]=Interaktion mit der Plasma-Shell
Comment[en_GB]=Interact with the Plasma desktop shell
Comment[es]=Interactuar con la interfaz del escritorio Plasma
Comment[et]=Suhtlus Plasma töölauakestaga
Comment[fi]=Ole vuorovaikutuksessa Plasma-työpöytäkomentoikkunan kanssa
Comment[fr]=Interagi avec le shell du bureau Plasma
Comment[fy]=Ynteraksje mei de Plasma buroblêd flues
Comment[gl]=Interactúa coa shell de escritorio Plasma
Comment[he]=אינטראקציה עם מעטפת שולחן העבודה Plasma
Comment[hr]=Interakcija s Plasma ljuskom radne površine
Comment[id]=Interaksi dengan shell desktop Plasma
Comment[it]=Interagisci con la shell del desktop di Plasma
Comment[kk]=Plasma үстел қоршау-ортасымен әркеттесу
Comment[km]=មាន​ទំនាក់ទំនង​ជា​មួយ​នឹង​សែល​ផ្ទៃតុ​​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ ಶೆಲ್‌ನೊಂದಿಗೆ ವ್ಯವಹರಿಸು
Comment[ko]=Plasma 데스크톱 셸 사용하기
Comment[lt]=Interakcija su Plasma darbastalio erdve
Comment[lv]=Iedarboties uz Plasma darbvirsmas čaulu
Comment[ml]=പ്ലാസ്മ പണിയിട ഷെല്ലുമായി പരസ്പരവിനിമയം നടത്തുക
Comment[nb]=Arbeid med Plasma skrivebordsskallet
Comment[nds]=Mit den Plasma-Schriefdischkieker snacken
Comment[nl]=Interactie met de Plasma bureaublad-shell
Comment[nn]=Bruk Plasma-skrivebordsskalet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਸ਼ੈੱਲ ਨਾਲ ਕੰਮ
Comment[pl]=Współdziałanie z powłoką pulpitu Plazmy
Comment[pt]=Interagir com a consola do ambiente de trabalho Plasma
Comment[pt_BR]=Interagir com a shell da área de trabalho do Plasma
Comment[ro]=Interacționați cu învelișul de birou Plasma
Comment[si]=ප්ලාස්මා වැඩතල ශෙලය සමඟ අන්තර්ක්‍රියාකාරී
Comment[sk]=Interakcia so shellom plochy Plasma
Comment[sl]=Uporabljajte delovno okolje Plasma za namizje
Comment[sr]=Позабавите се плазма шкољком површи
Comment[sr@ijekavian]=Позабавите се плазма шкољком површи
Comment[sr@ijekavianlatin]=Pozabavite se plasma školjkom površi
Comment[sr@latin]=Pozabavite se plasma školjkom površi
Comment[sv]=Interaktion med Plasma skrivbordsskal
Comment[tr]=Plasma Masaüstü Kabuğu ile etkileş
Comment[uk]=Взаємодія з оболонкою стільниці Плазма
Comment[x-test]=xxInteract with the Plasma desktop shellxx
Comment[zh_CN]=和 Plasma 桌面外壳进行交互
Comment[zh_TW]=與 Plasma 桌面 shell 互動
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=plasma
X-KDE-Library=krunner_plasma-desktop
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=plasma-desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
