[Desktop Entry]
Exec=kcmshell4 colors
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/colors/index.html

X-KDE-Library=kcm_colors
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=60

Name=Colors
Name[af]=Kleure
Name[ar]=الألوان
Name[ast]=Colores
Name[be]=Колеры
Name[be@latin]=Kolery
Name[bg]=Цветове
Name[bn]=রং
Name[bn_IN]=রং
Name[br]=Livioù
Name[bs]=Boje
Name[ca]=Colors
Name[ca@valencia]=Colors
Name[cs]=Barvy
Name[csb]=Farwë
Name[cy]=Lliwiau
Name[da]=Farver
Name[de]=Farben
Name[el]=Χρώματα
Name[en_GB]=Colours
Name[eo]=Koloroj
Name[es]=Colores
Name[et]=Värvid
Name[eu]=Koloreak
Name[fa]=رنگها
Name[fi]=Värit
Name[fr]=Couleurs
Name[fy]=Kleuren
Name[ga]=Dathanna
Name[gl]=Cores
Name[gu]=રંગો
Name[he]=צבעים
Name[hi]=रंग
Name[hne]=रंग
Name[hr]=Boje
Name[hsb]=Barby
Name[hu]=Színek
Name[ia]=Colores
Name[id]=Warna
Name[is]=Litir
Name[it]=Colori
Name[ja]=色
Name[ka]=ცვეტები
Name[kk]=Түстер
Name[km]=ពណ៌
Name[kn]=ಬಣ್ಣಗಳು
Name[ko]=색
Name[ku]=Reng
Name[lt]=Spalvos
Name[lv]=Krāsas
Name[mai]=रँग
Name[mk]=Бои
Name[ml]=നിറങ്ങള്‍
Name[mr]=रंग
Name[ms]=Warna
Name[nb]=Farger
Name[nds]=Klören
Name[ne]=रङ
Name[nl]=Kleuren
Name[nn]=Fargar
Name[oc]=Colors
Name[or]=ରଙ୍ଗ
Name[pa]=ਰੰਗ
Name[pl]=Kolory
Name[pt]=Cores
Name[pt_BR]=Cores
Name[ro]=Culori
Name[ru]=Цвета
Name[se]=Ivnnit
Name[si]=වර්‍ණ
Name[sk]=Farby
Name[sl]=Barve
Name[sr]=Боје
Name[sr@ijekavian]=Боје
Name[sr@ijekavianlatin]=Boje
Name[sr@latin]=Boje
Name[sv]=Färger
Name[ta]=வண்ணங்கள்
Name[te]=రంగులు
Name[tg]=Рангҳо
Name[th]=สี
Name[tr]=Renkler
Name[ug]=رەڭلەر
Name[uk]=Кольори
Name[uz]=Ranglar
Name[uz@cyrillic]=Ранглар
Name[vi]=Màu sắc
Name[wa]=Coleurs
Name[xh]=Imibala
Name[x-test]=xxColorsxx
Name[zh_CN]=颜色
Name[zh_TW]=顏色

Comment=Color settings
Comment[af]=Kleur instellings
Comment[ar]=إعدادات الألوان
Comment[ast]=Preferencies de los colores
Comment[be]=Настаўленне колераў
Comment[be@latin]=Nałady koleraŭ
Comment[bg]=Настройки на цветовете на системата
Comment[bn]=রং সেটিংস
Comment[bn_IN]=রঙ সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniañ al livioù
Comment[bs]=Postavke boja
Comment[ca]=Arranjament dels colors
Comment[ca@valencia]=Arranjament dels colors
Comment[cs]=Nastavení barev
Comment[csb]=Ùstôw farwów
Comment[cy]=Gosodiadau lliwiau
Comment[da]=Farveindstillinger
Comment[de]=Einstellung der Farben für Bedienelemente
Comment[el]=Ρυθμίσεις χρωμάτων
Comment[en_GB]=Colour settings
Comment[eo]=Agordo de la koloroj
Comment[es]=Preferencias de los colores
Comment[et]=Värvide seadistused
Comment[eu]=Koloreen konfigurazioa
Comment[fa]=تنطیمات رنگها
Comment[fi]=Väriasetukset
Comment[fr]=Configuration des couleurs
Comment[fy]=Kleuren ynstelle
Comment[ga]=Socruithe na ndathanna
Comment[gl]=Configuración das cores
Comment[gu]=રંગ ગોઠવણીઓ
Comment[he]=הגדרות צבע
Comment[hi]=रंग विन्यास
Comment[hne]=रंग सेटिंग
Comment[hr]=Postava boja
Comment[hsb]=Nastajenje barbow
Comment[hu]=Színbeállítások
Comment[ia]=Preferentias de color
Comment[id]=Pengaturan warna
Comment[is]=Stillingar lita
Comment[it]=Impostazioni dei colori
Comment[ja]=色の設定
Comment[ka]=ფერების კონფიგურაცია
Comment[kk]=Түстерді орнату
Comment[km]=ការ​កំណត់​ពណ៌
Comment[kn]=ಬಣ್ಣ ಸಂಯೋಜನೆಗಳು
Comment[ko]=색 설정
Comment[ku]=Mîhengên rengan
Comment[lt]=Spalvų parametrai
Comment[lv]=Krāsu iestatījumi
Comment[mai]=रंग बिन्यास
Comment[mk]=Поставувања за боите
Comment[ml]=നിറങ്ങളുടെ സജ്ജീകരണങ്ങള്‍
Comment[mr]=रंग संयोजना
Comment[ms]=Seting warna
Comment[nb]=Fargeinnstillinger
Comment[nds]=Klören instellen
Comment[ne]=रङ सेटिङ
Comment[nl]=Kleuren instellen
Comment[nn]=Fargeinnstillingar
Comment[or]=ରଙ୍ଗ ସଂରଚନା
Comment[pa]=ਰੰਗ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia kolorów
Comment[pt]=Configuração das cores
Comment[pt_BR]=Configurações de cores
Comment[ro]=Configurări culoare
Comment[ru]=Настройка цветов
Comment[se]=Ivdneheivehusat
Comment[si]=වර්‍ණ සැකසුම්
Comment[sk]=Nastavenie farieb
Comment[sl]=Nastavitve barv
Comment[sr]=Поставке боја
Comment[sr@ijekavian]=Поставке боја
Comment[sr@ijekavianlatin]=Postavke boja
Comment[sr@latin]=Postavke boja
Comment[sv]=Anpassa färger
Comment[ta]=வண்ண அமைப்புகள்
Comment[te]=రంగుల అమరికలు
Comment[tg]=Танзимоти рангҳо
Comment[th]=ตั้งค่าสี
Comment[tr]=Renk ayarları
Comment[ug]=رەڭ تەڭشىكى
Comment[uk]=Налаштування кольорів
Comment[uz]=Ranglarning moslamalari
Comment[uz@cyrillic]=Рангларнинг мосламалари
Comment[vi]=Thiết lập màu
Comment[wa]=Apontiaedje des coleurs
Comment[xh]=Izicwangciso zombala
Comment[x-test]=xxColor settingsxx
Comment[zh_CN]=颜色设置
Comment[zh_TW]=顏色設定

X-KDE-Keywords=colors,colours,scheme,contrast,Widget colors,Color Scheme
X-KDE-Keywords[ca]=colors,esquema,contrast,colors d'estris,Esquema de color
X-KDE-Keywords[ia]=colores,colores,schema,contrasto,colores de Widget,Schema de Color
X-KDE-Keywords[kk]=colors,colours,scheme,contrast,Widget colors,Color Scheme
X-KDE-Keywords[nb]=farger,oppsett,kontrast,elementfarger,fargeoppsett
X-KDE-Keywords[nl]=colors,colours, kleuren,scheme,schema,contrast,Widget colors,Widgetkleuren,Color Scheme,kleurschema
X-KDE-Keywords[pt]=cores,esquema,contraste,cores dos elementos,esquema de cores
X-KDE-Keywords[pt_BR]=cores,cores,esquema,contraste,Widget,cores,Esquema de Cores
X-KDE-Keywords[sv]=färger,schema,kontrast,Komponentfärger,Färgschema
X-KDE-Keywords[uk]=кольори,кольори,схема,контраст,кольори віджетів,схема кольорів
X-KDE-Keywords[x-test]=xxcolors,colours,scheme,contrast,Widget colors,Color Schemexx
X-KDE-Keywords[zh_TW]=colors,colours,scheme,contrast,Widget colors,Color Scheme

Categories=Qt;KDE;X-KDE-settings-looknfeel;
