[Desktop Entry]
Encoding=UTF-8
Name=Settings
Name[fr]=Configuration
Name[x-test]=xxSettingsxx
Comment=Easy access to the Control Center modules
Icon=package_settings

X-KDE-Library=kickermenu_prefmenu
