[Desktop Entry]
Name=Akonadi
Comment=Akonadi PIM data engine
Comment[ca]=Motor de dades PIM de l'Akonadi
Comment[ca@valencia]=Motor de dades PIM de l'Akonadi
Comment[csb]=Czérownik pòdôwków Akonadi PIM
Comment[da]=Akonadi datamotor til PIM
Comment[de]=PIM-Datentreiber für Akonadi
Comment[et]=Akonadi PIM-i andmete mootor
Comment[is]=Akonadi gagnavél fyrir persónuupplýsingar (PIM)
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ Akonadi PIM
Comment[lv]=Akonadi PIM datu dzinējs
Comment[nb]=Akonadi PIM datamotor
Comment[nds]=De PIM-Datenkarn Akonadi
Comment[pt]=Motor de dados PIM do Akonadi
Comment[pt_BR]=Mecanismo de dados PIM do Akonadi
Comment[sl]=Podatkovni pogon za upravljanje z osebnimi podatki
Comment[sv]=Akonadi datagränssnitt för personlig information
Comment[tr]=Akonadi PIM veri motoru
Comment[uk]=Рушій даних Akonadi PIM
Comment[zh_CN]=Akonadi 个人信息管理数据引擎
Comment[zh_TW]=Akonadi PIM 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=akonadi
X-KDE-Library=plasma_engine_akonadi

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=akonadi
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

