[Desktop Entry]
Exec=kcmshell4 autostart
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/autostart/index.html

X-KDE-Library=kcm_autostart
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Autostart
Name[af]=Outomatiese begin
Name[be]=Аўтаматычны запуск
Name[bg]=Автоматично стартиране
Name[bn]=অটো-স্টার্ট
Name[br]=Emloc'h
Name[ca]=Inici automàtic
Name[cs]=Automatické spuštění
Name[cy]=Hunan-gychwyn
Name[el]=Αυτόματη εκκίνηση
Name[eo]=Aŭtomata lanĉo
Name[es]=Autoarranque
Name[fi]=Automaattikäynnistys
Name[fr]=Démarrage automatique
Name[fy]=Auto-úteinsette
Name[ga]=Tosú uathoibríoch
Name[gl]=Inicio automático
Name[gu]=આપમેળેશરૂ
Name[he]=הפעלה אוטומטית
Name[hr]=Automatsko pokretanje
Name[hu]=Automatikus indítás
Name[ja]=自動起動
Name[ka]=ავტოგაშვება
Name[km]=ចាប់ផ្ដើម​ស្វ័យប្រវត្តិ
Name[ko]=자동 시작
Name[lt]=Autostartas
Name[lv]=Autopalaišana
Name[mk]=Автостарт
Name[ms]=Automula
Name[pa]=ਆਟੋ-ਸਟਾਰਟ
Name[pl]=Automatyczne uruchomienie
Name[pt]=Arranque
Name[ru]=Автозапуск
Name[sk]=Autoštart
Name[sl]=Samodejni zagon
Name[sr]=Самопокретање
Name[sr@latin]=Samopokretanje
Name[sv]=Automatisk start
Name[tg]=Худоғозӣ
Name[th]=เริ่มอัตโนมัติ
Name[tr]=Otomatik Başlat
Name[uk]=Автозапуск
Name[uz]=Avto-boshlash
Name[uz@cyrillic]=Авто-бошлаш
Name[vi]=Tự khởi chạy
Name[x-test]=xxAutostartxx
Name[xh]=Isiqalo esizenzekelayo
Name[zh_CN]=自动启动
Name[zh_TW]=自動啟動

Comment=A configuration tool for managing which programs start up with KDE.
Comment[ca]=Una eina de configuració per a gestionar els programes que s'iniciaran amb el KDE.
Comment[da]=Et indstillingsværktøj til at håndtere hvilke programmer der starter op med KDE.
Comment[de]=Einrichtung von Programmen, die bei der Anmeldung an KDE gestartet werden sollen
Comment[el]=Ένα εργαλείο διαχείρισης των προγραμμάτων που εκκινούν με το KDE.
Comment[eo]=Agordilo por la administrado de aŭtomate lanĉitaj programo ĉe KDE-lanĉo.
Comment[es]=Una herramienta de configuración para gestionar los programas que arrancan automáticamente con KDE.
Comment[et]=Seadistustööriist programmide haldamiseks, mis käivituvad koos KDE-ga.
Comment[fi]=Työkalu KDE:n käynnistyksessä käynnistettävien ohjelmien hallintaan.
Comment[fr]=Un outil de gestion des programmes lancés au démarrage de KDE.
Comment[gl]=Unha ferramenta de configuración para xestionar cais programas se inician xunto con KDE.
Comment[gu]=KDE શરૂ થાય ત્યારે કયા કાર્યક્રમો શરૂ કરવા તેનું રૂપરેખાંકન સાધન
Comment[hu]=Beállítóeszköz a KDE-vel együtt elinduló programokhoz
Comment[ja]=KDE の起動時に開始するプログラムを設定するためのツール
Comment[km]=ឧបករណ៍​​កំណត់​រចនា​សម្ព័ន្ធ សម្រាប់​គ្រប់គ្រង​កម្មវិធី​ដែល​ចាប់ផ្ដើម​ជាមួយ​នឹង KDE ។
Comment[ko]=KDE를 시작할 때 실행될 프로그램 설정 도구입니다.
Comment[ku]=Amûreke veavakirinê ji bo rêveberiya bernameyên destpêkê bi KDE'yê re
Comment[lv]=Rīks automātiski palaižamo programmu konfigurēšanai.
Comment[nds]=En Instellwarktüüch, dat de Programmen fastleggt, de tosamen mit KDE opropen warrt
Comment[nl]=Een configuratiemodule voor het beheren van programma's die met KDE opstarten.
Comment[nn]=Eit oppsettverktøy for handtering av kva program som vert starta saman med KDE.
Comment[pa]=ਇੱਕ ਸੰਰਚਨਾ ਟੂਲ, ਜੋ ਕਿ KDE ਨਾਲ ਸ਼ੁਰੂ ਹੋਣ ਵਾਲੇ ਪਰੋਗਰਾਮ ਦੇ ਪਰਬੰਧ ਲਈ ਹੈ।
Comment[pl]=Narzędzie do zarządzania programami, które mają być uruchamiane razem z KDE.
Comment[pt]=Uma ferramenta de configuração para gerir os programas que iniciam com o KDE.
Comment[pt_BR]=Uma ferramenta de configuração para gerenciamento de quais programas iniciam com o KDE.
Comment[sl]=Orodje za upravljanje programov, ki se zaženejo skupaj z namizjem KDE.
Comment[sr]=Алатка за одређивање програма који се покрећу заједно са КДЕ‑ом.
Comment[sr@latin]=Alatka za određivanje programa koji se pokreću zajedno sa KDE‑om.
Comment[sv]=Ett inställningsverktyg för att hantera vilka program som startas tillsammans med KDE.
Comment[th]=เครื่องมือปรับแต่งสำหรับกำหนดว่าจะให้โปรแกรมใดบ้างที่เริ่มทำงานอัตโนมัติพร้อมกับ KDE
Comment[tr]=KDE oturumu açılırken başlatılacak uygulamaları yapılandırmanızı sağlayan bir araç.
Comment[uk]=Засіб налаштування для керування програмами, які будуть запускатися разом з KDE.
Comment[x-test]=xxA configuration tool for managing which programs start up with KDE.xx
Comment[zh_CN]=管理随 KDE 自动启动的程序的配置工具。
Comment[zh_TW]=管理在 KDE 啟動時要跟著啟動的程式的設定工具。

X-KDE-Keywords=Autostart Manager
X-KDE-Keywords[de]=Autostart Verwaltung
X-KDE-Keywords[es]=Administrador de inicio automático
X-KDE-Keywords[et]=Autostardi haldur
X-KDE-Keywords[ja]=自動起動マネージャ
X-KDE-Keywords[pt]=Gestor do Arranque
X-KDE-Keywords[pt_BR]=Gestor do Arranque
X-KDE-Keywords[sv]=Autostart hantering
X-KDE-Keywords[xx]=xxAutostart Managerxx
