[Desktop Entry]
Exec=krandom.kss
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
Actions=Setup;InWindow;Root;
Name=Random

[Desktop Action Setup]
Exec=krandom.kss -setup
Name=Setup...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=krandom.kss -window-id %w
Name=Display in Specified Window
NoDisplay=true

[Desktop Action Root]
Exec=krandom.kss -root
Name=Display in Root Window
NoDisplay=true
