[Desktop Entry]
Encoding=UTF-8
Comment=Fonts Folder
Comment[af]=Skrif tipe Gids
Comment[ar]=مجلد المحارف
Comment[be]=Тэчка шрыфтоў
Comment[bg]=Директория за шрифтове
Comment[br]=Renkell ar fontoù
Comment[ca]=Carpeta de fonts
Comment[cs]=Složka písem
Comment[csb]=Katalog fòntów
Comment[da]=Skrifttypemappe
Comment[de]=Ordner für Schriftarten
Comment[el]=Φάκελος γραμματοσειρών
Comment[eo]=Tipardosierujo
Comment[es]=Carpeta de fuentes
Comment[et]=Fontide kataloog
Comment[eu]=Letra-tipoen karpeta
Comment[fa]=پوشۀ قلم
Comment[fi]=Kirjasinkansio
Comment[fr]=Dossier de polices de caractères
Comment[fy]=Lettertypenmap
Comment[ga]=Fillteán na gClónna
Comment[gl]=Cartafol das Fontes
Comment[he]=תיקיית גופנים
Comment[hr]=Mapa fontova
Comment[hu]=Betűtípuskönyvtár
Comment[is]=Leturmappa
Comment[it]=Cartella dei caratteri
Comment[ja]=フォントフォルダ
Comment[ka]=ფონტების საქაღალდე
Comment[kk]=Қаріп қапшығы
Comment[km]=ថត​ពុម្ពអក្សរ
Comment[lt]=Šriftų aplankas
Comment[lv]=Fontu mape
Comment[mk]=Папка со фонтови
Comment[ms]=Folder Fon
Comment[nb]=Mappe for skrifttyper
Comment[nds]=Schriftoorden-Orner
Comment[ne]=फन्ट फोल्डर
Comment[nl]=Lettertypenmap
Comment[nn]=Skriftmappe
Comment[pa]=ਫੋਂਟ ਫੋਲਡਰ
Comment[pl]=Katalog czcionek
Comment[pt]=Pasta de Tipos de Letra
Comment[pt_BR]=Pasta de Fontes
Comment[ro]=Folder de fonturi
Comment[ru]=Папка шрифтов
Comment[se]=Fontamáhppa
Comment[sl]=Mapa za pisave
Comment[sr]=Фасцикла за фонтове
Comment[sr@Latn]=Fascikla za fontove
Comment[sv]=Teckensnittskatalog
Comment[ta]=எழுத்துருக்கள் அடைவு
Comment[tg]=Феҳристи ҳарфҳо
Comment[tr]=Yazıtipi Klasörü
Comment[uk]=Тека шрифтів
Comment[uz]=Шрифтларнинг жилди
Comment[x-test]=xxFonts Folderxx
Comment[zh_TW]=字型資料夾
Icon=folder
Type=MimeType
MimeType=fonts/folder
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

