[Desktop Entry]
Encoding=UTF-8
Comment=System Fonts Folder
Comment[af]=Stelsel Skrif tipe Gids
Comment[ar]=مجلد محارف النظام
Comment[be]=Тэчка сістэмных шрыфтоў
Comment[bg]=Директория за системните шрифтове
Comment[br]=Renkell fontoù ar reizhiad
Comment[ca]=Carpeta de fonts del sistema
Comment[cs]=Složka se systémovými písmy
Comment[csb]=Katalog systemòwëch fòntów
Comment[da]=Mappe til systemets skrifttyper
Comment[de]=Ordner für Systemschriften
Comment[el]=Φάκελος γραμματοσειρών συστήματος
Comment[eo]=Sistema tipardosierujo
Comment[es]=Carpeta de fuentes del sistema
Comment[et]=Süsteemi fontide kataloog
Comment[eu]=Sistemaren letra-tipoen karpeta
Comment[fa]=پوشۀ قلمهای سیستم
Comment[fi]=Järjestelmän kirjasinkansio
Comment[fr]=Dossier système de polices de caractères
Comment[fy]=Systeemlettertypenmap
Comment[ga]=Fillteán Clónna an Chórais
Comment[gl]=Cartafol das Fontes do Sistema
Comment[he]=תיקיית גופני מערכת
Comment[hr]=Mapa sistemskih fontova
Comment[hu]=A rendszer betűtípusainak könyvtára
Comment[is]=Kerfisleturmappa
Comment[it]=Cartella dei caratteri di sistema
Comment[ja]=システムフォントフォルダ
Comment[ka]=სისტემური ფონტების საქაღალდე
Comment[kk]=Жүйелік қаріптер қапшығы
Comment[km]=ថត​ពុម្ពអក្សរ​ប្រព័ន្ធ
Comment[lt]=Sistemos šriftų aplankas
Comment[lv]=Sistēmas fontu mape
Comment[mk]=Папка со системски фонтови
Comment[ms]=Folder Fon Sistem
Comment[nb]=Mappe for systemskrifttyper
Comment[nds]=Orner för de Systeemschriftoorden
Comment[ne]=फन्ट फोल्डर प्रणाली
Comment[nl]=Systeemlettertypenmap
Comment[nn]=Systemskriftmappe
Comment[pa]=ਸਿਸਟਮ ਫੋਂਟ ਫੋਲਡਰ
Comment[pl]=Katalog czcionek systemowych
Comment[pt]=Pasta de Tipos de Letra do Sistema
Comment[pt_BR]=Pasta de Fontes do Sistema
Comment[ro]=Folder fonturi de sistem
Comment[ru]=Папка системных шрифтов
Comment[se]=Vuogádatfontamáhppa
Comment[sl]=Mapa za sistemske pisave
Comment[sr]=Фасцикла за системске фонтове
Comment[sr@Latn]=Fascikla za sistemske fontove
Comment[sv]=Systemteckensnittskatalog
Comment[ta]=அமைப்பு எழுத்துருக்கள் அடைவு
Comment[tg]=Системаи феҳристи ҳарфҳо
Comment[tr]=Sistem Yazı Tipi Klasörü
Comment[uk]=Тека системних шрифтів
Comment[uz]=Тизим шрифтларининг жилди
Comment[x-test]=xxSystem Fonts Folderxx
Comment[zh_TW]=系統字型資料夾
Icon=folder_red
Type=MimeType
MimeType=fonts/system-folder
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

