[Desktop Entry]
Exec=kcmshell LookNFeel/screensaver
Icon=screensaver
Type=Application
DocPath=kcontrol/screensaver.html

X-KDE-ModuleType=Library
X-KDE-Library=screensaver
X-KDE-FactoryName=screensaver

Name=Screensaver
Name[ca]=Salvapantalles
Name[cs]=Šetřič obrazovky
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[el]=Προστασία Οθόνης
Name[eo]=Ekrankurteno
Name[es]=Salvapantalla
Name[et]=Ekraanisäästja
Name[fi]=Ruudunsäästäjä
Name[fr]=Écran de veille
Name[he]=ךסמ רמוש
Name[hr]=Zaštita zaslona (screensaver)
Name[hu]=Képernyővédő
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[mk]=Затишја
Name[nl]=Schermbeveiliging
Name[no]=Skjermsparer
Name[no_NY]=Skjermsparar
Name[pl]=Wygaszacz ekranu
Name[pt]=Protectores de ecrã
Name[pt_BR]=Protetores de tela
Name[ro]=Protecţie ecran
Name[ru]=Хранитель экрана
Name[sk]=Šetrič obrazovky
Name[sl]=Ohranjevalnik zaslona
Name[sr]=Skrin-sejver
Name[sv]=Skärmsläckare
Name[ta]=திைரகாபஂபகமஂ
Name[tr]=Ekran Koruyucu
Name[uk]=Зберігач екрану
Name[zh_CN.GB2312]=屏幕保护程序

Comment=Screensaver settings
Comment[ca]=Arranjament del salvapantalles
Comment[cs]=Nastavení šetřiče obrazovky
Comment[da]=Indstil pauseskærme
Comment[de]=Einrichtung des Bildschirmschoners
Comment[el]=Ρυθμίσεις Προστασίας Οθόνης
Comment[eo]=Agordo de la ekrankurteno
Comment[es]=Configuración del salvapantalla
Comment[et]=Ekraanisäästja seadistused
Comment[fi]=Ruudunsäästäjän asetukset
Comment[fr]=Configuration de l'écran de veille
Comment[he]=ךסמ רמוש תורדגה
Comment[hr]=Postavke zaštite zaslona (screensaver)
Comment[hu]=A képernyővédő beállításai
Comment[it]=Impostazioni del salvaschermo
Comment[ja]=スクリーンセーバーの設定
Comment[mk]=Поставки на затишја
Comment[nl]=Instellingen voor de schermbeveiliging
Comment[no]=Skjermsparer-oppsett
Comment[no_NY]=Skjermsparar-innstillingar
Comment[pl]=Ustawienia wygaszacza ekranu
Comment[pt]=Configuração dos protectores de ecrã
Comment[pt_BR]=Preferências dos protetores de tela
Comment[ro]=Configurează protecţia de ecran
Comment[ru]=Настройки хранителя экрана
Comment[sk]=Nastavenie šetriča obrazovky
Comment[sl]=Nastavitve za ohranjevalnik zaslona
Comment[sr]=Podešavanja screensaver-a
Comment[sv]=Inställningar för skärmsläckare
Comment[ta]=திைரகாபஂபக அைமபஂபுகளஂ
Comment[tr]=Ekran koruyucu ayarları
Comment[uk]=Настройки зберігачу екрану
Comment[zh_CN.GB2312]=屏幕保护程序设置


Keywords=screensavers
Keywords[ca]=Salvapantalles
Keywords[cs]=Šetřiče obrazovky
Keywords[de]=Bildschirmschoner
Keywords[el]=προγράμματα προστασίας οθόνης
Keywords[eo]=ekrano,kurteno
Keywords[es]=Salvapantallas
Keywords[et]=ekraanisäästjad
Keywords[fi]=ruudunsäästäjät
Keywords[fr]=écrans de veille
Keywords[he]=ךסמ ירמוש
Keywords[hr]=Zaštita zaslona (screensaver),screensavers
Keywords[hu]=képernyővédők
Keywords[it]=salvaschermo,salvaschermi
Keywords[ja]=スクリーンセーバー
Keywords[mk]=затишја,штедење на екран
Keywords[nl]=screensavers,schermbeveiliging
Keywords[no]=skjermsparere
Keywords[no_NY]=Skjermsparar
Keywords[pl]=wygaszacze ekranu
Keywords[pt]=protectores de ecrã
Keywords[pt_BR]=protetores de tela
Keywords[ro]=protecţie ecran
Keywords[sk]=Šetriče obrazovky
Keywords[sl]=ohranjevalniki zaslona
Keywords[sv]=skärmsläckare
Keywords[ta]=திைரகாபஂபகஙஂகளஂ
Keywords[tr]=ekran koruyucular
Keywords[uk]=зберігачі екрану
Keywords[zh_CN.GB2312]=屏幕保护程序
