[Desktop Entry]
Exec=kcmshell4 screensaver
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/screensaver/index.html

X-KDE-Library=kcm_screensaver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

Name=Screen Saver
Name[af]=Skerm Bewaarder
Name[ar]=حافظة الشاشة
Name[ast]=Curiapantalles
Name[be]=Зберагальнік экрана
Name[be@latin]=Achoŭnik ekrana
Name[bg]=Екранен предпазител
Name[bn]=স্ক্রীন সেভার
Name[bn_IN]=স্ক্রিন-সেভার
Name[br]=Damanter Skramm
Name[bs]=Čuvar ekrana
Name[ca]=Estalvi de pantalla
Name[ca@valencia]=Estalvi de pantalla
Name[cs]=Šetřič obrazovky
Name[csb]=Wëgaszôcz ekranu
Name[cy]=Arbedydd Sgrîn
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[el]=Προφύλαξη οθόνης
Name[en_GB]=Screen Saver
Name[eo]=Ekrankurteno
Name[es]=Salvapantallas
Name[et]=Ekraanisäästja
Name[eu]=Pantaila babeslea
Name[fa]=محافظ صفحه نمایش
Name[fi]=Näytönsäästäjä
Name[fr]=Écran de veille
Name[fy]=Skermbefeiliging
Name[ga]=Spárálaí Scáileáin
Name[gl]=Protector de pantalla
Name[gu]=સ્ક્રિન સેવર
Name[he]=שומר מסך
Name[hi]=स्क्रीन सेवर
Name[hne]=स्क्रीन सेवर
Name[hr]=Zaštita zaslona
Name[hsb]=Škitak za wobrazowku
Name[hu]=Képernyővédők
Name[ia]=Salvator de schermo
Name[id]=Penyimpan Layar
Name[is]=Skjásvæfa
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[ka]=Screen Saver
Name[kk]=Экран сақтаушысы
Name[km]=ធាតុ​រក្សា​អេក្រង់​
Name[kn]=ತೆರೆ ರಕ್ಷಕ
Name[ko]=화면 보호기
Name[ku]=Dîmenderparêz
Name[lt]=Ekrano užsklanda
Name[lv]=Ekrāna saudzētāji
Name[mai]=स्क्रीन सेवर
Name[mk]=Екрански чувар
Name[ml]=സ്ക്രീന്‍ സേവര്‍
Name[mr]=स्क्रीन सेवर
Name[ms]=Screen Saver
Name[nb]=Pauseskjerm
Name[nds]=Pausschirm
Name[ne]=स्क्रिनसेभर
Name[nl]=Schermbeveiliging
Name[nn]=Pause­skjerm
Name[or]=ପରଦା ସଂରକ୍ଷକ
Name[pa]=ਸਕਰੀਨ-ਸੇਵਰ
Name[pl]=Wygaszacz ekranu
Name[pt]=Protector de Ecrã
Name[pt_BR]=Protetor de tela
Name[ro]=Protecție de ecran
Name[ru]=Хранитель экрана
Name[se]=Šearbmasiestejeaddji
Name[si]=තිර සුරැකුම
Name[sk]=Šetrič obrazovky
Name[sl]=Ohranjevalnik zaslona
Name[sr]=Чувар екрана
Name[sr@ijekavian]=Чувар екрана
Name[sr@ijekavianlatin]=Čuvar ekrana
Name[sr@latin]=Čuvar ekrana
Name[sv]=Skärmsläckare
Name[ta]=திரைக் காப்பு
Name[te]=స్క్రీన్ సేవర్
Name[tg]=Пардаи экран
Name[th]=โปรแกรมรักษาหน้าจอ
Name[tr]=Ekran Koruyucu
Name[ug]=ئېكران قوغدىغۇچ
Name[uk]=Зберігач екрана
Name[uz]=Ekran saqlovchisi
Name[uz@cyrillic]=Экран сақловчиси
Name[vi]=Bảo vệ Màn hình
Name[wa]=Sipårgneu di waitroûle
Name[xh]=Umgcini Wekhusi
Name[x-test]=xxScreen Saverxx
Name[zh_CN]=屏幕保护程序
Name[zh_TW]=螢幕保護程式

Comment=Screen Saver Settings
Comment[af]=Skerm Bewaarder Instellings
Comment[ar]=إعدادات حافظة الشاشة
Comment[ast]=Preferencies del curiapantalles
Comment[be]=Настаўленні зберагальніка экрана
Comment[be@latin]=Nałady achoŭnika ekrana
Comment[bg]=Настройки на предпазителя на екрана
Comment[bn]=স্ক্রীন সেভার সেটিংস
Comment[bn_IN]=স্ক্রিন-সেভার সংক্রান্ত বৈশিষ্ট্য
Comment[br]=Kefluniadur an Damanter Skramm
Comment[bs]=Postavke čuvara ekrana
Comment[ca]=Arranjament de l'estalvi de pantalla
Comment[ca@valencia]=Arranjament de l'estalvi de pantalla
Comment[cs]=Nastavení šetřiče obrazovky
Comment[csb]=Nastôw wëgaszôcza ekranu
Comment[cy]=Gosodiadau Arbedydd Sgrîn
Comment[da]=Indstillinger for pauseskærm
Comment[de]=Einstellungen für Bildschirmschoner
Comment[el]=Ρυθμίσεις προφύλαξης οθόνης
Comment[en_GB]=Screen Saver Settings
Comment[eo]=Agordo de la ekrankurteno
Comment[es]=Preferencias del salvapantallas
Comment[et]=Ekraanisäästja seadistused
Comment[eu]=Pantaila babeslearen ezarpenak
Comment[fa]=تنظیمات محافظ صفحه نمایش
Comment[fi]=Näytönsäästäjän asetukset
Comment[fr]=Configuration de l'écran de veille
Comment[fy]=Skermbefeiliging ynstelle
Comment[ga]=Socruithe na Spárálaithe Scáileáin
Comment[gl]=Configuración do protector de pantalla
Comment[gu]=સ્ક્રિન સેવર ગોઠવણીઓ
Comment[he]=הגדרות שומר המסך
Comment[hi]=स्क्रीन सेवर विन्यास
Comment[hne]=स्क्रीन सेवर सेटिंग
Comment[hr]=Postavke zaštite zaslona
Comment[hsb]=Nastajenja za škitaki
Comment[hu]=A képernyővédő beállításai
Comment[ia]=Preferentias del salvator de schermo
Comment[id]=Pengaturan Penyimpan Layar
Comment[is]=Stillingar skjásvæfu
Comment[it]=Impostazioni del salvaschermo
Comment[ja]=スクリーンセーバーの設定
Comment[ka]=Screen Saver-ის კონფიგურაცია
Comment[kk]=Экран сақтаушысының параметрлері
Comment[km]=ការ​កំណត់​ធាតុ​រក្សា​អេក្រង់​
Comment[kn]=ತೆರೆ ರಕ್ಷಕದ ಸಂಯೋಜನೆಗಳು
Comment[ko]=화면 보호기 설정
Comment[ku]=Mîhengên Dîmenderparêz
Comment[lt]=Ekrano užsklandos nustatymai
Comment[lv]=Ekrāna saudzētāju parametri
Comment[mai]=स्क्रीन सेवर बिन्यास
Comment[mk]=Поставувања на екранскиот чувар
Comment[ml]=സ്ക്രീന്‍ സേവര്‍ സജ്ജീകരണങ്ങള്‍
Comment[mr]=स्क्रीन सेवर संयोजना
Comment[ms]=Seting Screen Saver
Comment[nb]=Tilpasning av pauseskjerm
Comment[nds]=Instellen för den Pausschirm
Comment[ne]=स्क्रिनसेभर सेटिङ
Comment[nl]=Schermbeveiliging instellen
Comment[nn]=Innstillingar for pauseskjerm
Comment[or]=ପରଦା ସଂରକ୍ଷକ ବିନ୍ୟାସ
Comment[pa]=ਸਕਰੀਨ-ਸੇਵਰ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia wygaszacza ekranu
Comment[pt]=Configuração do Protector de Ecrã
Comment[pt_BR]=Configurações do protetor de tela
Comment[ro]=Setările pentru protecția de ecran
Comment[ru]=Настройка хранителя экрана
Comment[se]=Šearbmasiestejeaddji heivehusat
Comment[si]=තිර සුරැකුම් සැකසුම්
Comment[sk]=Nastavenie šetriča obrazovky
Comment[sl]=Nastavitve za ohranjevalnik zaslona
Comment[sr]=Поставке чувара екрана
Comment[sr@ijekavian]=Поставке чувара екрана
Comment[sr@ijekavianlatin]=Postavke čuvara ekrana
Comment[sr@latin]=Postavke čuvara ekrana
Comment[sv]=Anpassa skärmsläckare
Comment[ta]=திரை காப்பு அமைப்புகள்
Comment[te]=స్క్రీన్ సేవర్ అమరికలు
Comment[tg]=Танзимоти пардаи экран
Comment[th]=ตั้งค่าโปรแกรมรักษาหน้าจอ
Comment[tr]=Ekran Koruyucu Ayarları
Comment[ug]=ئېكران قوغداش پروگرامما تەڭشەك
Comment[uk]=Налаштування зберігача екрана
Comment[uz]=Ekran saqlovchisining moslamalari
Comment[uz@cyrillic]=Экран сақловчисининг мосламалари
Comment[vi]=Thiết lập Trình bảo vệ Màn hình
Comment[wa]=Apontiaedjes do spårgneu di waitroûle
Comment[xh]=Izicwangciso Zomgcini Wekhusi
Comment[x-test]=xxScreen Saver Settingsxx
Comment[zh_CN]=屏幕保护程序设置
Comment[zh_TW]=螢幕保護程式設定


X-KDE-Keywords=screensavers,Priority
X-KDE-Keywords[cs]=spořiče obrazovky,priorita
X-KDE-Keywords[ia]=salvatores de schermo,Prioritate
X-KDE-Keywords[kk]=screensavers,Priority
X-KDE-Keywords[nl]=schermbeveiliging,prioriteit
X-KDE-Keywords[pt]=protector de ecrã,prioridade
X-KDE-Keywords[pt_BR]=protetor de tela,Prioridade
X-KDE-Keywords[ro]=protecție de ecran,prioritate
X-KDE-Keywords[sv]=skärmsläckare,Prioritet
X-KDE-Keywords[uk]=screensavers,Priority,зберігач,екран,пріоритет
X-KDE-Keywords[x-test]=xxscreensavers,Priorityxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;
