[Desktop Entry]
Name=Window List

Comment=Plasmoid to show list of opened windows.

Icon=preferences-system-windows
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_windowlist
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=windowlist
X-KDE-PluginInfo-Version=3.1
X-KDE-PluginInfo-Website=http://emdek.cba.pl/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
