[Desktop Entry]
Name=Calculator
Comment=Calculate expressions
Comment[ar]=تعابير الحاسبة
Comment[bg]=Калкулатор
Comment[ca]=Calcula expressions
Comment[cs]=Výpočet vzorců
Comment[csb]=Przeprowôdzanié rechòwaniô
Comment[da]=Beregn udtryk
Comment[de]=Berechnungen durchführen
Comment[el]=Υπολογισμός εκφράσεων
Comment[eo]=Kalkuli esprimojn
Comment[es]=Calcular expresiones
Comment[et]=Avaldiste arvutamine
Comment[eu]=Kalkulatu espresioak
Comment[fa]=محاسبه عبارات
Comment[fi]=Suorittaa laskutoimituksia
Comment[fr]=Calcule des expressions
Comment[fy]=Utdrukkings berekkenje
Comment[ga]=Áirigh sloinn
Comment[gl]=Calcula expresións
Comment[gu]=સૂત્રોની ગણતરી કરો
Comment[he]=חישוב ביטויים
Comment[hi]=एक्सप्रेशन्स गणना करें
Comment[hu]=Kifejezéseket kezelni tudó számológép
Comment[is]=Reikna segðir
Comment[it]=Calcola espressione
Comment[ja]=数式を計算します
Comment[kk]=Өрнектерді есептеу
Comment[km]=គណនា​កន្សោម​​
Comment[ko]=수식 계산기
Comment[lv]=Rēķina izteiksmes
Comment[nb]=Beregn uttrykk
Comment[nds]=Utdrück utreken
Comment[ne]=अभिव्यक्ति गणना गर्नुहोस्
Comment[nl]=Expressies berekenen
Comment[nn]=Rekn ut mattestykke
Comment[pa]=ਸਮੀਕਰਨ ਕੱਢੋ
Comment[pl]=Obliczenie wartości wyrażenia
Comment[pt]=Calcular expressões
Comment[pt_BR]=Calcular expressões
Comment[ro]=Calculează expresii
Comment[se]=Rehkenastte mattebihtáid
Comment[sl]=Izračunaj izraze
Comment[sr]=Рачунајте изразе
Comment[sr@latin]=Računajte izraze
Comment[sv]=Beräkna uttryck
Comment[th]=คำนวณนิพจน์
Comment[tr]=İfadeleri hesapla
Comment[uk]=Підрахувати вирази
Comment[vi]=Tính biểu thức
Comment[wa]=Carcule des espressions
Comment[x-test]=xxCalculate expressionsxx
Comment[zh_CN]=计算表达式
Comment[zh_TW]=計算機表示式
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_calculatorrunner
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
