[Desktop Entry]
Icon=kcmkicker
Type=Application
DocPath=kcontrol/kcmkicker/kicker-1.html
Exec=kcmshell LookNFeel/Panel/panel

X-KDE-ModuleType=Library
X-KDE-Library=kicker
X-KDE-FactoryName=kicker

Name=Panel
Name[ca]=Plafó
Name[de]=Kontrollleiste
Name[eo]=Panelo
Name[et]=Paneel
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[he]=םימושייה חול
Name[hr]=Ploča
Name[is]=Spjald
Name[it]=Pannello
Name[ja]=パネル
Name[mk]=Панел
Name[nl]=Paneel
Name[pt]=Painel
Name[ro]=Panou
Name[ru]=Панель
Name[sl]=Pult
Name[sv]=Panelen
Name[ta]=பலகமஂ
Name[uk]=Панель

Comment=You can configure the appearance of the panel here
Comment[ca]=Aquí podeu configurar l'aspecte del plafó
Comment[cs]=Zde je možné nastavit vzhled panelu
Comment[da]=Man kan indstille panelets udseende her
Comment[de]=Hier können Sie die Kontrollleiste einrichten
Comment[eo]=Agordo de la la panelo
Comment[es]=Aquí puede configurar la apariencia del panel
Comment[et]=Paneeli väljanägemise konfigureerimine
Comment[fi]=Muokkaa paneelin ulkonäköä
Comment[fr]=Configuration de l'apparence du tableau de bord
Comment[he]=םימושייה חול לש הארמה תורדגה
Comment[hr]=Program za mijenjanje izgleda ploče
Comment[hu]=Itt lehet beállítani a panel tulajdonságait
Comment[is]=Stilla viðmót spjaldsins
Comment[it]=Qui puoi configurare l'aspetto del pannello
Comment[ja]=ここでパネルの外観を設定します
Comment[mk]=Конфигурирање на изгледот на панелот
Comment[nl]=U kunt hier het voorkomen van het paneel instellen
Comment[no]=Her kan du konfigurere utseende til panelet
Comment[no_NY]=Her kan du setja opp utsjånaden til panelet
Comment[pl]=Konfiguracja panelu
Comment[pt]=Configuração do painel
Comment[ro]=Configurează panoul KDE
Comment[ru]=Здесь вы можете настроить панель
Comment[sl]=Tu lahko nastavite videz pulta
Comment[sr]=Konfiguracija panela
Comment[sv]=Här kan du anpassa panelens utseende
Comment[ta]=நீஙகளஂ பலக஡ஂதினஂ ேதாறஂற஡ஂைத இஙஂேக பைடகஂகலாமஂ
Comment[tr]=Panelin görünümünü buradan yapılandırabilirsiniz
Comment[uk]=Тут Ви можете настроїти вигляд панелі

Keywords=kicker,panel,kpanel,taskbar,startbar,launchbar
Keywords[ca]=kicker,plafó,kpanel,barra de tasques,barra d'inici,barra d'engegar
Keywords[cs]=kicker,Panel,kpanel,Pruh úloh,Startovací lišta,Spouštěcí lišta
Keywords[da]=kicker,panel,kpanel,opgavebjælke,startbjælke,kørebjælke
Keywords[de]=Kicker,Kontrollleiste,Panel,Kpanel,Taskbar,Startleiste
Keywords[eo]=lanĉilo,panelo,KPanelo,tasklistelo,lanĉlistelo
Keywords[et]=kicker,paneel,kpanel,tegumiriba,käivitusriba
Keywords[fi]=kicker,paneeli,kpanel
Keywords[fr]=kicker,tableau de bord,kpanel,barre des tâches,barre de démarrage,barre de lancement
Keywords[he]=הצרה תרוש,לחתה תרוש,תומישמ תרוש,KPanel,חול,Kicker
Keywords[hr]=kicker,panel,kpanel,taskbar,startbar,launchbar,ploča
Keywords[hu]=kicker,panel,kpanel,indítómenü,tálca
Keywords[is]=spjald
Keywords[it]=kicker,pannello,kpanel,barra dei task,barra di avvio
Keywords[ja]=kicker,パネル,kpanel,タスクバー,スタートバー,ラウンチャー
Keywords[mk]=kicker,панел,panel,kpanel,taskbar
Keywords[nl]=kicker,panel,paneel,kpanel,takenbalk,startbalk,launchbar,startmenu
Keywords[no_NY]=kicker,panel,kpanel,oppgåvelinje,startlinje,programlinje
Keywords[pl]=kicker,panel,kpanel,pasek zadań,pasek startu,uruchamianie
Keywords[pt]=kicker,painel,kpanel,barra de tarefas
Keywords[ro]=kicker,panel,panou,kpanel,procese,start,lansare,startare
Keywords[sl]=kicker,panel,kpanel,opravilna vrstica,začetna vrstica,izstrelišče
Keywords[ta]=பலகமஂ,kபலகமஂ,பணிபடஂைட,ெதாடகஂகபடஂைட
Keywords[tr]=kicker,panel,kpanel,görev çubuğu,başlangıç çubuğu,yükleme çubuğu
Keywords[uk]=kicker,панель,панель настройок,kpanel,смужка задач,панель запуску
