[Desktop Entry]
Exec=khotkeys
Name=KHotKeys
Name[af]=KDE Kortpad Sleutels
Name[ar]=اختصارات كدي
Name[be]=KHotKeys
Name[be@latin]=KHotKeys
Name[bg]=Горещи клавиши
Name[bn]=KHotKeys
Name[bn_IN]=KHotKeys
Name[br]=KHotKeys
Name[ca]=KHotKeys
Name[ca@valencia]=KHotKeys
Name[cs]=Horké klávesy KDE
Name[csb]=Skrodzënë ë gestë
Name[cy]=BysellauBrysKDE
Name[da]=KHotKeys
Name[de]=KHotKeys
Name[el]=KHotKeys
Name[en_GB]=KHotKeys
Name[eo]=Klavkombinoj
Name[es]=Teclas rápidas de KDE
Name[et]=KDE kiirklahvid
Name[eu]=KHotKeys
Name[fi]=Pikanäppäimet
Name[fr]=KHotKeys
Name[fy]=KHotKeys
Name[ga]=KHotKeys
Name[gl]=KHotKeys
Name[gu]=KHotKeys
Name[he]=KHotKeys
Name[hi]=के-हॉट-कीज़
Name[hne]=के-हाट-कीज
Name[hr]=KHotKeys
Name[hsb]=KHotKeys
Name[hu]=Parancsbeállító (KHotKeys)
Name[id]=KHotKeys
Name[is]=Flýtilyklar KDE
Name[it]=KHotKeys
Name[ja]=KHotKeys
Name[ka]=KHotKeys
Name[kk]=KHotKeys
Name[km]=KHotKeys
Name[kn]=ಕೆ ಹಾಟ್ ಕೀಸ್
Name[ko]=KHotKeys
Name[ku]=KHotKeys
Name[lt]=KDE klavišų kombinacijos
Name[lv]=KHotKeys
Name[mai]=के-हाट-कीज
Name[mk]=KDE брзи копчиња
Name[ml]=കെഹോട്കീസ്
Name[mr]=केहॉटकीज
Name[ms]=KHotKeys
Name[nb]=KDE-hurtigtaster
Name[nds]=KHotKeys
Name[ne]=केडीई हट कुञ्जी
Name[nl]=KHotKeys
Name[nn]=KDE-snøggtastar
Name[oc]=KHotKeys
Name[pa]=ਕੇ-ਹਾਟਕੀ
Name[pl]=Skróty i gesty
Name[pt]=KHotKeys
Name[pt_BR]=KHotKeys
Name[ro]=Taste rapide
Name[ru]=Клавиши быстрого доступа
Name[se]=KDE-jođánisboalut
Name[si]=KHotKeys
Name[sk]=KHotKeys
Name[sl]=KHotKeys
Name[sr]=К‑пречице
Name[sr@ijekavian]=К‑пречице
Name[sr@ijekavianlatin]=K‑prečice
Name[sr@latin]=K‑prečice
Name[sv]=Khotkeys
Name[ta]=Kஹாட்கீஸ்
Name[te]=కెహాట్ కీలు
Name[tg]=KHotKeys
Name[th]=ปุ่มพิมพ์ลัดของ KDE
Name[tr]=KHotKeys
Name[uk]=Швидкі клавіші KDE
Name[uz]=KHotKeys
Name[uz@cyrillic]=KHotKeys
Name[vi]=Phím nóng KDE
Name[wa]=KTchôdèsTapes
Name[x-test]=xxKHotKeysxx
Name[zh_CN]=KHotKeys
Name[zh_TW]=KDE 熱鍵
Comment=KHotKeys daemon. No daemon, no hotkeys.
Comment[ar]=مراقب اختصارات كيدي . لا مراقب لا اختصارات
Comment[be@latin]=Słužba skarotaŭ „KHotKeys”.
Comment[bg]=Демон KHotKeys. Няма демон - няма клавиши.
Comment[ca]=Dimoni KHotKeys. Sense dimoni, no hi ha dreceres de teclat.
Comment[ca@valencia]=Dimoni KHotKeys. Sense dimoni, no hi ha dreceres de teclat.
Comment[cs]=Démon KHotKeys, bez něhož vám speciální klávesy nebudou fungovat.
Comment[csb]=Ùsłëżnota skrodzënów ë gestów. Bez ni felëją klawiszowé skrodzënë.
Comment[da]=KHotKeys-dæmon. Ingen dæmon, ingen hotkeys.
Comment[de]=KHotKeys-Dienst. Ohne diesen Dienst stehen keine Tastenkombinationen zur Verfügung.
Comment[el]=Δαίμονας KHotKeys.
Comment[en_GB]=KHotKeys dæmon. No dæmon, no hotkeys.
Comment[eo]=KHotKeys demono. Neniu demono, neniu klavkomandoj
Comment[es]=Demonio de KHotKeys. Sin demonio no hay teclas de acceso directo
Comment[et]=KDE kiirklahvide deemon. Pole deemonit, pole ka kiirklahve.
Comment[eu]=KHotKeys deabrua. Deabrurik ez, teka lasterbiderik ez.
Comment[fr]=Démon KHotKeys. Pas de démon, pas de raccourcis clavier.
Comment[fy]=KHotKeys daemon. Gjin daemon, gjin fluchtoetsen.
Comment[ga]=Deamhan KHotKeys. Gan deamhan, gan aicearraí.
Comment[gl]=Daemon KHotKey. Se non funciona o daemon, non hai hotkeys.
Comment[gu]=KHotKeys ડેમન. કોઇ ડેમન નથી, કોઇ હોટકી નથી.
Comment[he]=שירותית KHotKeys. אין שירותית, אין מקשי קיצור.
Comment[hi]=के-हॉट-कीज डेमन. कोई डेमन नहीं, कोई हॉट-कीज नहीं.
Comment[hne]=केहाटकीज डेमन. डेमन नइ, हाटकी नइ.
Comment[hr]=KHotKeys daemon. Nema daemona, nema vrućih tipaka.
Comment[hsb]=KHotKeys daemon. Žadyn demon, žane tastaturowe definicije.
Comment[hu]=KHotKeys szolgáltatás - ha nem fut, nem használhatók billentyűparancsok
Comment[id]=Jurik KhotKeys. Tak ada jurik, tak ada tombol panas.
Comment[is]=KHotKeys púkinn. Enginn púki, engir flýtilyklar.
Comment[it]=Demone KHotKeys. Niente demone, niente scorciatoie da tastiera.
Comment[ja]=KHotKeys デーモン。デーモンなしではホットキーは動きません。
Comment[kk]=KHotKeys қызметі. Бұл қызметсіз перне тіркесімідері де жоқ.
Comment[km]=ដេមិន KHotKeys ។ គ្មាន​ដេមិន គ្មាន​ hotkeys ។
Comment[kn]=KHotKeys ನೇಪಥಿಕ (ಡೀಮನ್). ಯಾವುದೇ ನೇಪಥಿಕವಿಲ್ಲ, ಯಾವುದೇ ಹಾಟ್ ಕೀಸ್ ಸಹ ಇಲ್ಲ.
Comment[ko]=KHotKeys 데몬. 데몬이 없으면 단축키도 없습니다.
Comment[lt]=KHotKeys tarnyba. Nėra tarnybos, nėra karštųjų klavišų.
Comment[lv]=KHotKeys dēmons. Nav dēmona, nav karsto taustiņu.
Comment[ml]=കെഹോട്കീസ് ഡീമണ്‍ (നിരന്തരപ്രവര്‍ത്തി). നിരന്തരപ്രവര്‍ത്തി ഇല്ലെങ്കില്‍ ഹോട്കീസ്(ചുരുക്ക-കീകള്‍) ഇല്ല.
Comment[nb]=KHotkeys-nisse. Ingen nisse, ingen snarveier.
Comment[nds]=KHotKeys-Dämoon. Keen Dämoon, keen Ingaavakschonen.
Comment[nl]=KHotkeys-daemon - beheert de sneltoetsen voor KDE.
Comment[nn]=KDE-snøggtastteneste. Utan denne tenesta, ingen snøggtastar.
Comment[pl]=Demon KHotKeys. Nie ma demona, nie ma skrótów.
Comment[pt]=Servidor do KHotKeys. Sem servidor, não existem teclas especiais.
Comment[pt_BR]=Daemon KHotKeys. Sem daemon, sem teclas de atalho.
Comment[ro]=Demon KHotKeys. Nu e demon, nu-s taste rapide.
Comment[ru]=Поддержка запуска глобальных действий по нажатию комбинаций клавиш
Comment[si]=KHotKeys ඩීමනය, ඩීමන නොමැත, hotkey නොමැත
Comment[sk]=Démon KHotKeys. Žiadny démon, žiadne klávesové skratky.
Comment[sl]=Pritajeni program KHotKeys za hitre tipke.
Comment[sr]=Демон К‑пречица. Без демона, нема врућих тастера.
Comment[sr@ijekavian]=Демон К‑пречица. Без демона, нема врућих тастера.
Comment[sr@ijekavianlatin]=Demon K‑prečica. Bez demona, nema vrućih tastera.
Comment[sr@latin]=Demon K‑prečica. Bez demona, nema vrućih tastera.
Comment[sv]=Demon för Khotkeys. Utan demon inga snabbtangenter.
Comment[ta]=KHotKeys daemon. No daemon, no hotkeys.
Comment[te]=KHotKeys డెమోన్. డెమోన్ లేదు, హాట్‌కీలు లేవు.
Comment[tg]=Запускать демон khotkeys при входе
Comment[th]=ดีมอนของ KHotKeys ถ้าไม่มีดีมอน ปุ่มลัดก็ใช้งานไม่ได้
Comment[tr]=KHotKeys servisi. Servis yoksa kısayol da yoktur.
Comment[uk]=Фонова служба KHotKeys. Без фонової служби не буде клавіатурних скорочень.
Comment[x-test]=xxKHotKeys daemon. No daemon, no hotkeys.xx
Comment[zh_CN]=KHotKeys 守护进程。如果不启动此进程，则无法使用热键。
Comment[zh_TW]=KDE 熱鍵守護程式。沒有守護程式，就沒有熱鍵。
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=khotkeys
X-KDE-DBus-ModuleName=khotkeys
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
