[Desktop Entry]
Exec=khotkeys
Name=KHotKeys
Name[af]=KDE Kortpad Sleutels
Name[ar]=اختصارات الكيدي
Name[bg]=Горещи клавиши
Name[cs]=Horké klávesy KDE
Name[csb]=Skrodzënë ë gestë
Name[cy]=BysellauBrysKDE
Name[eo]=Klavkombinoj
Name[es]=Teclas rápidas de KDE
Name[et]=KDE kiirklahvid
Name[fi]=Pikanäppäimet
Name[hi]=के-हॉट-कीज़
Name[hu]=Parancsbeállító (KHotKeys)
Name[is]=Flýtilyklar KDE
Name[kn]=ಕೆ ಹಾಟ್ ಕೀಸ್
Name[lt]=KDE klavišų kombinacijos
Name[mk]=KDE брзи копчиња
Name[mr]=केहॉटकीज
Name[nb]=KDE-hurtigtaster
Name[ne]=केडीई हट कुञ्जी
Name[nn]=KDE-snøggtastar
Name[pa]=ਕੇ-ਹਾਟਕੀ
Name[pl]=Skróty i gesty
Name[ro]=Taste rapide
Name[ru]=Клавиши быстрого доступа
Name[se]=KDE-jođánisboalut
Name[sr]=К‑пречице
Name[sr@latin]=K‑prečice
Name[sv]=Khotkeys
Name[ta]=Kஹாட்கீஸ்
Name[te]=కెహాట్ కీలు
Name[th]=ปุ่มพิมพ์ลัดของ KDE
Name[uk]=Швидкі клавіші KDE
Name[vi]=Phím nóng KDE
Name[wa]=KTchôdèsTapes
Name[x-test]=xxKHotKeysxx
Name[zh_TW]=KDE 熱鍵
Comment=KHotKeys daemon. No daemon, no hotkeys.
Comment[ar]=مراقب اختصارات كيدي . لا مراقب لا اختصارات
Comment[be@latin]=Słužba skarotaŭ „KHotKeys”.
Comment[bg]=Демон KHotKeys. Няма демон - няма клавиши.
Comment[ca]=Dimoni KHotKeys. Sense dimoni, no hi ha dreceres de teclat.
Comment[da]=KHotKeys-dæmon. Ingen dæmon, ingen hotkeys.
Comment[de]=KHotKeys-Dienst. Ohne diesen Dienst stehen keine Tastenkombinationen zur Verfügung.
Comment[el]=Δαίμονας KHotKeys.
Comment[es]=Demonio de KHotKeys. Sin demonio no hay teclas de acceso directo
Comment[et]=KDE kiirklahvide deemon. Pole deemonit, pole ka kiirklahve.
Comment[fr]=Démon KHotKeys. Pas de démon, pas de raccourcis clavier.
Comment[gl]=Daemon KHotKey. Se non funciona o daemon, non hai hotkeys.
Comment[gu]=KHotKeys ડેમન. કોઇ ડેમન નથી, કોઇ હોટકી નથી.
Comment[he]=שירותית KHotKeys. אין שירותית, אין מקשי קיצור.
Comment[hi]=के-हॉट-कीज डेमन. कोई डेमन नहीं, कोई हॉट-कीज नहीं.
Comment[hsb]=KHotKeys daemon. Žadyn demon, žane tastaturowe definicije.
Comment[is]=KHotKeys púkinn. Enginn púki, engir flýtilyklar.
Comment[it]=Demone KHotKeys. Niente demone, niente scorciatoie da tastiera.
Comment[ja]=KHotKeys デーモン。デーモンなしではホットキーは動きません。
Comment[kk]=KHotKeys қызметі. Бұл қызметсіз перне тіркесімідері де жоқ.
Comment[km]=ដេមិន KHotKeys ។ គ្មាន​ដេមិន គ្មាន​ hotkeys ។
Comment[kn]=KHotKeys ನೇಪಥಿಕ (ಡೀಮನ್). ಯಾವುದೇ ನೇಪಥಿಕವಿಲ್ಲ, ಯಾವುದೇ ಹಾಟ್ ಕೀಸ್ ಸಹ ಇಲ್ಲ.
Comment[ko]=KHotKeys 데몬. 데몬이 없으면 단축키도 없습니다.
Comment[lv]=KHotKeys dēmons. Nav dēmona, nav karsto taustiņu.
Comment[ml]=KHotKeys ഡീമണ്‍ (നിരന്തരപ്രവര്‍ത്തി). നിരന്തരപ്രവര്‍ത്തി ഇല്ലെങ്കില്‍ ഹോട്കീസ്(ചുരുക്ക-കീകള്‍) ഇല്ല.
Comment[nb]=KHotkeys-nisse. Ingen nisse, ingen snarveier.
Comment[nds]=KHotKeys-Dämoon. Keen Dämoon, keen Ingaavakschonen.
Comment[nl]=KHotkeys-daemon - beheert de sneltoetsen voor KDE
Comment[pl]=Demon KHotKeys. Nie ma demona, nie ma skrótów.
Comment[pt]=Servidor do KHotKeys. Sem servidor, não existem teclas especiais.
Comment[pt_BR]=Daemon KHotKeys. Sem daemon, sem teclas de atalho.
Comment[ro]=Demon KHotKeys. Nu e demon, nu-s taste rapide.
Comment[sl]=Pritajeni program KHotKeys za hitre tipke.
Comment[sv]=Demon för Khotkeys. Utan demon inga snabbtangenter.
Comment[th]=ดีมอนของ KHotKeys ถ้าไม่มีดีมอน ปุ่มลัดก็ใช้งานไม่ได้
Comment[tr]=KHotKeys servisi. Servis yoksa kısayol da yoktur.
Comment[uk]=Фонова служба KHotKeys. Без фонової служби не буде клавіатурних скорочень.
Comment[x-test]=xxKHotKeys daemon. No daemon, no hotkeys.xx
Comment[zh_CN]=KHotKeys 守护进程。如果不启动此进程，则无法使用热键。
Comment[zh_TW]=KDE 熱鍵守護程式。沒有守護程式，就沒有熱鍵。
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=khotkeys
X-KDE-DBus-ModuleName=khotkeys
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
