[Desktop Entry]
Name=Locations
Name[bg]=Местоположения
Name[bn_IN]=অবস্থান
Name[ca]=Ubicacions
Name[cs]=Umístění
Name[csb]=Dzejania
Name[da]=Steder
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[eo]=Lokoj
Name[es]=Ubicaciones
Name[et]=Asukohad
Name[fr]=Emplacements
Name[fy]=Lokaasjes
Name[ga]=Áiteanna
Name[gl]=Lugares
Name[gu]=સ્થળો
Name[he]=מיקומים
Name[hu]=Helyek
Name[it]=Posizioni
Name[ja]=場所
Name[km]=ទីតាំង
Name[ko]=위치
Name[lv]=Vietas
Name[mk]=Локации
Name[ml]=സ്ഥാനങ്ങള്‍
Name[mr]=स्थान
Name[nds]=Steden
Name[nl]=Locaties
Name[nn]=Adresser
Name[pa]=ਟਿਕਾਣੇ
Name[pl]=Lokalizacje
Name[pt]=Locais
Name[pt_BR]=Localizações
Name[ro]=Locații
Name[ru]=Места
Name[sl]=Lokacije
Name[sr]=локације
Name[sr@latin]=lokacije
Name[sv]=Platser
Name[tg]=Ҷойгиршавӣ
Name[th]=ตำแหน่งที่อยู่
Name[tr]=Konumlar
Name[uk]=Адреси
Name[x-test]=xxLocationsxx
Name[zh_CN]=位置
Name[zh_TW]=位置
Comment=File and URL opener
Comment[bg]=Отваряне на файлове и адреси
Comment[bn_IN]=ফাইল ও URL প্রদর্শক
Comment[ca]=Obre fitxers i URL
Comment[cs]=Otevírač souborů a URL
Comment[da]=Fil- og URL-åbner
Comment[de]=Öffnet Dateien und Adressen
Comment[el]=Άνοιγμα αρχείων και URL
Comment[eo]=Malfermas dosierojn kaj adresojn
Comment[es]=Visor de archivos y URL
Comment[et]=Faili ja URL-i avaja
Comment[fi]=Tiedostojen ja osoitteiden avaaja
Comment[fr]=Lanceur de fichier et d'URL
Comment[fy]=Triem en URL-adres iepener
Comment[ga]=Osclóir Comhad agus URLanna
Comment[gl]=Abre ficheiros e URL
Comment[gu]=ફાઇલ અને URL ખોલનાર
Comment[hu]=Fájlmegnyitó
Comment[is]=Skráa og slóða opnun
Comment[it]=Apertura di file e URL
Comment[ja]=ファイルと URL を開きます
Comment[km]=កម្មវិធី​បើក ឯកសារ និង URL
Comment[ko]=파일과 URL을 여는 도구
Comment[ku]=Vekera pel û URL'an
Comment[lv]=Failu un URL atvērējs
Comment[ml]=ഫയല്‍, യുആര്‍എല്‍ തുറക്കുന്നതിനുള്ള സംവിധാനം
Comment[mr]=फाइल व URL ओपनर
Comment[nb]=Fil- og URL-åpner
Comment[nds]=Opmaker för Dateien un URLs
Comment[nl]=Openen van bestanden en URL-adressen
Comment[nn]=Fil- og nettadresseopnar
Comment[pa]=ਫਾਇਲ ਅਤੇ URL ਖੋਲ੍ਹਣ ਵਾਲਾ
Comment[pl]=Otwieranie plików i URL-i
Comment[pt]=Abertura de ficheiros e URL's
Comment[pt_BR]=Abertura de arquivos e URLs
Comment[ro]=Deschizător de fișiere și URL-uri
Comment[ru]=Открытие файлов и URL
Comment[sl]=Odpri datoteke in lokacije
Comment[sr]=Отварач фајлова и УРЛ‑ова
Comment[sr@latin]=Otvarač fajlova i URL‑ova
Comment[sv]=Öppna filer och webbadresser
Comment[th]=ตัวเปิดแฟ้มและที่อยู่ URL
Comment[tr]=Dosya ve Adres açıcı
Comment[uk]=Відкривання файлів і адрес URL
Comment[wa]=Droveu d' fitchî eyet d' adresses
Comment[x-test]=xxFile and URL openerxx
Comment[zh_CN]=文件和 URL 打开器
Comment[zh_TW]=檔案與網址開啟器
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_locations
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=locations
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
