[Desktop Entry]
Name=Locations runner
Name[ca]=Execució d'ubicacions
Name[de]=Orte anzeigen
Name[el]=Άνοιγμα τοποθεσιών
Name[eo]=Lanĉilo de aplikaĵoj
Name[et]=Asukohtade käivitaja
Name[ga]=Feidhmitheoir suíomh
Name[ja]=場所 Runner
Name[km]=កម្មវិធី​ចាប់ផ្ដើម​ទីតាំង
Name[lv]=Vietu palaidējs
Name[nds]=Stedenkieker
Name[nl]=Locatie-opener
Name[pl]=Uruchamianie lokalizacji
Name[pt]=Execução de Locais
Name[pt_BR]=Execução de Locais
Name[sl]=Zaganjalnik lokacij
Name[sr]=Извођач локација
Name[sr@latin]=Izvođač lokacija
Name[sv]=Visa platser
Name[x-test]=xxLocations runnerxx
Name[zh_CN]=位置运行器
Name[zh_TW]=位置執行者
Comment=File and URL opener
Comment[ca]=Obre fitxers i URL
Comment[de]=Öffnet Dateien und Adressen
Comment[el]=Άνοιγμα αρχείων και URL
Comment[eo]=Malfermas dosierojn kaj adresojn
Comment[et]=Faili ja URL-i avaja
Comment[ga]=Osclóir Comhad agus URLanna
Comment[ja]=ファイルと URL を開きます
Comment[km]=កម្មវិធី​បើក ឯកសារ និង URL
Comment[lv]=Failu un URL atvērējs
Comment[nds]=Opmaker för Dateien un URLs
Comment[nl]=Openen van bestanden en URL-adressen
Comment[pl]=Otwieranie plików i URL-i
Comment[pt]=Abertura de ficheiros e URL's
Comment[pt_BR]=Abertura de arquivos e URLs
Comment[sl]=Odpri datoteke in lokacije
Comment[sr]=Отварач фајлова и УРЛ-ова
Comment[sr@latin]=Otvarač fajlova i URL-ova
Comment[sv]=Öppna filer och webbadresser
Comment[x-test]=xxFile and URL openerxx
Comment[zh_CN]=文件和 URL 打开器
Comment[zh_TW]=檔案與網址開啟器
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_locations
X-Krunner-ID=Locations runner
