[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidDevice
Name=Solid Device Type
Name[en_GB]=Solid Device Type
Name[et]=Solidi seadme tüüp
Name[gl]=Tipo do dispositivo de Solid
Name[hr]=Vrsta Solid uređaja
Name[id]=Tipe Divais Solid
Name[is]=Tegund Solid-tækis
Name[lt]=Solid įrenginio tipas
Name[nb]=Type solid-enhet
Name[nds]=Solid-Reedschaptyp
Name[nl]=Solid-apparaattype
Name[pt]=Tipo de Dispositivo do Solid
Name[pt_BR]=Tipo de dispositivo do Solid
Name[sv]=Solid-enhetstyp
Name[tr]=Solid Aygıtı Tipi
Name[uk]=Тип пристрою Solid
Name[x-test]=xxSolid Device Typexx
Name[zh_TW]=實體裝置類型
