[Desktop Entry]
Exec=kcmshell4 solid-actions
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_solid_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Device Actions
Name[el]=Ενέργειες συσκευής
Name[et]=Seadmete toimingud
Name[fr]=Actions de périphérique
Name[gl]=Accións do dispositivo
Name[km]=សកម្មភាព​ឧបករណ៍
Name[nds]=Reedschap-Akschonen
Name[nl]=Apparaatacties
Name[pa]=ਜੰਤਰ ਐਕਸ਼ਨ
Name[pt]=Acções dos Dispositivos
Name[pt_BR]=Acções dos Dispositivos
Name[sv]=Enhetsåtgärder
Name[tr]=Aygıt Eylemleri
Name[uk]=Дії з пристроями

Comment=A configuration tool for managing the actions available to the user when connecting new devices to the computer

X-KDE-Keywords=Solid Devices Actions
