[Desktop Entry]
Exec=kcmshell4 solid-actions
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_solid_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Device Actions
Name[el]=Ενέργειες συσκευής
Name[et]=Seadmete toimingud
Name[fr]=Actions de périphérique
Name[ga]=Gníomhartha Gléis
Name[gl]=Accións do dispositivo
Name[km]=សកម្មភាព​ឧបករណ៍
Name[nds]=Reedschap-Akschonen
Name[nl]=Apparaatacties
Name[pa]=ਜੰਤਰ ਐਕਸ਼ਨ
Name[pt]=Acções dos Dispositivos
Name[pt_BR]=Ações do dispositivo
Name[sv]=Enhetsåtgärder
Name[tr]=Aygıt Eylemleri
Name[uk]=Дії з пристроями
Name[x-test]=xxDevice Actionsxx

Comment=A configuration tool for managing the actions available to the user when connecting new devices to the computer
Comment[et]=Tööriist toimingute seadistamiseks, mida kasutaja saab pruukida uute seadmete ühendamisel arvutiga
Comment[fr]=Un outil de configuration pour la gestion des actions à disposition de l'utilisateur lorsque de nouveaux périphériques sont connectés à l'ordinateur
Comment[gl]=Un útil de configuración para xestionar as accións dispoñíbeis para o usuario cando se conectan dispositivos ao ordenador
Comment[km]=ឧបករណ៍​កំណត់​រចនាសម្ព័ន្ធ​សម្រាប់​គ្រប់គ្រង​សកម្មភាព​ដែល​អ្នក​ប្រើអាច​ប្រើបាន នៅពេល​តភ្ជាប់​ឧបករណ៍​ថ្មី​ទៅ​កាន់កុំព្យូទ័រ
Comment[nds]=En Instellwarktüüch för de Akschonen, de för Brukers praatstaht, wenn nieg Reedschappen den Reekner tokoppelt warrt
Comment[pt]=Uma ferramenta de configuração para gerir as acções disponíveis ao utilizador quando forem ligados dispositivos novos ao computador
Comment[pt_BR]=Uma ferramenta de configuração para gerir as acções disponíveis ao utilizador quando forem ligados dispositivos novos ao computador
Comment[sv]=Ett inställningsverktyg för att hantera tillgängliga åtgärder för användare när nya enheter ansluts till datorn
Comment[uk]=Інструмент налаштування для керування діями, доступними користувачеві після з’єднання пристроїв з комп’ютером
Comment[x-test]=xxA configuration tool for managing the actions available to the user when connecting new devices to the computerxx

X-KDE-Keywords=Solid Devices Actions
