[Desktop Entry]
Actions=
Type=Service
Name=Serial Interface
Name[es]=Interfaz serial
Name[fr]=Interface série
Name[ja]=シリアルインターフェース
Name[nds]=Seriell Koppelsteed
Name[pt]=Interface Série
Name[pt_BR]=Interface serial
Name[sv]=Seriegränssnitt
Name[uk]=Послідовний інтерфейс
Name[zh_TW]=序列介面
X-KDE-Solid-Actions-Type=SerialInterface
