[Desktop Entry]
Actions=
Type=Service
Name=Portable Media Player
Name[es]=Reproductor multimedia portátil
Name[et]=Kaasaskantav meediamängija
Name[fr]=Lecteur de média portable
Name[ja]=ポータブルメディアプレーヤー
Name[nds]=Mobil-Medienafspeler
Name[pt]=Leitor Multimédia Portátil
Name[pt_BR]=Reprodutor de mídia portátil
Name[sv]=Portabel mediaspelare
Name[uk]=Портативний медіапрогравач
Name[zh_TW]=可攜式媒體播放器
X-KDE-Solid-Actions-Type=PortableMediaPlayer
