[Desktop Entry]
Exec=kcmshell4 solid-actions
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/solid-actions/index.html

X-KDE-Library=kcm_solid_actions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Device Actions
Name[el]=Ενέργειες συσκευής
Name[et]=Seadme toimingud
Name[fi]=Laitetoiminnot
Name[ga]=Gníomhartha Gléis
Name[gu]=ઉપકરણ ક્રિયાઓ
Name[ja]=デバイスに対するアクション
Name[km]=សកម្មភាព​ឧបករណ៍
Name[ko]=장치 동작
Name[nb]=Enhetshandlinger
Name[nds]=Reedschap-Akschonen
Name[nl]=Apparaatacties
Name[pt]=Acções do Dispositivo
Name[pt_BR]=Ações do dispositivo
Name[ro]=Acțiuni dispozitiv
Name[ru]=Действия для устройств
Name[sv]=Enhetsåtgärder
Name[tr]=Aygıt Eylemleri
Name[uk]=Дії з пристроями
Name[x-test]=xxDevice Actionsxx
Name[zh_TW]=裝置動作

Comment=A configuration tool for managing the actions available to the user when connecting new devices to the computer
Comment[el]=Ένα εργαλείο διαχείρισης των διαθέσιμων ενεργειών στο χρήστη κατά τη σύνδεση νέων συσκευών στον υπολογιστή.
Comment[et]=Seadistamistööriist toimingute haldamiseks, mida kasutaja saab tarvitada uue seadme ühendamisel arvutiga
Comment[ga]=Uirlis chumraíochta lenar féidir na gníomhartha atá ar fáil don úsáideoir a bhainistiú agus gléasanna nua á gceangal leis an ríomhaire
Comment[ja]=コンピュータに新しいデバイスを接続したときにユーザが選択できるアクションを管理する設定ツール
Comment[km]=ឧបករណ៍​កំណត់​រចនាសម្ព័ន្ធ​សម្រាប់​គ្រប់គ្រង​សកម្ម​ភាព​ដែល​អ្នក​ប្រើ​​អាច​ប្រើបាន នៅពេល​តភ្ជាប់​ឧបករណ៍​ថ្មី​ទៅ​កាន់កុំព្យូទ័រ
Comment[ko]=컴퓨터에 새 장치를 연결했을 때 표시할 동작을 관리합니다
Comment[nb]=Et oppsettsverktøy for å håndtere handlingene som er tilgjengelige for brukeren når nye enheter kobles til datamaskinen
Comment[nds]=En Instellwarktüüch för de Akschonen, de för Brukers praatstaht, wenn nieg Reedschappen den Reekner tokoppelt warrt
Comment[nl]=Een configuratiehulpmiddel voor het beheren van acties die beschikbaar zijn voor de gebruiker bij het verbinden van nieuwe apparaten aan de computer
Comment[pt]=Uma ferramenta de configuração para gerir as acções disponíveis para o utilizador, quando são ligados dispositivos novos ao computador
Comment[pt_BR]=Uma ferramenta de configuração para gerenciar as ações disponíveis para o usuário, ao conectar dispositivos novos ao computador
Comment[ro]=Unealtă de configurare pentru gestiunea acțiunilor disponibile utilizatorului la conectarea noilor dispozitive la calculator
Comment[sv]=Ett inställningsverktyg för att hantera tillgängliga åtgärder för användare när nya enheter ansluts till datorn
Comment[uk]=Інструмент налаштування для керування діями, доступними користувачеві після з’єднання пристроїв з комп’ютером
Comment[x-test]=xxA configuration tool for managing the actions available to the user when connecting new devices to the computerxx
Comment[zh_TW]=管理新增裝置到電腦時要做些什麼動作的設定工具

X-KDE-Keywords=Solid Devices Actions
