[Desktop Entry]
Actions=
Type=Service
Name=Optical Drive
Name[fr]=Périphérique optique
Name[ja]=光学ドライブ
Name[nds]=Optsch Loopwark
Name[pt]=Disco Óptico
Name[pt_BR]=Disco Óptico
Name[sv]=Optisk enhet
Name[uk]=Пристрій читання оптичних дисків
Name[zh_TW]=光碟機
X-KDE-Solid-Actions-Type=OpticalDrive
