[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidDevice
Name=Solid Device Type
Name[et]=Solidi seadme tüüp
Name[gl]=Tipo do dispositivo de Solid
Name[id]=Tipe Divais Solid
Name[nb]=Type solid-enhet
Name[nds]=Solid-Reedschaptyp
Name[pt]=Tipo de Dispositivo do Solid
Name[pt_BR]=Tipo de dispositivo do Solid
Name[sv]=Solid-enhetstyp
Name[tr]=Solid Aygıtı Tipi
Name[uk]=Тип пристрою Solid
Name[x-test]=xxSolid Device Typexx
