[Desktop Entry]
Actions=
Type=Service
Name=Access to storage devices
Name[fr]=Accès à des périphériques de stockage
Name[ja]=ストレージデバイスへのアクセス
Name[nds]=Togriep op Spiekerreedschappen
Name[pt]=Acesso aos dispositivos de armazenamento
Name[pt_BR]=Acesso aos dispositivos de armazenamento
Name[sv]=Åtkomst till lagringsenheter
Name[uk]=Доступ до пристроїв зберігання даних
Name[zh_TW]=存取儲存裝置
X-KDE-Solid-Actions-Type=StorageAccess
