[Desktop Entry]
Actions=
Type=Service
Name=Serial Interface
Name[pt]=Interface Série
Name[pt_BR]=Interface Série
Name[sv]=Seriegränssnitt
Name[uk]=Послідовний інтерфейс
X-KDE-Solid-Actions-Type=SerialInterface
