[Desktop Entry]
Encoding=UTF-8
Comment=joystick - a kcontrol module to test joysticks
Comment[bg]=Настройки на джойстика
Comment[bn]=joystick - জয়-স্টিক পরীক্ষা করার জন্য একটি নিয়ন্ত্রণ মডিউল
Comment[bs]=joystick - KControl modul za testiranje džojstika
Comment[ca]=Joystick - un mòdul de kcontrol per a provar palanques de control
Comment[cs]=Ovládací modul pro testování joysticků
Comment[cy]=joystick - modiwl kcontrol i brofi ffyn rheoli
Comment[da]=joystick - et kcontrol modul til at test joystick
Comment[de]=Joystick-Testmodul
Comment[el]=χειριστήριο - ένα άρθρωμα ελέγχου χειριστηρίων
Comment[eo]=stirstango - kontrola modulo por testi stirstangojn
Comment[es]=joystick - un módulo de kcontrol para probar joysticks
Comment[et]=juhtpult - KDE juhtimiskeskuse moodul juhtpultide testimiseks
Comment[eu]=joystick - joystickak aztertzeko kontrol modulua
Comment[fi]=peliohjain - KDE:n ohjauskeskuksen moduuli peliohjainta varten
Comment[fr]=Manettes de jeu - un module pour tester les manettes de jeu
Comment[fy]=joystick - in ynstellingsmodule foar it teste fan joysticks
Comment[gl]=joystick - un módulo de kcontrol para probar joysticks
Comment[he]=ג'ויסטיק - מודול לבדיקת ג'ויסטיקים
Comment[hi]=जॉयस्टिक - जॉयस्टिक को जाँचने का एक के-कंट्रोल मॉड्यूल 
Comment[hu]=Botkormányok tesztelése, kalibrálása
Comment[is]=joystick - kcontrol stjórneining til að prófa stýripinna
Comment[it]=joystick - un modulo di kcontrolper provare i joystick
Comment[ja]=ジョイスティック - ジョイスティックをテストする kcontrol モジュール
Comment[lt]=valdymo svirtis - kcontrol modulis valdymo svirčių išbandymui
Comment[lv]=kursorsvira - kkontroles modulis kursorsviru testēšanai
Comment[mt]=joystick - modulu ta' kcontrol biex tittestja joysticks
Comment[nb]=Styrepinne - en kcontrolmodul for å prøve ut styrepinner
Comment[nds]=joystick - Moduul to't Testen vun Joysticks
Comment[nl]=joystick - een configuratiemodule voor het testen van joysticks
Comment[nn]=Styrepinne – ein kontrollmodul for å prøva ut styrepinnar
Comment[pa]=joystick - ਜਾਏਸਟਿੱਕ ਜਾਂਚ ਲਈ ਕੇਕੰਟਰੋਲ ਮੈਡੀਊਲ
Comment[pl]=joystick - moduł Centrum sterowania do testowania joysticków
Comment[pt]=joystick - um módulo do kcontrol para testar joysticks
Comment[pt_BR]=joystick - um módulo de controle para testes de joysticks
Comment[ro]=Un modul pentru testarea joystick-urilor
Comment[ru]=joystick - модуль kcontrol для проверки джойстика
Comment[se]=Stivrensággi – stivrenmoduvla mainna geahččala stivrensákkiid
Comment[sk]=Ovládací modul pre test joysticku
Comment[sl]=joystick - modul Nadzornega središča za preizkus igralnih palic
Comment[sr]=џојстик - модул контролног центра за тестирање џојстика
Comment[sr@Latn]=džojstik - modul kontrolnog centra za testiranje džojstika
Comment[sv]=Styrspak: en inställningsmodul för att testa styrspakar
Comment[ta]=இயக்கும் கருவி - கேகண்ட்ரோல் கூறு இயக்கும் கருவியை பரிசோதிக்கிறது
Comment[tr]=oyun kumandası - oyun kumandalarını denemek için bir kcontrol modülü
Comment[uk]=Джойстик - модуль центру керування для тестування джойстиків
Comment[uz]=Жойстик учун бошқарув модули
Comment[xx]=xxjoystick - a kcontrol module to test joysticksxx
Comment[zh_CN]=joystick - 测试游戏杆的 kcontrol 模块
Exec=kcmshell joystick
Keywords=joystick,gamepad
Keywords[bg]=джойстик, игра, игри, управление, joystick, gamepad
Keywords[bs]=joystick,gamepad,džojstik
Keywords[cy]=ffôn reoli,pad gêm
Keywords[da]=joystick,spilleplade
Keywords[de]=Joystick,Gamepad,Spiele
Keywords[el]=χειριστήριο,χειριστήριο κονσόλας παιχνιδιών
Keywords[eo]=stirstango,stirstangoj,ludotabuleto
Keywords[et]=juhtpult,mängupult
Keywords[fi]=joystick,peliohjain
Keywords[fr]=joystick,gamepad,manette de jeu
Keywords[ga]=luamhán stiúrtha,ceap cluiche
Keywords[he]=joystick,gamepad,ג'ויסטיק
Keywords[hi]=जॉयस्टिक,गेमपेड
Keywords[hu]=botkormány,joystick,gamepad
Keywords[is]=joystick,gamepad,stýripinni
Keywords[ja]=joystick,gamepad,ジョイスティック,ゲームパッド
Keywords[lt]=valdymo svirtis, joystick,gamepad
Keywords[lv]=kursorsvira,spēļu pults
Keywords[nb]=styrepinne,spillkontroll
Keywords[nn]=styrepinne,spelkontroll
Keywords[pa]=joystick,gamepad, ਜਾਏਸਟਿੱਕ
Keywords[pl]=joystick,gamepad,dżojstik
Keywords[pt_BR]=joystick,gamepad, jogos
Keywords[se]=stivrensággi,speallanstivrran
Keywords[sl]=joystick,gamepad,igralna palica,igralni plošček
Keywords[sr]=joystick,gamepad,џојстик
Keywords[sr@Latn]=joystick,gamepad,džojstik
Keywords[sv]=styrspak,spelkonsol
Keywords[ta]=இயக்கும் கருவி, விளையாட்டு பலகை
Keywords[tr]=oyun çubuğu
Keywords[uk]=джойстик,gamepad
Keywords[uz]=жойстик,геймпад
Keywords[xx]=xxjoystick,gamepadxx
Keywords[zh_CN]=joystick,gamepad,游戏杆,手柄
Name=Joystick
Name[bg]=Джойстик
Name[bn]=জয়-স্টিক
Name[br]=Lanker-c'hoari
Name[ca]=Palanca de control
Name[cy]=Ffôn reoli
Name[el]=Χειριστήριο
Name[eo]=Stirstango
Name[et]=Juhtpult
Name[fi]=Peliohjain
Name[fr]=Manette de jeu
Name[ga]=Luamhán Stiúrtha
Name[he]=ג'ויסטיק
Name[hi]=जॉयस्टिक
Name[hu]=Botkormány
Name[is]=Stýripinnar
Name[ja]=ジョイスティック
Name[lo]=จอยสติ๊ก
Name[lt]=Valdymo svirtis
Name[lv]=Kursorsvira
Name[nb]=Styrepinne
Name[nn]=Styrepinne
Name[oc]=Palanca de jogs
Name[pa]=ਜਾਏਸਟਿੱਕ
Name[ru]=Джойстик
Name[se]=Stivrensággi
Name[sl]=Igralna palica
Name[sr]=Џојстик
Name[sr@Latn]=Džojstik
Name[sv]=Styrspak
Name[ta]=இயக்கு கருவி
Name[tr]=Oyun Çubuğu
Name[uk]=Джойстик
Name[uz]=Жойстик
Name[ven]=Thambo dzau tumanya na tshishumiswa
Name[xh]=Uvuyo
Name[xx]=xxJoystickxx
Name[zh_CN]=游戏杆
Name[zu]=Induku yenjabulo
Terminal=false
Type=Application
X-KDE-FactoryName=joystick
X-KDE-Library=joystick
X-KDE-Test-Module=true
Icon=joystick
Categories=Qt;KDE;X-KDE-settings-hardware;
