[Desktop Entry]
Encoding=UTF-8
Comment=joystick - a kcontrol module to test joysticks
Comment[bg]=Настройки на джойстика
Comment[cy]=joystick - modiwl kcontrol i brofi ffyn rheoli
Comment[da]=joystick - et kcontrol modul til at test joystick
Comment[eo]=stirstango - kontrola modulo por testi stirstangojn
Comment[es]=joystick - un módulo de kcontrol para probar joysticks
Comment[et]=juhtpult - KDE juhtimiskeskuse moodul juhtpultide testimiseks
Comment[fr]=Manettes de jeu - un module pour tester les manettes de jeu
Comment[hu]=Botkormány - beállítómodul botkormányok kalibrálásához
Comment[is]=joystick - kcontrol stjórneining til að prófa stýripinna
Comment[mt]=joystick - modulu ta' kcontrol biex tittestja joysticks
Comment[nb]=Styrepinne - en kcontrol-modul for å prøve ut styrepinner
Comment[nl]=joystick - een configuratiemodule voor het testen van joysticks
Comment[pt]=joystick - um módulo do kcontrol para testar joysticks
Comment[pt_BR]=joystick - um módulo de controle para testes de joysticks
Comment[ro]=Un modul pentru testarea joystick-urilor
Comment[sl]=joystick - modul Nadzornega središča za preizkus igralnih palic
Comment[sr]=џојстик - модул контролног центра за тестирање џојстика
Comment[sr@Latn]=џојстик - модул контролног центра за тестирање џојстика
Comment[sv]=Styrspak: en inställningsmodul för att testa styrspakar
Comment[ta]=இயக்கும் கருவி - கேகண்ட்ரோல் கூறு இயக்கும் கருவியை பரிசோதிக்கிறது
Comment[tr]=oyun kumandası - oyun kumandalarını denemek için bir kcontrol modülü
Comment[uk]=Джойстик - модуль центру керування для тестування джойстиків
Comment[uz]=Жойстик учун бошқарув модули
Comment[xx]=xxjoystick - a kcontrol module to test joysticksxx
Comment[zh_CN]=joystick - 测试游戏杆的 kcontrol 模块
Exec=kcmshell joystick
Keywords=joystick,gamepad
Keywords[bg]=джойстик, игра, игри, управление, joystick, gamepad
Keywords[cy]=ffôn reoli,pad gêm
Keywords[da]=joystick,spilleplade
Keywords[eo]=stirstango,stirstangoj,ludotabuleto
Keywords[et]=juhtpult,mängupult
Keywords[fr]=joystick,gamepad,manette de jeu
Keywords[hu]=botkormány,joystick,gamepad
Keywords[is]=joystick,gamepad,stýripinni
Keywords[nb]=styrepinne,spillkontroll
Keywords[pt_BR]=joystick,gamepad, jogos
Keywords[sl]=joystick,gamepad,igralna palica,igralni plošček
Keywords[sr]=joystick,gamepad,џојстик
Keywords[sr@Latn]=joystick,gamepad,џојстик
Keywords[sv]=styrspak,spelkonsol
Keywords[ta]=இயக்கும் கருவி, விளையாட்டு பலகை
Keywords[tr]=oyun çubuğu
Keywords[uk]=джойстик,gamepad
Keywords[uz]=жойстик,геймпад
Keywords[xx]=xxjoystick,gamepadxx
Keywords[zh_CN]=joystick,gamepad,游戏杆,手柄
Name=Joystick
Name[bg]=Джойстик
Name[br]=Lanker-c'hoari
Name[bs]=Palica za igru
Name[cy]=Ffôn reoli
Name[eo]=Stirstango
Name[et]=Juhtpult
Name[fr]=Manette de jeu
Name[hu]=Botkormány
Name[is]=Stýripinnar
Name[ja]=ジョイスティック
Name[lo]=จอยสติ๊ก
Name[lt]=Valdymo svirtis
Name[lv]=Kursorsvira
Name[nb]=Styrepinne
Name[oc]=Palanca de jogs
Name[sl]=Igralna palica
Name[sr]=Џојстик
Name[sr@Latn]=Џојстик
Name[sv]=Styrspak
Name[ta]=இயக்கு கருவி
Name[tr]=Oyun Çubuğu
Name[uk]=Джойстик
Name[uz]=Жойстик
Name[ven]=Thambo dzau tumanya na tshishumiswa
Name[xh]=Uvuyo
Name[xx]=xxJoystickxx
Name[zh_CN]=游戏杆
Name[zu]=Induku yenjabulo
Terminal=false
Type=Application
X-KDE-FactoryName=joystick
X-KDE-Library=joystick
X-KDE-Test-Module=true
Icon=joystick
Categories=Qt;KDE;X-KDE-settings-peripherals
