[Desktop Entry]
Exec=kcmshell LookNFeel/Themes/iconThemes
Icon=iconthemes
Type=Application
DocPath=kcontrol/kcmiconthemes/iconthemes-1.html

X-KDE-ModuleType=Library
X-KDE-Library=iconthemes

Name=Icon
Name[de]=Symbol
Name[eo]=Piktogramo
Name[et]=Ikoon
Name[hu]=Ikon
Name[pt]=Ícone
Name[pt_BR]=Ícone
Name[ro]=Iconiţe
Name[sv]=Ikon
Comment=Icon Themes
Comment[de]=Symboldesign
Comment[eo]=Piktogrametosoj
Comment[et]=Ikooni teemad
Comment[hu]=Ikontémák
Comment[pt]=Temas de Ícones
Comment[pt_BR]=Temas de Ícones
Keywords=icon,themes,styles
Keywords[de]=Symbol,Icon,Stil,Design,Themes
Keywords[eo]=piktogramo,etosoj,stiloj
Keywords[et]=ikoon,teemad,stiilid
Keywords[hu]=ikon,témák,stílusok
Keywords[pt]=ícone,temas,estilos
Keywords[pt_BR]=ícone,temas,estilos
