[Desktop Entry]
Name=Geolocation IP
Name[es]=Geolocalización mediante IP
Name[et]=Geolokatsioon IP-st
Name[fr]=Géolocalisation IP
Name[pt]=IP por Geo-Localização
Name[pt_BR]=IP por Geo-Localização
Name[sv]=Lokalisera geografiskt med IP-adress
Name[uk]=Геолокація за IP
Name[x-test]=xxGeolocation IPxx
Comment=Geolocation from IP address.
Comment[es]=Geolocalización desde una dirección IP.
Comment[et]=Geolokatsioon IP-aadressi põhjal
Comment[fr]=Géolocalisation à partir de l'adresse IP
Comment[pt]=Geo-localização a partir do endereço IP.
Comment[pt_BR]=Geo-localização a partir do endereço IP.
Comment[sv]=Lokalisera geografiskt från IP-adress.
Comment[tr]=IP adreinden coğrafi konum.
Comment[uk]=Геолокація за IP-адресою
Comment[x-test]=xxGeolocation from IP address.xx
Comment[zh_TW]=從 IP 位址取得 Geolocation。
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-ip
X-KDE-PluginInfo-Name=ip
