[Desktop Entry]
Name=Geolocation GPS
Name[ca]=Geolocalització GPS
Name[ca@valencia]=Geolocalització GPS
Name[csb]=Geògrafnô lokalizacëjô GPS
Name[da]=GPS til geo-lokalisering
Name[de]=Geolokalisierung GPS
Name[et]=Geolokatsioon GPS-ist
Name[fr]=Géo-localisation par GPS
Name[gl]=Xeolocacización con GPS
Name[is]=GPS hnattstaðsetning
Name[km]=ទីតាំង​ភូមិសាស្ត្រ GPS
Name[ko]=GPS 위치
Name[lv]=Ģeolokācija GPS
Name[nb]=Geografisk plassering GPS
Name[nds]=GPS-Eersteed
Name[pt]=Geo-Localização por GPS
Name[pt_BR]=Localização geográfica GPS
Name[sl]=Geolokacija GPS
Name[sv]=Lokalisera geografiskt med GPS
Name[uk]=Геопозиціювання за GPS
Name[x-test]=xxGeolocation GPSxx
Name[zh_CN]=地理 GPS
Comment=Geolocation from GPS address.
Comment[ca]=Geolocalització des d'una adreça GPS.
Comment[ca@valencia]=Geolocalització des d'una adreça GPS.
Comment[csb]=Geògrafnô lokalizacëjô z adresë GPS.
Comment[da]=Geo-lokalisering ud fra GPS-adresse.
Comment[de]=Geolokalisierung mittels GPS-Koordinate.
Comment[et]=Geolokatsioon GPS-aadressi põhjal
Comment[fr]=Géo-localisation depuis une adresse GPS
Comment[gl]=Xeolocaliza con datos de GPS.
Comment[is]=Hnattstaðsetning eftir GPS vistfangi.
Comment[km]=ទីតាំង​ភូមិសាស្ត្រ​ពី​អាយដ្ឋាន GPS ។
Comment[ko]=GPS 위치에 따른 주소입니다.
Comment[lv]=Ģeolokācija no GPS adreses.
Comment[nb]=Geografisk plassering etter GPS-adresse.
Comment[nds]=Eersteed ut GPS-Adress
Comment[nn]=Geolocation med GPS-adresse.
Comment[pt]=Geo-localização a partir do endereço do GPS.
Comment[pt_BR]=Localização geográfica de endereços de GPS.
Comment[sl]=Geolokacija iz podatkov GPS.
Comment[sv]=Geografisk lokalisering från GPS-adress.
Comment[tr]=GPS adresinden coğrafi konum.
Comment[uk]=Геопозиціювання за GPS-адресою
Comment[x-test]=xxGeolocation from GPS address.xx
Comment[zh_CN]=地理 GPS 地址
Comment[zh_TW]=從 GPS 位址取得 Geolocation。
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-gps
X-KDE-PluginInfo-Name=gps
