[Desktop Entry]
Name=Geolocation IP
Name[csb]=IP geògrafny lokalizacëji
Name[da]=IP-adresse til geo-lokalisering
Name[de]=Geolokalisierung IP
Name[et]=Geolokatsioon IP-st
Name[km]=IP ទីតាំង​ភូមិសាស្ត្រ
Name[pt]=Geo-Localização por IP
Name[pt_BR]=Localização geográfica IP
Name[sv]=Lokalisera geografiskt med IP-adress
Name[uk]=Геопозиціювання за IP
Comment=Geolocation from IP address.
Comment[csb]=Geògrafnô lokalizacëjô z adresë IP.
Comment[da]=Geo-lokalisering ud fra IP-adresse.
Comment[de]=Geolokalisierung mittels IP-Adresse.
Comment[et]=Geolokatsioon IP-aadressi põhjal
Comment[km]=ទីតាំង​ភូមិសាស្ត្រ​ពី​​អាសយដ្ឋាន IP ។
Comment[pt]=Geo-localização a partir do endereço IP.
Comment[pt_BR]=Localização geográfica de endereços IP.
Comment[sv]=Geografisk lokalisering från IP-adress.
Comment[tr]=IP adresinden coğrafi konum.
Comment[uk]=Геопозиціювання за IP-адресою
Comment[zh_TW]=從 IP 位址取得 Geolocation。
X-KDE-ServiceTypes=Plasma/GeolocationProvider
X-KDE-ParentApp=geolocation
Type=Service
Icon=applications-internet
X-KDE-Library=plasma-geolocation-ip
X-KDE-PluginInfo-Name=ip
