[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/GeolocationProvider
Comment=Plasma Geolocation Provider
Comment[pt]=Fornecedor de Geo-Localização do Plasma
Comment[pt_BR]=Fornecedor de Geo-Localização do Plasma
Comment[sv]=Plasma geografisk lokalisering
Comment[tr]=Plasma Geolocation Sağlayıcı
Comment[uk]=Інструмент геопозиціювання Плазми
Comment[zh_TW]=Plasma Geolocation 提供者

