[Desktop Entry]
Name=Switch Window
Name[da]=Skift vindue
Name[de]=Fenster wechseln
Name[en_GB]=Switch Window
Name[eo]=Ŝalti fenestron
Name[es]=Cambiar ventana
Name[et]=Akna vahetamine
Name[gl]=Tocar de fiestra
Name[he]=החלף חלון
Name[hr]=Prebaci prozor
Name[id]=Pindah Jendela
Name[kk]=Терезені ауыстыру
Name[lt]=Pakeisti langą
Name[lv]=Pārslēgt logu
Name[nb]=Bytt vindu
Name[nds]=Finster wesseln
Name[nl]=Venster omschakelen
Name[pt]=Mudar de Janela
Name[pt_BR]=Alternar janela
Name[ro]=Comutare fereastră
Name[ru]=Переключение окон
Name[sv]=Byt fönster
Name[tg]=Мубодилаи тирезаҳо
Name[tr]=Pencereyi Değiştir
Name[uk]=Перемкнути вікно
Name[x-test]=xxSwitch Windowxx
Name[zh_TW]=切換視窗
Type=Service
Icon=
Comment=Show a list of windows to switch to
Comment[da]=Vis en liste over åbne vinduer at skifte til
Comment[de]=Eine Liste aller Fenster anzeigen
Comment[en_GB]=Show a list of windows to switch to
Comment[eo]=Montri liston de festestro por komuti
Comment[es]=Mostrar una lista de ventanas a las que cambiar
Comment[et]=Võimalike akende loendi näitamine
Comment[gl]=Mostrar unha lista de fiestras ás que pode ir
Comment[he]=הראה רשימת חלונות לעבור אליהם
Comment[hr]=Prikaži listu prozora na koju se moguće prebaciti
Comment[id]=Tampilkan senarai jendela yang akan dipindahkan
Comment[kk]=Ауысатын терезелер тізімін ұсыну
Comment[lt]=Rodo langų, į kuriuos galima rodyti, sąrašą
Comment[lv]=Pārādīt logu sarakstu uz ko pārslēgties
Comment[nb]=Vis en liste over vinduer som kan byttes til
Comment[nds]=Finstern oplisten un dor henwesseln
Comment[nl]=Toon een lijst met vensters waarnaar om te schakelen
Comment[pt]=Mostrar uma lista com as janelas para onde mudar
Comment[pt_BR]=Exibe uma lista de janelas para alternar
Comment[ro]=Arată o listă de ferestre de comutat
Comment[ru]=Показать список окон
Comment[sv]=Visa en lista med fönster att byta till
Comment[tr]=Değiştirilecek pencereler listesini göster
Comment[uk]=Показує список вікон для перемикання
Comment[x-test]=xxShow a list of windows to switch toxx
Comment[zh_TW]=列出視窗並切換

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_switchwindow
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=switchwindow
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true

