[Desktop Entry]
Encoding=UTF-8
Name=Default Netbook Panel
Name[bn]=ডিফল্ট নেটবুক প্যানেল
Name[en_GB]=Default Netbook Panel
Name[es]=Panel predeterminado para netbooks
Name[hr]=Zadani Netbook panel
Name[ia]=Pannello de Netbook Predefinite
Name[id]=Panel Netbook Standar
Name[ja]=標準のネットブックのパネル
Name[kk]=Нетбуктің әдетті панелі
Name[km]=បន្ទះ Netbook លំនាំដើម
Name[lt]=Numatytas netbook skydelis
Name[nb]=Standard nettbok-panel
Name[nds]=Standard-Nettbookpaneel
Name[nl]=Standaard netbook-paneel
Name[pa]=ਡਿਫਾਲਟ ਨੈੱਟਬੁੱਕ ਪੈਨਲ
Name[pt]=Painel Predefinido do Netbook
Name[pt_BR]=Painel padrão do Netbook
Name[sv]=Standardpanel för nätdator
Name[th]=พาเนลปริยายของเน็ตบุ๊ก
Name[uk]=Типова панель субноутбука
Name[x-test]=xxDefault Netbook Panelxx
Name[zh_TW]=預設 Netbook 面板
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-netbook
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma-netbook.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
