[Desktop Entry]
Encoding=UTF-8
Name=System
Name[fr]=Système
Name[x-test]=xxSystemxx
GenericName=System Locations
GenericName[fr]=Emplacements systèmes
GenericName[x-test]=xxSystem Locationsxx
URL=system:/
Icon=system
Type=Link
