[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SolidModemManager
X-KDE-Library=solid_modemmanager04
InitialPreference=100
Name=ModemManager 0.4
Name[ar]=مدير المودم 0,4
Name[ast]=ModemManager 0.4
Name[bg]=ModemManager 0.4
Name[bs]=Menadžer modema 0.4
Name[ca]=ModemManager 0.4
Name[ca@valencia]=ModemManager 0.4
Name[cs]=ModemManager 0.4
Name[da]=ModemManager 0.4
Name[de]=ModemManager 0.4
Name[el]=Διαχειριστής μόντεμ 0.4
Name[en_GB]=ModemManager 0.4
Name[es]=ModemManager 0.4
Name[et]=ModemManager 0.4
Name[eu]=ModemManager 0.4
Name[fi]=ModemManager 0.4
Name[fr]=ModemManager 0.4
Name[ga]=ModemManager 0.4
Name[gu]=ModemManager 0.4
Name[he]=ModemManager 0.4
Name[hi]=ModemManager 0.4
Name[hr]=ModemManager 0.4
Name[hu]=ModemManager 0.4
Name[ia]=ModemManager 0.4
Name[is]=Mótaldsstjóri 0.4
Name[it]=ModemManager 0.4
Name[ja]=ModemManager 0.4
Name[ka]=ModemManager 0.4
Name[kk]=ModemManager 0.4
Name[km]=ModemManager 0.4
Name[kn]=ModemManager 0.4
Name[ko]=ModemManager 0.4
Name[lt]=ModemManager 0.4
Name[lv]=ModemManager 0.4
Name[nb]=ModemManager 0.4
Name[nds]=Modem-Pleger 0.4
Name[nl]=ModemManager 0.4
Name[nn]=Modemhandsaming 0.7
Name[pa]=ਮਾਡਮਮੈਨੇਜਰ 0.4
Name[pl]=MenadżerModemu 0.4
Name[pt]=ModemManager 0.4
Name[pt_BR]=ModemManager 0.4
Name[ro]=ModemManager 0.4
Name[ru]=ModemManager 0.4
Name[sk]=ModemManager 0.4
Name[sl]=ModemManager 0.4
Name[sr]=Менаџер модема 0.4
Name[sr@ijekavian]=Менаџер модема 0.4
Name[sr@ijekavianlatin]=Menadžer modema 0.4
Name[sr@latin]=Menadžer modema 0.4
Name[sv]=Modemhantering 0.4
Name[tg]=ModemManager 0.4
Name[th]=ModemManager 0.4
Name[tr]=ModemManager 0.4
Name[ug]=مودېم باشقۇرغۇچ 0.4
Name[uk]=ModemManager 0.4
Name[wa]=ModemManager 0.4
Name[x-test]=xxModemManager 0.4xx
Name[zh_CN]=调制解调器管理器 0.4
Name[zh_TW]=數據機管理員 0.4
Comment=Network management using the ModemManager daemon, version 0.4
Comment[ar]=إدارة الشبكة باستعمال مراقب مدير المودم 0,4
Comment[ast]=Xestión de rede usando'l serviciu ModemManager, versión 0.4
Comment[bg]=Управление на мрежата с демона ModemManager, версия 0.4
Comment[bs]=Upravljanje mrežom demonom Menadžera modema, verzija 0.4
Comment[ca]=Gestor de xarxes que usa el dimoni ModemManager, versió 0.4
Comment[ca@valencia]=Gestor de xarxes que usa el dimoni ModemManager, versió 0.4
Comment[cs]=Správa sítě pomocí démona ModemManager, verze 0.4
Comment[da]=Netværkshåndtering med brug af version 0.4 af ModemManager-dæmonen
Comment[de]=Netzwerkverwaltung mit dem ModemManager (Version 0.4)
Comment[el]=Διαχείριση δικτύου με χρήση του δαίμονα ModemManager, έκδοση 0.4
Comment[en_GB]=Network management using the ModemManager dæmon, version 0.4
Comment[es]=Gestión de red usando el demonio ModemManager, versión 0.4
Comment[et]=Võrgu haldamine ModemManageri deemoni versiooni 0.4 abil
Comment[eu]=Sare kudeaketa NetworkManager deabrua erabiliz, 0.4 bertsioa
Comment[fi]=Verkkojen hallinta käyttäen ModemManager-taustaprosessin 0.4-versiota
Comment[fr]=Gestion réseau utilisant le démon Modem-Manager, version 0.4
Comment[ga]=Bainisteoireacht líonra leis an deamhan ModemManager, leagan 0.4
Comment[he]=ניהול רשת באמצעות תהליך הרקע ModemManager, גרסה 0.4
Comment[hr]=Upravljanje mrežom koristeći servis ModemManager inačice 0.4
Comment[hu]=Hálózatkezelés a NetworkManager 0.4 szolgáltatás segítségével
Comment[ia]=Gestion de rete usante le demone ModemManager, version 0,4
Comment[is]=Stjórnun nettenginga með Mótaldsstjóranum, útgáfu 0.4
Comment[it]=Gestione della rete con il demone ModemManager, versione 0.4
Comment[ja]=ModemManager デーモン 0.4 を用いたネットワーク管理
Comment[kk]=ModemManager (нұсқасы 0.4) қызметі көмегімен желіні басқару
Comment[km]=ការ​គ្រប់គ្រង​បណ្ដាញ​ ដោយ​ប្រើ​ដេមិន ModemManager កំណែ ០.៤
Comment[kn]=ModemManager ಆವೃತ್ತಿ ೦.೪ ಅನ್ನು ಬಳಸಿಕೊಂಡು ಜಾಲ ವ್ಯವಸ್ಥಾಪನೆ
Comment[ko]=ModemManager 데몬을 사용하는 네트워크 관리자, 버전 0.4
Comment[lt]=Tinklo tvarkymas naudojant ModemManager tarnybos 0.4 versiją
Comment[lv]=Tīkla pārvaldība, lietojot ModemManager dēmonu, versiju 0.4
Comment[nb]=Nettverksstyring med nissen ModemManager versjon 0.4
Comment[nds]=Nettwarkpleeg mit den Modemkuntrull-Dämoon, Verschoon 0.4
Comment[nl]=Netwerkbeheer met behulp van de ModemManager-daemon, versie 0.4
Comment[nn]=Nettverkshandsaming med ModemManager-tenesta, versjon 0.4
Comment[pa]=ਨੈੱਟਵਰਕ-ਮੈਨੇਜਰ ਡੈਮਨ, ਵਰਜਨ 0.4, ਨਾਲ ਨੈੱਟਵਰਕ ਮੈਨਿਜਮੈਂਟ
Comment[pl]=Zarządzanie siecią przy użyciu usługi zarządzania MenadżeraModemu w wersji 0.4
Comment[pt]=Gestão da rede com o servidor ModemManager, na versão 0.4
Comment[pt_BR]=Gerenciamento de rede usando a versão 0.4 do serviço ModemManager
Comment[ro]=Gestiune rețea cu demonul ModemManager, versiunea 0.4
Comment[ru]=Управление сетью при помощи службы ModemManager версии 0.4
Comment[sk]=Správa sietí používajúca démon ModemManager verzie 0.4
Comment[sl]=Upravljanje z omrežji z uporabo pritajenega programa ModemManager 0.4
Comment[sr]=Управљање мрежом демоном Менаџера модема, верзија 0.4
Comment[sr@ijekavian]=Управљање мрежом демоном Менаџера модема, верзија 0.4
Comment[sr@ijekavianlatin]=Upravljanje mrežom demonom Menadžera modema, verzija 0.4
Comment[sr@latin]=Upravljanje mrežom demonom Menadžera modema, verzija 0.4
Comment[sv]=Nätverkshantering med modemhanteringsdemonen, version 0.4
Comment[th]=การจัดการเครือข่ายโดยใช้ดีมอน ModemManager รุ่น 0.4
Comment[tr]=ModemManager servisi kullanarak ağ yönetimi, sürüm 0.4
Comment[ug]=مودېم باشقۇرغۇچ نازارەتچىسى، نەشرى 0.4 نى ئىشلەتكەن تور باشقۇرغۇچ
Comment[uk]=Керування мережею за допомогою фонової служби ModemManager, вер. 0.4
Comment[wa]=Manaedjmint del rantoele si siervant do démon ModemManager, modêye 0.4
Comment[x-test]=xxNetwork management using the ModemManager daemon, version 0.4xx
Comment[zh_CN]=使用 ModemManager 守护进程的网络管理工具，版本 0.4
Comment[zh_TW]=用數據機管理程式 v0.4 做網路管理
Icon=phone
