[KDE Desktop Program]
Comment=XGlobe by Thorsten Scheuermann
Comment[af]=XGlobe deur Thorsten Scheuermann
Comment[be]=Глобус (Thorsten Scheuermann)
Comment[bn]=থর্সটেন শিউয়ারমান-এর এক্স-গ্লোব
Comment[br]=XGlobe gant Thorsten Scheuermann
Comment[ca]=XGlobe per Thorsten Scheuermann
Comment[cy]=XGlobe gan Thorsten Scheuermann
Comment[de]=XGlobe von Thorsten Scheuermann
Comment[el]=XGlobe από Thorsten Scheuermann
Comment[eo]=XGlobo de Thorsten Scheuermann
Comment[et]=XGlobe (Thorsten Scheuermann)
Comment[ga]=XGlobe le Thorsten Scheuermann
Comment[gu]=XGlobe થોર્સ્ટન સ્કુરેમેન્ન વડે
Comment[hr]=XGlobe (izr. Thorsten Scheuermann)
Comment[ka]=Xგლობუსი (Thorsten Scheuermann)
Comment[km]=XGlobe ដោយ Thorsten Scheuermann
Comment[lt]=Thorsten Scheuermann'o XGlobe
Comment[lv]=XGlobe, Thorsten Scheuermann
Comment[mk]=X-Глобус од Thorsten Scheuermann
Comment[nds]=XGlobus vun Thorsten Scheuermann
Comment[nl]=XGlobe, door Thorsten Scheuermann
Comment[nn]=XGlobe av Thorsten Scheuermann
Comment[pt]=XGlobe de Thorsten Scheuermann
Comment[pt_BR]=XGlobe de Thorsten Scheuermann
Comment[ro]=XGlobe de Thorsten Scheuermann
Comment[ru]=XGlobe (Thorsten Scheuermann)
Comment[sk]=XGlobe od Thorstena Scheuermanna
Comment[sl]=XGlobe avtorja Thorstena Scheuermanna
Comment[sr]=Икс‑глобус Торстена Шојермана (Thorsten Scheuermann)
Comment[sr@latin]=Iks‑globus Торстена Шојермана (Thorsten Scheuermann)
Comment[sv]=Xglobe av Thorsten Scheuermann
Comment[tr]=Thorsten Scheuermann tarafından oluşturulan XGlobe
Comment[uk]=XGlobe Торстена Шоєрмана
Comment[uz]=XGlobe (Torsten Shoyerman tomonidan)
Comment[uz@cyrillic]=XGlobe (Торстен Шойерман томонидан)
Comment[vi]=Qủa cầu X bởi Thorsten Scheuermann
Comment[xh]=XGlobe ngu Thorsten Scheuermann
Comment[zh_CN]=X 球体，作者 Thorsten Scheuermann
Comment[zh_TW]=X 地球儀（by Thorsten Scheuermann）
Executable=xglobe
Command=xglobe -dump -once -size %x,%y -nomarkers && mv xglobe-dump.bmp %f
PreviewCommand=xglobe -nomarkers -nolabel -dump -once -size %x,%y && mv xglobe-dump.bmp %f
Refresh=10
