[Desktop Entry]
Encoding=UTF-8
Name=RSS
Name[ar]=أر أس أس
Name[hi]=आरएसएस
Name[ru]=Ленты RSS
Name[sr]=РСС
Name[tg]=Наворҳои RSS
Name[th]=หัวข้อข่าว (RSS)
Name[x-test]=xxRSSxx
Comment=RSS News Data Engine
Comment[ar]=محرك بيانات الخلاصات
Comment[be@latin]=Systema navinaŭ z žarołaŭ „RSS”
Comment[bg]=Зареждане на RSS емисии
Comment[bn_IN]=RSS খবরের ডাটা ইঞ্জিন
Comment[ca]=Motor de dades de notícies RSS
Comment[csb]=Mòtór pòdôwków dlô pòwrózków RSS
Comment[da]=Datamotor til RSS-nyheder
Comment[de]=Datentreiber für RSS-News
Comment[el]=Μηχανή δεδομένων ειδήσεων RSS
Comment[es]=Motor de RSS
Comment[et]=RSS-voogude andmete mootor
Comment[eu]=RSS berrien datu motorea
Comment[fi]=RSS-syötetietomoottori
Comment[fr]=Moteur de données des nouvelles RSS
Comment[gl]=Motor de dados de novas RSS
Comment[gu]=RSS સમાચાર માહિતી એન્જિન
Comment[hi]=आरएसएस समाचार डाटा इंजिन
Comment[is]=RSS fréttagagnavél
Comment[it]=Motore dati notizie RSS
Comment[ja]=RSS ニュースデータエンジン
Comment[kk]=RSS жаңалық деректер тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យព័ត៌មាន RSS
Comment[ko]=RSS 뉴스 데이터 엔진
Comment[ku]=Motora Dane yên Nûçe yên RSS
Comment[lv]=RSS ziņu datu dzinējs
Comment[ml]=RSS ന്യൂസ് ഡേറ്റാ എഞ്ചിന്‍
Comment[mr]=RSS समाचार Data Engine
Comment[nb]=RSS nyhetsdata-motor
Comment[nds]=RSS-Stroom-Datenkarn
Comment[nl]=RSS-nieuws (gegevensengine)
Comment[or]=RSS ଖବର ତଥ୍ୟ ଯନ୍ତ୍ର
Comment[pa]=RSS ਖ਼ਬਰਾਂ ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Silnik danych wiadomości RSS
Comment[pt]=Motor de Dados de Notícias RSS
Comment[pt_BR]=Mecanismo de dados de notícias RSS
Comment[ro]=Motor de date pentru știri RSS
Comment[ru]=Поставщик лент RSS
Comment[sk]=Stroj pre RSS noviny
Comment[sl]=Podatkovni vir za novice RSS
Comment[sr]=Датомотор РСС вести
Comment[sr@latin]=Motor RSS vesti
Comment[sv]=Datagränssnitt för RSS-nyheter
Comment[th]=กลไกข้อมูล รับหัวข้อข่าว (RSS)
Comment[tr]=RSS Haber Veri Motoru
Comment[uk]=Рушій даних новин RSS
Comment[x-test]=xxRSS News Data Enginexx
Comment[zh_CN]=RSS 新闻数据引擎
Comment[zh_TW]=RSS 新聞資料引擎
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-rss+xml
X-KDE-Library=plasma_engine_rss

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=rss
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

