[Desktop Entry]
Name=Air for netbooks
Comment=A breath of fresh air
Comment[et]=Sõõm värsket õhku
Comment[fr]=Une bonne inspiration d'air frais
Comment[gl]=Un pouco de ar fresco
Comment[nds]=En beten Frischluft
Comment[ro]=O gură de aer proaspăt
Comment[tr]=Bir nefes temiz hava
Comment[uk]=Ковток свіжого повітря


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=air-netbook
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=default
