[Desktop Entry]
Name=Switch Activity
Name[pt]=Mudar de Actividade
Name[pt_BR]=Mudar de Actividade
Name[sv]=Byt aktivitet
Name[uk]=Перемкути простір дій
Name[x-test]=xxSwitch Activityxx
Type=Service
Icon=preferences-desktop-color
Comment=Switch to another activity
Comment[pt]=Mudar para outra actividade
Comment[pt_BR]=Mudar para outra actividade
Comment[sv]=Byt till en annan aktivitet
Comment[uk]=Перемкнутися на інший простір дій
Comment[x-test]=xxSwitch to another activityxx

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_switchactivity
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=switchactivity
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

