[Desktop Entry]
Type=Application
DocPath=kcontrol/kcmkio/kio-3.html
Icon=samba
Exec=kcmshell Browsing/Neighbourhood/smb

X-KDE-ModuleType=Library
X-KDE-LibraryName=kio
X-KDE-FactoryName=smb
X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=Windows Shares
Name[cs]=Windows Shares
Name[de]=Samba (Windows)
Name[eo]=Sambo (fenestroj)
Name[fr]=Samba (Windows)
Name[he]=Samba (Windows)
Name[no]=Samba (Windows)
Name[ro]=Samba (Windows)
Name[sl]=Samba (Windows)

Comment=Use to configure which windows (SMB) filesystems you can browse
Comment[ca]=Aquí podeu canviar la vostra configuració SMB
Comment[cs]=Zde je možné provést nastavení SMB
Comment[de]=Hier können Sie Einstelllungen zu SMB vornehmen
Comment[eo]=Agordaĵo pri SMB
Comment[es]=Aquí puede configurar su configuración de SMB
Comment[et]=SMB serveri konfiguratsioon
Comment[fi]=Muokkaa SMB-asetuksia
Comment[fr]=Vous pouvez configurer ici l'utilisation de SMB
Comment[he]=SMB תרוצת תא ןאכ עובקל ךתורשפאב
Comment[hu]=Itt lehet módosítani az SMB beállításokat
Comment[it]=Qui puoi configurare SMB
Comment[ja]=ここでSMBを設定します
Comment[nl]=Hier kunt u uw SMB-configuratie bepalen
Comment[no]=Her kan du konfigurere ditt SMB-oppsett
Comment[no_NY]=Du kan setja opp SMB-innstillingane dine her
Comment[pt]=Configuração das propriedades do protocolo SMB
Comment[ro]=Configurează servicii Samba
Comment[sl]=Tu lahko prikrojite nastavitev SMB
Comment[sr]=Ovde možete podesiti SMB
Comment[sv]=Här kan du ändra dina SMB-inställningar
Comment[ta]=நீஙகள SMB வடவைமபபிைன இஙேக வடவைமககலாம
Comment[tr]=SMB yapýlandýrmasýný buradan yapabilirsiniz

Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network
Keywords[ca]=SMB,SAMBA,client SMB,xarxa Windows,LAN,Xarxa
Keywords[cs]=SMB,Samba,SMB klient,Síť Microsoft Windows,LAN,Síť
Keywords[de]=SMB,Samba,SMB-Client,Windows-Netzwerk,LAN,Netz,Netzwerk
Keywords[eo]=SMB,Sambo,kliento,Vindozo,reto,LAN
Keywords[es]=SMB,SAMBA,cliente SMB,Red Windows,LAN,Red
Keywords[et]=SMB,SAMBA,SMB klient,Windowsi võrk,LAN,Võrk
Keywords[fi]=SMB,SAMBA,SMB-asiakas,Windows verkko,LAN,Verkko
Keywords[he]=תשר,LAN,Windows תשר,SMB חוקל,SAMBA,SMB
Keywords[hu]=SMB,SAMBA,SMB kliens,windows hálózat,LAN,hálózat
Keywords[nl]=SMB,SAMBA,SMB client,Windows-netwerk,LAN,Netwerk,Windows
Keywords[no]=SMB,SAMBA,SMB-klient,Windows-nettverk,LAN,Nettverk
Keywords[no_NY]=SMB,SAMBA,SMB-klient,Windows-nettverk,LAN,nettverk
Keywords[pt]=SMB,SAMBA,cliente SMB,rede Windows,LAN,rede
Keywords[ro]=SMB,SAMBA,client SMB,Reţea Windows,LAN,reţea
Keywords[sl]=SMB,SAMBA,odjemnik SMB,omrežje Windows,LAN,omrežje
Keywords[tr]=SMB,SAMBA,SMB istemci,Windows aðý,LAN,Að

