[KSplash Theme: Default]
Name = KDE 4.2 Splash Screen
Description = Oxygen Splash Screen.
Version = 1.1
Author = Nuno Pinheiro <pinheiro@kde.org>  & 
         Riccardo Iaconelli <riccardo@kde.org> 

# Theme behaviour settings.
Engine = KSplashX
