[Desktop Entry]
Exec=kcmshell4 kcm_pkk_authorization
Icon=object-locked
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_pkk_authorization
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system

Name=PolicyKit Authorization
Name[de]=PolicyKit-Berechtigungen
Name[el]=Εξουσιοδότηση PolicyKit
Name[en_GB]=PolicyKit Authorisation
Name[et]=PolicyKiti autentimine
Name[ga]=Údarú PolicyKit
Name[km]=កា​រផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​របស់ PolicyKit
Name[nds]=PolicyKit-Verlöven
Name[pt]=Autorização do PolicyKit
Name[pt_BR]=Autorização do PolicyKit
Name[ro]=Autorizare PolicyKit
Name[sv]=Policykit behörighet
Name[tr]=PolicyKit Yetkilendirmesi
Name[uk]=Уповноваження PolicyKit
Name[x-test]=xxPolicyKit Authorizationxx
Name[zh_TW]=PolicyKit 授權

Comment=Set up policies for applications using PolicyKit
Comment[de]=Einrichten von Richtlinien für Anwendungen durch PolicyKit
Comment[el]=Ρύθμιση πολιτικών για εφαρμογές που χρησιμοποιούν το PolicyKit
Comment[et]=Reeglite kehtestamine rakendustele PolicyKiti abil
Comment[ga]=Socraigh polasaithe le haghaidh feidhmchlár a bhaineann úsáid as PolicyKit
Comment[km]=រៀបចំ​គោលនយោបាយ​សម្រាប់​កម្មវិធី​ដែលប្រើ PolicyKit
Comment[nds]=Regeln för Programmen opstellen, de PolicyKit bruukt
Comment[pt]=Configurar as políticas das aplicações que usam o PolicyKit
Comment[pt_BR]=Configurar as políticas dos aplicativos usando o PolicyKit
Comment[ro]=Stabilește politici pentru aplicații utilizînd PolicyKit
Comment[sv]=Ställ in handlingssätt för program med användning av Policykit
Comment[uk]=Встановіть правила для програм за допомогою PolicyKit
Comment[x-test]=xxSet up policies for applications using PolicyKitxx
Comment[zh_TW]=設定使用 PolicyKit 的應用程式的政策

X-KDE-Keywords=Password,Policy,Polkit,Policies,Security,Management
