[Desktop Entry]
Type=Service
Name=KDED Systemtray daemon
Name[en_GB]=KDED Systemtray dæmon
Name[et]=KDE süsteemisalve deemon
Name[ga]=Deamhan thráidire an chórais KDED
Name[gl]=Daemon de bandexa do sistema de KDE
Name[nds]=KDED -Systeemafsnitt-Dämoon
Name[pt]=Servidor da Bandeja do Sistema para o KDE
Name[pt_BR]=Daemon da área de notificação do KDED
Name[sv]=KDE-systembricksdemon
Name[uk]=Фонова служба системного лотка KDED
Name[zh_TW]=KDE 系統匣伺服程式
Comment=Keep track of applications that want to use the D-Bus based system tray
Comment[et]=Silma peal hoidmine rakendustel, mis on valmis kasutama D-Busi põhist süsteemisalve
Comment[ga]=Bainistigh feidhmchláir ar mian leo tráidire an chórais bunaithe a D-Bus a úsáid
Comment[gl]=Segue a pista dos programas que desexan empregar a bandexa do sistema baseada en D-Bus
Comment[nds]=De Översicht över Programmen wohren, de den Systeemafsnitt bruukt, de op den D-Bus opbuut 
Comment[pt]=Mantém o registo das aplicações que desejam usar a bandeja do sistema baseada em D-Bus
Comment[pt_BR]=Mantém o registro dos aplicativos que desejam usar o D-Bus baseado na área de notificação
Comment[sv]=Håll reda på program som vill använda den D-Bus baserade systembrickan
Comment[uk]=Стежте за програмами, які бажають використовувати заснований на D-Bus системний лоток
Comment[zh_TW]=追蹤要使用 D-Bus 系統匣的應用程式
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=systemtraydaemon
X-KDE-DBus-ModuleName=systemtraydaemon
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
