[Desktop Entry]
Encoding=UTF-8
Exec=kmenuedit
Icon=kmenuedit
DocPath=kmenuedit/index.html
Type=Application
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Editor
Name[af]=Kieslys Redigeerder
Name[ar]=محرر القوائم
Name[az]=Menyu Editoru
Name[be]=Рэдактар мэню
Name[bg]=Редактор на системното меню
Name[bn]=মেনু সম্পাদক
Name[br]=Aozer lañserioù
Name[bs]=Editor menija
Name[ca]=Editor del menú
Name[cs]=Editor nabídek
Name[cy]=Golygydd Dewislen
Name[da]=Menueditor
Name[de]=Menü-Editor
Name[el]=Επεξεργαστής μενού
Name[eo]=Menuredaktilo
Name[es]=Editor de menús
Name[et]=Menüü redaktor
Name[eu]=Menu editorea
Name[fa]=ویرایشگر فهرست
Name[fi]=Valikon asetukset
Name[fr]=KMenuEdit
Name[fy]=Menubewurker
Name[ga]=Eagarthóir Roghchláir
Name[gl]=Editor de Menú
Name[he]=עורך התפריטים
Name[hi]=मेन्यू संपादक
Name[hr]=Uređivač izbornika
Name[hu]=Menüszerkesztő
Name[id]=Editor Menu
Name[is]=Sýsla með valmyndir
Name[it]=Editor dei menu
Name[ja]=メニューエディタ
Name[ko]=차림표 고치기
Name[lo]=ເຄື່ອງມືແກ້ໄຂເມນູ
Name[lt]=Meniu redaktorius
Name[lv]=Izvēlnes Redaktors
Name[mk]=Уредувач на мени
Name[mn]=Цэс-Боловсруулагч
Name[mt]=Editur tal-menu
Name[nb]=Menyredigering
Name[nds]=Menüeditor
Name[nl]=Menubewerker
Name[nn]=Menyredigering
Name[nso]=Mofetosi wa Menu
Name[oc]=Editor de menu
Name[pa]=ਮੇਨੂ ਸੰਪਾਦਕ
Name[pl]=Edytor menu
Name[pt]=Editor de Menus
Name[pt_BR]=Editor de Menus
Name[ro]=Editor de meniuri
Name[ru]=Редактор меню
Name[se]=Fállodoaimmaheaddji
Name[sk]=Editor menu
Name[sl]=Urejevalnik menijev
Name[sr]=Уређивач менија
Name[sr@Latn]=Uređivač menija
Name[sv]=Menyeditor
Name[ta]=பட்டியல் திருத்துபவர்
Name[tg]=Муҳаррири меню
Name[th]=แก้ไขเมนู
Name[tr]=Menü Düzenleyicisi
Name[uk]=Редактор меню
Name[uz]=Меню таҳрирчи
Name[ven]=Musengulusi wa Menu
Name[vi]=Biên soạn menu
Name[wa]=Aspougneu di menus
Name[xh]=Umhleli we Menu
Name[xx]=xxMenu Editorxx
Name[zh_CN]=菜单编辑器
Name[zh_TW]=選單編輯器
Name[zu]=Umlungisi wemenu

X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Settings;
