[Desktop Entry]
Encoding=UTF-8
Exec=kmenuedit
Icon=kmenuedit
DocPath=kmenuedit/index.html
Type=Application
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Editor
Name[af]=Kieslys Redigeerder
Name[ar]=محرر القوائم
Name[bg]=Редактор на системното меню
Name[br]=Aozer lañserioù
Name[ca]=Editor del menú
Name[cs]=Editor nabídek
Name[csb]=Editora menu
Name[cy]=Golygydd Dewislen
Name[da]=Menueditor
Name[de]=Menü-Editor
Name[el]=Επεξεργαστής μενού
Name[eo]=Menuredaktilo
Name[es]=Editor de menús
Name[et]=Menüü redaktor
Name[eu]=Menu editorea
Name[fa]=ویرایشگر گزینگان
Name[fi]=Valikon asetukset
Name[fr]=KMenuEdit
Name[fy]=Menubewurker
Name[ga]=Eagarthóir Roghchláir
Name[gl]=Editor do Menu
Name[he]=עורך התפריטים
Name[hr]=Uređivač izbornika
Name[hu]=Menüszerkesztő
Name[is]=Sýsla með valmyndir
Name[it]=Editor dei menu
Name[ja]=メニューエディタ
Name[ka]=მენიუს რედაქტორი
Name[kk]=Мәзір редакторы
Name[km]=កម្មវិធី​និពន្ធ​ម៉ឺនុយ
Name[ko]=차림표 고치기
Name[lt]=Meniu rengyklė
Name[lv]=Izvēlnes Redaktors
Name[mk]=Уредувач на мени
Name[ms]=Editor Menu
Name[nb]=Menyredigering
Name[nds]=Menüeditor
Name[ne]=मेनु सम्पादक
Name[nl]=Menubewerker
Name[nn]=Menyredigering
Name[pa]=ਮੇਨੂ ਸੰਪਾਦਕ
Name[pl]=Edytor menu
Name[pt]=Editor de Menus
Name[pt_BR]=Editor de Menus
Name[ro]=Editor de meniuri
Name[ru]=Редактор меню
Name[se]=Fállodoaimmaheaddji
Name[sl]=Urejevalnik menijev
Name[sr]=Уређивач менија
Name[sr@Latn]=Uređivač menija
Name[sv]=Menyeditor
Name[ta]=பட்டியல் திருத்துபவர்
Name[tg]=Муҳаррири меню
Name[tr]=Menü Düzenleyicisi
Name[uk]=Редактор меню
Name[uz]=Меню таҳрирчи
Name[x-test]=xxMenu Editorxx
Name[xh]=Umhleli we Menu
Name[zh_TW]=選單編輯器

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
