[Desktop Entry]
Exec=kmenuedit
Icon=kmenuedit
X-DocPath=kmenuedit/index.html
Type=Application
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Editor

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
NoDisplay=true
