[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell fonts
Icon=font
Type=Application
DocPath=kcontrol/fonts/index.html


X-KDE-Library=fonts
X-KDE-FactoryName=fonts
X-KDE-ParentApp=kcontrol

Name=Fonts

Comment=Font settings

Keywords=fonts,font size,styles,charsets,character sets,panel,kicker,control panel,desktops,FileManager,Toolbars,Menu,Window Title,Title

Categories=Qt;KDE;X-KDE-settings-looknfeel;
