[Desktop Entry]
Name=Nepomuk Desktop Search Runner
Name[ar]=مشغل بحث سطح المكتب نبومك
Name[ast]=Guetador pa escritoriu Nepomuk
Name[be@latin]=Modul pošuku ŭ kamputary praz systemu „Nepomuk”
Name[bg]=Търесне върху работния плот с Nepomuk
Name[bs]=izvođač Nepomukove pretrage površi
Name[ca]=Execució de cerques d'escriptori del Nepomuk
Name[ca@valencia]=Execució de cerques d'escriptori del Nepomuk
Name[cs]=Vyhledávání v počítači pomocí Nepomuku
Name[csb]=Szëkôrz pùltu Nepomuka
Name[da]=Runner til Nepomuk skrivebordssøgning
Name[de]=Nepomuk-Desktopsuche
Name[el]=Εκτελεστής αναζήτησης επιφάνειας εργασίας Nepomuk
Name[en_GB]=Nepomuk Desktop Search Runner
Name[eo]=Nepomuk Labortabla serĉa funkciilo
Name[es]=Buscador para escritorio Nepomuk
Name[et]=Nepomuki töölauaotsingu käivitaja
Name[eu]=Nepomuk mahaigain bilaketarako abiarazlea
Name[fi]=Nepomuk-työpöytähaku
Name[fr]=Lanceur de recherche Nepomuk sur l'ordinateur
Name[fy]=Nepomuk buroblêd syker
Name[ga]=Feidhmitheoir Chuardach Deisce Nepomuk
Name[gl]=Executor de buscas do escritorio con Nepomuk
Name[gu]=નેપોમુક ડેસ્કટોપ શોધ ચલાવનાર
Name[he]=מפעיל חיפוש בשולחן עבודה באמצעות Nepomuk
Name[hi]=नेपोमक डेस्कटॉप खोज रनर
Name[hne]=नेपोमक डेस्कटाप खोज चलइया
Name[hr]=Pokretač Nepomuk traženja po računalu
Name[hu]=Nepomuk keresőszolgáltatás
Name[ia]=Executor de cerca de scriptorio de Nepomuk
Name[id]=Pelari Cari Desktop Nepomuk
Name[is]=Keyrsluforrit Nemopuk skjáborðsleitar
Name[it]=Esecutore di ricerche sul desktop Nepomuk
Name[ja]=Nepomuk デスクトップ検索 Runner
Name[kk]=Nepomuk іздеу жегкіші
Name[km]=កម្មវិធី​រត់​ការ​ស្វែងរក​ផ្ទៃតុ Nepomuk
Name[kn]=ನೆಪೊಮುಕ್ ಗಣಕತೆರೆ ಹುಡುಕಾಟ ಚಾಲಕ
Name[ko]=Nepomuk 데스크톱 검색 실행기
Name[ku]=Nepomuk Xebatkara Lêgerîna Sermasê
Name[lt]=Nepomuk darbastalio paieškos leistukas
Name[lv]=Nepomuk darbvirsmas meklēšanas darbinātājs
Name[ml]=നെപ്പോമുക്ക് പണിയിടം തെരയുന്നതിനുള്ള റണ്ണര്‍
Name[mr]=Nepomuk डेस्कटॉप Search Runner
Name[nb]=Nepomuk starter for skrivebordssøk
Name[nds]=Nepomuk-Schriefdischsöök-Dreger
Name[nl]=Nepomuk Bureaublad-zoekopdrachtuitvoerder
Name[nn]=Nepomuk skrivebordssøk
Name[or]=Nepomuk ଡ଼େସ୍କଟପ ସନ୍ଧାନ ଚାଳକ
Name[pa]=ਨਿਮੁਪੂਕ ਡੈਸਕਟਾਪ ਖੋਜ ਰਨਰ
Name[pl]=Wyszukiwanie na pulpicie za pomocą Nepomuka
Name[pt]=Execução de Pesquisas no Ambiente de Trabalho do Nepomuk
Name[pt_BR]=Execução de pesquisas do Nepomuk no ambiente de trabalho
Name[ro]=Căutare de birou Nepomuk
Name[ru]=Поиск по меткам и содержимому
Name[si]=Nepomuk වැඩතල සෙවුම් ක්‍රියාකරවනය
Name[sk]=Hľadanie na ploche pomocou Nepomuku
Name[sl]=Zaganjalnik za namizno iskanje
Name[sr]=извођач Непомукове претраге површи
Name[sr@ijekavian]=извођач Непомукове претраге површи
Name[sr@ijekavianlatin]=izvođač Nepomukove pretrage površi
Name[sr@latin]=izvođač Nepomukove pretrage površi
Name[sv]=Nepomuks körning av skrivbordssökning
Name[ta]=Nepomuk Desktop Search Runner
Name[tg]=Включить Nepomuk Semantic Desktop
Name[th]=ตัวค้นหาบนพื้นที่ทำงานของ Nepomuk
Name[tr]=Nepomuk Masaüstü Araması
Name[ug]=Nepomuk ئۈستەلئۈستى ئىزدەش ئىجراچىسى
Name[uk]=Інструмент запуску стільничного пошуку Nepomuk
Name[wa]=Enondeu di cweraedje sol sicribanne Nepomuk
Name[x-test]=xxNepomuk Desktop Search Runnerxx
Name[zh_CN]=Nepomuk 桌面搜索运行器
Name[zh_TW]=Nepomuk 桌面搜尋執行器
Comment=KRunner which performs desktop searches via Nepomuk
Comment[ar]=مشغل لـKRunner ينفذ البحث لسطح المكتب بواسطة نبومك
Comment[ast]=Krunner executa guetes nel escritoriu vía Nepomuk
Comment[be@latin]=Modul „KRunner”, jaki šukaje ŭ kamputary praz systemu „Nepomuk”
Comment[bg]=KRunner търси с помощта на Nepomuk
Comment[bs]=Izvođač za pretraživanje radne površi putem Nepomuka
Comment[ca]=El KRunner executa cerques d'escriptori via el Nepomuk
Comment[ca@valencia]=El KRunner executa cerques d'escriptori via el Nepomuk
Comment[cs]=KRunner vyhledává v počítači prostřednictvím Nepomuku
Comment[da]=KRunner som udfører skrivebordssøgning via Nepomuk
Comment[de]=Starter, der eine Desktopsuche mit Nepomuk ausführt.
Comment[el]=KRunner που εκτελεί αναζητήσεις επιφάνειας εργασίας μέσω του Nepomuk
Comment[en_GB]=KRunner which performs desktop searches via Nepomuk
Comment[es]=Krunner que ejecuta búsquedas en el escritorio vía Nepomuk
Comment[et]=KRunner, mis sooritab töölauaotsinguid Nepomuki vahendusel
Comment[eu]=Nepomuk bitartez mahaigaineko bilaketak egiten dituen KRunner-a
Comment[fi]=KRunner, joka suorittaa työpöytähakuja Nepomuk-ohjelman kautta
Comment[fr]=Krunner avec utilisation de Nepomuk pour les recherches sur l'ordinateur
Comment[fy]=KRunner dy sykopdrachten fia Nepomuk útfiert
Comment[ga]=KRunner a chuardaíonn an deasc le Nepomuk
Comment[gl]=Un KRunner que fai buscas no escritorio mediante Nepomuk
Comment[gu]=KRunner જે નેપોમુક વડે ડેસ્કટોપ શોધ કરે છે
Comment[he]=‏KRunner אשר מבצע חיפוש בשולחן העבודה באמצעות Nepomuk
Comment[hi]=के-रनर जो नेपोमक के जरिए डेस्कटॉप खोज करता है
Comment[hne]=के-रनर जउन हर नेपोमक के साथ डेस्कटाप सर्च करथे
Comment[hr]=KRunner koji izvodi pretragu računala preko Nepomuka
Comment[hu]=Kezelőelem kereséshez a Nepomukon keresztül
Comment[ia]=KRunner que il exeque cercas de scriptorio via Nepomuk
Comment[id]=KRunner yang melakukan pencarian desktop via Nepomuk
Comment[is]=KRunner keyrsluforrit fyrir skjáborðsleit með Nemopuk
Comment[it]=KRunner che esegue ricerche sul desktop con Nepomuk
Comment[ja]=Nepomuk を介してデスクトップ検索を行う KRunner
Comment[kk]=Nepomuk арқылы іздеуді орындайтын KRunner бағдарламасы
Comment[km]=KRunner ដែល​​អនុវត្ត​ការ​ស្វែងរក​ផ្ទៃតុ​តាមរយៈ Nepomuk
Comment[kn]=ನೆಪೋಮುಕ್ ಮೂಲಕ KRunner ಗಣಕತೆರೆಯಲ್ಲಿ ಹುಡುಕುವ ಕೆಲಸವನ್ನು ಮಾಡುತ್ತದೆ
Comment[ko]=Nepomuk을 통해 데스크톱을 검색하는 KRunner
Comment[lt]=KRunner atliekantis darbastalio paiešką per Nepomuk
Comment[lv]=KRunner, kas veic meklēšanu ar Nepomuk
Comment[ml]=നെപ്പോമുക്ക് വഴി പണിയിടത്തില്‍ തെരച്ചില്‍ നടത്തുന്ന കെറണ്ണര്‍
Comment[mr]=Nepomuk द्वारे डेस्कटॉप शोध कार्यान्वीत करणारे KRunner
Comment[nb]=KRunner som utfører skrivebordssøk via Nepomuk
Comment[nds]=KRunner-Moduul, mit dat sik Schriefdischsöken över Nepomuk utföhren laat
Comment[nl]=KRunner die zoekopdrachten via Nepomuk uitvoert
Comment[nn]=KRunner-program som utfører skrivebordssøk gjennom Nepomuk
Comment[pa]=ਕੇ-ਰਨਰ, ਜੋ ਕਿ ਨਿਪੁਮੂਕ ਰਾਹੀਂ ਡੈਸਕਟਾਪ ਖੋਜ ਕਰਦਾ ਹੈ
Comment[pl]=KRunner, który dokonuje wyszukiwania za pomocą Nepomuka
Comment[pt]=Um KRunner que efectua pesquisas no ambiente de trabalho com o Nepomuk
Comment[pt_BR]=Um KRunner que efetua pesquisas no ambiente de trabalho com o Nepomuk
Comment[ro]=Un KRunner ce execută căutări de birou prin Nepomuk
Comment[ru]=Поиск данных с помощью Nepomuk
Comment[si]=Nepomuk යොදාගෙන වැඩතල සෙවුම් ඉටුකරන KRunner
Comment[sk]=KRunner, ktorý prehľadáva plochu pomocou Nepomuku
Comment[sl]=Zaganjalnik, ki prek Nepomuka opravi iskanje po namizju
Comment[sr]=Извођач за претраживање радне површи путем Непомука
Comment[sr@ijekavian]=Извођач за претраживање радне површи путем Непомука
Comment[sr@ijekavianlatin]=Izvođač za pretraživanje radne površi putem Nepomuka
Comment[sr@latin]=Izvođač za pretraživanje radne površi putem Nepomuka
Comment[sv]=Programkörning som utför skrivbordssökningar via Nepomuk
Comment[ta]=KRunner which performs desktop searches via Nepomuk
Comment[te]=నెపోమక్ ద్వారా రంగస్థల శోధనలను జరిపే KRunner
Comment[th]=KRunner สามารถค้นหาบนพื้นที่ทำงานผ่าน Nepomuk
Comment[tr]=Nepomuk üzerinden masaüstü araması yapan KRunner
Comment[ug]=KRunner ئارقىلىق KRunner ئۈستەلئۈستى ئىزدەش ئىجراچىسى
Comment[uk]=KRunner, який виконуватиме стільничний пошук за допомогою Nepomuk
Comment[wa]=KRunner ki fwait des cweraedjes sol sicribanne avou Nepomuk
Comment[x-test]=xxKRunner which performs desktop searches via Nepomukxx
Comment[zh_CN]=通过 Nepomuk 执行桌面搜索的运行器
Comment[zh_TW]=透過 Nepomuk 執行桌面搜尋的 KRunner 程式。
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=nepomuk
X-KDE-Library=krunner_nepomuksearchrunner
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Name=nepomuksearch
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
