[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=dict.cc Translation: German to English
Name[da]=dict.cc oversættelse: Tysk til engelsk
Name[fr]=Traduction dict.cc : Allemand en Anglais
Name[ga]=dist.cc Aistriúchán: Gearmáinis go Béarla
Name[hu]=Dict.cc - Fordítás németről angolra
Name[nl]=dict.cc-vertaling: Duits naar Engels
Name[pt]=Tradução do dict.cc: Alemão para Inglês
Name[pt_BR]=dict.cc - Tradução: Alemão para Inglês
Name[sv]=dict.cc översättning: tyska till engelska
Name[ta]=dict.cc Translation மொழிப்பெயர்ப்பு: ஜெர்மன் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[uk]=dict.cc: переклад з німецької на англійську
Query=http://www.dict.cc/?s=\\{@}
ServiceTypes=SearchProvider
Type=Service
