[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=WordReference.com Translation: German to English
Name[ar]=WordReference.com Translation: الألمانية إلى الإنجليزية
Name[az]=WordReference.com Tərcümə:Almancadan İngiliscəyə
Name[be]=Пераклад WordReference.com: з нямецкай на ангельскую
Name[bs]=WordReference.com prijevod: Njemački u engleski
Name[ca]=Traducció WordReference.com: alemany a anglès
Name[cs]=Překlad WordReference.com: z němčiny do angličtiny
Name[cy]=Cyfieithiad WordReference.com: Almaeneg i Saesneg
Name[da]=WordReference.com oversættelse: Tysk til engelsk
Name[de]=WordReference.com-Übersetzung: Deutsch in Englisch
Name[el]=WordReference.com Μετάφραση: Γερμανικά σε Αγγλικά
Name[eo]=WordReference.com Traduko: germana al angla
Name[es]=WordReference.com Traducción: alemán a inglés
Name[et]=WordReference.com tõlkimine: saksa->inglise
Name[fi]=WordReference.com-käännös: saksasta englanniksi
Name[fr]=Traduction sur WordReference.com: Allemand en Anglais
Name[gl]=WordReference.com Traducción: Xermano a Inglés
Name[he]=תרגום WordReference.com: גרמני-אנגלי
Name[hi]=WordReference.com अनुवादः जर्मन से अंग्रेजी
Name[hu]=WordReference.com fordítás: németről angolra
Name[it]=Traduzione WordReference.com: dal tedesco all'inglese
Name[mn]=WordReference.com Орчуулга: Германаас Англи руу
Name[mt]=WordReference.com: Ġermaniż għal Ingliż
Name[nb]=WordReference.com - oversettelse: tysk til engelsk
Name[nds]=WordReference.com Översetten: Hoogdüütsch to Ingelsch
Name[nl]=WordReference.com-vertaling: Duits naar Engels
Name[nn]=WordReference.com - omsetjing: tysk til engelsk
Name[pl]=WordReference.com - niemiecki -> angielski
Name[pt]=Tradução do WordReference.com: Alemão para Inglês
Name[pt_BR]=WordReference.com - Tradução: Alemão para Inglês
Name[ro]=Traducere WordReference.com: germană la engleză
Name[sk]=WordReference.com preklad z nemčiny do angličtiny
Name[sl]=Prevod WordReference.com: nemščina v angleščino
Name[sr]=WordReference.com Превод: са немачког на енглески
Name[sr@Latn]=WordReference.com Prevod: sa nemačkog na engleski
Name[sv]=Wordreference.com översättning: tyska till engelska
Name[ta]=WordReference.com மொழிப்பெயர்ப்பு: ஜெர்மன் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[tg]=WordReference.com Тарҷума: Аз Олмонӣ ба англисӣ
Name[tr]=WordReference.com Çevirisi: Almancadan İngilizceye
Name[uk]=WordReference.com - переклад з німецької на англійську
Name[uz]=WordReference.com таржима: Олмончадан Инглизчага
Name[vi]=WordReference.com Dich: Đức sang Anh
Name[xx]=xxWordReference.com Translation: German To Englishxx
Name[zh_CN]=WordReference.com 翻译：德语译英语
Name[zh_TW]=WordReference.com 翻譯: 德文至英文
Query=http://www.wordreference.com/de/en/translation.asp?deen=\\{@}
ServiceTypes=SearchProvider
Type=Service
