[Desktop Entry]
Charset=
Hidden=false
Keys=en2de
Name=dict.cc Translation: English to German
Name[da]=dict.cc oversættelse: engelsk til tysk
Name[fr]=Traduction dict.cc : Anglais en Allemand
Name[ga]=dict.cc Aistriúchán: Béarla go Gearmáinis
Name[hu]=Dict.cc - Fordítás angolról németre
Name[nl]=dict.cc-vertaling: Engels naar Duits
Name[pt]=Tradução do dict.cc: Inglês para Alemão
Name[pt_BR]=dict.cc - Tradução: Inglês para Alemão
Name[sv]=dict.cc översättning: engelska till tyska
Name[ta]=dict.cc Translation  மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ஜெர்மன் மொழிக்கு
Name[uk]=dict.cc: переклад з англійської на німецьку
Query=http://www.dict.cc/?s=\\{@}
ServiceTypes=SearchProvider
Type=Service
