[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Freshmeat
Name[ko]=날고기(프레시미트)
Name[nso]=Nama ye Botse
Name[ven]=Namathethe
Name[zu]=Inyama yamanje
ServiceTypes=SearchProvider
Keys=fm,freshmeat
Query=http://freshmeat.net/search/?q=\\{@}
