[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Google
Name[af]=google
Name[ko]=구글
Name[xx]=xx
ServiceTypes=SearchProvider
Keys=gg,google
Query=http://www.google.com/search?q=\\{@}
