[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Google Image Search
Name[af]=google beeld soektog
Name[ar]=بحث صور Google
Name[az]=Google Rəsm Axtarıcısı
Name[be]=Пошук малюнкаў Google
Name[bg]=Търсене на изображения при Google
Name[bs]=Google traženje slika
Name[cs]=Hledání obrázků (Google)
Name[da]=Google billedsøgning
Name[de]=Google-Bildsuche
Name[el]=Αναζήτηση Εικόνων στο Google
Name[eo]=Bildoserĉo ce "Google"
Name[es]=Búsqueda de imágenes de Google
Name[et]=Google piltide otsing
Name[eu]=Google Irudi Bilaketa
Name[fi]=Google kuvahaku
Name[fr]=Recherche d'images avec Google
Name[hu]=Google képkereső
Name[it]=Ricerca immagini di Google
Name[ja]=Google 画像検索
Name[ko]=구글 그림 찾기
Name[lt]=Google paveikslėlių paieška
Name[lv]=Google Attēlu Meklēšana
Name[nl]=Google plaatjes zoeken
Name[nn]=Google biletsøk
Name[pt]=Pesquisa de Imagens do Google
Name[pt_BR]=Busca de  Imagens do Google
Name[ro]=Căutare de imagini Google
Name[ru]=Google - поиск изображений
Name[sk]=Hľadanie obrázkov Google
Name[sl]=Iskanje slik z Google
Name[sv]=Google bildsökning
Name[tr]=Google Resim Arayıcı
Name[uk]=Пошук зображень на Google
Name[ven]=U toda nga Tshivhoni tsha Google
Name[xh]=Uphendlo lomfanekiso we Google
Name[xx]=xx
Name[zh_CN]=Google 图像搜索
Name[zh_TW]=Google 影像搜尋
Name[zu]=Google Ukuphenya Umboniso
ServiceTypes=SearchProvider
Keys=ggi,images
Query=http://images.google.com/images?q=\\{@}
