[Desktop Entry]
Encoding=UTF-8
Keys=ggx
Name=Google Advanced Search
Name[af]=google gevorderde soektog
Name[ar]=بحث Google المتقدم
Name[az]=Google Təkmilləşdirilmiş Axtarış
Name[bg]=Разширено Търсене при Google
Name[bs]=Google napredno pretraživanje
Name[cs]=Rozšířené hledání (Google)
Name[da]=Google avanceret søgning
Name[de]=Erweiterte Google-Suche
Name[es]=Búsqueda avanzada de Google
Name[eu]=Google Bilaketa aurreratua
Name[fi]=Google edistynyt haku
Name[fr]=Recherche avancée avec Google
Name[hu]=Google részletes keresés
Name[ko]=구글 자세히 찾기
Name[lt]=Išplėsta Google paieška
Name[lv]=Google Uzlabota Meklēšana
Name[nl]=Google geavanceerd zoeken
Name[nn]=Google avansert søk
Name[pt]=Pesquisa Avançada do Google
Name[pt_BR]=Procura Avançada do Google
Name[sk]=Pokročilé hľadanie Google
Name[sl]=Napredno iskanje z Google
Name[sv]=Google avancerad sökning
Name[tr]=Google Gelişmiş Arayıcı
Name[xh]=Google Uphendlo olubhekisa phambili
Name[xx]=xx
Name[zh_CN]=Google 高级搜索
Name[zh_TW]=Google 進階搜尋
Name[zu]=Google Ukuphenya Okuphambili
Query=http://www.google.com/search?as_q=\\{all,@}&num=\\{num,"10"}&btnG=Google+Search&as_epq=\\{exact}&as_oq=\\{any}&as_eq=\\{without}&lr=\\{lang}&as_occt=\\{occ,"any"}&as_dt=\\{siteop,"i"}&as_sitesearch=\\{site}&safe=\\{safe,"active"}
ServiceTypes=SearchProvider
Type=Service
