[Desktop Entry]
Type=Service
Name=Google (I'm Feeling Lucky)
ServiceTypes=SearchProvider
Keys=ggl,gglucky
Query=http://www.google.com/search?q=\\{@}&btnI=I%27m+Feeling+Lucky
