[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=HyperDictionary.com Thesaurus
Name[az]=HyperDictionary.com Tezaurus
Name[be]=Тэзаўрус HyperDictionary.com
Name[bs]=HyperDictionary.com rječnik
Name[cs]=Tezaurus HyperDictionary.com
Name[cy]=Thesawrws HyperDictionary.com
Name[de]=HyperDictionary.com: Thesaurus
Name[el]=Θησαυρός λέξεων HyperDictionary.com
Name[eo]=HyperDictionary.com-tezaŭro
Name[es]=Tesaurus de HyperDictionary.com
Name[et]=HyperDictionary.com thesaurus
Name[fi]=HyperDictionary.com-sanakirja
Name[fr]=Thésaurus HyperDictionary.com
Name[he]=HyperDictionary.com - מילים נרדפות
Name[hi]=HyperDictionary.com समांतर शब्दकोश
Name[hu]=HyperDictionary.com szinonimaszótár
Name[it]=Sinonimi HyperDictionary.com
Name[pl]=HyperDictionary.com - słownik wyrazów bliskoznacznych
Name[pt]=Gramática do HyperDictionary.com
Name[ro]=Dicţionarul HyperDictionary.com
Name[sk]=HyperDictionary.com - slovník synoným
Name[sl]=Tezaver HyperDictionary.com
Name[sr]=HyperDictionary.com речник синонима
Name[sv]=HyperDictionary.com synonymlexikon
Name[ta]=Merriam-Webster சொற்களஞ்சியம்
Name[uk]=Словник синонімів HyperDictionary.com
Name[uz]=HyperDictionary.com луғати
Name[xx]=xxHyperDictionary.com Thesaurusxx
Name[zh_CN]=HyperDictionary.com 宝藏
ServiceTypes=SearchProvider
Keys=hdt,hd-ths,hd-thesaurus
Query=http://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}
