[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=RPM-Find
Name[de]=RPM-Suche
Name[eo]=RPM-trovilo
Name[fi]=RPM-haku
Name[fo]=RPM-finn
Name[is]=RPM-leit
Name[ko]=RPM 찾기
Name[lv]=RPM-Meklēšana
Name[nl]=RPM-Find (doorzoekbare RPM-database)
Name[nso]=RPM-Hwetsa
Name[pl]=Szukanie RPM-ów
Name[ro]=Căutare pachete RPM
Name[ru]=Поиск RPM
Name[ss]=Tfola i-RPM
Name[ven]=RPM-Toda
Name[xh]=RPM-Fumana
Name[zu]=RPM-Thola
ServiceTypes=SearchProvider
Keys=rf,rpmfind
Query=http://rpmfind.net/linux/rpm2html/search.php?query=\{@}
