[KDE Desktop Pattern]
Comment=Fish Net
Comment[af]=Visnet
Comment[ar]=شبكة السمك
Comment[ast]=Rede
Comment[be]=Рыбалоўная сетка
Comment[be@latin]=Rybarskaje sieciva
Comment[bg]=Рибарска мрежа
Comment[bn]=মাছ ধরার জাল
Comment[br]=Roued pesk
Comment[bs]=Ribarska mreža
Comment[ca]=Xarxa de peix
Comment[ca@valencia]=Xarxa de peix
Comment[cs]=Rybářská síť
Comment[csb]=Falszëwô séc
Comment[cy]=Rhwyd Pysgod
Comment[da]=Fiskenet
Comment[de]=Fischernetz
Comment[el]=Δίχτυ ψαριών
Comment[en_GB]=Fish Net
Comment[eo]=Ŝajnigita reto
Comment[es]=Red
Comment[et]=Kalavõrk
Comment[eu]=Fish sarea
Comment[fi]=Fish-verkko
Comment[fr]=Filet de pêche
Comment[fy]=Fisknet
Comment[ga]=Eangach
Comment[gl]=Rede
Comment[gu]=માછલીની જાળ
Comment[he]=רשת דגים
Comment[hi]=मछली जाली
Comment[hne]=मछरी जाला
Comment[hr]=Ribarska mreža
Comment[hsb]=Syć z rybami
Comment[hu]=Halászháló
Comment[ia]=Rete de Pisce (Fish Net)
Comment[id]=Jaring Ikan
Comment[is]=Fiskinet
Comment[it]=Rete da pesca
Comment[ja]=魚網
Comment[ka]=მეთევზის ბადე
Comment[kk]=Fish Net
Comment[km]=សំណាញ់​ត្រី​
Comment[kn]=ಫಿಷ್ ನೆಟ್
Comment[ko]=물고기 그물
Comment[ku]=Fish Net
Comment[lt]=Žuvų tinklas
Comment[lv]=Zivju tīkls
Comment[mai]=फिश नेट
Comment[mk]=Рибарска мрежа
Comment[ml]=മീന്‍ വല
Comment[mr]=फिश नेट
Comment[ms]=Jala Ikan
Comment[nb]=Fish-nettverk
Comment[nds]=Fischnett
Comment[nl]=Visnet
Comment[nn]=Fiskegarn
Comment[or]=ଫିସ ନେଟ
Comment[pa]=ਫਿਸ਼ ਨੈੱਟ
Comment[pl]=Sieć na ryby
Comment[pt]=Rede de Pesca
Comment[pt_BR]=Rede de pesca
Comment[ro]=Rețea falsă
Comment[ru]=Рыбацкая сеть
Comment[si]=මාළු දැල
Comment[sk]=Rybárska sieť
Comment[sl]=Ribiška mreža
Comment[sr]=Рибарска мрежа
Comment[sr@ijekavian]=Рибарска мрежа
Comment[sr@ijekavianlatin]=Ribarska mreža
Comment[sr@latin]=Ribarska mreža
Comment[sv]=Fisknät
Comment[ta]=மீன் வலை
Comment[te]=Fish Net
Comment[tg]=Шабакаи Fish Net
Comment[th]=ลายแหจับปลา
Comment[tr]=Sahte Ağ
Comment[ug]=بېلىق تورى 
Comment[uk]=Тенета
Comment[uz]=Toʻr
Comment[uz@cyrillic]=Тўр
Comment[vi]=Lưới đánh cá
Comment[wa]=Filet d' pexhe
Comment[xh]=Fish Net
Comment[x-test]=xxFish Netxx
Comment[zh_CN]=鱼网
Comment[zh_TW]=魚網
File=fish.png
