[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[af]=Nag Klip deur Tigert
Comment[ar]=صخرة الليل إعداد Tigert
Comment[ast]=Roca nocherniega por Tigert
Comment[be]=Начная Гара ад Tigert
Comment[be@latin]=Načnaja skała (Tigert)
Comment[bg]=Нощна скала
Comment[bn]=Tigert-এর নাইট রক
Comment[br]=Karreg da noz gant Tigert
Comment[bs]=Noćna stijena Tuomasa Kuosmanena
Comment[ca]=Night Rock per Tigert
Comment[ca@valencia]=Night Rock per Tigert
Comment[cs]=Noční skála (od Tigerta)
Comment[csb]=Night Rock by Tigert
Comment[cy]=Carreg Nos gan Tigert
Comment[da]=Natteklippe af Tigert
Comment[de]=Night Rock von Tigert
Comment[el]=Βραδινός βράχος από Tigert
Comment[en_GB]=Night Rock by Tigert
Comment[eo]=Noktoroko de Tigert
Comment[es]=Roca nocturna por Tigert
Comment[et]=Night Rock (Tigert)
Comment[eu]=Rock gaua, Tigert-ek egina
Comment[fi]=Night Rock, tekijä Tigert
Comment[fr]=Night Rock, par Tigert
Comment[fy]=Night Rock troch Tigert
Comment[ga]=Night Rock le Tigert
Comment[gl]=Night Rock por Tigert
Comment[gu]=નાઇટ રોક ટાઇગ્રેટ દ્વારા
Comment[he]=סלע לילי של Tigert
Comment[hi]=टिगर्ट द्वारा नाइट रॉक 
Comment[hne]=टिगर्ट के नाइट राक
Comment[hr]=Night Rock (izr. Tigert)
Comment[hsb]=Nócna skała wot Tigerta
Comment[hu]=Éjszakai szikla (Tigert)
Comment[ia]=Night Rock per Tigert
Comment[id]=Batu Malam oleh Tigert
Comment[is]=Næturrokk eftir Tigert
Comment[it]=Roccia notturna di Tigert
Comment[ja]=Tigert によるナイトロック
Comment[ka]=კლდე ღამით (Tigert)
Comment[kk]=Тайгерттің Түнгі кұз
Comment[km]=ថ្ម​រាត្រី​ដោយ Tigert
Comment[kn]=ನೈಟ್ ರಾಕ್ ಬೈ ಟಿಗರ್ಟ್
Comment[ko]=Tigert의 밤 암석
Comment[ku]=Night Rock by Tigert
Comment[lt]=Night Rock by Tigert
Comment[lv]=Nakts roks, Trigert
Comment[mai]=टिगर्ट द्वारा नाइट राक
Comment[mk]=Ноќен рок од Tigert
Comment[ml]=ടിഗേര്‍ട്ടിന്റെ നൈറ്റ് റോക്ക്
Comment[nb]=Nattfjell av Tigert
Comment[nds]=Nachtrock vun Tigert
Comment[nl]=Night Rock, door Tigert
Comment[nn]=Nattfjell av Tigert
Comment[or]=ବାଘ ଦ୍ୱାରା ରାତ୍ରି ଭ୍ରମଣ
Comment[pl]=Night Rock przez Tigert
Comment[pt]=Night Rock de Tigert
Comment[pt_BR]=Rocha noturna por Tigert
Comment[ro]=Night Rock de Tigert
Comment[ru]=Ночная скала (Tigert)
Comment[si]=Tigert විසින් රාත්‍රී පර්‍වත
Comment[sk]=Nočná skala (Tigert)
Comment[sl]=Nočni kamen, avtor Tigert
Comment[sr]=Ноћна стена Туомаса Куосманена
Comment[sr@ijekavian]=Ноћна стена Туомаса Куосманена
Comment[sr@ijekavianlatin]=Noćna stena Tuomasa Kuosmanena
Comment[sr@latin]=Noćna stena Tuomasa Kuosmanena
Comment[sv]=Nattsten av Tigert
Comment[ta]=Night Rock by Tigert
Comment[te]=Night Rock by Tigert
Comment[tg]=Ночная скала (Tigert)
Comment[th]=ลาย Night Rock โดย Tigret
Comment[tr]=Tigert tarafından oluşturulan Night Rock
Comment[ug]=كېچىدىكى تاش
Comment[uk]=Нічний політ Тайгерта
Comment[uz]=Oqshom qoyasi (Tigert tomonidan)
Comment[uz@cyrillic]=Оқшом қояси (Тигерт томонидан)
Comment[vi]=Rock Buổi đêm bởi Tigert
Comment[wa]=Rotche al nêt pal Tigert
Comment[x-test]=xxNight Rock by Tigertxx
Comment[xh]=Night Rock by Tigert
Comment[zh_CN]=黑礁，作者：Tigert
Comment[zh_TW]=黑暗巨石（by Tigert）
File=night-rock.jpg
